#roadmap {
  position: relative;
  & section {
    &.hero {
      @media (max-width: 1024px) {
        padding-bottom: 0;
      }
      position: relative;
      & .bg-container {
        background-image: url('../../images/roadmap-bg.svg');
        background-size: 60%;
        background-position: 100% 50%;
        @media (min-width: 2500px) {
          background-size: 70%;
        }
        @media (max-width: 1024px) {
          background-size: 70%;
        }
        @media (max-width: 768px) {
          background-size: 100%;
          opacity: 0.5;
        }
        @media (max-width: 578px) {
          background-size: 200%;
          background-position: 50% 50%;
        }
      }
      & .plane {
        width: 30%;
        position: absolute;
        top: 40%;
        left: 10%;
        transform: translateY(-50%);
        @media (max-width: 1440px) {
          width: 40%;
        }
        & p {
          font-size: calc(var(--font-size-base) * 1.5);
          font-weight: var(--font-weight-light);
        }
        @media (max-width: 1024px) {
          width: 40%;
        }
        @media (max-width: 768px) {
          width: 80%;
        }
        @media (max-width: 578px) {
          width: calc(100% - 4rem);
        }
      }
      & .scroll-link {
        width: 100%;
        position: absolute;
        bottom: 5%;
        left: 0;
        text-align: center;
        @media (max-width: 768px) {
          bottom: 8%;
        }
        @media (max-width: 320px) {
          bottom: -5%;
        }
      }
    }
    &.roadmap-content {
      padding: calc(var(--spacer) * 5) 0;
      position: relative;
      & .roadmap-item {
        & .line {
          width: 100%;
          position: relative;
          text-align: center;
          & .icon {
            width: 180px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 21.5%;
            z-index: 2;
            background-image: url('../../images/done-icon-bg.png');
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: 85% 5%;
            @media (max-width: 578px) {
              width: 100px;
            }
            &.lantern {
              background-image: url('../../images/lantern-icon-bg.png');
              background-size: 50%;
              background-position: 85% 5%;
            }
            &.parrot {
              background-image: url('../../images/parrot-icon-bg.png');
              background-size: contain;
              background-position: 20% 5%;
              @media (max-width: 578px) {
                background-position: 20% 0;
              }
            }
            
          }
          & .border-line {
            width: 1px;
            height: 100%;
            position: absolute;
            border-right: solid 1px var(--primaryColor);
            right: 33%;
            top: 8%;
            z-index: 1;
            &.last {
              display: none;
            }
            @media (max-width: 1440px) {
               right: 37%;
            }
            @media (max-width: 1024px) {
               right: 43%;
            }
            @media (max-width: 768px) {
               right: 49%;
            }
            @media (max-width: 450px) {
              right: 51%;
              top: 9%;
            }
            @media (max-width: 320px) {
              right: 56%;
              top: 9%;
            }
            &.parrot {
              @media (max-width: 450px) {
                top: 6%;
              }
              @media (max-width: 320px) {
                top: 5%;
              }
            }
          }
        }
        & .text {
          padding-bottom: calc(var(--spacer) * 3);
          & h2 {
            padding: calc(var(--spacer)/5) 0  calc(var(--spacer) * 2) 0;
            text-transform: initial;
            &.first {
              padding: var(--spacer) 0  calc(var(--spacer) * 2) 0;
            }
          }
          & h4 {
            padding-top: calc(var(--spacer) / 5);
            padding-right: calc(var(--spacer) * 3);
            padding-bottom: var(--spacer);
            font-size: calc(var(--font-size-base) * 1.2);
            text-transform: initial;
            font-weight: var(--font-weight-medium);
            &.date {
              color: var(--primaryColor);
              text-transform: uppercase;
              font-weight: var(--font-weight-light);
              padding-bottom: 0;
            }
          }
          & p {
            padding-bottom: var(--spacer);
            padding-right: calc(var(--spacer) * 3);
            font-weight: var(--font-weight-light);
            @media (max-width: 578px) {
              padding: 0;
              margin-bottom: var(--spacer);
            }
          }
          & a {
            color: var(--body-color);
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}