.cart {
  h3 {
    color: $skull-gray;
  }
  &__line {
    &.last {
      border-bottom-color: $skull-gray;
    }
    .col-5 {
      margin-top: $global-margin / 2;
      @include media-breakpoint-down(sm) {
        text-align: right;
      }
    }
    &__product {
      a {
        transition: 0.3s;
        &:hover {
          color: $skull-gray;
        }
        p {
          display: inline-block;
          margin-top: $global-margin / 2;
          margin-bottom: 0;
          line-height: 1rem;
          small {
            color: $skull-gray;
          }
        }
        img {
          vertical-align: top;
          margin-right: $global-margin;
        }
      }
    }
    &__quantity {
      @include media-breakpoint-down(sm) {
        margin-bottom: $global-margin / 2;
      }
      form {
        display: inline-block;
        input {
          width: 62px;
          margin-right: 10px;
        }
      }
      &-error {
        display: block;
      }
      img {
        max-width: 18px;
      }
    }
    .cart-item-delete {
      cursor: pointer;
      display: inline-block;
      margin-left: $global-margin / 2;
      svg {
        vertical-align: text-top;
      }
    }
  }
  &__total {
    padding-top: $global-padding;
    margin-bottom: $global-margin;
    p {
      margin-bottom: 0;
    }
    &__subtotal {
      color: $skull-gray;
      @include media-breakpoint-up(sm) {
        padding-left: calc(60px + #{$global-padding} * 2);
      }
      &--shipping {
        color: $body-color;
      }
    }
  }
  &__delivery-info {
    p {
      margin-bottom: 0;
      color: $body-color;
      display: inline-block;
    }
    &__price {
      text-transform: uppercase;
    }
  }
  &__empty {
    text-align: center;
    img {
      margin: $global-margin * 2 0;
    }
    .btn {
      margin: $global-margin * 2 0 $global-margin * 5;
    }
  }
  &__submit {
    @media (max-width: 370px) {
      width: 100%;
    }
  }
}
