#category-page {
  h2 {
    font-weight: bold;
    padding-bottom: $global-padding / 2;
  }
  .breadcrumbs {
    margin-bottom: 0;
  }
  .category-list {
    margin-top: $global-margin;
    &--loading {
      opacity: 0.5;
      transition: 0.3s;
    }
  }
  .category-top {
    border-bottom: solid 1px $gray;
    padding-bottom: $global-padding;
    @include media-breakpoint-down(sm) {
      width: 100%;
      position: fixed;
      background: $white;
      z-index: 3;
      top: 5.7rem;
      left: 0;
      padding-top: $global-padding;
    }
  }
}
