.home {
  text-align: center;
  color: $white;
  h1 {
    font-weight: 300;
    text-transform: uppercase;
    @include media-breakpoint-down(sm) {
      font-size: 2.5rem;
    }
  }
  .btn {
    margin-top: $global-margin;
  }
  &--content-wrapper {
     display: table;
     width: 100%;
     height: 100%;
  }
  &--content-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    &--padded {
      text-shadow: 1px 1px 1px $body-color;
      padding-left: $global-padding;
      padding-right: $global-padding;
    }
  }
  &--content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &--square {
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 350px;
    &--container {
      padding: 0;
      margin-top: $global-margin * 2;
    }
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
  &__featured {
    color: $body-color;
    h2 {
      text-transform: uppercase;
      margin: $global-margin * 2 0;
    }
  }
}
