{% load i18n static %}
{% load prices_i18n %}
{% load discount_amount_for from prices %}
{% load static %}

<html>
<head>
  <title>Invoice, order ID: {{ group.order.id }}</title>
  <link rel="stylesheet" type="text/css" href="{% static '/assets/document.css' %}" />
</head>
<body>
  <header>
  <div style="float:left">
    <img src="{% static '/images/saleor_logo_black.svg' %}">
  </div>
  <div
      style="float:right">{{ group.order.created }}<br>{% trans 'Order ID:' context 'Invoice header' %} {{ group.order.id }}
  </div>
</header>

<h2>{% trans "Invoice" context "Order invoice" %}</h2>
<table width="100%" border="1" cellspacing="0">
  <thead>
  <tr>
    <th align="left" width="50%">{% trans "Shipping Details" %}</th>
    <th align="left" width="50%">{% trans "Billing Details" %}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td valign="top">
      {% with group.order.shipping_address as address %}
        <h2>
          {% trans "Shipping address" context "Invoice shipping address" %}
        </h2>
        {% include 'dashboard/includes/_address.html' with address=address only %}
      {% endwith %}
    </td>
    <td valign="top">
      {% with group.order.billing_address as address %}
        <h2>
          {% trans "Billing address" context "Invoice billing address" %}
        </h2>
        {% include 'dashboard/includes/_address.html' with address=address only %}
      {% endwith %}
    </td>
  </tr>
  </tbody>
</table>

<h2>{% trans "Items Ordered" context "Order invoice" %}</h2>
{% if group %}
  <table class="data-table order-table bordered">
    <thead>
    <tr>
      <th class="wide">
        {% trans "Item" context "Shipment group table header" %}
      </th>
      <th>
        {% trans "SKU" context "Shipment group table header" %}
      </th>
      <th class="right-align">
        {% trans "Price" context "Shipment group table header" %}
      </th>
      <th class="right-align">
        {% trans "Quantity" context "Shipment group table header" %}
      </th>
      <th class="right-align">
        {% trans "Total" context "Shipment group table header" %}
      </th>
    </tr>
    </thead>
    <tbody>
    {% for item in group.items.all %}
      <tr>
        <td>
          {{ item.product_name|truncatechars:40 }}<br>
        </td>
        <td>
          {{ item.product_sku }}
        </td>
        <td class="right-align">
          {% gross item.get_price_per_item html=True %}
        </td>
        <td class="right-align">
          {{ item.quantity }}
        </td>
        <td class="right-align">
          {% gross item.get_total html=True %}
        </td>
      </tr>
    {% endfor %}
    {% if group.shipping_price.gross or group.is_shipping_required %}
      <tr>
        <td colspan="4">
          {% blocktrans trimmed with group_shipping_method_name=group.shipping_method_name context "Shipment group table item column data" %}
            Shipping ({{ group_shipping_method_name }})
          {% endblocktrans %}
        </td>
        <td class="right-align">
          {% gross group.shipping_price html=True %}
        </td>
      </tr>
    {% endif %}
    </tbody>
  </table>
{% endif %}

<table class="bordered  responsive data-table">
  <tbody>
    <tr>
      <td class="wide">
        {% trans "Subtotal" context "Order subtotal" %}
      </td>
      <td class="right-align">
        {% gross group.order.get_subtotal_without_voucher html=True %}
      </td>
    </tr>
    <tr>
      <td>
        {% trans "Total Shipping Price" context "Order totals header" %}
      </td>
      <td class="right-align">
        {% gross group.order.get_total_shipping html=True %}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        {% trans "Grand total" context "Order totals header" %}
      </td>
      <td>
        {% gross group.get_total html=True %}
      </td>
    </tr>
  </tfoot>
</table>
</body>
</html>

