{% load i18n static %}
{% load prices_i18n %}
{% load discount_as_negative from voucher %}
{% load render_bundle from webpack_loader %}

<html>
<head>
  <title>{% trans "Invoice for Order" context "Invoice title" %} #{{ order.id }}</title>
  {% render_bundle 'document' 'css' %}
</head>
<body>
<header>
  <div style="float:left">
    <img src="{% static '/images/logo-document.svg' %}">
  </div>
  <div
      style="float:right">{{ order.created }}<br>{% trans 'Order' context 'Invoice header' %} #{{ order.id }}
  </div>
</header>

<h2>{% trans "Invoice" context "Order invoice" %}</h2>
<table width="100%" border="1" cellspacing="0">
  <thead>
  <tr>
    {% if order.shipping_address %}
      <th align="left" width="50%">
        {% trans "Shipping Details" context "Invoice table header" %}
      </th>
    {% endif %}
    {% if order.billing_address %}
      <th align="left" {% if order.shipping_address %} width="50%"{% endif %}>
        {% trans "Billing Details" context "Invoice table header" %}
      </th>
    {% endif %}
  </tr>
  </thead>
  <tbody>
  <tr>
    {% if order.shipping_address %}
      <td valign="top">
        {% with order.shipping_address as address %}
          <h2>
            {% trans "Shipping address" context "Invoice shipping address" %}
          </h2>
          {% include 'dashboard/includes/_address.html' with address=address only %}
        {% endwith %}
      </td>
    {% endif %}
    {% if order.billing_address %}
      <td valign="top">
        {% with order.billing_address as address %}
          <h2>
            {% trans "Billing address" context "Invoice billing address" %}
          </h2>
          {% include 'dashboard/includes/_address.html' with address=address only %}
        {% endwith %}
      </td>
    {% endif %}
  </tr>
  </tbody>
</table>

<h2>{% trans "Items Ordered" context "Invoice ordered items header" %}</h2>
{% if order %}
  <table class="data-table order-table bordered">
    <thead>
    <tr>
      <th>
        <div class="wide">
          {% trans "Item" context "Shipment order table header" %}
        </div>
      </th>
      <th>
        {% trans "SKU" context "Shipment order table header" %}
      </th>
      <th class="right-align">
        {% trans "Price" context "Shipment order table header" %}
      </th>
      <th class="right-align">
        {% trans "Quantity" context "Shipment order table header" %}
      </th>
      <th class="right-align">
        {% trans "Total" context "Shipment order table header" %}
      </th>
    </tr>
    </thead>
    <tbody>
      {% for line in order %}
        <tr>
          <td>
            {{ line.product_name|truncatechars:30 }}<br>
          </td>
          <td>
            {{ line.product_sku }}
          </td>
          <td class="right-align">
            {{ line.unit_price.gross|amount:'html' }}
          </td>
          <td class="right-align">
            {{ line.quantity }}
          </td>
          <td class="right-align">
            {{ line.get_total.gross|amount:'html' }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<table class="bordered highlight responsive data-table">
  <tbody>
    <tr>
      <td class="wide">
        {% trans "Subtotal" context "Order subtotal price" %}
      </td>
      <td class="right-align">
        {{ order.get_subtotal.gross|amount:'html' }}
      </td>
    </tr>
    <tr>
      <td>
        {% trans "Shipping" context "Order total shipping price header" %} {% if order.shipping_method_name %}({{ order.shipping_method_name }}){% endif %}
      </td>
      <td class="right-align">
        {{ order.shipping_price.gross|amount:'html' }}
      </td>
    </tr>
    {% if order.discount_amount %}
      <tr>
        <td>
          {% trans "Voucher" context "Order voucher header" %} {{ order.discount_name }}
        </td>
        <td class="right-align">
          {% discount_as_negative order.discount_amount html=True %}
        </td>
      </tr>
    {% endif %}
  </tbody>
  <tfoot>
    <tr>
      <td>
        {% trans "Grand total" context "Order total price header" %}
      </td>
      <td class="right-align">
        {{ order.total.gross|amount:'html' }}
      </td>
    </tr>
  </tfoot>
</table>
</body>
</html>
