/*** GLOBAL ***/

$roboto-font-path: "~materialize-css/fonts/roboto/";

$header-height: 56px;
$navbar-height: 56px;
$navbar-height-mobile: 64px;
$subheader-height: 48px;

$font-size-action-icon: 18px;

$transition-duration: .2s;

/*** COLORS ***/

$primary-color: #E57373;
$primary-color-light: #EF9A9A;
$secondary-color: #26A69A;
$sidenav-font-color: #616161;
$button-flat-color: #26A69A;
$card-link-color: #26A69A;
$placeholder-text-color: white;
$tabs-bg-color: #f5f5f5;

/*** PADDINGS ***/

$button-padding: 0 16px;
$card-padding: 16px;
$sidenav-padding: 16px;


