{% extends "base.html" %}

{% load gross from prices %}
{% load i18n %}

{% block title %}{{ block.super }} » {% trans "Order details" %}{% endblock %}

{% block outerbreadcrumb %}
    {% if order.user == user %}
    <ul class="breadcrumb" itemprop="breadcrumb">
        <li><a href="/">{% trans "Home" %}</a></li>
        <li><a href="{% url 'profile:orders' %}">{% trans "Your orders" %}</a></li>
        <li><a href="{% url 'order:details' token=order.token %}">{{ order }}</a></li>
    </ul>
    {% endif %}
{% endblock outerbreadcrumb %}

{% block content %}

{# This view is available by just knowing url,          #}
{# so we don't show all details (like delivery address) #}
{# unless current user is owner of the order.           #}

{% if order.user == user %}
    <h2>{% trans "Billing address" %}</h2>
    {% with address=order.billing_address %}
    <address>
        {{ address.first_name }} {{ address.last_name }}
        <br />
        {{ address.street_address_1 }}{% if address.street_address_2 %}{{ address.street_address_2 }}{% endif %}
        <br />
        {{ address.postal_code }} {{ address.city }}
        <br />
        {{ address.country_area }} {{ address.country }}
        <br />
        {{ address.phone }}
    </address>
    {% endwith %}
{% endif %}
<h2>{% trans "Order details" %}</h2>
<p>{% trans "Status" %}: <span class="label label-default">{{ order.get_status_display }}</span></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-sm-4">{% trans "Name" %}</th>
            <th class="col-sm-2">{% trans "Price" %}</th>
            <th class="col-sm-2">{% trans "Subotal" %}</th>
            <th class="col-sm-2">{% trans "Shipping" %}</th>
            <th class="col-sm-2">{% trans "Total" %}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="3" class="col-sm-8"></td>
            <th class="col-sm-2">{% trans "Total" %}</th>
            <td class="col-sm-2">{% gross order.get_total %}</td>
        </tr>
    </tfoot>
    <tbody>
{% for group in groups %}
    {% for item in group %}
        <tr>
            <td class="col-sm-4">{{ item.product }}{% if item.quantity != 1 %} <em>×{{ item.quantity }}</em>{% endif %}</td>
            <td class="col-sm-2">{% gross item.get_price_per_item %}</td>
            <td class="col-sm-2">{% gross item.get_total %}</td>
        {% if forloop.first %}
            <td rowspan="{{ group.items.count }}" class="col-sm-2">
                {% gross group.price %}
                {% if order.user == user %}
                    {% if group.email %}
                    {{ group.email }}
                    {% elif  group.address %}
                        <p>
                            <a class="address-details" href="#"
                               data-content="{% if group.address.company_name %}{{ group.address.company_name }}<br>{% endif %}
                                             {{ group.address.street_address_1 }}<br>
                                             {% if group.address.street_address_2 %}{{ group.address.street_address_2 }}<br>{% endif %}
                                             {{ group.address.postal_code }} {{ group.address.city }}<br>
                                             {% if group.address.country_area %}{{ group.address.country_area }}, {% endif %}{{ group.address.get_country_display }}<br>
                                             {{ group.address.phone }}"
                               data-html="true" title="{{ group.address.first_name }} {{ group.address.last_name }}">{{ group.address }}</a>
                        </p>
                    {% endif %}
                    <p>{% trans "Status" %}: <span class="label label-default">{{ group.get_status_display }}</span></p>
                {% endif %}
            </td>
            <td rowspan="{{ group.items.count }}" class="col-sm-2">
                {% gross group.get_total %}
            </td>
        {% endif %}
        </tr>
    {% endfor %}
{% endfor %}
    </tbody>
</table>
{% if order.user == user %}
<h2>{% trans "Payment history" %}</h2>
<ul>
{% for payment in payments %}
    <li>{{ payment.created|date }} — <span class="label label-default">{{ payment.get_status_display }}</span></li>
{% endfor %}
</ul>
{% if not order.is_fully_paid %}
    <a href="{% url 'order:payment:index' token=order.token %}" class="btn btn-primary">{% trans "Make a payment" %}</a>
{% endif %}
{% endif %}
{% endblock content %}


{% block footer_scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/order_details.js"></script>
{% endblock footer_scripts %}
