{% load i18n %}
{% load categories_list from category %}
{% load lorem from webdesign %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Saleor{% endblock %}</title>
        {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="{% trans "Mirumee Software" %}">
        {% endblock meta %}

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
        {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/style.less">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
        {% endif %}

        {% block stylesheet %}{% endblock stylesheet %}

        {% if debug %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/less.js"></script>
        {% endif %}
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        <header class="navbar navbar-default navbar-inverse navbar-static-top">
            <nav class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Saleor</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Categories" %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% categories_list %}
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="{% url "cart:index" %}"><i class="glyphicon glyphicon-shopping-cart"></i> {{ request.cart }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "cart:index" %}">{% trans "View cart contents" %}</a></li>
                                {% if request.cart %}
                                <li class="divider"></li>
                                {% for cart_line in request.cart %}
                                <li><a href="{{ cart_line.product.get_absolute_url }}">{{ cart_line.product }}{% if cart_line.quantity != 1 %} <em>×{{ cart_line.quantity }}</em>{% endif %}</a></li>
                                {% endfor %}
                                <li class="divider"></li>
                                <li><a href="{% url "checkout:index" %}">{% trans "Proceed to checkout" %}</a></li>
                                {% endif %}
                              </ul>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="."><i class="glyphicon glyphicon-user"></i> {{ user }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "profile:details" %}">{% trans "Your profile" %}</a></li>
                                <li><a href="{% url "profile:orders" %}">{% trans "Your orders" %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url "registration:logout" %}">{% trans "Log out" %}</a></li>
                              </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url "registration:login" %}">Log in</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        {% if messages %}
        <div class="container">
            {% for message in messages %}
            <div class="row alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
            {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="container">
            {% block outerbreadcrumb %}
            <ul class="breadcrumb" itemprop="breadcrumb">
                {% block breadcrumb %}
                <li>
                    <a href="/">{% trans "Home" %}</a>
                </li>
                {% endblock breadcrumb %}
            </ul>
            {% endblock outerbreadcrumb %}
            {% block outercontent %}
            <div class="row">
                <div class="col-sm-12">
                    {% block content %}
                    {% lorem 5 p %}
                    {% endblock content %}
                </div>
            </div>
            {% endblock outercontent %}

            <footer>
                <p class="pull-right">
                    &copy; Mirumee Labs 2013
                </p>
            </footer>
        </div>
        {% block third-party-js %}
        {% if GOOGLE_ANALYTICS_CODE %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','__ga');
        {% block google-analytics-script %}
          __ga('create', '{{ GOOGLE_ANALYTICS_CODE }}', '{{ CANONICAL_HOSTNAME }}');
          __ga('send', 'pageview');
        {% endblock google-analytics-script %}
        </script>
        {% endif %}
        {% endblock third-party-js %}
        {% block footer_scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script>
        {% endblock footer_scripts %}
    </body>
</html>
