{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% trans "Sale or" %}...!{% endblock %}</title>
        {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="{% trans "Mirumee Software" %}">
        {% endblock meta %}

        {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/style.less">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
        {% endif %}

        {% block stylesheet %}{% endblock stylesheet %}

        {% if debug %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/less.js"></script>
        {% endif %}
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> Menu </a>
                    <a class="brand" href="#">Saleor</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active">
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="{% url "product:index" %}">Products</a>
                            </li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="{% url "cart:index" %}">{{ request.cart }}</a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for cart_line in request.cart %}
                                    <li><a href="{{ cart_line.product.get_absolute_url }}">{{ cart_line.product }} ({{ cart_line.quantity }})</a></li>
                                    {% endfor %}
                                    <li><a href="{% url "order:index" %}">Order</a></li>
                                  </ul>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="dropdown pull-right"> {# TODO pull-right not working #}
                                <a data-toggle="dropdown" class="dropdown-toggle" href=".">{{ user }}</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url "profile:details" %}">Profile edit</a></li>
                                    <li><a href="{% url "registration:logout" %}">Log out</a></li>
                                  </ul>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url "registration:login" %}">Log in</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% if messages %}
        <div class="container">
            {% for message in messages %}
            <div class="row alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
            {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="container">
            {% block outercontent %}
            <div class="row">

                {% block messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endblock messages %}

                {% block content %}
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor ornare neque et consequat. Vestibulum euismod, ante mollis luctus tincidunt, ligula lorem tempor libero, sed molestie nisi lectus id dolor. Sed pharetra tempor hendrerit. Duis condimentum hendrerit libero eget rutrum. Duis facilisis placerat purus ut tincidunt. Fusce sit amet diam eu ante posuere semper. Curabitur vehicula, mauris non volutpat gravida, urna mauris rutrum erat, convallis commodo arcu quam ac nunc. Pellentesque mattis rutrum ornare. Etiam sed suscipit nunc. Maecenas malesuada metus dapibus nibh lobortis non rutrum tellus facilisis. Fusce a urna in lacus ultricies adipiscing non ut leo.
                </p>
                <p>
                    Sed a dolor diam, viverra vestibulum diam. Morbi scelerisque metus ut erat vehicula bibendum euismod lacus lacinia. Pellentesque risus nisi, dignissim nec rutrum id, vehicula ac libero. Vivamus pulvinar varius ante, ac sollicitudin sapien luctus vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat velit eu augue tincidunt id volutpat lectus ullamcorper. Cras interdum leo sed nisi tincidunt non mattis nulla facilisis.
                </p>
                <p>
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed mauris diam, fermentum vitae convallis eu, varius in magna. Aenean pretium aliquam sodales. Cras sapien augue, ornare sit amet consequat sit amet, viverra et mi. Integer id metus odio. Nunc in venenatis metus. Nullam porta aliquam diam, at imperdiet tellus pharetra a. Mauris dapibus tristique fringilla. Vestibulum ipsum arcu, rhoncus dictum adipiscing in, pretium a est.
                </p>
                <p>
                    Integer cursus est a purus tristique nec porta erat condimentum. In ornare neque non dolor mollis elementum. Nunc eu lectus non dolor commodo porta ac vel urna. Quisque vel nibh non risus congue lobortis non at eros. Duis non leo magna. Nunc malesuada, quam ut dapibus aliquet, nisi justo eleifend lectus, ac venenatis ante tellus quis mauris. Integer tincidunt enim nec mi accumsan vitae ultricies purus vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
                <p>
                    Duis pellentesque dolor arcu, id cursus nisl. Praesent et congue purus. Cras pulvinar posuere libero, at molestie orci lobortis in. Pellentesque et tellus et magna faucibus laoreet. Integer tempor velit ac enim congue sit amet semper lorem sodales. Curabitur sed sem magna, id aliquet nisi. Curabitur eu magna metus. Duis pellentesque, libero quis fringilla tincidunt, magna mauris egestas nunc, eu iaculis augue enim at orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas sit amet suscipit odio. Phasellus ut sem a urna adipiscing lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non dui a urna pharetra ullamcorper in eget turpis. Donec a dui sapien. In tristique condimentum arcu aliquet laoreet.
                </p>
                {% endblock content %}
            </div>
            {% endblock outercontent %}

            <footer>
                <p class="pull-right">
                    &copy; Mirumee Labs 2013
                </p>
            </footer>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    </body>
</html>
