{% load i18n %}

<div class="image_select">
  <div class="row">
    {% for choice_with_image in choices_with_images %}
      {% with choice=choice_with_image.0 image=choice_with_image.1 %}
        <div class="image_select-item">
          <input id="{{ choice.id_for_label }}" name="{{ choice.data.name }}" class="filled-in" type="checkbox" value="{{ choice.data.value }}" {% if choice.data.selected %}checked{% endif %}>
          <label for="{{ choice.id_for_label }}"></label>
          <img id="{{ choice.id_for_label }}" class="responsive-img" src="{{ image.image.crop.200x200 }}" srcset="{{ image.image.crop.200x200 }} 1x" alt="">
          <div id="{{ choice.id_for_label }}" class="image_select-item-overlay{% if choice.data.selected %} checked{% endif %}"></div>
        </div>
      {% endwith %}
    {% endfor %}
  </div>
  {% for error in field.errors %}
    <p class="help-block materialize-red-text">{{ error }}</p>
  {% endfor %}
  {% if field.help_text %}
    <p class="help-block">{{ field.help_text|safe }}</p>
  {% endif %}
</div>
