{% extends "dashboard/base.html" %}

{% load i18n %}
{% load prices_i18n %}
{% load staticfiles %}
{% load status %}

{% block title %}
  {{ variant }} - {{ block.super }}
{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_products_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:product-list" %}" class="breadcrumb">
        {% trans "Products" context "Product form breadcrumbs" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:product-list" %}">
        <svg data-src="{% static "dashboard/images/arrow_left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li class="hide-on-med-and-down">
      <a href="{% url "dashboard:product-detail" pk=product.pk %}" class="breadcrumbs--ellipsed-item">
        {{ product }}
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {{ variant }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block header_extra %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col m12 l9">
      <div class="card">
        <div class="card-content">
          <p class="card-title">{{ product }} {{ variant }} <br> {% trans "SKU" context "Dashboard variant details view" %} {{ variant.sku }}</p>
          <p></p>
          <div class="row">
            <div class="col s5 m6">
              <p class="text-padding">{% trans "Sale price" context "Dashboard variant details view" %}</p>
            </div>
            <div class="col s7 m6">
              <p class="text-padding right-align">{% gross variant.get_price %}</p>
            </div>
            <div class="col s5 m6">
              <p class="text-padding">{% trans "Cost price" context "Dashboard variant details view" %}</p>
            </div>
            <div class="col s7 m6">
              <p class="text-padding right-align">{% if variant.get_cost_price %}{% gross variant.get_cost_price %}{% else %}-{% endif %}</p>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a class="btn btn-flat" href="{% url 'dashboard:variant-update' product_pk=product.pk variant_pk=variant.pk %}">
            {% trans "Edit variant" context "Dashboard action" %}
          </a>
          <a href="#base-modal" class="btn btn-flat modal-trigger-custom" data-href="{% url 'dashboard:variant-delete' product_pk=product.pk variant_pk=variant.pk %}">
            {% trans "Delete variant" context "Dashboard action" %}
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="card-title">{% trans "Stock" context "Dashboard variant details view" %}</span>
        </div>
        <div class="data-table-header-action">
          <a class="btn btn-flat" href="{% url "dashboard:variant-stock-add" product_pk=product.pk variant_pk=variant.pk %}">
            {% trans "Add" context "Dashboard action" %}
          </a>
        </div>
        <div class="data-table-container">
          <table class="bordered highlight responsive data-table">
            <thead>
              <tr>
                <th class="wide">{% trans "Location" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Allocated" %}</th>
                <th class="right-align">{% trans "Cost" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for stock_item in stock %}
                <tr data-action-go="{% url "dashboard:variant-stock-details" product_pk=product.pk variant_pk=variant.pk stock_pk=stock_item.pk %}">
                  <td class="wide">{{ stock_item.location }}</td>
                  <td>{{ stock_item.quantity }}</td>
                  <td>{{ stock_item.quantity_allocated }}</td>
                  <td class="right-align">{% if stock_item.cost_price %}{% gross stock_item.cost_price %}{% else %}-{% endif %}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="4">{% trans "No stock records found" context "Dashboard variant details page" %}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col m12 l3">
      <div class="card">
        <div class="card-content">
          <h5>{% render_variant_availability_status variant %}</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="card-title">{% trans "Images" context "Dashboard variant details view" %}</span>
          <p>
            {% for image in images %}
              <img class="responsive-img" src="{{ image.image.crop.60x60 }}" srcset="{{ image.image.crop.60x60 }} 1x" alt="">
            {% empty %}
              {% trans "No images" %}
            {% endfor %}
          </p>
        </div>
        <div class="card-action">
          <a class="btn btn-flat modal-trigger-custom" href="#base-modal" data-href="{% url 'dashboard:variant-images' product_pk=product.pk variant_pk=variant.pk %}">
            {% trans "Select images" context "Dashboard action" %}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
