{% extends "dashboard/base.html" %}

{% load i18n %}
{% load price from taxed_prices %}
{% load static %}
{% load status %}

{% block title %}
  {{ variant }} - {{ block.super }}
{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_products_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:product-list" %}" class="breadcrumb">
        {% trans "Products" context "Product form breadcrumbs" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:product-list" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li class="hide-on-med-and-down">
      <a href="{% url "dashboard:product-details" pk=product.pk %}" class="breadcrumbs--ellipsed-item">
        {{ product }}
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {{ variant }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block header_extra %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col m12 l8">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            {{ product }}
            <br>
            {% trans "SKU" context "Dashboard variant details view" %} {{ variant.sku }}
          </div>
          <div class="row">
            <div class="col s12">
              <h5>{% render_variant_availability_status variant %}</h5>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a class="btn-flat waves-effect" href="{% url 'dashboard:variant-update' product_pk=product.pk variant_pk=variant.pk %}">
            {% trans "Edit variant" context "Dashboard action" %}
          </a>
          <a href="#base-modal" class="btn-flat waves-effect modal-trigger-custom" data-href="{% url 'dashboard:variant-delete' product_pk=product.pk variant_pk=variant.pk %}">
            {% trans "Remove variant" context "Dashboard action" %}
          </a>
        </div>
      </div>
    </div>
    <div class="col m12 l4">
      <div class="row no-margin">
        <div class="col s12">
          <div class="card">
            <div class="data-table-header">
              <div class="data-table-title">
                <h5>
                  {% trans "Pricing" context "Product pricing card header" %}
                </h5>
              </div>
            </div>
            <div class="data-table-container">
              <table class="data-table bordered highlight">
                <tbody>
                  <tr>
                    <td>
                      {% if site.settings.include_taxes_in_prices %}
                        {% trans "Gross sale price" context "Product field" %}
                      {% else %}
                        {% trans "Net sale price" context "Product field" %}
                      {% endif %}
                    </td>
                    <td class="right-align">
                      {% price variant.base_price %}
                    </td>
                  </tr>
                  {% if discounted_price != variant.base_price %}
                    <tr>
                      <td>
                        {% if site.settings.include_taxes_in_prices %}
                          {% trans "Gross discounted price" context "Product field" %}
                        {% else %}
                          {% trans "Net discounted price" context "Product field" %}
                        {% endif %}
                      </td>
                      <td class="right-align">
                        {% price discounted_price %}
                      </td>
                    </tr>
                  {% endif %}
                  <tr>
                    <td>
                      {% if site.settings.include_taxes_in_prices %}
                        {% trans "Gross purchase cost" context "Product field" %}
                      {% else %}
                        {% trans "Net purchase cost" context "Product field" %}
                      {% endif %}
                    </td>
                    <td class="right-align">
                      {% if variant.cost_price %}
                        {% price variant.cost_price %}
                      {% else %}
                        -
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans "Margin" context "Product field" %}
                    </td>
                    <td class="right-align">
                      {% if margin %}
                        {{ margin }}%
                      {% else %}
                        -
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card">
            <div class="data-table-header">
              <div class="data-table-title">
                <h5>
                  {% trans "Inventory" context "Product variant inventory card header" %}
                </h5>
              </div>
            </div>
            <div class="data-table-container">
              <table class="data-table bordered highlight">
                <tbody>
                  <tr>
                    <td>
                      {% trans "Number in stock" context "Dashboard variant details view" %}
                    </td>
                    <td class="right-align">
                      {{ variant.quantity }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans "Allocated" context "Dashboard variant details view" %}
                    </td>
                    <td class="right-align">
                      {{ variant.quantity_allocated }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <span class="card-title">{% trans "Variant Images" context "Dashboard variant details view" %}</span>
              <div class="row">
                {% for image in images %}
                  <div class="col s4">
                    <img class="responsive-img" src="{{ image.image.thumbnail.255x255 }}" srcset="{{ image.image.thumbnail.255x255 }} 1x, {{ image.image.thumbnail.510x510 }} 2x" alt="{{ image.alt }}">
                  </div>
                {% empty %}
                <div class="col s4">
                  {% trans "No images" %}
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="card-action">
              <a class="btn-flat waves-effect modal-trigger-custom" href="#base-modal" data-href="{% url 'dashboard:variant-images' product_pk=product.pk variant_pk=variant.pk %}">
                {% trans "Select images" context "Dashboard action" %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
