{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}
  {% if variant.pk %}
    {% trans "Edit" context "Variant form page title" %} - {{ variant }}
  {% else %}
    {% trans "Add variant" context "Variant form page title" %}
  {% endif %}
   - {{ block.super }}
{% endblock %}

{% block body_class %}body-store body-products{% endblock %}

{% block header_menu %}
  {% url "dashboard:variant-details" product_pk=product.pk variant_pk=variant.pk as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:product-list" %}" class="breadcrumb">
        {% trans "Products" context "Dashboard products list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:product-details" pk=product.pk %}">
        <svg data-src="{% static "dashboard/images/chevron-left.svg" %}" />
      </a>
    </li>
    <li>
      <a href="{% url "dashboard:product-details" pk=product.pk %}" class="breadcrumbs--ellipsed-item">
        {{ product }}
      </a>
    </li>
    {% if variant.pk %}
      <li>
        <a href="{% url "dashboard:variant-details" product_pk=product.pk variant_pk=variant.pk %}" class="breadcrumbs--ellipsed-item">
          {{ variant }}
        </a>
      </li>
      <li>
      <span class="breadcrumbs--ellipsed-item">
        {% trans "Edit" context "Variant form breadcrumbs" %}
      </span>
    </li>
    {% else %}
      <li>
        <span class="hide-on-med-and-down">
          {% trans "Add variant" context "Variant form breadcrumbs" %}
        </span>
        <span class="hide-on-large-only breadcrumbs--ellipsed-item">
          {% blocktrans trimmed context "Variant form breadcrumbs" %}
            Add variant for {{ product }}
          {% endblocktrans %}
        </span>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      <div class="card">
        <form method="post" id="form-variant" enctype="multipart/form-data">
          <div class="card-content">
            {% csrf_token %}
            <div class="row">
              <div class="col s12 m8">
                <p class="card-title">{% trans "Attributes" %}</p>
                {% for attribute_field in form.iter_attribute_fields %}
                  <div class="row attribute-select-or-create">
                    {{ attribute_field|materializecss:"input-field s12" }}
                  </div>
                {% empty %}
                  {% trans "No attributes found." %}
                {% endfor %}
              </div>
              <div class="col s12 m4">
                <div class="row">
                  {{ form.sku|materializecss }}
                </div>
                <div class="row">
                  {{ form.quantity|materializecss }}
                </div>
                <div class="row">
                  {{ form.price_override|materializecss }}
                </div>
                <div class="row">
                  {{ form.cost_price|materializecss }}
                </div>
                <div class="row">
                  {{ form.track_inventory|materializecss }}
                </div>
              </div>
            </div>
          </div>
          <div class="card-action right-align">
            {% if variant.pk %}
              <a href="{% url "dashboard:variant-details" product_pk=product.pk variant_pk=variant.pk %}" class="btn-flat waves-effect">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect">
                {% trans "Save" context "Dashboard update action" %}
              </button>
            {% else %}
              <a href="{% url "dashboard:product-details" pk=product.pk %}" class="btn-flat waves-effect">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
    <div class="col s12 m3 help-box"></div>
  </div>
{% endblock %}
