{% load i18n %}
{% load prices_i18n %}

{% if customers %}
    <table class="table">
        <thead>
            <th>{% trans "Email" %}</th>
            <th>{% trans "Location" %}</th>
            <th>{% trans "Number of orders" %}</th>
            <th>{% trans "Last order" %}</th>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                {% with customer.default_billing_address as default_address %}
                <td>
                    <a href="{% url "dashboard:customer-details" pk=customer.pk %}">{{ customer.email }}</a>
                </td>
                <td>
                    {{ default_address.address.city }}, {{ default_address.address.get_country_display }}
                </td>
                {% endwith %}
                <td>
                    {{ customer.num_orders }}
                </td>
                <td>
                    {% if customer.last_order %}
                        <a href="{% url 'dashboard:order-details' pk=customer.last_order %}">{{ customer.last_order }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <span>No customers found</span>
{% endif %}
