{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load bootstrap %}
{% load status %}

{% block title %}{{ customer }} - {% trans "Customers" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-customers{% endblock %}

{% block page_title %}<span class="mdi-action-account-circle"></span> {{ customer }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col l8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Order history</span>
            </div>
            <div class="panel-body">
                {% with customer.orders.all as orders %}
                    {% if orders %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{% trans "Number" %}</th>
                                    <th>{% trans "Placed on" %}</th>
                                    <th>{% trans "Payment" %}</th>
                                    <th>{% trans "Order status" %}</th>
                                    <th>{% trans "Total" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td><a href="{% url 'dashboard:order-details' pk=order.pk %}">{{ order }}</a></td>
                                        <td>{{ order.created }}</td>
                                        <td>{% render_status order.get_last_payment_status order.get_last_payment_status_display %}</td>
                                        <td>{% render_status order.status order.get_status_display %}</td>
                                        <td>{% gross order.get_total %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col l4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">{% trans "Default billing address" %}</span>
            </div>
            <div class="panel-body">
                <div>
                    {% if customer.default_billing_address %}
                        {% with customer.default_billing_address.address as address %}
                            {% include 'dashboard/includes/_address.html' with address=address only %}
                        {% endwith %}
                    {% else %}
                        <span>No default billing address</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">{% trans "Default shipping address" %}</span>
            </div>
            <div class="panel-body">
                <div>
                    {% if customer.default_shipping_address %}
                        {% with customer.default_shipping_address.address as address %}
                            {% include 'dashboard/includes/_address.html' with address=address only %}
                        {% endwith %}
                    {% else %}
                        <span>No default shipping address</span>
                    {% endif %}
                </div>
                <div>
                    <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:{{ customer.email }}">{{ customer.email }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
