{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}

{% block title %}{% trans "Customers" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-customers{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>{% trans "Customers" %}</li>
    </ul>
{% endblock %}

{% block menu_sales_class %} active{% endblock %}

{% block content %}
    <form method="get">
        <div class="row">
            {{ form.email|materializecss:"s12 m3 l3" }}
            {{ form.name|materializecss:"s12 m3 l3" }}
            {{ form.order_status|materializecss:"s7 m3 l2" }}

            <div class="col s5 m3 l3">
                <button type="submit" class="btn btn--inline">{% trans "Filter" %}</button>
                {% if form.is_bound %}
                    <a class="btn btn--inline" href="{% url 'dashboard:customers' %}">{% trans "Clear" %}</a>
                {% endif %}
            </div>
        </div>
    </form>

    <h5 class="data-table-title">{{ title }}</h5><br/>

    <div class="card">
        <table class="bordered hoverable responsive data-table">
            {% if customers %}
                <thead>
                    <tr>
                        <th>{% trans "Email" %}</th>
                        <th class="wide">{% trans "Name" %}</th>
                        <th>{% trans "Location" %}</th>
                        <th class="right-align">{% trans "Number of orders" %}</th>
                        <th>{% trans "Last order" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                        {% with customer.default_billing_address as default_address %}
                        <td>
                            <a href="{% url "dashboard:customer-details" pk=customer.pk %}">{{ customer.email }}</a>
                        </td>
                        <td>
                            {{ default_address.first_name }} {{ default_address.last_name }}
                        </td>
                        <td>
                            {{ default_address.city }}, {{ default_address.get_country_display }}
                        </td>
                        {% endwith %}
                        <td class="right-align">
                            {{ customer.num_orders }}
                        </td>
                        <td>
                            {% if customer.last_order %}
                                <a href="{% url 'dashboard:order-details' order_pk=customer.last_order %}">#{{ customer.last_order }}</a>
                            {% else %}
                                {% trans "N/A" %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>
                            <span>{% trans "No customers found." %}</span>
                        </td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
    </div>
    {% include "dashboard/includes/_pagination.html" with page_obj=customers %}
{% endblock %}
