{% extends "dashboard/base.html" %}

{% load i18n %}
{% load prices_i18n %}
{% load bootstrap %}


{% block title %}{% trans "Customers" %}{% endblock %}

{% block content %}
    <h1 class="page-header">{% trans "Customers" %}</h1>

    <div class="row">
        <div class="col-lg-12">

            <div class="well">
                <form method="post" class="form-inline">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-default" name='search'><i class="glyphicon glyphicon-search"></i> Search</button>
                    <a href="{% url 'dashboard:customers' %}">Clear</a>
                </form>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Search results</span>
                </div>
                <div class="panel-body">
                    {% if render_search %}
                        {% include 'dashboard/customer/_customers_table.html' with customers=customers %}
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Customers with open orders</span>
                </div>
                <div class="panel-body">
                    {% include 'dashboard/customer/_customers_table.html' with customers=have_open_orders %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

