{% load i18n %}

<div class="label label-{{ label_cls }}">
  {% if is_visible %}
    {% trans "Published" context "Collection availability status" %}
  {% elif collection.publication_date is not None %}
    <div class="label">
      {% blocktrans with date=collection.publication_date context "Collection availability status" %}
        Hidden (will become visible on {{ date }})
      {% endblocktrans %}
    </div>
  {% else %}
    {% trans "Hidden" context "Collection availability status" %}
  {% endif %}
</div>
