{% load i18n %}
{% load materializecss %}


<div class="card">
  <form method="get">
    <div class="card-content row">
      <span class="card-title">{% trans 'Filters' context 'Dashboard card title' %}</span>
      {% for field in filter.form %}
        <div class="col s4">
          {% if field.name == 'sort_by' %}
            <!--Field 'sort_by' is hidden because it is rendered in header.
            This is required if you want to have sorting to be kept during further filtering.-->
            <input type="hidden" name="sort_by"
                   value="{% if request.GET.sort_by %}{{ request.GET.sort_by }}{% endif %}">
          {% elif field.name != 'price' %}
            {{ field|materializecss }}
          {% endif %}
        </div>
      {% endfor %}
      {% for field in filter.form %}
        {% if field.name == 'price' %}
          <div class="col s4">
            {{ field|materializecss }}
          </div>
        {% endif %}
      {% endfor %}
      <div class="row">
        <a href="?">
          <span class="clear-filters float-right">{% trans 'Clear filters' context 'Category page filters' %}</span>
        </a>
        <button class="btn primary" type="submit">{% trans 'Filter' context 'Category price filter' %}</button>
      </div>
    </div>
  </form>
</div>
