{% load i18n %}
{% load materializecss %}
{% load static %}


<div class="card">
  <form method="get">
    <div class="card-content">
      <div class="col s12">
        <span class="card-title">{% trans 'Filters' context 'Dashboard card title' %}</span>
        {{ filter.get_summary_message }}
        <span class="collapse-activate hide-on-large-only"><svg data-src="{% static 'images/filter-icon.svg' %}" /></span>
      </div>
      <div class="col s12 hide-on-large-only chips-container">
        {% for chip in chips %}
          <div class="chip">{{ chip.content|safe }} <a href="{{ chip.link }}">×</a></div>
        {% endfor %}
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="collapse">
      <div class="card-content card-action wide">
        <div class="row no-margin">
          {% for field in filter.form %}
            <div class="col s12">
              {% if field.name == 'sort_by' %}
                <!--Field 'sort_by' is hidden because it is rendered in header.
                This is required if you want to have sorting to be kept during further filtering.-->
                <input type="hidden" name="sort_by" value="{% if sort_by %}{{ sort_by }}{% endif %}">
              {% else %}
                {{ field|materializecss }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="card-action">
        <div class="right-align">
          <div class="col s12">
            {% if filter.is_bound_unsorted %}
              <a href="." class="clear-filters btn-flat waves-effect">
                {% trans 'Clear' context 'Category page filters' %}
              </a>
            {% endif %}
            <button class="btn-flat waves-effect" type="submit">
              {% trans 'Filter' context 'Category price filter' %}
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </form>
</div>
