{% load build_absolute_uri from urls %}
{% load materializecss %}
{% load i18n %}
<div class='google-preview'>
  <span class="card-title">{% trans "Search engine listing preview" context "Title of the box showing preview from the search engine perspective" %}</span>
  <div class='google-preview__container'>
    <br>
    <div id="google-preview">
      <div class='google-preview__title'>
        <a id="google-preview-title" href='#'>{{ object.seo_title|default:"" }}</a>
      </div>
      <div class='google-preview__url'>
        {% if object.pk %}
          {% build_absolute_uri request=request location=object.get_absolute_url %}
        {% else %}
          {% build_absolute_uri request=request location="/" %}
        {% endif %}
      </div>
      <div id="google-preview-description" class='google-preview__description'>{{ object.seo_description|default:"" }}</div>
    </div>
  </div>
</div>
<div class="row">
  {{ form.seo_title|materializecss }}
</div>
<div class="row">
  {{ form.seo_description|materializecss }}
</div>
