{% load build_absolute_uri from urls %}
{% load materializecss %}

<div class='google-preview'>
  <div class='container'>
    <div class='title'>
      <a id="google-preview-title" href='#'>Example title</a>
    </div>
    {% if object.pk %}
      <div class='url'>{% build_absolute_uri request=request location=object.get_absolute_url %}</div>
    {% else %}
      <div class='url'>{% build_absolute_uri request=request location="/" %}</div>
    {% endif %}
    <div id="google-preview-description" class='description'>{{ object.seo_description|default:_("Here is an example of what a snippet looks like in Google's Search Engine Results Page. ") }}</div>
  </div>
</div>
{{ form.seo_title|materializecss }}
{{ form.seo_description|materializecss }}
