{% load i18n %}
{% load utils %}

<div class="card">
  <div class="card-content">
    <span class="card-title">
       {% trans "Menu items" context "Title of the menu items list" %}
    </span>
  </div>
  <div class="data-table-header-action">
    <a href="{% if root_item %}{% url "dashboard:menu-item-add" menu_pk=menu.pk root_pk=root_item.pk %}{% else %}{% url "dashboard:menu-item-add" menu_pk=menu.pk %}{% endif %}" class="btn-data-table btn-flat waves-effect">
      {% trans "Add" %}
    </a>
  </div>
  <div class="data-table-container">
    <table class="bordered highlight responsive data-table data-table-description">
      <thead>
        <tr>
          {% trans "Name" context "Menu items list table header name" as label %}
          {% sorting_header 'name' label is_wide=True %}

          {% trans "Sorting order" context "Menu items list table header sorting order" as label %}
          {% sorting_header 'sort_order' label %}

          {% trans "URL" context "Menu items list table header URL" as label %}
          {% sorting_header 'url' label %}

          {% if perms.menu.edit_menu %}
            <th></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for item in menu_items %}
          <tr data-action-go="{% url 'dashboard:menu-item-detail' menu_pk=menu.pk item_pk=item.pk %}">
            <td>
              {{ item.name }}
            </td>
            <td>
              {{ item.sort_order }}
            </td>
            <td>
              {{ item.url }}
            </td>
            {% if perms.menu.edit_menu %}
              <td class="right-align ignore-link">
                <a href="{% url 'dashboard:menu-item-edit' menu_pk=menu.pk item_pk=item.pk %}" class="btn-flat waves-effect">
                  {% trans 'Edit' context 'Menu item edit action' %}
                </a>
                <a href="#base-modal" class="btn-flat waves-effect modal-trigger-custom" data-href="{% url 'dashboard:menu-item-delete' menu_pk=menu.pk item_pk=item.pk %}">
                  {% trans "Remove" context "Menu item list action link" %}
                </a>
              </td>
            {% endif %}
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">{% trans "No menu items" context "Empty list of menu items" %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% paginate menu_items %}
