{% load i18n %}
{% load prices_i18n %}
{% load get_sort_by_url_toggle from shop %}
{% load status %}

<div class="data-table-container">
  <table class="bordered highlight responsive data-table">
    <thead>
      <tr>
        <th>
          <a href="{% get_sort_by_url_toggle 'pk' %}">
            #
          </a>
        </th>
        <th>
          <a href="{% get_sort_by_url_toggle 'status' %}">
            {% trans "Order status" context "Orders table header" %}
          </a>
        </th>
        <th>
          <a href="{% get_sort_by_url_toggle 'payment_status' %}">
            {% trans "Payment status" context "Orders table header" %}
          </a>
        </th>
        <th>
          <a href="{% get_sort_by_url_toggle 'email' %}">
            {% trans "Customer" context "Orders table header" %}
          </a>
        </th>
        <th>
          <a href="{% get_sort_by_url_toggle 'created' %}">
            {% trans "Placed on" context "Orders table header" %}
          </a>
        </th>
        <th class="right-align">
          <a href="{% get_sort_by_url_toggle 'total' %}">
            {% trans "Total" context "Orders table header" %}
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr data-action-go="{% url 'dashboard:order-details' order_pk=order.pk %}">
          <td>
            #{{ order.id }}
          </td>
          <td>
            {% render_status order.status order.get_status_display %}
          </td>
          <td>
            {% render_status order.get_last_payment_status order.get_last_payment_status_display %}
          </td>
          {% trans "Guest" context "Anonymous user account value" as guest %}
          <td>
            {{ order.user|default:guest }}
          </td>
          <td>
            {{ order.created }}
          </td>
          <td class="right-align">
            {% gross order.get_total html=True %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
