{% load i18n %}
{% load utils %}
{% load staticfiles %}
{% load bootstrap3 %}


{% if page_obj.paginator.num_pages > 1 %}
  <ul class="pagination">
    <li {% if not page_obj.has_previous %} class="disabled"{% endif %}>
      {% if page_obj.has_previous %}
        <a href="?page=1">
          <svg data-src="{% static "dashboard/images/chevron_left.svg" %}" fill="#000" />
        </a>
        {% if page_obj.number|add:'-4' > 1 %}
          <a href="{% construct_get_query page=page_obj.number|add:'-4' %}">
            &hellip;
          </a>
        {% endif %}
      {% else %}
        <a href="#!">
          <svg data-src="{% static "dashboard/images/chevron_left.svg" %}" fill="#9E9E9E" />
        </a>
      {% endif %}
    </li>
      {% for page in page_obj.paginator.page_range %}
        {% if page_obj == page %}
          <li class="active">
            <a href="{% construct_get_query page=page %}">
              {{ page }}
            </a>
          </li>
        {% elif page > page_obj.number|add:'-2' and page < page_obj.number|add:'2' %}
          <li class="waves-effect">
            <a href="{% construct_get_query page=page %}">
              {{ page }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    <li{% if not page_obj.has_next %} class="disabled"{% endif %}>
      {% if page_obj.has_next %}
        {% if page_obj.number|add:'4' < page_obj.paginator.num_pages %}
          <a href="{% construct_get_query page=page_obj.number|add:'4' %}">
            &hellip;
          </a>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}">
          <svg data-src="{% static "dashboard/images/chevron_right.svg" %}" fill="#000" />
        </a>
      {% else %}
        <a href="#!">
          <svg data-src="{% static "dashboard/images/chevron_right.svg" %}" fill="#9E9E9E" />
        </a>
      {% endif %}
    </li>
  </ul>
{% endif %}
