{% extends "base.html" %}
{% load gross from prices_i18n %}
{% load i18n %}
{% load static from staticfiles %}
{% load render_bundle from webpack_loader %}

{% block title %}{% trans "Your cart" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumbs list-unstyled">
  <li><a href="/">{% trans "Home" %}</a></li>
  <li><a href="{% url 'cart:index' %}">{% trans "Cart" %}</a></li>
</ul>
{% endblock breadcrumb %}

{% block content %}
<div class="cart">
  {% if cart_lines %}
    <div class="cart__table-header hidden-sm-down">
      <div class="row">
        <div class="col-md-6">
          <small>{% trans "Product" %}</small>
        </div>
        <div class="col-md-2">
          <small>{% trans "Quantity" %}</small>
        </div>
        <div class="col-md-2">
          <small>{% trans "Price" %}</small>
        </div>
        <div class="col-md-2">
          <small>{% trans "Delete" %}</small>
        </div>
      </div>
    </div>
    {% for line in cart_lines %}
      <div class="cart__line">
        <div class="row">
          <div class="col-md-6 col-xs-8 cart__line__product">
            <a href="{{ line.variant.get_absolute_url }}">
              {% if line.variant.product.images.first %}
                  <img class="cart-item-image" itemprop="image" src="{{ line.variant.product.images.first.image.crop.60x60 }}" alt="">
              {% else %}
                  <img class="cart-item-image" src="{% static 'images/product-image-placeholder-small.png' %}" alt="">
              {% endif %}
              <h3>{{ line.variant.product }} 
                <br><small>{{ line.variant.display_variant }}</small></h3>
            </a>
          </div>
          <div class="cart-item-amount">
            <form role="form" action="{% url "cart:update-line" variant_id=line.variant.pk %}" method="post" class="form-cart">
                <div class="input-group cart-item-quantity js-hidden{% if form.quantity.errors %} has-error{% endif %}">
                    {{ line.form.quantity }}
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">{% trans "Update" %}</button>
                    </span>
                </div>
                {% if line.form.quantity.errors %}
                    {% for error in form.quantity.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
            </form>
          </div>
          <div class="cart-item-subtotal" data-product-id="{{ line.variant.pk }}">
            <h3>{% gross line.get_total html=True %}</h3>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="cart__total">
      <div class="row">
        <div class="col-xs-6">
          <h3>{% trans "Subtotal" %}</h3>
          <p>({% trans "Delivery claculated on checkout" %})</p>
        </div>
        <div class="col-md-2 offset-md-2 col-xs-6">
          <h3 class="cart-total" data-value="{% gross cart_total %}"{% if local_cart_total %} data-value-local="{% gross local_cart_total %}"{% endif %}>
              {% spaceless %}
                  {% gross cart_total html=True %}
                  {% if local_cart_total %}
                      <br>
                      <small class="text-info">
                          &asymp;
                          {% gross local_cart_total html=True %}
                      </small>
                  {% endif %}
              {% endspaceless %}
          </h3>
        </div>
      </div>
    </div>
    <div class="cart__checkout row">
      <div class="col-md-12">
          <a href="{% url "checkout:login" %}" class="btn primary float-md-right">{% trans "Checkout" %}</a>
      </div>
    </div>
    <div class="cart__delivery-info">
      <div class="deliveryform" data-csrf="{{ csrf_token }}">
        <h3>{% trans "Delivery options to" %} {{ country_form }}</h3>
      </div>
      <div class="col-md-5 ">
        <div class="cart__delivery-info__list row">
          <div class="col-xs-6 cart__delivery-info__method">
            {% for option in default_country_options %} 
              <p>{{ option.shipping_method__name }}</p>
            {% endfor %}
          </div>
          <div class="col-xs-6 cart__delivery-info__price">
            {% for option in default_country_options %} 
              <p>{% gross option.price %}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% else %}
      <div class="cart__empty">
        <img src="{% static 'img/pirate_cart.png' %}" srcset="{% static 'img/pirate_cart.png' %} 1x, {% static 'img/pirate_cart2x.png' %} 2x">
        <h2>{% trans "There are no products in your shopping cart." %}</h2>
        <a href="/" class="btn primary">{% trans "Check out Our sales" %}</a>
      </div>
    {% endif %}
  </div>
{% endblock content %}
