{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_form from bootstrap3 %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="row">
        {% if token_fail %}
            <div class="col-sm-12">
                <h1>{% trans "Bad Token" %}</h1>
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            </div>
       {% else %}
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form method="post" novalidate>
                            {% csrf_token %}
                            <fieldset>
                                <legend>{% trans 'Change Password' %}</legend>
                                {% bootstrap_form form %}
                            </fieldset>
                            <div class="form-group text-right">
                                <button class="btn btn-primary">
                                    {% trans "Continue" %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
       {% endif %}
    </div>
{% endblock %}
