{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap_form from bootstrap4 %}

{% block title %}{% trans "Password reset" context "Password reset page title" %} — {{ block.super }}{% endblock %}

{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}

{% block content %}
  <div class="row login__forgot-password">
    <div class="col-md-8 m-auto text-center">
      <form method="post" novalidate>
        {% csrf_token %}
        <h2>{% trans "Forgot your password?" context "Password reset form title" %}</h2>
        <p>
          {% blocktrans trimmed context "Password reset form help text" %}
            Please let us know the email you have used to register or purchase at our store.
          {% endblocktrans %}
        </p>
        <fieldset>
          {% bootstrap_form form %}
          <input type="hidden" name="next" value="{{ next }}"/>
        </fieldset>
        <div class="row login__btn-group">
          <div class="col-12">
            <button class="btn primary narrow">
              {% trans "Continue" context "Password reset primary action" %}
            </button>
            <img class="lazyload lazypreload" data-src="{% static "images/reset-bg.png" %}" />
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
