{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <fieldset>
                        <legend>{% trans 'Password Reset' %}</legend>
                        {% bootstrap_form form %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    </fieldset>
                    <div class="form-group text-right">
                        <button class="btn btn-primary">
                            {% trans "Continue" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
