{% extends "account/password_reset_base.html" %}

{% load i18n %}
{% block title %}{% trans "Password Changed" context "Password reset from key done page title" %}{% endblock %}

{% block form %}
  <h2>{% trans "Password Changed" context "Password reset from key done title" %}</h2>
  {% url "account:login" as login_url %}
  <p>{% trans 'Your password is now changed.' %}
    {% blocktrans trimmed with login_url=login_url context "Password reset from key done text" %}
      You can now <a href="{{ login_url }}">sign in</a> using your new password{% endblocktrans %}</p>
{% endblock %}
