{% extends "account/password_reset_base.html" %}

{% load i18n %}
{% load account %}
{% load staticfiles %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block form %}
  <div class="forgott-password">
    <h2>{% trans "Password Reset" %}</h2>
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    <div class="row login__btn-group">
    	<img src="{% static "images/pirate-reset.png" %}" />
    </div>
  </div>
{% endblock %}
