{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap4 %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li><a href="{% url 'home' %}">{% trans "Home" context "Main navigation item" %}</a></li>
    <li><a href="{% url 'account:details' %}">{% trans "Your account" context "Main navigation item" %}</a></li>
    <li><a href="{% url 'home' %}">{% trans "Edit" context "Password change breadcrumb" %}</a></li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
  <div class="row account-edit">
    <div class="col-sm-4 m-auto">
      <div class="panel panel-default">
        <div class="panel-body">
          <form method="post" novalidate>
            {% csrf_token %}
            <fieldset>
              <legend class="text-xs-center account-edit__tittle">
                {% trans "Change Password" context "Password change form legend" %}
              </legend>
              {% bootstrap_form form %}
              <input type="hidden" name="next" value="{{ next }}" />
            </fieldset>
            <button class="btn primary">
              {% trans "Save new password" context "Password change form primary action" %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
