{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap4 %}

{% block content %}
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <form method="post" novalidate action="{% url "account_set_password" %}">
            {% csrf_token %}
            <fieldset>
              <legend class="text-center">
                {% trans "Password Reset" context "Password set form legend" %}
              </legend>
              {% bootstrap_form form %}
              <input type="hidden" name="next" value="{{ next }}" />
            </fieldset>
            <div class="form-group text-right">
              <button class="btn primary">
                {% trans "Continue" context "Password set form primary action" %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
