{% extends "account/password_reset_base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Password Reset" context "Password reset done page title" %}{% endblock %}

{% block form %}
  <div class="login__forgot-password">
    <h2>{% trans "Password Reset" context "Password reset done title" %}</h2>
    {% if user.is_authenticated %}
      {% include "account/partials/already_logged_in.html" %}
    {% endif %}
    <p>{% blocktrans trimmed context "Password reset done text" %}
        We have sent you an e-mail.
        Please contact us if you do not receive it within a few minutes.
    {% endblocktrans %}</p>
    <div class="row login__btn-group">
      <img class="lazyload lazypreload" data-src="{% static "images/reset-bg.png" %}" />
    </div>
  </div>
{% endblock %}
