{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap_form from bootstrap3 %}

{% block content %}
  <div class="row forgott-password">
    <div class="col-md-8 push-md-2">
        <div class="text-center">
        </div>
        <form method="post" novalidate>
          {% csrf_token %}
          <h2>{% trans 'Forgott password?' %}</h2>
          <p>{% trans "Please let us know the email you have used to register or purchase at our store."%}</p>
          <fieldset>
            {% bootstrap_form form %}
            <input type="hidden" name="next" value="{{ next }}"/>
          </fieldset>
          <div class="row login__btn-group">
            <div class="col-sm-12">
              <button class="btn primary">
                {% trans "Continue" %}
              </button>
              <img src="{% static "images/pirate-reset.png" %}" />
            </div>
          </div>
        </form>
    </div>
  </div>

{% endblock %}
