interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesInvoice",
      "lines": [{"quantity": 3, "amount": "36.900", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "SKU_A", "discounted": false, "description": "Test product"},
      {"quantity": 1, "amount": "10.000", "taxCode": "FR000000", "taxIncluded": true,
      "itemCode": "Shipping", "discounted": false, "description": null}], "code":
      "eb5c1423-ffdc-4cb1-961b-53342392d7c9", "date": "2022-06-10", "customerCode":
      0, "discount": null, "addresses": {"shipFrom": {"line1": "Teczowa 7", "line2":
      null, "city": "Wroclaw", "region": "", "country": "PL", "postalCode": "53-601"},
      "shipTo": {"line1": "T\u0119czowa 7", "line2": "", "city": "WROC\u0141AW", "region":
      "", "country": "PL", "postalCode": "53-601"}}, "commit": false, "currencyCode":
      "USD", "email": "test@example.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"id":85035836272003,"code":"eb5c1423-ffdc-4cb1-961b-53342392d7c9","companyId":242975,"date":"2022-06-10","status":"Saved","type":"SalesInvoice","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"0","customerCode":"0","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0,"taxOverrideReason":"","totalAmount":38.13,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":8.77,"totalTaxable":38.13,"totalTaxCalculated":8.77,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"","country":"PL","version":1,"softwareVersion":"22.5.2.0","originAddressId":85035836272005,"destinationAddressId":85035836272004,"exchangeRateEffectiveDate":"2022-06-10","exchangeRate":1.0,"description":"","email":"test@example.com","businessIdentificationNo":"","modifiedDate":"2022-06-10T10:43:49.4997862Z","modifiedUserId":283192,"taxDate":"2022-06-10","lines":[{"id":85035836272009,"transactionId":85035836272003,"lineNumber":"1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product","destinationAddressId":85035836272004,"originAddressId":85035836272005,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_A","lineAmount":30.0000,"quantity":3.0,"ref1":"","ref2":"","reportingDate":"2022-06-10","revAccount":"","sourcing":"Destination","tax":6.9,"taxableAmount":30.0,"taxCalculated":6.9,"taxCode":"O9999999","taxCodeId":5340,"taxDate":"2022-06-10","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0,"taxOverrideReason":"","taxIncluded":true,"details":[{"id":85035836272014,"transactionLineId":85035836272009,"transactionId":85035836272003,"addressId":85035836272004,"country":"PL","region":"PL","countyFIPS":"","stateFIPS":"","exemptAmount":0.0000,"exemptReasonId":4,"inState":true,"jurisCode":"PL","jurisName":"POLAND","jurisdictionId":200102,"signatureCode":"","stateAssignedNo":"","jurisType":"CNT","jurisdictionType":"Country","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.230000,"rateRuleId":410972,"rateSourceId":0,"serCode":"","sourcing":"Destination","tax":6.9000,"taxableAmount":30.0000,"taxType":"Output","taxSubTypeId":"O","taxTypeGroupId":"InputAndOutput","taxName":"Standard
        Rate","taxAuthorityTypeId":45,"taxRegionId":205102,"taxCalculated":6.9000,"taxOverride":0.0000,"rateType":"Standard","rateTypeCode":"S","taxableUnits":30.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":30.0,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":6.9,"reportingTaxCalculated":6.9,"liabilityType":"Seller"}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":85035836272012,"documentLineId":85035836272009,"documentAddressId":85035836272005,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":85035836272013,"documentLineId":85035836272009,"documentAddressId":85035836272004,"locationTypeCode":"ShipTo"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"PLS-230CPL","vatNumberTypeId":0},{"id":85035836272010,"transactionId":85035836272003,"lineNumber":"2","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":85035836272004,"originAddressId":85035836272005,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"Shipping","lineAmount":8.1300,"quantity":1.0,"ref1":"","ref2":"","reportingDate":"2022-06-10","revAccount":"","sourcing":"Destination","t[...]
