interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesInvoice",
      "lines": [{"quantity": 3, "amount": "36.900", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "SKU_A", "discounted": false, "description": "Test product"}],
      "code": "4ead16b0-ec52-45e5-b93f-b5755a78e522", "date": "2024-02-12", "customerCode":
      0, "discount": null, "addresses": {"singleLocation": {"line1": "4371 Lucas Knoll
      Apt. 791", "line2": "", "city": "BENNETTMOUTH", "region": "", "country": "PL",
      "postalCode": "53-601"}}, "commit": false, "currencyCode": "USD", "email": "test@example.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"id":85049238905524,"code":"4ead16b0-ec52-45e5-b93f-b5755a78e522","companyId":7799660,"date":"2024-02-12","status":"Saved","type":"SalesInvoice","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"0","customerCode":"0","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0,"taxOverrideReason":"","totalAmount":30.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":6.9,"totalTaxable":30.0,"totalTaxCalculated":6.9,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"","country":"PL","version":1,"softwareVersion":"24.1.0.0","originAddressId":85049238905525,"destinationAddressId":85049238905525,"exchangeRateEffectiveDate":"2024-02-12","exchangeRate":1.0,"description":"","email":"test@example.com","businessIdentificationNo":"","modifiedDate":"2024-02-12T11:19:16.0969251Z","modifiedUserId":6479978,"taxDate":"2024-02-12","lines":[{"id":85049238905534,"transactionId":85049238905524,"lineNumber":"1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product","destinationAddressId":85049238905525,"originAddressId":85049238905525,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_A","lineAmount":30.0000,"quantity":3.0,"ref1":"","ref2":"","reportingDate":"2024-02-12","revAccount":"","sourcing":"Destination","tax":6.9,"taxableAmount":30.0,"taxCalculated":6.9,"taxCode":"O9999999","taxCodeId":9111,"taxDate":"2024-02-12","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0,"taxOverrideReason":"","taxIncluded":true,"details":[{"id":85049238905564,"transactionLineId":85049238905534,"transactionId":85049238905524,"addressId":85049238905525,"country":"PL","region":"PL","countyFIPS":"","stateFIPS":"","exemptAmount":0.0000,"exemptReasonId":4,"inState":true,"jurisCode":"PL","jurisName":"POLAND","jurisdictionId":200102,"signatureCode":"","stateAssignedNo":"","jurisType":"CNT","jurisdictionType":"Country","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.230000,"rateRuleId":411502,"rateSourceId":0,"serCode":"","sourcing":"Destination","tax":6.9000,"taxableAmount":30.0000,"taxType":"Output","taxSubTypeId":"O","taxTypeGroupId":"InputAndOutput","taxName":"Standard
        Rate","taxAuthorityTypeId":45,"taxRegionId":205102,"taxCalculated":6.9000,"taxOverride":0.0000,"rateType":"Standard","rateTypeCode":"S","taxableUnits":30.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":30.0,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":6.9,"reportingTaxCalculated":6.9,"liabilityType":"Seller","chargedTo":"Buyer"}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":85049238905536,"documentLineId":85049238905534,"documentAddressId":85049238905525,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":85049238905537,"documentLineId":85049238905534,"documentAddressId":85049238905525,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":85049238905538,"documentLineId":85049238905534,"documentAddressId":85049238905525,"locationTypeCode":"PointOfOrderAcceptance"},{"documentLineLocationTypeId":85049238905539,"documentLineId":85049238905534,"documentAddressId":85049238905525,"locationTypeCode":"PointOfOrderOrigin"},{"documentLineLocationTypeId":85049238905540,"documentLineId":85049238905534,"documentAddressId":85049238905525,"locationTypeCode":"GoodsPlaceOrServiceRendered"},{"documentLineLocationTypeId":85049238905541,"documentLineId":85049238905534,"documentAddressId":85049238905525,"locationTypeCode":"Import"},{"documentLineLocationTypeId":85049238905542,"documentLineId":85049238905534,"documentAddressId":85049238905525,"locationTypeCode":"BillTo"}],"parameters":[{"name":"Transport","value":"None"},{"name":"IsMarketplace","value":"False"},{"name":"IsTriangulation","value":"false"},{"name":"IsGoodsSecondHand","value":"false"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"PLS-230C","vatNumberTypeId":0}],"addresses":[{"id":85049238905525,"transactionId":85049238905524,"boundaryLevel":"Zip5","line1":"4371
        Lucas Knoll Apt. 791","line2":"","line3":"","city":"BENNETTMOUTH","region":"","postalCode":"53-601","country":"PL","taxRegionId":205102}],"locationTypes":[{"documentLocationTypeId":85049238905527,"documentId":85049238905524,"documentAddressId":85049238905525,"locationTypeCode":"ShipFrom"},{"documentLocationTypeId":85049238905528,"documentId":85049238905524,"documentAddressId":85049238905525,"locationTypeCode":"ShipTo"},{"documentLocationTypeId":85049238905529,"documentId":85049238905524,"documentAddressId":85049238905525,"locationTypeCode":"PointOfOrderAcceptance"},{"documentLocationTypeId":85049238905530,"documentId":85049238905524,"documentAddressId":85049238905525,"locationTypeCode":"PointOfOrderOrigin"},{"documentLocationTypeId":85049238905531,"documentId":85049238905524,"documentAddressId":85049238905525,"locationTypeCode":"GoodsPlaceOrServiceRendered"},{"documentLocationTypeId":85049238905532,"documentId":85049238905524,"documentAddressId":85049238905525,"locationTypeCode":"Import"},{"documentLocationTypeId":85049238905533,"documentId":85049238905524,"documentAddressId":85049238905525,"locationTypeCode":"BillTo"}],"summary":[{"country":"PL","region":"PL","jurisType":"Country","jurisCode":"PL","jurisName":"POLAND","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Output","taxSubType":"O","taxName":"Standard
        Rate","rateType":"Standard","taxable":30.00,"rate":0.230000,"tax":6.90,"taxCalculated":6.90,"nonTaxable":0.00,"exemption":0.00}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/companies/7799660/transactions/85049238905524
      ServerDuration:
      - '00:00:00.0413290'
      api-supported-versions:
      - '2.0'
      x-avalara-uid:
      - 81b3d306-4732-47ae-9f1c-0bcc49a0f671
      x-correlation-id:
      - 81b3d306-4732-47ae-9f1c-0bcc49a0f671
    status:
      code: 201
      message: Created
version: 1
