interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic Og==
    method: GET
    uri: https://sandbox-rest.avatax.com/api/v2/definitions/taxcodes
  response:
    body:
      string: "{\"@recordsetCount\":5211,\"value\":[{\"id\":0,\"companyId\":1,\"taxCode\":\"U0000000\",\"taxCodeTypeId\":\"U\",\"description\":\"Unknown
        tax code\",\"isPhysical\":false,\"goodsServiceCode\":0,\"entityUseCode\":\"\",\"isActive\":false,\"isSSTCertified\":true,\"createdDate\":\"2006-06-16T19:40:14.52Z\",\"createdUserId\":0,\"modifiedDate\":\"2014-04-29T18:01:20.35Z\",\"modifiedUserId\":0},{\"id\":640763,\"companyId\":1,\"taxCode\":\"PS160811\",\"taxCodeTypeId\":\"P\",\"description\":\"Vapor
        E-cigarettes / Includes nicotine refill cartridge / Open system\",\"parentTaxCode\":\"P0000000\",\"isPhysical\":true,\"goodsServiceCode\":0,\"isActive\":true,\"isSSTCertified\":true,\"createdDate\":\"2021-03-10T02:26:18.62Z\",\"createdUserId\":0,\"modifiedDate\":\"2022-06-24T05:47:23.43Z\",\"modifiedUserId\":0},{\"id\":640764,\"companyId\":1,\"taxCode\":\"PS160812\",\"taxCodeTypeId\":\"P\",\"description\":\"Vapor
        E-cigarettes / Nicotine refill cartridge only / Less than or equal to 5mL\",\"parentTaxCode\":\"P0000000\",\"isPhysical\":true,\"goodsServiceCode\":0,\"isActiv[...]
