interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic Og==
    method: GET
    uri: https://rest.avatax.com/api/v2/definitions/taxcodes
  response:
    body:
      string: "{\"@recordsetCount\":5197,\"value\":[{\"id\":0,\"companyId\":1,\"taxCode\":\"U0000000\",\"taxCodeTypeId\":\"U\",\"description\":\"Unknown
        tax code\",\"isPhysical\":false,\"goodsServiceCode\":0,\"entityUseCode\":\"\",\"isActive\":false,\"isSSTCertified\":true,\"createdDate\":\"2006-06-22T05:36:59.65Z\",\"createdUserId\":0,\"modifiedDate\":\"2014-04-29T21:12:22.487Z\",\"modifiedUserId\":0},{\"id\":623701,\"companyId\":1,\"taxCode\":\"PC020595\",\"taxCodeTypeId\":\"P\",\"description\":\"Clothing
        And Related Products / Hydration packs\",\"parentTaxCode\":\"P0000000\",\"isPhysical\":true,\"goodsServiceCode\":0,\"isActive\":true,\"isSSTCertified\":true,\"createdDate\":\"2021-06-29T06:18:56.22Z\",\"createdUserId\":0,\"modifiedDate\":\"2021-06-29T06:18:56.22Z\",\"modifiedUserId\":0},{\"id\":626745,\"companyId\":1,\"taxCode\":\"PF030600\",\"taxCodeTypeId\":\"P\",\"description\":\"Firearms\",\"parentTaxCode\":\"PF030000\",\"isPhysical\":true,\"goodsServiceCode\":0,\"isActive\":true,\"isSSTCertified\":true,\"createdDate\":\"2021-08-27T06:35:14.027Z\",\[...]
