interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesInvoice",
      "lines": [{"quantity": 3, "amount": "36.900", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "SKU_A", "discounted": false, "description": "Test product"}],
      "code": "e45b003f-d4ce-454b-85f3-3b1d3dd95f3d", "date": "2023-02-16", "customerCode":
      0, "discount": null, "addresses": {"singleLocation": {"line1": "4371 Lucas Knoll
      Apt. 791", "line2": "", "city": "BENNETTMOUTH", "region": "", "country": "PL",
      "postalCode": "53-601"}}, "commit": false, "currencyCode": "USD", "email": "test@example.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"id":85019426899880,"code":"e45b003f-d4ce-454b-85f3-3b1d3dd95f3d","companyId":7799660,"date":"2023-02-16","status":"Saved","type":"SalesInvoice","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"0","customerCode":"0","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0,"taxOverrideReason":"","totalAmount":30.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":6.9,"totalTaxable":30.0,"totalTaxCalculated":6.9,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"","country":"PL","version":1,"softwareVersion":"23.1.1.0","originAddressId":85019426899881,"destinationAddressId":85019426899881,"exchangeRateEffectiveDate":"2023-02-16","exchangeRate":1.0,"description":"","email":"test@example.com","businessIdentificationNo":"","modifiedDate":"2023-02-16T12:53:52.4193712Z","modifiedUserId":6479978,"taxDate":"2023-02-16","lines":[{"id":85019426899890,"transactionId":85019426899880,"lineNumber":"1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product","destinationAddressId":85019426899881,"originAddressId":85019426899881,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_A","lineAmount":30.0000,"quantity":3.0,"ref1":"","ref2":"","reportingDate":"2023-02-16","revAccount":"","sourcing":"Destination","tax":6.9,"taxableAmount":30.0,"taxCalculated":6.9,"taxCode":"O9999999","taxCodeId":9111,"taxDate":"2023-02-16","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0,"taxOverrideReason":"","taxIncluded":true,"details":[{"id":85019426899918,"transactionLineId":85019426899890,"transactionId":85019426899880,"addressId":85019426899881,"country":"PL","region":"PL","countyFIPS":"","stateFIPS":"","exemptAmount":0.0000,"exemptReasonId":4,"inState":true,"jurisCode":"PL","jurisName":"POLAND","jurisdictionId":200102,"signatureCode":"","stateAssignedNo":"","jurisType":"CNT","jurisdictionType":"Country","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.230000,"rateRuleId":411502,"rateSourceId":0,"serCode":"","sourcing":"Destination","tax":6.9000,"taxableAmount":30.0000,"taxType":"Output","taxSubTypeId":"O","taxTypeGroupId":"InputAndOutput","taxName":"Standard
        Rate","taxAuthorityTypeId":45,"taxRegionId":205102,"taxCalculated":6.9000,"taxOverride":0.0000,"rateType":"Standard","rateTypeCode":"S","taxableUnits":30.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":30.0,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":6.9,"reportingTaxCalculated":6.9,"liabilityType":"Seller"}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":85019426899892,"documentLineId":85019426899890,"documentAddressId":85019426899881,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":85019426899893,"documentLineId":85019426899890,"documentAddressId":85019426899881,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":85019426899894,"documentLineId":85019426899890,"documentAddressId":85019426899881,"locationTypeCode":"PointOfOrderAcceptance"},{"documentLineLocationTypeId":85019426899895,"documentLineId":85019426899890,"documentAddressId":85019426899881,"locationTypeCode":"PointOfOrderOrigin"},{"documentLineLocationTypeId":85019426899896,"documentLineId":85019426899890,"documentAddressId":85019426899881,"locationTypeCode":"GoodsPlaceOrServiceRendered"},{"documentLineLocationTypeId":85019426899897,"documentLineId":85019426899890,"documentAddressId":85019426899881,"locationTypeCode":"Import"},{"documentLineLocationTypeId":85019426899898,"documentLineId":85019426899890,"documentAddressId":85019426899881,"locationTypeCode":"BillTo"}],"parameters":[{"name":"Transport","value":"None"},{"name":"IsMarketplace","value":"False"},{"name":"IsTriangulation","value":"false"},{"name":"IsGoodsSecondHand","value":"false"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"PLS-230C","vatNumberTypeId":0}],"addresses":[{"id":85019426899881,"transactionId":85019426899880,"boundaryLevel":"Zip5","line1":"4371
        Lucas Knoll Apt. 791","line2":"","line3":"","city":"BENNETTMOUTH","region":"","postalCode":"53-601","country":"PL","taxRegionId":205102}],"locationTypes":[{"documentLocationTypeId":85019426899883,"documentId":85019426899880,"documentAddressId":85019426899881,"locationTypeCode":"ShipFrom"},{"documentLocationTypeId":85019426899884,"documentId":85019426899880,"documentAddressId":85019426899881,"locationTypeCode":"ShipTo"},{"documentLocationTypeId":85019426899885,"documentId":85019426899880,"documentAddressId":85019426899881,"locationTypeCode":"PointOfOrderAcceptance"},{"documentLocationTypeId":85019426899886,"documentId":85019426899880,"documentAddressId":85019426899881,"locationTypeCode":"PointOfOrderOrigin"},{"documentLocationTypeId":85019426899887,"documentId":85019426899880,"documentAddressId":85019426899881,"locationTypeCode":"GoodsPlaceOrServiceRendered"},{"documentLocationTypeId":85019426899888,"documentId":85019426899880,"documentAddressId":85019426899881,"locationTypeCode":"Import"},{"documentLocationTypeId":85019426899889,"documentId":85019426899880,"documentAddressId":85019426899881,"locationTypeCode":"BillTo"}],"summary":[{"country":"PL","region":"PL","jurisType":"Country","jurisCode":"PL","jurisName":"POLAND","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Output","taxSubType":"O","taxName":"Standard
        Rate","rateType":"Standard","taxable":30.00,"rate":0.230000,"tax":6.90,"taxCalculated":6.90,"nonTaxable":0.00,"exemption":0.00}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/companies/7799660/transactions/85019426899880
      ServerDuration:
      - '00:00:00.0338527'
      api-supported-versions:
      - '2.0'
      x-avalara-uid:
      - 36aa7f6c-f0a1-4d48-b3fd-5f54b514431b
      x-correlation-id:
      - 36aa7f6c-f0a1-4d48-b3fd-5f54b514431b
    status:
      code: 201
      message: Created
version: 1
