interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesInvoice",
      "lines": [{"quantity": 3, "amount": "30.000", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "SKU_A", "discounted": true, "description": "Test product"},
      {"quantity": 1, "amount": "10.000", "taxCode": "FR000000", "taxIncluded": true,
      "itemCode": "Shipping", "discounted": false, "description": null}], "code":
      "01718b91-6149-448f-a4d4-91a676db76bf", "date": "2024-09-04", "customerCode":
      0, "discount": "10.000", "addresses": {"shipFrom": {"line1": "Teczowa 7", "line2":
      "", "city": "Wroclaw", "region": "", "country": "PL", "postalCode": "53-601"},
      "shipTo": {"line1": "O\u0142awska 10", "line2": "", "city": "WROC\u0141AW",
      "region": "", "country": "PL", "postalCode": "53-105"}}, "commit": false, "currencyCode":
      "USD", "email": "test@example.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"id":85065274106626,"code":"01718b91-6149-448f-a4d4-91a676db76bf","companyId":7799660,"date":"2024-09-04","status":"Saved","type":"SalesInvoice","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"0","customerCode":"0","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0,"taxOverrideReason":"","totalAmount":34.39,"totalExempt":0.0,"totalDiscount":10.0,"totalTax":5.61,"totalTaxable":24.39,"totalTaxCalculated":5.61,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"","country":"PL","version":1,"softwareVersion":"24.8.0.0","originAddressId":85065274106628,"destinationAddressId":85065274106627,"exchangeRateEffectiveDate":"2024-09-04","exchangeRate":1.0,"email":"test@example.com","businessIdentificationNo":"","modifiedDate":"2024-09-04T07:01:17.915093Z","modifiedUserId":6479978,"taxDate":"2024-09-04","lines":[{"id":85065274106632,"transactionId":85065274106626,"lineNumber":"1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product","destinationAddressId":85065274106627,"originAddressId":85065274106628,"discountAmount":10.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_A","lineAmount":26.2600,"quantity":3.0,"ref1":"","ref2":"","reportingDate":"2024-09-04","revAccount":"","sourcing":"Destination","tax":3.74,"taxableAmount":16.26,"taxCalculated":3.74,"taxCode":"O9999999","taxCodeId":9111,"taxDate":"2024-09-04","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0,"taxOverrideReason":"","taxIncluded":true,"details":[{"id":85065274106655,"transactionLineId":85065274106632,"transactionId":85065274106626,"addressId":85065274106627,"country":"PL","region":"PL","countyFIPS":"","stateFIPS":"PL","exemptAmount":0.0000,"exemptReasonId":4,"exemptRuleId":0,"inState":true,"jurisCode":"PL","jurisName":"POLAND","jurisdictionId":200102,"signatureCode":"","stateAssignedNo":"","jurisType":"CNT","jurisdictionType":"Country","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.230000,"rateRuleId":411502,"rateSourceId":0,"serCode":"","sourcing":"Destination","tax":3.7400,"taxableAmount":16.2600,"taxType":"Output","taxSubTypeId":"O","taxTypeGroupId":"InputAndOutput","taxName":"Standard
        Rate","taxAuthorityTypeId":45,"taxRegionId":205102,"taxCalculated":3.7400,"taxOverride":0.0000,"rateType":"Standard","rateTypeCode":"S","taxableUnits":16.2600,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":16.26,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":3.74,"reportingTaxCalculated":3.74,"liabilityType":"Seller","chargedTo":"Buyer"}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":85065274106635,"documentLineId":85065274106632,"documentAddressId":85065274106628,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":85065274106636,"documentLineId":85065274106632,"documentAddressId":85065274106627,"locationTypeCode":"ShipTo"}],"parameters":[{"name":"Transport","value":"None"},{"name":"IsMarketplace","value":"False"},{"name":"IsTriangulation","value":"false"},{"name":"IsGoodsSecondHand","value":"false"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"PLS-230C","vatNumberTypeId":0},{"id":85065274106633,"transactionId":85065274106626,"lineNumber":"2","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":85065274106627,"originAddressId":85065274106628,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"Shipping","lineAmount":8.1300,"quantity":1.0,"ref1":"","ref2":"","reportingDate":"2024-09-04","revAccount":"","sourcing":"Destination","t[...]
