interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesInvoice",
      "lines": [{"quantity": 3, "amount": "36.900", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "SKU_A", "discounted": false, "description": "Test product"}],
      "code": "e487b074-259f-4131-ab9b-b1ad5b7a07a1", "date": "2024-09-04", "customerCode":
      0, "discount": null, "addresses": {"singleLocation": {"line1": "4371 Lucas Knoll
      Apt. 791", "line2": "", "city": "BENNETTMOUTH", "region": "", "country": "PL",
      "postalCode": "53-601"}}, "commit": false, "currencyCode": "USD", "email": "test@example.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"id":85065282001363,"code":"e487b074-259f-4131-ab9b-b1ad5b7a07a1","companyId":7799660,"date":"2024-09-04","status":"Saved","type":"SalesInvoice","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"0","customerCode":"0","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0,"taxOverrideReason":"","totalAmount":30.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":6.9,"totalTaxable":30.0,"totalTaxCalculated":6.9,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"","country":"PL","version":1,"softwareVersion":"24.8.0.0","originAddressId":85065282001364,"destinationAddressId":85065282001364,"exchangeRateEffectiveDate":"2024-09-04","exchangeRate":1.0,"email":"test@example.com","businessIdentificationNo":"","modifiedDate":"2024-09-04T09:14:18.5169273Z","modifiedUserId":6479978,"taxDate":"2024-09-04","lines":[{"id":85065282001373,"transactionId":85065282001363,"lineNumber":"1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product","destinationAddressId":85065282001364,"originAddressId":85065282001364,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_A","lineAmount":30.0000,"quantity":3.0,"ref1":"","ref2":"","reportingDate":"2024-09-04","revAccount":"","sourcing":"Destination","tax":6.9,"taxableAmount":30.0,"taxCalculated":6.9,"taxCode":"O9999999","taxCodeId":9111,"taxDate":"2024-09-04","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0,"taxOverrideReason":"","taxIncluded":true,"details":[{"id":85065282001404,"transactionLineId":85065282001373,"transactionId":85065282001363,"addressId":85065282001364,"country":"PL","region":"PL","countyFIPS":"","stateFIPS":"PL","exemptAmount":0.0000,"exemptReasonId":4,"exemptRuleId":0,"inState":true,"jurisCode":"PL","jurisName":"POLAND","jurisdictionId":200102,"signatureCode":"","stateAssignedNo":"","jurisType":"CNT","jurisdictionType":"Country","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.230000,"rateRuleId":411502,"rateSourceId":0,"serCode":"","sourcing":"Destination","tax":6.9000,"taxableAmount":30.0000,"taxType":"Output","taxSubTypeId":"O","taxTypeGroupId":"InputAndOutput","taxName":"Standard
        Rate","taxAuthorityTypeId":45,"taxRegionId":205102,"taxCalculated":6.9000,"taxOverride":0.0000,"rateType":"Standard","rateTypeCode":"S","taxableUnits":30.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":30.0,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":6.9,"reportingTaxCalculated":6.9,"liabilityType":"Seller","chargedTo":"Buyer"}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":85065282001375,"documentLineId":85065282001373,"documentAddressId":85065282001364,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":85065282001376,"documentLineId":85065282001373,"documentAddressId":85065282001364,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":85065282001377,"documentLineId":85065282001373,"documentAddressId":85065282001364,"locationTypeCode":"PointOfOrderAcceptance"},{"documentLineLocationTypeId":85065282001378,"documentLineId":85065282001373,"documentAddressId":85065282001364,"locationTypeCode":"PointOfOrderOrigin"},{"documentLineLocationTypeId":85065282001379,"documentLineId":85065282001373,"documentAddressId":85065282001364,"locationTypeCode":"GoodsPlaceOrServiceRendered"},{"documentLineLocationTypeId":85065282001380,"documentLineId":85065282001373,"documentAddressId":85065282001364,"locationTypeCode":"Import"},{"documentLineLocationTypeId":85065282001381,"documentLineId":85065282001373,"documentAddressId":85065282001364,"locationTypeCode":"BillTo"}],"parameters":[{"name":"Transport","value":"None"},{"name":"IsMarketplace","value":"False"},{"name":"IsTriangulation","value":"false"},{"name":"IsGoodsSecondHand","value":"false"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"PLS-230C","vatNumberTypeId":0}],"addresses":[{"id":85065282001364,"transactionId":85065282001363,"boundaryLevel":"Zip5","line1":"4371
        Lucas Knoll Apt. 791","line2":"","line3":"","city":"BENNETTMOUTH","region":"","postalCode":"53-601","country":"PL","taxRegionId":205102}],"locationTypes":[{"documentLocationTypeId":85065282001366,"documentId":85065282001363,"documentAddressId":85065282001364,"locationTypeCode":"ShipFrom"},{"documentLocationTypeId":85065282001367,"documentId":85065282001363,"documentAddressId":85065282001364,"locationTypeCode":"ShipTo"},{"documentLocationTypeId":85065282001368,"documentId":85065282001363,"documentAddressId":85065282001364,"locationTypeCode":"PointOfOrderAcceptance"},{"documentLocationTypeId":85065282001369,"documentId":85065282001363,"documentAddressId":85065282001364,"locationTypeCode":"PointOfOrderOrigin"},{"documentLocationTypeId":85065282001370,"documentId":85065282001363,"documentAddressId":85065282001364,"locationTypeCode":"GoodsPlaceOrServiceRendered"},{"documentLocationTypeId":85065282001371,"documentId":85065282001363,"documentAddressId":85065282001364,"locationTypeCode":"Import"},{"documentLocationTypeId":85065282001372,"documentId":85065282001363,"documentAddressId":85065282001364,"locationTypeCode":"BillTo"}],"summary":[{"country":"PL","region":"PL","jurisType":"Country","jurisCode":"PL","jurisName":"POLAND","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Output","taxSubType":"O","taxName":"Standard
        Rate","rateType":"Standard","taxable":30.00,"rate":0.230000,"tax":6.90,"taxCalculated":6.90,"nonTaxable":0.00,"exemption":0.00}],"apStatusCode":null,"apStatus":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/companies/7799660/transactions/85065282001363
      ServerDuration:
      - '00:00:00.0363987'
      api-supported-versions:
      - '2.0'
      x-avalara-uid:
      - a95cdc7f-60a0-492f-ae85-bae03bface41
      x-correlation-id:
      - 5351feac-3afd-4a38-ad39-9b9296bed75d
    status:
      code: 201
      message: Created
version: 1
