interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesInvoice",
      "lines": [{"quantity": 3, "amount": "30.000", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "SKU_A", "discounted": false, "description": "Test product"},
      {"quantity": 1, "amount": "0.000", "taxCode": "FR000000", "taxIncluded": true,
      "itemCode": "Shipping", "discounted": false, "description": null}], "code":
      "b062ea86-4f08-4bab-a4b5-797bbf16b862", "date": "2022-09-08", "customerCode":
      0, "discount": null, "addresses": {"shipFrom": {"line1": "Teczowa 7", "line2":
      null, "city": "Wroclaw", "region": "", "country": "PL", "postalCode": "53-601"},
      "shipTo": {"line1": "O\u0142awska 10", "line2": "", "city": "WROC\u0141AW",
      "region": "", "country": "PL", "postalCode": "53-105"}}, "commit": false, "currencyCode":
      "USD", "email": "test@example.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"id":85009070496658,"code":"b062ea86-4f08-4bab-a4b5-797bbf16b862","companyId":7799660,"date":"2022-09-08","status":"Saved","type":"SalesInvoice","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"0","customerCode":"0","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0,"taxOverrideReason":"","totalAmount":24.39,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":5.61,"totalTaxable":24.39,"totalTaxCalculated":5.61,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"","country":"PL","version":1,"softwareVersion":"22.8.2.0","originAddressId":85009070496660,"destinationAddressId":85009070496659,"exchangeRateEffectiveDate":"2022-09-08","exchangeRate":1.0,"description":"","email":"test@example.com","businessIdentificationNo":"","modifiedDate":"2022-09-08T10:53:18.5341098Z","modifiedUserId":6479978,"taxDate":"2022-09-08","lines":[{"id":85009070496664,"transactionId":85009070496658,"lineNumber":"1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product","destinationAddressId":85009070496659,"originAddressId":85009070496660,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_A","lineAmount":24.3900,"quantity":3.0,"ref1":"","ref2":"","reportingDate":"2022-09-08","revAccount":"","sourcing":"Destination","tax":5.61,"taxableAmount":24.39,"taxCalculated":5.61,"taxCode":"O9999999","taxCodeId":9111,"taxDate":"2022-09-08","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0,"taxOverrideReason":"","taxIncluded":true,"details":[{"id":85009070496685,"transactionLineId":85009070496664,"transactionId":85009070496658,"addressId":85009070496659,"country":"PL","region":"PL","countyFIPS":"","stateFIPS":"","exemptAmount":0.0000,"exemptReasonId":4,"inState":true,"jurisCode":"PL","jurisName":"POLAND","jurisdictionId":200102,"signatureCode":"","stateAssignedNo":"","jurisType":"CNT","jurisdictionType":"Country","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.230000,"rateRuleId":411502,"rateSourceId":0,"serCode":"","sourcing":"Destination","tax":5.6100,"taxableAmount":24.3900,"taxType":"Output","taxSubTypeId":"O","taxTypeGroupId":"InputAndOutput","taxName":"Standard
        Rate","taxAuthorityTypeId":45,"taxRegionId":205102,"taxCalculated":5.6100,"taxOverride":0.0000,"rateType":"Standard","rateTypeCode":"S","taxableUnits":24.3900,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":24.39,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":5.61,"reportingTaxCalculated":5.61,"liabilityType":"Seller"}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":85009070496667,"documentLineId":85009070496664,"documentAddressId":85009070496660,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":85009070496668,"documentLineId":85009070496664,"documentAddressId":85009070496659,"locationTypeCode":"ShipTo"}],"parameters":[{"name":"Transport","value":"None"},{"name":"IsMarketplace","value":"False"},{"name":"IsTriangulation","value":"false"},{"name":"IsGoodsSecondHand","value":"false"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"PLS-230C","vatNumberTypeId":0},{"id":85009070496665,"transactionId":85009070496658,"lineNumber":"2","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"","destinationAddressId":85009070496659,"originAddressId":85009070496660,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":false,"isSSTP":false,"itemCode":"Shipping","lineAmount":0.0,"quantity":1.0,"ref1":"","ref2":"","reportingDate":"2022-09-08","revAccount":"","sourcing":"Destination","tax[...]
