interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesInvoice",
      "lines": [{"quantity": 3, "amount": "36.900", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "SKU_A", "discounted": false, "description": "Test product"}],
      "code": "882a502d-0212-4169-b98a-24963c72a9fd", "date": "2023-03-02", "customerCode":
      0, "discount": null, "addresses": {"singleLocation": {"line1": "4371 Lucas Knoll
      Apt. 791", "line2": "", "city": "BENNETTMOUTH", "region": "", "country": "PL",
      "postalCode": "53-601"}}, "commit": false, "currencyCode": "USD", "email": "test@example.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"id":85020450640429,"code":"882a502d-0212-4169-b98a-24963c72a9fd","companyId":7799660,"date":"2023-03-02","status":"Saved","type":"SalesInvoice","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"0","customerCode":"0","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0,"taxOverrideReason":"","totalAmount":30.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":6.9,"totalTaxable":30.0,"totalTaxCalculated":6.9,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"","country":"PL","version":1,"softwareVersion":"23.2.2.0","originAddressId":85020450640430,"destinationAddressId":85020450640430,"exchangeRateEffectiveDate":"2023-03-02","exchangeRate":1.0,"description":"","email":"test@example.com","businessIdentificationNo":"","modifiedDate":"2023-03-02T10:30:07.4081011Z","modifiedUserId":6479978,"taxDate":"2023-03-02","lines":[{"id":85020450640439,"transactionId":85020450640429,"lineNumber":"1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product","destinationAddressId":85020450640430,"originAddressId":85020450640430,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_A","lineAmount":30.0000,"quantity":3.0,"ref1":"","ref2":"","reportingDate":"2023-03-02","revAccount":"","sourcing":"Destination","tax":6.9,"taxableAmount":30.0,"taxCalculated":6.9,"taxCode":"O9999999","taxCodeId":9111,"taxDate":"2023-03-02","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0,"taxOverrideReason":"","taxIncluded":true,"details":[{"id":85020450640467,"transactionLineId":85020450640439,"transactionId":85020450640429,"addressId":85020450640430,"country":"PL","region":"PL","countyFIPS":"","stateFIPS":"","exemptAmount":0.0000,"exemptReasonId":4,"inState":true,"jurisCode":"PL","jurisName":"POLAND","jurisdictionId":200102,"signatureCode":"","stateAssignedNo":"","jurisType":"CNT","jurisdictionType":"Country","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.230000,"rateRuleId":411502,"rateSourceId":0,"serCode":"","sourcing":"Destination","tax":6.9000,"taxableAmount":30.0000,"taxType":"Output","taxSubTypeId":"O","taxTypeGroupId":"InputAndOutput","taxName":"Standard
        Rate","taxAuthorityTypeId":45,"taxRegionId":205102,"taxCalculated":6.9000,"taxOverride":0.0000,"rateType":"Standard","rateTypeCode":"S","taxableUnits":30.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":30.0,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":6.9,"reportingTaxCalculated":6.9,"liabilityType":"Seller"}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":85020450640441,"documentLineId":85020450640439,"documentAddressId":85020450640430,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":85020450640442,"documentLineId":85020450640439,"documentAddressId":85020450640430,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":85020450640443,"documentLineId":85020450640439,"documentAddressId":85020450640430,"locationTypeCode":"PointOfOrderAcceptance"},{"documentLineLocationTypeId":85020450640444,"documentLineId":85020450640439,"documentAddressId":85020450640430,"locationTypeCode":"PointOfOrderOrigin"},{"documentLineLocationTypeId":85020450640445,"documentLineId":85020450640439,"documentAddressId":85020450640430,"locationTypeCode":"GoodsPlaceOrServiceRendered"},{"documentLineLocationTypeId":85020450640446,"documentLineId":85020450640439,"documentAddressId":85020450640430,"locationTypeCode":"Import"},{"documentLineLocationTypeId":85020450640447,"documentLineId":85020450640439,"documentAddressId":85020450640430,"locationTypeCode":"BillTo"}],"parameters":[{"name":"Transport","value":"None"},{"name":"IsMarketplace","value":"False"},{"name":"IsTriangulation","value":"false"},{"name":"IsGoodsSecondHand","value":"false"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"PLS-230C","vatNumberTypeId":0}],"addresses":[{"id":85020450640430,"transactionId":85020450640429,"boundaryLevel":"Zip5","line1":"4371
        Lucas Knoll Apt. 791","line2":"","line3":"","city":"BENNETTMOUTH","region":"","postalCode":"53-601","country":"PL","taxRegionId":205102}],"locationTypes":[{"documentLocationTypeId":85020450640432,"documentId":85020450640429,"documentAddressId":85020450640430,"locationTypeCode":"ShipFrom"},{"documentLocationTypeId":85020450640433,"documentId":85020450640429,"documentAddressId":85020450640430,"locationTypeCode":"ShipTo"},{"documentLocationTypeId":85020450640434,"documentId":85020450640429,"documentAddressId":85020450640430,"locationTypeCode":"PointOfOrderAcceptance"},{"documentLocationTypeId":85020450640435,"documentId":85020450640429,"documentAddressId":85020450640430,"locationTypeCode":"PointOfOrderOrigin"},{"documentLocationTypeId":85020450640436,"documentId":85020450640429,"documentAddressId":85020450640430,"locationTypeCode":"GoodsPlaceOrServiceRendered"},{"documentLocationTypeId":85020450640437,"documentId":85020450640429,"documentAddressId":85020450640430,"locationTypeCode":"Import"},{"documentLocationTypeId":85020450640438,"documentId":85020450640429,"documentAddressId":85020450640430,"locationTypeCode":"BillTo"}],"summary":[{"country":"PL","region":"PL","jurisType":"Country","jurisCode":"PL","jurisName":"POLAND","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Output","taxSubType":"O","taxName":"Standard
        Rate","rateType":"Standard","taxable":30.00,"rate":0.230000,"tax":6.90,"taxCalculated":6.90,"nonTaxable":0.00,"exemption":0.00}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/companies/7799660/transactions/85020450640429
      ServerDuration:
      - '00:00:00.0369051'
      api-supported-versions:
      - '2.0'
      x-avalara-uid:
      - 65ed77f8-01fd-40a7-8591-c35c1cb9fd66
      x-correlation-id:
      - 65ed77f8-01fd-40a7-8591-c35c1cb9fd66
    status:
      code: 201
      message: Created
version: 1
