interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesOrder",
      "lines": [], "code": "13a89b41-b30b-41a0-862d-ed5490e37ca9", "date": "2022-05-05",
      "customerCode": 0, "addresses": {"shipFrom": {"line1": "Teczowa 7", "line2":
      null, "city": "Wroclaw", "region": "", "country": "PL", "postalCode": "53-601"},
      "shipTo": {"line1": "O\u0142awska 10", "line2": "", "city": "WROC\u0141AW",
      "region": "", "country": "PL", "postalCode": "53-105"}}, "commit": false, "currencyCode":
      "USD", "email": "user@email.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"error":{"code":"MissingLine","message":"Transactions must have at
        least one line.","target":"HttpRequestHeaders","details":[{"code":"MissingLine","number":311,"message":"Transactions
        must have at least one line.","description":"The CreateTransactionModel object
        must have an element called ''lines'', with at least one valid line record.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/MissingLine","severity":"Error"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ServerDuration:
      - '00:00:00.0007413'
      x-avalara-uid:
      - ec2a57cc-993f-4654-be50-27cf2a447760
      x-correlation-id:
      - ec2a57cc-993f-4654-be50-27cf2a447760
    status:
      code: 400
      message: Bad Request
version: 1
