interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesInvoice",
      "lines": [{"quantity": 3, "amount": "36.900", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "SKU_A", "discounted": false, "description": "Test product"}],
      "code": "9f77962f-4129-4136-a661-d88cfaeca362", "date": "2024-09-04", "customerCode":
      0, "discount": null, "addresses": {"singleLocation": {"line1": "4371 Lucas Knoll
      Apt. 791", "line2": "", "city": "BENNETTMOUTH", "region": "", "country": "PL",
      "postalCode": "53-601"}}, "commit": false, "currencyCode": "USD", "email": "test@example.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"id":85065273881226,"code":"9f77962f-4129-4136-a661-d88cfaeca362","companyId":7799660,"date":"2024-09-04","status":"Saved","type":"SalesInvoice","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"0","customerCode":"0","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0,"taxOverrideReason":"","totalAmount":30.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":6.9,"totalTaxable":30.0,"totalTaxCalculated":6.9,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"","country":"PL","version":1,"softwareVersion":"24.8.0.0","originAddressId":85065273881227,"destinationAddressId":85065273881227,"exchangeRateEffectiveDate":"2024-09-04","exchangeRate":1.0,"email":"test@example.com","businessIdentificationNo":"","modifiedDate":"2024-09-04T07:01:17.5878983Z","modifiedUserId":6479978,"taxDate":"2024-09-04","lines":[{"id":85065273881236,"transactionId":85065273881226,"lineNumber":"1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product","destinationAddressId":85065273881227,"originAddressId":85065273881227,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_A","lineAmount":30.0000,"quantity":3.0,"ref1":"","ref2":"","reportingDate":"2024-09-04","revAccount":"","sourcing":"Destination","tax":6.9,"taxableAmount":30.0,"taxCalculated":6.9,"taxCode":"O9999999","taxCodeId":9111,"taxDate":"2024-09-04","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0,"taxOverrideReason":"","taxIncluded":true,"details":[{"id":85065273881267,"transactionLineId":85065273881236,"transactionId":85065273881226,"addressId":85065273881227,"country":"PL","region":"PL","countyFIPS":"","stateFIPS":"PL","exemptAmount":0.0000,"exemptReasonId":4,"exemptRuleId":0,"inState":true,"jurisCode":"PL","jurisName":"POLAND","jurisdictionId":200102,"signatureCode":"","stateAssignedNo":"","jurisType":"CNT","jurisdictionType":"Country","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.230000,"rateRuleId":411502,"rateSourceId":0,"serCode":"","sourcing":"Destination","tax":6.9000,"taxableAmount":30.0000,"taxType":"Output","taxSubTypeId":"O","taxTypeGroupId":"InputAndOutput","taxName":"Standard
        Rate","taxAuthorityTypeId":45,"taxRegionId":205102,"taxCalculated":6.9000,"taxOverride":0.0000,"rateType":"Standard","rateTypeCode":"S","taxableUnits":30.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":30.0,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":6.9,"reportingTaxCalculated":6.9,"liabilityType":"Seller","chargedTo":"Buyer"}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":85065273881238,"documentLineId":85065273881236,"documentAddressId":85065273881227,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":85065273881239,"documentLineId":85065273881236,"documentAddressId":85065273881227,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":85065273881240,"documentLineId":85065273881236,"documentAddressId":85065273881227,"locationTypeCode":"PointOfOrderAcceptance"},{"documentLineLocationTypeId":85065273881241,"documentLineId":85065273881236,"documentAddressId":85065273881227,"locationTypeCode":"PointOfOrderOrigin"},{"documentLineLocationTypeId":85065273881242,"documentLineId":85065273881236,"documentAddressId":85065273881227,"locationTypeCode":"GoodsPlaceOrServiceRendered"},{"documentLineLocationTypeId":85065273881243,"documentLineId":85065273881236,"documentAddressId":85065273881227,"locationTypeCode":"Import"},{"documentLineLocationTypeId":85065273881244,"documentLineId":85065273881236,"documentAddressId":85065273881227,"locationTypeCode":"BillTo"}],"parameters":[{"name":"Transport","value":"None"},{"name":"IsMarketplace","value":"False"},{"name":"IsTriangulation","value":"false"},{"name":"IsGoodsSecondHand","value":"false"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"PLS-230C","vatNumberTypeId":0}],"addresses":[{"id":85065273881227,"transactionId":85065273881226,"boundaryLevel":"Zip5","line1":"4371
        Lucas Knoll Apt. 791","line2":"","line3":"","city":"BENNETTMOUTH","region":"","postalCode":"53-601","country":"PL","taxRegionId":205102}],"locationTypes":[{"documentLocationTypeId":85065273881229,"documentId":85065273881226,"documentAddressId":85065273881227,"locationTypeCode":"ShipFrom"},{"documentLocationTypeId":85065273881230,"documentId":85065273881226,"documentAddressId":85065273881227,"locationTypeCode":"ShipTo"},{"documentLocationTypeId":85065273881231,"documentId":85065273881226,"documentAddressId":85065273881227,"locationTypeCode":"PointOfOrderAcceptance"},{"documentLocationTypeId":85065273881232,"documentId":85065273881226,"documentAddressId":85065273881227,"locationTypeCode":"PointOfOrderOrigin"},{"documentLocationTypeId":85065273881233,"documentId":85065273881226,"documentAddressId":85065273881227,"locationTypeCode":"GoodsPlaceOrServiceRendered"},{"documentLocationTypeId":85065273881234,"documentId":85065273881226,"documentAddressId":85065273881227,"locationTypeCode":"Import"},{"documentLocationTypeId":85065273881235,"documentId":85065273881226,"documentAddressId":85065273881227,"locationTypeCode":"BillTo"}],"summary":[{"country":"PL","region":"PL","jurisType":"Country","jurisCode":"PL","jurisName":"POLAND","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Output","taxSubType":"O","taxName":"Standard
        Rate","rateType":"Standard","taxable":30.00,"rate":0.230000,"tax":6.90,"taxCalculated":6.90,"nonTaxable":0.00,"exemption":0.00}],"apStatusCode":null,"apStatus":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/companies/7799660/transactions/85065273881226
      ServerDuration:
      - '00:00:00.0337843'
      api-supported-versions:
      - '2.0'
      x-avalara-uid:
      - b56de3c9-a650-4cd9-85d2-44eda67fd0be
      x-correlation-id:
      - 72eb4f98-adff-49cc-bb4c-f34f240ec734
    status:
      code: 201
      message: Created
version: 1
