interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesOrder",
      "lines": [{"quantity": 3, "amount": "15.00", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "123", "description": "Test product", "ref1": "123"}, {"quantity":
      1, "amount": "10.000", "taxCode": "FR000000", "taxIncluded": true, "itemCode":
      "Shipping", "description": null}], "code": "a9ae43fe-ac38-4dff-9f23-3e156a9a5a4b",
      "date": "2022-05-05", "customerCode": 0, "addresses": {"shipFrom": {"line1":
      "Teczowa 7", "line2": null, "city": "Wroclaw", "region": "", "country": "PL",
      "postalCode": "53-601"}, "shipTo": {"line1": "T\u0119czowa 7", "line2": "",
      "city": "WROC\u0141AW", "region": "", "country": "PL", "postalCode": "53-601"}},
      "commit": false, "currencyCode": "USD", "email": "user@email.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"error": {"code": "AuthenticationException","message": "Authentication
        failed.","details": [{"code": "AuthenticationException","message": "Authentication
        failed.","description": "Missing authentication or unable to authenticate
        the user or the account.","faultCode": "Client","helpLink": "http://developer.avalara.com/avatax/errors/AuthenticationException"}]}}'
    headers:
      Content-Type:
      - application/json
      x-avalara-uid:
      - 30070cb6-2283-402c-8f90-5b0c847b951c
      x-correlation-id:
      - 30070cb6-2283-402c-8f90-5b0c847b951c
    status:
      code: 401
      message: Unauthorized
version: 1
