interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesOrder",
      "lines": [{"quantity": 3, "amount": "30.00", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "123", "discounted": false, "description": "Test product",
      "ref1": "123"}, {"quantity": 1, "amount": "10.000", "taxCode": "FR000000", "taxIncluded":
      true, "itemCode": "Shipping", "discounted": false, "description": null}], "code":
      "a7a87ca8-7c1d-46d4-8b89-c05bcb340e59", "date": "2024-09-04", "customerCode":
      0, "discount": null, "addresses": {"shipFrom": {"line1": "Teczowa 7", "line2":
      "", "city": "Wroclaw", "region": "", "country": "PL", "postalCode": "53-601"},
      "shipTo": {"line1": "T\u0119czowa 7", "line2": "", "city": "WROC\u0141AW", "region":
      "", "country": "PL", "postalCode": "53-601"}}, "commit": false, "currencyCode":
      "USD", "email": "user@email.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"error":{"code":"AuthenticationException","message":"BadRequest"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      trace-1:
      - Cluster=aws-sbx-us-west-2-cas01
      trace-10:
      - SiteTuple=default-tuple
      trace-11:
      - Site=default-site
      trace-12:
      - SiteIsPrimary=True
      trace-13:
      - TargeUrl=https://internal-hapee.sbx.avalara.io
      trace-2:
      - Api=avatax-rest-v2
      trace-3:
      - TargetService=avatax-tcs
      trace-4:
      - AuthSucceeded=False
      trace-5:
      - AuthType=UsernamePassword
      trace-6:
      - AccountId=
      trace-7:
      - CallerId=wrong
      trace-8:
      - AuthCacheStatus=NotCached
      trace-9:
      - AuthError=BadRequest
    status:
      code: 401
      message: Unauthorized
version: 1
