interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesOrder",
      "lines": [{"quantity": 3, "amount": "30.00", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "123", "discounted": false, "description": "Test product",
      "ref1": "123"}, {"quantity": 1, "amount": "10.000", "taxCode": "FR000000", "taxIncluded":
      true, "itemCode": "Shipping", "discounted": false, "description": null}], "code":
      "c0693e39-78fc-4516-8c3f-6813012c5b9f", "date": "2024-06-06", "customerCode":
      0, "discount": null, "addresses": {"shipFrom": {"line1": "Teczowa 7", "line2":
      "", "city": "Wroclaw", "region": "", "country": "PL", "postalCode": "53-601"},
      "shipTo": {"line1": "T\u0119czowa 7", "line2": "", "city": "WROC\u0141AW", "region":
      "", "country": "PL", "postalCode": "invalid postal code"}}, "commit": false,
      "currencyCode": "USD", "email": "user@email.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"error":{"code":"StringLengthError","message":"Field ''postalCode''
        has an invalid length.","target":"IncorrectData","details":[{"code":"StringLengthError","number":13,"message":"Field
        ''postalCode'' has an invalid length.","description":"Field ''postalCode''
        must be between 0 and 11 characters in length.","faultCode":"Client","helpLink":"https://developer.avalara.com/avatax/errors/StringLengthError","severity":"Error"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ServerDuration:
      - '00:00:00.0005438'
      api-supported-versions:
      - '2.0'
      x-avalara-uid:
      - 86c131e6-dba9-49ff-a50a-9f085f72ccbb
      x-correlation-id:
      - 86c131e6-dba9-49ff-a50a-9f085f72ccbb
    status:
      code: 400
      message: Bad Request
version: 1
