interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesInvoice",
      "lines": [{"quantity": 3, "amount": "36.900", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "SKU_A", "discounted": false, "description": "Test product"}],
      "code": "ed7dc5da-1237-413f-a4e9-a29a748d5a1b", "date": "2024-09-04", "customerCode":
      0, "discount": null, "addresses": {"singleLocation": {"line1": "T\u0119czowa
      7", "line2": "", "city": "WROC\u0141AW", "region": "", "country": "PL", "postalCode":
      "invalid postal code"}}, "commit": false, "currencyCode": "USD", "email": "test@example.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"error":{"code":"StringLengthError","message":"Field ''postalCode''
        has an invalid length.","target":"IncorrectData","details":[{"code":"StringLengthError","number":13,"message":"Field
        ''postalCode'' has an invalid length.","description":"Field ''postalCode''
        must be between 0 and 11 characters in length.","faultCode":"Client","helpLink":"https://developer.avalara.com/avatax/errors/StringLengthError","severity":"Error"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ServerDuration:
      - '00:00:00.0003132'
      api-supported-versions:
      - '2.0'
      x-avalara-uid:
      - e9d86c6d-2efd-4659-a212-f21725969492
      x-correlation-id:
      - 6e471038-5a02-4d96-8a53-a086d2267da7
    status:
      code: 400
      message: Bad Request
version: 1
