interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic Og==
    method: GET
    uri: https://sandbox-rest.avatax.com/api/v2/definitions/taxcodes
  response:
    body:
      string: '{"error": {"code": "AuthenticationException","message": "Authentication
        failed.","details": [{"code": "AuthenticationException","message": "Authentication
        failed.","description": "Missing authentication or unable to authenticate
        the user or the account.","faultCode": "Client","helpLink": "http://developer.avalara.com/avatax/errors/AuthenticationException"}]}}'
    headers:
      Content-Type:
      - application/json
      x-avalara-uid:
      - eab423e1-9e48-4cf2-be6e-27ea98d678e5
      x-correlation-id:
      - eab423e1-9e48-4cf2-be6e-27ea98d678e5
    status:
      code: 401
      message: Unauthorized
version: 1
