interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesInvoice",
      "lines": [{"quantity": 3, "amount": "36.900", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "SKU_A", "discounted": false, "description": "Test product"}],
      "code": "1b4be5cb-8a92-46ae-9d9c-908e97c03974", "date": "2024-02-01", "customerCode":
      0, "discount": null, "addresses": {"singleLocation": {"line1": "4371 Lucas Knoll
      Apt. 791", "line2": "", "city": "BENNETTMOUTH", "region": "", "country": "PL",
      "postalCode": "53-601"}}, "commit": false, "currencyCode": "USD", "email": "test@example.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"id":85048224248070,"code":"1b4be5cb-8a92-46ae-9d9c-908e97c03974","companyId":7799660,"date":"2024-02-01","status":"Saved","type":"SalesInvoice","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"0","customerCode":"0","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0,"taxOverrideReason":"","totalAmount":30.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":6.9,"totalTaxable":30.0,"totalTaxCalculated":6.9,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"","country":"PL","version":1,"softwareVersion":"24.1.0.0","originAddressId":85048224248071,"destinationAddressId":85048224248071,"exchangeRateEffectiveDate":"2024-02-01","exchangeRate":1.0,"description":"","email":"test@example.com","businessIdentificationNo":"","modifiedDate":"2024-02-01T13:28:58.5826677Z","modifiedUserId":6479978,"taxDate":"2024-02-01","lines":[{"id":85048224248080,"transactionId":85048224248070,"lineNumber":"1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product","destinationAddressId":85048224248071,"originAddressId":85048224248071,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_A","lineAmount":30.0000,"quantity":3.0,"ref1":"","ref2":"","reportingDate":"2024-02-01","revAccount":"","sourcing":"Destination","tax":6.9,"taxableAmount":30.0,"taxCalculated":6.9,"taxCode":"O9999999","taxCodeId":9111,"taxDate":"2024-02-01","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0,"taxOverrideReason":"","taxIncluded":true,"details":[{"id":85048224248110,"transactionLineId":85048224248080,"transactionId":85048224248070,"addressId":85048224248071,"country":"PL","region":"PL","countyFIPS":"","stateFIPS":"","exemptAmount":0.0000,"exemptReasonId":4,"inState":true,"jurisCode":"PL","jurisName":"POLAND","jurisdictionId":200102,"signatureCode":"","stateAssignedNo":"","jurisType":"CNT","jurisdictionType":"Country","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.230000,"rateRuleId":411502,"rateSourceId":0,"serCode":"","sourcing":"Destination","tax":6.9000,"taxableAmount":30.0000,"taxType":"Output","taxSubTypeId":"O","taxTypeGroupId":"InputAndOutput","taxName":"Standard
        Rate","taxAuthorityTypeId":45,"taxRegionId":205102,"taxCalculated":6.9000,"taxOverride":0.0000,"rateType":"Standard","rateTypeCode":"S","taxableUnits":30.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":30.0,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":6.9,"reportingTaxCalculated":6.9,"liabilityType":"Seller","chargedTo":"Buyer"}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":85048224248082,"documentLineId":85048224248080,"documentAddressId":85048224248071,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":85048224248083,"documentLineId":85048224248080,"documentAddressId":85048224248071,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":85048224248084,"documentLineId":85048224248080,"documentAddressId":85048224248071,"locationTypeCode":"PointOfOrderAcceptance"},{"documentLineLocationTypeId":85048224248085,"documentLineId":85048224248080,"documentAddressId":85048224248071,"locationTypeCode":"PointOfOrderOrigin"},{"documentLineLocationTypeId":85048224248086,"documentLineId":85048224248080,"documentAddressId":85048224248071,"locationTypeCode":"GoodsPlaceOrServiceRendered"},{"documentLineLocationTypeId":85048224248087,"documentLineId":85048224248080,"documentAddressId":85048224248071,"locationTypeCode":"Import"},{"documentLineLocationTypeId":85048224248088,"documentLineId":85048224248080,"documentAddressId":85048224248071,"locationTypeCode":"BillTo"}],"parameters":[{"name":"Transport","value":"None"},{"name":"IsMarketplace","value":"False"},{"name":"IsTriangulation","value":"false"},{"name":"IsGoodsSecondHand","value":"false"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"PLS-230C","vatNumberTypeId":0}],"addresses":[{"id":85048224248071,"transactionId":85048224248070,"boundaryLevel":"Zip5","line1":"4371
        Lucas Knoll Apt. 791","line2":"","line3":"","city":"BENNETTMOUTH","region":"","postalCode":"53-601","country":"PL","taxRegionId":205102}],"locationTypes":[{"documentLocationTypeId":85048224248073,"documentId":85048224248070,"documentAddressId":85048224248071,"locationTypeCode":"ShipFrom"},{"documentLocationTypeId":85048224248074,"documentId":85048224248070,"documentAddressId":85048224248071,"locationTypeCode":"ShipTo"},{"documentLocationTypeId":85048224248075,"documentId":85048224248070,"documentAddressId":85048224248071,"locationTypeCode":"PointOfOrderAcceptance"},{"documentLocationTypeId":85048224248076,"documentId":85048224248070,"documentAddressId":85048224248071,"locationTypeCode":"PointOfOrderOrigin"},{"documentLocationTypeId":85048224248077,"documentId":85048224248070,"documentAddressId":85048224248071,"locationTypeCode":"GoodsPlaceOrServiceRendered"},{"documentLocationTypeId":85048224248078,"documentId":85048224248070,"documentAddressId":85048224248071,"locationTypeCode":"Import"},{"documentLocationTypeId":85048224248079,"documentId":85048224248070,"documentAddressId":85048224248071,"locationTypeCode":"BillTo"}],"summary":[{"country":"PL","region":"PL","jurisType":"Country","jurisCode":"PL","jurisName":"POLAND","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Output","taxSubType":"O","taxName":"Standard
        Rate","rateType":"Standard","taxable":30.00,"rate":0.230000,"tax":6.90,"taxCalculated":6.90,"nonTaxable":0.00,"exemption":0.00}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/companies/7799660/transactions/85048224248070
      ServerDuration:
      - '00:00:00.0392419'
      api-supported-versions:
      - '2.0'
      x-avalara-uid:
      - c1589cbe-2fa2-4e2c-b050-7ddc61893b3d
      x-correlation-id:
      - c1589cbe-2fa2-4e2c-b050-7ddc61893b3d
    status:
      code: 201
      message: Created
version: 1
