interactions:
- request:
    body: <?xml version="1.0" encoding="utf-8"?><createTransactionRequest xmlns="AnetApi/xml/v1/schema/AnetApiSchema.xsd"><merchantAuthentication><name>public</name><transactionKey>secret</transactionKey></merchantAuthentication><clientId>sdk-python-1.1.3</clientId><refId>295</refId><transactionRequest><transactionType>authCaptureTransaction</transactionType><amount>10.0</amount><currencyCode>USD</currencyCode><payment><opaqueData><dataDescriptor>COMMON.ACCEPT.INAPP.PAYMENT</dataDescriptor><dataValue>a</dataValue></opaqueData></payment><order><description></description></order><customer><type>individual</type><email>example@test.com</email></customer></transactionRequest></createTransactionRequest>
    headers:
      Content-Type:
      - application/xml
      encoding:
      - utf-8
      version:
      - '1.0'
    method: POST
    uri: https://api2.authorize.net/xml/v1/request.api
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><createTransactionResponse\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        \ xmlns=\"AnetApi/xml/v1/schema/AnetApiSchema.xsd\"><refId>295</refId><messages><resultCode>Error</resultCode><message><code>E00007</code><text>User\
        \ authentication failed due to invalid authentication values.</text></message></messages><transactionResponse\
        \ /></createTransactionResponse>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Cnection:
      - close
      X-OPNET-Transaction-Trace:
      - a2_1a9b7ff9-4819-4b1b-ab05-09c2bc22785f-13476-279180052
    status:
      code: 200
      message: OK
version: 1
