interactions:
- request:
    body: '{"authenticateTestRequest": {"merchantAuthentication": {"name": "public",
      "transactionKey": "secret"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api2.authorize.net/xml/v1/request.api
  response:
    body:
      string: "\uFEFF{\"messages\":{\"resultCode\":\"Error\",\"message\":[{\"code\"\
        :\"E00007\",\"text\":\"User authentication failed due to invalid authentication\
        \ values.\"}]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cnection:
      - close
      X-OPNET-Transaction-Trace:
      - a2_bd8a9e88-53fb-4f58-844a-185161afee3c-9716-278767299
    status:
      code: 200
      message: OK
version: 1
