interactions:
- request:
    body: '{"authenticateTestRequest": {"merchantAuthentication": {"name": "test",
      "transactionKey": "test"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://apitest.authorize.net/xml/v1/request.api
  response:
    body:
      string: "\uFEFF{\"messages\":{\"resultCode\":\"Ok\",\"message\":[{\"code\":\"\
        I00001\",\"text\":\"Successful.\"}]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cnection:
      - close
      X-OPNET-Transaction-Trace:
      - a2_c9f35a24-6245-4c60-b286-cafec65de713-17248-8881942
    status:
      code: 200
      message: OK
version: 1
