-r ../requirements.txt

pytest==5.4.2
requests==2.23.0
Django==3.2.8
typing==3.7.4.1
oauthlib==3.1.0
petl==1.7.4
freezegun==0.3.15
pytz==2020.1
PyJWT==1.7.1
Babel==2.8.0
celery==5.1.2
urllib3==1.25.9
Faker==4.0.3
django-mptt==0.11.0
Pillow==8.1.1
django-filter==2.2.0
stripe==2.48.0
lxml==4.6.3
boto3==1.13.7
kombu==5.1.0
botocore==1.16.7
sendgrid==6.8.3
WeasyPrint==51
python-dateutil==2.8.1
html2text==2020.1.16
Markdown==3.2.2
django-debug-toolbar==2.2
