{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "dashboard:authorization-key-delete" site_settings_pk=site_settings_pk key_pk=key.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal delete authorization key text" %}
  Delete authorization key {{ key }}
{% endblocktrans %}
{% endblock title %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed context "Modal delete authorization key text" %}
      Are you sure you want to remove authorization key <strong>{{ key }}</strong>?
    {% endblocktrans %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
