{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load utils %}

{% block title %}{% trans "Navigation" context "Menu list page title" %} -
  {{ block.super }}{% endblock %}

{% block menu_menus_class %}active{% endblock %}

{% block header_menu %}
  {% url 'dashboard:menu-list' as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url 'dashboard:menu-list' %}">
        {% trans "Navigation" context "Dashboard menus list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url 'dashboard:menu-list' %}">
        <svg data-src="{% static 'dashboard/images/arrow-left.svg' %}" fill="#fff" width="20px" height="20px"/>
      </a>
    </li>
    <li title="{{ menu.name }}">
      <span class="breadcrumbs--ellipsed-item">
        {{ menu.name }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col m12 l9">
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {{ menu.name }}
          </span>
        </div>
        <div class="card-action">
          <a class="btn-flat waves-effect" href="{% url "dashboard:menu-edit" pk=menu.pk %}">
            {% trans "Edit menu" context "Menu detail view action" %}
          </a>
          <a href="#base-modal" class="btn-flat waves-effect modal-trigger-custom" data-href="{% url "dashboard:menu-delete" pk=menu.pk %}">
            {% trans "Remove menu" context "Menu detail view action" %}
          </a>
        </div>
      </div>
      {% include 'dashboard/includes/_menu_items.html' with menu=menu menu_items=menu_items %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
    </div>
  </div>
{% endblock %}
