{% extends "dashboard/base.html" %}
{% load i18n %}
{% load mptt_tags %}
{% load materializecss %}
{% load staticfiles %}
{% load utils %}

{% block title %}
  {% trans "Navigation" context "Menu list page title" %} - {{ block.super }}
{% endblock %}

{% block menu_menus_class %}active{% endblock %}

{% block header_menu %}
  {{ block.super }}
{% endblock %}

{% block header_extra %}
  <div class="btn-fab-fixed">
    <a href="{% url 'dashboard:menu-add' %}" class="btn-fab-default waves-effect waves-light" title="{% trans 'Add menu' context 'Menu list add button text' %}">
      <svg data-src="{% static 'dashboard/images/add.svg' %}"/>
    </a>
  </div>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li class="visible-s">
      <span>
        {% trans "Navigation" context "Dashboard menus list" %}
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if menus %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table data-table-description">
              <thead>
                <tr>
                  {% trans "Menu name" context "Menu list table header Menu name" as label %}
                  {% sorting_header 'name' label %}
                </tr>
              </thead>
              <tbody>
                {% for menu in menus %}
                  <tr data-action-go="{% url 'dashboard:menu-details' pk=menu.pk %}">
                    <td>
                      {{ menu.name }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate menus %}
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/menu/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No menus found." context "Empty menu list message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
      <div class="card">
        <form action="" method="post">
        <div class="card-content">
          <span class="card-title">
            {% trans "Storefront Menus" %}
          </span>
            {% csrf_token %}
            <div class="row">
                {{ assign_menu_form.top_menu|materializecss }}
            </div>
            <div class="row">
              {{ assign_menu_form.bottom_menu|materializecss }}
          </div>
        </div>
        <div class="card-action right-align">
          <div class="col s12">
            <button type="submit" class="btn waves-effect right">
              {% trans "Save" context "Dashboard update action" %}
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
    </div>
  </div>
{% endblock %}
