{% load i18n %}
{% load materializecss %}

<div class="modal-content">
    <h5>{% trans "Cancer order?" %}</h5>
    <p>
        {% blocktrans with order=order%}
            Are you sure, you want cancel order {{ order }}?
        {% endblocktrans %}</p>
</div>

<div class="modal-footer">
    <form id="release-form" method="post" role="form" class="form-async"
          action="{% url 'dashboard:order-cancel' order_pk=order.pk %}" novalidate>
        {% csrf_token %}
        <button type="submit" class="modal-action btn-flat red-text">{% trans "Cancel Order" %}</button>
        <a href="#!" aria-hidden="true" class="modal-action modal-close btn-flat blue-text">{% trans "Abort" %}</a>
    </form>
</div>
