{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:product-delete' pk=product.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal remove product text" %}
  Remove product {{ product }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed context "Modal remove product text" %}
      Are you sure you want to remove product <strong>{{ product }}</strong>?
    {% endblocktrans %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
