{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:collection-delete' pk=collection.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal remove collection text" %}
  Remove collection {{ collection }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed context "Modal remove collection text" %}
      Are you sure you want to remove collection <strong>{{ collection }}</strong>?
    {% endblocktrans %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
