{% extends 'dashboard/base.html' %}
{% load materializecss %}
{% load i18n %}
{% load staticfiles %}
{% load status %}

{% block title %}
  {% if collection.pk %}{{ collection }}{% else %}{% trans 'Add new collection' %}{% endif %} - {% trans 'Collections' %} - {{ block.super }}{% endblock %}

{% block body_class %}body-collections{% endblock %}

{% block menu_collections_class %}active{% endblock %}

{% block page_title %}{% if collection.pk %}{{ collection }}{% else %}{% trans 'Add new collection' %}{% endif %}{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li><a href="{% url "dashboard:collection-list" %}" class="breadcrumb">{% trans "Collections" %}</a></li>
    <li class="back-mobile"><a href="{% url "dashboard:collection-list" %}" class="breadcrumb"><i class="material-icons">arrow_back</i></a></li>
    <li><span class="breadcrumbs--ellipsed-item">{% if collection.pk %}{{ collection }}{% else %}{% trans 'Add new collection' %}{% endif %}</span></li>
  </ul>
{% endblock %}

{% block header_extra %}
  {% if collection.pk %}
    <a class="dropdown-button right" href="#" data-activates="collection-delete" data-constrainwidth="false">
      <svg data-src="{% static "dashboard/images/more-vert.svg" %}" height="24" width="24" />
    </a>
    <ul id="collection-delete" class="dropdown-content">
      <li>
        <a class="modal-trigger-custom" href="#base-modal" data-href="{% url 'dashboard:collection-delete' pk=collection.pk %}">
          {% trans "Remove collection" context "Collection action" %}
        </a>
      </li>
      <li>
        <a href="{{ collection.get_absolute_url }}">
          {% trans "View on site" context "Collection action" %}
        </a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col m12 l9">
      <div class="card">
        <form method="post" id="form-collection" enctype="multipart/form-data" novalidate>
          <div class="card-content card-content-form">
            {% csrf_token %}
            <div class="row">
              {{ form.name|materializecss }}
            </div>
            <div class="row">
              {{ form.products|materializecss }}
            </div>
            <div class="row">
              {{ form.background_image|materializecss }}
            </div>
            <span class="card-title">{% trans 'Availability' context 'Collection form card title: availability sub form' %}</span>
            <div class="row">
              {{ form.is_published|materializecss }}
            </div>
            {% include "dashboard/includes/_google_preview.html" with object=collection form=form %}
          </div>
          <div class="card-action right-align">
            <a href="{% url 'dashboard:collection-list' %}" class="btn btn-flat">
              {% trans "Cancel" context "Collection secondary action" %}</a>
            {% if collection.pk %}
              <button type="submit" class="btn btn-flat primary">
                {% trans "Update" context "Collection detail action" %}
              </button>
            {% else %}
              <button type="submit" class="btn btn-flat primary">
                {% trans "Create" context "Collection detail action" %}
              </button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
    {% if collection.pk %}
      <div class="col s12 l3">
        <div id="status">
          <div class="row no-margin">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <form id="toggle-publish-form" action="{% url 'dashboard:collection-publish' pk=collection.pk %}">
                    <div class="switch" id="collection-is-published">
                      <label>
                        <input id="toggle-publish-switch" type="checkbox" {% if collection.is_published %} checked {% endif %}>
                        <span class="lever"></span>
                        <span class="label">
                          {% if collection.is_published %}
                            {% trans "Published" context "Collection field" %}
                          {% else %}
                            {% trans "Draft" context "Collection field" %}
                          {% endif %}
                        </span>
                      </label>
                    </div>
                  {% csrf_token %}
                  </form>
                  <h5>{% render_collection_availability collection %}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
