{% extends 'dashboard/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load status %}
{% load utils %}

{% block title %}
  {% trans "Collections" context "Collections list page title "%} - {{ block.super }}
{% endblock %}

{% block body_class %}body-collections{% endblock %}

{% block menu_collections_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li class="visible-s"><span>{% trans "Collections" %}</span></li>
  </ul>
{% endblock %}

{% block header_extra %}
  {% if perms.product.edit_product %}
    <div class="btn-fab-fixed">
      <a href="{% url 'dashboard:collection-add' %}" class="btn-fab-default waves-effect waves-light" title="{% trans "Add collection" context 'Collections list add button text' %}">
        <svg data-src="{% static 'dashboard/images/add.svg' %}"/>
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if collections %}
        <div class="card">
          <div class="data-table-container">
          <table class="bordered highlight responsive data-table data-table-description">
              <thead>
                <tr>
                  {% trans "Name" context "Collections list table header name" as label %}
                  {% sorting_header 'name' label %}
                  <th>
                    {% trans "Number of products" context "Voucher table header" %}
                  </th>
                  <th>
                    {% trans "Visibility" context "Collections list table header" %}
                  </th>
                </tr>
              </thead>
              {% for node in collections %}
                <tbody>
                  <tr data-action-go="{% if perms.product.edit_product %}{% url 'dashboard:collection-update' node.pk %}{% endif %}">
                    <td>
                      {{ node.name }}
                    </td>
                    <td class="nowrap">
                      {% if node.products %}
                    {% trans "Products in collection:" %} {{ node.products.count }}
                      {% else %}
                        -
                      {% endif %}
                    </td>
                    <td>
                      {% render_collection_availability node %}
                    </td>
                  </tr>
                </tbody>
              {% endfor %}
          </table>
          </div>
        </div>
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/collection/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No collections found." context "Empty collection list message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
    </div>
  </div>
{% endblock %}
