{% extends 'dashboard/base.html' %}
{% load i18n %}

{% block title %}{% trans "Settings" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-settings{% endblock %}

{% block menu_settings_class %}active{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--history">
        <li class="visible-s"><span>{% trans "Settings" %}</span></li>
    </ul>
{% endblock %}

{% block header_extra %}
    <div class="fixed-action-btn">
        <a class="btn-fab btn-floating btn-large waves-effect waves-light teal" title="{% trans "Add setting" %}"
            href="#">
            <i class="material-icons">add</i>
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <ul class="collection list">
                {% if settings %}

                {% else %}
                    <p>{% trans "No additional settings." %}</p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}