{% extends "dashboard/base.html" %}
{% load materializecss %}
{% load i18n %}
{% load mptt_tags %}

{% block title %}{% if category.pk %}{{ category }}{% else %}{% trans 'Add new category' %}{% endif %} - {% trans 'Categories' %} - {{ block.super }}{% endblock %}

{% block body_class %}body-categories{% endblock %}

{% block menu_categories_class %}active{% endblock %}

{% block page_title %}{% if category.pk %}{{ category }}{% else %}{% trans 'Add new category' %}{% endif %}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--history">
        <li class="back-mobile"><a href="{% url 'dashboard:category-list' %}" class="breadcrumbs--ellipsed-item">{% trans "Categories" %}</a></li>
        {% if path %}
            {% for node in path %}
                <li><a href="{% url 'dashboard:category-list' root_pk=node.pk %}" class="breadcrumbs--ellipsed-item">{{ node.name }}</a></li>
            {% endfor %}
        {% endif %}
        <li>
            {% if category.pk %}
                <span class="breadcrumbs--ellipsed-item">{{ category }}</span>
            {% else %}
                <span class="breadcrumbs--ellipsed-item">{% trans 'Add new category' %}</span>
            {% endif %}
        </li>
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <form method="post" id="form-category" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col l8">
                <div class="row">
                    {{ form.name|materializecss:"s8 m10" }}
                    {{ form.hidden|materializecss:"s4 m2" }}
                    {{ form.description|materializecss }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 l8 right-align">
                {% if category.parent %}
                    <a href="{% url 'dashboard:category-list' root_pk=category.parent.pk %}" class="btn-flat">{% trans "Cancel" %}</a>
                {% else %}
                    <a href="{% url 'dashboard:category-list' %}" class="btn-flat">{% trans "Cancel" %}</a>
                {% endif %}
                {% if category.pk %}
                    <button type="submit" class="btn">{% trans "Update" %}</button>
                {% else %}
                    <button type="submit" class="btn">{% trans "Create" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
