{% extends "dashboard/base.html" %}
{% load materializecss %}
{% load i18n %}
{% load mptt_tags %}

{% block title %}{% if category.pk %}{{ category }}{% else %}{% trans "Add new category" context "Category detail page title" %}{% endif %} - {% trans "Categories" context "Category detail page title" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-categories{% endblock %}

{% block menu_categories_class %}active{% endblock %}

{% block page_title %}{% if category.pk %}{{ category }}{% else %}{% trans "Add new category" context "Category detail page title" %}{% endif %}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--history">
        <li class="back-mobile"><a href="{% url 'dashboard:category-list' %}" class="breadcrumbs--ellipsed-item">
            {% trans "Categories" context "Category detail breadcrumbs" %}</a></li>
        {% if path %}
            {% for node in path %}
                <li><a href="{% url 'dashboard:category-list' root_pk=node.pk %}" class="breadcrumbs--ellipsed-item">{{ node.name }}</a></li>
            {% endfor %}
        {% endif %}
        <li>
            {% if category.pk %}
                <span class="breadcrumbs--ellipsed-item">{{ category }}</span>
            {% else %}
                <span class="breadcrumbs--ellipsed-item">
          {% trans "Add new category" context "Category detail breadcrumbs" %}
        </span>
            {% endif %}
        </li>
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <div class="card">
        <form method="post" id="form-category" enctype="multipart/form-data" novalidate>
            <div class="card-content">
                {% csrf_token %}
                <div class="row">
                    {{ form.name|materializecss }}
                </div>
                <div class="row">
                    <div class="col s12 m8">
                        <div class="row">
                            {{ form.description|materializecss }}
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="row">
                            {{ form.hidden|materializecss }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-action right-align">
                {% if category.parent %}
                    <a href="{% url 'dashboard:category-list' root_pk=category.parent.pk %}" class="btn btn-flat">
                        {% trans "Cancel" context "Category form secondary action" %}</a>
                {% else %}
                    <a href="{% url 'dashboard:category-list' %}" class="btn btn-flat">
                        {% trans "Cancel" context "Category form secondary action" %}</a>
                {% endif %}
                {% if category.pk %}
                    <button type="submit" class="btn btn-flat">
                        {% trans "Update" context "Category form primary action" %}
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-flat">
                        {% trans "Create" context "Category form primary action" %}
                    </button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
