{% extends "dashboard/base.html" %}
{% load i18n %}
{% load mptt_tags %}
{% load materializecss %}
{% load static %}
{% load utils %}

{% block title %}{% trans "Categories" context "Category list page title" %} -
  {{ block.super }}{% endblock %}

{% block body_class %}body-categories{% endblock %}

{% block menu_categories_class %}active{% endblock %}

{% block header_menu %}
  {% if root %}
    {% if root.parent %}
      {% url 'dashboard:category-details' pk=root.parent.pk as url %}
    {% else %}
      {% url 'dashboard:category-list' as url %}
    {% endif %}
    {% include "dashboard/includes/_back_link.html" with url=url %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    {% if path %}
      <li>
        <a href="{% url 'dashboard:category-list' %}">
          {% trans "Categories" context "Dashboard categories list" %}
        </a>
      </li>
    {% else %}
      <li class="visible-s">
        <span>
          {% trans "Categories" context "Dashboard categories list" %}
        </span>
      </li>
    {% endif %}
    {% if path %}
      <li class="back-mobile">
        <a href="{% url 'dashboard:category-list' %}">
          <svg data-src="{% static 'dashboard/images/arrow-left.svg' %}" fill="#fff" width="20px" height="20px"/>
        </a>
      </li>
      {% for node in path %}
        {% if forloop.last %}
          <li title="{{ node.name }}">
            <span class="breadcrumbs--ellipsed-item">
              {{ node.name }}
            </span>
          </li>
        {% else %}
          <li class="hide-on-med-and-down">
            <a href="{% url 'dashboard:category-details' pk=node.pk %}" title="{{ node.name }}" class="breadcrumbs--ellipsed-item">
              {{ node.name }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  {% if root %}
    <div class="row">
      <div class="col m12 l9">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ root.name }}
            </span>
            <div class="row">
              {% if root.description %}
                <div class="col s12">
                  <h4>
                    {% trans "Description" context "Category field" %}
                  </h4>
                  <p>
                    {{ root.description }}
                  </p>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="card-action">
            <a class="btn-flat waves-effect" href="{% url 'dashboard:category-edit' root_pk=root.pk %}">
              {% trans "Edit category" context "Category detail view action" %}
            </a>
            <a href="#base-modal" class="btn-flat waves-effect modal-trigger-custom" data-href="{% url 'dashboard:category-delete' pk=root.pk %}">
              {% trans "Remove category" context "Category detail view action" %}
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <span class="card-title">
               {% trans "Subcategories" context "Title of the subcategories list" %}
            </span>
          </div>
          <div class="data-table-header-action">
            <a href="{% if root%}{% url 'dashboard:category-add' root_pk=root.pk %}{% else %}{% url 'dashboard:category-add' %}{% endif %}" class="btn-data-table btn-flat waves-effect">
              {% trans "Add" %}
            </a>
          </div>
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table data-table-description">
              <thead>
                <tr>
                  {% trans "Name" context "Category list table header name" as label %}
                  {% sorting_header 'name' label %}

                  {% trans "Description" context "Category list table header description" as label %}
                  {% sorting_header 'description' label is_wide=True %}

                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for node in categories %}
                  <tr data-action-go="{% url 'dashboard:category-details' pk=node.pk %}">
                    <td>
                      {{ node.name }}
                    </td>
                    <td class="nowrap">
                      {% if node.description %}
                        {{ node.description|truncatewords:10 }}
                      {% else %}
                        &nbsp;
                      {% endif %}
                    </td>
                    <td class="right-align ignore-link">
                      <a href="{% url 'dashboard:category-edit' root_pk=node.pk %}" class="btn-flat waves-effect">
                        {% trans 'Edit' context 'Category edit action' %}
                      </a>
                      <a href="#base-modal" class="btn-flat waves-effect modal-trigger-custom" data-href="{% url 'dashboard:category-delete' pk=node.pk %}">
                        {% trans "Remove" context "Category list action link" %}
                      </a>
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="2">{% trans "No subcategories" context "Empty list of categories" %}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate categories %}
      </div>
      <div class="col s12 l3" id="filters">
        {% if not is_empty %}{% filters filter_set %}{% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}
