{% extends "base.html" %}

{% load as_vertical_form from bootstrap %}
{% load i18n %}

{% block title %}{% trans "Edit Address" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>
{% if address_form.instance.pk %}
    <li><a href=".">{% trans "Edit address" %}</a></li>
{% else %}
    <li><a href=".">{% trans "New address" %}</a></li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="." method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend>{% trans "Address" %}</legend>
                        {{ address_form|as_vertical_form }}
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{% url 'profile:details' %}" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
