interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesInvoice",
      "lines": [{"quantity": 3, "amount": "36.90", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "SKU_A", "description": "Test product"}, {"quantity": 2, "amount":
      "49.20", "taxCode": "O9999999", "taxIncluded": true, "itemCode": "SKU_B", "description":
      "Test product 2"}, {"quantity": 1, "amount": "10.00", "taxCode": "FR020100",
      "taxIncluded": true, "itemCode": "Shipping", "description": null}], "code":
      "9cfe9695-f1db-40ba-90aa-e1539fda12f7", "date": "2020-08-24", "customerCode":
      0, "addresses": {"shipFrom": {"line1": "2000 Main Street", "line2": "", "city":
      "Irvine", "region": "CA", "country": "US", "postalCode": "92614"}, "shipTo":
      {"line1": "T\u0119czowa 7", "line2": "", "city": "WROC\u0141AW", "region": "",
      "country": "PL", "postalCode": "53-601"}}, "commit": false, "currencyCode":
      "USD", "email": "test@example.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"id":1000806342096,"code":"9cfe9695-f1db-40ba-90aa-e1539fda12f7","companyId":242975,"date":"2020-08-24","status":"Saved","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"0","customerCode":"0","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0,"taxOverrideReason":"","totalAmount":78.13,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":17.9700,"totalTaxable":78.13,"totalTaxCalculated":17.9700,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"","country":"PL","version":1,"softwareVersion":"20.8.0.9","originAddressId":3001586652614,"destinationAddressId":2001586652614,"exchangeRateEffectiveDate":"2020-08-24","exchangeRate":1.0,"isSellerImporterOfRecord":true,"description":"","email":"test@example.com","businessIdentificationNo":"","modifiedDate":"2020-08-24T07:47:36.3333522Z","modifiedUserId":283192,"taxDate":"2020-08-24T00:00:00Z","lines":[{"id":2002547288862,"transactionId":1000806342096,"lineNumber":"1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product","destinationAddressId":2001586652614,"originAddressId":3001586652614,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_A","lineAmount":30.0,"quantity":3.0,"ref1":"","ref2":"","reportingDate":"2020-08-24","revAccount":"","sourcing":"Destination","tax":6.9000,"taxableAmount":30.0,"taxCalculated":6.9000,"taxCode":"O9999999","taxCodeId":5340,"taxDate":"2020-08-24","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0,"taxOverrideReason":"","taxIncluded":true,"details":[{"id":10001474842630,"transactionLineId":2002547288862,"transactionId":1000806342096,"addressId":2001586652614,"country":"PL","region":"PL","countyFIPS":"","stateFIPS":"PL","exemptAmount":0.0,"exemptReasonId":4,"inState":false,"jurisCode":"PL","jurisName":"POLAND","jurisdictionId":200102,"signatureCode":"","stateAssignedNo":"","jurisType":"CNT","jurisdictionType":"Country","nonTaxableAmount":0.0,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.230000,"rateRuleId":410972,"rateSourceId":0,"serCode":"","sourcing":"Destination","tax":6.9000,"taxableAmount":30.0,"taxType":"Output","taxSubTypeId":"O","taxTypeGroupId":"InputAndOutput","taxName":"Standard
        Rate","taxAuthorityTypeId":45,"taxRegionId":205102,"taxCalculated":6.9000,"taxOverride":0.0,"rateType":"Standard","rateTypeCode":"S","taxableUnits":30.0,"nonTaxableUnits":0.0,"exemptUnits":0.0,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":6002351241906,"documentLineId":2002547288862,"documentAddressId":3001586652614,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":7001372545282,"documentLineId":2002547288862,"documentAddressId":2001586652614,"locationTypeCode":"ShipTo"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"PLS-2300O--US","vatNumberTypeId":0},{"id":3002547288861,"transactionId":1000806342096,"lineNumber":"2","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product 2","destinationAddressId":2001586652614,"originAddressId":3001586652614,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_B","lineAmount":40.0,"quantity":2.0,"ref1":"","ref2":"","reportingDate":"2020-08-24","revAccount":"","sourcing":"De[...]
