{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} » {% trans "Edit Address" %}{% endblock %}

{% block content %}
    <form action="." method="post">
        {% csrf_token %}
        {% if address_form.errors or address_book_form.errors %}
            <div class="alert alert-error">
                Please correct errors below.
            </div>
        {% endif %}
        <fieldset>
            <legend>Address</legend>
            {% with form=address_book_form %}
                {% include 'saleor/partials/form.html' %}
            {% endwith %}
            {% with form=address_form %}
                {% include 'saleor/partials/form.html' %}
            {% endwith %}
        </fieldset>
        <button type="submit" class="btn">Save</button>
    </form>
{% endblock content %}
