{% extends "dashboard/base_modal_confirm_delete.html" %}

{% load i18n %}

{% block action_url %}{% url 'dashboard:staff-delete' pk=staff.pk %}{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal delete group text" %}
  Delete staff member <strong>{{ staff }}</strong>?
{% endblocktrans %}
{% endblock %}

{% block content %}
{% blocktrans trimmed context "Modal delete group text" %}
<p>Are you sure you want to delete staff member {{ staff }}?</p>
<p>Deleting staff member also removes him from customer list</p>
{% endblocktrans %}
{% endblock content %}
