{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
  {% url 'dashboard:staff-delete' pk=staff.pk %}
{% endblock %}

{% block title %}
  {% blocktrans trimmed context "Modal remove group text" %}
    Remove staff member <strong>{{ staff }}</strong>
  {% endblocktrans %}
{% endblock %}

{% block content %}
  {% blocktrans trimmed context "Modal remove group text" %}
    <p>Are you sure you want to remove staff member?</p>
    <p>Deleting staff member also removes him from customer list and removes all his related data (orders, payment etc.).</p>
    <p>We strongly recommend not deleting user accounts that were used for purchases (for example customer which was promoted with staff member status).</p>
    <p>{{ staff }} has <strong>{{ orders }}</strong> orders.</p>
  {% endblocktrans %}
{% endblock content %}

{% block primary_action %}
  {% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
