{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Edit Address" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li><a href="/">{% trans "Home" %}</a></li>
    <li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>
    {% if address_form.instance.pk %}
        <li><a href=".">{% trans "Edit address" %}</a></li>
    {% else %}
        <li><a href=".">{% trans "New address" %}</a></li>
    {% endif %}
  </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row userprofile__address-edit">
    <div class="col-sm-8 col-lg-6 offset-sm-2 offset-lg-3">
        <form method="post" novalidate>
            {% csrf_token %}
            <h1 class="text-xs-center">
              {% if address_form.instance.pk %}
                {% trans "Edit address" %}
              {% else %}
                {% trans "New address" %}
              {% endif %}
            </h1>
            <div class="userprofile__address-edit__form">
              {% include "userprofile/snippets/address-form.html" %}
            </div>
            <p class="text-right">
                <button type="submit" class="btn primary">{% trans "Save changes" %}</button>
            </p>
        </form>
    </div>
</div>
{% endblock content %}
