{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load gross from prices_i18n %}
{% load discount_amount_for from prices %}
{% load status %}
{% load bootstrap_form from bootstrap3 %}

{% block title %}{% trans "Your profile" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li><a href="/">{% trans "Home" %}</a></li>
    <li>{% trans "Your account" %} (<b>{{ user }}</b>)</li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
  <div class="userprofile">
    <div class="userprofile__nav container">
      <h2>{% trans "My account" %}</h2>
      <ul class="nav nav-tabs col-lg-10 offset-lg-1" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#orders" role="tab"><h3>{% trans "Orders" %}</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-toggle="tab" href="#password" role="tab"><h3>{% trans "Change password" %}</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#addresses" role="tab"><h3>{% trans "Addresses book" %}</h3></a>
        </li>
      </ul>
    </div>
    <div class="tab-content col-lg-10 offset-lg-1">
      <div class="tab-pane active" id="orders" role="tabpanel">
        <div id="accordion" role="tablist" aria-multiselectable="true">
          {% for order in orders %}
          <div class="userprofile__orders">
            <div class="userprofile__orders__row">
              <div class="row">
                <div class="col-md-2 col-5">
                  {{ order }}
                </div>
                <div class="col-md-4 col-6">
                  {{ order.created }}
                </div>
                <div class="col-md-1 col-5">
                  <span class="float-md-right">{% gross order.get_total %}</span>
                </div>
                <div class="col-md-2 col-5 offset-md-1">
                  {% render_status order.status order.get_status_display %}
                </div>
                <div class="col-md-2 col-2">
                  <a href="{{ order.get_absolute_url }}"><small class="float-right">{% trans "Details" %}</small></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% if orders|length == 0 %}
            <h3 class="text-sm-center">{% trans "There are not any completed orders yet." %}</h3>
          {% endif %}
        </div>
      </div>
      <div class="tab-pane" id="password" role="tabpanel">
        <div class="row ">
          <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 userprofile__password">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form change_password_form %}
                <input type="submit" class="btn primary" value="Change password">
            </form>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="addresses" role="tabpanel">
        <div class="card-deck-wrapper userprofile__addresses">
          <div class="card-deck">
            {% for address in addresses %}
              <div class="card card-block">
                {% include "userprofile/snippets/address-short.html" %}
                <a data-toggle="modal" data-target=".modal-address-delete"><img src="{% static 'images/icon_delete.svg' %}"></a>
                {% include "userprofile/address-delete.html" with pk=address.pk %}
                <a href="{% url "profile:address-edit" pk=address.pk %}"><img src="{% static 'images/icon_edit.svg' %}"></a>
              </div>
              {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="card-deck">
              {% endif %}
            {% endfor %}
            {% if addresses|length == 0 %}
              <h3 class="text-sm-center">{% trans "You will see new addresses here after first successful checkout." %}</h3>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

