{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load gross from prices_i18n %}
{% load discount_amount_for from prices %}
{% load status %}

{% block title %}{% trans "Your profile" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li><a href="/">{% trans "Home" %}</a></li>
    <li><a href="{% url 'profile:details' %}">{% trans "Your account" %}</a></li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
  <div class="userprofile">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 userprofile__user">
        <h2 class="float-xs-left">{{ user }}</h2>
        <a href="{% url 'account_change_password' %}"><img src="{% static 'img/icon_edit.svg' %}"></a>
      </div>
    </div>
    <div class="userprofile__nav row">
      <ul class="nav nav-tabs col-lg-10 offset-lg-1" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#addresses" role="tab"><h3>{% trans "Addresses" %}</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#orders" role="tab"><h3>{% trans "Last orders" %}</h3></a>
        </li>
      </ul>
    </div>
    <div class="row">
    <div class="tab-content col-lg-10 offset-lg-1">
      <div class="tab-pane active" id="addresses" role="tabpanel">
        {% for address in addresses %}
          <div class="row userprofile__address-row">
            <div class="col-xs-5">
              {% include "userprofile/snippets/address-short.html" %}
            </div>
            <div class="col-xs-3 col-md-4">
              <div class="row">
                <div class="col-md-6">
                  {% if user.default_billing_address == address %}
                  <span>{% trans "Billing" %}</span>
                  {% else %}
                  <form method="post" action="{% url "profile:address-make-default" pk=address.pk purpose="billing" %}" class="form-inline form-horizontal" novalidate>
                      {% csrf_token %}
                      <button type="submit" class="btn btn-default btn-sm">{% trans "Billing" %}</button>
                  </form>
                  {% endif %}
                </div>
                <div class="col-md-6">
                  {% if user.default_shipping_address == address %}
                  <span>{% trans "Shipping" %}</span>
                  {% else %}
                  <form method="post" action="{% url "profile:address-make-default" pk=address.pk purpose="shipping" %}" class="form-inline form-horizontal" novalidate>
                      {% csrf_token %}
                      <button type="submit" class="btn btn-default btn-sm">{% trans "Shipping" %}</button>
                  </form>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-4">
              <a href="{% url 'profile:address-edit' pk=address.pk %}"><img src="{% static 'img/icon_edit.svg' %}"></a>
              <a href="{% url 'profile:address-delete' pk=address.pk %}"><img src="{% static 'img/icon_delete.svg' %}"></a>
            </div>
          </div>
        {% endfor %}
        {% if addresses|length == 0 %}
          <div class="userprofile__address-empty">
            <p>{% trans "Add shipping and billing addresses for better shopping experience." %}</p>
          </div>
        {% endif %}
        <a href="{% url 'profile:address-create' %}" class="btn primary ">{% trans "Add new address" %}</a>
      </div>
      <div class="tab-pane" id="orders" role="tabpanel">
        <div id="accordion" role="tablist" aria-multiselectable="true">
          {% for order in orders %}
          <div class="card userprofile__orders">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter0 }}"{% if forloop.counter0 > 0 %} class="collapsed"{% endif %}>
            <div class="card-header" role="tab" id="head{{ forloop.counter0 }}">
              <div class="row">
                <div class="col-md-2 col-xs-5">
                    <strong>{{ order }}</strong>
                </div>
                <div class="col-md-4 col-xs-6">
                  {{ order.created }}
                </div>
                <div class="col-md-3 col-xs-5">
                  {% gross order.get_total %}
                </div>
                <div class="col-md-2 col-xs-6">
                  {% render_status order.status order.get_status_display %}
                </div>
                <div class="col-md-1 col-xs-1">
                  <img class="userprofile__orders__arrow-icon float-xs-right" src="{% static 'img/gallery-arrow.svg' %}">
                </div>
              </div>
            </div>
            </a>
            <div id="collapse{{ forloop.counter0 }}" class="collapse{% if forloop.counter0 == 0 %} in{% endif %} userprofile__orders__details" role="tabpanel" aria-labelledby="head{{ forloop.counter0 }}">
              <div class="card-block">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                      <h3>{% trans "Shipping address" %}</h3>
                      <address>{% include "userprofile/snippets/address-short.html" with address=order.shipping_address %}</address>
                    </div>
                    <div class="col-md-3 col-xs-6">
                      <h3>{% trans "Billing address" %}</h3>
                      <address>{% include "userprofile/snippets/address-short.html" with address=order.billing_address %}</address>
                    </div>
                    <div class="col-md-6 col-xs-12 userprofile__orders__details__products">
                      {% for item in order %}
                        {% for item_line in item %}
                          <div class="row">
                            <div class="col-xs-9">
                              <img src="{{ item_line.product.images.first.image.crop.60x60 }}" class="float-xs-left">
                              <p>{{ item_line.product }}<br>
                              <span>{{ item_line.product_name }}</span><br>
                              x {{ item_line.quantity }}</p>
                            </div>
                            <div class="col-xs-3">
                              <p class="float-xs-right">{% gross item_line.get_total %}</p>
                            </div>
                          </div>
                        {% endfor %}
                        <div class="row">
                          <div class="col-xs-9">
                            <p>{% trans "Delivery" %} ({{ item.shipping_method_name }})</p>
                          </div>
                          <div class="col-xs-3">
                            <p class="float-xs-right">{% gross item.shipping_price %}</p>
                          </div>
                        </div>
                        {% if order.discount_amount %}
                          <div class="row">
                            <div class="col-xs-9">
                              <p>{{ order.discount_name }}</p>
                            </div>
                            <div class="col-xs-3">
                              <p class="float-xs-right">{% gross order.discount|discount_amount_for:order.total %}</p>
                            </div>
                          </div>
                        {% endif %}
                        <div class="row">
                          <div class="col-xs-9">
                            <p><strong>{% trans "Total" %}</strong></p>
                          </div>
                          <div class="col-xs-3">
                            <p class="float-xs-right"><strong>{% gross order.total %}</strong></p>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock content %}

