*.py[cod]
.*
!.babelrc
!.circleci
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.eslintrc.json
!.flowconfig
!.gqlconfig
!.github
!.gitignore
!.nvmrc
!.npmrc
!.plop
!.pylintrc
!.travis*
!.tx
*.css
*.log
*.pot
*.pyc
local_settings.py
__pycache__/
build/
coverage/
dist/
*\.egg*
# data
/docs/_build/
/media/
/node_modules/
/static/
/saleor/static/assets/
webpack-bundle.json
/templates/templated_email/compiled/*
!/templates/templated_email/compiled/.gitkeep
