*.py[cod]
.*
!.bowerrc
!.buildpacks
!.coveragerc
!.gitignore
!.travis*
*.css
*.log
*.pot
*.pyc
*/static/components
local_settings.py
dev.sqlite
build/
dist/
*\.egg*
#data
/media/
/static/
/node_modules/
