[MASTER]
load-plugins=pylint.extensions.bad_builtin, pylint.extensions.mccabe, pylint_celery, pylint_django

[MESSAGES CONTROL]
disable=C0103, C0111, C0330, C0412, C1001, E1004, E1101, I0011, R0903, W0232, W0621

[DESIGN]
max-complexity=5

[SIMILARITIES]
ignore-imports=yes
min-similarity-lines=8
