[MASTER]
load-plugins=pylint.extensions.bad_builtin, pylint.extensions.mccabe, pylint_celery, pylint_django
django-settings-module=saleor.settings

[MESSAGES CONTROL]
disable=C0103, C0111, I0011, R0903, W0621, W0622, W0707

[DESIGN]
max-complexity=5
max-line-length = 88

[SIMILARITIES]
ignore-imports=yes
min-similarity-lines=8
