[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
Babel = ">=2.5"
bleach = "<3.0"
"boto3" = "*"
cairosvg = "*"
Django = ">=1.11"
dj_database_url = ">=0.3.0"
dj_email_url = ">=0.0.4"
django-babel = ">=0.6.1"
django-bootstrap4 = ">=0.0.4"
django-cache-url = ">=1.0.0"
django-countries = ">=5.2"
django-filter = ">=2.0"
django-fsm = ">=2.6.0"
django-graphql-jwt = ">=0.1.13"
django-impersonate = ">=1.3"
django-measurement = "==3.0.0"
django-mptt = ">=0.7.1"
django-payments = ">=0.12.1"
django-phonenumber-field = ">=1.3.0"
django-prices = ">=1.0.2"
django-prices-openexchangerates = ">=1.0.0"
django-prices-vatlayer = ">=1.0.2"
django-redis = ">=4.0.0"
django-storages = ">=1.4.1"
django-templated-email = ">=2.2.0"
django-versatileimagefield = ">=1.10"
django-webpack-loader = ">=0.3.0"
django-celery-results = "*"
django-elasticsearch-dsl = "*"
django-recaptcha = "*"
django-silk = "==2.0.0"
django-debug-toolbar = "*"
django-debug-toolbar-request-history = "*"
elasticsearch = ">=5.4,<6.0.0"
elasticsearch-dsl = ">=5.0.0,<6.0.0"
faker = ">=0.7.7"
freezegun = ">=0.3.9"
google-measurement-protocol = ">=1.0.0"
"google-i18n-address" = ">=2.3.0"
graphene-django = ">=2.2"
Markdown = ">=2.4"
maxminddb = "*"
"maxminddb-geolite2" = "*"
phonenumberslite = ">=8.9.1"
prices = ">=1.0.0"
"psycopg2-binary" = ">=2.7"
purl = ">=0.4.1"
raven = "==6.9.0"
requests = ">=1.2.0"
social-auth-app-django = ">=2.0.0"
text-unidecode = "*"
uwsgi = {version = ">=2.0.0", platform_system = "!= 'Windows'"}
celery = {version = "*", extras = ["redis"]}
weasyprint = ">=0.42.2"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-vcr = "*"
pytest-mock = "*"
pytest-xdist = "*"
coverage = "*"
pytest-cov = "*"
codecov = "*"
tox = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
pylint_celery = "*"
pylint_django = "*"
isort = "*"
yapf = "*"
django-extensions = "*"
pylint-plugin-utils = "*"
