apipkg==1.5
astroid==2.0.4
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4
certifi==2018.8.24
chardet==3.0.4
codecov==2.0.15
coverage==4.5.1
django-debug-toolbar-request-history==0.0.9
django-debug-toolbar==1.10.1
django-extensions==2.1.2
django-silk==2.0.0
django==2.1.1
execnet==1.5.0
gprof2dot==2016.10.13
idna==2.7
isort==4.3.4
jinja2==2.10
lazy-object-proxy==1.3.1
markupsafe==1.0
mccabe==0.6.1
more-itertools==4.3.0
multidict==4.4.2
pluggy==0.7.1
py==1.6.0
pycodestyle==2.4.0
pydocstyle==2.1.1
pygments==2.2.0
pylint-celery==0.3
pylint-django==2.0.2
pylint-plugin-utils==0.4
pylint==2.1.1
pytest-cov==2.6.0
pytest-django==3.4.3
pytest-forked==0.2
pytest-mock==1.10.0
pytest-vcr==0.3.0
pytest-xdist==1.23.1
pytest==3.8.1
python-dateutil==2.7.3; python_version >= '2.7'
pytz==2018.5
pyyaml==3.13
requests==2.19.1
six==1.11.0
snowballstemmer==1.2.1
sqlparse==0.2.4
toml==0.9.6
tox==3.4.0
typed-ast==1.1.0; python_version < '3.7' and implementation_name == 'cpython'
urllib3==1.23
vcrpy==2.0.1
virtualenv==16.0.0
wrapt==1.10.11
yapf==0.24.0
yarl==1.2.6; python_version >= '3.4'
