adyen==4.0.0
amqp==5.0.6; python_version >= "3.6"
aniso8601==7.0.0
appdirs==1.4.4; python_full_version >= "3.6.2"
asgiref==3.4.1; python_version >= "3.6"
astroid==2.6.2; python_version >= "3.6" and python_version < "4.0"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6") or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
authorizenet==1.1.4
babel==2.9.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
backports.entry-points-selectable==1.1.0; python_version >= "2.7" and python_full_version >= "3.6.1"
beautifulsoup4==4.7.1
beautifultable==0.7.0
billiard==3.6.4.0; python_version >= "3.6"
black==21.7b0; python_full_version >= "3.6.2"
boto3==1.18.1; python_version >= "3.6"
botocore==1.21.1; python_version >= "3.6"
braintree==4.10.0
cachetools==4.2.2; python_version >= "3.5" and python_version < "4.0" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0")
cairocffi==1.2.0; python_version >= "3.6"
cairosvg==2.5.2; python_version >= "3.6"
celery==5.1.2; python_version >= "3.6"
certifi==2021.5.30; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
cffi==1.14.6; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
cfgv==3.3.0; python_full_version >= "3.6.1"
charset-normalizer==2.0.3; python_full_version >= "3.6.0" and python_version >= "3"
click-didyoumean==0.0.3; python_version >= "3.6"
click-plugins==1.1.1; python_version >= "3.6"
click-repl==0.2.0; python_version >= "3.6"
click==7.1.2; python_full_version >= "3.6.2" and python_version >= "3.6" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
codecov==2.1.11; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" and python_version < "4.0" and platform_system == "Windows" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6") or sys_platform == "win32" and python_full_version >= "3.5.0" and python_version >= "3.6" and python_version < "4.0" and platform_system == "Windows" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
coverage==5.5; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0" and python_version < "4")
cssselect2==0.4.1; python_version >= "3.6"
defusedxml==0.7.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
distlib==0.3.2; python_full_version >= "3.6.1"
dj-database-url==0.5.0
dj-email-url==1.0.2
django-appconf==1.0.4
django-cache-url==3.2.3
django-countries==7.2.1
django-debug-toolbar-request-history==0.1.3
django-debug-toolbar==3.2.1; python_version >= "3.6"
django-extensions==3.1.3; python_version >= "3.6"
django-filter==2.4.0; python_version >= "3.5"
django-graphiql-debug-toolbar==0.1.4
django-js-asset==1.2.2; python_version >= "3.6"
django-measurement==3.2.3
django-mptt==0.12.0; python_version >= "3.6"
django-phonenumber-field==5.2.0; python_version >= "3.6"
django-prices-openexchangerates==1.1.0
django-prices-vatlayer==1.1.0
django-prices==2.2.0
django-redis==5.0.0; python_version >= "3.6"
django-storages==1.11.1; python_version >= "3.5"
django-stubs-ext==0.2.0; python_version >= "3.6"
django-stubs==1.8.0; python_version >= "3.6"
django-versatileimagefield==2.1
django==3.2.5; python_version >= "3.6"
draftjs-sanitizer==1.0.0
enmerkar==0.7.1
et-xmlfile==1.1.0; python_version >= "3.6"
execnet==1.9.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
faker==8.10.1; python_version >= "3.6"
filelock==3.0.12; python_full_version >= "3.6.1"
flake8==3.9.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
freezegun==1.1.0; python_version >= "3.5"
gitdb==4.0.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version < "3.10" and python_version >= "3.6"
gitpython==3.1.18; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version < "3.10" and python_version >= "3.6"
google-api-core==1.31.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
google-auth==1.33.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
google-cloud-core==1.7.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_version >= "3.5" and python_full_version >= "3.6.0"
google-cloud-pubsub==2.6.1; python_version >= "3.6"
google-cloud-storage==1.41.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
google-crc32c==1.1.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
google-i18n-address==2.5.0
google-measurement-protocol==1.1.0
google-resumable-media==1.3.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_version >= "3.5" and python_full_version >= "3.6.0"
googleapis-common-protos==1.53.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
graphene-django==2.13.0
graphene-federation==0.1.0
graphene==2.1.9
graphql-core==2.3.2
graphql-relay==2.0.1
grpc-google-iam-v1==0.12.3; python_version >= "3.6"
grpcio==1.38.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
gunicorn==20.1.0; python_version >= "3.5"
h11==0.12.0; python_version >= "3.6"
html-to-draftjs==1.0.1
html2text==2020.1.16; python_version >= "3.5"
html5lib==1.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
httptools==0.1.2; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
identify==2.2.11; python_full_version >= "3.6.1"
idna==3.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
iniconfig==1.1.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
isort==5.9.2; python_full_version >= "3.6.1" and python_version < "4.0"
jaeger-client==4.6.0; python_version >= "3.5"
jinja2==3.0.1; python_version >= "3.6"
jmespath==0.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
jsonfield==3.1.0; python_version >= "3.6"
kombu==5.1.0; python_version >= "3.6"
lazy-object-proxy==1.6.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.0"
libcst==0.3.19; python_version >= "3.6"
lxml==4.6.3; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
markdown==3.3.4; python_version >= "3.6"
markupsafe==2.0.1; python_version >= "3.6"
maxminddb==2.0.3; python_version >= "3.6"
mccabe==0.6.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
measurement==3.2.0
micawber==0.5.4
mpmath==1.2.1; python_version >= "3.6"
multidict==5.1.0; python_version >= "3.6"
mypy-extensions==0.4.3; python_full_version >= "3.6.2" and python_version >= "3.6"
mypy==0.910; python_version >= "3.5"
nodeenv==1.6.0; python_full_version >= "3.6.1"
oauthlib==3.1.1; python_version >= "3.6"
openpyxl==3.0.7; python_version >= "3.6"
opentracing==2.4.0
packaging==21.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
pathspec==0.9.0; python_full_version >= "3.6.2"
petl==1.7.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
phonenumberslite==8.12.27
pillow==8.3.1; python_version >= "3.6"
platformdirs==2.0.2; python_full_version >= "3.6.1"
pluggy==0.13.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pre-commit==2.13.0; python_full_version >= "3.6.1"
prices==1.1.0
promise==2.3
prompt-toolkit==3.0.19; python_full_version >= "3.6.1" and python_version >= "3.6"
proto-plus==1.19.0; python_version >= "3.6"
protobuf==3.17.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
psycopg2-binary==2.9.1; python_version >= "3.6"
py==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pyasn1-modules==0.2.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
pyasn1==0.4.8; python_version >= "3.5" and python_full_version < "3.0.0" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") or python_version >= "3.5" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") and python_full_version >= "3.6.0"
pybars3==0.9.7
pycodestyle==2.7.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pydocstyle==6.1.1; python_version >= "3.6"
pyflakes==2.3.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pyjwt==2.1.0; python_version >= "3.6"
pylint-celery==0.3
pylint-django==2.4.4
pylint-plugin-utils==0.6
pylint==2.9.3; python_version >= "3.6" and python_version < "4.0"
pymeta3==0.5.1
pyparsing==2.4.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
pyphen==0.11.0; python_version >= "3.6"
pytest-celery==0.0.0
pytest-cov==2.12.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
pytest-django-queries==1.2.0
pytest-django==4.2.0; python_version >= "3.5"
pytest-forked==1.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pytest-mock==3.6.1; python_version >= "3.6"
pytest-vcr==1.0.2
pytest-xdist==2.3.0; python_version >= "3.6"
pytest==6.2.4; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
python-dotenv==0.18.0
python-http-client==3.3.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
python-json-logger==2.0.1; python_version >= "3.4"
python-magic-bin==0.4.14; sys_platform == "win32"
python-magic==0.4.24; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
python-slugify==4.0.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "3.10"
pytimeparse==1.1.8
pytz==2021.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
pywatchman==1.4.1
pyxb==1.2.5
pyyaml==5.4.1; python_full_version >= "3.6.1" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") and (python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5")
razorpay==1.2.0
redis==3.5.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
regex==2021.7.6; python_full_version >= "3.6.2"
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rsa==4.7.2; python_version >= "3.5" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
rx==1.6.1
s3transfer==0.5.0; python_version >= "3.6"
sendgrid==6.7.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
sentry-sdk==1.3.0
singledispatch==3.6.2; python_version >= "2.6"
six==1.16.0; python_full_version >= "3.6.1" and python_version < "3.10" and python_version >= "3.6" and (python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5") and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
smmap==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version < "3.10" and python_version >= "3.6"
snowballstemmer==2.1.0; python_version >= "3.6"
soupsieve==2.2.1; python_version >= "3.6"
sqlparse==0.4.1; python_version >= "3.6"
starkbank-ecdsa==1.1.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
stripe==2.60.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
sympy==1.8; python_version >= "3.6"
text-unidecode==1.3
threadloop==1.0.2; python_version >= "3.5"
thrift==0.13.0; python_version >= "3.5"
tinycss2==1.1.0; python_version >= "3.6"
toml==0.10.2; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.1" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6") and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0") and (python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5") and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.3.0") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
tomli==1.0.4; python_version >= "3.6" and python_full_version >= "3.6.2"
tornado==6.1; python_version >= "3.5"
tox==3.24.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
transifex-client==0.14.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0" and python_version < "3.10")
types-pkg-resources==0.1.3
types-python-dateutil==0.1.4
types-pytz==2021.1.0
types-requests==2.25.0
typing-extensions==3.10.0.0; python_version >= "3.6"
typing-inspect==0.7.1; python_version >= "3.6"
unidecode==1.2.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
urllib3==1.26.6; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "3.10" and python_version >= "3.6"
uvicorn==0.13.4
uvloop==0.15.3; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7"
vcrpy==4.1.1; python_version >= "3.5"
vine==5.0.0; python_version >= "3.6"
virtualenv==20.6.0; python_full_version >= "3.6.1"
watchgod==0.7; python_version >= "3.5"
wcwidth==0.2.5; python_full_version >= "3.6.1" and python_version >= "3.6"
weasyprint==52.5; python_version >= "3.6"
webencodings==0.5.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
websockets==8.1; python_full_version >= "3.6.1"
wrapt==1.12.1; python_version >= "3.6" and python_version < "4.0"
yarl==1.6.3; python_version >= "3.6"
