Babel>=1.3
BabelDjango>=0.2
boto
Django>=1.8,!=1.8.6
dj_database_url>=0.3.0
dj_email_url>=0.0.4
django-allauth>=0.28.0
django-bootstrap3>=6.2.0
django-cache-url>=1.0.0
django-countries>=3.4
django-emailit>=0.2.2
django-materializecss-form>=0.1
django-mptt>=0.7.1
django-payments>=0.9.0,<0.10a0
django-prices>=0.4.11,<0.5a0
django-prices-openexchangerates>=0.1.12,<0.2a0
django-redis>=4.0.0
djangorestframework>=3.1
django-selectable>=0.8.0
django-storages>=1.4.1
django-versatileimagefield>=1.0.1
django-webpack-loader>=0.3.0
elasticsearch>=2.0.0,<3.0.0
fake-factory>=0.3.2
google-measurement-protocol>=0.1.2,<0.2a0
google-i18n-address>=2.0.1
jsonfield>=1.0.3
Markdown>=2.4
maxminddb>=1.2.0,<1.3
maxminddb-geolite2==2015.708
mock>=1.3.0
prices>=0.5.7,<0.6a0
psycopg2>=2.6
purl>=0.4.1
pytest>=2.8.0
pytest-django
requests>=1.2.0
satchless>=1.1.2,<1.2a0
unidecode
uwsgi>=2.0.0
