{% extends "dashboard/base.html" %}
{% load materializecss %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
  {% if staff_member %}
    {{ staff_member }}
  {% else %}
    {% trans "Add new staff member" context "Dashboard add staff member" %}
  {% endif %}
     - {% trans "Staff" context "Dashboard staff" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-customers{% endblock %}

{% block menu_staff_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:staff" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:staff-list" %}">
        {% trans "Staff" context "Dashboard staff list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:staff-list" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li><span class="breadcrumbs--elipsed-item">{% if staff_member %}{{ staff_member }}{% else %}{% trans 'Add staff member' context 'Dashboard add staff member action' %}{% endif %}</span></li>
  </ul>
{% endblock %}

{% block header_extra %}
  {% if user != staff_member and staff_member.pk %}
    <a class="dropdown-button right" href="#" data-activates="context-menu" data-constrainwidth="false">
      <svg data-src="{% static "dashboard/images/more-vert.svg" %}" height="24" width="24" />
    </a>
    <ul id="context-menu" class="dropdown-content">
      {% if perms.account.edit_staff %}
      <li>
        <a href="#base-modal" data-href="{% url 'dashboard:staff-delete' pk=staff_member.pk %}" class="modal-trigger-custom">
          {% trans 'Remove staff member' context 'Staff member form action' %}
        </a>
      </li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l8">
      {% if form %}
        <form class="card" method="post">
          <div class="card-content">
            <span class="card-title">
              {% trans 'Staff member details' context 'Staff member details header' %}
            </span>
            <div class="data">
                {% csrf_token %}
                <div class="row">
                  {{ form|materializecss }}
                </div>
            </div>
          </div>
          {% if perms.account.edit_staff %}
          <div class="card-action right-align">
            <a href="{% url 'dashboard:staff-list' %}" class="btn-flat waves-effect">
              {% trans "Cancel" context "Dashboard cancel action" %}
            </a>
            <button type="submit" class="btn waves-effect">
              {% if staff_member %}
                {% trans 'Update' context 'Dashboard update action' %}
              {% else %}
                {% trans 'Add' context 'Dashboard add action' %}
              {% endif %}
            </button>
          </div>
          {% endif %}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
