{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load utils %}

{% block title %}
  {% trans "Staff" context "Dashboard staff members list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-customers{% endblock %}

{% block menu_staff_class %}active{% endblock %}

{% block header_extra %}
  {% if perms.userprofile.edit_staff %}
    <div class="btn-fab-fixed">
      <a class="btn-fab-default waves-effect waves-light"
        title="{% trans "Add staff member" context "Staff members list add button text" %}"
        href="{% url 'dashboard:staff-create' %}">
        <svg data-src="{% static "dashboard/images/add.svg" %}" />
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">
      {% trans "Staff" context "Dashboard staff members list" %}
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if staff %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  {% trans "Name" context "Staff members table header" as label %}
                  {% sorting_header 'name' label %}

                  {% trans "Email" context "Staff members table header" as label %}
                  {% sorting_header 'email' label %}

                  {% trans "Location" context "Staff members table header" as label %}
                  {% sorting_header 'location' label %}
                </tr>
              </thead>
              <tbody>
                {% for user in staff %}
                  <tr data-action-go="{% url "dashboard:staff-details" pk=user.pk %}">
                    {% with user.default_billing_address as default_address %}
                      <td>
                        {% if default_address %}
                          {{ default_address.first_name }} {{ default_address.last_name }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                      <td>
                        {{ user.email }}
                      </td>
                      <td>
                        {% if default_address %}
                          {{ default_address.city }}, {{ default_address.get_country_display }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                    {% endwith %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate staff %}
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/staff/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No staff members found." context "Empty staff table message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
    </div>
  </div>
{% endblock %}
