{% extends 'dashboard/base_zero_page.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "No staff members found." %}{% endblock %}
{% block content %}
  {% static "dashboard/images/add.svg" as img_path %}
  {% blocktrans %}
    Staff members are users who have access to the dashboard.<br>
    You can create staff members by using the <span class="btn-fab-presentation"><svg data-src="{{ img_path }}" /></span> button or by using option "Promote to staff" in the customer details view.
  {% endblocktrans %}
{% endblock %}
