{% extends "dashboard/base.html" %}

{% load i18n %}
{% load i18n_address_tags %}
{% load static %}

{% block title %}
{{ warehouse }} - {{ block.super }}
{% endblock %}

{% block body_class %} body-warehouses {% endblock %}

{% block menu_warehouses_class %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:warehouse-list" %}" class="breadcrumb">
        {% trans "Warehouses" context "Dashboard warehouses list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:warehouse-list" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {{ warehouse }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 l8">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          {{ warehouse}}
        </div>
        {% format_address warehouse.address %}
      </div>
      <div class="card-action">
        <a href="{% url "dashboard:warehouse-update" warehouse.pk %}" class="btn-flat waves-effect">{% trans "Edit warehouse" context "Warehouse action button" %}</a>
        <a href="#base-modal" data-href="{% url "dashboard:warehouse-delete" warehouse.pk %}" class="modal-trigger-custom btn-flat waves-effect">{% trans "Delete warehouse" context "Warehouse action button" %}</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 l8">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          {% trans "Shipping zones" %}
        </div>
        {% for zone in warehouse.shipping_zones.all %}
        {{ zone }},
        {% endfor %}
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
