{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}
{% load utils %}

{% block title %}
  {% trans "Warehouses" context "Dashboard warehouses list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-warehouses{% endblock %}

{% block menu_warehouses_class %}active{% endblock %}

{% block header_extra %}
  <div class="btn-fab-fixed">
    <a href="{% url "dashboard:warehouse-create" %}" class="btn-fab-default waves-effect waves-light" title="{% trans "Add warehouse" context "Warehouse list add button text" %}" >
      <svg data-src="{% static "dashboard/images/add.svg" %}" />
    </a>
  </div>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs" >
  <li class="visible-s">
    {% trans "Warehouses" context "Dashboard warehouses list" %}
  </li>
</ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if warehouses %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                <th>
                  {% trans "Name" context "Warehouses table header" %}
                </th>
                <th>
                  {% trans "Shipping zones" context "Warehouses table header" %}
                <th/>
                </tr>
              </thead>
              <tbody>
                {% for warehouse in warehouses %}
                  <tr data-action-go="{% url "dashboard:warehouse-detail" warehouse.uuid %}">
                    <td> {{ warehouse }} </td>
                    <td> {% for zone in warehouse.shipping_zones.all %}{{zone}}, {% endfor %} </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate warehouses %}
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/warehouse/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No warehouses found." context "Empty warehouses table message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
