<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="image-text">
        <h2>Roadmap</h2>
        <h3 class="image-text__subtext">To keep you informed about the implementation<br /> of the most important features,<br /> below you will find our roadmap for 2018</h3>
      </div>
      <div class="image">
        <picture>
          <img src="/images/roadmap-header.svg" alt="Human">
        </picture>
      </div>
    </div>
  </div>
</div>
