{% extends "base.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Register or reset your password" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="#">{% trans "Register or reset your password" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend>{% trans 'Register or reset your password' %}</legend>
                        {% bootstrap_form form %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    </fieldset>
                    <div class="form-group text-right">
                        <button class="btn btn-primary">
                            {% trans "Continue" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
