{% extends "dashboard/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
  {% trans "Images" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_products_class %}active{% endblock %}

{% block header_extra %}
  <div class="btn-fab-fixed">
    <a class="btn-fab-default waves-effect waves-light"
       id="images-btn"
       href="{% url 'dashboard:product-image-add' product_pk=product.pk %}"
       title="{% trans "Add image" context "Add image button text" %}">
      <svg data-src="{% static "dashboard/images/add.svg" %}" />
    </a>
  </div>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:product-list" %}" class="breadcrumb">
        {% trans "Products" context "Dashboard products list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:product-list" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <a href="{% url "dashboard:product-details" product.pk %}">{{ product }}</a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">{% trans "Images" %}</span>
    </li>
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div id="images" class="tab-content col s12 m9">
      <form action="{% url 'dashboard:product-images-upload' product_pk=product.pk %}" id="product-image-form" novalidate>
        <div class="dz-message"></div>
        {% csrf_token %}
        <div class="row">
          <ul class="product-gallery sortable-items" data-post-url="{% url 'dashboard:product-images-reorder' product_pk=product.pk %}" data-post-name="ordered_images">
            {% if images %}
              {% for image in images %}
                <li class="col s12 m6 l4 sortable-item"
                    data-id="{{ image.pk }}">
                  <div class="card">
                    <div class="card-image product-gallery-item-image">
                      <img class="responsive-img"
                           src="{{ image.image.crop.255x255 }}"
                           srcset="{{ image.image.crop.255x255 }} 1x, {{ image.image.crop.510x510 }} 2x"
                           alt="">
                    </div>
                    <div class="card-content">
                      <span class="product-gallery-item-title card-title black-text" title="{{ image.alt }}">
                        {% if image.alt %}
                          {{ image.alt }}
                        {% else %}
                          <span class="grey-text">
                            {% trans "No description" context "Image card text" %}
                          </span>
                        {% endif %}
                      </span>
                    </div>
                    <div class="sortable__drag-area"></div>
                    <div class="card-action">
                      <a class="btn-flat waves-effect"
                         href="{% url 'dashboard:product-image-update' product_pk=product.pk img_pk=image.pk %}">
                        {% trans "Edit" context "Dashboard edit action" %}
                      </a>
                      <a href="#base-modal"
                         class="btn-flat waves-effect modal-trigger-custom"
                         data-href="{% url 'dashboard:product-image-delete' product_pk=product.pk img_pk=image.pk %}">
                        {% trans "Remove" context "Dashboard remove action" %}
                      </a>
                    </div>
                  </div>
                </li>
              {% endfor %}
            {% else %}
              <div class="sortable__drag-area"></div>
            {% endif %}
          </ul>
        <div class="col s12 m6 l4 product-gallery-item dropzone-message">
          <div class="row">
            <span class="product-gallery-item-title product-gallery-item-title--noclip card-title black-text">
              <span class="grey-text hide-on-med-and-down">
                {% trans "Drop images here to upload" context "Image gallery upload box text" %}
              </span>
            </span>
          </div>
        </div>
      </div>
      </form>
      <script type="application/template" id="template">
        <li class="col s12 m6 l4 product-gallery-item dz-preview dz-file-preview" data-id="{{ image.pk }}">
          <div class="card">
            <div class="card-image product-gallery-item-image">
              <img data-dz-thumbnail />
            </div>
            <div class="dz-progress">
              <span class="dz-upload" data-dz-uploadprogress></span>
            </div>
            <div class="card-content">
              <span class="product-gallery-item-title card-title black-text">
                <span class="grey-text">
                  {% trans "No description" context "Empty image gallery message" %}
                </span>
              </span>
            </div>
            <div class="sortable__drag-area"></div>
            <div class="card-action">
              <a class="btn-flat waves-effect card-action-edit" data-href-template="{% url 'dashboard:product-image-update' product_pk=product.pk img_pk=0 %}">
                {% trans "Edit" context "Dashboard edit action" %}
              </a>
              <a href="#base-modal" class="btn-flat waves-effect card-action-delete modal-trigger-custom"
              data-href-template="{% url 'dashboard:product-image-delete' product_pk=product.pk img_pk=0 %}">
                {% trans "Remove" context "Dashboard remove action" %}
              </a>
            </div>
            </div>
        </li>
      </script>
    </div>
  </div>
{% endblock %}
