{% extends "dashboard/base_modal_confirm_delete.html" %}

{% load i18n %}

{% block action_url %}
{% url 'dashboard:product-image-delete' product_pk=product.pk img_pk=image.pk %}
{% endblock %}

{% block title %}
  {% blocktrans trimmed context "Modal delete image text" %}
    Delete product image?
  {% endblocktrans %}
{% endblock %}

{% block content %}
  {% blocktrans trimmed context "Modal delete image text" %}
    Are you sure you want to delete product image?
  {% endblocktrans %}
{% endblock content %}
