{% load i18n %}

{% if widget.is_initial %}
{% endif %}
<div class="sizedimage-mod preview">
  <label class="versatileimagefield-label">
    {% trans "Primary Point of Interest" %}
  </label>
  <p class="margin">
    {% trans "Pick the most relevant part of the image using the red circle." context "Image form text" %}
  </p>
  <div class="image-wrap outer">
    <div class="point-stage" id="{{ widget.point_stage_id }}" data-image_preview_id="{{ widget.image_preview_id }}">
      <div class="ppoi-point" id="{{ widget.ppoi_id }}"></div>
    </div>
    {% if widget.value %}
      <div class="image-wrap inner">
        <img src="{{ widget.sized_url }}" id="{{ widget.image_preview_id }}"
             data-hidden_field_id="{{ widget.hidden_field_id }}"
             data-point_stage_id="{{ widget.point_stage_id }}"
             data-ppoi_id="{{ widget.ppoi_id }}" class="sizedimage-preview"/>
      </div>
    {% endif %}
  </div>
</div>
