{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load materializecss %}

{% block title %}{% if site.pk %}{{ site }}{% else %}{% trans "Add new site settings" context "Site settings page title" %}{% endif %} - {% trans "Site settings" context "Site settings page title" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-settings{% endblock %}

{% block menu_settings_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li class="visible-s">{% trans "Site settings" context "Site settings breadcrumbs" %}</li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 m9">
      <div class="card">
        <form method="post" id="form-category" enctype="multipart/form-data" novalidate>
          <div class="card-content">
            {% csrf_token %}
            <div class="row">
              {{ form.name|materializecss }}
            </div>
            <div class="row">
              {{ form.domain|materializecss }}
            </div>
            <div class="row">
              {{ form.header_text|materializecss }}
            </div>
            <div class="row">
              {{ form.description|materializecss }}
            </div>
          </div>

          <div class="card-action right-align">
            <button type="submit" class="btn btn-flat">{% trans "Update" context "Site settings action" %}</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col s12 m3 help-box"></div>
  </div>
{% endblock %}
