{% extends 'dashboard/base.html' %}

{% load i18n %}
{% load prices_i18n %}
{% load staticfiles %}

{% block title %}
    {{ site }} - {{ block.super }}
{% endblock %}

{% block menu_settings_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <span class="breadcrumbs--elipsed-item">
        Site settings
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {{ site.site.name }}
          </span>
          <div class="row">
            <div class="col s12 m4 l12">
              <h4>
                {% trans "Domain" context "Site settings field" %}
              </h4>
              <p>
                {{ site.site.domain }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m4 l12">
              <h4>
                {% trans "Header text" context "Site settings field" %}
              </h4>
              <p>
                {{ site.header_text }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m4 l12">
              <h4>
                {% trans "Description" context "Site settings field" %}
              </h4>
              <p>
                {% if site.description %}
                  {{ site.description }}
                {% else %}
                  -
                {% endif %}
              </p>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a class="btn-flat waves-effect" href="{% url 'dashboard:site-update' pk=site.pk %}">
            {% trans "Edit site settings" context "Shipping method action" %}
          </a>
        </div>
      </div>
    </div>
    <div class="col s12 l9">
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {% trans "Authorization keys" context "Title of the authorization keys list" %}
          </span>
        </div>
        <div class="data-table-header-action">
          <a href="{% url 'dashboard:authorization-key-add' site_settings_pk=site.pk %}" class="btn-flat waves-effect">
            {% trans "Add" %}
          </a>
        </div>
        <div class="data-table-container">
          <table class="bordered highlight responsive data-table">
            <thead>
              <tr>
                <th>
                  {% trans "Name" context "Header of authorization keys list" %}
                </th>
                <th>
                  {% trans "Key" context "Header of authorization keys list" %}
                </th>
              </tr>
            </thead>
            <tbody>
              {% for key in authorization_keys %}
                <tr>
                  <td>{{ key.name }}</td>
                  <td>{{ key.key }}</td>
                  <td class="right-align">
                    <a href="{% url 'dashboard:authorization-key-edit' site_settings_pk=site.pk key_pk=key.pk %}" class="btn-flat waves-effect">
                      {% trans 'Edit' context 'Authorization key edit action' %}
                    </a>
                    <a class="btn-flat waves-effect modal-trigger-custom" href="#base-modal" data-href="{% url 'dashboard:authorization-key-delete' site_settings_pk=site.pk key_pk=key.pk %}">
                      {% trans 'Remove' context 'Authorization key remove action' %}
                    </a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="2">{% trans "No authorization keys" context "Empty list of authorization keys" %}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
