{% extends "dashboard/base.html" %}

{% load i18n %}
{% load materializecss %}

{% block title %}{% blocktrans %}Edit {{ address_type }} address{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block body_class %}body-orders{% endblock %}

{% block page_title %}
    {% if address_type == "shipping" %}
        {% trans "Edit shipping address" %}
    {% else %}
        {% trans "Edit billing address" %}
    {% endif %}
{% endblock %}

{% block content %}
<form class="row" method="post">
    <div class="col m6">
        {% csrf_token %}
        {{ form|materializecss }}
    </div>
    <div class="col s12">
        <p>
            <button type="submit" class="btn btn-primary"><i class="mdi-content-save"></i> {% trans "Update" %}</button>
            <a href="{% url 'dashboard:order-details' pk=order.pk %}" class="btn btn-default"><i class="mdi-content-clear"></i> {% trans "Cancel" %}</a>
        </p>
    </div>
</form>
{% endblock content %}
