{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load bootstrap %}

{% block title %}Order details{% endblock %}

{% block content %}
<div class="row">
    <h1 class="page-header">Order #{{ order.id }}</h1>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Order contents</span>
            </div>
            <div class="panel-body">
                <form method="post" action="">
                    {{ order_formset.management_form }}
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-sm-3">{% trans "Name" %}</th>
                                <th class="col-sm-3">{% trans "Variant" %}</th>
                                <th class="col-sm-3">{% trans "SKU" %}</th>
                                <th class="col-sm-3">{% trans "Price" %}</th>
                                <th class="col-sm-3">{% trans "Quantity" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in order_formset %}
                                <tr>
                                    <td class="col-sm-3"><a href="{% url "dashboard:product-update" pk=form.item.product_id %}">{{ form.item.product }}</a></td>
                                    <td>{{ form.item.product_name }}</td>
                                    <td>{{ form.item.product_sku }}</td>
                                    <td>{% gross form.item.get_price_per_item %}</td>
                                    <td>{{ form.quantity }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tr>
                            <td colspan="4"></td>
                            <td>
                                <button class="btn btn-default" type="submit" name="order_formset">
                                    {% csrf_token %}
                                    {% trans "Update quantities" %}
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5"><strong>{% trans "Order totals" %}</strong></td>
                        </tr>
                        <tr>
                            <td colspan="4">{% trans "Delivery" %}</td>
                            <td>{% gross order.get_delivery_total %}</td>
                        </tr>
                        <tr>
                            <td colspan="4">{% trans "Total" %}</td>
                            <td>{% gross order.get_total %}</td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><span class="panel-title">{% trans "Manage payment" %}</span></div>
            <div class="panel-body">
                {% if payment %}
                    <p>{% trans "Total amount:" %} {{ payment.total }} {{ payment.currency }}</p>
                    <p>{% trans "Captured amount:" %} {{ payment.captured_amount }} {{ payment.currency }}</p>
                    {% if refunded_amount %}
                        <p>{% trans "Refunded amount:" %} {{ refunded_amount }} {{ payment.currency }}</p>
                    {% endif %}
                        {% if can_capture or can_refund %}
                        <form class="form-inline" role="form" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label"for="amount">{% trans "Amount" %}</label>
                                {% render_widget payment_form.amount class="form-control" %}
                                {% if can_capture %}
                                    <button class="btn btn-success" type="submit" name='payment_form' value='capture'>{% trans "Capture" %}</button>
                                {% elif can_refund %}
                                    <button class="btn btn-danger" type="submit" name='payment_form' value='refund'>{% trans "Refund" %}</button>
                                {% endif %}
                            </div>
                        </form>
                        {% endif %}

                        {% if can_release %}
                        <form class="form-inline" method="post" role="form">
                            {% csrf_token %}
                            <label class="control-label">{% trans "Release payment" %}</label>
                            <input type="submit" class="btn btn-danger" name='release_action' value="Release"/>
                        </form>
                        {% endif %}
                {% else %}
                    <span>{% trans "No payment for this order" %}</span>
                {% endif %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">History</span>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#order-history" role="tab" data-toggle="tab">Order history</a></li>
                    <li><a href="#payment-history" role="tab" data-toggle="tab">Payment history</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="order-history">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Order status</th>
                                    <th>User</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in order.history.all %}
                                <tr>
                                    <td>{{ event.date }}</td>
                                    <td>{% include 'dashboard/includes/_status_label.html' with status=event.status status_display=event.get_status_display %}</td>
                                    <td>{{ event.user|default:"-" }}</td>
                                    <td>{{ event.comment|default:"-" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="payment-history">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Payment status</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in order.payments.all %}
                                <tr>
                                    <td>{{ payment.created }}</td>
                                    <td>{% include 'dashboard/includes/_status_label.html' with status=payment.status status_display=payment.get_status_display %}</td>
                                    <td><a href="{% url "dashboard:payment-details" pk=payment.pk %}">Details</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="order-notes">
            <div class="panel-heading">
                <span class="panel-title">Order notes</span>
                <span class="pull-right"><a data-toggle="collapse" href="#add-order-note"><i class="glyphicon glyphicon-plus"></i> Add note</a></span>
            </div>
            <div class="panel-body">
                {% if notes %}
                    <ul class="list-unstyled">
                    {% for note in notes %}
                        <li>
                            <small>{{ note.user }} - {{ note.date }}</small>
                            <p>{{ note.content }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <span>-</span>
                {% endif %}
                <div id="add-order-note" class="collapse">
                    <form class="form-horizontal" role="form" method="post">
                        {% csrf_token %}
                        {{ note_form|as_vertical_form }}
                        <div class="form-group">
                            <button name='note_form' type="submit" class="btn btn-default">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Order summary</span>
            </div>
            <div class="panel-body">
                <p>Order date: {{ order.created }}</p>
                <p>Order status: {% include 'dashboard/includes/_status_label.html' with status=order.status status_display=order.get_status_display %}</p>
                <p>Payment status: {% include 'dashboard/includes/_status_label.html' with status=order.get_last_payment_status status_display=order.get_last_payment_status_display %}</p>
                <p>Total: {% gross order.get_total %}</p>
                {% if payment %}
                    <p>Captured: {{ payment.captured_amount }} {{ payment.currency }}</p>
                {% endif %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Customer details <i class="glyphicon glyphicon-user pull-right"></i></span>
            </div>
            <div class="panel-body">
                <div class="address">
                    {% if order.user %}
                        <div>Account: <a href="{% url "dashboard:customer-details" pk=order.user.pk %}">{{ order.user }}</a></div>
                    {% else %}
                        <div>Account: Anonymous</div>
                    {% endif %}
                    <div>
                        <span class="glyphicon glyphicon-envelope"></span>
                        {{ order.get_user_email }}
                    </div>
                    <div>IP Address: {{ request.META.REMOTE_ADDR }}</div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            {% with order.billing_address as address %}
            <div class="panel-heading">
                <span class="panel-title">Billing address</span>
                <span class="pull-right"><a href="{% url "dashboard:address-edit" order_pk=order.pk address_type='billing' %}"><i class="glyphicon glyphicon-cog"></i> Edit</a></span>
            </div>
            <div class="panel-body">
                {% include 'dashboard/includes/_address.html' with address=address only %}
            </div>
            {% endwith %}
        </div>
        <div class="panel panel-default">
            {% with view.get_delivery_info as delivery %}
                <div class="panel-heading">
                    <span class="panel-title">Shipping address</span>
                    <span class="pull-right"><a href="{% url "dashboard:address-edit" order_pk=order.pk address_type='shipping' %}"><i class="glyphicon glyphicon-cog"></i> Edit</a></span>
                </div>
                <div class="panel-body">
                    {% if delivery %}
                        {% include 'dashboard/includes/_address.html' with address=delivery.address only %}
                    {% else %}
                        <span>No shipping address</span>
                    {% endif %}
                </div>
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
