{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load status %}

{% block title %}{% trans "Orders" %} - {{ block.super }}{% endblock %}

{% block page_title %}{% trans "Orders" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% include "dashboard/includes/_status_filters.html" %}
            {% include "dashboard/includes/_orders_table.html" with orders=object_list %}
            {% include "dashboard/includes/_pagination.html" %}
        </div>
    </div>
{% endblock %}
