{% load i18n %}
{% load bootstrap %}
{% load materializecss %}

<div class="modal-content">
    <h5>{% trans "Edit order line " %}{{ object.product }} ({{ object }})</h5>

    <form class="form-inline" method="post" role="form" action="{% url 'dashboard:order-line-edit' pk=object.pk action='change_quantity' %}">
        {% csrf_token %}
        <span>{% trans "Change quantity: " %}{% render_widget change_quantity_form.quantity class="form-control input-sm" %}
        <button type="submit" class="btn-flat teal-text">OK</button></span>
    </form>


    <form class="form-inline" method="post" role="form" action="{% url 'dashboard:order-line-edit' pk=object.pk action='move_items' %}">
        {% csrf_token %}
        <span>Move {% render_widget move_items_form.how_many class="form-control input-sm" %} items to delivery group: {% render_widget move_items_form.groups class="form-control input-sm" %}
        <button type="submit" class="btn-flat teal-text">OK</button></span>
    </form>
</div>

<div class="modal-footer">
    <a href="#!" aria-hidden="true" class="modal-action modal-close btn-flat blue-text">{% trans "Cancel" %}</a>
</div>
