{% load i18n %}
{% load babel %}
{% load bootstrap %}
{% load prices_i18n %}

<form role="form" method="post" action="{% url 'dashboard:manage-payment' pk=payment.pk action=action %}">
    {% csrf_token %}

    <div class="modal-content">
        <h5>{{ action|capfirst }} {% trans "payment" %}</h5>

        <label class="control-label" for="amount">{% blocktrans %}Amount to {{ action }}:{% endblocktrans %}</label>
        {% render_widget form.amount class="form-control" %} {{ currency }}

        <p>{% trans "Before this action" %}</p>

        <ul>
            <li>{% trans "Order total: " %}{% gross payment.order.get_total %}</li>
            <li>{% trans "Captured amount: " %}{{ captured|currencyfmt:currency }} </li>
        </ul>
    </div>

    <div class="modal-footer">
        <button type="submit" class="modal-action btn-flat{% if action == 'capture' %} blue-text{% else %} red-text{% endif %}">{{ action|capfirst }}</button>
        <a href="#!" aria-hidden="true" class="modal-action modal-close btn-flat blue-text">{% trans "Cancel" %}</a>
    </div>
</form>
