{% load i18n %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% if addresses_form.SHIPPING_ADDRESS %}
    {% trans "Same as shipping" context "Checkout addresses form label" as same_as_shipping %}
    {% include "checkout/snippets/addresses_form_panel.html" with parent_element_id="accordion" radio_name=addresses_form.address.html_name radio_value=addresses_form.SHIPPING_ADDRESS label=same_as_shipping value=addresses_form.address.value only %}
  {% endif %}
  {% for address in addresses %}
    {% include "checkout/snippets/addresses_form_panel.html" with parent_element_id="accordion" radio_name=addresses_form.address.html_name radio_value=address.id label=address value=addresses_form.address.value address=address only %}
  {% endfor %}
  {% if addresses_form.NEW_ADDRESS and address_form %}
    {% trans "Enter a new address" context "Checkout addresses form label" as enter_a_new_address %}
    {% include "checkout/snippets/addresses_form_panel.html" with parent_element_id="accordion" radio_name=addresses_form.address.html_name radio_value=addresses_form.NEW_ADDRESS label=enter_a_new_address value=addresses_form.address.value address_form=address_form only %}
  {% endif %}
</div>
