 {% load i18n_address_tags %}
 <div class="checkout__addresses-panel radio {% if not address_show %} address_hide{% else %} address_show{% endif %}">
  <label>
    <div class="card card-default">
      <div class="card-body">
        <input type="radio" name="{{ radio_name }}" value="{{ radio_value }}" id="address_{{ radio_value }}" {% if radio_value == value %}checked{% endif %}>
        {% if address %}
          <div class="address-details">
            {% format_address address %}
          </div>
        {% else %}
          {{ label }}
        {% endif %}
      </div>
    </div>
  </label>
</div>
<div class="checkout__new-address-container">
  {% if address_form %}
    <div class="checkout__new-address">
      {% include "account/snippets/address_form.html" with address_form=address_form only %}
    </div>
  {% endif %}
</div>
