<div class="radio {% if address or label == _('Same as shipping') %} address_hide{% else %} address_show{% endif %}">
  <label>
      <input type="radio"
             name="{{ radio_name }}"
             value="{{ radio_value }}"
             id="address_{{ radio_value }}"
             {% if radio_value == value %}checked{% endif %}>
               {% if address %}
                  {% include "userprofile/snippets/address-short.html" with address=address only %}
               {% else %}
                  {{ label }}
               {% endif %}
  </label>
</div>
<div>
  {% if address_form %}
    <div class="checkout__new-address">
        {% include "userprofile/snippets/address-form.html" with address_form=address_form only %}
    </div>
  {% endif %}
</div>
