{% load bootstrap_field bootstrap_button from bootstrap4 %}
{% load trans from i18n %}
{% load discount_as_negative from voucher %}

{% if form %}
  {% if checkout.discount_amount %}
    <form action="{% url "checkout:remove-voucher" %}?next={{ request.path }}"
          method="post"
          class="float-left input-btn">
      {% csrf_token %}
      <span>{{ checkout.translated_discount_name|default:checkout.discount_name }}</span>
      <button type="submit"
              class="btn btn-link btn-voucher-remove"
              aria-label="{% trans "Remove" context "Checkout voucher form action" %}">
        {% trans "(Remove)" context "Checkout voucher form action" %}
      </button>
    </form>
    <div class="float-right">
      {% discount_as_negative checkout.discount_amount %}
    </div>
  {% else %}
    <form action="{{ request.path }}?next={{ request.path }}" method="post">
      {% csrf_token %}
      <div class="form-group input-btn">
        {% trans "Use" context "Checkout voucher form action" as use_voucher %}
        {% if form.errors %}
          {% bootstrap_field form.voucher show_label=False show_help=False placeholder=False %}
        {% else %}
          {% bootstrap_field form.voucher show_label=False show_help=True placeholder=False %}
        {% endif %} {% bootstrap_button use_voucher button_type="submit" button_class="btn secondary narrow" %}
      </div>
    </form>
  {% endif %}
{% endif %}
