{% extends "base.html" %}

{% load as_vertical_form from bootstrap %}
{% load discounted_price_range price_difference from discount %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load markdown from markdown %}
{% load price_range from price_ranges %}

{% block title %}{{ product }} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></li>
    <li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
{% endblock breadcrumb %}

{% block outercontent %}
<div itemscope itemtype="http://schema.org/Product">
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <h1 itemprop="name">
                {{ product }}
            </h1>

            {% if product.is_in_stock %}
                {% with price_range=product|discounted_price_range:request.discounts undiscounted=product.get_price_range %}
                    {% with discount=undiscounted.min_price|price_difference:price_range.min_price %}
                        <p class="lead" itemprop="offers" itemscope itemtype="http://schema.org/Offer"
                            {% if undiscounted.min_price != price_range.min_price %}
                                <span class="price undiscounted">{% price_range undiscounted %}</span>
                                <br>
                                <span class="price">{% price_range price_range %}</span>
                                <br>
                                <small class="label label-success">{% trans "You save" %} {% gross discount %}</small>
                            {% else %}
                                <span class="price">{% price_range price_range %}</span>
                            {% endif %}
                        </p>
                    {% endwith %}
                {% endwith %}
            {% endif %}

            <hr>

            <div class="visible-xs">
                <img class="img-responsive" src="{{ product.images.first.image.thumbnail.750x750 }}" alt="">

                <hr>
            </div>

            {% if product.is_in_stock %}
                {% block orderform %}
                <form role="form" class="product-form form-vertical" method="post" action=".">
                    {% csrf_token %}
                    {{ form|as_vertical_form }}

                    <div class="form-group">
                        <button class="btn btn-lg btn-block btn-primary">
                            {% trans "Add to cart" %}
                        </button>
                    </div>
                </form>
                {% endblock %}
            {% else %}
                <p class="alert alert-warning">{% trans "This product is currently <strong>unavailable</strong>." %}</p>
            {% endif %}

            <hr>

            <div itemprop="description">
                {{ product.description|markdown }}
            </div>

        </div>

        {% with images=product.images.all %}
        <div class="col-sm-6 col-sm-pull-6">
            <div id="product-carousel" class="carousel slide hidden-xs" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in images %}
                        <li data-target="#product-carousel" data-slide-to="{{ forloop.counter0 }}"
                            {% if forloop.first %} class="active"{% endif %}></li>
                    {% endfor %}
                </ol>

                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="item{% if forloop.first %} active{% endif %}">
                        <a href="#" data-toggle="modal" data-target="#modal-{{ forloop.counter }}">
                            <img class="img-responsive" src="{{ image.image.thumbnail.750x750 }}" alt="">
                        </a>
                    </div>
                    {% endfor %}
                </div>

                {% for image in images %}
                <div class="modal fade" id="modal-{{ forloop.counter }}"
                     tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ forloop.counter }}" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel{{ forloop.counter }}">{{ product }}</h4>
                            </div>

                            <div class="modal-body">
                                <img class="img-responsive" src="" data-src="{{ image.image.url }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <a class="left carousel-control" href="#product-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#product-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

            <div class="product-gallery row">
                {% for image in images %}
                <a href="{{ image.image.url }}" target="_blank" class="product-gallery-item col-xs-6 col-md-3">
                    <img class="thumbnail img-responsive" src="{{ image.image.crop.280x280 }}" alt="">
                </a>
                {% endfor %}
            </div>
        </div>
        {% endwith %}
    </div>
</div>
{% endblock outercontent %}

{% block footer_scripts %}
    {{ block.super }}
    <script>
    $(function() {
        var $carousel = $('.carousel'),
            $items = $('.product-gallery-item'),
            $modal = $('.modal');

        $items.on('click', function(e) {
            if ($('.carousel').is(':visible')) {
                e.preventDefault();
            }
            var index = $(this).index();

            $carousel.carousel(index);
        });

        $modal.on('show.bs.modal', function() {
            var $img = $(this).find('.modal-body img'),
                dataSrc = $img.attr('data-src');

            $img.attr('src', dataSrc);
        });
    });
    </script>
{% endblock %}
