{% extends "product/details.html" %}
{% load i18n %}
{% load as_vertical_form from bootstrap %}


{% block stockinfo %}
    {% for variant in product.variants.all %}
        {{ variant.get_size_display }}
        {% if product.stock == 0 %}
            <link itemprop="availability" href="http://schema.org/OutOfStock"/>
            <span class="label label-danger">{% trans "Out of stock" %}</span>
        {% else %}
            <link itemprop="availability" href="http://schema.org/InStock"/>
            <span class="label label-default">{% trans "In stock" %}</span>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block orderform %}
    <form role="form" class="form-vertical" method="post" action=".">
        {% csrf_token %}
        {{ form.quantity|as_vertical_form }}
        {{ form.size }}

        <div class="form-group">
            <p>{% trans "Final price" %} <span
                    id="final-price">0.00</span> {{ price.currency }}</p>
            <button class="btn btn-default">
                {% trans "Add to cart" %}
            </button>
        </div>
    </form>
{% endblock %}
