{% extends "base.html" %}

{% load as_vertical_form from bootstrap %}
{% load undiscounted_price price_difference from discount %}
{% load i18n %}
{% load at_size from images %}
{% load gross from prices %}

{% block title %}{{ product }} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></li>
    <li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
{% endblock breadcrumb %}

{% block outercontent %}
{% with price=product.get_price undiscounted=product|undiscounted_price %}
{% with discount=undiscounted|price_difference:price %}
<div itemscope itemtype="http://schema.org/Product">
    <h1 itemprop="name">
        {{ product }}
    </h1>
    <div class="row">
        <div class="col-sm-8">
            {% for image in product.images.all %}
                <img class="img-responsive" src="{{ image|at_size:"normal" }}" alt="">
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span class="price" itemprop="price">{% gross price %}</span>
                {% if undiscounted != price %}
                    <br>
                    <span class="price undiscounted">{% gross undiscounted %}</span>
                    <br>
                    <small class="label label-success">{% trans "You save" %} {% gross discount %}</small>
                {% endif %}
            </p>
            <p>
                {% if product.stock == 0 %}
                <link itemprop="availability" href="http://schema.org/OutOfStock" /> <span class="label label-danger">{% trans "Out of stock" %}</span>
                {% else %}
                <link itemprop="availability" href="http://schema.org/InStock" /> <span class="label label-default">{% trans "In stock" %}</span>
                {% endif %}
            </p>
            <hr>
            <form role="form" class="form-vertical" method="post" action=".">
                {% csrf_token %}
                {{ form.quantity|as_vertical_form }}

                <div class="form-group">
                    <button class="btn btn-default">
                        {% trans "Add to cart" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endwith %}
{% endwith %}
{% endblock outercontent %}
