interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesOrder",
      "lines": [{"quantity": 3, "amount": "15.00", "taxCode": "O9999999", "taxIncluded":
      false, "itemCode": "123", "description": ""}, {"quantity": 2, "amount": "10.00",
      "taxCode": "O9999999", "taxIncluded": false, "itemCode": "SKU_A", "description":
      ""}, {"quantity": 1, "amount": "10.00", "taxCode": "FR020100", "taxIncluded":
      false, "itemCode": "Shipping", "description": ""}], "code": "9bb6f1df-bcd4-432b-ba4c-88af33040864",
      "date": "2019-06-26", "customerCode": 0, "addresses": {"shipFrom": {"line1":
      "2000 Main Street", "line2": "", "city": "Irvine", "region": "CA", "country":
      "US", "postalCode": "92614"}, "shipTo": {"line1": "T\u0119czowa 7", "line2":
      "", "city": "WROC\u0141AW", "region": "", "country": "PL", "postalCode": "53-601"}},
      "commit": false, "currencyCode": "USD", "email": ""}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: "{\"id\":0,\"code\":\"9bb6f1df-bcd4-432b-ba4c-88af33040864\",\"companyId\"\
        :242975,\"date\":\"2019-06-26\",\"paymentDate\":\"2019-06-26\",\"status\"\
        :\"Temporary\",\"type\":\"SalesOrder\",\"currencyCode\":\"USD\",\"customerVendorCode\"\
        :\"0\",\"customerCode\":\"0\",\"reconciled\":false,\"totalAmount\":35.0,\"\
        totalExempt\":0.0,\"totalDiscount\":0.0,\"totalTax\":8.05,\"totalTaxable\"\
        :35.0,\"totalTaxCalculated\":8.05,\"adjustmentReason\":\"NotAdjusted\",\"\
        locked\":false,\"version\":1,\"exchangeRateEffectiveDate\":\"2019-06-26\"\
        ,\"exchangeRate\":1.0,\"email\":\"\",\"modifiedDate\":\"2019-06-26T10:51:53.0353637Z\"\
        ,\"modifiedUserId\":283192,\"taxDate\":\"2019-06-26T00:00:00\",\"lines\":[{\"\
        id\":0,\"transactionId\":0,\"lineNumber\":\"1\",\"description\":\"\",\"discountAmount\"\
        :0.0,\"exemptAmount\":0.0,\"exemptCertId\":0,\"isItemTaxable\":true,\"itemCode\"\
        :\"123\",\"lineAmount\":15.0,\"quantity\":3.0,\"reportingDate\":\"2019-06-26\"\
        ,\"tax\":3.45,\"taxableAmount\":15.0,\"taxCalculated\":3.45,\"taxCode\":\"\
        O9999999\",\"taxCodeId\":5340,\"taxDate\":\"2019-06-26\",\"taxIncluded\":false,\"\
        details\":[{\"id\":0,\"transactionLineId\":0,\"transactionId\":0,\"country\"\
        :\"PL\",\"region\":\"PL\",\"exemptAmount\":0.0,\"jurisCode\":\"PL\",\"jurisName\"\
        :\"POLAND\",\"stateAssignedNo\":\"\",\"jurisType\":\"CNT\",\"jurisdictionType\"\
        :\"Country\",\"nonTaxableAmount\":0.0,\"rate\":0.230000,\"tax\":3.45,\"taxableAmount\"\
        :15.0,\"taxType\":\"Output\",\"taxSubTypeId\":\"O\",\"taxName\":\"Standard\
        \ Rate\",\"taxAuthorityTypeId\":45,\"taxCalculated\":3.45,\"rateType\":\"\
        Standard\",\"rateTypeCode\":\"S\",\"isNonPassThru\":false}],\"nonPassthroughDetails\"\
        :[],\"hsCode\":\"\",\"costInsuranceFreight\":0.0,\"vatCode\":\"PLS-2300O--US\"\
        ,\"vatNumberTypeId\":0},{\"id\":0,\"transactionId\":0,\"lineNumber\":\"2\"\
        ,\"description\":\"\",\"discountAmount\":0.0,\"exemptAmount\":0.0,\"exemptCertId\"\
        :0,\"isItemTaxable\":true,\"itemCode\":\"SKU_A\",\"lineAmount\":10.0,\"quantity\"\
        :2.0,\"reportingDate\":\"2019-06-26\",\"tax\":2.3,\"taxableAmount\":10.0,\"\
        taxCalculated\":2.3,\"taxCode\":\"O9999999\",\"taxCodeId\":5340,\"taxDate\"\
        :\"2019-06-26\",\"taxIncluded\":false,\"details\":[{\"id\":0,\"transactionLineId\"\
        :0,\"transactionId\":0,\"country\":\"PL\",\"region\":\"PL\",\"exemptAmount\"\
        :0.0,\"jurisCode\":\"PL\",\"jurisName\":\"POLAND\",\"stateAssignedNo\":\"\"\
        ,\"jurisType\":\"CNT\",\"jurisdictionType\":\"Country\",\"nonTaxableAmount\"\
        :0.0,\"rate\":0.230000,\"tax\":2.3,\"taxableAmount\":10.0,\"taxType\":\"Output\"\
        ,\"taxSubTypeId\":\"O\",\"taxName\":\"Standard Rate\",\"taxAuthorityTypeId\"\
        :45,\"taxCalculated\":2.3,\"rateType\":\"Standard\",\"rateTypeCode\":\"S\"\
        ,\"isNonPassThru\":false}],\"nonPassthroughDetails\":[],\"hsCode\":\"\",\"\
        costInsuranceFreight\":0.0,\"vatCode\":\"PLS-2300O--US\",\"vatNumberTypeId\"\
        :0},{\"id\":0,\"transactionId\":0,\"lineNumber\":\"3\",\"description\":\"\"\
        ,\"discountAmount\":0.0,\"exemptAmount\":0.0,\"exemptCertId\":0,\"isItemTaxable\"\
        :true,\"itemCode\":\"Shipping\",\"lineAmount\":10.0,\"quantity\":1.0,\"reportingDate\"\
        :\"2019-06-26\",\"tax\":2.3,\"taxableAmount\":10.0,\"taxCalculated\":2.3,\"\
        taxCode\":\"FR020100\",\"taxCodeId\":4784,\"taxDate\":\"2019-06-26\",\"taxIncluded\"\
        :false,\"details\":[{\"id\":0,\"transactionLineId\":0,\"transactionId\":0,\"\
        country\":\"PL\",\"region\":\"PL\",\"exemptAmount\":0.0,\"jurisCode\":\"PL\"\
        ,\"jurisName\":\"POLAND\",\"stateAssignedNo\":\"\",\"jurisType\":\"CNT\",\"\
        jurisdictionType\":\"Country\",\"nonTaxableAmount\":0.0,\"rate\":0.230000,\"\
        tax\":2.3,\"taxableAmount\":10.0,\"taxType\":\"Output\",\"taxSubTypeId\":\"\
        O\",\"taxName\":\"Standard Rate\",\"taxAuthorityTypeId\":45,\"taxCalculated\"\
        :2.3,\"rateType\":\"Standard\",\"rateTypeCode\":\"S\",\"isNonPassThru\":false}],\"\
        nonPassthroughDetails\":[],\"hsCode\":\"\",\"costInsuranceFreight\":0.0,\"\
        vatCode\":\"PLS-2300F--US\",\"vatNumberTypeId\":0}],\"addresses\":[{\"id\"\
        :0,\"transactionId\":0,\"boundaryLevel\":\"Zip5\",\"line1\":\"T\u0119czowa\
        \ 7\",\"line2\":\"\",\"line3\":\"\",\"city\":\"WROCLAW\",\"region\":\"\",\"\
        postalCode\":\"53-601\",\"country\":\"PL\",\"taxRegionId\":205102,\"latitude\"\
        :\"0\",\"longitude\":\"0\"},{\"id\":0,\"transactionId\":0,\"boundaryLevel\"\
        :\"Zip5\",\"line1\":\"2000 Main Street\",\"line2\":\"\",\"line3\":\"\",\"\
        city\":\"Irvine\",\"region\":\"CA\",\"postalCode\":\"92614\",\"country\":\"\
        US\",\"taxRegionId\":4017409,\"latitude\":\"0\",\"longitude\":\"0\"}],\"summary\"\
        :[{\"country\":\"PL\",\"region\":\"PL\",\"jurisType\":\"Country\",\"jurisCode\"\
        :\"PL\",\"jurisName\":\"POLAND\",\"taxAuthorityType\":45,\"stateAssignedNo\"\
        :\"\",\"taxType\":\"Output\",\"taxSubType\":\"O\",\"taxName\":\"Standard Rate\"\
        ,\"rateType\":\"Standard\",\"taxable\":35.0,\"rate\":0.230000,\"tax\":8.05,\"\
        taxCalculated\":8.05,\"nonTaxable\":0.0,\"exemption\":0.0}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/companies/242975/transactions/0
      ServerDuration:
      - '00:00:00.1187803'
    status:
      code: 201
      message: Created
version: 1
