interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/payment_intents/pi_1F5BsRIUmJaD6Oqvz2XMKZCD
  response:
    body:
      string: "{\n  \"id\": \"pi_1F5BsRIUmJaD6Oqvz2XMKZCD\",\n  \"object\": \"payment_intent\"\
        ,\n  \"amount\": 4242,\n  \"amount_capturable\": 0,\n  \"amount_received\"\
        : 4242,\n  \"application\": null,\n  \"application_fee_amount\": null,\n \
        \ \"canceled_at\": null,\n  \"cancellation_reason\": null,\n  \"capture_method\"\
        : \"manual\",\n  \"charges\": {\n    \"object\": \"list\",\n    \"data\":\
        \ [\n      {\n        \"id\": \"ch_1F5BsRIUmJaD6Oqvl2WF1xdU\",\n        \"\
        object\": \"charge\",\n        \"amount\": 4242,\n        \"amount_refunded\"\
        : 0,\n        \"application\": null,\n        \"application_fee\": null,\n\
        \        \"application_fee_amount\": null,\n        \"balance_transaction\"\
        : \"txn_1F5D3BIUmJaD6OqvpbNul1gK\",\n        \"billing_details\": {\n    \
        \      \"address\": {\n            \"city\": null,\n            \"country\"\
        : null,\n            \"line1\": null,\n            \"line2\": null,\n    \
        \        \"postal_code\": null,\n            \"state\": null\n          },\n\
        \          \"email\": null,\n          \"name\": null,\n          \"phone\"\
        : null\n        },\n        \"captured\": true,\n        \"created\": 1565271719,\n\
        \        \"currency\": \"usd\",\n        \"customer\": null,\n        \"description\"\
        : null,\n        \"destination\": null,\n        \"dispute\": null,\n    \
        \    \"failure_code\": null,\n        \"failure_message\": null,\n       \
        \ \"fraud_details\": {\n        },\n        \"invoice\": null,\n        \"\
        livemode\": false,\n        \"metadata\": {\n        },\n        \"on_behalf_of\"\
        : null,\n        \"order\": null,\n        \"outcome\": {\n          \"network_status\"\
        : \"approved_by_network\",\n          \"reason\": null,\n          \"risk_level\"\
        : \"normal\",\n          \"risk_score\": 10,\n          \"seller_message\"\
        : \"Payment complete.\",\n          \"type\": \"authorized\"\n        },\n\
        \        \"paid\": true,\n        \"payment_intent\": \"pi_1F5BsRIUmJaD6Oqvz2XMKZCD\"\
        ,\n        \"payment_method\": \"pm_1F5BsQIUmJaD6OqvbB4aOcJX\",\n        \"\
        payment_method_details\": {\n          \"card\": {\n            \"brand\"\
        : \"visa\",\n            \"checks\": {\n              \"address_line1_check\"\
        : null,\n              \"address_postal_code_check\": null,\n            \
        \  \"cvc_check\": null\n            },\n            \"country\": \"PL\",\n\
        \            \"exp_month\": 8,\n            \"exp_year\": 2020,\n        \
        \    \"fingerprint\": \"aleqpF0PMAATcfmb\",\n            \"funding\": \"credit\"\
        ,\n            \"last4\": \"0005\",\n            \"three_d_secure\": null,\n\
        \            \"wallet\": null\n          },\n          \"type\": \"card\"\n\
        \        },\n        \"receipt_email\": null,\n        \"receipt_number\"\
        : null,\n        \"receipt_url\": \"https://pay.stripe.com/receipts/acct_1EzlmjIUmJaD6Oqv/ch_1F5BsRIUmJaD6Oqvl2WF1xdU/rcpt_FaMbtUmGgcY6xnKYCxzQgjVlAwLno4y\"\
        ,\n        \"refunded\": false,\n        \"refunds\": {\n          \"object\"\
        : \"list\",\n          \"data\": [\n\n          ],\n          \"has_more\"\
        : false,\n          \"total_count\": 0,\n          \"url\": \"/v1/charges/ch_1F5BsRIUmJaD6Oqvl2WF1xdU/refunds\"\
        \n        },\n        \"review\": null,\n        \"shipping\": null,\n   \
        \     \"source\": null,\n        \"source_transfer\": null,\n        \"statement_descriptor\"\
        : null,\n        \"statement_descriptor_suffix\": null,\n        \"status\"\
        : \"succeeded\",\n        \"transfer_data\": null,\n        \"transfer_group\"\
        : null\n      }\n    ],\n    \"has_more\": false,\n    \"total_count\": 1,\n\
        \    \"url\": \"/v1/charges?payment_intent=pi_1F5BsRIUmJaD6Oqvz2XMKZCD\"\n\
        \  },\n  \"client_secret\": \"pi_1F5BsRIUmJaD6Oqvz2XMKZCD_secret_FnZ8ApzrD4JVONWgCbLGbKAdI\"\
        ,\n  \"confirmation_method\": \"manual\",\n  \"created\": 1565271719,\n  \"\
        currency\": \"usd\",\n  \"customer\": null,\n  \"description\": null,\n  \"\
        invoice\": null,\n  \"last_payment_error\": null,\n  \"livemode\": false,\n\
        \  \"metadata\": {\n  },\n  \"next_action\": null,\n  \"on_behalf_of\": null,\n\
        \  \"payment_method\": \"pm_1F5BsQIUmJaD6OqvbB4aOcJX\",\n  \"payment_method_options\"\
        : {\n    \"card\": {\n      \"request_three_d_secure\": \"automatic\"\n  \
        \  }\n  },\n  \"payment_method_types\": [\n    \"card\"\n  ],\n  \"receipt_email\"\
        : null,\n  \"review\": null,\n  \"setup_future_usage\": null,\n  \"shipping\"\
        : null,\n  \"source\": null,\n  \"statement_descriptor\": null,\n  \"statement_descriptor_suffix\"\
        : null,\n  \"status\": \"succeeded\",\n  \"transfer_data\": null,\n  \"transfer_group\"\
        : null\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-05-16'
    status:
      code: 200
      message: OK
- request:
    body: amount=1000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - be73e68d-808a-4277-a928-b68e68037e88
    method: POST
    uri: https://api.stripe.com/v1/charges/ch_1F5BsRIUmJaD6Oqvl2WF1xdU/refund
  response:
    body:
      string: "{\n  \"id\": \"ch_1F5BsRIUmJaD6Oqvl2WF1xdU\",\n  \"object\": \"charge\"\
        ,\n  \"amount\": 4242,\n  \"amount_refunded\": 1000,\n  \"application\": null,\n\
        \  \"application_fee\": null,\n  \"application_fee_amount\": null,\n  \"balance_transaction\"\
        : \"txn_1F5D3BIUmJaD6OqvpbNul1gK\",\n  \"billing_details\": {\n    \"address\"\
        : {\n      \"city\": null,\n      \"country\": null,\n      \"line1\": null,\n\
        \      \"line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n\
        \    },\n    \"email\": null,\n    \"name\": null,\n    \"phone\": null\n\
        \  },\n  \"captured\": true,\n  \"created\": 1565271719,\n  \"currency\":\
        \ \"usd\",\n  \"customer\": null,\n  \"description\": null,\n  \"destination\"\
        : null,\n  \"dispute\": null,\n  \"failure_code\": null,\n  \"failure_message\"\
        : null,\n  \"fraud_details\": {\n  },\n  \"invoice\": null,\n  \"livemode\"\
        : false,\n  \"metadata\": {\n  },\n  \"on_behalf_of\": null,\n  \"order\"\
        : null,\n  \"outcome\": {\n    \"network_status\": \"approved_by_network\"\
        ,\n    \"reason\": null,\n    \"risk_level\": \"normal\",\n    \"risk_score\"\
        : 10,\n    \"seller_message\": \"Payment complete.\",\n    \"type\": \"authorized\"\
        \n  },\n  \"paid\": true,\n  \"payment_intent\": \"pi_1F5BsRIUmJaD6Oqvz2XMKZCD\"\
        ,\n  \"payment_method\": \"pm_1F5BsQIUmJaD6OqvbB4aOcJX\",\n  \"payment_method_details\"\
        : {\n    \"card\": {\n      \"brand\": \"visa\",\n      \"checks\": {\n  \
        \      \"address_line1_check\": null,\n        \"address_postal_code_check\"\
        : null,\n        \"cvc_check\": null\n      },\n      \"country\": \"PL\"\
        ,\n      \"exp_month\": 8,\n      \"exp_year\": 2020,\n      \"fingerprint\"\
        : \"aleqpF0PMAATcfmb\",\n      \"funding\": \"credit\",\n      \"last4\":\
        \ \"0005\",\n      \"three_d_secure\": null,\n      \"wallet\": null\n   \
        \ },\n    \"type\": \"card\"\n  },\n  \"receipt_email\": null,\n  \"receipt_number\"\
        : null,\n  \"receipt_url\": \"https://pay.stripe.com/receipts/acct_1EzlmjIUmJaD6Oqv/ch_1F5BsRIUmJaD6Oqvl2WF1xdU/rcpt_FaMbtUmGgcY6xnKYCxzQgjVlAwLno4y\"\
        ,\n  \"refunded\": false,\n  \"refunds\": {\n    \"object\": \"list\",\n \
        \   \"data\": [\n      {\n        \"id\": \"re_1F5ES2IUmJaD6Oqv7emYlU1k\"\
        ,\n        \"object\": \"refund\",\n        \"amount\": 1000,\n        \"\
        balance_transaction\": \"txn_1F5ES2IUmJaD6OqvJLdKm7MT\",\n        \"charge\"\
        : \"ch_1F5BsRIUmJaD6Oqvl2WF1xdU\",\n        \"created\": 1565281614,\n   \
        \     \"currency\": \"usd\",\n        \"metadata\": {\n        },\n      \
        \  \"reason\": null,\n        \"receipt_number\": null,\n        \"source_transfer_reversal\"\
        : null,\n        \"status\": \"succeeded\",\n        \"transfer_reversal\"\
        : null\n      }\n    ],\n    \"has_more\": false,\n    \"total_count\": 1,\n\
        \    \"url\": \"/v1/charges/ch_1F5BsRIUmJaD6Oqvl2WF1xdU/refunds\"\n  },\n\
        \  \"review\": null,\n  \"shipping\": null,\n  \"source\": null,\n  \"source_transfer\"\
        : null,\n  \"statement_descriptor\": null,\n  \"statement_descriptor_suffix\"\
        : null,\n  \"status\": \"succeeded\",\n  \"transfer_data\": null,\n  \"transfer_group\"\
        : null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - be73e68d-808a-4277-a928-b68e68037e88
      original-request:
      - req_AvzNPKR2rCCyy9
      stripe-version:
      - '2019-05-16'
    status:
      code: 200
      message: OK
version: 1
