interactions:
- request:
    body: payment_method=abcdefghijklmnoprstquwz&amount=4242&currency=usd&confirmation_method=manual&confirm=True&capture_method=automatic
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ceca05d8-534b-4de0-a1ed-51fcff242024
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"resource_missing\",\n    \"doc_url\"\
        : \"https://stripe.com/docs/error-codes/resource-missing\",\n    \"message\"\
        : \"No such payment_method: abcdefghijklmnoprstquwz\",\n    \"param\": \"\
        payment_method\",\n    \"type\": \"invalid_request_error\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - ceca05d8-534b-4de0-a1ed-51fcff242024
      original-request:
      - req_NpPPwz4gRweJlh
      stripe-version:
      - '2019-05-16'
    status:
      code: 400
      message: Bad Request
version: 1
