{% load i18n %}

<form action="{% url 'dashboard:product-image-delete' product_pk=product.pk img_pk=product_image.pk %}" method="post" novalidate>
    {% csrf_token %}
    <input type="hidden" name="success_url" value="{% url 'dashboard:product-update' pk=product.pk %}#images">

    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <h5>{% trans "Are you sure?" %}</h5>
            </div>
        </div>

        <div class="center-align">
            <img class="responsive-img" src="{{ product_image.image.crop.400x400 }}" alt="">
        </div>

        <p>
            {% blocktrans %}You are about to delete this image.{% endblocktrans %}
        </p>
    </div>

    <div class="modal-footer">
        <button type="submit" class="modal-action btn-flat blue-text">{% trans "Delete" %}</button>
        <a href="#!" class="modal-action modal-close btn-flat blue-text">{% trans "Cancel" %}</a>
    </div>
</form>
