interactions:
- request:
    body: payment_method=pm_card_visa&amount=4242&currency=usd&confirmation_method=manual&confirm=True&capture_method=automatic&setup_future_usage=on_session
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - cbe6c60a-c66b-465a-99ce-1135e3dd3d60
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body:
      string: "{\n  \"id\": \"pi_1F6dW3IUmJaD6OqvfELxlKfH\",\n  \"object\": \"payment_intent\"\
        ,\n  \"amount\": 4242,\n  \"amount_capturable\": 0,\n  \"amount_received\"\
        : 4242,\n  \"application\": null,\n  \"application_fee_amount\": null,\n \
        \ \"canceled_at\": null,\n  \"cancellation_reason\": null,\n  \"capture_method\"\
        : \"automatic\",\n  \"charges\": {\n    \"object\": \"list\",\n    \"data\"\
        : [\n      {\n        \"id\": \"ch_1F6dW3IUmJaD6OqvnhqTybtH\",\n        \"\
        object\": \"charge\",\n        \"amount\": 4242,\n        \"amount_refunded\"\
        : 0,\n        \"application\": null,\n        \"application_fee\": null,\n\
        \        \"application_fee_amount\": null,\n        \"balance_transaction\"\
        : \"txn_1F6dW3IUmJaD6OqvZ1Hokmlt\",\n        \"billing_details\": {\n    \
        \      \"address\": {\n            \"city\": null,\n            \"country\"\
        : null,\n            \"line1\": null,\n            \"line2\": null,\n    \
        \        \"postal_code\": null,\n            \"state\": null\n          },\n\
        \          \"email\": null,\n          \"name\": null,\n          \"phone\"\
        : null\n        },\n        \"captured\": true,\n        \"created\": 1565616291,\n\
        \        \"currency\": \"usd\",\n        \"customer\": null,\n        \"description\"\
        : null,\n        \"destination\": null,\n        \"dispute\": null,\n    \
        \    \"failure_code\": null,\n        \"failure_message\": null,\n       \
        \ \"fraud_details\": {\n        },\n        \"invoice\": null,\n        \"\
        livemode\": false,\n        \"metadata\": {\n        },\n        \"on_behalf_of\"\
        : null,\n        \"order\": null,\n        \"outcome\": {\n          \"network_status\"\
        : \"approved_by_network\",\n          \"reason\": null,\n          \"risk_level\"\
        : \"normal\",\n          \"risk_score\": 29,\n          \"seller_message\"\
        : \"Payment complete.\",\n          \"type\": \"authorized\"\n        },\n\
        \        \"paid\": true,\n        \"payment_intent\": \"pi_1F6dW3IUmJaD6OqvfELxlKfH\"\
        ,\n        \"payment_method\": \"pm_1F6dW3IUmJaD6OqvWVN4WVwt\",\n        \"\
        payment_method_details\": {\n          \"card\": {\n            \"brand\"\
        : \"visa\",\n            \"checks\": {\n              \"address_line1_check\"\
        : null,\n              \"address_postal_code_check\": null,\n            \
        \  \"cvc_check\": null\n            },\n            \"country\": \"US\",\n\
        \            \"exp_month\": 8,\n            \"exp_year\": 2020,\n        \
        \    \"fingerprint\": \"TtkCcsbSxUHACPLM\",\n            \"funding\": \"credit\"\
        ,\n            \"last4\": \"4242\",\n            \"three_d_secure\": null,\n\
        \            \"wallet\": null\n          },\n          \"type\": \"card\"\n\
        \        },\n        \"receipt_email\": null,\n        \"receipt_number\"\
        : null,\n        \"receipt_url\": \"https://pay.stripe.com/receipts/acct_1EzlmjIUmJaD6Oqv/ch_1F6dW3IUmJaD6OqvnhqTybtH/rcpt_FbrE3VnfCU4rAGDp6dmi6hwLCDcaBpL\"\
        ,\n        \"refunded\": false,\n        \"refunds\": {\n          \"object\"\
        : \"list\",\n          \"data\": [\n\n          ],\n          \"has_more\"\
        : false,\n          \"total_count\": 0,\n          \"url\": \"/v1/charges/ch_1F6dW3IUmJaD6OqvnhqTybtH/refunds\"\
        \n        },\n        \"review\": null,\n        \"shipping\": null,\n   \
        \     \"source\": null,\n        \"source_transfer\": null,\n        \"statement_descriptor\"\
        : null,\n        \"statement_descriptor_suffix\": null,\n        \"status\"\
        : \"succeeded\",\n        \"transfer_data\": null,\n        \"transfer_group\"\
        : null\n      }\n    ],\n    \"has_more\": false,\n    \"total_count\": 1,\n\
        \    \"url\": \"/v1/charges?payment_intent=pi_1F6dW3IUmJaD6OqvfELxlKfH\"\n\
        \  },\n  \"client_secret\": \"pi_1F6dW3IUmJaD6OqvfELxlKfH_secret_8JVwKjwO7pbpBreupOjALTkxM\"\
        ,\n  \"confirmation_method\": \"manual\",\n  \"created\": 1565616291,\n  \"\
        currency\": \"usd\",\n  \"customer\": null,\n  \"description\": null,\n  \"\
        invoice\": null,\n  \"last_payment_error\": null,\n  \"livemode\": false,\n\
        \  \"metadata\": {\n  },\n  \"next_action\": null,\n  \"on_behalf_of\": null,\n\
        \  \"payment_method\": \"pm_1F6dW3IUmJaD6OqvWVN4WVwt\",\n  \"payment_method_options\"\
        : {\n    \"card\": {\n      \"request_three_d_secure\": \"automatic\"\n  \
        \  }\n  },\n  \"payment_method_types\": [\n    \"card\"\n  ],\n  \"receipt_email\"\
        : null,\n  \"review\": null,\n  \"setup_future_usage\": \"on_session\",\n\
        \  \"shipping\": null,\n  \"source\": null,\n  \"statement_descriptor\": null,\n\
        \  \"statement_descriptor_suffix\": null,\n  \"status\": \"succeeded\",\n\
        \  \"transfer_data\": null,\n  \"transfer_group\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - cbe6c60a-c66b-465a-99ce-1135e3dd3d60
      original-request:
      - req_bauQ1QyPH1PRtP
      stripe-version:
      - '2019-05-16'
    status:
      code: 200
      message: OK
version: 1
