interactions:
- request:
    body: payment_method=pm_card_pl&amount=9840&currency=usd&confirmation_method=manual&confirm=True&capture_method=automatic&setup_future_usage=off_session
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c42f2724-bc37-4d67-893c-0751d2831eb7
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body:
      string: "{\n  \"id\": \"pi_1F6dCXIUmJaD6OqvYV4sLW9U\",\n  \"object\": \"payment_intent\"\
        ,\n  \"amount\": 9840,\n  \"amount_capturable\": 0,\n  \"amount_received\"\
        : 9840,\n  \"application\": null,\n  \"application_fee_amount\": null,\n \
        \ \"canceled_at\": null,\n  \"cancellation_reason\": null,\n  \"capture_method\"\
        : \"automatic\",\n  \"charges\": {\n    \"object\": \"list\",\n    \"data\"\
        : [\n      {\n        \"id\": \"ch_1F6dCXIUmJaD6OqvALz0AVIW\",\n        \"\
        object\": \"charge\",\n        \"amount\": 9840,\n        \"amount_refunded\"\
        : 0,\n        \"application\": null,\n        \"application_fee\": null,\n\
        \        \"application_fee_amount\": null,\n        \"balance_transaction\"\
        : \"txn_1F6dCXIUmJaD6OqvUIEx67pT\",\n        \"billing_details\": {\n    \
        \      \"address\": {\n            \"city\": null,\n            \"country\"\
        : null,\n            \"line1\": null,\n            \"line2\": null,\n    \
        \        \"postal_code\": null,\n            \"state\": null\n          },\n\
        \          \"email\": null,\n          \"name\": null,\n          \"phone\"\
        : null\n        },\n        \"captured\": true,\n        \"created\": 1565615081,\n\
        \        \"currency\": \"usd\",\n        \"customer\": null,\n        \"description\"\
        : null,\n        \"destination\": null,\n        \"dispute\": null,\n    \
        \    \"failure_code\": null,\n        \"failure_message\": null,\n       \
        \ \"fraud_details\": {\n        },\n        \"invoice\": null,\n        \"\
        livemode\": false,\n        \"metadata\": {\n        },\n        \"on_behalf_of\"\
        : null,\n        \"order\": null,\n        \"outcome\": {\n          \"network_status\"\
        : \"approved_by_network\",\n          \"reason\": null,\n          \"risk_level\"\
        : \"normal\",\n          \"risk_score\": 23,\n          \"seller_message\"\
        : \"Payment complete.\",\n          \"type\": \"authorized\"\n        },\n\
        \        \"paid\": true,\n        \"payment_intent\": \"pi_1F6dCXIUmJaD6OqvYV4sLW9U\"\
        ,\n        \"payment_method\": \"pm_1F6dCWIUmJaD6OqvCtcAnPSq\",\n        \"\
        payment_method_details\": {\n          \"card\": {\n            \"brand\"\
        : \"visa\",\n            \"checks\": {\n              \"address_line1_check\"\
        : null,\n              \"address_postal_code_check\": null,\n            \
        \  \"cvc_check\": null\n            },\n            \"country\": \"PL\",\n\
        \            \"exp_month\": 8,\n            \"exp_year\": 2020,\n        \
        \    \"fingerprint\": \"aleqpF0PMAATcfmb\",\n            \"funding\": \"credit\"\
        ,\n            \"last4\": \"0005\",\n            \"three_d_secure\": null,\n\
        \            \"wallet\": null\n          },\n          \"type\": \"card\"\n\
        \        },\n        \"receipt_email\": null,\n        \"receipt_number\"\
        : null,\n        \"receipt_url\": \"https://pay.stripe.com/receipts/acct_1EzlmjIUmJaD6Oqv/ch_1F6dCXIUmJaD6OqvALz0AVIW/rcpt_FbquBAyeTl9NMntBmlqLH311NYu3gUp\"\
        ,\n        \"refunded\": false,\n        \"refunds\": {\n          \"object\"\
        : \"list\",\n          \"data\": [\n\n          ],\n          \"has_more\"\
        : false,\n          \"total_count\": 0,\n          \"url\": \"/v1/charges/ch_1F6dCXIUmJaD6OqvALz0AVIW/refunds\"\
        \n        },\n        \"review\": null,\n        \"shipping\": null,\n   \
        \     \"source\": null,\n        \"source_transfer\": null,\n        \"statement_descriptor\"\
        : null,\n        \"statement_descriptor_suffix\": null,\n        \"status\"\
        : \"succeeded\",\n        \"transfer_data\": null,\n        \"transfer_group\"\
        : null\n      }\n    ],\n    \"has_more\": false,\n    \"total_count\": 1,\n\
        \    \"url\": \"/v1/charges?payment_intent=pi_1F6dCXIUmJaD6OqvYV4sLW9U\"\n\
        \  },\n  \"client_secret\": \"pi_1F6dCXIUmJaD6OqvYV4sLW9U_secret_8Y3cK3xVMLMDoEPrdc27csqzz\"\
        ,\n  \"confirmation_method\": \"manual\",\n  \"created\": 1565615081,\n  \"\
        currency\": \"usd\",\n  \"customer\": null,\n  \"description\": null,\n  \"\
        invoice\": null,\n  \"last_payment_error\": null,\n  \"livemode\": false,\n\
        \  \"metadata\": {\n  },\n  \"next_action\": null,\n  \"on_behalf_of\": null,\n\
        \  \"payment_method\": \"pm_1F6dCWIUmJaD6OqvCtcAnPSq\",\n  \"payment_method_options\"\
        : {\n    \"card\": {\n      \"request_three_d_secure\": \"automatic\"\n  \
        \  }\n  },\n  \"payment_method_types\": [\n    \"card\"\n  ],\n  \"receipt_email\"\
        : null,\n  \"review\": null,\n  \"setup_future_usage\": \"off_session\",\n\
        \  \"shipping\": null,\n  \"source\": null,\n  \"statement_descriptor\": null,\n\
        \  \"statement_descriptor_suffix\": null,\n  \"status\": \"succeeded\",\n\
        \  \"transfer_data\": null,\n  \"transfer_group\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - c42f2724-bc37-4d67-893c-0751d2831eb7
      original-request:
      - req_KJM1qzNiHhKCXC
      stripe-version:
      - '2019-05-16'
    status:
      code: 200
      message: OK
- request:
    body: payment_method=pm_1F6dCWIUmJaD6OqvCtcAnPSq
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ce704720-d12d-4867-b304-6011774e9b81
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_FbquUfgBnLdlsY\",\n  \"object\": \"customer\",\n\
        \  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1565615082,\n  \"currency\": null,\n  \"default_source\": null,\n\
        \  \"delinquent\": false,\n  \"description\": null,\n  \"discount\": null,\n\
        \  \"email\": null,\n  \"invoice_prefix\": \"7829D842\",\n  \"invoice_settings\"\
        : {\n    \"custom_fields\": null,\n    \"default_payment_method\": null,\n\
        \    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\": {\n \
        \ },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\": [\n\n\
        \  ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\",\n\
        \    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_FbquUfgBnLdlsY/sources\"\n  },\n  \"\
        subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n\
        \    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FbquUfgBnLdlsY/subscriptions\"\
        \n  },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"\
        list\",\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_FbquUfgBnLdlsY/tax_ids\"\n  },\n  \"\
        tax_info\": null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - ce704720-d12d-4867-b304-6011774e9b81
      original-request:
      - req_aXRJjwtjBNsaQi
      stripe-version:
      - '2019-05-16'
    status:
      code: 200
      message: OK
version: 1
