interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_FbquUfgBnLdlsY&type=card
  response:
    body:
      string: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\": \"\
        pm_1F6dCWIUmJaD6OqvCtcAnPSq\",\n      \"object\": \"payment_method\",\n  \
        \    \"billing_details\": {\n        \"address\": {\n          \"city\": null,\n\
        \          \"country\": null,\n          \"line1\": null,\n          \"line2\"\
        : null,\n          \"postal_code\": null,\n          \"state\": null\n   \
        \     },\n        \"email\": null,\n        \"name\": null,\n        \"phone\"\
        : null\n      },\n      \"card\": {\n        \"brand\": \"visa\",\n      \
        \  \"checks\": {\n          \"address_line1_check\": null,\n          \"address_postal_code_check\"\
        : null,\n          \"cvc_check\": null\n        },\n        \"country\": \"\
        PL\",\n        \"exp_month\": 8,\n        \"exp_year\": 2020,\n        \"\
        fingerprint\": \"aleqpF0PMAATcfmb\",\n        \"funding\": \"credit\",\n \
        \       \"generated_from\": null,\n        \"last4\": \"0005\",\n        \"\
        three_d_secure_usage\": {\n          \"supported\": true\n        },\n   \
        \     \"wallet\": null\n      },\n      \"created\": 1565615081,\n      \"\
        customer\": \"cus_FbquUfgBnLdlsY\",\n      \"livemode\": false,\n      \"\
        metadata\": {\n      },\n      \"type\": \"card\"\n    }\n  ],\n  \"has_more\"\
        : false,\n  \"url\": \"/v1/payment_methods\"\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-05-16'
    status:
      code: 200
      message: OK
version: 1
