{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load materializecss %}

{% block title %}
  {% if site.pk %}
    {{ site }}
  {% else %}
    {% trans "Add new site settings" context "Site settings page title" %}
  {% endif %}
   - {% trans "Site settings" context "Dashboard site settings" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-settings{% endblock %}

{% block menu_taxes_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url 'dashboard:taxes' %}" class="breadcrumbs--ellipsed-item">
        {% trans "Taxes" context "Dashboard taxes list" %}
      </a>
    </li>
    <li>
      <span>
        {% trans "Configure taxes" context "Dashboard configure taxes settings" %}
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      <div class="card">
        <form method="post" id="form-category" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
          <div class="card-content card-content-form">
            <div class="card-title">
              {% trans "Taxes" context "Dashboard site taxes settings form title" %}
            </div>
            <br>
            <div class="col s12">
              <h4>{% trans "Dashboard" %}</h4>
            </div>
            <div class="row">
              <div class="col s12">
                {{ taxes_form.include_taxes_in_prices|materializecss }}
              </div>
              <div class="col s12 checkbox-helptext">
                <h6>
                  {% blocktrans context "Dashboard site taxes settings form help text" %}
                    If selected, taxes will be calculated using below formula:
                  {% endblocktrans %}
                </h6>
                <h6>
                  {% blocktrans context "Dashboard site taxes settings form help text" %}
                    tax_amount = (tax_rate * price) / (1 + tax_rate)
                  {% endblocktrans %}
                </h6>
                <h6>
                  {% blocktrans context "Dashboard site taxes settings form help text" %}
                    For example: product with price 4.00 € and 19% VAT will have net price calculated to 3.36 € and tax to 0.64 € (rounded)
                  {% endblocktrans %}
                </h6>
              </div>
            </div>
            <div class="col s12">
              <h4>{% trans "Storefront" %}</h4>
            </div>
            <div class="row">
              <div class="col s12">
                {{ taxes_form.display_gross_prices|materializecss }}
              </div>
              <div class="col s12 checkbox-helptext">
                <h6>
                  {% blocktrans context "Dashboard site taxes settings form help text" %}
                    If selected, prices displayed for customers in the storefront will be gross and taxes will be calculated at checkout.
                  {% endblocktrans %}
                </h6>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                {{ taxes_form.charge_taxes_on_shipping|materializecss }}
              </div>
              <div class="col s12 checkbox-helptext">
                <h6>
                  {% blocktrans context "Dashboard site taxes settings form help text" %}
                    If selected, standard tax rate will be charged on a shipping price.
                  {% endblocktrans %}
                </h6>
              </div>
            </div>
          </div>
          <div class="card-action right-align">
            <a class="btn-flat waves-effect" href="{% url 'dashboard:taxes' %}">
              {% trans "Cancel" context "Dashboard cancel action" %}
            </a>
            <button type="submit" class="btn waves-effect">
              {% trans "Update" context "Dashboard update action" %}
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col m12 l3 help-box">
      <p class="grey-text">
        <svg data-src="{% static "dashboard/images/help.svg" %}" width="18" height="18" />
        {% blocktrans trimmed context "Taxes help text" %}
          Taxes are charged according to the rates applicable in the country to which the order is delivered. For now, only rates in European Union are handled.
        {% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}
