{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "dashboard:attribute-delete" pk=attribute.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal remove attribute text" %}
  Remove attribute {{ attribute }}
{% endblocktrans %}
{% endblock title %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed context "Modal remove attribute text" %}
      Are you sure you want to remove attribute <strong>{{ attribute }}</strong>?
    {% endblocktrans %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
