<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}

<html class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{% static 'assets/emails.css' %}">
  </head>
  <body>
    <table class="main-table" align="center">
      <tfoot>
        <tr>
          <td>
            <footer>
              {% block footer %}
              {% endblock footer %}
            </footer>
          </td>
        </tr>
      </tfoot>
      <thead>
        <tr>
          <td>
            <header>
              {% block header %}
                <img class="logo" src='{% static 'images/logo.png' %}' alt="{% trans "Saleor" %}" width="200" />
              {% endblock header %}
            </header>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <main>
              {% block content %}
              {% endblock content %}
            </main>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
