{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load utils %}

{% block title %}
  {% trans "Organizations" context "Dashboard organizations list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-organizations{% endblock %}

{% block menu_organizations_class %}active{% endblock %}

{% block header_extra %}
  {% if perms.account.edit_staff %}
    <div class="btn-fab-fixed">
      <a href="{% url 'dashboard:organization-create' %}" class="btn-fab-default waves-effect waves-light" title="{% trans "Add organization" context "Organization list add button text" %}" >
        <svg data-src="{% static "dashboard/images/add.svg" %}" />
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">
      {% trans "Organizations" context "Dashboard organizations list" %}
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if organizations %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  {% trans "Name" context "Organization table header" as label %}
                  {% sorting_header 'name' label %}
                </tr>
              </thead>
              <tbody>
                {% for organization in organizations %}
                  <tr data-action-go="{% url "dashboard:organization-details" pk=organization.pk %}">
                    {% with organization.default_billing_address as default_address %}
                      <td>
                        {{ organization.name }}
                      </td>
                    {% endwith %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate organizations %}
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/organization/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No organizations found." context "Empty organizations table message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
    </div>
  </div>
{% endblock %}
