@mixin breadcrumbs {
  display: block;
  float: left;
  font-size: $h5-fontsize;
  line-height: $subheader-height;
  white-space: nowrap;
  margin-bottom: 0;
  @media (max-width: $medium-screen) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &--history {
    li {
      &:before {
        content: '\E5CC';
        vertical-align: top;
        display: inline-block;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 25px;
        margin: 0 10px 0 8px;
        -webkit-font-smoothing: antialiased;
      }
      &:first-child:before {
        display: none;
      }
    }
  } 
  li {
    float: none;
    line-height: $subheader-height;
    color: white;
    display: inline-block;
    @media (max-width: $medium-screen-up) { 
      &:first-of-type:not(.visible-s) {
        display: none;
        &:before {
          display: none;
        }
      }
      &:nth-of-type(2) {
        &:before {
          display: none;
        }
      }
      &:before {
        display: none;
      }
      &.back-mobile {
        display: inline-block;
      }
    }
    @media (min-width: $medium-screen-up) {
      &:first-of-type {
        display: inline-block;
      }
      &.back-mobile {
        display: none;
      }
    }
    &:hover {
      background: none;
    }
    a {
      color: white;
      display: inline-block;
      font-size: $h5-fontsize;
      padding: 0;
      transition: color $transition-duration;

      &:hover {
        color: white;
      }
    }
    * {
      display: inline-block;
      overflow: hidden;
    }
  }

  &--ellipsed {
    &-item {
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 55vw;
      @media (min-width: $medium-screen-up) {
        max-width: 14em;
      }
    }
  }
}

.breadcrumbs {
  @include breadcrumbs;
  margin-top: 0;
}
