@mixin breadcrumbs {
  display: block;
  float: left;
  font-size: $h5-fontsize;
  line-height: $subheader-height;
  white-space: nowrap;
  margin-bottom: 0;

  @media (max-width: $medium-screen) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &--history {
    li {
      &:before {
        content: '\E5CC';
        vertical-align: top;
        display: inline-block;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 25px;
        margin: 0 10px 0 8px;
        -webkit-font-smoothing: antialiased;
      }
      &:first-child:before, &:nth-child(2):before {
        display: none;
      }
    }
  } 
  li {
    display: none;
    float: none;
    line-height: $subheader-height;
    color: white;

    @media (min-width: $medium-screen-up) {
      display: inline-block;
    }

    &:last-child {
      display: inline-block;
    }

    &:hover {
      background: none;
    }

    a {
      color: white;
      display: inline-block;
      font-size: $h5-fontsize;
      padding: 0;
      transition: color $transition-duration;

      &:hover {
        color: white;
      }
    }
  }

  &--ellipsed {
    &-item {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 14em;
    }
  }
}

.breadcrumbs {
  @include breadcrumbs;
  margin-top: 0;
}
