@mixin data-table {
  &-container {
    @media #{$medium-and-down} {
      overflow: scroll;
    }

    .card &:first-child, .card-title + & {
      th {
        border-top: none;
      }
    }
  }

  &-header {
    padding: 21px 24px;

    &--no-data {
      padding: 20px 20px 0;
    }
  }

  &-title {
    font-weight: 300;
    margin: 0;

    .data-table-status {
      float: right;
      margin-top: -4px;
    }
  }

  $statuses-map: (
          danger: map-get($red, base),
          success: map-get($green, lighten-2),
          default: map-get($grey, base)
  );

  &-status {
    @each $status in (danger, success, default) {
      &--#{$status} {
        color: white;
        background: #{map_get($statuses-map, $status)};
        border-radius: 2px;
        padding: .25em 5px;
        font-size: .8em;
      }
    }
  }

  input[type=checkbox].filled-in + label {
    margin-top: 5px;
    padding: 0;

    &:after {
      display: inline-block;
      position: static;
    }
  }

  th, td {
    height: 48px;
    overflow: hidden;
    padding: 0 28px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;

    &:first-child {
      padding-left: 24px;
    }

    &:last-child {
      padding-right: 24px;
    }

    &.no-padded {
      padding: 0;
    }
  }

  th {
    border-top: 1px solid $table-border-color;
    color: map_get($grey, darken-1);
    font-weight: normal;
    font-size: 85%;
    height: 56px;
  }

  tfoot {
    font-weight: bold;
  }

  .bulk-checkbox {
    padding: 0 24px;
    width: 1px;

    + th, + td {
      padding-left: 0;
    }
  }

  .wide {
    width: 99%;
  }

  &.hoverable {
    box-shadow: none;
  }

  .dropdown-button {
    padding: 15px 28px;
  }

  .dropdown-content {
    left: auto !important;
    right: 0;
    top: 0;
    white-space: nowrap;
  }

  &-pagination {
    color: map_get($grey, darken-1);
    text-align: right;

    ul {
      display: inline-block;
      margin: 0 -10px 0 0;
      vertical-align: middle;
    }

    li {

      display: inline-block;
      position: relative;

      &:first-child, &:last-child {
        .data-table-pagination-prev, .data-table-pagination-next {
          &:before {
            background-color: $off-black;
            content: "";
            display: block;
            height: 12px;
            left: 14px;
            opacity: .5;
            position: absolute;
            top: 12px;
            transition: opacity $transition-duration;
            width: 2px;
          }
        }
      }

      &:last-child {
        .data-table-pagination-next {
          &:before {
            left: auto;
            right: 15px;
          }
        }
      }
    }

    &-prev, &-next {
      color: $off-black;
      cursor: pointer;
      font-style: normal;

      &:after {
        content: "\f212";
        font-family: 'MaterialDesignIcons';
        font-size: 24px;
        opacity: .55;
        padding: 0 10px;
        transition: opacity $transition-duration;
      }

      &:hover {
        &:before {
          opacity: .95 !important;
        }

        &:after {
          opacity: 1;
        }
      }
    }

    &-next {
      &:after {
        content: "\f213";
      }
    }

    &-inactive {
      .data-table-pagination-prev, .data-table-pagination-next {
        cursor: not-allowed;

        &:before {
          opacity: .2 !important;
        }

        &:after {
          opacity: .25;
        }
      }
    }
  }

  &--orderable {
    th {
      cursor: pointer;

      &.sort-ascending, &.sort-descending {
        color: $off-black;
      }

      &:not(.sort-ascending):not(.sort-descending):hover {
        > span {
          position: relative;

          &:after {
            color: map_get($grey, lighten-1);
            content: "\f14c";
            font-family: 'MaterialDesignIcons';
            font-size: 16px;
            position: absolute;
            left: calc(100% + 5px);
            top: -5px;
          }
        }
      }
    }

    &-ascending, &-descending {
      position: relative;

      &:after {
        content: "\f14c";
        font-family: 'MaterialDesignIcons';
        font-size: 16px;
        position: absolute;
        left: calc(100% + 5px);
        top: -5px;
      }
    }

    &-descending {
      &:after {
        content: "\f13a";
      }
    }
  }

  &--loading {
    position: relative;

    &:after {
      background: white;
      opacity: .4;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: "";
      position: absolute;
    }
  }
}

.griddle-nodata {
  padding: 0 24px 21px;
}

.data-table {
  @include data-table;
}
