@mixin form {
  .select-wrapper {
    &.invalid {
      input {
        @extend .invalid;
      }
    }
  }

  label {
    @extend .active;

    &:not(.required) {
      &:before {
        content: "(optional)";
        float: right;
        margin-left: 3px;
      }
    }
  }

  input[type=radio] {
    @extend .with-gap;
  }

  .price-wrapper {
    overflow: hidden;
  }

  p.help-block {
    margin: -7px 0 15px;
    font-size: $label-font-size;
  }

  %input-lg {
    font-size: 2.2rem;
  }

  &#form-product {
    #id_name {
      @extend %input-lg;
    }

    #id_price {
      @extend %input-lg;
    }
  }

  &#form-variant {
    #id_sku {
      @extend %input-lg;
    }

    #id_price_override {
      @extend %input-lg;
    }
  }
}

form {
  @include form;
}
