@mixin product-list {
  border: none;
  overflow: visible;

  & &-item.avatar {
    border: none;
    padding-left: 59px;
    padding-right: 0;
    padding-bottom: 3px;
    min-height: 0;

    @media (max-width: $small-screen) {
      margin-right: -$gutter-width/2;
    }

    .circle {
      left: 0;
    }

    &-delete {
      background: white;
      font-size: $font-size-action-icon;

      @media (min-width: $medium-screen-up) {
        padding-left: 50px;
        display: none;
      }
    }

    @media (min-width: $medium-screen-up) {
      &:hover {
        .product-list-item-delete {
          display: block;
        }
      }
    }
  }

  &-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-price {
    border-bottom: 1px solid $collection-border-color;
    padding-bottom: 12px;
  }
}

.product-list {
  @include product-list;
}
