@mixin product-gallery {
  & &-item {
    cursor: move;
    margin: 0 $gutter-width/2 $gutter-width !important;
    padding: 0;
    display: block;
    position: relative;
    text-align: center;
    width: calc(50% - 1.5rem) !important;

    @media (min-width: $medium-screen-up) {
      width: calc(25% - 1.5rem) !important;
    }

    &-text {
      background: rgba(black, .5);
      bottom: 0;
      color: white;
      height: 48px;
      line-height: 48px;
      left: 0;
      overflow: hidden;
      padding: 0 calc(#{$gutter-width/2} + 48px) 0 $gutter-width/2;
      position: absolute;
      right: 0;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-create, &-remove {
      bottom: 0;
      font-size: 20px;
      line-height: 48px;
      position: absolute;
      right: 0;
      width: 48px;
    }

    &-remove {
      bottom: auto;
      top: 0;
    }
  }

  .sortable-ghost {
    opacity: .4;
  }
}

.product-gallery {
  @include product-gallery;
}
