@mixin product-list {
  & &-item {
    padding-right: 40px;

    &-delete {
      background: white;
      font-size: 18px;

      @media (min-width: $medium-screen-up) {
        padding-left: 50px;
        display: none;
      }
    }

    @media (min-width: $medium-screen-up) {
      &:hover {
        .product-list-item-delete {
          display: block;
        }
      }
    }
  }

  &-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-price {
    @media (max-width: $small-screen) {
      position: static !important;
      float: left;
    }
  }
}

.product-list {
  @include product-list;
}
