@mixin react-datagrid {
  .z-header-wrapper {
    background: none;
    border-color: $table-border-color;

    .z-header {
      padding-right: 0 !important;
    }
  }

  .z-column-header {
    border-left: none !important;
    min-width: 100px !important;

    .z-content {
      color: map_get($grey, darken-1);
      font-weight: normal;
      font-size: 85%;
      padding: 19px 28px 18px !important;
    }

    .z-show-menu {
      display: none !important;
    }

    &:first-child {
      flex: none !important;

      @at-root .even-cols & {
        flex: 1!important;
      }

      .z-content {
        padding-left: 24px;
      }
    }

    &:last-child {
      border-right: none !important;

      .z-content {
        padding-right: 24px;
      }
    }

    &.z-over {
      background: none;
    }

    &.z-sortable {
      &.z-over, &.z-asc, &.z-desc {
        .z-content {
          cursor: pointer;

          > span {
            position: relative;
            color: $off-black;

            &:after {
              color: map_get($grey, lighten-1);
              content: "\f14c";
              font-family: 'MaterialDesignIcons';
              font-size: 16px;
              position: absolute;
              left: calc(100% + 5px);
              top: -5px;
            }
          }
        }
      }

      &.z-asc, &.z-desc {
        .z-content {
          > span {
            color: $off-black;

            &:after {
              color: $off-black;
            }
          }
        }
      }

      &.z-desc {
        .z-content {
          > span {
            &:after {
              content: "\f13a";
            }
          }
        }
      }
    }
  }

  .z-content-wrapper-fix {
    max-width: 100% !important;

    .z-row {
      border-bottom: 1px solid $table-border-color;
      height: auto !important;
      @include transition(background-color .25s ease);

      &.z-odd {
        background-color: transparent;
      }

      &:hover {
        background-color: $table-striped-color;
      }

      .z-cell {
        display: block;
        min-width: 100px !important;

        &:first-child {
          flex: none !important;

          @at-root .even-cols & {
            flex: 1 !important;
          }
        }
      }
    }

    .z-content {
      padding: 13px 28px !important;
    }
  }

  .z-content {
    padding: 0 28px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;

    .z-icon-sort-info {
      display: none;
    }
  }

  .z-align-right {
    .z-content {
      text-align: right;
    }

    &.z-sortable {
      &.z-over, &.z-asc, &.z-desc {
        .z-content {
          > span {
            &:after {
              left: auto;
              right: calc(100% + 5px);
            }
          }
        }
      }
    }
  }

  @at-root .data-table-header + .data-table-container {
    .react-datagrid {
      border-top: 1px solid $table-border-color;
    }
  }
}

.react-datagrid {
  @include react-datagrid;
}
