{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load static %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "dashboard:product-type-delete" pk=product_type.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal remove product type text" %}
  Remove product type {{ product_type }}
{% endblocktrans %}
{% endblock title %}

{% block content %}
  <div class="col s12">
    <p>
      {% blocktrans trimmed context "Modal remove product type text" %}
        Are you sure you want to remove product type <strong>{{ product_type }}</strong>?
      {% endblocktrans %}
    </p>
    <p>
      {% if products %}
        {% blocktrans trimmed context "Modal remove product type text" with product_count=products.count %}
          There are {{ product_count }} products in product type.
        {% endblocktrans %}
      {% else %}
        {% blocktrans trimmed context "Modal remove product type text" %}
          There are no products in this product type.
        {% endblocktrans %}
      {% endif %}
    </p>
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
