{% extends "checkout/details.html" %}
{% load as_horizontal_form from bootstrap %}
{% load i18n %}

{% block title %}{{ block.super }} » {% trans "Billing Address" %}{% endblock %}

{% block forms %}
<form method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
    {% if user.is_authenticated %}
        <legend>Select address:</legend>
        {{ step.forms.address_list|as_horizontal_form }}
    {% else %}
        <legend>Enter address:</legend>
    {% endif %}
        {{ step.forms.address|as_horizontal_form }}
        {% block extra_forms %}{% endblock %}
    </fieldset>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Save changes
        </button>
        <button type="button" class="btn">
            Cancel
        </button>
    </div>
</form>
{% endblock forms %}

