{% extends "order/details.html" %}

{% load as_bootstrap from bootstrap %}

{% block forms %}
<form method="post" class="form-horizontal">
    {% csrf_token %}
    {{ step.forms.management|as_bootstrap }}
    {% if user.is_authenticated %}
    <fieldset>
        <legend>Select address:</legend>
        {{ step.forms.address_list|as_bootstrap }}
    </fieldset>
    {% endif %}
    <fieldset>
        <legend>Complete address:</legend>
        {{ step.forms.address|as_bootstrap }}
    </fieldset>
    {% block extra_forms %}{% endblock %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Save changes
        </button>
        <button type="button" class="btn">
            Cancel
        </button>
    </div>
</form>
{% endblock forms %}

