{% extends "base.html" %}
{% load as_bootstrap from bootstrap %}
{% load i18n %}

{% block title %}{{ block.super }} » {% trans "Checkout" %}{% endblock %}

{% block outerbreadcrumb %}{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    {% for stepitem in checkout %}
    <li class="{% if stepitem == step %}active{% else %}disabled{% endif %}">
        <a href="{{ stepitem.get_absolute_url }}"><i class="{% if stepitem %}icon-ok{% else %}icon-remove{% endif %}"></i> {{ stepitem }}</a>
    </li>
    {% endfor %}
</ul>
{% block forms %}{% endblock %}

{% endblock content %}
