{% extends "checkout/details.html" %}
{% load i18n %}
{% load as_horizontal_form from bootstrap %}

{% block title %}{{ block.super }} » {% trans "Digital delivery" %}{% endblock %}

{% block forms %}
<form method="post" class="form-horizontal">
    {% csrf_token %}
    {{ step.forms.email|as_horizontal_form }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Save changes
        </button>
        <button type="button" class="btn">
            Cancel
        </button>
    </div>
</form>
{% endblock forms %}
