{% extends "checkout/details.html" %}
{% load as_bootstrap from bootstrap %}
{% load gross from prices %}
{% load i18n %}

{% block title %}{{ block.super }} » {% trans "Summary" %}{% endblock %}

{% block forms %}
<h2>Billing address</h2>
{% with address=checkout.billing_address %}
<p>
    {{ address.first_name }} {{ address.last_name }}
    <br />
    {{ address.street_address_1 }}{% if address.street_address_2 %}{{ address.street_address_2 }}{% endif %}
    <br />
    {{ address.postal_code }} {{ address.city }}
    <br />
    {{ address.country_area }} {{ address.country }}
    <br />
    {{ address.phone }}
</p>
{% endwith %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th><th>Price per item</th><th>Quantity</th><th>Total</th><th>Delivery price</th>
        </tr>
    </thead>
    <tbody>
{% for group in checkout.groups %}
    {% for item in group %}
        <tr>
        {% if forloop.first %}
            <td>{{ item.product }}</td><td>{% gross item.get_price_per_item %}</td><td>{{ item.quantity }}</td><td>{% gross item.get_total %}</td><td rowspan="{{ group.items.all|length }}">{% gross group.get_delivery_total %}</td>
        {% else %}
            <td>{{ item.product }}</td><td>{% gross item.get_price_per_item %}</td><td>{{ item.quantity }}</td><td>{% gross item.get_total %}</td>
        {% endif %}
        </tr>
    {% endfor %}
{% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td><td colspan="4">{% gross checkout.groups.get_total %}</td>
        </tr>
    </tfoot>
</table>
<form method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Save changes
        </button>
    </div>
</form>
{% endblock forms %}
