{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load mptt_tags %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "dashboard:category-delete" pk=category.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed with category=category context "Remove category modal title" %}
  Remove category {{ category }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed with category=category context "Remove category modal title" %}
      Are you sure you want to remove category <strong>{{ category }}</strong>?
    {% endblocktrans %}
    {% if descendants %}
      <p>
        {% trans "The following child categories will be removed:" context "Delete category form text about descendant categories" %}
        <ul>
          {% recursetree descendants %}
            {{ node.name }},
            {% if not node.is_leaf_node %}
              {{ children }}
            {% endif %}
          {% endrecursetree %}
        </ul>
      </p>
    {% endif %}
    {% if products_count %}
      <p>
        {% blocktrans count counter=products_count trimmed context "Remove category form text about products" %}
          There is one product in this category that will be removed.
          {% plural %}
          There are {{ counter }} products in this category that will be removed.
        {% endblocktrans %}
      </p>
    {% endif %}
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
