body {
    background: #FFFFFF;
    font-family: $font-family-sans-serif;
    font-size: 13px;

    .main-table {
        margin: auto;
    }

    header {
        padding: 0.75em;
        background-color: $light-gray;
    }

    .right-align {
        text-align: right;
    }

    footer {
        text-align: center;
        padding: 0.75em;
        background-color: $gray;
    }
}
