{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:customer-delete' pk=customer.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Header of modal used for removing customer's account " %}
  Remove customer {{ customer }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed context "Modal remove collection text" %}
      Are you sure you want to remove customer <strong>{{ customer }}</strong>?
      Please note that this procedure will remove customer's account,
      but customer's orders and addresses associated with them will persist for the financial records.
    {% endblocktrans %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
