{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block action_url %}
{% url 'dashboard:customer-promote' pk=customer.pk %}
{% endblock %}

{% block title %}
{% trans "Promote to staff member" context "Modal promote to staff member title" %}
{% endblock %}

{% block content %}
<div class="col">
  {% trans "Are you sure?" context "Modal promote to staff member text" %}
</div>
{% endblock %}

{% block primary_action %}
{% trans "Promote" context "Modal promote to staff member primary action" %}
{% endblock %}
