{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:customer-promote' pk=customer.pk %}
{% endblock %}

{% block title %}
{% trans "Promote to staff member" context "Dashboard confirmation modal" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed with customer=customer context "Modal promote to staff member text" %}
      Are you sure you want to promote {{ customer }} to staff member?
    {% endblocktrans %}
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Promote" context "Dashboard promote action" %}
{% endblock %}
