{% load i18n %}
{% load staticfiles %}
{% load price_range from price_ranges %}
{% load discounted_price_range price_difference from discount %}
{% load product_first_image from product_images %}

{% for product in products %}
    <div class="col-xs-6 col-md-4 product-list" itemscope itemtype="https://schema.org/Product" >
        <div class="text-center">
            <div>
                <a itemprop="url" href="{{ product.get_absolute_url }}">
                    <img itemprop="image" class="img-responsive" src="{% product_first_image product method="crop" size="400x400" %}" alt="">
                    <span class="product-list-item-name" itemprop="name" title="{{ product }}">{{ product }}</span>
                </a>
            </div>

            <div>
                {% if product.is_in_stock %}
                    {% with price_range=product|discounted_price_range:request.discounts undiscounted=product.get_price_range %}
                        {% with discount=undiscounted.min_price|price_difference:price_range.min_price %}
                            {% price_range price_range %}
                            {% if undiscounted.min_price != price_range.min_price %}
                                <div class="product-list__sale"><span>{% trans "Sale" %}</span></div>
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
