{% load i18n %}
{% load staticfiles %}
{% load price_range from price_ranges %}
{% load product_first_image from product_images %}

{% for product, availability in products %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="https://schema.org/Product">
        <div class="panel panel-default text-center">
            <div class="panel-body">
                <a itemprop="url" href="{{ product.get_absolute_url }}">
                    <img itemprop="image" class="img-responsive" src="{% product_first_image product method="crop" size="400x400" %}" alt="">
                    <span class="product-list-item-name" itemprop="name" title="{{ product }}">{{ product }}</span>
                </a>
            </div>

            <div class="panel-footer">
                {% if availability.available %}
                    {% price_range availability.price_range %}
                    {% if availability.discount %}
                        <span class="label label-success">{% trans "Discount!" %}</span>
                    {% endif %}
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
