{% load i18n %}
{% load shop %}
{% load staticfiles %}

<li>
  <div class="row">
    <div class="col-6">
      Sort by: <strong>{{ label }}</strong>
    </div>
    <div class="col-6">
      <div>
        <a href="{% get_sort_by_url ascending_attribute %}">
          <span>{% trans 'ascending' context 'sort by option' %}</span>
          <div class="sort-order-icon float-right">
            <img src="{% static "assets/arrow_up.svg" %}">
          </div>
        </a>
        <a href="{% get_sort_by_url descending_attribute %}">
          <span>{% trans 'descending' context 'sort by option' %}</span>
          <div class="sort-order-icon float-right">
            <img src="{% static "assets/arrow_down.svg" %}">
          </div>
        </a>
      </div>
    </div>
  </div>
</li>
