<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="count">2</div>
      <h2>Great for <span>store managers</span></h2>
      <h3>Better dashboard means<br> a satisfied sales team</h3>
      <div class="row">
        <div class="col-sm-4 item">
          <div class="image">
            <img src="images/responsive-dashboard.svg" />
          </div>
          <h4>Intuitive, responsive dashboard</h4>
          <p>It works with <strong>all screen sizes</strong>.<br> Saleor's easy-to-use dashboard makes it possible to <strong>manage your store from any modern device</strong> even when you don't have access to your&nbsp;laptop.</p>
        </div>
        <div class="col-sm-4 item">
          <div class="image">
            <img src="images/great-outofthebox.svg" />
          </div>
          <h4>Great shopping experience</h4>
          <p>Saleor sports an industry-standard checkout process, offers an excellent mobile shopping experience, and it’s <strong>search engine-friendly</strong>. It scales well to support <strong>millions of products, customers, and&nbsp;orders</strong>.</p>
        </div>
        <div class="col-sm-4 item">
          <div class="image">
            <img src="images/integrations.svg" />
          </div>
          <h4>Integrations &amp; internationalization</h4>
          <p>Track your store with <strong>Google Analytics</strong>. Sell with <strong>Google Merchant</strong>. Translate your site and your products. Show prices in <strong>local currencies</strong> and accept payments using <strong>popular payment gateways</strong>.</p>
        </div>
      </div>
      <p class="dahsboard-credentials">Username: <strong>admin@example.com</strong><br>Password: <strong>admin</strong></p>
      <a href="http://demo.getsaleor.com/dashboard/" class="btn btn-primary" target="_blank">See dashboard</a>
    </div>
  </div>
</div>
