{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load status %}
{% load utils %}
{% load static %}
{% load taxed_prices %}

{% block title %}
  {% trans "Shipping methods" context "Dashboard shipping methods list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-shipping-methods{% endblock %}

{% block menu_delivery_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">
      {% trans "Shipping methods" context "Dashboard shipping methods list" %}
    </li>
  </ul>
{% endblock %}

{% block header_extra %}
  {% if perms.shipping.edit_shipping %}
  <div class="btn-fab-fixed">
    <a href="{% url 'dashboard:shipping-method-add' %}" class="btn-fab-default waves-effect waves-light" title="{% trans "Add method" context "Shipping method list add button text" %}">
      <svg data-src="{% static "dashboard/images/add.svg" %}" />
    </a>
  </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if shipping_methods %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  {% trans "Name" context "Shipping methods table header" as label %}
                  {% sorting_header 'name' label is_wide=True %}

                  <th>
                    {% trans "Price range (debug)" context "Shipping methods table header" %}
                  </th>
                  <th>
                    {% trans "Price range" context "Shipping methods table header" %}
                  </th>
                  <th class="wide">
                    {% trans "Countries" context "Shipping methods table header" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for method in shipping_methods %}
                  <tr data-action-go="{% if perms.shipping.edit_shipping %}{% url 'dashboard:shipping-method-details' pk=method.pk %}{% endif %}">
                    <td>
                      {{ method }}
                    </td>
                    <td>
                      {% if not method.get_price_range %}
                        -
                      {% else %}
                        {% with request.site.settings.include_taxes_in_prices as display_gross_prices %}
                          {% shipping_price_range method request.taxes as price_range %}

                          ({{ price_range.start.net|amount:'html' }} + {{ price_range.start.tax|amount:'html' }} VAT)
                          {% if price_range.start != price_range.stop %}
                            - ({{ price_range.stop.net|amount:'html' }} + {{ price_range.stop.tax|amount:'html' }} VAT)
                          {% endif %}
                        {% endwith %}
                      {% endif %}
                    </td>
                    <td>
                      {% if not method.get_price_range %}
                        -
                      {% else %}
                        {% with request.site.settings.include_taxes_in_prices as display_gross_prices %}
                          {% shipping_price_range method request.taxes as price_range %}
                          {% price_to_display price_range.start display_gross_prices as start_price %}
                          {% price_to_display price_range.stop display_gross_prices as stop_price %}

                          {% if start_price == stop_price %}
                            {{ start_price|amount }}
                          {% else %}
                            {{ start_price|amount }} - {{ stop_price|amount }}
                          {% endif %}
                        {% endwith %}
                      {% endif %}
                    </td>
                    <td>
                      {{ method.countries|join:", " }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate shipping_methods %}
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/shipping/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No shipping methods found." context "Empty shipping list message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
    </div>
  </div>
{% endblock %}
