{% extends "dashboard/base.html" %}
{% load i18n %}
{% load static %}
{% load status %}
{% load taxed_prices %}
{% load utils %}
{% load materializecss %}

{% block title %}
  {% trans "Shipping zones" context "Dashboard shipping zones list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-shipping-zones{% endblock %}

{% block menu_delivery_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">
      {% trans "Shipping zones" context "Dashboard shipping zones list" %}
    </li>
  </ul>
{% endblock %}

{% block header_extra %}
  <div class="btn-fab-fixed">
    <a href="{% url 'dashboard:shipping-zone-add' %}" class="btn-fab-default waves-effect waves-light" title="{% trans "Add shipping zone" context "Shipping zone list add button text" %}">
      <svg data-src="{% static "dashboard/images/add.svg" %}" />
    </a>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if shipping_zones %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  {% trans "Shipping zone" context "Shipping zones table header, name of the shipping zone" as label %}
                  {% sorting_header 'name' label is_wide=True %}

                  <th>
                    {% trans "Price range" context "Shipping zones table header, price range of shipping methods within shipping zone" %}
                  </th>
                  <th class="wide">
                    {% trans "Countries" context "Shipping zones table header, list of countries within of shipping zone" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for shipping_zone in shipping_zones %}
                  <tr data-action-go="{% url 'dashboard:shipping-zone-details' pk=shipping_zone.pk %}">
                    <td>
                      {{ shipping_zone }}
                    </td>
                    <td>
                      {% if not shipping_zone.price_range %}
                        -
                      {% else %}
                        {% price shipping_zone.price_range %}
                      {% endif %}
                    </td>
                    <td>
                      {{ shipping_zone.countries_display }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate shipping_zones %}
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/shipping/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No shipping zones found." context "Empty shipping list message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
      <div class="card">
        <form action="" method="post">
          <div class="card-content">
            <span class="card-title">{% trans "Default Weight Unit" %}</span>
            {% csrf_token %}
            <div class="row">
              {{ form|materializecss }}
            </div>
          </div>
          <div class="card-action right-align">
            <div class="col s12">
              <button type="submit" class="btn waves-effect right">
                {% trans "Save" context "Dashboard update action" %}
              </button>
            </div>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
