{% extends "dashboard/base.html" %}
{% load materializecss %}
{% load i18n %}

{% block title %}
  {% blocktrans trimmed context "Delete shipping method page title" %}
    Delete {{ shipping_method }}
  {% endblocktrans %}
{% endblock %}

{% block body_class %}body-shipping-methods{% endblock %}

{% block page_title %}
  {% blocktrans trimmed context "Delete shipping method page title" %}
    Delete {{ shipping_method }}
  {% endblocktrans %}
{% endblock %}

{% block menu_delivery_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--with-menu">
    <li>
      <a href="{% url 'dashboard:shipping-methods' %}" class="breadcrumbs--ellipsed-item">
        {% trans "Subscription methods" context "Delete shipping method breadcrumbs" %}
      </a>
    </li>
     <li>
      <a href="{% url 'dashboard:shipping-method-detail' pk=shipping_method.pk %}" class="breadcrumbs--ellipsed-item">
        {{ shipping_method }}
      </a>
     </li>
     <li>
      <span class="breadcrumbs--ellipsed-item">
        {% trans "Delete" context "Delete shipping method breadcrumbs" %}
      </span>
    </li>
  </ul>
{% endblock %}

{% block menu_shipping_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel">
        {% blocktrans trimmed with shipping_method_name=shipping_method context "Delete shipping method text" %}
          Are you sure you want to delete the {{ shipping_method_name }} method?
        {% endblocktrans %}
      </div>
    </div>
  </div>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn red">
      {% trans "Delete" context "Dashboard delete action" %}
    </button>
  </form>
{% endblock %}
