{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:product-image-delete' product_pk=product.pk img_pk=image.pk %}
{% endblock %}

{% block title %}
{% trans "Remove product image" context "Modal remove image text" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    <div class="center-align">
      <img class="responsive-img" src="{{ image.image.thumbnail.255x255 }}"  srcset="{{ image.image.thumbnail.255x255 }} 1x, {{ image.image.thumbnail.510x510 }} 2x" alt="">
    </div>
    <p>{% trans "Are you sure you want to remove product image?" context "Modal remove image text" %}</p>
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
