#privacy-policy {
  border: solid var(--border-width) var(--primaryColor);
	& section {
    padding: calc(var(--spacer) * 2) calc(var(--spacer) * 7);
    @media (max-width: 768px) {
      padding: calc(var(--spacer) * 2) calc(var(--spacer))
    }
		& .title, & .description {
			margin-bottom: var(--spacer);
		}
		&.hero {
			background-image: url('../../images/lock-bg.png');
			background-size: auto;
			background-repeat: no-repeat;
      background-position: 110% 30%;
      position: relative;
			& .plane {
				width: 50%;
				padding: calc(var(--spacer) * 14) 0 calc(var(--spacer) * 14) calc(var(--spacer));
				& p {
					font-size: calc(var(--font-size-base) * 1.2);
					width: 70%;
        }
        @media (max-width: 768px) {
          padding: calc(var(--spacer) * 10) 0 calc(var(--spacer) * 5) 0;
          width: auto;
          & p {
            width: auto;
          }
        }
      }
      & .decoration {
        top: 40%;
        right: 0;
        z-index: -1;
        width: auto;
      }
      @media (max-width: 768px) {
        height: 70vh;
        background-position: 35% 0%;
        & .scroll-link {
          position: absolute;
          bottom: 5%;
          left: 0;
          right: 0;
        }
      }
		}
		&.general-information {
			& .border-left {
				border-left: 4px solid;
				padding: 0 0 0 var(--spacer);
			}
		}
		&.analytics {
			& .description {
        width: 80%;
        @media (max-width: 768px) {
          width: auto;
        }
			}
		}
		&.your-rights {
      & .list {
        list-style: circle;
        list-style-position: outside;
        margin-left: calc(var(--spacer) * 1.3);
        & li {
          margin-bottom: calc(var(--spacer) * 1.5);
        }
      }
    }
    &.banner {
      background-color: #100A35;
      background: linear-gradient(135deg, rgba(16,10,53,0) 18%, rgba(16,10,53,1) 8%, rgba(16,10,53,1) 80%, rgba(16,10,53,0) 8%, rgba(16,10,53,0) 100%);
      margin-bottom: calc(var(--spacer) * 2);
      position: relative;
      & h1 span {
        font-weight: var(--font-weight-light)
      }
      & .btn {
        margin: calc(var(--spacer) * 2) 0;
        display: inline-block;
      }
      & .decoration-left {
        top: 0;
        left: -5%;
        width: 10%;
      }
      & .decoration-right {
        right: -5%;
        top: -20%;
        width: 10%;
      }
    }
	}
}
