#privacy-policy {
  border: solid var(--border-width) var(--primaryColor);
	& section {
    padding: calc(var(--spacer) * 2) calc(var(--spacer) * 7);
		& .title, & .description {
			margin-bottom: var(--spacer);
		}
		&.hero {
			background-image: url('../../images/lock-bg.png');
			background-size: auto;
			background-repeat: no-repeat;
			background-position: 110% 30%;
			& .plane {
				width: 50%;
				padding: calc(var(--spacer) * 14) 0 calc(var(--spacer) * 14) calc(var(--spacer));
				& p {
					font-size: calc(var(--font-size-base) * 1.2);
					width: 70%;
				}
      }
      & .decoration {
        top: 40%;
        right: 0;
        z-index: -1;
        width: auto;
      }
		}
		&.general-information {
			& .border-left {
				border-left: 4px solid;
				padding: 0 0 0 1rem;
			}
		}
		&.analytics {
			& .description {
				width: 80%;
			}
		}
		&.your-rights {
			& .list li {
        margin-bottom: calc(var(--spacer) * 1.5);
			}
    }
    &.banner {
      background-color: #100A35;
      background: linear-gradient(135deg, rgba(16,10,53,0) 18%, rgba(16,10,53,1) 8%, rgba(16,10,53,1) 80%, rgba(16,10,53,0) 8%, rgba(16,10,53,0) 100%);
      margin-bottom: calc(var(--spacer) * 2);
      margin-left: -33.33%;
      margin-right: -33.33%;
      position: relative;
      & h1 span {
        font-weight: var(--font-weight-light)
      }
      & .btn {
        margin: calc(var(--spacer) * 2) 0;
        display: inline-block;
      }
      & .decoration-left {
        top: 0;
        left: 15%;
        width: 10%;
      }
      & .decoration-right {
        right: 15%;
        top: -40%;
        width: 10%;
      }
    }
	}
}