#privacy-policy {
	& section {
    padding-top: var(--spacer);
    padding-bottom: calc(var(--spacer) * 3);
		& .title, & .description {
			margin-bottom: var(--spacer);
    }
    & .bg-container {
      background-image: url('../../images/lock-bg.svg');
      background-size: 40%;
      background-position: 90% 20%;
      @media (max-width: 1024px) {
        background-size: 60%;
        background-position: 120% 20%;
      }
      @media (max-width: 768px) {
        background-position: 120% 50%;
      }
      @media (max-width: 700px) {
        background-position: 180% 0%;
      }
      @media (max-width: 550px) {
        background-size: 100%;
        background-position: 35% 0%;
      }
    }
		&.hero {
      padding: 0;
      position: relative;
      margin-bottom: calc(var(--spacer) * 4);
			& .plane {
				width: 60%;
				position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
				& p {
					font-size: calc(var(--font-size-base) * 1.2);
					width: 70%;
        }
        @media (max-width: 550px) {
          padding: 0 var(--spacer);
          width: auto;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          & p {
            width: auto;
          }
        }
      }
      & .scroll-link {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 998;
        bottom: calc(var(--spacer) * 4);
        @media (max-width: 768px) {
          position: absolute;
          bottom: 5%;
        }
        @media (max-width: 550px) {
          bottom: 10%;
        }
        @media (max-width: 320px) {
          bottom: -5%;
        }
      }
		}
    &.section-container {
      padding: calc(var(--spacer) * 2) calc(var(--spacer) * 10);
      @media (max-width: 1024px) {
        padding: calc(var(--spacer) * 2) calc(var(--spacer) * 4);
      }
      @media (max-width: 550px) {
        padding: calc(var(--spacer) * 2) var(--spacer);
      }
      & a {
        color: var(--body-color);
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    & h3 {
      text-transform: initial;
      font-size: calc(var(--font-size-base) * 2);
    }
		&.general-information {
			& .border-left {
				border-left: calc(var(--border-width) * 4) solid;
				padding: 0 0 0 var(--spacer);
        & h5 {
          padding: calc(var(--spacer) / 2) 0;
        }
      }
		}
		&.analytics {
			& .description {
        width: 80%;
        @media (max-width: 768px) {
          width: auto;
        }
			}
		}
		&.your-rights {
      & .list {
        color: var(--primaryColor);
        list-style: disc;
        list-style-position: outside;
        margin-left: calc(var(--spacer) * 1.3);
        & li {
          margin-bottom: calc(var(--spacer) * 1.5);
          & span {
            color: var(--body-color);
          }
        }
      }
    }
    & h3 {
      margin-bottom: var(--spacer);
    }
    & p {
      margin-bottom: var(--spacer);
      &.subtitle {
        font-weight: 500;
        padding-left: calc(var(--spacer) * 2);
      }
    }
    & strong {
      font-weight: 500;
    }
    & ul {
      &.regularlist {
        padding-left: calc(var(--spacer) * 2);
        padding-bottom: calc(var(--spacer));
      }
    }
  }
}
