{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:company-delete' pk=company.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Header of modal used for removing company" %}
  Remove company {{ company }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% if allow_delete %}
      {% blocktrans trimmed context "Modal remove company text" %}
        Are you sure you want to remove company <strong>{{ company }}</strong>?
      {% endblocktrans %}
    {% else %}
      {% blocktrans trimmed context "Modal reject remove company text" %}
        All users must be disassociated with a company before it can be
        deleted.
      {% endblocktrans %}
    {% endif %}
  </div>
{% endblock content %}

{% block primary_action %}
{% if allow_delete %}
  {% trans "Remove" context "Dashboard delete action" %}
{% endif %}
{% endblock %}
