{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}form-async{% endblock %}

{% block action_url %}
{% url 'dashboard:company-delete' pk=company.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Header of modal used for removing company" %}
  Remove company {{ company }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed context "Modal remove collection text" %}
      Are you sure you want to remove company <strong>{{ company }}</strong>?
      Please note that this procedure will remove the company, but
      will leave all associated customers and their orders.
    {% endblocktrans %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
