@media (max-width: 768px) {
  header {
    .navbar {
      .logo {
        padding-left: $global-padding;
      }
      .navbar-collapse {
        padding: 0;
        ul {
          padding-left: 0;
          li {
            width: 100%;
            display: block;
            text-align: center;
            padding: $global-padding;
            &:last-child {
              a {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .section {
    .item {
      border: 0;
      &:nth-child(1) {border: 0;}
      &:nth-child(2) {border: 0;}
      &:nth-child(3) {border: 0;}
      &:nth-child(4) {border: 0;}
    }
  }
}


