@media (max-width: 768px) {
  header {
    .navbar {
      .logo {
        padding-left: $global-padding;
      }
      .navbar-collapse {
        padding: 0;
        ul {
          padding-left: 0;
          li {
            width: 100%;
            display: block;
            text-align: center;
            padding: $global-padding;
            &:last-child {
              a {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .section {
    .item {
      border: 0;
      &:nth-child(1) {border: 0;}
      &:nth-child(2) {border: 0;}
      &:nth-child(3) {border: 0;}
      &:nth-child(4) {border: 0;}
    }
    &-slider {
      .slider-bg {
        background-image: url('images/slider-mobile.svg');
        padding-top: 140%;
        .carousel {
          width: 64.8%;
          left: 17.7%;
          top: 16.9%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
 footer {
    .links {
      padding-bottom: $global-padding*2;
      border-top: 0;
      border-bottom: 0;
      border-left: solid 1px $footer-border;
      border-right: solid 1px $footer-border;
    }
    .follow-us {
      text-align: center;
      padding: $global-padding*2 0;
      h3 {
        border: 0;
        display: inline;
      }
      .icons {
        display: inline;
      }
    }
  }
}


