{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>
    <li><a href="{% url 'registration:change_password' %}">{% trans "Change password" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <fieldset>
                        <legend>{% trans 'Change password' %}</legend>
                        {% bootstrap_form form %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    </fieldset>

                    <div class="form-group">
                        <button class="btn btn-primary">
                            {% trans "Update password" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
