{% extends "base.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Login" %} — {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" action="{% url 'registration:login' %}" novalidate>
                    {% csrf_token %}
                    <fieldset>
                        <legend>{% trans 'Log in' %}</legend>
                        {% bootstrap_form form %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    </fieldset>

                    <div class="form-group text-right">
                        <a class="btn btn-secondary" href="{% url 'registration:request_email_confirmation' %}">{% trans "I don't know my password" %}</a>
                        <button class="btn btn-primary">
                            {% trans "Log in" %}
                        </button>
                    </div>
                    <hr>
                    {% if facebook_login_url or google_login_url %}
                        <p>{% trans "Want to use your social profile?" %}</p>
                        <p>
                            {% if facebook_login_url %}
                                <a class="btn btn-default" href="{{ facebook_login_url }}">
                                    {% trans "Log in using Facebook" %}
                                </a>
                            {% endif %}
                            {% if google_login_url %}
                                <a class="btn btn-default" href="{{ google_login_url }}"> {% trans "Log in using Google" %}</a>
                            {% endif %}
                        </p>
                        <hr>
                    {% endif %}
                    <div class="form-group">
                        <p>{% trans "Don't have an account yet?" %} <a class="btn btn-secondary" href="{% url 'registration:request_email_confirmation' %}">{% trans "Register" %}</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
