{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% trans "Dashboard - Saleor" %}{% endblock %}</title>

    {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{% static "less/dashboard.less" %}">
        <script type="text/javascript" src="{% static "dist/js/less.min.js" %}"></script>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static "versatileimagefield/css/versatileimagefield.css" %}">
    {% block custom_css %}
    {% endblock %}
</head>

<body>

<div id="wrapper">

    <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".sidebar-collapse">
                    <span class="sr-only">{% trans "Toggle navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'dashboard:index' %}">Saleor Dashboard</a>
            </div>
            {% include "dashboard/includes/header.html" %}
        </div>

        {% include "dashboard/includes/sidebar.html" %}
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        {% if messages %}
            <div class="row">
                {% include "dashboard/includes/_messages.html" %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

</div>
<!-- /#wrapper -->

<!-- Core Scripts - Include with every page -->
<script src="{% static "dist/js/jquery.min.js" %}"></script>
<script src="{% static "dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "versatileimagefield/js/versatileimagefield.js" %}"></script>

{% block custom_js %}{% endblock %}
</body>

</html>
