{% extends "dashboard/base_modal_confirm_delete.html" %}

{% load i18n %}

{% block action_url %}
{% url "dashboard:product-attribute-delete" pk=attribute.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal delete attribute text" %}
Delete attribute {{ attribute }}
{% endblocktrans %}
{% endblock title %}

{% block content %}
{% blocktrans trimmed context "Modal delete attribute text" %}
Are you sure you want to delete attribute <strong>{{ attribute }}</strong>?
{% endblocktrans %}
{% endblock content %}
