{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:organization-delete' pk=organization.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Header of modal used for removing organization" %}
  Remove organization {{ organization }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% if allow_delete %}
      {% blocktrans trimmed context "Modal remove organization text" %}
        Are you sure you want to remove organization <strong>{{ organization }}</strong>?
      {% endblocktrans %}
    {% else %}
      {% blocktrans trimmed context "Modal reject remove organization text" %}
        All users must be disassociated with a organization before it can be
        deleted.
      {% endblocktrans %}
    {% endif %}
  </div>
{% endblock content %}

{% block primary_action %}
{% if allow_delete %}
  {% trans "Remove" context "Dashboard delete action" %}
{% endif %}
{% endblock %}
