{% load bootstrap_form from bootstrap3 %}
{% load i18n %}

<form method="post" action="{% url 'account_login' %}" novalidate>
  {% csrf_token %}
  <fieldset>
    {% bootstrap_form form %}
    {% if redirect_field_value %}
      <input type="hidden" name="next" name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}"/>
    {% endif %}
  </fieldset>
  <div class="row login__btn-group">
    <div class="col-sm-12">
      <button class="btn primary narrow">
        {% trans "Log in" context "Login form primary action" %}
      </button>
      <a class="link--styled" href="{% url 'account_reset_password' %}">
        {% trans "Forgot password?" context "Login form secondary link" %}
      </a>
      {% if 'facebook' in backends.backends %}
        <a href="{% url 'social:begin' 'facebook' %}">{% trans 'Facebook' %}</a>
      {% endif %}
      {% if 'google-oauth2' in backends.backends %}
        <a href="{% url 'social:begin' 'google-oauth2' %}">{% trans 'Google' %}</a>
      {% endif %}
    </div>
  </div>
</form>
