interactions:
- request:
    body: '{"EffectiveDate": "02/24/21", "InvoiceDate": "02/24/21", "TitleTransferCode":
      "DEST", "TransactionType": "RETAIL", "TransactionLines": [{"InvoiceLine": 70,
      "ProductCode": "SKU_AA", "UnitPrice": "10.000", "UnitOfMeasure": null, "BilledUnits":
      "3", "LineAmount": "12.300", "AlternateUnitPrice": "1.000", "TaxIncluded": true,
      "UnitQuantity": null, "UnitQuantityUnitOfMeasure": null, "DestinationCountryCode":
      "USA", "DestinationJurisdiction": "TX", "DestinationAddress1": "1100 Congress
      Ave", "DestinationAddress2": "", "DestinationCounty": "", "DestinationCity":
      "Austin", "DestinationPostalCode": "78701", "SaleCountryCode": "USA", "SaleAddress1":
      "1100 Congress Ave", "SaleAddress2": "", "SaleJurisdiction": "TX", "SaleCounty":
      "", "SaleCity": "Austin", "SalePostalCode": "78701", "OriginCountryCode": "USA",
      "OriginJurisdiction": "TX", "OriginCounty": "", "OriginCity": "Austin", "OriginPostalCode":
      "78701", "OriginAddress1": "1100 Congress Ave", "OriginAddress2": "", "CustomString1":
      null, "CustomString2": null, "CustomString3": null, "CustomNumeric1": null,
      "CustomNumeric2": null, "CustomNumeric3": null}, {"InvoiceLine": 71, "ProductCode":
      "SKU_B", "UnitPrice": "20.000", "UnitOfMeasure": null, "BilledUnits": "2", "LineAmount":
      "24.600", "AlternateUnitPrice": "2.000", "TaxIncluded": true, "UnitQuantity":
      null, "UnitQuantityUnitOfMeasure": null, "DestinationCountryCode": "USA", "DestinationJurisdiction":
      "TX", "DestinationAddress1": "1100 Congress Ave", "DestinationAddress2": "",
      "DestinationCounty": "", "DestinationCity": "Austin", "DestinationPostalCode":
      "78701", "SaleCountryCode": "USA", "SaleAddress1": "1100 Congress Ave", "SaleAddress2":
      "", "SaleJurisdiction": "TX", "SaleCounty": "", "SaleCity": "Austin", "SalePostalCode":
      "78701", "OriginCountryCode": "USA", "OriginJurisdiction": "TX", "OriginCounty":
      "", "OriginCity": "Austin", "OriginPostalCode": "78701", "OriginAddress1": "1100
      Congress Ave", "OriginAddress2": "", "CustomString1": null, "CustomString2":
      null, "CustomString3": null, "CustomNumeric1": null, "CustomNumeric2": null,
      "CustomNumeric3": null}], "InvoiceNumber": 67}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
      x-company-id:
      - '1337'
    method: POST
    uri: https://excisesbx.avalara.com/api/v1/AvaTaxExcise/transactions/create
  response:
    body:
      string: "{\r\n  \"UserTranId\": \"\",\r\n  \"TranId\": 38987394,\r\n  \"Status\":
        \"Errors found\",\r\n  \"ReturnCode\": -1,\r\n  \"TotalTaxAmount\": 0.0,\r\n
        \ \"TransactionTaxes\": [],\r\n  \"TransactionErrors\": [\r\n    {\r\n      \"SequenceId\":
        1,\r\n      \"ErrorCode\": \"-995\",\r\n      \"ErrorMessage\": \"Product
        \\\"SKU_AA\\\" does not exist or is not active for 02/24/2021 00:00:00.\",\r\n
        \     \"ErrorLevelInd\": \"Critical\",\r\n      \"TransactionLine\": 1\r\n
        \   }\r\n  ],\r\n  \"UserReturnValue\": \"\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
