interactions:
- request:
    body: '{"EffectiveDate": "02/22/21", "InvoiceDate": "02/22/21", "TitleTransferCode":
      "DEST", "TransactionType": "RETAIL", "TransactionLines": [{"InvoiceLine": 1,
      "ProductCode": "202000000", "UnitPrice": "172.000", "UnitOfMeasure": "PAC",
      "BilledUnits": "1", "LineAmount": "172.00", "AlternateUnitPrice": "1.000", "TaxIncluded":
      false, "UnitQuantity": 25, "UnitQuantityUnitOfMeasure": "EA", "DestinationCountryCode":
      "USA", "DestinationJurisdiction": "VA", "DestinationAddress1": "2000 Main Street",
      "DestinationAddress2": "", "DestinationCounty": "", "DestinationCity": "Richmond",
      "DestinationPostalCode": "23226", "SaleCountryCode": "USA", "SaleAddress1":
      "2000 Main Street", "SaleAddress2": "", "SaleJurisdiction": "VA", "SaleCounty":
      "", "SaleCity": "Richmond", "SalePostalCode": "23226", "OriginCountryCode":
      "USA", "OriginJurisdiction": "TX", "OriginCounty": "", "OriginCity": "Austin",
      "OriginPostalCode": "78701", "OriginAddress1": "1100 Congress Ave", "OriginAddress2":
      "", "CustomString1": null, "CustomString2": null, "CustomString3": null, "CustomNumeric1":
      81.46, "CustomNumeric2": 85.65, "CustomNumeric3": 95.72}], "InvoiceNumber":
      null}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
      x-company-id:
      - '1337'
    method: POST
    uri: https://excisesbx.avalara.com/api/v1/AvaTaxExcise/transactions/create
  response:
    body:
      string: "{\r\n  \"UserTranId\": \"0d6c4dd3-da49-4c4b-bb0b-bb3ae24f5a5d\",\r\n
        \ \"TranId\": 38973048,\r\n  \"Status\": \"Success\",\r\n  \"ReturnCode\":
        0,\r\n  \"TotalTaxAmount\": 27.59,\r\n  \"TransactionTaxes\": [\r\n    {\r\n
        \     \"TransactionTaxAmounts\": [],\r\n      \"SequenceId\": 1,\r\n      \"TransactionLine\":
        1,\r\n      \"InvoiceLine\": 1,\r\n      \"CountryCode\": \"USA\",\r\n      \"Jurisdiction\":
        \"VA\",\r\n      \"LocalJurisdiction\": \"NONE\",\r\n      \"ProductCategory\":
        0.0,\r\n      \"TaxingLevel\": \"STATE\",\r\n      \"TaxType\": \"TOBACCO\",\r\n
        \     \"RateType\": \"TAX\",\r\n      \"RateSubtype\": \"CGRH\",\r\n      \"CalculationTypeInd\":
        \"P\",\r\n      \"TaxRate\": 0.2000000000,\r\n      \"TaxQuantity\": 1.0,\r\n
        \     \"TaxAmount\": 16.29,\r\n      \"TaxExemptionInd\": \"N\",\r\n      \"DeferredInd\":
        \"N\",\r\n      \"SalesTaxBaseAmount\": 81.46,\r\n      \"LicenseNumber\":
        \"\",\r\n      \"UserReturnedValue\": \"\",\r\n      \"ScenarioId\": 1574099,\r\n
        \     \"ScenarioTaxGroupId\": 4343,\r\n      \"ScenarioSequence\": 1,\r\n
        \     \"RateDescription\": \"VA State Cigar Tax\",\r\n      \"Currency\":
        \"USD\",\r\n      \"UnitOfMeasure\": \"pac\",\r\n      \"SubtotalInd\": \"A\",\r\n
        \     \"StatusCode\": \"ACTIVE\",\r\n      \"QuantityInd\": \"B\"\r\n    },\r\n
        \   {\r\n      \"TransactionTaxAmounts\": [],\r\n      \"SequenceId\": 2,\r\n
        \     \"TransactionLine\": 1,\r\n      \"InvoiceLine\": 1,\r\n      \"CountryCode\":
        \"USA\",\r\n      \"Jurisdiction\": \"VA\",\r\n      \"LocalJurisdiction\":
        \"51\",\r\n      \"ProductCategory\": 0.0,\r\n      \"TaxingLevel\": \"STA\",\r\n
        \     \"TaxType\": \"U\",\r\n      \"RateType\": \"G\",\r\n      \"RateSubtype\":
        \"NONE\",\r\n      \"Calcula[...]
[...]
