interactions:
- request:
    body: '{"EffectiveDate": "02/18/21", "InvoiceDate": "02/18/21", "TitleTransferCode":
      "DEST", "TransactionType": "RETAIL", "TransactionLines": [{"InvoiceLine": 9,
      "ProductCode": "123", "UnitPrice": "10.000", "UnitOfMeasure": "PAC", "BilledUnits":
      "3", "LineAmount": "15.00", "AlternateUnitPrice": "1.000", "TaxIncluded": true,
      "UnitQuantity": null, "UnitQuantityUnitOfMeasure": "EA", "DestinationCountryCode":
      "USA", "DestinationJurisdiction": "TX", "DestinationAddress1": "1100 Congress
      Ave", "DestinationAddress2": "", "DestinationCounty": "", "DestinationCity":
      "Austin", "DestinationPostalCode": "78701", "SaleCountryCode": "USA", "SaleAddress1":
      "1100 Congress Ave", "SaleAddress2": "", "SaleJurisdiction": "TX", "SaleCounty":
      "", "SaleCity": "Austin", "SalePostalCode": "78701", "OriginCountryCode": "USA",
      "OriginJurisdiction": "TX", "OriginCounty": "", "OriginCity": "Austin", "OriginPostalCode":
      "78701", "OriginAddress1": "1100 Congress Ave", "OriginAddress2": "", "CustomString1":
      null, "CustomString2": null, "CustomString3": null, "CustomNumeric1": null,
      "CustomNumeric2": null, "CustomNumeric3": null}]}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
      x-company-id:
      - '1337'
    method: POST
    uri: https://excisesbx.avalara.com/api/v1/AvaTaxExcise/transactions/create
  response:
    body:
      string: "{\r\n  \"UserTranId\": \"090406b6-ffed-44db-bd40-8ed93ef709a2\",\r\n
        \ \"TranId\": 38923660,\r\n  \"Status\": \"Success\",\r\n  \"ReturnCode\":
        0,\r\n  \"TotalTaxAmount\": 1.14,\r\n  \"TransactionTaxes\": [\r\n    {\r\n
        \     \"TransactionTaxAmounts\": [],\r\n      \"SequenceId\": 1,\r\n      \"TransactionLine\":
        1,\r\n      \"InvoiceLine\": 9,\r\n      \"CountryCode\": \"USA\",\r\n      \"Jurisdiction\":
        \"TX\",\r\n      \"LocalJurisdiction\": \"48\",\r\n      \"ProductCategory\":
        0.0,\r\n      \"TaxingLevel\": \"STA\",\r\n      \"TaxType\": \"S\",\r\n      \"RateType\":
        \"G\",\r\n      \"RateSubtype\": \"NONE\",\r\n      \"CalculationTypeInd\":
        \"P\",\r\n      \"TaxRate\": 0.062500,\r\n      \"TaxQuantity\": 0.0,\r\n
        \     \"TaxAmount\": 0.86,\r\n      \"TaxExemptionInd\": \"N\",\r\n      \"SalesTaxBaseAmount\":
        13.8600,\r\n      \"LicenseNumber\": \"\",\r\n      \"RateDescription\": \"TX
        STATE TAX - TEXAS\",\r\n      \"Currency\": \"USD\",\r\n      \"SubtotalInd\":
        \"C\",\r\n      \"StatusCode\": \"ACTIVE\",\r\n      \"QuantityInd\": \"B\"\r\n
        \   },\r\n    {\r\n      \"TransactionTaxAmounts\": [],\r\n      \"SequenceId\":
        2,\r\n      \"TransactionLine\": 1,\r\n      \"InvoiceLine\": 9,\r\n      \"CountryCode\":
        \"USA\",\r\n      \"Jurisdiction\": \"TX\",\r\n      \"LocalJurisdiction\":
        \"05000\",\r\n      \"ProductCategory\": 0.0,\r\n      \"TaxingLevel\": \"CIT\",\r\n
        \     \"TaxType\": \"S\",\r\n      \"RateType\": \"G\",\r\n      \"RateSubtype\":
        \"NONE\",\r\n      \"Calcu[...]
