interactions:
- request:
    body: '{"EffectiveDate": "02/22/21", "InvoiceDate": "02/22/21", "TitleTransferCode":
      "DEST", "TransactionType": "RETAIL", "TransactionLines": [{"InvoiceLine": 1,
      "ProductCode": "202015500", "UnitPrice": "170.000", "UnitOfMeasure": "PAC",
      "BilledUnits": "1", "LineAmount": "170.00", "AlternateUnitPrice": "1.000", "TaxIncluded":
      false, "UnitQuantity": 18, "UnitQuantityUnitOfMeasure": "EA", "DestinationCountryCode":
      "USA", "DestinationJurisdiction": "AZ", "DestinationAddress1": "2000 Main Street",
      "DestinationAddress2": "", "DestinationCounty": "", "DestinationCity": "Tempe",
      "DestinationPostalCode": "85281", "SaleCountryCode": "USA", "SaleAddress1":
      "2000 Main Street", "SaleAddress2": "", "SaleJurisdiction": "AZ", "SaleCounty":
      "", "SaleCity": "Tempe", "SalePostalCode": "85281", "OriginCountryCode": "USA",
      "OriginJurisdiction": "TX", "OriginCounty": "", "OriginCity": "Austin", "OriginPostalCode":
      "78701", "OriginAddress1": "1100 Congress Ave", "OriginAddress2": "", "CustomString1":
      null, "CustomString2": null, "CustomString3": null, "CustomNumeric1": 102.51,
      "CustomNumeric2": 108.0, "CustomNumeric3": 115.25}], "InvoiceNumber": null}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
      x-company-id:
      - '1337'
    method: POST
    uri: https://excisesbx.avalara.com/api/v1/AvaTaxExcise/transactions/create
  response:
    body:
      string: "{\r\n  \"UserTranId\": \"38bad331-c889-4e20-bf2a-1c684b2956e0\",\r\n
        \ \"TranId\": 38973050,\r\n  \"Status\": \"Success\",\r\n  \"ReturnCode\":
        0,\r\n  \"TotalTaxAmount\": 16.79,\r\n  \"TransactionTaxes\": [\r\n    {\r\n
        \     \"TransactionTaxAmounts\": [],\r\n      \"SequenceId\": 1,\r\n      \"TransactionLine\":
        1,\r\n      \"InvoiceLine\": 1,\r\n      \"CountryCode\": \"USA\",\r\n      \"Jurisdiction\":
        \"AZ\",\r\n      \"LocalJurisdiction\": \"NONE\",\r\n      \"ProductCategory\":
        0.0,\r\n      \"TaxingLevel\": \"STATE\",\r\n      \"TaxType\": \"TOBACCO\",\r\n
        \     \"RateType\": \"TAX\",\r\n      \"RateSubtype\": \"CGRH1\",\r\n      \"CalculationTypeInd\":
        \"C\",\r\n      \"TaxRate\": 0.2180000000,\r\n      \"TaxQuantity\": 18.0,\r\n
        \     \"TaxAmount\": 3.92,\r\n      \"TaxExemptionInd\": \"N\",\r\n      \"DeferredInd\":
        \"N\",\r\n      \"SalesTaxBaseAmount\": 0.0,\r\n      \"LicenseNumber\": \"\",\r\n
        \     \"UserReturnedValue\": \"\",\r\n      \"ScenarioId\": 1574219,\r\n      \"ScenarioTaxGroupId\":
        4395,\r\n      \"ScenarioSequence\": 2,\r\n      \"RateDescription\": \"AZ
        State Cigar Tax (Retail more than 5 cents)\",\r\n      \"Currency\": \"USD\",\r\n
        \     \"UnitOfMeasure\": \"EA\",\r\n      \"SubtotalInd\": \"U\",\r\n      \"StatusCode\":
        \"ACTIVE\",\r\n      \"QuantityInd\": \"B\"\r\n    },\r\n    {\r\n      \"TransactionTaxAmounts\":
        [],\r\n      \"SequenceId\": 2,\r\n      \"TransactionLine\": 1,\r\n      \"InvoiceLine\":
        1,\r\n      \"CountryCode\": \"USA\",\r\n      \"Jurisdiction\": \"AZ\",\r\n
        \     \"LocalJurisdiction\": \"04\",\r\n      \"ProductCategory\": 0.0,\r\n
        \     \"TaxingLevel\": \"STA\",\r\n      \"TaxType\": \"U\",\r\n      \"RateType\":
        \"G\",\r\n      \"RateSubtype\": \"NONE\",\r\n      \"CalculationTypeI[...]
[...]
