interactions:
- request:
    body: '{"EffectiveDate": "02/08/21", "InvoiceDate": "02/08/21", "TitleTransferCode":
      "DEST", "TransactionType": "RETAIL", "TransactionLines": [{"InvoiceLine": 66,
      "ProductCode": "123", "UnitPrice": "10.000", "BilledUnits": 3, "AlternateUnitPrice":
      "1.000", "TaxIncluded": true, "UnitQuantity": null, "DestinationCountryCode":
      "USA", "DestinationJurisdiction": "TX", "DestinationAddress1": "1100 Congress
      Ave", "DestinationAddress2": "", "DestinationCounty": "", "DestinationCity":
      "Austin", "DestinationPostalCode": "78701", "SaleCountryCode": "USA", "SaleAddress1":
      "1100 Congress Ave", "SaleAddress2": "", "SaleJurisdiction": "TX", "SaleCounty":
      "", "SaleCity": "Austin", "SalePostalCode": "78701", "Origin": "da829963ba644547963b1aefc970de5b",
      "OriginCountryCode": "USA", "OriginJurisdiction": "TX", "OriginCounty": "",
      "OriginCity": "Austin", "OriginPostalCode": "78701", "OriginAddress1": "1100
      Congress Ave", "OriginAddress2": "", "CustomString1": null, "CustomString2":
      null, "CustomString3": null, "CustomNumeric1": null, "CustomNumeric2": null,
      "CustomNumeric3": null}]}'
    headers:
      Content-Type:
      - application/json
      x-company-id:
      - '1337'
    method: POST
    uri: https://excisesbx.avalara.com/api/v1/AvaTaxExcise/transactions/create
  response:
    body:
      string: "{\r\n  \"UserTranId\": \"2bceedef-550f-4f2f-b8b6-89d85756ff3c\",\r\n\
        \  \"TranId\": 38744780,\r\n  \"Status\": \"Success\",\r\n  \"ReturnCode\"\
        : 0,\r\n  \"TotalTaxAmount\": 2.29,\r\n  \"TransactionTaxes\": [\r\n    {\r\
        \n      \"TransactionTaxAmounts\": [],\r\n      \"SequenceId\": 1,\r\n   \
        \   \"TransactionLine\": 1,\r\n      \"InvoiceLine\": 66,\r\n      \"CountryCode\"\
        : \"USA\",\r\n      \"Jurisdiction\": \"TX\",\r\n      \"LocalJurisdiction\"\
        : \"48\",\r\n      \"ProductCategory\": 0.0,\r\n      \"TaxingLevel\": \"\
        STA\",\r\n      \"TaxType\": \"S\",\r\n      \"RateType\": \"G\",\r\n    \
        \  \"RateSubtype\": \"NONE\",\r\n      \"CalculationTypeInd\": \"P\",\r\n\
        \      \"TaxRate\": 0.062500,\r\n      \"TaxQuantity\": 0.0,\r\n      \"TaxAmount\"\
        : 1.73,\r\n      \"TaxExemptionInd\": \"N\",\r\n      \"SalesTaxBaseAmount\"\
        : 27.7100,\r\n      \"LicenseNumber\": \"\",\r\n      \"RateDescription\"\
        : \"TX STATE TAX - TEXAS\",\r\n      \"Currency\": \"USD\",\r\n      \"SubtotalInd\"\
        : \"C\",\r\n      \"StatusCode\": \"ACTIVE\",\r\n      \"QuantityInd\": \"\
        B\"\r\n    },\r\n    {\r\n      \"TransactionTaxAmounts\": [],\r\n      \"\
        SequenceId\": 2,\r\n      \"TransactionLine\": 1,\r\n      \"InvoiceLine\"\
        : 66,\r\n      \"CountryCode\": \"USA\",\r\n      \"Jurisdiction\": \"TX\"\
        ,\r\n      \"LocalJurisdiction\": \"05000\",\r\n      \"ProductCategory\"\
        : 0.0,\r\n      \"TaxingLevel\": \"CIT\",\r\n      \"TaxType\": \"S\",\r\n\
        \      \"RateType\": \"G\",\r\n      \"RateSubtype\": \"NONE\",\r\n      \"\
        CalculationTypeInd\": \"P\",\r\n      \"TaxRate\": 0.010000,\r\n      \"TaxQuantity\"\
        : 0.0,\r\n      \"TaxAmount\": 0.28,\r\n      \"TaxExemptionInd\": \"N\",\r\
        \n      \"SalesTaxBaseAmount\": 27.7100,\r\n      \"LicenseNumber\": \"\"\
        ,\r\n      \"RateDescription\": \"TX CITY TAX - AUSTIN\",\r\n      \"Currency\"\
        : \"USD\",\r\n      \"SubtotalInd\": \"C\",\r\n      \"StatusCode\": \"ACTIVE\"\
        ,\r\n      \"QuantityInd\": \"B\"\r\n    },\r\n    {\r\n      \"TransactionTaxAmounts\"\
        : [],\r\n      \"SequenceId\": 3,\r\n      \"TransactionLine\": 1,\r\n   \
        \   \"InvoiceLine\": 66,\r\n      \"CountryCode\": \"USA\",\r\n      \"Jurisdiction\"\
        : \"TX\",\r\n      \"LocalJurisdiction\": \"6000814\",\r\n      \"ProductCategory\"\
        : 0.0,\r\n      \"TaxingLevel\": \"STJ\",\r\n      \"TaxType\": \"S\",\r\n\
        \      \"RateType\": \"G\",\r\n      \"RateSubtype\": \"NONE\",\r\n      \"\
        CalculationTypeInd\": \"P\",\r\n      \"TaxRate\": 0.010000,\r\n      \"TaxQuantity\"\
        : 0.0,\r\n      \"TaxAmount\": 0.28,\r\n      \"TaxExemptionInd\": \"N\",\r\
        \n      \"SalesTaxBaseAmount\": 27.7100,\r\n      \"LicenseNumber\": \"\"\
        ,\r\n      \"RateDescription\": \"TX SPECIAL TAX - AUSTIN MTA TRANSIT\",\r\
        \n      \"Currency\": \"USD\",\r\n      \"SubtotalInd\": \"C\",\r\n      \"\
        StatusCode\": \"ACTIVE\",\r\n      \"QuantityInd\": \"B\"\r\n    }\r\n  ],\r\
        \n  \"TransactionErrors\": [\r\n    {\r\n      \"SequenceId\": 1,\r\n    \
        \  \"ErrorCode\": \"-894\",\r\n      \"ErrorMessage\": \"Origin \\\"da829963ba644547963b1aefc970de5b\\\
        \" on line 1 does not exist or is not active for 02/08/2021.\",\r\n      \"\
        ErrorLevelInd\": \"Warning\",\r\n      \"TransactionLine\": 1\r\n    }\r\n\
        \  ],\r\n  \"UserReturnValue\": \"\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
