interactions:
- request:
    body: '{"EffectiveDate": "02/23/21", "InvoiceDate": "02/23/21", "TitleTransferCode":
      "DEST", "TransactionType": "RETAIL", "TransactionLines": [{"InvoiceLine": 5,
      "ProductCode": "123", "UnitPrice": "10.000", "UnitOfMeasure": null, "BilledUnits":
      "3", "LineAmount": "30.00", "AlternateUnitPrice": "1.000", "TaxIncluded": true,
      "UnitQuantity": null, "UnitQuantityUnitOfMeasure": null, "DestinationCountryCode":
      "POL", "DestinationJurisdiction": "", "DestinationAddress1": "T\u0119czowa 7",
      "DestinationAddress2": "", "DestinationCounty": "", "DestinationCity": "WROC\u0141AW",
      "DestinationPostalCode": "53-601", "SaleCountryCode": "POL", "SaleAddress1":
      "T\u0119czowa 7", "SaleAddress2": "", "SaleJurisdiction": "", "SaleCounty":
      "", "SaleCity": "WROC\u0141AW", "SalePostalCode": "53-601", "OriginCountryCode":
      "USA", "OriginJurisdiction": "TX", "OriginCounty": "", "OriginCity": "Austin",
      "OriginPostalCode": "78701", "OriginAddress1": "1100 Congress Ave", "OriginAddress2":
      "", "CustomString1": null, "CustomString2": null, "CustomString3": null, "CustomNumeric1":
      null, "CustomNumeric2": null, "CustomNumeric3": null}], "InvoiceNumber": null}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
      x-company-id:
      - '1337'
    method: POST
    uri: https://excisesbx.avalara.com/api/v1/AvaTaxExcise/transactions/create
  response:
    body:
      string: "{\r\n  \"UserTranId\": \"\",\r\n  \"TranId\": 38986570,\r\n  \"Status\":
        \"Errors found\",\r\n  \"ReturnCode\": -1,\r\n  \"TotalTaxAmount\": 0.0,\r\n
        \ \"TransactionTaxes\": [],\r\n  \"TransactionErrors\": [\r\n    {\r\n      \"SequenceId\":
        1,\r\n      \"ErrorCode\": \"-875\",\r\n      \"ErrorMessage\": \"The value
        \\\"\\\" is not a valid Destination Jurisdiction for the specified country.\",\r\n
        \     \"ErrorLevelInd\": \"Warning\",\r\n      \"TransactionLine\": 1\r\n
        \   },\r\n    {\r\n      \"SequenceId\": 2,\r\n      \"ErrorCode\": \"-1003\",\r\n
        \     \"ErrorMessage\": \"No Scenario record found.  TransactionType: RETAIL
        OriginJurisdiction: TX OriginCountryCode: USA DestinationJurisdiction:  DestinationCountryCode:
        POL TitleTransferCode: DEST DeterminationProductCategory: 52 SellerId: 0 EffectiveDate:
        02/23/2021 00:00:00 PerspectiveBusinessType:  ChainLeg: \",\r\n      \"ErrorLevelInd\":
        \"Critical\",\r\n      \"TransactionLine\": 1\r\n    }\r\n  ],\r\n  \"UserReturnValue\":
        \"\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
