interactions:
- request:
    body: '{"EffectiveDate": "02/18/21", "InvoiceDate": "02/18/21", "TitleTransferCode":
      "DEST", "TransactionType": "RETAIL", "TransactionLines": [{"InvoiceLine": 9,
      "ProductCode": "123", "UnitPrice": "10.000", "UnitOfMeasure": "PAC", "BilledUnits":
      "3", "LineAmount": "30.00", "AlternateUnitPrice": "1.000", "TaxIncluded": true,
      "UnitQuantity": null, "UnitQuantityUnitOfMeasure": "EA", "DestinationCountryCode":
      "POL", "DestinationJurisdiction": "", "DestinationAddress1": "T\u0119czowa 7",
      "DestinationAddress2": "", "DestinationCounty": "", "DestinationCity": "WROC\u0141AW",
      "DestinationPostalCode": "53-601", "SaleCountryCode": "POL", "SaleAddress1":
      "T\u0119czowa 7", "SaleAddress2": "", "SaleJurisdiction": "", "SaleCounty":
      "", "SaleCity": "WROC\u0141AW", "SalePostalCode": "53-601", "OriginCountryCode":
      "USA", "OriginJurisdiction": "TX", "OriginCounty": "", "OriginCity": "Austin",
      "OriginPostalCode": "78701", "OriginAddress1": "1100 Congress Ave", "OriginAddress2":
      "", "CustomString1": null, "CustomString2": null, "CustomString3": null, "CustomNumeric1":
      null, "CustomNumeric2": null, "CustomNumeric3": null}]}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
      x-company-id:
      - '1337'
    method: POST
    uri: https://excisesbx.avalara.com/api/v1/AvaTaxExcise/transactions/create
  response:
    body:
      string: ''
    headers:
    status:
      code: 401
      message: Unauthorized
version: 1
