{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load status %}
{% load utils %}

{% block title %}{% trans "Payment" %} #{{ payment.id }} - {% trans "Payments" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-payments{% endblock %}

{% block menu_payments_class %}active{% endblock %}

{% block header_menu %}
    {% url "dashboard:payments" as url %}
    {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--history">
        <li><a href="{% url "dashboard:payments" %}">{% trans "Payments" %}</a></li>
        <li class="back-mobile"><a href="{% url "dashboard:payments" %}"><i class="material-icons">arrow_back</i></a></li>
        <li><span>#{{ payment.id }}</span></li>
    </ul>
{% endblock %}

{% block menu_sales_class %} active{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 l8">
        <div class="card grey lighten-4">
            <div class="card-content">
                <span class="card-title black-text">Payment details</span>

                <ul>
                    <li>{% trans "Payment status" %}: {% render_status payment.status payment.get_status_display %}</li>
                    <li>{% trans "Fraud status" %}: {% render_status payment.fraud_status payment.get_fraud_status_display %}</li>
                    <li>{% trans "Amount" %}: {% gross payment.get_total_price %}</li>
                    <li>{% trans "Captured amount" %}: {% gross payment.get_captured_price %}</li>
                    <li>{% trans "Gateway" %}: {{ payment.variant }}</li>
                    <li>{% trans "Transaction ID" %}: {{ payment.transaction_id }}</li>
                    <li>{% trans "Payment date" %}: {{ payment.created }}</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <span class="card-title black-text">{% trans "Gateway response" %}</span>

                {% if payment.message %}
                    {{ payment.message }}
                {% else %}
                    <p>{% trans "No response available." %}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col s12 l4">
        <div class="row">
            <div class="col s12 m6 l12">
                <div class="card equal-height-on-med">
                    <div class="card-content">
                        <span class="card-title black-text">{% trans "Customer" %}</span>

                        <div class="address">
                            {% if payment.order.user %}
                                <div>{% trans "Account" %}: <a href="{% url "dashboard:customer-details" pk=payment.order.user.pk %}">{{ payment.order.user }}</a></div>
                            {% else %}
                                <div>{% trans "Account" %}: {% trans "Guest" %}</div>
                            {% endif %}
                            <div><i class="material-icons">email</i> <a href="mailto:{{ payment.order.user_email }}">{{ payment.order.user_email }}</a></div>
                            <div>Customer IP: {{ payment.customer_ip_address }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l12">
                <div class="card equal-height-on-med">
                    <div class="card-content">
                        <span class="card-title black-text">{% trans "Billing address" %}</span>

                        <div class="address">
                            <strong>{{ payment.billing_first_name }} {{ payment.billing_last_name }}</strong>
                            <div>{{ payment.billing_address_1 }}</div>
                            {% if payment.payment.billing_address_2 %}
                                <div>{{ payment.payment.billing_address_2 }}</div>
                            {% endif %}
                            <div>{{ payment.billing_postcode }}</div>
                            <div>{{ payment.billing_city }}, {{ payment.billing_country_code }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
