interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - Basic QVctTEQwcE1mck5CTS1lckNtOHNDYWhvWTFrZlh4TDZDMk05SjFUYmxIUHNWNWpkUF9FMWVvakxuMGdGeHVpenVjX1p3MjJYSVBMN2NianI6RUVabXE4RFF1VzItWGlBaU5lV2stWk5KWW1yYzVmcFRKV2JHSmpyRzZQMURBWjJMNUV0bEVxSVJjOExENlB5ck92akFHWnBSUXFzMENNM28=
      Content-Type:
      - application/x-www-form-urlencoded
      api_integration_type:
      - PAYPALSDK
      sdk_name:
      - Checkout SDK
      sdk_tech_stack:
      - Python3.6.3
      sdk_version:
      - 1.0.1
    method: POST
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
  response:
    body:
      string: '{"scope":"https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/disputes/read-buyer
        https://uri.paypal.com/services/payments/realtimepayment https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/payments/refund https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAHImVXHtPAdrzrRGKSZW9-EN8EntITIax1J072nBVMS2Sat9tqJ8PMil4TMvsOnSJgTFCRM7WJbGjnHQSMO3aDB60jgRg","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32400,"nonce":"2020-04-28T13:08:59Z3pJ9sNXExkZEq1066ZNYrgNut7iKgIfwuIM9MBj9Gz0"}'
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 98c13d580eca
      X-Paypal-Token-Service:
      - IAAS
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer A21AAHImVXHtPAdrzrRGKSZW9-EN8EntITIax1J072nBVMS2Sat9tqJ8PMil4TMvsOnSJgTFCRM7WJbGjnHQSMO3aDB60jgRg
      Content-Type:
      - application/json
      api_integration_type:
      - PAYPALSDK
      sdk_name:
      - Checkout SDK
      sdk_tech_stack:
      - Python3.6.3
      sdk_version:
      - 1.0.1
    method: POST
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/39R61016NN2825118/capture
  response:
    body:
      string: '{"id":"39R61016NN2825118","purchase_units":[{"reference_id":"default","shipping":{"name":{"full_name":"test
        buyer"},"address":{"address_line_1":"Via Unit? d''Italia, 5783296","admin_area_2":"Napoli","admin_area_1":"Napoli","postal_code":"80127","country_code":"IT"}},"payments":{"captures":[{"id":"81466026X71727922","status":"COMPLETED","amount":{"currency_code":"EUR","value":"42.42"},"final_capture":true,"seller_protection":{"status":"ELIGIBLE","dispute_categories":["ITEM_NOT_RECEIVED","UNAUTHORIZED_TRANSACTION"]},"seller_receivable_breakdown":{"gross_amount":{"currency_code":"EUR","value":"42.42"},"paypal_fee":{"currency_code":"EUR","value":"1.79"},"net_amount":{"currency_code":"EUR","value":"40.63"}},"links":[{"href":"https://api.sandbox.paypal.com/v2/payments/captures/81466026X71727922","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/payments/captures/81466026X71727922/refund","rel":"refund","method":"POST"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/39R61016NN2825118","rel":"up","method":"GET"}],"create_time":"2020-04-28T13:09:01Z","update_time":"2020-04-28T13:09:01Z"}]}}],"payer":{"name":{"given_name":"test","surname":"buyer"},"email_address":"info.yougardener-buyer@gmail.com","payer_id":"TVMZFLTE6N3UE","address":{"country_code":"IT"}},"links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/39R61016NN2825118","rel":"self","method":"GET"}],"status":"COMPLETED"}'
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - a13131e6cc90e
    status:
      code: 201
      message: Created
version: 1
