interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - Basic QVctTEQwcE1mck5CTS1lckNtOHNDYWhvWTFrZlh4TDZDMk05SjFUYmxIUHNWNWpkUF9FMWVvakxuMGdGeHVpenVjX1p3MjJYSVBMN2NianI6RUVabXE4RFF1VzItWGlBaU5lV2stWk5KWW1yYzVmcFRKV2JHSmpyRzZQMURBWjJMNUV0bEVxSVJjOExENlB5ck92akFHWnBSUXFzMENNM28=
      Content-Type:
      - application/x-www-form-urlencoded
      api_integration_type:
      - PAYPALSDK
      sdk_name:
      - Checkout SDK
      sdk_tech_stack:
      - Python3.8.2
      sdk_version:
      - 1.0.1
    method: POST
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
  response:
    body:
      string: '{"scope":"https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/disputes/read-buyer
        https://uri.paypal.com/services/payments/realtimepayment https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/payments/refund https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAEoZbMPro8-ZD5S8quCFhLbwHmRszHGRk-WNzSpUM0gLoPDjC6Mumxa0-31ypwXy-z9nNpLXgPoMiv_l1xucMN5cyV88w","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":31548,"nonce":"2020-08-18T15:00:44ZZhyQ_AqRTipKsBmwJtyShoqrBXbzqD0ELsGehfwSD8w"}'
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 1ce95efd6056e
      X-Paypal-Token-Service:
      - IAAS
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer A21AAEoZbMPro8-ZD5S8quCFhLbwHmRszHGRk-WNzSpUM0gLoPDjC6Mumxa0-31ypwXy-z9nNpLXgPoMiv_l1xucMN5cyV88w
      Content-Type:
      - application/json
      api_integration_type:
      - PAYPALSDK
      sdk_name:
      - Checkout SDK
      sdk_tech_stack:
      - Python3.8.2
      sdk_version:
      - 1.0.1
    method: POST
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/8UT45527HV521594P/capture
  response:
    body:
      string: '{"id":"8UT45527HV521594P","status":"COMPLETED","purchase_units":[{"reference_id":"default","shipping":{"name":{"full_name":"test
        buyer"},"address":{"address_line_1":"Via Unit? d''Italia, 5783296","admin_area_2":"Napoli","admin_area_1":"Napoli","postal_code":"80127","country_code":"IT"}},"payments":{"captures":[{"id":"5DH34141WG814093W","status":"PENDING","status_details":{"reason":"PENDING_REVIEW"},"amount":{"currency_code":"EUR","value":"42.42"},"final_capture":true,"seller_protection":{"status":"NOT_ELIGIBLE"},"links":[{"href":"https://api.sandbox.paypal.com/v2/payments/captures/5DH34141WG814093W","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/payments/captures/5DH34141WG814093W/refund","rel":"refund","method":"POST"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/8UT45527HV521594P","rel":"up","method":"GET"}],"create_time":"2020-08-18T15:14:58Z","update_time":"2020-08-18T15:14:58Z"}]}}],"payer":{"name":{"given_name":"test","surname":"buyer"},"email_address":"info.yougardener-buyer@gmail.com","payer_id":"TVMZFLTE6N3UE","address":{"country_code":"IT"}},"links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/8UT45527HV521594P","rel":"self","method":"GET"}]}'
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - d6af0a365e19e
    status:
      code: 201
      message: Created
version: 1
