interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - Basic QVctTEQwcE1mck5CTS1lckNtOHNDYWhvWTFrZlh4TDZDMk05SjFUYmxIUHNWNWpkUF9FMWVvakxuMGdGeHVpenVjX1p3MjJYSVBMN2NianI6RUVabXE4RFF1VzItWGlBaU5lV2stWk5KWW1yYzVmcFRKV2JHSmpyRzZQMURBWjJMNUV0bEVxSVJjOExENlB5ck92akFHWnBSUXFzMENNM28=
      Content-Type:
      - application/x-www-form-urlencoded
      api_integration_type:
      - PAYPALSDK
      sdk_name:
      - Checkout SDK
      sdk_tech_stack:
      - Python3.8.2
      sdk_version:
      - 1.0.1
    method: POST
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
  response:
    body:
      string: '{"scope":"https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/disputes/read-buyer
        https://uri.paypal.com/services/payments/realtimepayment https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/payments/refund https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAEoZbMPro8-ZD5S8quCFhLbwHmRszHGRk-WNzSpUM0gLoPDjC6Mumxa0-31ypwXy-z9nNpLXgPoMiv_l1xucMN5cyV88w","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":31699,"nonce":"2020-08-18T15:00:44ZZhyQ_AqRTipKsBmwJtyShoqrBXbzqD0ELsGehfwSD8w"}'
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 56e6e70c6ed6a
      X-Paypal-Token-Service:
      - IAAS
    status:
      code: 200
      message: OK
- request:
    body: '{"intent": "CAPTURE", "purchase_units": [{"amount": {"currency_code": "EUR",
      "value": 42.42}}]}'
    headers:
      Authorization:
      - Bearer A21AAEoZbMPro8-ZD5S8quCFhLbwHmRszHGRk-WNzSpUM0gLoPDjC6Mumxa0-31ypwXy-z9nNpLXgPoMiv_l1xucMN5cyV88w
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      api_integration_type:
      - PAYPALSDK
      sdk_name:
      - Checkout SDK
      sdk_tech_stack:
      - Python3.8.2
      sdk_version:
      - 1.0.1
    method: POST
    uri: https://api.sandbox.paypal.com/v2/checkout/orders
  response:
    body:
      string: '{"id":"8UT45527HV521594P","intent":"CAPTURE","status":"CREATED","purchase_units":[{"reference_id":"default","amount":{"currency_code":"EUR","value":"42.42"},"payee":{"email_address":"info.yougardener-facilitator@gmail.com","merchant_id":"FE3MYNZ438X4N"}}],"create_time":"2020-08-18T15:12:26Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/8UT45527HV521594P","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=8UT45527HV521594P","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/8UT45527HV521594P","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/8UT45527HV521594P/capture","rel":"capture","method":"POST"}]}'
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - c6d8758350375
    status:
      code: 201
      message: Created
version: 1
