interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - Basic QVctTEQwcE1mck5CTS1lckNtOHNDYWhvWTFrZlh4TDZDMk05SjFUYmxIUHNWNWpkUF9FMWVvakxuMGdGeHVpenVjX1p3MjJYSVBMN2NianI6RUVabXE4RFF1VzItWGlBaU5lV2stWk5KWW1yYzVmcFRKV2JHSmpyRzZQMURBWjJMNUV0bEVxSVJjOExENlB5ck92akFHWnBSUXFzMENNM28=
      Content-Type:
      - application/x-www-form-urlencoded
      api_integration_type:
      - PAYPALSDK
      sdk_name:
      - Checkout SDK
      sdk_tech_stack:
      - Python3.8.2
      sdk_version:
      - 1.0.1
    method: POST
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
  response:
    body:
      string: '{"scope":"https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/disputes/read-buyer
        https://uri.paypal.com/services/payments/realtimepayment https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/payments/refund https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAEoZbMPro8-ZD5S8quCFhLbwHmRszHGRk-WNzSpUM0gLoPDjC6Mumxa0-31ypwXy-z9nNpLXgPoMiv_l1xucMN5cyV88w","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":31203,"nonce":"2020-08-18T15:00:44ZZhyQ_AqRTipKsBmwJtyShoqrBXbzqD0ELsGehfwSD8w"}'
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 9a699fe0ff3e2
      X-Paypal-Token-Service:
      - IAAS
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer A21AAEoZbMPro8-ZD5S8quCFhLbwHmRszHGRk-WNzSpUM0gLoPDjC6Mumxa0-31ypwXy-z9nNpLXgPoMiv_l1xucMN5cyV88w
      Content-Type:
      - application/json
      api_integration_type:
      - PAYPALSDK
      sdk_name:
      - Checkout SDK
      sdk_tech_stack:
      - Python3.8.2
      sdk_version:
      - 1.0.1
    method: POST
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/INVALID-PAYPAL-ORDER-ID/capture
  response:
    body:
      string: '{"name":"RESOURCE_NOT_FOUND","details":[{"field":"order_id","value":"INVALID-PAYPAL-ORDER-ID","location":"path","issue":"INVALID_RESOURCE_ID","description":"Specified
        resource ID does not exist. Please check the resource ID and try again."}],"message":"The
        specified resource does not exist.","debug_id":"a962facfb0bcb","links":[{"href":"https://developer.paypal.com/docs/api/orders/v2/#error-INVALID_RESOURCE_ID","rel":"information_link","method":"GET"}]}'
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - a962facfb0bcb
    status:
      code: 404
      message: Not Found
version: 1
