{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block action_url %}
{% url "dashboard:sale-delete" pk=sale.pk %}
{% endblock %}

{% block title %}
{% trans "Remove sale" context "Modal remove sale (discount) title" %}
{% endblock %}

{% block content %}
<div class="col">
    {% blocktrans trimmed context "Modal remove sale (discount) title" %}
        Are you sure you want to remove <strong>{{ sale }}</strong>?
    {% endblocktrans %}
</div>
{% endblock %}

{% block primary_action %}
{% trans "Remove" context "Modal remove sale (discount) primary action" %}
{% endblock %}
