{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "dashboard:sale-delete" pk=sale.pk %}
{% endblock %}

{% block title %}
{% trans "Remove sale" context "Remove sale (discount) text" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed context "Remove sale (discount) text" %}
      Are you sure you want to remove <strong>{{ sale }}</strong>?
    {% endblocktrans %}
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
