{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "dashboard:sale-delete" pk=sale.pk %}
{% endblock %}

{% block title %}
{% trans "Remove sale" context "Modal remove sale (discount) title" %}
{% endblock %}

{% block content %}
{% blocktrans trimmed context "Modal remove sale (discount) title" %}
    Are you sure you want to remove <strong>{{ sale }}</strong>?
{% endblocktrans %}
{% endblock %}

{% block primary_action %}
{% trans "Remove" context "Modal remove sale (discount) primary action" %}
{% endblock %}
