@import "variables";
@import "~bootstrap/scss/bootstrap";

@import "components/fonts";
@import "components/buttons";
@import "components/header";
@import "components/breadcrumbs";
@import "components/footer";
@import "components/home";
@import "components/product-page";
@import "components/cart";
@import "components/userprofile";
@import "components/login";
@import "components/product-list";
@import "components/cart-dropdown";