// GRID
$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: 1140px,
  xl: 1140px
);

$global-padding: 1rem;
$global-margin: 1rem;


// COLORS
 $gray: #C4C4C4;
 $light-gray: #efefef;
 $white: #fff;
 $body-color: #333333;
 $red: #EB5757;
 $green: #27AE60;
 $darkgreen: #1b8a4a;

// TYPOGRAPHY
$font-family-sans-serif: 'Lato';

$font-size-root: 14px;
$font-size-h1: 2.6rem;
$font-size-h2: 1.7rem;
$font-size-h3: 1.3rem;

