{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Delete attribute" context "Delete attribute page title" %} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--with-menu">
    <li>
      <a href="{% url 'dashboard:product-attributes' %}" class="breadcrumbs--ellipsed-item">
        {% trans "Attributes" context "Dashboard attributes list" %}
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {% trans "Delete attribute" context "Delete attribute breadcrumbs" %}
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <p>
    {% trans "Are you sure you want to delete the following attribute?" context "Delete attribute text" %}
  </p>
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <ul class="collection">
        <li class="collection-item">
          {{ attribute }}
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="col m6 l4 offset-m3 offset-l4 right-align">
        <a href="{% url 'dashboard:product-attributes' %}" class="btn-flat">
          {% trans "Cancel" context "Dashboard cancel action" %}
        </a>
        <button type="submit" class="btn materialize-red">
          {% trans "Delete" context "Dashboard delete action" %}
        </button>
      </div>
    </div>
  </form>
{% endblock %}
