{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}{% if attribute.pk %}{{ attribute }}{% else %}{% trans 'Add new attribute' %}{% endif %} - {% trans "Attributes" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-attributes{% endblock %}

{% block menu_attributes_class %}active{% endblock %}

{% block header_menu %}
    {% url "dashboard:product-attributes" as url %}
    {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block header_extra %}
    {% if attribute.pk %}
    <a class="dropdown-button" href="#" data-activates="attribute-delete" data-constrainwidth="false">
        <i class="material-icons">arrow_drop_down</i>
    </a>
    <ul id="attribute-delete" class="dropdown-content">
        <li>
            <a class="modal-trigger-custom" href="#base-modal"
                data-href="{% url 'dashboard:product-attribute-delete' pk=attribute.pk %}">
                {% trans "Remove attribute" %}
            </a>
        </li>
    </ul>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--history">
        <li><a href="{% url 'dashboard:product-attributes' %}" class="breadcrumbs--ellipsed-item">{% trans "Attributes" %}</a></li>
        <li class="back-mobile"><a href="{% url 'dashboard:product-attributes' %}" class="breadcrumb"><i class="material-icons">arrow_back</i></a></li>
        <li><span class="breadcrumbs--ellipsed-item">{% if attribute.pk %}{{ attribute }}{% else %}{% trans 'Add new attribute' %}{% endif %}</span></li>
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" id="form-attributes" novalidate>
        <div class="row">
            <div class="col s12 l8">
                <div class="row">
                    {% csrf_token %}
                    {{ form.display|materializecss }}
                    {{ form.name|materializecss }}
                </div>

                <h5>{% trans "Attribute values" %}</h5>
                {{ formset.management_form }}
                {{ formset.non_form_errors.as_ul }}
                <table id="formset" class="highlight">
                    {% for form in formset.forms %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr>
                            {% for field in form.visible_fields %}
                                <td{% if forloop.last %} class="center-align"{% endif %}>
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field|materializecss }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col s12 l8 right-align">
                {% if attribute.pk %}
                    <button type="submit" class="btn">{% trans "Update" %}</button>
                {% else %}
                    <button type="submit" class="btn">{% trans "Create" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
