{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}

{% block title %}{% trans "Attributes" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-attributes{% endblock %}

{% block menu_attributes_class %}active{% endblock %}

{% block header_extra %}
    <div class="fixed-action-btn">
        <a class="btn-fab btn-floating btn-large waves-effect waves-light teal"
            href="{% url 'dashboard:product-attribute-add' %}" title="{% trans "Add attribute" %}">
            <i class="material-icons">add</i>
        </a>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li class="visible-s">{% trans "Attributes" %}</li>
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            {% if attributes %}
                <ul class="collection list list--attributes">
                    {% for pk, display, values in attributes %}
                        <li class="collection-item list-item list--attributes-item list-item--two-lines">
                            <a class="list-item-name" href="{% url 'dashboard:product-attribute-update' pk=pk %}">{{ display }}</a>

                            <p class="list-item-desc">
                                    {% for value in values %}
                                    {{ value }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans "No attributes found." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
