{% load i18n %}

<form action="{% url "dashboard:product-attribute-delete" pk=attribute.pk %}" method="post" novalidate>
    {% csrf_token %}
    <div class="modal-content">
        <h5>{% trans "Are you sure?" context "Modal delete attribute title" %}</h5>

        <p>
            {% blocktrans trimmed context "Modal delete attribute text" %}
                You are about to delete an attribute <strong>{{ attribute }}</strong>.
            {% endblocktrans %}
        </p>
    </div>

    <div class="modal-footer">
        <button type="submit" class="modal-action btn-flat blue-text">
            {% trans "Delete" context "Modal delete attribute primary action" %}</button>
        <a href="#!" class="modal-action modal-close btn-flat blue-text">
            {% trans "Cancel" context "Modal delete attribute secondary action" %}</a>
    </div>
</form>
