#feature {
    border: solid var(--border-width) var(--primaryColor);
    & section {
        padding: calc(var(--spacer) * 2) calc(var(--spacer) * 7);
        & .bg-container {
            background-image: url('../../images/feature-bg.png');
            background-size: auto;
            background-repeat: no-repeat;
            background-position: 98% 50%;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            @media (max-width: 768px) {
              opacity: 0.5;
              background-position: 400% 0%;
            }
            @media (max-width: 576px) {
              background-position: 35% 0%;
            }
        }
        &.hero {
            position: relative;
            padding: 0;
            margin-bottom: calc(var(--spacer) * 6);
            & .plane {
                width: 45%;
                padding: calc(var(--spacer) * 10) 0 calc(var(--spacer) * 18) calc(var(--spacer) * 10);
            }
        }
        &.testimonial {
            background-color: #100A35;
            background: linear-gradient(135deg, rgba(16,10,53,0) 5%, rgba(16,10,53,1) 8%, rgba(16,10,53,1) 95%, rgba(16,10,53,0) 8%, rgba(16,10,53,0) 100%);
            padding: calc(var(--spacer) * 8) calc(var(--spacer) * 22) calc(var(--spacer) * 6);
            font-weight: var(--font-weight-lighter);
            & .comment {
              font-size: calc(var(--font-size-base) * 1.5);
              margin-bottom: calc(var(--spacer) * 2);
            }
            & .testimonial-author {
              text-transform: uppercase;
            }
        }
        &.features {
          padding: calc(var(--spacer) * 2) calc(var(--spacer) * 10) calc(var(--spacer) * 4);
          & .icons {
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            grid-gap: calc(var(--spacer) * 5) calc(var(--spacer) * 5);
            & .icon-card {
              max-width: 450px;
              justify-self: center;
              position: relative;
              & .title {
                width: 75%;
                margin-bottom: calc(var(--spacer) * 1.5);
                @media (max-width: 576px) {
                  width: 80%;
                }
              }
              & .decorator {
                width: 5px;
                height: 0;
                border: 1px solid;
                display: inline-block;
                position: absolute;
                left: -30px;
                top: 175px;
              }
              & img {
                width: 165px;
              }
              & h5 {
                color: var(--primaryColor);
              }
            }
          }
          @media (max-width: 576px) {
            padding: calc(var(--spacer) * 2) var(--spacer);
          }
        }
        &.product-management {
          border-top: solid var(--border-width) var(--primaryColor);
          padding: calc(var(--spacer) * 4) calc(var(--spacer) * 5);
          width: auto;
          & .icons {
            width: 100%;
            padding-left: calc(var(--spacer) * 6);
            display: grid;
            grid-template-columns: repeat(auto-fit, 260px);
            grid-gap: calc(var(--spacer) * 2) calc(var(--spacer) * 4);
            @media (max-width: 768px) {
              justify-content: center;
              padding-left: 0;
            }
          }
        }
    }
}