#feature {
    & section {
        & .bg-container {
          background-image: url('../../images/feature-bg.svg');
          background-size: 70%;
          background-repeat: no-repeat;
          background-position: 100% 50%;
          width: 100%;
          height: 100%;
          position: absolute;
          @media (min-width: 2500px) {
            background-size: 90%;
            background-position: 100% 30%;
          }
          @media (max-width: 1024px) {
            background-size: 90%;
            background-position: 120% 30%;
          }
          @media (max-width: 768px) {
            opacity: 0.5;
            background-position: 50% 40%;
            background-size: 120%;
          }
          @media (max-width: 550px) {
            background-position: 60% 0%;
            background-size: cover;
          }
        }
        &.hero {
          position: relative;
          padding: 0;
          & .plane {
            width: 55%;
            position: absolute;
            top: 40%;
            left: 10%;
            transform: translateY(-50%);
            @media (max-width: 1368px) {
              width: 60%;
            }
            @media (max-width: 768px) {
              width: 80%;
            }
            @media (max-width: 550px) {
              padding: calc(var(--spacer) * 2) var(--spacer);
              width: auto;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              & h1 {
                font-size: calc(var(--spacer) * 2.5);
              }
              & p {
                width: auto;
              }
            }
          }
          & .scroll-link {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 997;
            bottom: calc(var(--spacer) * 10);
            @media (max-width: 1024px) {
              bottom: calc(var(--spacer) * 4);
            }
            @media (max-width: 768px) {
              bottom: calc(var(--spacer) * 4);
            }
            @media (max-width: 320px) {
              bottom: calc(var(--spacer) * 2);
            }
          }
        }
        &.testimonial {
          background: #100A35;
          background: linear-gradient(135deg, rgba(16,10,53,0) 4%, rgba(16,10,53,1) 4%, rgba(16,10,53,1) 96%, rgba(16,10,53,0) 4%, rgba(16,10,53,0) 100%);
          padding: calc(var(--spacer) * 8) 0 calc(var(--spacer) * 6);
          font-weight: var(--font-weight-lighter);
          & .container {
            width: 40%;
            @media (max-width: 1024px) {
              width: 80%;
            }
            & .comment {
              font-size: calc(var(--font-size-base) * 1.5);
              margin-bottom: calc(var(--spacer) * 2);
              font-style: normal;
            }
            & .testimonial-author {
              text-transform: uppercase;
            }
            & h5 {
              padding-top: calc(var(--spacer) / 2);
            }
            & .patchgarden-logo {
              & .logo-svg {
                display: inline-block;
                & svg {
                  width: 50px;
                  height: 50px;
                  padding: var(--spacer) calc(var(--spacer) * 0.5);
                }
              }
              & span {
                display: inline-block;
                position: relative;
                top: calc(var(--spacer) * -2);
                left: var(--spacer);
                text-transform: uppercase;
              }
            }
            
            @media (max-width: 768px) {
              padding: calc(var(--spacer) * 4) calc(var(--spacer) * 2);
            }
            @media (max-width: 550px) {
              padding: calc(var(--spacer) * 2) var(--spacer);
            }
          }
        }
        &.features {
          padding: calc(var(--spacer) * 6) calc(var(--spacer) * 10) calc(var(--spacer) * 4);
          @media (max-width: 1024px) {
            padding: 0 calc(var(--spacer) * 4) calc(var(--spacer) * 0) calc(var(--spacer) * 4);
          }
          @media (max-width: 700px) {
            padding: calc(var(--spacer) * 2) calc(var(--spacer) * 2) calc(var(--spacer) * 2);
          }
          & .icons {
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            @media (max-width: 1440px) {
              grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            }
            grid-gap: calc(var(--spacer) * 5) calc(var(--spacer) * 5);
            @media (max-width: 550px) {
              grid-gap: calc(var(--spacer) * 2) calc(var(--spacer) * 2);
            }
            & .icon-card {
              position: relative;
              @media (max-width: 550px) {
                padding-bottom: calc(var(--spacer) * 2);
              }
              & .loved-by-search {
                & svg {
                  @media (max-width: 550px) {
                    width: 130%;
                  }
                }
              }
              & .title {
                font-size: calc(var(--font-size-base) * 2);
                width: 85%;
                margin-bottom: calc(var(--spacer) * 1.5);
                word-break: break-word;
                hyphens: auto;
                text-transform: initial;
                @media (max-width: 550px) {
                  width: 100%;
                  font-size: calc(var(--font-size-base) * 2.3);
                }
              }
              & p {
                width: 85%;
                font-weight: var(--font-weight-light)
              }
              & svg {
                width: 300px;
                position: relative;
                top: 5%;
                left: -9%;
                @media (max-width: 550px) {
                  width: 110%;
                }
              }
              & h3 {
                color: var(--body-color);
                position: relative;
              }
            }
          }
          @media (max-width: 550px) {
            padding: calc(var(--spacer) * 2) var(--spacer);
            & .icons {
              grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
              & .icon-card {
                &.title {
                  width: 100%;                  
                }
                & p {
                  width: 100%;                  
                }
              }
            }
          }
        }
        &.management-section {
          border-top: solid var(--border-width) var(--sectionBorder);
          margin: calc(var(--spacer) * 4) calc(var(--spacer) * 10);
          @media (max-width: 1024px) {
            margin: calc(var(--spacer) * 4);
          }
          padding-top: calc(var(--spacer) * 8);
          width: fill-available;
          & .side-header {
            & h2 {
              margin-bottom: var(--spacer);
              text-transform: initial;
              font-size: calc(var(--font-size-base) * 2);
              @media (max-width: 550px) {
                font-size: calc(var(--font-size-base) * 2.5);
                padding-top: calc(var(--spacer) * 2)
              }
            }
            & .sub-description {
              max-width: 360px;
              font-weight: var(--font-weight-light);
              padding-right: calc(var(--spacer) * 2);
            }
          }
          & .card-grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, 45%);
            grid-gap: calc(var(--spacer) * 2) calc(var(--spacer) * 4);
            @media (max-width: 1368px) {
              grid-template-columns: repeat(auto-fit, 43%);
            }
            @media (max-width: 1200px) {
              grid-template-columns: repeat(auto-fit, 100%);
            }
            @media (max-width: 1024px) {
              grid-template-columns: repeat(auto-fit, 100%);
            }
            @media (max-width: 768px) {
              padding-left: 0;
            }
            @media (max-width: 700px) {
              grid-template-columns: repeat(auto-fit, 100%);
            }
            & .icon-card {
              padding-bottom: calc(var(--spacer) * 2);
              & .title {
                margin-top: calc(var(--spacer) * 1.5);
                margin-bottom: calc(var(--spacer) * 0.5);
                font-size: var(--font-size-lg);
              }
              & p {
                font-weight: var(--font-weight-light);
              }
              & svg {
                width: 90px;
              }
            }
          }
          @media (max-width: 768px) {
            & .side-header {
              margin-bottom: calc(var(--spacer) * 2);
            }
          }
          @media (max-width: 550px) {
            padding: calc(var(--spacer) * 2) var(--spacer);
            margin: 0;
          }
        }
        &.documentation {
          border-top: solid var(--border-width) var(--sectionBorder);
          margin: calc(var(--spacer) * 4) calc(var(--spacer) * 10);
          @media (max-width: 1024px) {
            margin: 0 calc(var(--spacer) * 4);
            padding: calc(var(--spacer) * 4) 0;
          }
          & h2 {
            margin-bottom: var(--spacer);
            color: var(--primaryColor);
            font-size: var(--font-size-base);
          }
          & .description {
            width: 60%;
            @media (max-width: 1440px) {
              width: 80%;
            }
            @media (max-width: 1024px) {
              width: 100%;
            }
            font-weight: var(--font-weight-medium);
            margin-bottom: calc(var(--spacer) * 3);
            line-height: var(--headings-line-height);
            text-transform: initial;
            font-size: calc(var(--font-size-base) * 2.5);
          }
          & .btn {
            margin-left: calc(var(--spacer) * 2);
            @media (max-width: 550px) {
              margin-left: 0;
            }
          }
          @media (max-width: 700px) {
            padding: calc(var(--spacer) * 2) var(--spacer);
            & .description {
              margin-top: calc(var(--spacer) * 0.5);
              font-size: calc(var(--font-size-base) * 1.2);
            }
          }
          @media (max-width: 550px) {
            padding: calc(var(--spacer) * 2) var(--spacer);
            margin: 0;
            & .description {
              margin-top: calc(var(--spacer) * 0.5);
              font-size: calc(var(--font-size-base) * 2.5);
            }
            & .position {
              text-align: center;
            }
          }
        }
    }
}