#feature {
    border: solid var(--border-width) var(--primaryColor);
    & section {
        & .bg-container {
            background-image: url('../../images/feature-bg.png');
            background-size: contain;
            background-position: 98% 50%;
            @media (max-width: 768px) {
              background-position: 400% 0%;
            }
            @media (max-width: 450px) {
              background-position: 60% 0%;
              background-size: cover;
            }
        }
        &.hero {
          position: relative;
          padding: 0;
          & .plane {
            width: 45%;
            padding: calc(var(--spacer) * 10) 0 calc(var(--spacer) * 10) calc(var(--spacer) * 10);
            @media (max-width: 768px) {
              padding: calc(var(--spacer) * 10) 0 calc(var(--spacer) * 10) calc(var(--spacer) * 5);
            }
            @media (max-width: 450px) {
              padding: calc(var(--spacer) * 2) var(--spacer);
              width: auto;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              & p {
                width: auto;
              }
            }
          }
          @media (max-width: 768px) {
            height: 60vh;
            & .scroll-link {
              position: absolute;
              bottom: 7%;
              left: 0;
              right: 0;
            }
          }
          @media (max-width: 700px) {
            height: 160vh;
          }
          @media (max-width: 450px) {
            height: 80vh;
          }
        }
        &.testimonial {
          background-color: #100A35;
          background: linear-gradient(135deg, rgba(16,10,53,0) 5%, rgba(16,10,53,1) 8%, rgba(16,10,53,1) 95%, rgba(16,10,53,0) 8%, rgba(16,10,53,0) 100%);
          padding: calc(var(--spacer) * 8) calc(var(--spacer) * 22);
          font-weight: var(--font-weight-lighter);
          margin-top: calc(var(--spacer) * 5);
          & .comment {
            font-size: calc(var(--font-size-base) * 1.5);
            margin-bottom: calc(var(--spacer) * 2);
          }
          & .testimonial-author {
            text-transform: uppercase;
          }
          @media (max-width: 1024px) {
            padding: calc(var(--spacer) * 6) calc(var(--spacer) * 10);
          }
          @media (max-width: 768px) {
            padding: calc(var(--spacer) * 4) calc(var(--spacer) * 2);
          }
          @media (max-width: 450px) {
            padding: calc(var(--spacer) * 2) var(--spacer);
          }
        }
        &.features {
          padding-top: calc(var(--spacer) * 2);
          & .icons {
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            grid-gap: calc(var(--spacer) * 5) calc(var(--spacer) * 5);
            & .icon-card {
              max-width: 450px;
              justify-self: center;
              position: relative;
              & .title {
                width: 85%;
                margin-bottom: calc(var(--spacer) * 1.5);
                word-break: break-word;
                hyphens: auto;
                @media (max-width: 450px) {
                  width: 100%;
                }
              }
              & p {
                font-weight: var(--font-weight-light)
              }
              & .decorator {
                width: 5px;
                height: 0;
                border: var(--border-width) solid;
                display: inline-block;
                position: absolute;
                left: calc(var(--spacer) * (-2));
                top: 175px;
              }
              & img {
                width: 165px;
              }
              & h5 {
                color: var(--primaryColor);
              }
            }
          }
          @media (max-width: 450px) {
            padding: calc(var(--spacer) * 2) var(--spacer);
            & .icons {
              grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
              & .icon-card {
                margin-left: calc(var(--spacer) * 2);
                &.title {
                  width: 80%;                  
                }
              }
            }
          }
        }
        &.management-section {
          border-top: solid var(--border-width) var(--primaryColor);
          padding: calc(var(--spacer) * 4);
          width: fill-available;
          & .side-header {
            & h2 {
              margin-bottom: var(--spacer);
            }
            & .sub-description {
              max-width: 360px;
              font-weight: var(--font-weight-light);
            }
          }
          & .card-grid {
            width: 100%;
            padding-left: calc(var(--spacer) * 6);
            display: grid;
            grid-template-columns: repeat(auto-fit, 280px);
            grid-gap: calc(var(--spacer) * 2) calc(var(--spacer) * 5);
            @media (max-width: 768px) {
              padding-left: 0;
            }
            @media (max-width: 700px) {
              grid-template-columns: repeat(auto-fit, 100%);
            }
            & .icon-card {
              & .title {
                margin-bottom: calc(var(--spacer) * 0.5);
                font-size: var(--font-size-lg);
              }
              & p {
                font-weight: var(--font-weight-light);
              }
            }
          }
          @media (max-width: 768px) {
            padding: calc(var(--spacer) * 2) var(--spacer);
            & .side-header {
              margin-bottom: calc(var(--spacer) * 2);
            }
          }
        }
        &.documentation {
          border-top: solid var(--border-width) var(--primaryColor);
          margin-bottom: calc(var(--spacer) * 3);
          & h2 {
            margin-bottom: var(--spacer);
          }
          & .description {
            font-weight: var(--font-weight-light);
            margin-bottom: calc(var(--spacer) * 3);
            line-height: var(--line-height-base);
          }
          @media (max-width: 700px) {
            padding: calc(var(--spacer) * 2) var(--spacer);
            & .description {
              margin-top: calc(var(--spacer) * 0.5);
              font-size: calc(var(--font-size-base) * 1.2);
            }
          }
          @media (max-width: 450px) {
            padding: calc(var(--spacer) * 2) var(--spacer);
            & .description {
              margin-top: calc(var(--spacer) * 0.5);
              font-size: calc(var(--font-size-base) * 1.2);
            }
          }
        }
    }
}