{% extends "dashboard/base.html" %}
{% load babel %}
{% load prices_i18n %}
{% load i18n %}
{% load i18n_address_tags %}
{% load materializecss %}
{% load status %}
{% load staticfiles %}
{% load discount_amount_for from prices %}

{% block title %}
  {{ order }} - {% trans "Orders" context "Dashboard orders list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-orders{% endblock %}

{% block menu_orders_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:orders" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}

{% block header_extra %}
  <a class="dropdown-button right" href="#" data-activates="context-menu" data-constrainwidth="false">
    <svg data-src="{% static "dashboard/images/more-vert.svg" %}" height="24" width="24" />
  </a>
  <ul id="context-menu" class="dropdown-content">
    {% if perms.order.edit_order %}
      {% if order.can_cancel %}
        <li>
          <a href="#base-modal" data-href="{% url "dashboard:order-cancel" order_pk=order.pk %}" class="modal-trigger-custom">
            {% trans "Cancel Order" context "Order detail action" %}
          </a>
        </li>
      {% endif %}
    {% endif %}
    <li>
      <a class="btn-print" href="#">
        {% trans "Print" context "Order detail action" %}
      </a>
    </li>
  </ul>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:orders" %}">
        {% trans "Orders" context "Dashboard orders list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:orders" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <span>
        {{ order }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <ul class="tabs" role="tablist">
        <li role="presentation" class="tab col s4">
          <a href="#order-details" role="tab" class="active">
            <span>
              {% trans "Details" context "Order detail tab" %}
            </span>
            <svg data-src="{% static "dashboard/images/description.svg" %}" class="fill-secondary" />
          </a>
        </li>
        <li role="presentation" class="tab col s4">
          <a href="#payment-history" role="tab">
            <span>
              {% trans "Payments" context "Order detail tab" %}
            </span>
            <svg data-src="{% static "dashboard/images/payment.svg" %}" class="fill-secondary" />
          </a>
        </li>
        <li role="presentation" class="tab col s4">
          <a href="#order-history" role="tab">
            <span>
              {% trans "History" context "Order detail tab" %}
            </span>
            <svg data-src="{% static "dashboard/images/history.svg" %}" class="fill-secondary" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row tab-content" id="order-details">
    <div class="col s12 l4 switch-two-columns">
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {% blocktrans trimmed with order_id=order.id context "Order summary title" %}
              Order #{{ order_id }}
            {% endblocktrans %}
          </span>
          <div class="row">
              <div class="col s12 m4 l12">
                <h6>
                  {% trans "Placed on" context "Order placed on date" %}
                </h6>
                <p>
                  {{ order.created }}
                </p>
              </div>
            <div class="col s12 m4 l12">
              <h6>
                {% trans "Customer" context "Dashboard customer" %}
              </h6>
              <p>
                {% if order.user %}
                  <a href="{% url "dashboard:customer-details" pk=order.user.pk %}">{{ order.user }}</a>
                {% else %}
                  {% trans "Guest" context "Anonymous user account value" %}
                {% endif %}
              </p>
            </div>
            <div class="col s12 m4 l12">
              <h6>
                {% trans "Order status" context "Order summary card header" %}
              </h6>
              <p>
                {% render_status order.status order.get_status_display %}
              </p>
            </div>
            <div class="col s12 m4 l12">
              <h6>
                {% trans "Payment status" context "Order summary card header" %}
              </h6>
              <p>
                {% if payment %}
                  {% render_status payment.status payment.get_status_display %}
                {% else %}
                  {% trans "N/A" context "Payment status not available" %}
                {% endif %}
              </p>
            </div>
          </div>
        </div>
        <div class="data-table-container">
          <table class="data-table bordered highlight">
            <tfoot>
              <tr>
                <td>
                  <strong>
                    {% trans "Outstanding balance" context "Order summary card header" %}
                  </strong>
                </td>
                <td class="right-align">
                  <strong>
                    {% gross balance html=True %}
                  </strong>
                </td>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>
                  {% trans "Preauthorized amount" context "Order summary card header" %}
                </td>
                <td class="right-align">
                  {% if preauthorized %}
                    {% gross preauthorized html=True %}
                  {% else %}
                    {% trans "N/A" context "Preauthorized amount not available" %}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {% trans "Captured amount" context "Order summary card header" %}
                </td>
                <td class="right-align">
                  {% gross captured html=True %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {% if perms.order.edit_order %}
          {% if can_capture or can_refund or can_release %}
            <div class="data-table-action">
              {% if can_capture %}
                <a href="#base-modal" data-href="{% url 'dashboard:capture-payment' order_pk=order.pk payment_pk=payment.pk %}" class="btn-flat modal-trigger-custom waves-effect">
                  {% trans "Capture" context "Order summary card action" %}
                </a>
              {% elif can_refund %}
                <a href="#base-modal" data-href="{% url 'dashboard:refund-payment' order_pk=order.pk payment_pk=payment.pk %}" class="btn-flat modal-trigger-custom waves-effect">
                  {% trans "Refund" context "Order summary card action" %}
                </a>
              {% endif %}
              {% if can_release %}
                <a href="#base-modal" data-href="{% url 'dashboard:release-payment' order_pk=order.pk payment_pk=payment.pk %}" class="btn-flat modal-trigger-custom waves-effect">
                  {% trans "Release" context "Order summary card action" %}
                </a>
              {% endif %}
              <a href="{% url 'dashboard:order-invoice' order_pk=order.pk %}" data-href="" class="btn-flat waves-effect" target="_blank">
                {% trans "Invoice" context "Order detail action" %}
              </a>
            </div>
          {% endif %}
        {% endif %}
      </div>
      <div class="row">
        {% if order.is_shipping_required %}
          <div class="col s12 m6 l12 p6">
            <div class="card">
              <div class="card-content">
                <span class="card-title black-text">
                  {% trans "Shipping address" context "" %}
                </span>
                {% if order.shipping_address %}
                  {% format_address order.shipping_address %}
                {% else %}
                  {% trans "No shipping address" context "Missing shipping address message" %}
                {% endif %}
              </div>
              {% if perms.order.edit_order %}
                <div class="card-action">
                  <a href="{% url "dashboard:address-edit" order_pk=order.pk address_type="shipping" %}" class="btn-flat waves-effect">
                    {% trans "Edit" context "Dashboard edit action" %}
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div class="col s12 {% if order.shipping_address %}m6{% else %}m12{% endif %} l12 p6">
          <div class="card">
            <div class="card-content">
              <span class="card-title black-text">
                  {% trans "Billing address" context "" %}
              </span>
              {% format_address order.billing_address %}
            </div>
            {% if perms.order.edit_order %}
              <div class="card-action">
                <a href="{% url "dashboard:address-edit" order_pk=order.pk address_type="billing" %}" class="btn-flat waves-effect">
                  {% trans "Edit" context "Dashboard edit action" %}</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 l8 switch-two-columns">
      {% for group in groups %}
        <div class="card shipment-table">
          <div class="data-table-header">
            <h5 class="data-table-title">
              {% blocktrans trimmed with shipment=group.id group_shipping_method_name=group.shipping_method_name context "Shipment group table title"  %}
                Shipment #{{ shipment }} - {{ group_shipping_method_name }}
              {% endblocktrans %}
            </h5>
            {% render_status group.status group.get_status_display %}
          </div>
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  <th class="wide">
                    {% trans "Item" context "Shipment group table header" %}
                  </th>
                  <th class="right-align">
                    {% trans "Price" context "Shipment group table header" %}
                  </th>
                  <th class="right-align">
                    {% trans "Quantity" context "Shipment group table header" %}
                  </th>
                  <th class="right-align">
                    {% trans "Total" context "Shipment group table header" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for line in group.lines.all %}
                  <tr class="last-no-border">
                    <td>
                      {% if line.product %}
                        <a href="{% url 'dashboard:product-detail' pk=line.product.pk %}">{{ line.product_name }}</a>
                      {% else %}
                        {{ line.product_name }}
                      {% endif %}
                      <br>
                      <span class="grey-text">
                        {% blocktrans trimmed with sku=line.product_sku context "Shipment group table text" %}
                          SKU: {{ sku }}
                        {% endblocktrans %}
                      </span>
                    </td>
                    <td class="right-align">
                      {% gross line.get_price_per_item html=True %}
                    </td>
                    <td class="right-align">
                      {% if group.can_edit_lines %}
                        <a class="dropdown-button" href="#" data-activates="line-actions-{{ line.pk }}" data-constrainwidth="false">
                          {{ line.quantity }} {% if line.stock_location and is_many_stock_locations %} ({{ line.stock_location|truncatechars:10 }}) {% endif %}
                          <svg data-src="{% static "dashboard/images/arrow-drop-down.svg" %}" width="24" height="24" />
                        </a>
                        <ul id="line-actions-{{ line.pk }}" class="dropdown-content">
                          <li>
                            <a href="#base-modal" data-href="{% url 'dashboard:orderline-change-quantity' order_pk=order.pk line_pk=line.pk %}" class="modal-trigger-custom" title="{% trans "Change quantity" context "Shipment group table row action" %}">
                              {% trans "Change quantity" context "Shipment group table row action" %}
                            </a>
                          </li>
                          {% if is_many_stock_locations %}
                            <li>
                              <a href="#base-modal" data-href="{% url 'dashboard:orderline-change-stock' order_pk=order.pk line_pk=line.pk %}" class="modal-trigger-custom" title="{% trans "Change stock location" context "Shipment group table row action" %}">
                                {% trans "Change stock" context "Shipment group table row action" %}
                              </a>
                            </li>
                          {% endif %}
                          <li>
                            <a href="#base-modal" data-href="{% url 'dashboard:orderline-split' order_pk=order.pk line_pk=line.pk %}" class="modal-trigger-custom" title="{% trans "Split line" context "Shipment group table row action" %}">
                              {% trans "Split order line" context "Shipment group table row action" %}
                            </a>
                          </li>
                          <li>
                            <a href="#base-modal" data-href="{% url 'dashboard:orderline-cancel' order_pk=order.pk line_pk=line.pk %}" class="modal-trigger-custom" title="{% trans "Remove line" context "Shipment group table row action" %}">
                              {% trans "Remove line" context "Shipment group table row action" %}
                            </a>
                          </li>
                        </ul>
                      {% else %}
                        {{ line.quantity }}
                      {% endif %}
                    </td>
                    <td class="right-align">
                      {% gross line.get_total html=True %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% if perms.order.edit_order %}
            {% if group.can_ship or group.can_cancel %}
              <div class="data-table-action">
                {% if group.can_ship %}
                  <a href="#base-modal" data-href="{% url 'dashboard:ship-delivery-group' order_pk=order.pk group_pk=group.pk %}" class="btn-flat waves-effect modal-trigger-custom">
                    {% trans "Dispatch" context "Shipment group table action" %}
                  </a>
                {% endif %}
                {% if group.can_cancel %}
                  <a href="#base-modal" data-href="{% url 'dashboard:cancel-delivery-group' order_pk=order.pk group_pk=group.pk %}" class="btn-flat waves-effect modal-trigger-custom" title="{% trans 'Cancel group' context 'Shipment group table action' %}">
                    {% trans "Cancel shipment" context "Shipment group table action" %}
                  </a>
                {% endif %}
                {% if group.can_edit_lines %}
                  <a href="#base-modal" data-href="{% url 'dashboard:add-variant-to-group' order_pk=order.pk group_pk=group.pk %}" class="btn-flat waves-effect modal-trigger-custom" title="{% trans "Add product to order" context "Order summary card action title" %}">
                    {% trans "Add product" context "Order summary card action" %}
                  </a>
                {% endif %}
                <a href="{% url 'dashboard:order-packing-slips' group_pk=group.pk %}" data-href="" class="btn-flat waves-effect" target="_blank">
                  {% trans "Packing Slips" context "Order detail action" %}
                </a>
              </div>
            {% endif %}
          {% endif %}
          {% if group.tracking_number %}
            <div class="card-action">
              {% blocktrans trimmed with tracking=group.tracking_number context "Shipment group table text" %}
                Tracking number: {{ tracking }}
              {% endblocktrans %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <div class="card" id="order-totals">
        <div class="data-table-container">
          <table class="bordered highlight responsive data-table">
            <tfoot>
              <tr>
                <td>
                  {% trans "Grand total" context "Order totals header" %}
                </td>
                <td>
                  {% gross order.get_total html=True %}
                </td>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td class="wide">
                  {% trans "Subtotal" context "Order subtotal" %}
                </td>
                <td class="right-align">
                  {% gross order.get_subtotal_without_voucher html=True %}
                </td>
              </tr>
              <tr>
                <td>
                  {% trans "Shipping" context "Order totals header" %}
                </td>
                <td class="right-align">
                  {% gross order.shipping_price html=True %}
                </td>
              </tr>
              {% if order.discount_amount.gross %}
                <tr>
                  <td>
                    <a class="dropdown-button" href="#" data-activates="voucher-actions" data-constrainwidth="false">
                      {% blocktrans trimmed with voucher=order.discount_name context "Order totals header" %}
                        Voucher {{ voucher }}
                      {% endblocktrans %}
                      <svg data-src="{% static "dashboard/images/arrow-drop-down.svg" %}" />
                    </a>
                    <ul id="voucher-actions" class="dropdown-content">
                      <li>
                        <a href="#base-modal" data-href="{% url 'dashboard:order-remove-voucher' order_pk=order.pk %}"
                        class="modal-trigger-custom" title="{% trans "Remove voucher" context "Order totals action" %}">
                          {% trans "Remove voucher" context "Order totals action" %}
                        </a>
                      </li>
                    </ul>
                  </td>
                  <td class="right-align">
                    {% gross order.discount|discount_amount_for:order.total html=True %}
                  </td>
                </tr>
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card order-notes{% if not notes %} print-hide{% endif %}" id="order-notes">
        <div class="card-content">
          <span class="card-title black-text">
            {% trans "Order notes" context "Order notes card title" %}
          </span>
          {% if notes %}
            <ul class="list">
              {% for note in notes %}
              <li class="list-item list-item--spaced">
                <small class="list-item-author">{{ note.user }} - {{ note.date }}</small>
                <p>{{ note.content }}</p>
              </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>
              {% trans "There are no notes associated with this order." context "Empty order notes card message" %}
            </p>
          {% endif %}
        </div>
        {% if perms.order.edit_order %}
          <div class="card-action">
            <a data-href="{% url "dashboard:order-add-note" order_pk=order.pk %}" class="modal-trigger-custom btn-flat waves-effect" href="#base-modal">
              {% trans "Add note" context "Order notes card action" %}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="tab-content" id="payment-history">
    {% if all_payments %}
      <p class="print-show print-tabs">{% trans "Payments" context "Order detail tab" %}</p>
      <div class="card">
        <div class="data-table-container">
          <table class="bordered highlight responsive data-table">
            <thead>
              <tr>
                <th>
                  {% trans "Transaction ID" context "Payment history table header" %}
                </th>
                <th>
                  {% trans "Date" context "Payment history table header" %}
                </th>
                <th>
                  {% trans "Payment status" context "Payment history table header" %}
                </th>
                <th>
                  {% trans "Fraud status" context "Payment history table header" %}
                </th>
                <th>
                  {% trans "Amount" context "Payment history table header" %}
                </th>
              </tr>
            </thead>
            <tbody>
              {% for payment in all_payments %}
                <tr>
                  <td>
                    {% blocktrans trimmed with payment_id=payment.id context "Payment item column data" %}
                      #{{ payment_id }}
                    {% endblocktrans %}
                  </td>
                  <td>
                    {{ payment.created }}
                  </td>
                  <td>
                    {% render_status payment.status payment.get_status_display %}
                  </td>
                  <td>
                    {% render_status payment.fraud_status payment.get_fraud_status_display %}
                  </td>
                  <td>
                    {{ payment.total|currencyfmt:payment.currency }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% else %}
      <p>
        {% trans "No payments made for this order." context "Empty payment history table message" %}
      </p>
    {% endif %}
  </div>
  <div class="tab-content" id="order-history">
    <p class="print-show print-tabs">{% trans "History" context "Order detail tab" %}</p>
    <div class="timeline-outer">
      <ul class="timeline">
        {% for event in order.history.all %}
          <li class="event" data-date="{{ event.date }}">
            <div class="content">
              {{ event.content|default:"" }}{% if event.user %} by {{ event.user }}{% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
