{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load materializecss %}
{% load status %}
{% load discount_amount_for from prices %}

{% block title %}{{ order }} - {% trans "Orders" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-orders{% endblock %}

{% block menu_orders_class %}active{% endblock %}

{% block header_menu %}
    {% url "dashboard:orders" as url %}
    {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block header_extra %}
    {% if order.can_cancel %}
        <a class="dropdown-button" href="#" data-activates="context-menu" data-constrainwidth="false">
            <i class="material-icons">arrow_drop_down</i>
        </a>
        <ul id="context-menu" class="dropdown-content">
            <li>
                <a href="#base-modal" data-href="{% url "dashboard:order-cancel" order_pk=order.pk %}"
                   class="modal-trigger-custom">
                    {% trans "Cancel Order" %}
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--history">
        <li><a href="{% url "dashboard:orders" %}">Orders</a></li>
        <li class="back-mobile"><a href="{% url "dashboard:orders" %}"><i class="material-icons">arrow_back</i></a></li>
        <li><span>{{ order }}</span></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <ul class="tabs" role="tablist">
                <li role="presentation" class="tab col s4">
                    <a href="#order-details" role="tab" class="active">{% trans "Details" %}</a>
                </li>

                <li role="presentation" class="tab col s4">
                    <a href="#payment-history" role="tab">{% trans "Payments" %}</a>
                </li>

                <li role="presentation" class="tab col s4">
                    <a href="#order-history" role="tab">{% trans "History" %}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row tab-content" id="order-details">
        <div class="col s12 l4 switch-two-columns">
            <div class="card grey lighten-4">
                <div class="card-content data-table-container">
                    <span class="card-title black-text">Order summary</span>

                    <table class="order-summary responsive-table">
                        <tbody>
                            <tr>
                                <td>{% trans "Account" %}</td>
                                <td class="right-align">
                                    {% if order.user %}
                                        <a class="order-user" href="{% url "dashboard:customer-details" pk=order.user.pk %}">{{ order.user }}</a>
                                    {% else %}
                                        {% trans "Guest" %}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans "Order status" %}</td>
                                <td class="right-align">{% render_status order.status order.get_status_display %}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Payment status:" %}</td>
                                <td class="right-align">{% if payment %}{% render_status payment.status payment.get_status_display %}{% else %}{% trans "N/A" %}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Order total" %}</td>
                                <td class="right-align"><strong>{% gross order.get_total %}</strong></td>
                            </tr>
                            <tr>
                                <td>{% trans "Preauthorized amount" %}</td>
                                <td class="right-align">{% if preauthorized %}{% gross preauthorized %}{% else %}{% trans "N/A" %}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Captured amount" %}</td>
                                <td class="right-align">{% gross captured %}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Outstanding balance" %}</td>
                                <td class="right-align">{% gross balance %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                {% if can_capture or can_refund or can_release %}
                    <div class="card-action">
                        {% if can_capture %}
                            <a href="#base-modal" data-href="{% url 'dashboard:capture-payment' order_pk=order.pk payment_pk=payment.pk %}"
                               class="modal-trigger-custom">{% trans "Capture" %}</a>
                        {% elif can_refund %}
                            <a href="#base-modal" data-href="{% url 'dashboard:refund-payment' order_pk=order.pk payment_pk=payment.pk %}"
                               class="modal-trigger-custom">{% trans "Refund" %}</a>
                        {% endif %}
                        {% if can_release %}
                            <a href="#base-modal" data-href="{% url 'dashboard:release-payment' order_pk=order.pk payment_pk=payment.pk %}"
                               class="modal-trigger-custom">{% trans "Release" %}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            {% with order.shipping_address as address %}
                <div class="row">
                    {% if address %}
                        <div class="col s12 m6 l12">
                            <div class="card grey lighten-4">
                                <div class="card-content">
                                    <span class="card-title black-text">{% trans "Shipping address" %}</span>

                                    {% include 'dashboard/includes/_address.html' with address=address only %}

                                    <div>
                                        <i class="material-icons">email</i> <a href="mailto:{{ order.user_email }}">{{ order.user_email }}</a>
                                    </div>
                                </div>

                                <div class="card-action">
                                    <a href="#base-modal-fixed" class="modal-trigger-custom"
                                       data-href="{% url "dashboard:address-edit" order_pk=order.pk address_type="shipping" %}">Edit</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col s12 {% if address %}m6{% else %}m12{% endif %} l12">
                        <div class="card grey lighten-4">
                            <div class="card-content">
                                {% with order.billing_address as address %}
                                    <span class="card-title black-text">{% trans "Billing address" %}</span>

                                    {% include 'dashboard/includes/_address.html' with address=address only %}
                                    <div>
                                        <i class="material-icons">email</i> <a href="mailto:{{ order.user_email }}">{{ order.user_email }}</a>
                                    </div>
                                {% endwith %}
                            </div>

                            <div class="card-action">
                                <a href="#base-modal-fixed" class="modal-trigger-custom"
                                   data-href="{% url "dashboard:address-edit" order_pk=order.pk address_type="billing" %}">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
        </div>

        <div class="col s12 l8 switch-two-columns">
            {% for group in groups %}
                <div class="card">
                    <div class="data-table-header">
                            <h5 class="data-table-title">
                                {% blocktrans with shipment=group.id %}Shipment #{{ shipment }}{% endblocktrans %}
                                {% if group.can_cancel %}
                                    <a class="dropdown-button right" href="#" data-activates="group-actions-{{ group.pk }}" data-constrainwidth="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                {% endif %}
                                {% render_status group.status group.get_status_display %}
                            </h5>
                            <ul id="group-actions-{{ group.pk }}" class="dropdown-content">
                                <li>
                                    <a href="#base-modal" data-href="{% url 'dashboard:cancel-delivery-group' order_pk=order.pk group_pk=group.pk %}" class="modal-trigger-custom"
                                        title="{% trans "Cancel group" %}">
                                        {% trans "Cancel group" %}
                                    </a>
                                </li>
                            </ul>
                    </div>

                    <div class="data-table-container">
                        <table class="bordered hoverable responsive data-table">
                            <thead>
                                <tr>
                                    <th class="wide">{% trans "Item" %}</th>
                                    <th>{% trans "SKU" %}</th>
                                    <th class="right-align">{% trans "Price" %}</th>
                                    <th class="right-align">{% trans "Quantity" %}</th>
                                    <th class="right-align">{% trans "Total" %}</th>
                                    <th class="no-padded"></th>
                                </tr>
                            </thead>

                            <tfoot>
                                {% if group.shipping_price.gross or group.is_shipping_required %}
                                    <tr>
                                        <td colspan="4">
                                            {% trans "Shipping" %} ({{ group.shipping_method_name }})
                                        </td>
                                        <td class="right-align">
                                            {% gross group.shipping_price %}
                                        </td>
                                        <td class="no-padded"></td>
                                    </tr>
                                {% endif %}
                            </tfoot>

                            <tbody>
                                {% for item in group.items.all %}
                                    <tr>
                                        <td>
                                            {{ item.product_name }}<br>
                                        </td>
                                        <td>{{ item.product_sku }}</td>
                                        <td class="right-align">{% gross item.get_price_per_item %}</td>
                                        <td class="right-align">{{ item.quantity }}</td>
                                        <td class="right-align">{% gross item.get_total %}</td>
                                        <td class="right-align no-padded">
                                            {% if group.status != 'cancelled' %}
                                                <a class="dropdown-button" href="#" data-activates="line-actions-{{ item.pk }}" data-constrainwidth="false">
                                                    <i class="material-icons">more_vert</i>
                                                </a>
                                                <ul id="line-actions-{{ item.pk }}" class="dropdown-content">
                                                    <li>
                                                        <a href="#base-modal" data-href="{% url 'dashboard:orderline-change-quantity' order_pk=order.pk line_pk=item.pk %}" class="modal-trigger-custom"
                                                            {% if group.status != 'new' %} disabled{% endif %} title="{% trans "Change quantity" %}">
                                                            {% trans "Change quantity" %}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#base-modal" data-href="{% url 'dashboard:orderline-split' order_pk=order.pk line_pk=item.pk %}" class="modal-trigger-custom"
                                                            {% if group.status != 'new' %} disabled{% endif %} title="{% trans "Split line" %}">
                                                            {% trans "Split order line" %}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#base-modal" data-href="{% url 'dashboard:orderline-cancel' order_pk=order.pk line_pk=item.pk %}" class="modal-trigger-custom"
                                                            title="{% trans "Cancel line" %}">
                                                            {% trans "Cancel line" %}
                                                        </a>
                                                    </li>
                                                </ul>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if group.can_ship %}
                        <div class="card-action">
                            <a href="#base-modal" data-href="{% url 'dashboard:ship-delivery-group' order_pk=order.pk group_pk=group.pk %}" class="modal-trigger-custom">
                                {% trans "Ship" %}
                            </a>
                        </div>
                    {% else %}
                        {% if group.tracking_number %}
                        <div class="card-action">
                            {% blocktrans with tracking=group.tracking_number %}
                                Tracking number: {{ tracking }}
                            {% endblocktrans %}
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}

            <div class="card" id="order-totals">
                <div class="data-table-container">
                    <table class="bordered hoverable responsive data-table">
                        <tfoot>
                            <tr>
                                <td>
                                    {% trans "Grand total" %}
                                </td>
                                <td>
                                    {% gross order.get_total %}
                                </td>
                                <td class="no-padded"></td>
                            </tr>
                        </tfoot>

                        <tbody>
                            <tr>
                                <td class="wide">
                                    {% trans "Subtotal" %}
                                </td>
                                <td class="right-align">
                                    {% gross order.get_subtotal_without_voucher %}
                                </td>
                                <td class="no-padded"></td>
                            </tr>
                            <tr>
                                <td>{% trans "Shipping" %}</td>
                                <td class="right-align">
                                    {% gross order.get_total_shipping %}
                                </td>
                                <td class="no-padded"></td>
                            </tr>
                            {% if order.discount_amount.gross %}
                                <tr>
                                    <td>
                                        {% blocktrans with voucher=order.discount_name %}Voucher {{ voucher }}{% endblocktrans %}
                                    </td>
                                    <td class="right-align">
                                        {% gross order.discount|discount_amount_for:order.total %}
                                    </td>
                                    <td class="no-padded">
                                        <a class="dropdown-button" href="#" data-activates="voucher-actions" data-constrainwidth="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>

                                        <ul id="voucher-actions" class="dropdown-content">
                                            <li>
                                                <a href="#base-modal" data-href="{% url 'dashboard:order-remove-voucher' order_pk=order.pk %}" class="modal-trigger-custom"
                                                    title="{% trans "Remove voucher" %}">
                                                    {% trans "Remove voucher" %}
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card" id="order-notes">
                <div class="card-content">
                    <span class="card-title black-text">{% trans "Order notes" %}</span>

                    {% if notes %}
                        <ul class="list">
                        {% for note in notes %}
                            <li class="list-item list-item--spaced">
                                <small class="list-item-author">{{ note.user }} - {{ note.date }}</small>
                                <p>{{ note.content }}</p>
                            </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>{% trans "There are no notes associated with this order." %}</p>
                    {% endif %}
                </div>

                <div class="card-action">
                    <a data-href="{% url "dashboard:order-add-note" order_pk=order.pk %}"
                       class="modal-trigger-custom" href="#base-modal">{% trans "Add note" %}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content" id="payment-history">
        {% if all_payments %}
            <div class="card">
                <div class="data-table-container">
                    <table class="bordered hoverable responsive data-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{% trans "Date" %}</th>
                                <th class="wide">{% trans "Payment status" %}</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for payment in all_payments %}
                            <tr>
                                <td><a href="{% url "dashboard:payment-details" pk=payment.pk %}">#{{ payment.id }}</a></td>
                                <td>{{ payment.created }}</td>
                                <td>{% render_status payment.status payment.get_status_display %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <p>{% trans "No payments made for this order." %}</p>
        {% endif %}
    </div>

    <div class="card tab-content" id="order-history">
        <div class="data-table-container">
            <table class="bordered hoverable responsive data-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Order status</th>
                        <th>User</th>
                        <th class="wide">Comment</th>
                    </tr>
                </thead>

                <tbody>
                    {% for event in order.history.all %}
                    <tr>
                        <td>{{ event.date }}</td>
                        <td>{% render_status event.status event.get_status_display %}</td>
                        <td>
                            {% if event.user %}
                                {{ event.user }}
                            {% endif %}
                        </td>
                        <td>{{ event.comment|default:"" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
