{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load status %}
{% load utils %}

{% block title %}{% trans "Orders" context "Dashboard orders list" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-orders{% endblock %}

{% block menu_orders_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">{% trans "Orders" context "Dashboard orders list" %}</li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if orders %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table last-right-align">
              <thead>
                <tr>
                  {% sorting_header 'pk' '#' %}

                  <th></th>

                  {% trans "Customer" context "Orders table header" as label %}
                  {% sorting_header 'email' label %}

                  {% trans "Placed on" context "Orders table header" as label %}
                  {% sorting_header 'created' label %}

                  {% trans "Payment status" context "Orders table header" as label %}
                  {% sorting_header 'payment_status' label %}

                  {% trans "Total" context "Orders table header" as label %}
                  {% sorting_header 'total' label %}
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                  <tr data-action-go="{% url 'dashboard:order-details' order_pk=order.pk %}">
                    <td>
                      #{{ order.id }}
                    </td>
                    <td>
                      {% render_status order.status order.get_status_display %}
                    </td>
                    {% trans "Guest" context "Anonymous user account value" as guest %}
                    <td>
                      {{ order.user|default:guest }}
                    </td>
                    <td>
                      {{ order.created }}
                    </td>
                    <td>
                      {% render_status order.get_last_payment_status order.get_last_payment_status_display %}
                    </td>
                    <td class="right-align">
                      {% gross order.get_total html=True %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          {% paginate orders %}
        </div>
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/order/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No orders found." context "Empty order list message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
    </div>
  </div>
{% endblock %}
