{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load status %}
{% load utils %}

{% block title %}{% trans "Orders" context "Dashboard orders list" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-orders{% endblock %}

{% block menu_orders_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">{% trans "Orders" context "Dashboard orders list" %}</li>
  </ul>
{% endblock %}

{% block content %}
  {% include "dashboard/includes/_filters.html" %}
  {% if orders %}
    {% if orders %}
      <div class="card">
        {% include "dashboard/includes/_orders_table.html" with orders=orders %}
      </div>
      <div class="row">
        {% paginate orders %}
      </div>
    {% else %}
      <div class="not-found">
        <p class="grey-text">
          {% trans "No orders found." context "Empty order list message" %}
        </p>
      </div>
    {% endif %}
  {% else %}
    <div class="not-found">
      <p class="grey-text">
        {% trans "No orders." context "Empty order list message" %}
      </p>
    </div>
  {% endif %}
{% endblock %}
