{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}

{% block page_title %}{% if page.pk %}{{ page }}{% else %}{% trans 'Add new page' %}{% endif %} - {% trans 'CMS' %} - {{ block.super }}{% endblock %}

{% block title %}{% if page.pk %}{{ page }}{% else %}{% trans 'Add new page' %}{% endif %} - {{ block.super }}{% endblock %}

{% block body_class %}body-page{% endblock %}

{% block header_menu %}
    {% url "dashboard:page-list" as url %}
    {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--with-menu">
        <li><a href="{% url 'dashboard:page-list' %}" class="breadcrumbs--ellipsed-item">{% trans "Pages" %}</a></li>
        <li><span class="breadcrumbs--ellipsed-item">{% if page.pk %}{{ page }}{% else %}{% trans 'Add new page' %}{% endif %}</span></li>
    </ul>
{% endblock %}

{% block header_extra %}
    {% if page.pk %}
    <a class="dropdown-button" href="#" data-activates="context-menu" data-constrainwidth="false">
        <svg data-src="{% static "images/more_icon.svg" %}" width="25px" height="25px" />
    </a>
    <ul id="context-menu" class="dropdown-content">
        <li>
            <a href="{{ page.get_absolute_url }}">{% trans 'View on site' %}</a>
        </li>
        <li>
            <a href="#base-modal" data-href="{% url 'dashboard:page-delete' pk=page.pk %}"
               class="modal-trigger-custom">
                {% trans "Remove page" %}
            </a>
        </li>
    </ul>
    {% endif %}
{% endblock %}

{% block menu_cms_class %} active{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ redirect_form }}
        <div class="row">
            <div class="col s12 l8">
                {{ form.title|materializecss }}
                {{ form.content|materializecss }}
                {{ form.javascript|materializecss }}
                {{ form.head_tags|materializecss }}
            </div>
            <div class="col s12 l4">
                {{ form.status|materializecss }}
                {{ form.url|materializecss }}
                {{ form.meta_tags|materializecss:"input-field s12" }}
                {{ form.meta_description|materializecss:"input-field s12" }}
            </div>
        </div>

        <div class="row">
            <div class="col s12 l8">
                <h4 class="light">{% trans "Upload page assets" %}</h4>
                {{ asset_formset.management_form }}
                {% for form in asset_formset %}
                    <div class="item">
                        {{ form|materializecss }}
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="row">
            <div class="col s12">
                <div class="left">
                    <button type="button" class="btn green small-padding" value="Add More" id="add_more">
                     {% trans "Add more files" %}</button>
                </div>
                <div class="right">
                {% if page.pk %}
                    <a href="{% url 'dashboard:page-list' %}" class="btn-flat">{% trans "Cancel" %}</a>
                    <button type="submit" class="btn submit-stay">{% trans "Save and continue editing" %}</button>
                    <button type="submit" class="btn">{% trans "Save" %}</button>
                {% else %}
                    <a href="{% url 'dashboard:page-list' %}" class="btn-flat">{% trans "Cancel" %}</a>
                    <button type="submit" class="btn submit-stay">{% trans "Create" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
