{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load status %}
{% load utils %}

{% block title %}
  {% trans "Pages" context "Pages list page title"%} - {{ block.super }}
{% endblock %}

{% block body_class %}body-page{% endblock %}

{% block header_extra %}
  {% if perms.page.edit_page %}
    <div class="btn-fab-fixed">
      <a class="btn-fab-default waves-effect waves-light"
        href="{% url 'dashboard:page-add' %}"
        title="{% trans "Add page" context "Page list add button text" %}">
        <svg data-src="{% static "dashboard/images/add.svg" %}" />
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li>{% trans "Pages" %}</li>
  </ul>
{% endblock %}

{% block menu_pages_class %}active{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if pages %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table data-table-description">
              <thead>
                <tr>
                  {% trans "Title" context "Static pages table header name" as label %}
                  {% sorting_header 'title' label %}

                  {% trans "URL" context "Static pages table header url" as label %}
                  {% sorting_header 'url' label is_wide=True %}
                  <th>
                    {% trans "Visibility" context "Pages table header" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for page in pages %}
                  <tr data-action-go="{% url 'dashboard:page-details' pk=page.pk %}">
                    <td>
                      {{ page.title }}
                    </td>
                    <td>
                      {{ page.get_full_url }}
                    </td>
                    <td>
                      {% render_page_availability page %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate pages %}
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/page/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No pages found." context "Empty pages list message" %}
              </p>
            </div>
          </div>
        {% endif %}
       {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
    </div>
   </div>
{% endblock %}
