{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:page-delete' pk=page.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal remove page text" %}
  Remove page {{ page }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed context "Modal remove page text" %}
      Are you sure you want to remove page <strong>{{ page }}</strong>?
    {% endblocktrans %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
