{% load i18n %}
{% load staticfiles %}
{% load price_range from price_ranges %}
{% load product_first_image from product_images %}

{% for item, availability in items %}
  <div class="col-xs-6 col-md-4 product-list" itemscope itemtype="https://schema.org/Product">
    <div class="text-center">
      <div>
        <a itemprop="url" href="{{ item.url }}">
          <img itemprop="image" class="img-responsive" src="{% product_first_image item.product method="crop" size="400x400" %}" alt="">
          <span class="product-list-item-name" itemprop="name" title="{{ item.product }}">{{ item.product }}<br>{{ item.variant_name }}</span>
        </a>
      </div>
      <div>
      {% if availability.available %}
        {% price_range availability.price_range %}
        {% if availability.discount %}
          {% if undiscounted.min_price != price_range.min_price %}
          <div class="product-list__sale"><span>{% trans "Sale" context "wishlist" %}</span></div>
          {% endif %}
        {% endif %}
      {% else %}
      &nbsp;
      {% endif %}
        <p>
          <a href="#base-modal" data-href="{{ item.delete_url }}"
             class="modal-trigger-custom">{% trans "Remove" context "wishlist" %}</a>
        </p>
      </div>
    </div>
  </div>
{% endfor %}
