interactions:
- request:
    body: '{"amount": {"value": "8000", "currency": "USD"}, "reference": "UGF5bWVudDoxMTUw",
      "paymentMethod": {"type": "scheme", "encryptedCardNumber": "test_4646464646464644",
      "encryptedExpiryMonth": "test_03", "encryptedExpiryYear": "test_2030", "encryptedSecurityCode":
      "test_737"}, "returnUrl": "http://mirumee.com/plugins/mirumee.payments.adyen/additional-actions?payment=UGF5bWVudDoxMTUw&checkout=d72ba46f-95ce-4971-b548-2f65c51309b6",
      "merchantAccount": "SaleorECOM", "channel": "web", "shopperEmail": "", "applicationInfo":
      {"adyenLibrary": {"name": "adyen-python-api-library", "version": "4.0.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://checkout-test.adyen.com/v64/payments
  response:
    body:
      string: '{"additionalData":{"paymentMethod":"visa"},"pspReference":"852610008487439C","resultCode":"Authorised","amount":{"currency":"USD","value":8000},"merchantReference":"UGF5bWVudDoxMTUw"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      pspReference:
      - 881610008487259D
    status:
      code: 200
      message: OK
version: 1
