interactions:
- request:
    body: '{"amount": {"value": "8000", "currency": "USD"}, "reference": "UGF5bWVudDoxMzY1",
      "paymentMethod": {"type": "scheme", "encryptedCardNumber": "test_4646464646464644",
      "encryptedExpiryMonth": "test_03", "encryptedExpiryYear": "test_2030", "encryptedSecurityCode":
      "test_737"}, "returnUrl": "http://mirumee.com/plugins/mirumee.payments.adyen/additional-actions?payment=UGF5bWVudDoxMzY1&checkout=4c3b18ff-b18a-43f3-a255-bc3f89607e95",
      "merchantAccount": "SaleorECOM", "channel": "web", "shopperEmail": "", "applicationInfo":
      {"adyenLibrary": {"name": "adyen-python-api-library", "version": "4.0.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://checkout-test.adyen.com/v64/payments
  response:
    body:
      string: '{"additionalData":{"paymentMethod":"visa"},"pspReference":"853610014786939F","resultCode":"Authorised","amount":{"currency":"USD","value":8000},"merchantReference":"UGF5bWVudDoxMzY1"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      pspReference:
      - 881610014786858J
    status:
      code: 200
      message: '200'
- request:
    body: '{"merchantAccount": "SaleorECOM", "modificationAmount": {"value": "8000",
      "currency": "USD"}, "originalReference": "853610014786939F", "reference": "UGF5bWVudDoxMzY1",
      "applicationInfo": {"adyenLibrary": {"name": "adyen-python-api-library", "version":
      "4.0.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v64/capture
  response:
    body:
      string: '{"pspReference":"853610014787942J","response":"[capture-received]"}'
    headers:
      Adyen-ServerState:
      - MEDIUM
      Content-Type:
      - application/json;charset=utf-8
      pspReference:
      - 853610014787942J
    status:
      code: 200
      message: '200'
version: 1
