{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "dashboard:product-attribute-value-delete" attribute_pk=attribute_pk value_pk=value.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal remove attribute value title" %}
Delete attribute choice value {{ value }}
{% endblocktrans %}
{% endblock title %}

{% block content %}
{% blocktrans trimmed context "Modal remove attribute value text" %}
    Are you sure you want to remove attribute choice value <strong>{{ value }}</strong>?
{% endblocktrans %}
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Modal remove product primary action" %}
{% endblock %}
