@import "../../../../globalStyles/scss/variables.scss";

.checkout-shipping-options {
  &__form {
    display: grid;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;

    @media (min-width: $medium-screen) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
