{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load bootstrap %}
{% load status %}
{% load utils %}

{% block title %}{% trans "Payment" %} #{{ payment.id }} - {% trans "Payments" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-payments{% endblock %}

{% block page_title %}{% trans "Payment" %} #{{ payment.id }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col l8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Payment details</span>
            </div>
            <div class="panel-body">
                <p>{% trans "Payment status" %}: {% render_status payment.status payment.get_status_display %}</p>
                <p>{% trans "Fraud status" %}: {% render_status payment.fraud_status payment.get_fraud_status_display %}</p>
                <p>{% trans "Amount" %}: {% gross payment.get_total_price %}</p>
                <p>{% trans "Captured amount" %}: {% gross payment.get_captured_price %}</p>
                <p>{% trans "Gateway" %}: {{ payment.variant }}</p>
                <p>{% trans "Transaction ID" %}: {{ payment.transaction_id }}</p>
                <p>{% trans "Payment date" %}: {{ payment.created }}</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">{% trans "Gateway communication" %}</span>{% if payment.extra_data %}<a class="pull-right" data-toggle="collapse" href="#gateway-output">{% trans "Show" %}</a>{% endif %}
            </div>
            <div class="panel-body">
                <div id='gateway-output' class="{% if payment.extra_data %}collapse{% endif %}">
                    {% if payment.extra_data %}
                        <pre>{{ payment.extra_data|format_json }}</pre>
                    {% else %}
                        <small>{% trans "No communication recorded yet." %}</small>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">{% trans "Gateway response" %}</span>
            </div>
            <div class="panel-body">
                {% if payment.message %}
                    {{ payment.message }}
                {% else %}
                    <small>{% trans "No response available." %}</small>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col l4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">{% trans "Customer" %}</span>
            </div>
            <div class="panel-body">
                <div class="address">
                    {% if payment.order.user %}
                        <div>{% trans "Account" %}: <a href="{% url "dashboard:customer-details" pk=payment.order.user.pk %}">{{ payment.order.user }}</a></div>
                    {% else %}
                        <div>{% trans "Account" %}: {% trans "Guest" %}</div>
                    {% endif %}
                    <div><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:{{ payment.order.get_user_email }}">{{ payment.order.get_user_email }}</a></div>
                    <div>Customer IP: {{ payment.customer_ip_address }}</div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">{% trans "Billing address" %}</span>
            </div>
            <div class="panel-body">
                <div class="address">
                    <strong>{{ payment.billing_first_name }} {{ payment.billing_last_name }}</strong>
                    <div>{{ payment.billing_address_1 }}</div>
                    {% if payment.payment.billing_address_2 %}
                        <div>{{ payment.payment.billing_address_2 }}</div>
                    {% endif %}
                    <div>{{ payment.billing_postcode }}</div>
                    <div>{{ payment.billing_city }}, {{ payment.billing_country_code }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
