{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load bootstrap %}

{% block title %}Payment details{% endblock %}

{% block content %}
<div class="row">
    <h1 class="page-header">Payment event details</h1>

    <div class="col-lg-8">
        <div class="box">
            <div class="box-header">Payment details</div>
            <li>Amount: {{ payment.total }} {{ payment.currency }}</li>
            <li>Customer IP: {{ payment.customer_ip_address }}</li>
            <li>Status: {{ payment.get_status_display }}</li>
            <li>Transaction id: {{ payment.transaction_id }}</li>
            <li>Captured amount: {{ payment.captured_amount }}</li>
        </div>
        <div class="box">
            <div class="box-header">Gateway communication</div>
            <pre>
                <code class="json">
                    {{ payment.extra_data }}
                </code>
            </pre>
        </div>
        <div class="box">
            <div class="box-header">Gateway message</div>
            <p>{{ payment.message }}</p>
        </div>


    </div>
    <div class="col-lg-4">

        <div class="box">
            <div class="box-header">
                {% trans "Transaction management" %}
            </div>
            {% if capture_form %}
                <p>{% trans "Capture funds to continue transaction" %}</p>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ capture_form|as_vertical_form }}
                    <input type="submit" class="btn btn-success" value="Capture"/>
                </form>
            {% endif %}
            {% if release_available %}
                <p>{% trans "Release funds to abort transaction" %}</p>
                <form action="." method="post">
                    {% csrf_token %}
                    <input type="hidden" name="release" value="true"/>
                    <input type="submit" class="btn btn-primary" value="Release"/>
                </form>
            {% endif %}
            {% if refund_available %}
                <p>{% trans "Refund funds to customer" %}</p>
                <form action="." method="post">
                    {% csrf_token %}
                    <input type="hidden" name="refund" value="true"/>
                    <input type="submit" class="btn btn-primary" value="Refund"/>
                </form>
            {% endif %}
        </div>
        <div class="box">
            <div class="box-header">Customer account
                <span class="glyphicon glyphicon-user pull-right"></span>
            </div>
            <div class="address">
                <div>Account: <a href="{% url "dashboard:customer-details" pk=payment.order.user.pk %}">{{ payment.order.user.get_address_name }}</a></div>
                <div>
                    <span class="glyphicon glyphicon-envelope"></span>
                    {{ payment.order.get_user_email }}</div>
                <div>Payment date: {{ payment.created }}</div>
            </div>
        </div>
        <div class="box">
             <div class="box-header">Billing address sent to gateway</div>
                <li>{% trans "First name" %} - {{ payment.billing_first_name }}</li>
                <li>{% trans "Last name" %} - {{ payment.billing_last_name }}</li>
                <li>{% trans "Address 1" %} - {{ payment.billing_address_1 }}</li>
                <li>{% trans "Address 2" %} - {{ payment.billing_address_2 }}</li>
                <li>{% trans "City" %} - {{ payment.billing_city }}</li>
                <li>{% trans "Post code" %} - {{ payment.billing_postcode }}</li>
                <li>{% trans "Country code" %} - {{ payment.billing_country_code }}</li>
        </div>
    </div>
</div>
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
{% endblock %}
{% block custom_js %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
