{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load bootstrap %}
{% load status %}

{% block title %}Payment details{% endblock %}

{% block content %}
<div class="row">
    <h1 class="page-header">Payment details</h1>

    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Payment details</span>
            </div>
            <div class="panel-body">
                <p>Status: {% render_status payment.status payment.get_status_display %}</p>
                <p>Fraud status: {% render_status payment.fraud_status payment.get_fraud_status_display %}</p>
                <p>Amount: {{ payment.total }} {{ payment.currency }}</p>
                <p>Captured amount: {{ payment.captured_amount }} {{ payment.currency }}</p>
                <p>Gateway: {{ payment.variant }}</p>
                <p>Transaction id: {{ payment.transaction_id }}</p>
                <p>Payment date: {{ payment.created }}</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Gateway communication</span><a class="pull-right" data-toggle="collapse" href="#gateway-output">Show</a>
            </div>
            <div class="panel-body">
                <div id='gateway-output' class="collapse">
                    {% if extra_data %}
                        <pre>{{ extra_data }}</pre>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Gateway message</span>
            </div>
            <div class="panel-body">
                <span>{{ payment.message|default:"-" }}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Customer account<i class="glyphicon glyphicon-user pull-right"></i></span>
            </div>
            <div class="panel-body">
                <div class="address">
                    {% if payment.order.user %}
                        <div>Account: <a href="{% url "dashboard:customer-details" pk=payment.order.user.pk %}">{{ payment.order.user }}</a></div>
                    {% else %}
                        <div>Account: Anonymous</div>
                    {% endif %}
                    <div><i class="glyphicon glyphicon-envelope"></i> {{ payment.order.get_user_email }}</span></div>
                    <div>Customer IP: {{ payment.customer_ip_address }}</div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Billing address sent to gateway</span>
            </div>
            <div class="panel-body">
                <div class="address">
                    <strong>{{ payment.billing_first_name }} {{ payment.billing_last_name }}</strong>
                    <div>{{ payment.billing_address_1 }}</div>
                    {% if payment.payment.billing_address_2 %}
                        <div>{{ payment.payment.billing_address_2 }}</div>
                    {% endif %}
                    <div>{{ payment.billing_postcode }}</div>
                    <div>{{ payment.billing_city }}, {{ payment.billing_country_code }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
{% endblock %}
{% block custom_js %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
