{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load status %}

{% block title %}{% trans "Payments" %} - {{ block.super }}{% endblock %}

{% block page_title %}{% trans "Payments" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col l12">
            {% include "dashboard/includes/_status_filters.html" %}

            <table class="table">
                <thead>
                    <tr>
                        <th class="col-sm-3">{% trans "Date" %}</th>
                        <th class="col-sm-4">{% trans "Payment" %}</th>
                        <th class="col-sm-2 text-right">{% trans "Amount" %}</th>
                        <th class="col-sm-3">{% trans "Status" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.created }}</td>
                        <td>
                            <a href="{% url "dashboard:payment-details" pk=payment.pk %}">#{{ payment.id }}</a><br>
                            {% trans "Gateway" %}: {{ payment.variant }} &middot; {% trans "Order number" %}: <a href="{% url 'dashboard:order-details' pk=payment.order.pk %}">{{ payment.order }}</a>
                        </td>
                        <td class="text-right">{% gross payment.get_total_price %}</td>
                        <td>{% render_status payment.status payment.get_status_display %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include "dashboard/includes/_pagination.html" %}
        </div>
    </div>
{% endblock %}
