{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}{% trans "All orders" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{% trans "Payment events" %}</h1>
            {% include "dashboard/includes/_status_filters.html" %}

            <table class="table table-bordered">
                <thead>
                    <th>{% trans "Order number" %}</th>
                    <th>{% trans "Gateway" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Customer" %}</th>
                    <th>{% trans "Amount" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Captured amount" %}</th>
                </thead>
                <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>
                            <a href="{% url 'dashboard:order-details' pk=payment.order.pk %}">{{ payment.order }}</a>
                            (<a href="{% url "dashboard:payment-details" pk=payment.pk %}">Transaction Details</a>)
                        </td>
                        <td>{{ payment.variant }}</td>
                        <th>{{ payment.created }}</th>
                        <td>{{ payment.order.user|default:"Anonymous" }}</td>
                        <td>{{ payment.total }}</td>
                        <td>{% include 'dashboard/includes/_status_label.html' with status=payment.status status_display=payment.get_status_display %}</td>
                        <td>
                            {{ payment.captured_amount }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include "dashboard/includes/_pagination.html" %}
        </div>
    </div>
{% endblock %}
