{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load status %}

{% block title %}{% trans "Payments" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-payments{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>{% trans "Payments" %}</li>
    </ul>
{% endblock %}

{% block menu_sales_class %} active{% endblock %}

{% block content %}
    {% include "dashboard/includes/_status_filters.html" %}

    {% if payments %}
        <div class="card">
            <div class="data-table-container">
                <table data-table-api="/dashboard/api/payments/"
                                    data-default-sort-column="id"
                                    data-default-sort="desc"
                                    data-max-page="{{ paginator.num_pages }}"
                                    data-no-data-message="{% trans "No payments found." %}"
                                    class="bordered hoverable responsive data-table data-table--orderable">
                    <thead>
                        <th data-key="id" data-component="CommonLink">{% trans "ID" %}</th>
                        <th data-key="created" data-component="CommonDate">{% trans "Date" %}</th>
                        <th data-key="variant" data-component="PaymentGateway">{% trans "Payment" %}</th>
                        <th data-key="total_price" data-css-class="right-align" data-component="CommonTotal">{% trans "Total" %}</th>
                        <th data-key="status" data-component="CommonStatus" data-css-class="wide">{% trans "Status" %}</th>
                    </thead>
                </table>
            </div>
        </div>

        {% include "dashboard/includes/_pagination.html" %}
    {% else %}
        <p>{% trans "No payments found." %}</p>
    {% endif %}

{% endblock %}
