{% load i18n %}
{% load static %}

<div class="filters-menu__body d-none d-md-block">
  <div class="product-filters">
    <div class="product-filters__attributes" data-icon-up="{% static "images/chevron-up.svg" %}" data-icon-down="{% static "images/chevron-down.svg" %}">
      <form method="get">
        {% for field in filter_set.form %}
          {% if field.name == 'sort_by' %}
            {% comment %}
              Field 'sort_by' is hidden because it is rendered in header.
              This is required if you want to have sorting to be kept during further filtering.
            {% endcomment %}
            <input type="hidden" name="sort_by" value="{% if request.GET.sort_by %}{{ request.GET.sort_by }}{% endif %}">
          {% elif field.name != 'price' %}
            <div class="filter-section" aria-expanded="true">
              <div class="filter-section__header">
                <h3>{{ field.label }}</h3>
                <div class="filter-section__icon">
                  <img class="lazyload lazypreload" data-src="{% static "images/chevron-up.svg" %}">
                </div>
              </div>
              <div class="filter-section__content">
                <div class="filter-form-field">
                  {{ field }}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        {% for field in filter_set.form %}
          {% if field.name == 'price' %}
            <div class="filter-section" aria-expanded="true">
              <div class="filter-section__header">
                <h3>{{ field.label }}</h3>
                <div class="filter-section__icon">
                  <img class="lazyload lazypreload" data-src="{% static "images/chevron-up.svg" %}">
                </div>
              </div>
              <div class="filter-section__content">
                <div class="filter-form-field price-field">
                  <input id="{{ field.auto_id }}_0" name="{{ field.name }}_min"
                        value="{% if field.value.0 %}{{ field.value.0 }}{% endif %}" type="number" min="0"
                        class="form-control d-inline"
                        placeholder="{% trans 'from' context 'Product price filter' %}"/><span>-</span><input id="{{ field.auto_id }}_1" name="{{ field.name }}_max"
                        value="{% if field.value.1 %}{{ field.value.1 }}{% endif %}" type="number" min="0"
                        class="form-control d-inline" placeholder="{% trans 'to' context 'Product price filter' %}"/>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        {% if filter_set.is_bound_unsorted %}
          <a class="clear-filters text-uppercase" href="./">
            {% trans 'Clear filters' context 'Product list page filters' %}
          </a>
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans 'Update results' context 'Apply filters button' %}</button>
      </form>
    </div>
  </div>
</div>
