{% load i18n %}
{% load static %}
{% load taxed_prices %}
{% load get_product_image_thumbnail from product_images %}
{% load placeholder %}

{% for product, availability in products %}
  <div class="col-6 col-lg-3 product-list">
    <a href="{{ product.get_absolute_url }}" class="link--clean">
      <div class="text-center">
        <div>
          <div class="product-image">
            <img class="img-responsive lazyload lazypreload"
                 data-src="{% get_product_image_thumbnail product.get_first_image method="thumbnail" size=255 %}"
                 data-srcset="{% get_product_image_thumbnail product.get_first_image method="thumbnail" size=255 %} 1x, {% get_product_image_thumbnail product.get_first_image method="thumbnail" size=510 %} 2x"
                 alt=""
                 src="{% placeholder size=255 %}">
            </div>
          <span class="product-list-item-name" title="{{ product.translated }}">{{ product.translated }}</span>
        </div>
        <div class="panel-footer">
          {% if availability.available %}
            {% price_range availability.price_range %}
            {% if availability.on_sale %}
              {% if availability.price_range_undiscounted.start != availability.price_range.start %}
                <div class="product-list__sale">
                  <svg data-src="{% static "images/sale-bg.svg" %}" />
                  <span class="product-list__sale__text">
                    {% comment %}Translators: Layout may break if character length is different than four.{% endcomment %}
                    {% trans "Sale" context "Sale (discount) label for item in product list" %}
                  </span>
                </div>
              {% endif %}
            {% endif %}
          {% else %}
            &nbsp;
          {% endif %}
        </div>
      </div>
    </a>
  </div>
{% endfor %}
