{% load i18n %}
{% load staticfiles %}
{% load price_range from price_ranges %}
{% load product_first_image from product_images %}
{% load product_availability_schema from jsonld %}

<h3>{% trans 'See also' %}</h3>
<hr>
<div class="row">
  {% for product in products %}
    <div class="col-6 col-md-4 col-lg-2 product-list" itemscope>
      <a itemprop="url" href="{{ product.get_absolute_url }}">
        <div class="text-center">
          <img itemprop="image" class="img-responsive" src="{% product_first_image product method="crop" size="400x400" %}" alt="">
        </div>
      </a>
      <script type="application/ld+json">
          {% autoescape off %}{% product_availability_schema product %}{% endautoescape %}
        </script>
    </div>
  {% endfor %}
</div>
