{% extends "base.html" %}

{% load bootstrap_form from bootstrap3 %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load markdown from markdown %}
{% load price_range from price_ranges %}
{% load product_first_image get_thumbnail from product_images %}
{% load static from staticfiles %}

{% block title %}{{ product }} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% with product.get_first_category as category %}
        {% if category %}
            <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
        {% endif %}
    {% endwith %}
    <li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
{% endblock breadcrumb %}

{% block outercontent %}
{% if not is_visible %}
    <div class="alert alert-warning" role="alert">
        {% blocktrans with date=product.available_on|date %}<strong>Warning!</strong> You are previewing a product that will become visible on <strong>{{ date }}</strong>.{% endblocktrans %}
    </div>
{% endif %}
<div itemscope itemtype="http://schema.org/Product">
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <h1 itemprop="name">
                {{ product }}
            </h1>

            {% if availability.available %}
                <p class="lead" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <span class="price">{% price_range availability.price_range %}</span>
                    {% if availability.discount %}
                        <small class="price undiscounted text-muted">{% gross availability.price_range_undiscounted.min_price html=True %}</small>
                    {% endif %}
                    {% if availability.price_range_local_currency %}
                        <br>
                        <small class="text-info">
                            &asymp;
                            {% gross availability.price_range_local_currency.min_price html=True %}
                        </small>
                    {% endif %}
                </p>
            {% endif %}
            {% if user.is_staff %}
                <p>
                    <a href="{% url "dashboard:product-update" pk=product.pk %}">{% trans "Edit in dashboard" %}</a>
                </p>
            {% endif %}
            <hr>

            <div class="visible-xs">
                <img class="img-responsive" src="{%  product_first_image product method="crop" size="680x680" %}" alt="">
                <hr>
            </div>

            {% if is_visible and product.is_in_stock %}
                {% block orderform %}
                    {% for attribute, value in product_attributes.items %}
                        <div className="form-group">
                            <label className="control-label">{{ attribute }}</label>
                            <p>{{ value }}</p>
                        </div>
                    {% endfor %}
                    {% if show_variant_picker %}
                        <div id="variant-picker" data-variant-picker-data="{{ variant_picker_data }}" data-action="{% url 'product:add-to-cart' product_id=product.pk slug=product.get_slug %}"></div>
                    {% else %}
                        <form id="product-form" role="form" class="product-form form-vertical" method="post"
                        action="{% url 'product:add-to-cart' product_id=product.pk slug=product.get_slug %}" novalidate>
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-group">
                                <button class="btn btn-lg btn-block btn-primary">
                                    {% trans "Add to cart" %}
                                </button>
                            </div>
                        </form>
                    {% endif %}
                {% endblock %}
            {% else %}
                <p class="alert alert-warning">{% trans "This product is currently <strong>unavailable</strong>." %}</p>
            {% endif %}

            <hr>

            <div itemprop="description">
                {{ product.description|markdown }}
            </div>

        </div>

        {% with images=product_images %}
        <div class="col-sm-6 col-sm-pull-6">
            <div id="product-carousel" class="carousel slide panel panel-default hidden-xs" data-ride="carousel">
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="item{% if forloop.first %} active{% endif %}">
                        <a href="#" data-toggle="modal" data-target="#modal-{{ forloop.counter }}">
                            <img class="img-responsive" src="{%  get_thumbnail image.image method="crop" size="750x750" %}" alt="">
                        </a>
                    </div>
                    {% empty %}
                        <div class="item active">
                            <img src="{% static 'images/product-image-placeholder.png' %}" alt="" class="img-responsive">
                        </div>
                    {% endfor %}
                </div>

                {% for image in images %}
                <div class="modal fade" id="modal-{{ forloop.counter }}"
                     tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ forloop.counter }}" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel{{ forloop.counter }}">{{ product }}</h4>
                            </div>

                            <div class="modal-body">
                                <img class="img-responsive" src="" data-src="{{ image.image.url }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="product-gallery row">
                {% for image in images %}
                <a href="{{ image.image.url }}" target="_blank" class="product-gallery-item col-xs-6 col-md-3">
                    <img class="thumbnail img-responsive" src="{% get_thumbnail image.image method="crop" size="280x280" %}" alt="">
                </a>
                {% endfor %}
            </div>
        </div>
        {% endwith %}
    </div>
</div>
{% endblock outercontent %}
