{% extends "base.html" %}

{% load bootstrap_field from bootstrap3 %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load markdown from markdown %}
{% load price_range from price_ranges %}
{% load static from staticfiles %}
{% load get_thumbnail from product_images %}

{% block title %}{{ product }} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumbs list-unstyled">
        <li><a href="/">{% trans "Home" %}</a></li>
        {% with product.get_first_category as category %}
            {% if category %}
                <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
            {% endif %}
        {% endwith %}
        <li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
    {% if not is_visible %}
        <div class="alert alert-warning" role="alert">
            {% blocktrans with date=product.available_on|date %}<strong>Warning!</strong> You are previewing a product that will become visible on <strong>{{ date }}</strong>.{% endblocktrans %}
        </div>
    {% endif %}
    <div itemscope itemtype="http://schema.org/Product">
        <div class="row product">
            <div class="col-12 col-md-7"></div>
            <div class="col-12 col-md-5">
              <h1 itemprop="name" class="product__info__name">
                  {{ product }}
              </h1>
              {% if user.is_staff %}
                <p><a href="{% url "dashboard:product-update" pk=product.pk %}">{% trans "Edit in dashboard" %}</a></p>
              {% endif %}
              {% if availability.available %}
                    {% if show_variant_picker %}
                        <div id="variant-price-component"></div>
                    {% else %}
                        <h2 itemprop="offers" class="product__info__price" itemscope itemtype="http://schema.org/Offer">
                            <span>{% price_range availability.price_range %}</span>
                            {% if availability.discount %}
                                <small class="product__info__price__undiscounted">{% gross availability.price_range_undiscounted.min_price html=True %}</small>
                            {% endif %}
                            {% if availability.price_range_local_currency %}
                                <br>
                                <small>
                                    &asymp;
                                    {% gross availability.price_range_local_currency.min_price html=True %}
                                </small>
                            {% endif %}
                        </h2>
                    {% endif %}
              {% endif %}
            </div>
            <div class="col-md-7 col-12 product__gallery">
              {% with images=product_images %}
                {% if images %}
                <div id="carousel-example-generic" class="carousel slide">
                  <ol class="carousel-indicators hidden-sm-down">
                    {% for image in images %}
                      {% if images|length > 1 %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}">
                          <img src="{% get_thumbnail image.image method="crop" size="60x60" %}" alt="">
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ol>
                  <div class="carousel-inner" role="listbox">
                    {% for image in images %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                      <img class="d-block img-fluid" src="{% get_thumbnail image.image method="crop" size="750x750" %}" alt="">
                    </div>
                    {% endfor %}
                  </div>
                  {% if images|length > 1 %}
                    <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
                      <img class="icon-next" src="{% static "images/gallery-arrow.svg" %}">
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
                      <img class="icon-next" src="{% static "images/gallery-arrow.svg" %}">
                    </a>
                  {% endif %}
                </div>
                {% else %}
                  <img src="{% static 'img/product-image-placeholder.png' %}" alt="" class="img-fluid">
                {% endif %}
              {% endwith %}
            </div>
            <div class="col-md-5 col-12 product__info">
                {% if is_visible and product.is_in_stock %}
                    {% block orderform %}
                        {% for attribute, value in product_attributes.items %}
                            <div class="form-group">
                                <label class="control-label"><b>{{ attribute }}</b></label>
                                <p>{{ value }}</p>
                            </div>
                        {% endfor %}
                        {% if show_variant_picker %}
                            {% csrf_token %}
                            <div id="variant-picker" data-variant-picker-data="{{ variant_picker_data }}" data-action="{% url 'product:add-to-cart' product_id=product.pk slug=product.get_slug %}"></div>
                        {% else %}
                            <form id="product-form" role="form" class="product-form form-vertical" method="post"
                            action="{% url 'product:add-to-cart' product_id=product.pk slug=product.get_slug %}" novalidate>
                                {% csrf_token %}
                                {% bootstrap_field form.variant %}
                                {% bootstrap_field form.quantity %}
                                <div class="form-group">
                                    <button class="btn primary">
                                        {% trans "Add to cart" %}
                                    </button>
                                </div>
                            </form>
                        {% endif %}
                    {% endblock %}
                    <small class="product__info__form-error text-danger"></small>
                {% else %}
                    <p class="alert alert-warning">{% trans "This product is currently <strong>unavailable</strong>." %}</p>
                {% endif %}

                <hr>

                <div itemprop="product__info__description">
                    <p><strong>{% trans "Description" %}</strong></p>
                    {{ product.description|markdown }}
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
