{% load bootstrap_field from bootstrap4 %}
<div class="i18n-address">
  {% with address_form_lines=address_form.i18n_fields_order %}
    {% if address_form_lines %}
      {% for line in address_form_lines %}
        <div class="row">
          {% for field in line %}
            <div class="col-6 checkout__{{ field.name }}" >
              {% bootstrap_field field %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% for field in address_form.hidden_fields %}
    {{ field }}
  {% endfor %}
  {% bootstrap_field address_form.country %}
  {% bootstrap_field address_form.phone %}
  <input type="hidden" class="preview" name="preview">
</div>
