{% extends "base.html" %}
{% load gross from prices %}
{% load undiscounted_price price_difference from discount %}
{% load i18n %}

{% block title %}{{ block.super }} » {% trans "Product" %} » {{ product.name }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
<li>
    <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a> <span class="divider">/</span>
</li>
<li>
    <a href="{{ product.get_absolute_url }}">{{ product }}</a> <span class="divider">/</span>
</li>
{% endblock breadcrumb %}

{% block outercontent %}
{% with price=product.get_price undiscounted=product|undiscounted_price %}
{% with discount=undiscounted|price_difference:price %}
<div itemscope itemtype="http://schema.org/Product" class="row">
    <h1 itemprop="name">{{ product }}</h1>
    <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        {% trans "Price" %}:
        {% if undiscounted != price %}
        <span class="price undiscounted">{% gross undiscounted %}</span>
        {% endif %}
        <span class="price" itemprop="price">{% gross price %}</span>
        {% if product.stock == 0 %}
        <link itemprop="availability" href="http://schema.org/OutOfStock" /> {% trans "Out of stock" %}
        {% else %}
        <link itemprop="availability" href="http://schema.org/InStock" /> {% trans "In stock" %}
        {% endif %}
        {% if undiscounted != price %}<br /><small class="label label-success">{% gross discount %} {% trans "OFF" %}!</small>{% endif %}
    </p>
    <form class="form-horizontal" method="post" action=".">
        {% csrf_token %}
        <div class="control-group  {{ form.quantity.html_name }}{{ form.quantity.html_name }}{{ form.quantity.html_name }}{% if form.quantity.errors %} error{% endif %}{% if form.quantity.field.required %} required{% endif %}">
            <label class="control-label" for="inputEmail">{{ form.quantity.label }}</label>
            <div class="controls">
                {{ form.quantity }}
                {% if form.quantity.errors %}
                {% for error in form.quantity.errors %}
                <span class="help-inline error">{{ error }}</span>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn">
                    {% trans "Add to cart" %}
                </button>
            </div>
        </div>
    </form>
</div>
{% endwith %}
{% endwith %}
{% endblock outercontent %}
