{% load price from taxed_prices %}
<table class="products-table">
    <tbody>
        <tr class="row-category">
            <td class="cell-product">
                <span class="header-category-small">Products</span>
            </td>
            <td class="cell-price">
                <span class="header-category-small cell-price-content">Price</span>
            </td>
            <td class="cell-quantity">
                <span class="header-category-small cell-quantity-content">Quantity</span>
            </td>
            <td class="cell-total-price">
                <span class="header-category-small">Total Price</span>
            </td>
        </tr>
        {% for product in products %}
        <tr class="row-product">
            <td class="cell-product">
                <span class="normal-text-table">
                    {{ product|truncatechars:46 }}
                    {% if product.product_sku %}
                      <div class="padded-font-small"></div>
                      <span class="header-category-small">SKU: {{ product.product_sku }}</span>
                    {% endif %}
                </span>
            </td>
            <td class="cell-price">
                <span class="normal-text-table cell-price-content">{% price product.unit_price.gross display_gross=order.display_gross_prices %}</span>
            </td>
            <td class="cell-quantity">
                <span class="normal-text-table cell-quantity-content">{{ product.quantity }}</span>
            </td>
            <td class="cell-total-price">
                <span class="normal-text-table">{% price product.total_price.gross display_gross=order.display_gross_prices %}</span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
