{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load prices_i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:variant-stock-delete' product_pk=product.pk variant_pk=variant.pk stock_pk=stock.pk %}
{% endblock %}

{% block title %}
{% blocktrans context "Dashboard confirmation modal" %}
  Remove stock {{ stock }}
{% endblocktrans %}
{% endblock title %}

{% block content %}
  <div class="col s12">
    {% blocktrans context "Dashboard confirmation modal" %}
      Are you sure you want to remove stock <strong>{{ stock }}</strong>?
    {% endblocktrans %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
