{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load prices_i18n %}

{% block action_url %}
{% url 'dashboard:variant-stock-delete' product_pk=product.pk variant_pk=variant.pk stock_pk=stock.pk %}
{% endblock %}

{% block title %}
{% blocktrans context "Modal remove stock title" %}
Remove stock {{ stock }}
{% endblocktrans %}
{% endblock title %}

{% block content %}
<div class="col">
    {% blocktrans context "Modal remove stock text" %}
        Are you sure you want to remove stock <strong>{{ stock }}</strong>?
    {% endblocktrans %}
</div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Modal remove stock primary action" %}
{% endblock %}
