{% if SEARCH_IS_ENABLED %}
<form action="{% url "search:search" %}"  method="get" class="navbar-form navbar-right">
    <div class="input-group">
        <input type="text" class="form-control"  name="q"  placeholder="Search..." value="{% if query %}{{ query }}{% endif %}" autofocus>
        <span class="input-group-btn">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </span>
    </div>
</form>
{% endif %}
