.btn {
  &:not(.btn-floating) {
    box-shadow: none;
  }
  &-flat {
    @extend .btn;
    color: $secondary-color;
    &:hover {
      background: transparentize(#cccccc, .6);
    }
    &:focus, &:active {
      background: transparentize(#000000, .88);
    }
  }
  &-fab {
    &-fixed {
      @extend .fixed-action-btn;
      @media (min-width: $medium-screen) {
        position: absolute;
        top: 4px;
        right: 25%;
      }
      @media (min-width: $large-screen) {
        right: calc(25% - 60px);
      }
    }
    &-default {
      @extend .btn-fab;
      @extend .btn-floating;
      @extend .btn-large;
    }
  }
}
