.btn-flat {
  color: $secondary-color;
  &.btn:hover {
    color: #fff;
  }
}

.btn {
  &:not(.btn-floating) {
    box-shadow: none;
  }
  &-danger {
    color: $error-color;
    &:hover {
      background: $error-color;
      color: #fff;
    }
  }
}

.btn-fab, .btn-floating {
  svg {
    vertical-align: middle;
  }
  &.btn-fab-hidden {
    transform: scaleX(0) scaleY(0);
  }
}

.bulk-submit {
  margin-top: 25px;
}
