@mixin data-table {
  &-container {
    overflow: auto;
    .avatar {
      padding: 0;
      img {
        vertical-align: middle;
      }
    }
  }

  &-action {
    border-top: 1px solid $table-border-color;
    padding: 10px 8px;
  }

  &-header-action {
    border-bottom: 1px solid $table-border-color;
    padding: 14px 8px;
  }

  &-header-alternative {
    box-shadow: none;
    transition: $transition-duration;
    max-height: 0;
    overflow: hidden;
    .show-single, .show-bulk {
      display: none;
    }
    &.bulk {
      background: #fff;
      color: $off-black;
      max-height: 100px;
      border-bottom: 1px #d0d0d0 solid;
      .show-bulk {
        display: block;
      }
      th, a {
        color: color('teal', 'base');
      }
      .data-table-header-action-selected-items {
        margin-left: 13px;
      }
    }
    &.single {
      background: #fff;
      .show-single {
        display: block;
      }
      th, a {
        color: $secondary-color;
      }
    }
  }

  &-header {
    align-items: center;
    display: flex;
    height: 64px;
    a {
      color: $secondary-color;
    }
    .label {
      line-height: 1;
      margin-right: 24px;
    }
  }

  &-title {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 0 24px;
    &--no-data {
      padding: 0 15px;
    }
  }

  &.last-right-align {
    td, th {
      &:last-child {
        text-align: right;
      }
    }
  }

  input[type=checkbox].filled-in + label {
    margin-top: 5px;
    padding: 0;

    &:after {
      display: inline-block;
      position: static;
    }
  }

  tr {
    &.last-no-border {
      &:last-of-type {
        border-bottom: none;
      }
    }
    &[data-action-go] > td:not(.ignore-link):hover {
    }
    cursor: pointer;
  }

  .danger {
    color: $error-color;
  }

  th, td {
    height: 48px;
    overflow: hidden;
    padding: 0 24px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;

    a {
      color: $secondary-color;
    }

    &:first-child {
      padding-left: 24px;
    }

    &:last-child {
      padding-right: 24px;
    }

    &.no-padded {
      padding: 0;
    }

    &.nowrap {
      white-space: normal;
      padding: 10px 24px;
    }

    .dropdown-button {
      color: inherit;
      display: inline-block;
      svg {
        vertical-align: bottom;
      }
    }
  }

  th {
    font-weight: normal;
    font-size: 12px;
    height: 56px;
    color: $grey-color;
    svg {
      display: none;
    }
    &.active {
      a {
        font-weight: 600;
        color: lighten(#000, 13%);
        padding-right: 16px;
      }
      svg {
        display: inline-block;
        fill: lighten(#000, 13%);
        position: absolute;
        top: -2px;
        right: -4px;
        width: 16px;
        height: 16px;
      }
    }
    a {
      position: relative;
      color: $grey-color;
      &:hover {
        color: darken($grey-color, 15%);
      }
    }
  }

  tfoot:not(.no-bold) {
    font-weight: bold;
  }

  .wide {
    width: 99%;
  }
}

.data-table {
  @include data-table;
}
