.google-preview {
    font-family: arial, sans-serif;
    text-align: left;

    .container {
        padding: 12px;
        border: 2px solid #ccc;
        margin: 12px;
        background-color: #fff;
        max-width: 600px;
    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        a {
            color: rgb(26, 13, 171);
            cursor: pointer;
            font-size: 18px;
            line-height: 21.6px;
            text-decoration: none solid rgb(26, 13, 171);
            zoom: 1;
            &:hover {
                text-decoration: underline;
            }
            word-wrap: break-word;
        }
    }
    .description {
        color: rgb(84, 84, 84);
        font-size: 13px;
        line-height: 18.2px;
        word-wrap: break-word;
        zoom: 1;
    }
    .url {
      color: rgb(0, 102, 33);
      font-size: 13px;
      line-height: 16px;
      white-space: nowrap;
      height: 16px;
    }

  }
}
