.modal-content {
  & > .row {
    margin: {
      left: -.75rem;
      right: -.75rem;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .address {
    margin: 1rem 0;
  }
}

#base-modal {
  @media only screen and (min-width: 1367px) {
    width: 40%;
  }
}

#modal-product-class {
  max-width: 300px;
}
