.search-form {
  input {
    border: none;
    color: $primary-color;
    margin-bottom: 0;
    width: 75%;
    padding-left: 5%;
    &::placeholder {
      color: $primary-color;
    }
    &:focus:not([readonly]), &.valid, &:focus.valid, {
      border: none;
      box-shadow: none;
    }
  }
  button {
    width: 20%;
    padding: 0;
    margin-top: 7px;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}
