{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}

{% block title %}{% trans "Sales" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-sales{% endblock %}

{% block menu_sales_class %}active{% endblock %}

{% block header_extra %}
    <div class="fixed-action-btn">
        <a class="btn-fab btn-floating btn-large waves-effect waves-light teal"
            href="{% url 'dashboard:sale-add' %}" title="{% trans "Add sale" %}">
            <i class="material-icons">add</i>
        </a>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li class="visible-s">{% trans "Sales" %}</li>
    </ul>
{% endblock %}

{% block menu_discounts_class %} active{% endblock %}

{% block content %}
    {% if sales %}
        <div class="card">
            <div class="data-table-container">
                <table class="bordered hoverable responsive data-table">
                    <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Discount" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sale in sales %}
                        <tr>
                            <td>
                                <a href="{% url 'dashboard:sale-update' pk=sale.pk %}">{{ sale }}</a>
                            </td>
                            <td>{{ sale.value }}{{ sale.get_type_display }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include "dashboard/includes/_pagination.html" %}
    {% else %}
        <p>{% trans "No sales found." %}</p>
    {% endif %}
{% endblock %}
