{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Orders</h1>

        <table class="table table-bordered">
            <thead>
                <th>Order number</th>
                <th>Customer</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for order in object_list %}
                    <tr>
                        <td><a href="{% url 'dashboard:order-details' pk=order.pk %}">{{ order.id }}</a></td>
                        <td>{{ order.user|default:"Anonymous" }}</td>
                        <td>{% gross order.get_total %}</td>
                        <td>{{ order.status }}</td>
                        <td>
                            <a href="#">Prepare shipping</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
