{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}{% trans "All orders" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{% trans "Orders" %}</h1>

            <ul class="nav nav-tabs">
                <li {% if not status_filter %}class="active"{% endif %}><a href="{% url 'dashboard:orders' %}">{% trans "All orders" %}</a></li>
                <li {% if status_filter == 'new' %}class="active"{% endif %}><a href="?status=new">{% trans "New orders" %}</a></li>
                <li {% if status_filter == 'fully-paid' %}class="active"{% endif %}><a href="?status=fully-paid">{% trans "Fully paid" %}</a></li>
                <li {% if status_filter == 'payment-pending' %}class="active"{% endif %}><a href="?status=payment-pending">{% trans "Payment pending" %}</a></li>
                <li {% if status_filter == 'shipped' %}class="active"{% endif %}><a href="?status=shipped">{% trans "Shipped" %}</a></li>
                <li {% if status_filter == 'cancelled' %}class="active"{% endif %}><a href="?status=cancelled">{% trans "Cancelled" %}</a></li>
            </ul>

            <table class="table table-bordered">
                <thead>
                    <th>{% trans "Order number" %}</th>
                    <th>{% trans "Customer" %}</th>
                    <th>{% trans "Amount" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Actions" %}</th>
                </thead>
                <tbody>
                {% for order in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'dashboard:order-details' pk=order.pk %}">{{ order.id }}</a>
                        </td>
                        <td>{{ order.user|default:"Anonymous" }}</td>
                        <td>{% gross order.get_total %}</td>
                        <td>{{ order.status }}</td>
                        <td>
                            <a href="#">{% trans "Prepare shipping" %}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
