interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/oembed?scheme=https&format=json&maxheight=1080&maxwidth=1920&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DdQw4w9WgXcQ
  response:
    body:
      string: '{"title":"Rick Astley - Never Gonna Give You Up (Official Music Video)","author_name":"Rick
        Astley","author_url":"https://www.youtube.com/c/RickastleyCoUkOfficial","type":"video","height":1080,"width":1920,"version":"1.0","provider_name":"YouTube","provider_url":"https://www.youtube.com/","thumbnail_height":360,"thumbnail_width":480,"thumbnail_url":"https://i.ytimg.com/vi/dQw4w9WgXcQ/hqdefault.jpg","html":"\u003ciframe
        width=\u00221920\u0022 height=\u00221080\u0022 src=\u0022https://www.youtube.com/embed/dQw4w9WgXcQ?feature=oembed\u0022
        frameborder=\u00220\u0022 allow=\u0022accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture\u0022 allowfullscreen title=\u0022Rick
        Astley - Never Gonna Give You Up (Official Music Video)\u0022\u003e\u003c/iframe\u003e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
