{% extends "order/payment/details.html" %}

{% load as_horizontal_form from bootstrap %}
{% load gross from prices %}
{% load i18n %}

{% block forms %}
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form|as_horizontal_form }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">
                    {% trans "Save changes" %}
                </button>
            </div>
        </div>
    </form>
{% endblock forms %}
