{% extends "order/payment/details.html" %}
{% load as_horizontal_form from bootstrap %}
{% load i18n %}

{% block forms %}
<form method="{{ form.method }}" class="form-horizontal"{% if form.action %} action="{{ form.action }}"{% endif %}>
    {% csrf_token %}
    {{ form.media }}
    {{ form|as_horizontal_form }}
    {% if form.errors %}
    <a class="btn" href="{% url "order:payment:index" token=payment.order.token %}">{% trans "Change payment method" %}</a>
    {% endif %}
</form>
{% endblock forms %}
