{% extends "order/payment/details.html" %}
{% load as_horizontal_form from bootstrap %}
{% load i18n %}

{% block forms %}
<form method="{{ form.method }}" class="form-horizontal"{% if form.action %} action="{{ form.action }}"{% endif %}>
    {% csrf_token %}
    {{ form.media }}
    {{ form|as_horizontal_form }}
    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ form.stripeToken.field.widget.attrs.data_key }}"
        data-image="{{ STATIC_URL }}img/logo.png"
        data-name="Site Name"
        data-description="{{ form.stripeToken.field.widget.attrs.data_description }}"
        data-amount="{{ form.stripeToken.field.widget.attrs.data_amount }}"
        data-currency="{{ form.stripeToken.field.widget.attrs.data_currency }}">
    </script>
    {% if form.errors %}
    <a class="btn" href="{% url "order:details" token=payment.order.token %}">{% trans "Change payment method" %}</a>
    {% endif %}
</form>
{% endblock forms %}
