{% extends "dashboard/base.html" %}
{% load materializecss %}
{% load i18n %}
{% load mptt_tags %}

{% block title %}{{ title }} - {% trans 'Categories' %} - {{ block.super }}{% endblock %}

{% block body_class %}body-categories{% endblock %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
    <form method="post" id="category-form" enctype="multipart/form-data">
        <div class="row">
            <div class="col l8">
                <div class="form-message alert alert-success" hidden="hidden">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    <span class="message-content">{% trans "Data saved" %}</span>
                </div>
                {% csrf_token %}
                {{ form|materializecss }}
            </div>
        </div>
        <div class="row">
            <div class="col l8 right-align">
                {% if category.pk %}
                    <a href="{% url 'dashboard:category-delete' pk=category.pk %}" class="btn btn-flat"><i class="mdi-action-delete"></i> {% trans "Delete" %}</a>
                {% endif %}
                {% if category.pk %}
                    <button type="submit" class="btn"><i class="mdi-content-save"></i> {% trans "Update" %}</button>
                {% else %}
                    <button type="submit" class="btn"><i class="mdi-content-create"></i> {% trans "Create" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}