{% extends "dashboard/base.html" %}
{% load materializecss %}
{% load i18n %}
{% load mptt_tags %}

{% block title %}{{ title }} - {% trans 'Categories' %} - {{ block.super }}{% endblock %}

{% block body_class %}body-categories{% endblock %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
    <form method="post" id="category-form" enctype="multipart/form-data">
        <div class="row">
            <div class="col l8 offset-l2">
                <div class="row">
                    {% csrf_token %}
                    {{ form|materializecss }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 right-align">
                {% if parent_pk %}
                    <a href="{% url 'dashboard:categories' root=parent_pk %}" class="btn-flat"><i class="mdi-content-clear"></i> {% trans "Cancel" %}</a>
{#                {% elif category.pk %}#}
{#                    <a href="{% url 'dashboard:categories' root=category.pk %}" class="btn-flat"><i class="mdi-content-clear"></i> {% trans "Cancel" %}</a>#}
                {% else %}
                    <a href="{% url 'dashboard:categories' %}" class="btn-flat"><i class="mdi-content-clear"></i> {% trans "Cancel" %}</a>
                {% endif %}
                {% if category.pk %}
                    <button type="submit" class="btn"><i class="mdi-content-save"></i> {% trans "Update" %}</button>
                {% else %}
                    <button type="submit" class="btn"><i class="mdi-content-create"></i> {% trans "Create" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}