{% extends "dashboard/base.html" %}
{% load i18n %}
{% load mptt_tags %}

{% block title %}{% trans "Categories" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-categories{% endblock %}

{% block page_title %}{% trans "Categories" %}{% if current_node %}: {{ current_node }}{% endif %}{% endblock %}

{% block header_extra %}
    <a class="btn-fab btn-floating btn-large waves-effect waves-light teal" title="{% trans "Add category" %}"
       href="{% if root %}{% url 'dashboard:category-add' root_pk=root.pk %}{% else %}{% url 'dashboard:category-add' %}{% endif %}">
        <i class="mdi-content-add"></i>
    </a>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--with-menu">
        <li>{% if path %}<a href="{% url 'dashboard:category-list' %}">{% trans "Categories" %}</a>{% else %}{% trans "Categories" %}{% endif %}</li>
        {% if path %}
            {% for node in path %}
                {% if forloop.last %}
                    <li>{{ node.name }}</li>
                {% else %}
                    <li><a href="{% url 'dashboard:category-list' root_pk=node.pk %}">{{ node.name }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <ul class="collection category-list">
                {% if categories %}
                    {% for node in categories %}
                        <li class="collection-item category-list-item">
                            <a href="{% url 'dashboard:category-list' root_pk=node.pk %}">{{ node.name }}</a>
                            {% if node.hidden %}<span class="grey-text"> hidden</span>{% endif %}
                            <div class="right category-list-item-actions">
                                <a href="{% url 'dashboard:category-add' root_pk=node.pk %}" title="{% trans "Add child" %}">
                                    <i class="mdi-content-add teal-text"></i>
                                </a>
                                <a href="{% url 'dashboard:category-update' pk=node.pk %}" title="{% trans "Edit category" %}"><i class="mdi-content-create light-blue-text lighten-2"></i></a>
                                <a href="{% url 'dashboard:category-delete' pk=node.pk %}" title="{% trans "Delete category" %}">
                                    <i class="mdi-action-delete materialize-red-text"></i>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>{% trans "No subcategories" %}</p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
