{% extends "dashboard/base.html" %}
{% load i18n %}
{% load mptt_tags %}

{% block title %}{% trans "Categories" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-categories{% endblock %}

{% block page_title %}{% trans "Categories" %}{% endblock %}

{% block header_extra %}
    <a class="btn-fab btn-floating btn-large waves-effect waves-light teal"
       href="{% url 'dashboard:category-add' %}">
        <i class="mdi-content-add"></i>
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{% trans "Categories" %}{% if current_node.parent %}: {{ current_node.parent }}{% endif %}</h1>

            {% if current_node %}
                <h6>
                    <a href="{% url 'dashboard:categories' %}">Root</a>
                    {% for item in category_breadcrumbs %}
                        {% if forloop.last %}
                            <span> / {{ item.name }}</span>
                        {% else %}
                            <span> / <a href="{% url 'dashboard:categories' pk=item.pk %}">{{ item.name }}</a></span>
                        {% endif %}
                    {% endfor %}
                </h6>
            {% endif %}

            <a class="btn btn-default" href="{% if current_node.parent %}{% url 'dashboard:category-add' parent_pk=current_node.parent.pk %}{% else %}{% url 'dashboard:category-add' %}{% endif %}">{% trans 'Add category' %}</a>
            <ul class="category-list">
                {% recursetree categories %}
                    <li>
                        {% if node.level > min_level %}<a href="{% url 'dashboard:categories' pk=node.pk %}">{{ node.name }}</a>{% else %}{{ node.name }}{% endif %}
                        <small><a href="{% url 'dashboard:category-update' pk=node.pk %}">Edit</a></small>
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </div>
    </div>
{% endblock %}
