{% extends "dashboard/base.html" %}
{% load i18n %}
{% load mptt_tags %}

{% block title %}{% trans "Categories" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-categories{% endblock %}

{% block page_title %}{% trans "Categories" %}{% if current_node %}: {{ current_node }}{% endif %}{% endblock %}

{% block header_extra %}
    <a class="btn-fab btn-floating btn-large waves-effect waves-light teal" title="{% trans "Add category" %}"
       href="{% if current_node %}{% url 'dashboard:category-add' parent_pk=current_node.pk %}{% else %}{% url 'dashboard:category-add' %}{% endif %}">
        <i class="mdi-content-add"></i>
    </a>
{% endblock %}

{% block content %}
            <div class="row">
                <div class="col s12">
                    {% for item in category_breadcrumbs %}
                        {% if forloop.last %}
                            <span>{% if not forloop.first %} / {% endif %}{{ item.name }}</span>
                        {% else %}
                            <span>{% if not forloop.first %} / {% endif %}<a href="{% url 'dashboard:categories' root=item.pk %}">{{ item.name }}</a></span>
                        {% endif %}
                    {% endfor %}

                    <ul class="collection category-list">
                        {% recursetree categories %}
                            <li class="collection-item category-list-item">
                                {% if node.level == min_level %}<a href="{% url 'dashboard:categories' root=node.pk %}">{{ node.name }}</a>{% else %}{{ node.name }}{% endif %}

                                <div class="right category-list-item-actions">
                                    <a href="{% url 'dashboard:category-add' parent_pk=node.pk %}" title="{% trans "Add child" %}">
                                        <i class="mdi-content-add teal-text"></i>
                                    </a>
                                    <a href="{% url 'dashboard:category-update' pk=node.pk %}" title="{% trans "Edit category" %}">
                                        <i class="mdi-content-create light-blue-text lighten-2"></i>
                                    </a>
                                    <a href="{% url 'dashboard:category-delete' pk=node.pk %}" title="{% trans "Delete category" %}">
                                        <i class="mdi-action-delete materialize-red-text"></i>
                                    </a>
                                </div>
                            </li>
                            {% if not node.is_leaf_node %}
                                {{ children }}
                            {% endif %}
                        {% endrecursetree %}
                    </ul>
                </div>
            </div>
{% endblock %}{% if current_node %}: {{ current_node }}{% endif %}
