#home {
  & section {
    &.hero {
      position: relative;
      margin-bottom: calc(var(--spacer) * 6);
      & .bg-container {
        width: 100%;
        position: absolute;
        top: 5%;
        left: 14%;
        & svg {
          max-height: 860px;
          @media (max-width: 1680px) {
            max-height: 750px;
          }
          @media (max-width: 1440px) {
            max-height: 610px;
          }
        }
        @media (min-width: 2500px) {
          top: 5%;
        }
        @media (max-width: 1024px) {
          top: 5%;
          left: 0;
        }
        @media (max-width: 768px) {
          width: 130%;
          left: -25%;
        }
        @media (max-width: 450px) {
          width: 240%;
          left: -100%;
          top: -13%;
        }
      }
      & .plane {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        z-index: 2;
        @media (max-width: 1440px) {
          width: 55%;
        }
        @media (max-width: 1024px) {
          width: 60%;
        }
        @media (max-width: 768px) {
          width: 100%;
        }
        @media (max-width: 450px) {
          width: auto;
          position: absolute;
          left: var(--spacer);
          top: 50%;
          transform: translateY(-50%);
        }
        & .news {
          position: relative;
          top: calc(var(--spacer) * -4);
          opacity: 1;
          & strong {
            font-weight: 500;
          }
          @media (max-width: 768px) {
            top: calc(var(--spacer) * -6);
          }
          & .label {
            display: inline-block;
            opacity: 0.6;
            border: solid 1px var(--primaryColor);
            transform: skew(45deg);
            text-align: center;
            color: var(--background-color);
            padding-top: calc(var(--spacer) * 0.1);
            & span {
              display: block;
              transform: skew(-45deg);
              color: var(--body-color);
              padding: 0 calc(var(--spacer) * 2);
            }
          }
          & .content {
            width: 80%;
            @media (max-width: 768px) {
              width: 70%;
            }
            display: inline-block;
            padding: calc(var(--spacer) * 0.1) 0 0 0;
            & a {
              color: var(--body-color);
              padding-left: calc(var(--spacer) * 2);
            }
          }
          @media (max-width: 450px) {
            display: none;
          }
        }
        & h1 {
          padding-bottom: calc(var(--spacer) * 3);
          @media (max-width: 768px) {
            font-size: calc(var(--font-size-base) * 2.5);
          }
          @media (max-width: 570px) {
            font-size: calc(var(--font-size-base) * 2.5);
            padding-bottom: calc(var(--spacer) * 2);
          }
          @media (max-width: 450px) {
            padding: 0 0 var(--spacer) 0;
          }
        }
        & .btn {
          margin: 0 calc(var(--spacer) * 1.5);
          font-size: calc(var(--font-size-base) * 1.2);
          padding: calc(var(--spacer) / 1.5) calc(var(--spacer) * 5.5);
          @media (max-width: 1220px) {
            padding: calc(var(--spacer) / 1.5) calc(var(--spacer) * 3);
          }
          @media (max-width: 570px) {
            font-size: var(--font-size-base);
          }
          @media (max-width: 450px) {
            display: block;
            margin: var(--spacer) calc(var(--spacer) * 3) var(--spacer) calc(var(--spacer) * 2);
            text-align: center;
          }
          &.btn-primary {
            @media (max-width: 450px) {
              padding: calc(var(--spacer) / 1.5) 0;
            }
            @media (max-width: 320px) {
              padding: calc(var(--spacer) / 1.5) calc(var(--spacer) * 2);
            }
          }
          &.btn-secondary {
            @media (max-width: 450px) {
              padding: calc(var(--spacer) / 1.5) 0;
            }
            @media (max-width: 320px) {
              padding: calc(var(--spacer) / 2) calc(var(--spacer) * 2);
            }
          }
        }
      }
      & .scroll-link {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 98;
        bottom: calc(var(--spacer) * 7);
        @media (min-width: 2500px) {
          bottom: calc(var(--spacer) * 20);
        }
         @media (max-width: 1680px) {
          bottom: calc(var(--spacer) * 4);
        }
        @media (max-width: 1440px) {
          bottom: calc(var(--spacer) * 5);
        }
        @media (max-width: 1024px) {
          bottom: calc(var(--spacer) * 4);
        }
        @media (max-width: 768px) {
          bottom: calc(var(--spacer) * 4);
        }
        @media (max-width: 768px) {
          bottom: 0;
        }
        @media (max-width: 320px) {
          bottom: calc(var(--spacer) * -3);
        }
      }
    }
    &.features {
      position: relative;
      top: calc(var(--spacer) * -6);
      @media (max-width: 450px) {
        top: 0;
      }
      & .grid {
        padding: 0 calc(var(--spacer) * 5);
        width: calc(100% - calc(var(--spacer) * 3));
        @media (max-width: 768px) {
          width: 100%;
        }
        @media (max-width: 450px) {
          width: 100%;
        }
      }
      & .section-container {
        padding: calc(var(--spacer) * 4) calc(var(--spacer) * 10);
        @media (max-width: 1440px) {
          padding: calc(var(--spacer) * 4) calc(var(--spacer) * 10) calc(var(--spacer) * 0) calc(var(--spacer) * 10);
        }
        @media (max-width: 1024px) {
          padding: 0 calc(var(--spacer) * 4) calc(var(--spacer) * 0) calc(var(--spacer) * 4);
        }
        @media (max-width: 450px) {
          padding: 0;
        }
      }
      & .icons {
        @media (max-width: 1024px) {
          width: calc(100% - calc(var(--spacer) * 4));
          padding: 0 calc(var(--spacer) * 2) calc(var(--spacer) * 2) calc(var(--spacer) * 2);
        }
        @media (max-width: 450px) {
          display: none;
        }
        & .image {
          width: 60%;
          height: 400px;
          background-size: 100%;
          background-repeat: no-repeat;
          position: relative;
          transition: opacity 1s ease, top 1s ease;
          & div[aria-label="animation"] {
            height: auto !important;
          }
          &.visible {
            opacity: 1;
            top: 0;
          }
          @media (min-width: 2500px) {
            height: 420px;
          }
          @media (max-width: 1440px) {
            height: 300px;
          }
          @media (max-width: 1024px) {
            height: 230px;
          }
          @media (max-width: 768px) {
            height: 300px;
          }
          & h3 {
            position: absolute;
            bottom: calc(var(--spacer));
            left: calc(var(--spacer) * -3);
            font-size: calc(var(--font-size-base) * 2.5);
            @media (max-width: 1440px) {
              font-size: calc(var(--font-size-base) * 2);
            }
            @media (max-width: 1024px) {
              font-size: calc(var(--font-size-base) * 1.5);
            }
            @media (max-width: 768px) {
              bottom: calc(var(--spacer) * 1);
            }
          }
        }
        /* & .software-stack {
          & .image {
            background-image: url('../../images/modern-stack.svg');
          }
        }
        & .build-to-scale {
          & .image {
            background-image: url('../../images/build-to-scale.svg');
          }
        }
        & .easy-to-customize {
          & .image {
            background-image: url('../../images/easy-to-customize.svg');
          }
        }
        & .user-experience {
          & .image {
            background-image: url('../../images/great-experience.svg');
          }
        } */
      }
      & img {
        margin-bottom: var(--spacer);
        padding: var(--spacer) 0;
        @media (max-width: 450px) {
          padding-top: calc(var(--spacer) * 2);
        }
      }
      & h3 {
        color: var(--primaryColor);
        text-transform: uppercase;
        position: relative;
        padding-left: calc(var(--spacer) * 5);
        font-weight: var(--font-weight-lighter);
        & span {
          position: absolute;
          top: 0;
          transform: translateY(-50%);
          left: calc(var(--spacer) * 3);
          color: var(--body-color);
          font-size: calc(var(--font-size-base) * 1.2);
          text-align: right;
          @media (max-width: 768px) {
            transform: translateY(-65%);
            font-size: calc(var(--font-size-base) * 1.5);
          }
          @media (max-width: 450px) {
            left: calc(var(--spacer) * 0.5);
          }
        }
        @media (max-width: 1024px) {
          font-size: calc(var(--font-size-base) * 1.5);
        }
        @media (max-width: 768px) {
          font-size: calc(var(--font-size-base) * 2);
        }
        @media (max-width: 700px) {
          font-size: calc(var(--font-size-base) * 1.5);
        }
        @media (max-width: 450px) {
          padding-left: calc(var(--spacer) * 2);
          font-size: calc(var(--font-size-base) * 1.5);
          font-size: var(--font-size-base);
          & span {
            font-size: inherit;
          }
        }
      }
      & .feature-item {
        padding: calc(var(--spacer) * 3) 0;
        @media (max-width: 1440px) {
          padding: calc(var(--spacer) * 2) 0;
        }
        @media (max-width: 1024px) {
          padding: calc(var(--spacer) * 3) 0;
        }
        @media (max-width: 450px) {
          padding: calc(var(--spacer) * 3) 0 calc(var(--spacer) * 2) 0;
        }
        position: relative;
        & .text {
          padding: calc(var(--spacer) * 5) 0;
          @media (max-width: 1024px) {
            padding: 0;
          }
          @media (max-width: 450px) {
            z-index: 22;
            @media (max-width: 450px) {
              padding: 0 var(--spacer);
            }
          }
          & h2 {
            position: relative;
            margin-bottom: var(--spacer);
            color: var(--primaryColor);
            font-size: var(--font-size-base);
            @media (max-width: 768px) {
              margin-bottom: var(--spacer);
              & span {
                left: calc(var(--spacer) * -1.8);
              }
            }
            @media (max-width: 570px) {
              font-size: calc(var(--font-size-base));
              font-weight: var(--font-weight-normal);
              & span {
                font-size: calc(var(--font-size-base));
              }
            }
          }
          & p {
            font-size: var(--font-size-base);
            font-weight: var(--font-weight-light);
            margin-bottom: var(--spacer);
            @media (max-width: 1024px) {
              font-size: var(--font-size-base);
            }
            @media (max-width: 768px) {
              margin-bottom: var(--spacer);
            }
            &:first-of-type {
              font-weight: var(--font-weight-medium);
              font-size: calc(var(--font-size-base) * 3);
              line-height: var(--headings-line-height);
              @media (max-width: 1440px) {
                font-size: calc(var(--font-size-base) * 2);
              }
              @media (max-width: 768px) {
                width: 100%;
              }
              @media (max-width: 450px) {
                font-size: calc(var(--font-size-base) * 2.5);
              }
            }
            &.text-light {
              width: 80%;
              @media (max-width: 1440px) {
                width: 100%;
              }
            }
          }
        }
        & .image {
          background-repeat: no-repeat;
          background-position: 50% 50%;
          @media (max-width: 450px) {
            width: 100%;
            height: 100%;
            position: absolute;
            grid-row: 1;
            opacity: 0.5 !important;
            z-index: 1;
          }
        }
        &.software-stack {
          position: relative;
          & .image {
            background-image: url('../../images/stack-icons.svg');
            background-size: 120%;
            background-position: -20%;
            position: relative;
            z-index: 9;
            @media (max-width: 768px) {
              background-size: 140%;
              background-position: 10% 50%;
            }
            @media (max-width: 700px) {
              background-position: -50% 50%;
            }
            @media (max-width: 450px) {
              background-image: url('../../images/modern-stack.svg');
              background-position: 30% 60%;
              background-size: 170%;
              position: absolute;
              top: calc(var(--spacer) * -3);
            }
          }
          @media (max-width: 768px) {
            & h2 {
              & br { display: none; }
              & span {
                & br { display: block; }
              }
            }
          }
        }
        &.build-to-scale {
          & .image {
            & svg {
              width: 80% !important;
              padding-left: 10%;
            }
            @media (max-width: 450px) {
              & svg {
                display: none;
              }
              background-image: url('../../images/build-to-scale.svg');
              background-position: -70% 40%;
              background-size: 110%;
            }
          }
        }
        &.easy-to-customize {
          & .image {
            & svg {
              width: 80% !important;
              padding-right: 10%;
            }
            @media (max-width: 450px) {
              & svg {
                display: none;
              }
              background-image: url('../../images/easy-to-customize.svg');
              background-position: -60% 70%;
              background-size: 120%;
            }
          }
        }
        &.user-experience {
          padding: calc(var(--spacer) * 3) 0 calc(var(--spacer) * 2) 0;
          height: auto;
          & .text {
            width: 65%;
            padding: 0;
            @media (max-width: 1024px) {
              width: 100%;
            }
            @media (max-width: 450px) {
              width: calc(100% - calc(var(--spacer) * 2));
              padding: 0 var(--spacer);
            }
            & h2 {
              margin-bottom: 0;
              font-size: var(--font-size-base);
              margin-bottom: var(--spacer);
              & span {
                left: calc(var(--spacer) * 4.5);
                @media (max-width: 1024px) {
                  left: calc(var(--spacer) * -1);
                }
                @media (max-width: 450px) {
                  left: calc(var(--spacer) * -2);
                }
              }
            }
            & h4 {
              padding: calc(var(--spacer) * 1.5) calc(var(--spacer) * 5);
              margin: 0 auto;
              font-size: var(--font-size-base);
              font-weight: var(--font-weight-light);
              letter-spacing: 2px;
              @media (max-width: 450px) {
                padding: 0;
                text-align: left;
                font-size: calc(var(--font-size-base) * 1.2);
                padding-top: var(--spacer);
                
              }
            }
          }
          & .storefront {
            padding: calc(var(--spacer) * 2) 0;
            padding-right: calc(var(--spacer) * 7);
            @media (max-width: 1440px) {
              padding-right: calc(var(--spacer) * 3);
            }
            @media (max-width: 1024px) {
              padding-right: var(--spacer);
            }
            & img {
              padding-bottom: calc(var(--spacer) * 1.5);
            }
            @media (max-width: 450px) {
              padding-right: 0;
              & img {
                max-width: 120%;
                position: relative;
                left: -20%;
              }
            }
            & h2 {
              color: var(--primaryColor);
              font-size: var(--font-size-base);
              @media (max-width: 450px) {
                padding: 0 var(--spacer);
              }
            }
            & p {
              width: 80%;
              font-weight: var(--font-weight-medium);
              font-size: calc(var(--spacer) * 1.2);
              padding-top: var(--spacer);
              @media (max-width: 1440px) {
                width: 90%;
                font-size: var(--spacer);
              }
              @media (max-width: 450px) {
                padding: var(--spacer) var(--spacer) 0 var(--spacer);
              }
              &.text-light {
                font-weight: 200;
                font-size: var(--spacer);
              }
            }
            & a {
              display: block;
              color: var(--body-color);
              padding-top: var(--spacer);
              text-decoration: underline;
              transition: color 0.5s ease;
              &:hover {
                color: var(--primaryColor);
              }
              @media (max-width: 450px) {
                padding-left: var(--spacer);
              }
            }
          }
          & .dashboard {
            padding: calc(var(--spacer) * 2) 0;
            padding-left: calc(var(--spacer) * 7);
            @media (max-width: 1440px) {
              padding-left: var(--spacer);
            }
            @media (max-width: 1024px) {
              padding-left: 0;
            }
            & img {
              @media (max-width: 450px) {
                 max-width: 110%;
              }
            }
            & h2 {
              color: var(--primaryColor);
              font-size: var(--font-size-base);
              @media (max-width: 450px) {
                padding: 0 var(--spacer);
              }
            }
            & p {
              font-weight: var(--font-weight-medium);
              font-size: calc(var(--spacer) * 1.2);
              padding-top: var(--spacer);
              @media (max-width: 1440px) {
                width: 90%;
                font-size: var(--spacer);
              }
              @media (max-width: 450px) {
                padding: var(--spacer) var(--spacer) 0 var(--spacer);
              }
              &.text-light {
                font-weight: var(--font-weight-lighter);
                font-size: var(--spacer);
              }
            }
            & a {
              display: block;
              color: var(--body-color);
              padding-top: var(--spacer);
              text-decoration: underline;
              transition: color 0.5s ease;
              &:hover {
                color: var(--primaryColor);
              }
              @media (max-width: 450px) {
                padding-left: var(--spacer);
              }
            }
          }
        }
        & .more-btn {
          margin: calc(var(--spacer) * 4) auto 0 auto;
          text-align: center;
          & .btn {
            padding: calc(var(--spacer) / 1.5) calc(var(--spacer) * 6);
          }
          @media (max-width: 450px) {
            margin: 0 auto calc(var(--spacer) * 2) auto;
            & .btn {
              margin: calc(var(--spacer) * 2) calc(var(--spacer) * 2) calc(var(--spacer) * 2) calc(var(--spacer) * 2);
              padding: calc(var(--spacer) / 1.5) calc(var(--spacer) * 3);
            }
          }
        }
      }
    }
    
    &.open-source {
      position: relative;
      padding: calc(var(--spacer) * 3) 0;
      @media (max-width: 767px) {
        height: 100%;
        padding-bottom: calc(var(--spacer) * 10);
      }
      @media (max-width: 450px) {
        height: 100%;
        padding-bottom: calc(var(--spacer) * 17);
      }
      & .section-container {
        padding: 0 calc(var(--spacer) * 10) calc(var(--spacer) * 10) calc(var(--spacer) * 10);
        @media (max-width: 1440px) {
          padding: 0 calc(var(--spacer) * 10) calc(var(--spacer) * 6) calc(var(--spacer) * 10);
        }
        @media (max-width: 1024px) {
          padding: 0 calc(var(--spacer) * 4) calc(var(--spacer) * 10) calc(var(--spacer) * 4);
        }
        @media (max-width: 450px) {
          padding: 0 var(--spacer);
        }
      }
      & .text {
        position: relative;
        z-index: 2;
        & h2 {
          color: var(--primaryColor);
          font-size: var(--font-size-base);
          margin-bottom: var(--spacer);
        }
        & p {
          font-size: calc(var(--font-size-base) * 3);
          font-weight: var(--font-weight-medium);
          line-height: var(--headings-line-height);
          @media (max-width: 1440px) {
            font-size: calc(var(--font-size-base) * 2);
          }
          @media (max-width: 450px) {
            font-size: calc(var(--font-size-base) * 2.5);
            line-height: 1.4;
          }
        }
        & .text-light {
          width: 80%;
          @media (max-width: 450px) {
            width: 100%;
          }
          font-size: calc(var(--font-size-base) * 1);
          font-weight: var(--font-weight-light);
          margin-top: calc(var(--spacer) * 2);
          line-height: calc(var(--headings-line-height) + 0.4);
        }
        & p {
          & strong {
            display: block;
            padding: calc(var(--spacer) * 1.5) 0;
          }
        }
        & .numbers {
          padding: calc(var(--spacer) * 3) 0;
          @media (max-width: 700px) {
            text-align: center;
          }
          & .number {
            @media (max-width: 700px) {
              grid-column: span 12;
            }
            @media (max-width: 450px) {
              padding: var(--spacer) 0;
            }
          }
          & span {
            color: var(--body-color);
            text-transform: uppercase;
            font-size: calc(var(--font-size-base) * 1.5);
            @media (max-width: 1300px) {
              font-size: calc(var(--font-size-base) * 1.2);
            }
            &.count {
              font-size: calc(var(--font-size-base) * 3);
              font-weight: var(--font-weight-medium);
              @media (max-width: 700px) {
                font-size: calc(var(--font-size-base) * 3);
              }
            }
            &.separator {
              width: 3rem;
              display: block;
              border-bottom: solid 1px var(--primaryColor);
              margin: calc(var(--spacer) / 2) 0 calc(var(--spacer) * 0.8) 0;
              @media (max-width: 700px) {
                margin: calc(var(--spacer) / 2) auto calc(var(--spacer) * 0.8) auto;
              }
            }
          }
        }
      }
      & .image {
        width: 700px;
        height: 700px;
        position: absolute;
        background-image: url('../../images/pirate.svg');
        background-repeat: no-repeat;
        background-size: contain;
        left: 50%;
        top: -15%;
        z-index: 1;
        @media (max-width: 1200px) {
          width: 600px;
          height: 600px;
        }
        @media (max-width: 991px) {
          display: none;
        }
        & .githubLink {
          position: absolute;
          color: var(--body-color);
          text-align: center;
          text-decoration: none;
          z-index: 2;
          & .star-icon {
            position: relative;
            top: 7.5rem;
            & svg { width: 30px !important; height: 30px !important; }
          }
          & .github-icon {
            position: relative;
            top: 2.5rem;
            & svg { width: 30px !important; height: 30px !important; }
          }
          & .star-value {
            font-size: 3rem;
            line-height: 1;
          }
          top: 21%;
          left: 38%;
          @media (max-width: 1200px) {
            top: 17%;
            left: 37%;
          }
        }
      }
      & .community-links {
        & h5 {
          font-size: calc(var(--font-size-base) * 1.5);
          padding: calc(var(--spacer) * 2) 0;
          @media (max-width: 768px) {
            padding: var(--spacer);
          }
          @media (max-width: 700px) {
            text-align: center;
            font-size: calc(var(--font-size-base) * 1.2);
            padding: calc(var(--spacer) * 2) 0 0 0;
          }
        }
        & .btn {
          font-size: var(--font-size);
          padding: calc(var(--spacer) / 1.5) calc(var(--spacer) * 2);
          margin: 0 calc(var(--spacer) * 1.5);
          @media (max-width: 750px) {
            text-align: center;
            margin-top: calc(var(--spacer) * 1.5);
          }
        }
        & .buttons {
          width: 40%;
          float: left;
          @media (max-width: 1820px) {
            width: 45%;
          }
          @media (max-width: 1670px) {
            width: 60%;
          }
          @media (max-width: 1350px) {
            width: 65%;
          }
          @media (max-width: 1280px) {
            width: 100%;
          }
          @media (max-width: 768px) {
            width: 50%;
            & a {
              margin-top: var(--spacer);
            }
          }
          @media (max-width: 700px) {
            width: 100%;
            text-align: center;
          }
        }
        & .icons {
          width: 60%;
          float: left;
          & svg {
            fill: var(--body-color);
          }
          @media (max-width: 1820px) {
            width: 55%;
          }
          @media (max-width: 1670px) {
            width: 40%;
          }
          @media (max-width: 1350px) {
            width: 35%;
          }
          @media (max-width: 1280px) {
            width: 100%;
            text-align: center;
            padding-top: calc(var(--spacer) * 2);
          }
          @media (max-width: 768px) {
            width: 50%;
          }
          @media (max-width: 700px) {
            width: 100%;
            text-align: center;
            padding-top: calc(var(--spacer) * 2);
          }
          & a {
            display: inline-block;
            padding: 0 calc(var(--spacer) / 2);
            @media (max-width: 1024px) {
              padding: 0 calc(var(--spacer) / 3);
            }
          }
        }
      }
    }
    &.saleor-in-action {
      position: relative;
      background: rgb(16,10,53);
      background: linear-gradient(135deg, rgba(16,10,53,0) 4%, rgba(16,10,53,1) 4%, rgba(16,10,53,1) 96%, rgba(16,10,53,0) 96%, rgba(16,10,53,0) 100%);
      @media (max-width: 450px) {
        background: linear-gradient(135deg, rgba(16,10,53,0) 4%, rgba(16,10,53,1) 4%, rgba(16,10,53,1) 96%, rgba(16,10,53,0) 96%, rgba(16,10,53,0) 100%);
      }
      & .section-container {
        padding: calc(var(--spacer) * 4) calc(var(--spacer) * 10);
        min-height: 700px;
        @media (max-width: 1024px) {
          padding: calc(var(--spacer) * 4);
        }
        @media (max-width: 450px) {
          padding: calc(var(--spacer) * 2);
        }
      }
      & .head {
        padding-top: calc(var(--spacer) * 5);
        margin-bottom: calc(var(--spacer) * 4);
        @media (max-width: 450px) {
          padding-top: var(--spacer);
          margin-bottom: 0;
        }
        & h2 {
          &.tab-1 { color: var(--body-color); }
          &.tab-1 { color: var(--body-color); }
          font-weight: var(--font-weight-medium);
          text-transform: initial;
          padding-top: calc(var(--spacer) * 1.5);
          padding-bottom: calc(var(--spacer) * 2);
          @media (max-width: 768px) {
            padding-bottom: calc(var(--spacer) * 2);
          }
          @media (max-width: 450px) {
            font-size: calc(var(--font-size-base) * 2);
          }
        }
        & ul {
          width: 35%;
          padding-top: var(--spacer);
          border-bottom: solid 2px var(--colorGray);
          padding-bottom: 5px;
          position: relative;
          & .border-skew {
            width: 150px;
            height: 9px;
            background: var(--primaryColor);
            position: absolute;
            left: 4px;
            bottom: -5px;
            transform: skew(-45deg);
            display: none;
          }
          & li {
            font-size: calc(var(--font-size-base) * 1.5);
            padding-left: calc(var(--spacer) / 2);
            position: relative;
            &:nth-child(2) {
              text-align: right;
              padding-right: calc(var(--spacer) / 2);
              & .border-skew {
                width: 210px;
                left: initial;
                right: -5px;
              }
            }
            text-transform: uppercase;
            cursor: pointer;
            &.react-tabs__tab--selected {
              & .border-skew {
                display: block;
              }
            }
          }
          @media (min-width: 2500px) {
            width: 30%;
          }
          @media (max-width: 1920px) {
            width: 30%;
          }
          @media (max-width: 1440px) {
            width: 40%;
          }
          @media (max-width: 1024px) {
            width: 50%;
          }
          @media (max-width: 768px) {
            width: 70%;
          }
          @media (max-width: 450px) {
            width: 100%;
            margin-bottom: calc(var(--spacer) * 2);
            & .border-skew {
              width: 100px;
              height: 5px;
            }
            & li {
              font-size: 1rem;
              &:nth-child(2) {
                & .border-skew {
                  width: 150px;
                }
              }
            }
          }
        }
      }
      & .case-study {
        & .pg-logo {
          width: 65%;
          position: relative;
          top: calc(var(--spacer) * -2);
        }
        & .pg-quote {
          padding: calc(var(--spacer) * 0) 0 0 calc(var(--spacer) * 8);
          @media (max-width: 1440px) {
            padding: calc(var(--spacer) * 2) 0 0 calc(var(--spacer) * 3);
          }
          @media (max-width: 1024px) {
            padding: calc(var(--spacer) * 2) 0 0 calc(var(--spacer) * 3);
          }
          @media (max-width: 768px) {
            padding: calc(var(--spacer) * 2) 0 0 calc(var(--spacer));
          }
          & p {
            font-size: calc(var(--font-size-base) * 1.3);
            font-style: italic;
            @media (max-width: 450px) {
              font-size: var(--font-size-base);
            }
          }
          & .author {
            padding-bottom: calc(var(--spacer) * 4);
            & img {
              width: 70px;
              @media (max-width: 450px) {
                width: 45px;
              }
              display: inline-block;
              position: relative;
              top: var(--spacer);
            }
            & h5 {
              display: inline-block;
              padding-left: var(--spacer);
              text-transform: uppercase;
              line-height: 1.5;
              @media (max-width: 450px) {
                font-size: calc(var(--font-size-base) * 0.8);
              }
              @media (max-width: 320px) {
                display: block;
                padding-left: 0;
                padding-top: calc(var(--spacer) * 1.5);
              }
            }
          }
          & .btn {
            margin-left: calc(var(--spacer) * 2);
          }
          @media (max-width: 450px) {
            & .btn {
              padding: calc(var(--spacer) / 1.5) calc(var(--spacer) * 4)
            }
          }
        }
      }
      & .implementation {
        & .grid {
          grid-gap: calc(var(--spacer) * 5);
          @media (max-width: 1024px) {
            grid-gap: calc(var(--spacer));
          }
          & img {
            margin-bottom: calc(var(--spacer) * 2);
          }
          @media (max-width: 768px) {
            & .text-center {
              margin-bottom: calc(var(--spacer) * 2);
            }
          }
          & .item {
            & .logo {
              padding-top: var(--spacer);
              @media (max-width: 450px) {
                padding-top: calc(var(--spacer) / 2);
                & svg {
                  width: 80%;
                }
              }
            }
            & .link {
              display: none;
              @media (max-width: 450px) {
                display: block;
                text-align: center;
                & a {
                  text-transform: uppercase;
                  position: relative;
                  top: 1rem;
                }
              }
            }
            & .imageLayer {
              position: relative;
              z-index: 1;
              padding-top: 58%;
              background-size: contain;
              background-repeat: no-repeat;
              transition: opacity 0.5s ease;
              &::after {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 999;
                content: "";
                top: 0;
                background: rgba(0,0,0,0.5);
                opacity: 0;
                transition: opacity 0.5s ease;
              }
              & .hoverLayer {
                width: 100%;
                height: 100%;
                top: 0;
                position: absolute;
                transition: opacity 0.5s ease;
                opacity: 0;
                z-index: 9999;
                & a {
                  width: 100%;
                  height: 100%;
                  display: block;
                  z-index: 9;
                  color: var(--body-color);
                  text-transform: uppercase;
                  font-size: 2rem;
                  text-decoration: none;
                  transition: opacity 0.5s ease;
                  & span {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    transition: opacity 0.5s ease;
                    z-index: 9;
                  }
                }
                @media (max-width: 450px) {
                  display: none;
                }
              }
              &:hover {
                &::after {
                  opacity: 1;
                }
                @media (max-width: 450px) {
                  &::after {
                    width: 0;
                    height: 0;
                  }
                }
                & .hoverLayer {
                  opacity: 1;
                }
              }
            }
            &.roomLab {
              width: 100%;
              & .imageLayer {
                background-image: image-set(
                  url('../../images/implementation-roomLab.jpg') 1x,
                  url('../../images/implementation-roomLab-2x.jpg') 2x,
                  url('../../images/implementation-roomLab-3x.jpg') 3x
                );
              }
            }
            &.patchGarden {
              & .imageLayer {
                background-image: image-set(
                  url('../../images/implementation-patchGarden.jpg') 1x,
                  url('../../images/implementation-patchGarden-2x.jpg') 2x,
                  url('../../images/implementation-patchGarden-3x.jpg') 3x
                );
              }
              @media (max-width: 450px) {
                & .logo {
                  & svg {
                    width: 100%;
                    position: relative;
                    top: -0.7rem;
                  }
                }
                width: 100%;
                padding-top: calc(var(--spacer) * 2);
              }
            }
            position: relative;
          }
        }
      }
    }
    &.enterprice-consulting {
      position: relative;
      z-index: 1;
      padding: calc(var(--spacer) * 4) 0 calc(var(--spacer) * 2) 0;
      @media (max-width: 450px) {
        padding: calc(var(--spacer) * 4) 0 0 0;
      }
      & .section-container {
        padding: calc(var(--spacer) * 4) calc(var(--spacer) * 10);
        @media (max-width: 1024px) {
          padding: calc(var(--spacer) * 4) calc(var(--spacer) * 4) calc(var(--spacer) * 0) calc(var(--spacer) * 4);
        }
        @media (max-width: 450px) {
          padding: calc(var(--spacer) * 2) calc(var(--spacer) * 1) calc(var(--spacer) * 0) calc(var(--spacer) * 1);
        }
      }
      & h2 {
          color: var(--primaryColor);
          font-size: var(--font-size-base);
          margin-bottom: var(--spacer);
        }
      & h4 {
        font-weight: var(--font-weight-medium);
        width: 65%;
        font-size: calc(var(--font-size-base) * 3);
        @media (max-width: 1440px) {
          font-size: calc(var(--font-size-base) * 2);
        }
        text-transform: unset;
        @media (max-width: 1024px) {
          font-size: calc(var(--font-size-base) * 2);
        }
        @media (max-width: 1024px) {
          font-size: calc(var(--font-size-base) * 1.5);
        }
        @media (max-width: 450px) {
          width: 100%;
          font-size: calc(var(--font-size-base) * 2.5);
        }
      }
      & .list {
        padding: calc(var(--spacer) * 2.5) 0;
        @media (max-width: 1024px) {
          grid-gap: var(--spacer);
        }
        @media (max-width: 450px) {
          padding: calc(var(--spacer) * 2) 0;
          & .list-item {
            position: relative;
            top: calc(var(--spacer) * -1);
          }
        }
        & ul {
          margin-left: calc(var(--spacer) * 3);
          & li {
            height: 40px;
            font-size: var(--font-size-base);
            padding-left: var(--spacer);
            margin-bottom: var(--spacer);
            position: relative;
            font-weight: var(--font-weight-light);
            line-height: 40px;
            @media (max-width: 768px) {
              line-height: 1.3;
            }
            &::before {
              content: "";
              position: absolute;
              display: inline-block;
              height: 40px;
              width: 40px;
              background-image: url('../../images/done-icon.png');
              background-size: contain;
              left: calc(var(--spacer) * -3);
            }
            & span {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
            @media (max-width: 570px) {
              font-size: var(--font-size-base);
            }
            @media (max-width: 450px) {
              font-size: calc(var(--font-size-base) * 1);
              line-height: 1.4;
            }
          }
        }
      }
      & .btn-container {
        @media (max-width: 450px) {
          text-align: center;
        }
        & .btn {
          margin-left: calc(var(--spacer) * 1.5);
          padding: calc(var(--spacer) / 2) calc(var(--spacer) * 6);
          @media (max-width: 450px) {
            font-size: var(--font-size-base);
            padding: calc(var(--spacer) / 2) calc(var(--spacer) * 2);
            margin-left: 0;
          }
          @media (max-width: 320px) {
            font-size: calc(var(--font-size-base) * 1.1);
          }
        }
      }
    }
  }
}