#home {
  border: solid var(--border-width) var(--sectionBorder);
  & section {
    &.hero {
      position: relative;
      margin-bottom: calc(var(--spacer) * 6);
      & .bg-container {
        background-image: url('../../images/parrot-bg.png');
        background-size: 90%;
        background-position: 10% 0%;
        @media (min-width: 1450px) {
          background-size: 100%;
          background-position: 0 100%;
        }
        @media (max-width: 1024px) {
          background-size: 120%;
          background-position: 100% 0%;
        }
        @media (max-width: 768px) {
          background-position: 80% 0%;
          background-size: 120%;
        }
        @media (max-width: 450px) {
          background-position: 80% 100%;
          background-size: 300%;
        }
      }
      & .plane {
        width: 50%;
        position: relative;
        z-index: 2;
        padding: calc(var(--spacer) * 12) 0 calc(var(--spacer) * 12) calc(var(--spacer) * 5);
        @media (max-width: 768px) {
          width: 100%;
          padding: calc(var(--spacer) * 14) 0 calc(var(--spacer) * 12) calc(var(--spacer) * 2);
        }
        @media (max-width: 450px) {
          padding: calc(var(--spacer) * 20) var(--spacer);
          width: auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          & .button-wrapper {
            text-align: center;
            & :last-child {
              margin-right: 0;
            }
          }
        }
        & .news {
          position: relative;
          top: calc(var(--spacer) * -4);
          @media (max-width: 768px) {
            top: calc(var(--spacer) * -4);
          }
          & .label {
            width: 20%;
            display: inline-block;
            background: rgb(54,193,172);
            background: linear-gradient(135deg, rgba(54,193,172,0) 20%, rgba(54,193,172,1) 20%, rgba(54,193,172,1) 80%, rgba(54,193,172,0) 80%, rgba(54,193,172,0) 100%);
            text-align: center;
            color: var(--background-color);
            padding-top: calc(var(--spacer) * 0.1);
          }
          & .content {
            width: 80%;
            display: inline-block;
            background: rgb(16,10,53);
            background: linear-gradient(135deg, rgba(16,10,53,0) 5%, rgba(16,10,53,1) 5%, rgba(16,10,53,1) 80%, rgba(16,10,53,0) 80%, rgba(16,10,53,0) 100%);
            padding: calc(var(--spacer) * 0.1) 0 0 0;
            position: relative;
            left: -5%;
            & a {
              color: var(--body-color);
              padding-left: calc(var(--spacer) * 2);
            }
          }
          @media (max-width: 450px) {
            display: none;
          }
        }
        & h1 {
          padding-bottom: calc(var(--spacer) * 5);
          @media (max-width: 768px) {
            padding-right: calc(var(--spacer) * 13);
          }
          @media (max-width: 570px) {
            font-size: calc(var(--font-size-base) * 2);
            padding-bottom: calc(var(--spacer) * 2);
          }
          @media (max-width: 450px) {
            padding: 0 0 calc(var(--spacer) * 4) 0;
          }
        }
        & .btn {
          margin-right: var(--spacer);
          font-size: calc(var(--font-size-base) * 1.2);
          @media (max-width: 570px) {
            font-size: var(--font-size-base);
          }
          &.btn-primary {
            padding: calc(var(--spacer) / 1.5) calc(var(--spacer) * 5);
            @media (max-width: 450px) {
              padding: var(--spacer) calc(var(--spacer) * 3);
            }
            @media (max-width: 320px) {
              padding: calc(var(--spacer) / 1.5) calc(var(--spacer) * 2);
            }
          }
          &.btn-secondary {
            padding: calc(var(--spacer) / 2) calc(var(--spacer) * 4); 
            @media (max-width: 450px) {
              padding: var(--spacer) calc(var(--spacer) * 2);
            }
            @media (max-width: 320px) {
              padding: calc(var(--spacer) / 2) calc(var(--spacer) * 2);
            }
          }
        }
      }
      @media (max-width: 768px) {
        height: 80vh;
        & .scroll-link {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
      @media (max-width: 700px) {
        height: 180vh;
      }
      @media (max-width: 450px) {
        height: 80vh;
      }
    }
    &.features {
      position: relative;
      top: calc(var(--spacer) * -6);
      & .grid {
        padding: 0 calc(var(--spacer) * 3);
        width: calc(100% - calc(var(--spacer) * 3));
        @media (max-width: 450px) {
          padding: var(--spacer);
          width: calc(100% - var(--spacer));
        }
      }
      & .section-container {
        @media (max-width: 450px) {
          padding: 0 calc(var(--spacer) * 1) 0 calc(var(--spacer) * 3);
        }
      }
      & img { 
        padding: var(--spacer) calc(var(--spacer) * 3);
        @media (max-width: 450px) {
          padding: calc(var(--spacer) * 2) var(--spacer);
        }
      }
      & h3 {
        color: var(--primaryColor);
        text-transform: uppercase;
        position: relative;
        top: calc(var(--spacer) * -2); 
        padding-left: calc(var(--spacer) * 5);
        & span {
          position: absolute;
          top: 0;
          transform: translateY(-50%);
          left: calc(var(--spacer) * 3);
          color: var(--body-color);
          font-size: var(--font-size-base);
          text-align: right;
          @media (max-width: 768px) {
            transform: translateY(-65%);
            font-size: calc(var(--font-size-base) * 1.5);
          }
          @media (max-width: 450px) {
            left: calc(var(--spacer) * 0.5);
          }
        }
        @media (max-width: 1024px) {
          font-size: calc(var(--font-size-base) * 1.5);
        }
        @media (max-width: 768px) {
          font-size: calc(var(--font-size-base) * 2);
        }
        @media (max-width: 700px) {
          font-size: calc(var(--font-size-base) * 1.5);
        }
        @media (max-width: 450px) {
          padding-left: calc(var(--spacer) * 2);
          font-size: calc(var(--font-size-base) * 1.5);
          font-size: var(--font-size-base);
          & span {
            font-size: inherit;
          }
        }
      }
      & .feature-item {
        padding: calc(var(--spacer) * 5) 0;
        @media (max-width: 1024px) {
          padding: calc(var(--spacer) * 3) 0;
        }
        @media (max-width: 450px) {
          padding: 0 0 calc(var(--spacer) * 2) 0
        }
        position: relative;
        & .text {
          @media (max-width: 450px) {
            grid-row: 2;
          }
          & h2 {
            position: relative;
            margin-bottom: var(--spacer);
            & span {
              position: absolute;
              transform: translateY(-50%);
              top: 0;
              left: calc(var(--spacer) * -2);
              color: var(--body-color);
              font-size: var(--font-size-base);
              text-align: right;
            }
            @media (max-width: 768px) {
              margin-bottom: var(--spacer);
              & span {
                left: calc(var(--spacer) * -1.8);
                
              }
            }
            @media (max-width: 570px) {
              font-size: calc(var(--font-size-base) * 1.5);
              & span {
                font-size: calc(var(--font-size-base));
              }
            }
          }
          & p {
            font-size: var(--font-size-base);
            font-weight: var(--font-weight-light);
            margin-bottom: var(--spacer);
            @media (max-width: 1024px) {
              font-size: var(--font-size-base);
            }
            @media (max-width: 768px) {
              margin-bottom: var(--spacer);
            }
            &:first-of-type {
              font-weight: var(--font-weight-normal);
              font-size: calc(var(--font-size-base) * 1.2);
              @media (max-width: 768px) {
                width: 100%;
              }
            }
          }
        }
        & .image {
          background-repeat: no-repeat;
          background-position: 50% 50%;
          @media (max-width: 450px) {
            width: 200px;
            height: 200px;
            grid-row: 1;
          }
        }
        &.software-stack {
          & .image {
            background-image: url('../../images/stack-icons.svg');
            background-size: 120%;
            background-position: -20%;
            @media (max-width: 768px) {
              background-size: 140%;
              background-position: 10% 50%;
            }
            @media (max-width: 700px) {
              background-position: -50% 50%;
            }
            @media (max-width: 450px) {
              background-image: url('../../images/modern-stack.svg');
              background-position: 10% 0;
              background-size: 100%;
            }
          }
          & .decoration {
            width: 35%;
            right: -15%;
            left: initial;
            top: 28%;
            @media (max-width: 768px) {
              top: 50%;
            }
          }
          @media (max-width: 768px) {
            & h2 {
              & br { display: none; }
              & span {
                & br { display: block; }
              }
            }
          }
        }
        &.build-to-scale {
          & .image {
            background-image: url('../../images/build-to-scale.svg');
            background-size: 60%;
            @media (max-width: 768px) {
              background-size: 100%;
            }
            @media (max-width: 450px) {
              background-position: 100%;
            }
          }
          & .decoration {
            width: 15%;
            left: -15%;
            top: 30%;
            right: initial;
          }
        }
        &.easy-to-customize {
          & .image {
            background-image: url('../../images/easy-to-customize.svg');
            background-size: 60%;
            @media (max-width: 768px) {
              background-size: 100%;
            }
            @media (max-width: 450px) {
              background-position: 120% ;
            }
          }
        }
        &.user-experience {
          padding: calc(var(--spacer) * 3) 0 calc(var(--spacer) * 2) 0;
          @media (max-width: 450px) {
            padding-top: 0;
          }
          & h2 {
            margin-bottom: 0;
            font-size: var(--h2-font-size);
            @media (max-width: 1024px) {
              font-size: calc(var(--font-size-base) * 2.5);
            }
            @media (max-width: 450px) {
              text-align: left;
              font-size: calc(var(--spacer) * 1.8);
            }
            & span {
              left: calc(var(--spacer) * 5);
              @media (max-width: 1024px) {
                left: calc(var(--spacer) * -1);
              }
              @media (max-width: 450px) {
                left: calc(var(--spacer) * -2)
              }
            }
          }
          & h4 {
            margin: 0 auto;
            font-size: var(--font-size-base);
            padding: 0 calc(var(--spacer) * 10);
            @media (max-width: 450px) {
              text-align: left;
            }
          }
          & h4 {
            padding: calc(var(--spacer) * 1.5) calc(var(--spacer) * 5);
            @media (max-width: 450px) {
              padding: 0;
              text-align: left;
              font-size: calc(var(--font-size-base) * 1.2);
            }
          }
          @media (max-width: 450px) {
            & .image {
              background-image: url('../../images/great-experience.svg');
              background-size: 80%;
              @media (max-width: 768px) {
                background-size: 110%;
                background-position: 280%;
              }
            }
          }
        }
        &.storefront {
          padding: calc(var(--spacer) * 2) 0;
          @media (max-width: 768px) {
            padding-top: 0;
          }
          & .text {
            padding: calc(var(--spacer) * 4) 0;
          }
          & .image {
            background-image: url('../../images/storefront-icon.svg');
            background-size: 80%;
            background-position: 20% 0;
            position: relative;
            @media (max-width: 1024px) {
              background-size: 120%;
              background-position: 50% 30%;
            }
          }
          & .decoration {
            width: 30%;
            right: -15%;
            top: 50%;
            left: initial;
            @media (max-width: 768px) {
              right: -24%;
            }
          }
        }
        &.dashboard {
          padding: calc(var(--spacer) * 2) 0;
          @media (max-width: 768px) {
            padding-top: 0;
          }
          & .image {
            background-image: url('../../images/dashboard-icon.svg');
            background-size: 120%;
          }
          & .decoration {
            width: 25%;
            left: -13%;
            right: initial;
            top: -11%;
          }
        }
      }
      & .feature-tabs {
        & ul {
          @media (max-width: 700px) {
            padding: 0 calc(var(--spacer) * 2) calc(var(--spacer) * 4) calc(var(--spacer) * 2)
          }
          @media (max-width: 450px) {
            padding: 0;
          }
          & li {
            text-transform: uppercase;
            @media (max-width: 700px) {
              font-size: calc(var(--font-size-base) * 1.4);
            }
            @media (max-width: 570px) {
              font-size: calc(var(--font-size-base) * 1.2);
            }
            @media (max-width: 320px) {
              font-size: calc(var(--font-size-base) * 1);
            }
          }
        }
        & .dashboard {
          & .image {
            width: 100%;
            background-image: url('../../images/dashboard-icon.svg');
            background-size: 80%;
            background-position: 50%;
            height: 300px;
            @media (max-width: 450px) {
              background-size: 120%;
            }
          }
        }
        & .storefront {
          & .image {
            width: 100%;
            background-size: 60%;
            background-position: 50% 0%;
            height: 300px;
            @media (max-width: 450px) {
              background-size: 110%;
              background-position: 70% 70%;
            }
          }
        }
      }
      & .decoration {
        width: 40%;
        left: 5%;
        right: initial;
        bottom: -3%;
      }
    }
    &.open-source {
      position: relative;
      border-top: solid var(--border-width) var(--primaryColor);
      border-bottom: solid var(--border-width) var(--primaryColor);
      padding-top: calc(var(--spacer) * 3);
      & .text {
        position: relative;
        z-index: 2;
        & h2, & p {
          margin-bottom: var(--spacer);
        }
        & p {
          font-weight: var(--font-weight-medium);
        }
        & .text-light {
          font-weight: var(--font-weight-light);
        }
        width: 40%;
        @media (max-width: 768px) {
          width: 50%;
        }
        @media (max-width: 450px) {
          width: 100%;
          padding-top: calc(var(--spacer) * 15); 
        }
        & p {
          & strong {
            display: block;
            padding: calc(var(--spacer) * 1.5) 0;
          }
        }
      }
      & .stars-bg {
        width: 100%;
        height: 100%;
        background-image: url('../../images/open-source-bg.svg');
        background-size: 120%;
        background-position: 50%;
        position: absolute;
        top: -5%;
        right: -19%;
        opacity: 0.5;
        z-index: 1;
        @media (max-width: 1024px) {
          background-size: 150%;
        }
        @media (max-width: 768px) {
          background-size: 200%;
          right: -20%;
        }
        @media (max-width: 700px) {
          top: -10%;
          right: -19.5%;
        }
        @media (max-width: 570px) {
          top: -14%;
          right: -20.5%;
          background-size: 250%;
        }
        @media (max-width: 450px) {
          width: 100%;
          height: 50%;
          background-size: 400%;
          top: -9%;
          left: 55%;
          right: initial;
          transform: translateX(-50%);
        }
        @media (max-width: 375px) {
          top: -10%;
          left: 55%;
        }
        @media (max-width: 320px) {
          top: -11%;
        }
      }
      & .github-circle {
        width: 25%;
        padding-top: 25%;
        position: absolute;
        right: 20.5%;
        top: 14%;
        z-index: 2;
        @media (max-width: 1024px) {
          top: 19%;
        }
        @media (max-width: 768px) {
          top: 12%;
        }
        @media (max-width: 450px) {
          top: -2%;
          width: 50%;
          padding-top: 50%;
          right: 25.5%;
        }
        @media (max-width: 320px) {
          top: 1%;
        }
        & .githubLink {
          width: 100%;
          position: absolute;
          display: block;
          top: 50%;
          left: 50%; 
          transform: translate(-50%, -50%);
          color: var(--body-color);
          text-align: center;
          text-decoration: none;
          & .github-icon {
            position: relative;
            top: calc(var(--spacer) * 1.5);
          }
          & .github-text {
            position: relative;
            top: calc(var(--spacer) * -3);
            font-size: calc(var(--font-size-base) * 1.2);
          }
          & .star-icon {
            position: relative;
            top: calc(var(--spacer) * 6.5);
          }
          & .star-value {
            position: relative;
            top: calc(var(--spacer) * -2);
            font-size: calc(var(--font-size-base) * 3);
          }
          & svg {
            width: 30px !important;
            height: 30px !important;
            fill: var(--body-color);
            color: var(--body-color);
          }
        }
      }
      & .icons {
        width: 100%;
        position: relative;
        z-index: 2;
        grid-template-columns: repeat(10, 1fr);
        text-align: center;
        padding-top: calc(var(--spacer) * 12);
        @media (max-width: 1024px) {
          padding-top: calc(var(--spacer) * 2);
        }
        & .icon {
          @media (max-width: 450px) {
            padding-top: calc(var(--spacer) * 2)
          }
          & svg {
            width: 60px;
            height: 50px;
            margin-bottom: calc(var(--spacer) * 1.5);
            @media (max-width: 768px) {
              width: 40px;
              height: 40px;
            }
            fill: var(--primaryColor);
            color: var(--primaryColor);
          }
          & h5 {
            color: var(--primaryColor);
          }
        }
      }
      & .decoration01 {
        width: 10%;
        left: 0;
        top: 0;
      }
      & .decoration02 {
        width: 15%;
        right: 5%;
        top: 35%;
      }
    }
    &.saleor-in-action {
      position: relative;
      background: rgb(16,10,53);
      background: linear-gradient(135deg, rgba(16,10,53,0) 8%, rgba(16,10,53,1) 8%, rgba(16,10,53,1) 92%, rgba(16,10,53,0) 92%, rgba(16,10,53,0) 100%);
      border-bottom: solid var(--border-width) var(--primaryColor);
      & .head {
        padding: calc(var(--spacer) * 5) 0;
        @media (max-width: 768px) {
          padding-bottom: calc(var(--spacer) * 2);
        }
        @media (max-width: 450px) {
          padding-top: var(--spacer);
        }
        & h2 {
          &.tab-1 { color: var(--body-color) }
          &.tab-1 { color: var(--primaryColor) }
          @media (max-width: 768px) {
            padding-bottom: calc(var(--spacer) * 2);
          }
        }
        & ul {
          padding-top: var(--spacer);
          & li {
            font-size: calc(var(--font-size-base) * 1.5);
            @media (max-width: 570px) {
              font-size: calc(var(--font-size-base) * 1.2);
            }
            @media (max-width: 450px) {
              font-size: calc(var(--font-size-base) * 0.8);
            }
            text-transform: uppercase;
            cursor: pointer;
            & span {
              padding: 0 calc(var(--spacer) * 0.5);
              &:hover {
                color: var(--primaryColor);
                &::after {
                  width: 0;
                }
              }
            }
            &.react-tabs__tab--selected {
              & span {
                &::after {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      & .case-study {
        & .pg-logo {
          width: 45%;
          position: relative;
          top: calc(var(--spacer) * 2);
        }
        & .pg-quote {
          padding: calc(var(--spacer) * 6) 0 0 calc(var(--spacer) * 3);
          @media (max-width: 1024px) {
            padding: calc(var(--spacer) * 2) 0 0 calc(var(--spacer) * 3);
          }
          @media (max-width: 768px) {
            padding: calc(var(--spacer) * 2) 0 0 calc(var(--spacer));
          }
          & p {
            font-size: calc(var(--font-size-base) * 1.3);
            font-style: italic;
            @media (max-width: 450px) {
              font-size: var(--font-size-base);
            }
          }
          & .author {
            padding-bottom: calc(var(--spacer) * 4);
            & img {
              width: 70px;
              @media (max-width: 450px) {
                width: 45px;
              }
              display: inline-block;
              position: relative;
              top: var(--spacer);
            }
            & h5 {
              display: inline-block;
              padding-left: var(--spacer);
              text-transform: uppercase;
              @media (max-width: 450px) {
                font-size: calc(var(--font-size-base) * 0.8);
              }
              @media (max-width: 320px) {
                display: block;
                padding-left: 0;
                padding-top: calc(var(--spacer) * 1.5);
              }
            }
          }
        }
      }
      & .implementation {
        & .grid {
          grid-gap: calc(var(--spacer) * 5);
          @media (max-width: 1024px) {
            grid-gap: calc(var(--spacer));
          }
          & img {
            margin-bottom: calc(var(--spacer) * 2);
          }
          @media (max-width: 768px) {
            & .text-center {
              margin-bottom: calc(var(--spacer) * 2);
            }
          }
        }
      }
      & .decoration01 {
        width: 18%;
        left: -2%;
        top: -10%;
        @media (max-width: 768px) {
          top: 1%;
        }
      }
      & .decoration02 {
        width: 15%;
        right: -5%;
        top: -10%;
      }
    }
    &.enterprice-consulting {
      position: relative;
      z-index: 1;
      padding: calc(var(--spacer) * 4) 0 calc(var(--spacer) * 2) 0;
      & h4 {
        font-weight: var(--font-weight-light);
        width: 65%;
        font-size: calc(var(--font-size-base) * 2);
        padding-top: calc(var(--spacer) * 2);
        text-transform: unset;
        @media (max-width: 1024px) {
          font-size: calc(var(--font-size-base) * 2);
        }
        @media (max-width: 1024px) {
          font-size: calc(var(--font-size-base) * 1.5);
        }
        @media (max-width: 450px) {
          width: 100%;
        }
      }
      & .list {
        padding: calc(var(--spacer) * 5) 0;
        @media (max-width: 1024px) {
          grid-gap: var(--spacer);
        }
        @media (max-width: 450px) {
          padding: calc(var(--spacer) * 2) 0;
        }
        & ul {
          margin-left: calc(var(--spacer) * 3);
          & li {
            font-size: calc(var(--font-size-base) * 1.2);
            padding-bottom: var(--spacer);
            position: relative;
            font-weight: var(--font-weight-light);
            &::before {
              content: "";
              position: absolute;
              display: inline-block;
              height: 30px;
              width: 30px;
              background-image: url('../../images/done-icon.png');
              background-size: contain;
              left: calc(var(--spacer) * -3);
            }
            @media (max-width: 570px) {
              font-size: var(--font-size-base);
            }
            @media (max-width: 450px) {
              font-size: calc(var(--font-size-base) * 1.2);
            }
          }
        }
      }
      & .btn {
        @media (max-width: 450px) {
          font-size: calc(var(--font-size-base) * 1.4);
          padding: calc(var(--spacer) / 2) calc(var(--spacer) * 2);
        }
        @media (max-width: 320px) {
          font-size: calc(var(--font-size-base) * 1.1);
        }
      }
      & .decoration01 {
        width: 20%;
        left: -3%;
        top: -9%;
      }
      & .decoration02 {
        width: 40%;
        right: -4%;
        top: 0;
        @media (max-width: 768px) {
          top: -12%;
        }
      }
    }
  }
}