.github-banner {
  background: #100A35;
  background: linear-gradient(135deg, rgba(16,10,53,0) 4%, rgba(16,10,53,1) 4%, rgba(16,10,53,1) 96%, rgba(16,10,53,0) 96%, rgba(16,10,53,0) 100%);
  position: relative;
  padding: calc(var(--spacer) * 4) 0;
  & h1 { 
    & span {
      font-weight: var(--font-weight-light);
    }
    @media (max-width: 550px) {
      font-size: calc(var(--h1-font-size) * 0.5);
    }
  }
  & .btn {
    margin: calc(var(--spacer) * 2) 0;
    padding: calc(var(--spacer) / 2) calc(var(--spacer) * 4);
    display: inline-block;
  }
  & .decoration-left {
    top: 0;
    left: -5%;
    width: 10%;
  }
  & .decoration-right {
    right: -5%;
    top: -20%;
    width: 10%;
  }
  @media(max-width: 768px) {
    background: linear-gradient(135deg, rgba(16,10,53,0) 0%, rgba(16,10,53,1) 8%, rgba(16,10,53,1) 100%, rgba(16,10,53,0) 8%, rgba(16,10,53,0) 100%);
  }
}