{% load i18n %}

<div id="messages">
{% if messages %}
    {% for message in messages %}
        <div class="row">
            <div class="col s12 center-align">
                <div class="toast toast--static">
                    <span>
                        {% if 'safe' in message.tags %}
                            {{ message|safe }}
                        {% else %}
                            {{ message }}
                        {% endif %}
                    </span>

                    <a class="btn-flat teal-text">{% trans "Dismiss" %}</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>
