{% load i18n %}
{% load utils %}
<ul class="pagination">
    <li{% if not page_obj.has_previous %} class="disabled"{% endif %}>
        {% if page_obj.has_previous %}
            <a href="{% construct_get_query page=page_obj.previous_page_number %}">
                <i class="mdi-navigation-chevron-left"></i>
            </a>
        {% else %}
            <span><i class="mdi-navigation-chevron-left"></i></span>
        {% endif %}
    </li>
    {% for page in paginator.page_range %}
        <li class="{% if page == page_obj.number %}active{% else %}waves-effect{% endif %}">
            <a href="{% construct_get_query page=page %}">
                {{ page }}
            </a>
        </li>
    {% endfor %}
    <li{% if not page_obj.has_next %} class="disabled"{% endif %}>
        {% if page_obj.has_next %}
            <a href="{% construct_get_query page=page_obj.next_page_number %}">
                <i class="mdi-navigation-chevron-right"></i>
            </a>
        {% else %}
            <span><i class="mdi-navigation-chevron-right"></i></span>
        {% endif %}
    </li>
</ul>
