{% load i18n %}
{% load bootstrap %}

    {% csrf_token %}
    <div class="modal-header">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
        <h3>{% trans "Edit order line " %}{{ object.product }} ({{ object }})</h3>
    </div>
    <div class="modal-body">
        <form class="form-inline" method="post" role="form">
            {% csrf_token %}
            <div class="form-group">
                <span>{% trans "Change quantity: " %}{% render_widget quantity_form.quantity class="form-control input-sm" %}
                <input type="hidden" name="line_action" value="change_quantity" />
                <input type="hidden" name="item_pk" value={{ object.pk }} />
                <button type="submit" class="btn btn-default btn-sm">OK</button></span>
            </div>
        </form>
        <hr />
        <form class="form-inline" method="post" role="form">
            {% csrf_token %}
            <div class="form-group">
                <span>Move {% render_widget move_items_form.quantity class="form-control input-sm" %} items to delivery group: {% render_widget move_items_form.groups class="form-control input-sm" %}
                <input type="hidden" name="line_action" value="move_items" />
                <input type="hidden" name="item_pk" value={{ object.pk }} />
                <button type="submit" class="btn btn-default btn-sm">OK</button></span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" aria-hidden="true" class="btn btn-default">{% trans "Cancel" %}</button>
    </div>