{% load i18n %}
{% load babel %}
{% load bootstrap %}
{% load prices_i18n %}

<div class="modal-header">
    <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
    <h3>{{ action|capfirst }} {% trans "payment" %}</h3>
</div>
<div class="modal-body">
    <form id="modal-form" class="form-inline" role="form" method="post" action={% url 'dashboard:manage-payment' pk=payment.pk action=action %}>
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label" for="amount">{% blocktrans %}Amount to {{ action }}:{% endblocktrans %}</label>
            {% render_widget form.amount class="form-control" %} {{ currency }}
        </div>
    </form>
    <p>{% trans "Before this action" %}</p>
      <ul>
        <li>{% trans "Order total: " %}{% gross payment.order.get_total %}</li>
        <li>{% trans "Captured amount: " %}{{ captured|currencyfmt:currency }} </li>
      </ul>
</div>
<div class="modal-footer">
    <button id="id_btn_yes" type="submit" class="btn btn-{% if action == 'capture' %}success{% else%}danger{% endif %}">{{ action|capfirst }}</button>
    <button data-dismiss="modal" aria-hidden="true" class="btn btn-default">{% trans "Cancel" %}</button>
</div>


<script>
$('#id_btn_yes').click(function() {
    $('#modal-form').submit();
});
</script>