{% load i18n %}
{% load bootstrap %}

<div class="modal-header">
    <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
    <h3>{{ action|capfirst }} {% trans "payment" %}</h3>
</div>
<div class="modal-body">
    <form id="modal-form" class="form-inline" role="form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label"for="amount">{% blocktrans %}Amount to {{ action }}:{% endblocktrans %}</label>
            {% render_widget payment_form.amount class="form-control" %} {{ currency }}
            <input id='id_action' type="hidden" name='payment_form' value={{ action }} />
            <input id='id_captured' type="hidden" value={{ captured }} />
        </div>
    </form>
    <p>{% trans "Before this action" %}</p>
      <ul>
        <li>{% trans "Captured amount: " %}{{ captured }} {{ currency }}</li>
      </ul>
      <p>{% trans "After this action" %}</p>
      <ul>
        <li>{% trans "Captured amount: " %}<span id="id_new_captured">{{ amount }}</span> {{ currency }}</li>
      </ul>
</div>
<div class="modal-footer">
    <button id="id_btn_yes" type="submit" class="btn btn-{% if action == 'capture' %}success{% else%}danger{% endif %}">{{ action|capfirst }}</button>
    <button data-dismiss="modal" aria-hidden="true" class="btn btn-default">{% trans "Cancel" %}</button>
</div>


<script>
$('#id_btn_yes').click(function() {
    $('#modal-form').submit();
});
$('#id_amount').change(function() {
  var action = $('#id_action').val();
  var amount = $('#id_amount').val();
  var captured = parseFloat(($('#id_captured').val()).replace(',', '.'));

  var new_captured = 0;
  if (action == 'capture') {
    new_captured = amount - captured;
  } else {
    new_captured = captured - amount;
    if (new_captured < 0) {
      new_captured = 0;
    }
  }

  $('#id_new_captured').text(new_captured.toFixed(2));
});
</script>