<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li><a href="{% url 'dashboard:index' %}">Home</a></li>
            <li><a href="{% url 'dashboard:orders' %}">Orders</a></li>
            <li><a href="{% url 'dashboard:products' %}">Products</a></li>
            <li><a href="{% url 'dashboard:customers' %}">Customers</a></li>
            <li><a href="{% url 'dashboard:payments' %}">Payments</a></li>
        </ul>
    </div>
</div>
