<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control"
                           placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i>
                    Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-puzzle-piece"></i> Products<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Manage products</a>
                    </li>
                    <li>
                        <a href="#">Manage stock</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-table fa-fw"></i> Reports</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit fa-fw"></i> Orders</a>
            </li>
{#            <li>#}
{#                <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span#}
{#                        class="fa arrow"></span></a>#}
{#                <ul class="nav nav-second-level">#}
{#                    <li>#}
{#                        <a href="panels-wells.html">Panels and Wells</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="buttons.html">Buttons</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="notifications.html">Notifications</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="typography.html">Typography</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="grid.html">Grid</a>#}
{#                    </li>#}
{#                </ul>#}
{#                <!-- /.nav-second-level -->#}
{#            </li>#}
{#            <li>#}
{#                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level#}
{#                    Dropdown<span class="fa arrow"></span></a>#}
{#                <ul class="nav nav-second-level">#}
{#                    <li>#}
{#                        <a href="#">Second Level Item</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#">Second Level Item</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#">Third Level <span class="fa arrow"></span></a>#}
{#                        <ul class="nav nav-third-level">#}
{#                            <li>#}
{#                                <a href="#">Third Level Item</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">Third Level Item</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">Third Level Item</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">Third Level Item</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                        <!-- /.nav-third-level -->#}
{#                    </li>#}
{#                </ul>#}
{#                <!-- /.nav-second-level -->#}
{#            </li>#}
{#            <li>#}
{#                <a href="#"><i class="fa fa-files-o fa-fw"></i> Static#}
{#                    Pages<span class="fa arrow"></span></a>#}
{#                <ul class="nav nav-second-level">#}
{#                    <li>#}
{#                        <a href="blank.html">Blank Page</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="login.html">Login Page</a>#}
{#                    </li>#}
{#                </ul>#}
{#                <!-- /.nav-second-level -->#}
{#            </li>#}
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
