{% extends "product/product_list_base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumb_part %}
  <li>
    <a href="{% url 'home' %}">{% trans "Home" context 'Site breadcrumbs home' %}</a>
  </li>
  <li><a href='{{ object.get_absolute_url }}'>{{ object.translated.name }}</a></li>
{% endblock %}

{% block collection_published_warning %}
  {% if not object.is_visible %}
    <div class="alert alert-warning" role="alert">
      {% if object.publication_date %}
        {% blocktrans trimmed with date=object.publication_date|date context "Unpublished collection details text" %}
          <strong>Warning!</strong>
          You are previewing a collection that will become visible on <strong>{{ date }}</strong>.
        {% endblocktrans %}
      {% else %}
        {% blocktrans context "Unavailable collection detail text" %}
          <strong>Warning!</strong>
          You are previewing a collection that is not published.
        {% endblocktrans %}
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block filters %}
  {% include "product/_filters.html" %}
{% endblock filters %}
