{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:group-delete' pk=group.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal remove group text" %}
  Remove group <strong>{{ group }}</strong>?
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
  {% blocktrans trimmed context "Modal remove group text" %}
    Are you sure you want to remove group {{ group }}?
    <br> Users might lose permissions related to this group.
  {% endblocktrans %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
