{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Delete address" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumbs list-unstyled">
      <li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>
      <li><a href=".">{% trans "Delete address" %}</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-md-6 offset-sm-2 offset-md-3">
          <h1 class="text-xs-center">{% trans "Are you sure you want to delete the following address?" %}</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ address }}
                </div>
                <div class="panel-body">
                    <address>{% include "userprofile/snippets/address-details.html" with address=address %}</address>
                </div>
            </div>
            <form method="post" novalidate>
                {% csrf_token %}
                <button type="submit" class="btn danger">{% trans "Delete" %}</button>
                <a href="{% url 'profile:details' %}" class="btn secondary">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
{% endblock content %}
