header {
  width: 100%;
  position: fixed;
  z-index: 999;
  &.sticky {
    background-color: var(--background-color);
    background-image: repeating-linear-gradient(
      -45deg,
      rgba(15, 8, 46, .5), rgba(15, 8, 46, .5) 10%,
      rgba(16, 9, 57, .5) 10%, rgba(16, 9, 57, .5) 20%,
      rgba(23, 14, 73, .5) 20%, rgba(23, 14, 73, .5) 30%,
      rgba(49, 19, 100, .5) 30%, rgba(49, 19, 100, .5) 40%,
      rgba(33, 18, 94, .5) 40%, rgba(33, 18, 94, .5) 50%,
      rgba(24, 14, 76, .5) 50%, rgba(24, 14, 76, .5) 60%,
      rgba(21, 13, 72, .5) 60%, rgba(21, 13, 72, .5) 70%,
      rgba(26, 15, 81, .5) 70%, rgba(26, 15, 81, .5) 80%,
      rgba(33, 18, 94, .5) 80%, rgba(33, 18, 94, .5) 90%,
      rgba(15, 8, 46, .5) 90%, rgba(15, 8, 46, .5) 100%
    );
    & .logo {
      transition: padding 0.3s ease;
      padding: calc(var(--spacer) * 1.5) 0;
    }
    & .menu-desktop {
      & li {
        transition: padding 0.3s ease;
        padding: calc(var(--spacer) * 2) 0;
      }
    }
  }
  & .news {
    display: none;
    @media (max-width: 450px) {
      position: relative;
      width: 100%;
      top: 0;
      display: block;
      font-weight: var(--font-weight-normal);
      & .content {
        padding: calc(var(--spacer) / 2) 0;
        background: var(--accentColor);
        & a {
          color: var(--mobile-background);
          padding-left: calc(var(--spacer) / 2);
        }
        & .close-icon {
          position: absolute;
          cursor: pointer;
          right: 25px;
          top: 10px;
          width: 20px;
          height: 20px;
        }
        & .close-icon:before, & .close-icon:after {
          position: absolute;
          left: 15px;
          content: ' ';
          height: 20px;
          width: 2px;
          background-color: var(--mobile-background);
        }
        & .close-icon:before {
          transform: rotate(45deg);
        }
        & .close-icon:after {
          transform: rotate(-45deg);
        }
      }
    }
    @media (max-width: 320px) {
      font-size: calc(var(--font-size-sm));
    }
  }
  & .logo {
    width: 100%;
    padding: calc(var(--spacer) * 3) 0;
    @media (max-width: 1024px) {
      padding: calc(var(--spacer) * 2.5) 0;
    }
    @media (max-width: 768px) {
      padding: calc(var(--spacer) * 1.5) 0;
    }
    & .logo-svg {
      transition: width 0.5s;
      width: 120px;
      @media (max-width: 1024px) {
        width: 130px;
      }
      @media (max-width: 450px) {
        width: 80px;
      }
    }
    &.open {
      display: block;
      position: fixed;
      top: 0;
      left: var(--spacer);
      z-index: 999;
      @media (max-width: 768px) {
        left: calc(var(--spacer) * 2);
      }
      @media (max-width: 450px) {
        left: calc(var(--spacer) * 1.2);
      }
      & .logo-svg {
        width: 100px;
      }
    }
  }

  & .menu {
    & ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 768px) {
        height: 0;
        visibility: hidden;
        opacity: 0; 
        transition: opacity 0.5s;
      }
      & li {
        position: relative;
        top: 0;
        transition: top 0.5s;
        padding: calc(var(--spacer) * 3.5) 0;
        & a {
          font-size: var(--font-size-base);
          font-weight: var(--font-weight-light);
          text-decoration: none;
          @media (max-width: 1024px) {
            font-size: calc(var(--font-size-base) * 1.2);
          }
        }
        &.home {
          display: none;
          @media (max-width: 768px) {
            display: block;
          }
        }
        &.github-link {
          @media (max-width: 1024px) {
            top: calc(var(--spacer) * -0.3)
          }
        }
        @media (max-width: 768px) {
          padding: calc(var(--spacer) * 1.5) 0;
        }
      }
      &.menu-desktop {
        & .count, & li:first-child { display: none; }
      }
      &.menu-mobile {
        width: calc(100% - 4rem);
        height: 100%;
        display: block;
        visibility: visible;
        opacity: 1;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 998;
        background: var(--mobile-background);
        padding: calc(var(--spacer) * 5) calc(var(--spacer) * 2) 0 calc(var(--spacer) * 2);
        @media (max-width: 700px) {
          padding: calc(var(--spacer) * 3) calc(var(--spacer) * 2) 0 calc(var(--spacer) * 2);
        }
        @media (max-width: 570px) {
          padding: calc(var(--spacer) * 4) calc(var(--spacer) * 2) 0 calc(var(--spacer) * 2);
        }
         @media (max-width: 450px) {
          padding: calc(var(--spacer) * 5) calc(var(--spacer) * 2) 0 calc(var(--spacer) * 2);
        }
        & li {
          position: relative;
          padding: 0 calc(var(--spacer) * 4);
          text-align: left;
          top: 1rem;
          text-transform: uppercase;
          font-size: calc(var(--font-size-base) * 2);
          @media (max-width: 570px) {
            font-size: calc(var(--font-size-base) * 1.5);
          }
          @media (max-width: 450px) {
            font-size: calc(var(--font-size-base) * 2);
          }
          &:first-child {
            display: block;
          }
          & a {
            color: var(--body-color);
            &:hover {
              text-decoration: none;
            }
          }
          & .count { 
            display: inline;
            font-size: calc(var(--font-size-base) * 1.5);
            position: absolute;
            left: 0;
            bottom: calc(var(--spacer) * 0.2);
            color: var(--primaryColor);
          }
          &.github-link {
            position: absolute;
            padding-left: 0;
            left: calc(var(--spacer) * 2);
            top: initial;
            bottom: calc(var(--spacer) * 7);
            @media (max-width: 700px) {
              left: initial;
              right: calc(var(--spacer) * -2);
              bottom: calc(var(--spacer) * 4.5);
            }
            @media (max-width: 570px) {
              bottom: calc(var(--spacer) * 5.5);
            }
            @media (max-width: 450px) {
              left: calc(var(--spacer) * 2);
              right: initial;
              bottom: calc(var(--spacer) * 7);
            }
            & a {
              color: var(--primaryColor);
            }
          }
        }
      }
      &.mobile-btn {
        display: none;
        position: relative;
        opacity: 1;
        visibility: visible;
        width: 100%;
        grid-template-columns: repeat(12, 1fr);
        grid-row: 1;
        @media (max-width: 768px) {
          display: inline-grid;
          padding: calc(var(--spacer) * 1.5) 0;
        }
        & li {
          grid-column: -6 / span 4;
          @media (max-width: 700px) {
            grid-column: -8 / span 4;
          }
          @media (max-width: 570px) {
            grid-column: -9 / span 5;
          }
          @media (max-width: 450px) {
            grid-column: -9 / span 6;
          }
          padding: 0;      
          &.github-link {
            &.open {
              visibility: hidden;
            }
          }
          &.menu-icon {
            grid-column: -2 / span 4;
            @media (max-width: 600px) {
              grid-column: -3 / span 4;
            }
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(var(--spacer) * 1.7);
            right: var(--spacer);
            transform: rotate(0deg);
            cursor: pointer;
            & span {
              display: block;
              position: absolute;
              height: 3px;
              width: 100%;
              background: var(--primaryColor);
              border-radius: 5px;
              opacity: 1;
              right: 0;
              transform: rotate(0deg) skew(-20deg);
              transition: .25s ease-in-out;
              &:nth-child(1) { width: 90%; top: 0; }
              &:nth-child(2) { width: 70%; top: 10px; }
              &:nth-child(3) { width: 70%; top: 10px; }
              &:nth-child(4) { width: 50%; top: 20px; }
            }
            &.open {
              & span {
                &:nth-child(1) { 
                  top: 18px;
                  width: 0%;
                  left: 50%;
                }
                &:nth-child(2) { width: 90%; transform: rotate(45deg); }
                &:nth-child(3) { width: 90%; transform: rotate(-45deg); }
                &:nth-child(4) {
                  top: 18px;
                  width: 0%;
                  left: 50%;
                }
              }
            }
            &.open {
              display: block;
              position: fixed;
              top: calc(var(--spacer) * 2);
              right: calc(var(--spacer) * 1.4);
              z-index: 999;
            }
          }
        }
      }
    }
  }
}