header {
  width: 100%;
  transition: background-color 0.4s ease;
  & .container {
    overflow: initial;
    padding: 0 calc(var(--spacer) * 2) 0 calc(var(--spacer) * 1.1);
    @media (max-width: 1024px) {
      padding: 0 calc(var(--spacer) * 2.9) 0 calc(var(--spacer) * 2);
    }
    @media (max-width: 768px) {
      padding: 0 var(--spacer);
    }
    @media (max-width: 550px) {
      padding: 0 calc(var(--spacer) * 0.5);
    }
  }
  &.sticky {
    width: 100%;
    position: sticky;
    background-color: var(--background-color);
    z-index: 9999;
    transition: top 0.5s ease;
    &.top {
      top: 0;
    }
    &.bottom {
      top: -120px;
    }
    & .menu {
      & li {
        & .submenu {
          top: 67px;
        }
      }
    }
  }
  & .news {
    display: none;
    @media (max-width: 550px) {
      position: relative;
      width: 100%;
      top: 0;
      display: block;
      font-weight: var(--font-weight-normal);
      & .content {
        padding: calc(var(--spacer) / 2) 0;
        background: var(--accentColor);
        & a {
          display: block;
          color: var(--mobile-background);
          padding-left: calc(var(--spacer) / 2);
          margin-right: calc(var(--spacer) * 3);
        }
        & .close-icon {
          position: absolute;
          cursor: pointer;
          right: 25px;
          top: 10px;
          width: 20px;
          height: 20px;
        }
        & .close-icon:before,
        & .close-icon:after {
          position: absolute;
          left: 15px;
          content: " ";
          height: 20px;
          width: 2px;
          background-color: var(--mobile-background);
        }
        & .close-icon:before {
          transform: rotate(45deg);
        }
        & .close-icon:after {
          transform: rotate(-45deg);
        }
      }
    }
    @media (max-width: 320px) {
      font-size: calc(var(--font-size-sm));
    }
  }
  & .notification {
    z-index: 100;
    position: fixed;
    bottom: 0;
    display: block;
    font-weight: var(--font-weight-light);
    width: 100%;
    & .content {
      padding: calc(var(--spacer)) 3rem;
      background-color: #0c0733;
      color: #ffffff;
      display: flex;
      margin: auto 0;
      align-items: center;
      @media (max-width: 550px) {
        flex-direction: column;
        padding: calc(var(--spacer) / 2) 1rem;
        align-items: flex-start;
      }
      & .cookieImg {
        width: 40px;
        height: 40px;
        @media (max-width: 550px) {
          display: none;
        }
      }
      & .cookieAcceptImg {
        width: 24px;
        height: 24px;
        cursor: pointer;
        order: 3;
        @media (max-width: 550px) {
          order: 1;
        }
      }
      & .acceptButton {
        color: var(--primaryColor);
        order: 2;
        margin-right: 1rem;
        cursor: pointer;
        text-decoration: underline;
        @media (max-width: 550px) {
          order: 3;
        }
      }
      & .privacyPolicyText {
        font-size: 14px;
        margin: 0rem 2rem;
        order: 1;
        flex: 1;
        @media (max-width: 550px) {
          margin: 0.5rem 0rem;
          order: 2;
        }
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }

  & .logo {
    width: 100%;
    height: 70px;
    & .logo-svg {
      transition: width 0.5s;
      width: 95px;
      padding: calc(var(--spacer) * 1.2) var(--spacer);
      @media (max-width: 550px) {
        padding: calc(var(--spacer) * 1.2) calc(var(--spacer) / 2);
      }
    }
    &.open {
      display: block;
      position: fixed;
      top: 0;
      left: var(--spacer);
      z-index: 999;
      & .logo-svg {
        width: 100px;
      }
      @media (max-width: 768px) {
        left: calc(var(--spacer) * 2);
      }
      @media (max-width: 550px) {
        left: calc(var(--spacer) / 2);
        & .logo-svg {
          width: 80px;
        }
      }
    }
  }
  & .menu {
    height: 70px;
    & ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @media (max-width: 768px) {
        height: 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s;
      }
      & li {
        position: relative;
        top: 0;
        transition: top 0.5s;
        padding: calc(var(--spacer) * 1.2) calc(var(--spacer) / 2)
          calc(var(--spacer) * 1.2) calc(var(--spacer) / 2);
        white-space: nowrap;
        & a {
          color: var(--body-color);
          text-transform: uppercase;
          font-size: var(--font-size-base);
          font-weight: var(--font-weight-lighter);
          text-decoration: none;
          &.contactBtn {
            color: var(--primaryColor);
            text-decoration: underline;
            font-weight: var(--font-weight-medium);
            padding-right: var(--spacer);
          }
        }
        &.background {
          padding: calc(var(--spacer) * 1.2) calc(var(--spacer) * 1.5)
            calc(var(--spacer) * 1.2) calc(var(--spacer) / 2);
          & a {
            color: var(--body-color);
            transition: color 0.5s ease;
            position: relative;
            & .trangleContainer {
              position: absolute;
              width: 9px;
              height: 6px;
              top: 6px;
              right: -17px;
              border-top: 1px solid var(--body-color);
              transition: transform 0.3s ease;
              transform: initial;
              & .triangle {
                content: "";
                position: absolute;
                top: -3px;
                right: 2px;
                width: 5px;
                height: 5px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                border-right: 1px solid var(--body-color);
                border-bottom: 1px solid var(--body-color);
              }
            }
          }
          &:hover {
            & a {
              color: var(--primaryColor);
              & .trangleContainer {
                border-color: var(--primaryColor);
                transform: rotate(180deg);
                & .triangle {
                  border-color: var(--primaryColor);
                }
              }
            }
          }
        }
        & .submenu {
          display: none;
          padding: calc(var(--spacer) * 1.5);
          width: 270px;
          background: var(--background-color);
          position: absolute;
          top: 68px;
          right: 0;
          z-index: 9999;
          &:before {
            height: 10px;
            width: 100%;
            content: "";
            display: block;
            position: absolute;
            top: -10px;
            left: 0;
          }
          & .item {
            overflow: hidden;
            padding: calc(var(--spacer) / 2) 0;
            & a {
              padding: 0;
              overflow: hidden;
              clear: both;
              color: var(--body-color);
              transition: color 0.5s ease;
              & .icon {
                width: 30px;
                float: left;
                padding-top: calc(var(--spacer) * 0.6);
                & svg {
                  width: 30px;
                  height: 30px;
                  transition: fill 0.5s ease;
                  fill: var(--body-color);
                }
              }
              & .text {
                width: 240px;
                float: left;
                & p {
                  padding-left: 1rem;
                }
                & span {
                  display: block;
                  text-transform: initial;
                  padding: 0 1rem;
                  font-size: 0.8rem;
                  &:after {
                    background: none;
                  }
                }
              }
              &:hover {
                color: var(--primaryColor);
                & svg {
                  fill: var(--primaryColor);
                }
              }
            }
          }
        }
        &:hover .submenu {
          display: block;
        }
        &.home {
          display: none;
          @media (max-width: 768px) {
            display: block;
          }
        }
        &.github-link {
          padding: calc(var(--spacer) * 1.2) calc(var(--spacer))
            calc(var(--spacer) * 1.2) calc(var(--spacer));
          & svg {
            fill: var(--body-color);
            & path {
              fill: var(--body-color);
            }
          }
          @media (max-width: 550px) {
            & svg {
              fill: var(--primaryColor);
              & path {
                fill: var(--primaryColor);
              }
            }
          }
          & .github-icon {
            position: relative;
            top: -2px;
          }
          & .star-icon {
            position: relative;
            top: -2px;
          }
          & .star-value {
            position: relative;
            top: -3px;
          }
        }
        @media (max-width: 768px) {
          padding: calc(var(--spacer) * 1.5) 0;
        }
      }
      &.menu-desktop {
        & .count,
        & li:first-child {
          display: none;
        }
      }
      &.menu-mobile {
        width: calc(100% - calc(var(--spacer) * 4));
        height: 100%;
        display: block;
        visibility: visible;
        opacity: 1;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 998;
        background: var(--mobile-background);
        background-image: linear-gradient(
            -150deg,
            rgba(254, 62, 62, 0.3) 0%,
            rgba(125, 185, 232, 0) 30%,
            rgba(125, 185, 232, 0) 100%
          ),
          url("../../images/background.svg");
        padding: calc(var(--spacer) * 5) calc(var(--spacer) * 2) 0
          calc(var(--spacer) * 2);
        @media (max-width: 700px) {
          padding: calc(var(--spacer) * 3) calc(var(--spacer) * 2) 0
            calc(var(--spacer) * 2);
        }
        @media (max-width: 570px) {
          padding: calc(var(--spacer) * 4) calc(var(--spacer) * 2) 0
            calc(var(--spacer) * 2);
        }
        @media (max-width: 550px) {
          width: calc(100% - calc(var(--spacer) * 2));
          padding: calc(var(--spacer) * 5) var(--spacer) 0 var(--spacer);
        }
        & li {
          position: relative;
          padding: 0 calc(var(--spacer) * 4);
          text-align: left;
          top: var(--spacer);
          @media (max-width: 570px) {
            font-size: calc(var(--font-size-base) * 1.5);
          }
          @media (max-width: 550px) {
            font-size: calc(var(--font-size-base) * 2);
            padding: 0 calc(var(--spacer) * 3);
          }
          &:first-child {
            display: block;
          }
          &.background {
            color: var(--body-color);
            & a {
              &:after {
                background: none;
              }
              & .trangleContainer {
                top: 19px;
                transform: initial;
                border-color: var(--body-color);
                & .triangle {
                  border-color: var(--body-color);
                }
              }
              &:hover {
                color: var(--body-color);
              }
            }
            &.open {
              & a {
                color: var(--primaryColor);
                & .trangleContainer {
                  transform: rotate(180deg);
                  border-color: var(--primaryColor);
                  & .triangle {
                    border-color: var(--primaryColor);
                  }
                }
              }
              & .submenu {
                & a {
                  color: var(--body-color);
                }
              }
            }
            & .submenu {
              display: block;
              position: static;
              padding: 0;
              background: none;
              border: none;
              height: 0;
              opacity: 0;
              transition: height 0.5s ease, opacity 0.8s ease;
              &.open {
                height: 100%;
                opacity: 1;
              }
              & .item {
                & .text {
                  text-transform: uppercase;
                  & span {
                    display: none;
                  }
                }
                & .icon {
                  height: 30px;
                  padding: 0;
                  & .github-icon {
                    position: relative;
                    top: -12px;
                  }
                  & .gitter-icon {
                    position: relative;
                    top: -12px;
                  }
                  & .spectrum-icon {
                    position: relative;
                    top: -12px;
                  }
                  & .stackoverflow-icon {
                    position: relative;
                    top: -12px;
                  }
                  & .transifex-icon {
                    position: relative;
                    top: -12px;
                  }
                }
              }
            }
          }
          & a {
            color: var(--body-color);
            font-size: calc(var(--font-size-base) * 2);
            text-transform: none;
            position: relative;
            &:hover {
              text-decoration: none;
            }
            &::after {
              top: initial;
              bottom: 0;
              transform: skewX(-45deg);
            }
          }
          & .count {
            display: inline;
            font-size: calc(var(--font-size-base) * 1.3);
            position: absolute;
            left: 0;
            bottom: calc(var(--spacer) * 0.2);
            color: var(--primaryColor);
            top: 13px;
          }
          &.github-link {
            display: none;
          }
        }
      }
      &.mobile-btn {
        display: none;
        position: relative;
        opacity: 1;
        visibility: visible;
        width: 100%;
        grid-template-columns: repeat(12, 1fr);
        grid-row: 1;
        @media (max-width: 768px) {
          display: inline-grid;
          padding: calc(var(--spacer) * 1.2) 0;
        }
        & li {
          grid-column: -6 / span 4;
          @media (max-width: 700px) {
            grid-column: -8 / span 4;
          }
          @media (max-width: 570px) {
            grid-column: -9 / span 5;
          }
          @media (max-width: 550px) {
            grid-column: -8 / span 4;
          }
          @media (max-width: 320px) {
            grid-column: -8 / span 5;
          }
          padding: 0;
          &.github-link {
            @media (max-width: 550px) {
              & .githubLink {
                color: var(--primaryColor);
              }
              & svg {
                fill: var(--primaryColor);
              }
            }
            &.open {
              visibility: hidden;
            }
          }
          &.menu-icon {
            grid-column: -2 / span 4;
            @media (max-width: 600px) {
              grid-column: -3 / span 4;
            }
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(var(--spacer) * 1.5);
            right: var(--spacer);
            transform: rotate(0deg);
            cursor: pointer;
            @media (max-width: 320px) {
              right: calc(var(--spacer) / 6);
            }
            & span {
              display: block;
              position: absolute;
              height: 3px;
              width: 100%;
              background: var(--primaryColor);
              border-radius: 5px;
              opacity: 1;
              right: 0;
              transform: rotate(0deg) skew(-45deg);
              transition: 0.25s ease-in-out;
              &:nth-child(1) {
                width: 90%;
                top: 0;
              }
              &:nth-child(2) {
                width: 70%;
                top: 10px;
              }
              &:nth-child(3) {
                width: 70%;
                top: 10px;
              }
              &:nth-child(4) {
                width: 50%;
                top: 20px;
              }
            }
            &.open {
              & span {
                &:nth-child(1) {
                  top: 18px;
                  width: 0%;
                  left: 50%;
                }
                &:nth-child(2) {
                  width: 90%;
                  transform: rotate(45deg);
                }
                &:nth-child(3) {
                  width: 90%;
                  transform: rotate(-45deg);
                }
                &:nth-child(4) {
                  top: 18px;
                  width: 0%;
                  left: 50%;
                }
              }
            }
            &.open {
              width: 30px;
              height: 30px;
              display: block;
              position: fixed;
              top: calc(var(--spacer) * 1.5);
              right: calc(var(--spacer) * 1.4);
              z-index: 999;
            }
          }
        }
      }
    }
  }
}
