.breadcrumbs {
  margin: $global-margin 0 $global-margin * 1.5;
  li {
    display: inline;
    &:not(:first-of-type) {
      margin-left: $global-margin / 3;
    }
    &:not(:last-of-type):after {
      content: '/';
      display: inline-block;
      margin-left: $global-margin / 3;
    }
    a {
      color: $body-color;
    }
  }
}
