.scroll-link {
    color: var(--primaryColor);
    text-align: center;
    & a {
      text-decoration: none;
      & img {
        display: block;
        margin: 0 auto;
        padding: var(--spacer) 0 0;
      }
    }
  }