{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}{% url "dashboard:warehouse-delete" warehouse.pk %}{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal remove warehouse text" %}
  Remove warehouse {{ warehouse }}
{% endblocktrans %}
{% endblock %}

{% block content %}
<div class="col s12">
  {% blocktrans trimmed context "Modal remove warehouse text" %}
    Are you sure you want to remove warehouse <strong>{{ warehouse }}</strong>
  {% endblocktrans %}
</div>
{% endblock %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
