{% extends "base.html" %}

{% load as_bootstrap from bootstrap %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="active">
        <a href="">Billing</a>
    </li>
    <li class="disabled">
        <a href="">Shipping</a>
    </li>
    <li class="disabled">
        <a href="">Payment</a>
    </li>
</ul>
<form action="." method="post" class="form-horizontal">
    {% csrf_token %}
    {{ forms.managment|as_bootstrap }}
    {% if user.is_authenticated %}
    <fieldset>
        <legend>Select address:</legend>
        {{ forms.address_list|as_bootstrap }}
    </fieldset>
    {% endif %}
    <fieldset>
        <legend>Complete address:</legend>
        {{ forms.address|as_bootstrap }}
    </fieldset>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Save changes
        </button>
        <button type="button" class="btn">
            Cancel
        </button>
    </div>
</form>

{% endblock content %}
