{% extends "base.html" %}

{% load as_bootstrap from bootstrap %}
{% load gross from prices %}
{% load i18n %}

{% block content %}
{# This view is available by just knowing url,          #}
{# so we don't show all details (like delivery address) #}
{# unless current user is owner of the order.           #}
{% if user.is_authenticated and order.user == user %}
    <h2>{% trans "Billing address" %}</h2>
    {% with address=order.billing_address %}
    <p>
        {{ address.first_name }} {{ address.last_name }}
        <br />
        {{ address.street_address_1 }}{% if address.street_address_2 %}{{ address.street_address_2 }}{% endif %}
        <br />
        {{ address.postal_code }} {{ address.city }}
        <br />
        {{ address.country_area }} {{ address.country }}
        <br />
        {{ address.phone }}
    </p>
    {% endwith %}
{% endif %}
<h2>{% trans "Order details" %}</h2>
<p>{% trans "Status" %}: {{ order.get_status_display }}</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Price per item" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Total" %}</th>
            <th>{% trans "Delivery price" %}</th>
        </tr>
    </thead>
    <tbody>
{% for group in groups %}
    {% for item in group %}
        <tr>
            <td>{{ item.product }}</td>
            <td>{% gross item.get_price_per_item %}</td>
            <td>{{ item.quantity }}</td>
            <td>{% gross item.get_price_per_item %}</td>
        {% if forloop.first %}
            <td colspan="{{ group|length }}">{% gross group.price %}</td>
        {% endif %}
        </tr>
    {% endfor %}
{% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>{% trans "Total" %}</td>
            <td colspan="4">{% gross order.get_total %}</td>
        </tr>
    </tfoot>
</table>
<h2>{% trans "Payments" %}</h2>
<ul>
{% for payment in payments %}
    <li>{{ payment }} - {{ payment.status }}</li>
{% endfor %}
</ul>
{% if not order.is_full_paid %}
    <a href="{% url 'order:payment:index' token=order.token %}">{% trans "Pay again" %}</a>
{% endif %}
{% endblock content %}
