{% extends "base.html" %}

{% load gross from prices %}
{% load i18n %}

{% block title %}{{ block.super }} » {% trans "Order details" %}{% endblock %}

{% block outerbreadcrumb %}
    {% if order.user == user %}
    <ul class="breadcrumb" itemprop="breadcrumb">
        <li><a href="/">{% trans "Home" %}</a></li>
        <li><a href="{% url 'profile:orders' %}">{% trans "Your orders" %}</a></li>
        <li><a href="{% url 'order:details' token=order.token %}">{{ order }}</a></li>
    </ul>
    {% endif %}
{% endblock outerbreadcrumb %}

{% block content %}
{# This view is available by just knowing url,          #}
{# so we don't show all details (like delivery address) #}
{# unless current user is owner of the order.           #}
{% if order.user == user %}
    <h2>{% trans "Billing address" %}</h2>
    {% with address=order.billing_address %}
    <p>
        {{ address.first_name }} {{ address.last_name }}
        <br />
        {{ address.street_address_1 }}{% if address.street_address_2 %}{{ address.street_address_2 }}{% endif %}
        <br />
        {{ address.postal_code }} {{ address.city }}
        <br />
        {{ address.country_area }} {{ address.country }}
        <br />
        {{ address.phone }}
    </p>
    {% endwith %}
{% endif %}
<h2>{% trans "Order details" %}</h2>
<p>{% trans "Status" %}: {{ order.get_status_display }}</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Price per item" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Total" %}</th>
            <th>{% trans "Delivery price" %}</th>
            <th>{% trans "Status" %}</th>
            {% if order.user == user %}
            <th>{% trans "Delivery address" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
{% for group in groups %}
    {% for item in group %}
        <tr>
            <td>{{ item.product }}</td>
            <td>{% gross item.get_price_per_item %}</td>
            <td>{{ item.quantity }}</td>
            <td>{% gross item.get_price_per_item %}</td>
        {% if forloop.first %}
            <td rowspan="{{ group.items.count }}">{% gross group.price %}</td>
            <td rowspan="{{ group.items.count }}">{{ group.get_status_display }}</td>
            {% if order.user == user %}
            <td rowspan="{{ group.items.count }}">
                {% if group.email %}
                {{ group.email }}
                {% elif  group.address %}
                    {{ group.address }}
                    <a class="address-details"  href="#"
                       data-content="{% if group.address.company_name %}{{ group.address.company_name }}<br>{% endif %}
                                     {{ group.address.street_address_1 }}<br>
                                     {% if group.address.street_address_2 %}{{ group.address.street_address_2 }}<br>{% endif %}
                                     {{ group.address.postal_code }} {{ group.address.city }}<br>
                                     {{ group.address.country_area }}, {{ group.address.get_country_display }}<br>
                                     {{ group.address.phone }}"
                       data-html="true" title="{{ group.address.first_name }} {{ group.address.last_name }}"><small>{% trans "details" %}</small></a>
                {% endif %}
            </td>
            {% endif %}
        {% endif %}
        </tr>
    {% endfor %}
{% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>{% trans "Total" %}</td>
        <td colspan="{% if user == order.user %}6{% else %}5{% endif %}">{% gross order.get_total %}</td>
        </tr>
    </tfoot>
</table>
<h2>{% trans "Payments" %}</h2>
<ul>
{% for payment in payments %}
    <li>{{ payment }} - {{ payment.status }}</li>
{% endfor %}
</ul>
{% if not order.is_fully_paid %}
    <a href="{% url 'order:payment:index' token=order.token %}">{% trans "Pay again" %}</a>
{% endif %}
{% endblock content %}


{% block footer_scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/order_details.js"></script>
{% endblock footer_scripts %}
