{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "dashboard:attribute-value-delete" attribute_pk=attribute_pk value_pk=value.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal delete attribute text" %}
Delete attribute value {{ value }}
{% endblocktrans %}
{% endblock title %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed context "Modal delete attribute text" %}
      Are you sure you want to remove attribute value <strong>{{ value }}</strong>?
    {% endblocktrans %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
