{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load bootstrap %}

{% block title %}{% trans "Products" %} - {{ block.super }}{% endblock %}

{% block page_header %}
    <span class="page-title">{% block page_title %}{% trans "Products" %}{% endblock %}</span>
    <a href="#" data-activates="side-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <a class="btn-fab btn-floating btn-large waves-effect waves-light teal dropdown-button"
       data-activates="dropdown-type" data-constrainwidth="false">
        <i class="mdi-content-add"></i>
    </a>
    <div id="dropdown-type" class="dropdown-content dropdown-type">
        <form class="col s6 l4" method="post" action=".">
            {% csrf_token %}
            {% render_widget form.cls_name %}
            <label for="cls_name">{% trans "Product type" %}</label>
            <button class="btn" type="submit">
                <i class="mdi-content-create left"></i> {% trans "Create new" %}
            </button>
        </form>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            {% comment %}<h5>{% trans "Add new product" %}</h5>
            <form class="row" method="post" action=".">
                {% csrf_token %}
                <div class="input-field col s4">
                    {% render_widget form.cls_name %}
                    <label for="amount">{% trans "Product type" %}</label>
                    <button class="btn" type="submit">
                        <i class="mdi-content-add left"></i> {% trans "New product" %}
                    </button>
                </div>
            </form>{% endcomment %}

            <ul class="collection">
                {% for product in products %}
                    <li class="collection-item avatar">
                        <img src="{{ product.images.first.image.crop.50x50 }}" alt="" class="circle teal">
                        <a class="title" href="{% url 'dashboard:product-update' pk=product.pk %}">{{ product.name }}</a>
                        <p>{{ product.collection }}</p>
                        <p class="secondary-content">{% gross product.price %}</p>
                    </li>
                {% endfor %}
            </ul>
            {% include "dashboard/includes/_pagination.html" with page_obj=products %}
        </div>
    </div>
{% endblock %}
