{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load bootstrap %}

{% block title %}{% trans "Products" %} - {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{% trans "Products" %}</h1>
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Add new product" %}</div>
                <div class="panel-body">
                    <form class="form-inline" method="post" action=".">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label"for="amount">{% trans "Product type" %}</label>
                            {% render_widget form.cls_name class="form-control" %}
                            <button class="btn btn-success" type="submit">
                                <i class="glyphicon glyphicon-plus"></i> {% trans "New product" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2" class="col-sm-6">{% trans "Name" %}</th>
                        <th class="col-sm-4">{% trans "Collection" %}</th>
                        <th class="col-sm-2 text-right">{% trans "Price" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td class="col-sm-1">
                            {% if product.images.exists %}
                                <img class="img-responsive" src="{{ product.images.first.image.crop.50x50 }}" alt="">
                            {% else %}
                                <img class="img-responsive" src="http://placehold.it/50x50/&text=Product Image" alt="">
                            {% endif %}
                        </td>
                        <td class="col-sm-5"><a href="{% url 'dashboard:product-update' pk=product.pk %}">{{ product.name }}</a></td>
                        <td>{{ product.collection }}</td>
                        <td class="text-right">{% gross product.price %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include "dashboard/includes/_pagination.html" with page_obj=products %}
        </div>
    </div>
{% endblock %}
