{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load images %}

{% block title %}{% trans "All products" %}{% endblock %}

{% block content %}
    <div class="row">
        {% include "dashboard/includes/_pagination.html" %}

        <div class="col-lg-12">
            <h1 class="page-header">{% trans "Products" %}</h1>
            <a class="btn btn-primary" href="{% url "dashboard:product-add" %}">Add new product</a>

            <table class="table">
                <thead>
                    <th>{% trans "Image" %}</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Brand" %}</th>
                    <th>{% trans "Stock" %}</th>
                    <th>{% trans "Price" %}</th>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            {% if product.images.exists %}
                                <img class="img-responsive" src="{{ product.images.first|at_size:"admin" }}" alt="">
                            {% else %}
                                <img class="img-responsive" src="http://placehold.it/50x50/&text=Product Image" alt="">
                            {% endif %}
                        </td>
                        <td><a href="{% url 'dashboard:product-update' pk=product.pk %}">{{ product.name }}</a></td>
                        <td><a href="#" title="Filter by this brand">{{ product.brand.name }}</a></td>
                        <td>{{ product.get_stock }}</td>
                        <td>{% gross product.price %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
