{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load staticfiles %}

{% block title %}{% trans "Delete product" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block page_title %}{% trans "Are you sure you want to delete the following product?" %}{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col m6 l4 offset-m3 offset-l4">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title black-text">{{ object }}</div>
                        {% if object.images.exists %}
                            <img src="{{ product.images.first.image.crop.350x350 }}" alt="" class="responsive-img">
                        {% else %}
                            <img src="{% static 'placeholders/product-image-placeholder.png' %}" alt="" class="responsive-img">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col m6 l4 offset-m3 offset-l4 right-align">
                <a href="{% url 'dashboard:product-update' pk=object.pk %}" class="btn-flat"><i class="mdi-content-clear"></i> {% trans "Cancel" %}</a>
                <button type="submit" class="btn materialize-red"><i class="mdi-action-delete"></i> {% trans "Delete" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
