{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load bootstrap %}
{% load images %}
{% load static %}

{% block title %}Product details{% endblock %}

{% block content %}
<div class="row">
    <h1 class="page-header">{{ title }}</h1>

    <div class="col-lg-8">
        <div class="form-message alert alert-success" hidden="hidden">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-ok-sign"></span>
            <span class="message-content">{% trans "Data saved" %}</span>
        </div>
        <form class="form form-horizontal" method="post" action="." id="product-form" enctype="multipart/form-data">
            {{ variant_formset.management_form }}
            {{ image_formset.management_form }}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">{% trans "Details" %}</span>
                </div>
                <div class="panel-body">
                    {% csrf_token %}
                    {{ form|as_horizontal_form }}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">{% trans "Variants" %}</span>
                    <span class="pull-right"><a data-toggle="collapse" href="#add-variant"><i class="glyphicon glyphicon-plus"></i> Add variant</a></span>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                {% for field in variant_formset.0 %}
                                <th>{{ field.label }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for form in variant_formset.initial_forms %}
                            <tr>
                                {% for field in form %}
                                <td>{{ field }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">{% trans "Images" %}</span>
                    <span class="pull-right"><a data-toggle="collapse" href="#add-image"><i class="glyphicon glyphicon-plus"></i> Add image</a></span>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        {% for form in image_formset %}
                            <tr>
                                {{ form }}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{% url 'dashboard:products' %}" class="btn btn-link">Cancel</a>
            </div>

        </form>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Product image</span>
            </div>
            <div class="panel-body">
                {% if product.images.exists %}
                    <img class="img-responsive" src="{{ product.images.first|at_size:"small" }}" alt="">
                {% else %}
                    <img class="img-responsive" src="http://placehold.it/300x300/&text=Product Image" alt="">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
