{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load bootstrap %}
{% load static %}

{% block title %}{{ title }} - {% trans "Products" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ title }}</h1>
    </div>
</div>

<form class="form form-vertical" method="post" id="product-form" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-8">
            <div class="form-message alert alert-success" hidden="hidden">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-ok-sign"></span>
                <span class="message-content">{% trans "Data saved" %}</span>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">{% trans "Details" %}</span>
                </div>
                <div class="panel-body">
                    {% csrf_token %}
                    {{ form|as_vertical_form }}
                </div>
            </div>

            {{ variant_formset.management_form }}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">{% trans "Variants" %}</span>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans "SKU" %}</th>
                            {% for field in variant_formset.0.visible_fields %}
                                {% if field.name != 'sku' and field.name != 'DELETE' %}
                                    <th>{{ field.label }}</th>
                                {% endif %}
                            {% endfor %}
                            <th class="text-right"><i class="glyphicon glyphicon-trash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for form in variant_formset.initial_forms %}
                        <tr>
                            <td>
                                {% for field in form.hidden_fields %}
                                    {{ field }}
                                {% endfor %}
                                {{ form.sku|as_vertical_form:False }}
                            </td>
                            {% for field in form.visible_fields %}
                                {% if field.name != 'sku' and field.name != 'DELETE' %}
                                    <td>
                                        <div class="{% if field.errors %} has-error{% endif %}{% if field.required %} required{% endif %}">
                                            {{ field|as_vertical_form:False }}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <span class="label label-danger">{{ error }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td class="text-right">
                                {{ form.DELETE }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for form in variant_formset.extra_forms %}
                        <tr>
                            <td>
                                {% for field in form.hidden_fields %}
                                    {{ field }}
                                {% endfor %}
                                {{ form.sku|as_vertical_form:False }}
                            </td>
                            {% for field in form.visible_fields %}
                                {% if field.name != 'sku' and field.name != 'DELETE' %}
                                    <td>
                                        <div class="{% if field.errors %} has-error{% endif %}{% if field.required %} required{% endif %}">
                                            {{ field|as_vertical_form:False }}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <span class="label label-danger">{{ error }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {{ image_formset.management_form }}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">{% trans "Images" %}</span>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="1" class="col-sm-11">{% trans "Image" %}</th>
                            <th class="text-right"><i class="glyphicon glyphicon-trash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for form in image_formset.initial_forms %}
                        <tr>
                            <td>
                                {% for field in form.hidden_fields %}
                                    {{ field }}
                                {% endfor %}
                                {{ form.image }}
                            </td>
                            <td class="text-right">
                                {{ form.DELETE }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for form in image_formset.extra_forms %}
                        <tr>
                            <td>
                                {{ form.image }}
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Product image</span>
                </div>
                <div class="panel-body">
                    {% if product.images.exists %}
                        <img class="img-responsive" src="{{ product.images.first.image.thumbnail.300x300 }}" alt="">
                    {% else %}
                        <img class="img-responsive" src="http://placehold.it/300x300/&text=Product Image" alt="">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                {% if product.pk %}
                    <span class="pull-right">
                        <a href="{% url 'dashboard:product-delete' pk=product.pk %}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> {% trans "Delete" %}</a>
                    </span>
                {% endif %}
                {% if product.pk %}
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> {% trans "Update" %}</button>
                {% else %}
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-upload"></i> {% trans "Create" %}</button>
                {% endif %}
                <a href="{% url 'dashboard:products' %}" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> {% trans "Cancel" %}</a>
            </p>
        </div>
    </div>
</form>
{% endblock %}
