{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}{{ title }} - {% trans "Products" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block page_title %}{{ title }}{% endblock %}

{% block header_menu %}
    <a href="{% url "dashboard:products" %}" class="header-button"><i class="mdi-navigation-arrow-back"></i></a>
{% endblock %}

{% block header_extra %}
    {% if product.pk %}
    <a class="dropdown-button" href="#" data-activates="product-delete">
        <i class="mdi-navigation-more-vert"></i>
    </a>
    <ul id="product-delete" class="dropdown-content">
        <li>
            <a href="{% url "dashboard:product-delete" pk=product.pk %}">
                {% trans "Remove" %}
            </a>
        </li>
    </ul>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--with-menu">
        <li><a href="{% url "dashboard:products" %}">{% trans "Products" %}</a></li>
        <li><i class="mdi-navigation-chevron-right"></i> {{ title }}</li>
    </ul>
{% endblock %}

{% block content %}
<form method="post" id="product-form" enctype="multipart/form-data">
    <div class="row" hidden>
        <div class="col s12">
            <div class="card green">
{#                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}
{#                <span class="glyphicon glyphicon-ok-sign"></span>#}
                <span class="card-content white-text">{% trans "Data saved" %}</span>
            </div>
        </div>
    </div>

    {% if product.pk %}
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#details">{% trans "Details" %}</a></li>
                    <li class="tab col s3"><a href="#variants">{% trans "Variants" %}</a></li>
                    <li class="tab col s3"><a href="#stock">{% trans "Stock" %}</a></li>
                    <li class="tab col s3"><a href="#images">{% trans "Images" %}</a></li>
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="row" id="details">
        <form method="post" id="form-product" enctype="multipart/form-data">
            <div class="col l8" >
                <div class="row">
                    {% csrf_token %}
                    {{ product_form.name|materializecss }}
                    {{ product_form.description|materializecss }}
                </div>
            </div>

            <div class="col l4">
                <div class="row">
                    {{ product_form.price|materializecss }}
                    {{ product_form.weight|materializecss }}
                    {{ product_form.categories|materializecss:"input-field s12" }}
                    {{ product_form.attributes|materializecss:"input-field s12" }}
                </div>
            </div>

            <div class="col s12 right-align">
                <div class="row">
                    {% if product.pk %}
                        <button type="submit" name="product-form" class="btn">{% trans "Update" %}</button>
                    {% else %}
                        <button type="submit" name="product-form" class="btn">{% trans "Create" %}</button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>

    {% if product.pk %}
        <div id="variants" class="card">
            <form>
                <div class="data-table-header">
                    <a href="{% url 'dashboard:variant-add' product_pk=product.pk %}" class="btn-data-table btn-show-when-unchecked blue-text">
                        {% trans "Add" %}
                    </a>

                    <button type="submit" class="btn-data-table btn-show-when-checked red-text" hidden>{% trans "Delete" %}</button>
                </div>
                <table class="bordered hoverable data-table">
                    <thead>
                        <tr>
                            <th class="bulk-checkbox">
                                <input type="checkbox" id="select-all" class="filled-in switch-actions">
                                <label for="select-all"></label>
                            </th>
                            <th>{% trans "Name" %}</th>
                            <th class="right-align">{% trans "SKU" %}</th>
                            <th class="right-align">{% trans "Price" %}</th>
                            <th class="right-align">{% trans "Weight" %}</th>
                            <th>{% trans "Attributes" %}</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for variant in variants %}
                            <tr>
                                <td class="bulk-checkbox">
                                    <input name="variant_id" type="checkbox" id="{{ variant.id }}" class="filled-in switch-actions">
                                    <label for="{{ variant.id }}"></label>
                                </td>
                                <td><a class="light-blue-text text-lighten-1" title="{% trans "Edit variant" %}"
                                            href="{% url 'dashboard:variant-update' product_pk=product.pk variant_pk=variant.pk %}">
                                    {{ variant.name }}</a></td>
                                <td class="right-align">{{ variant.sku }}</td>
                                <td class="right-align">{% gross variant.get_price_per_item %}</td>
                                <td class="right-align">{{ variant.get_weight }}</td>
                                <td>
                                    {% for name, value in variant.get_attributes_display.items %}
                                        {{ name }}: {{ value }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>

        <div id="images">
            <div class="row">
                <div class="col l12">
                    <ul class="row product-gallery" id="product-gallery" data-post-url="{{ images_reorder_url }}">
                        {% for image in images %}
                            <li class="col s6 m3 card product-gallery-item" data-id="{{ image.pk }}">
                                <div class="card-content">
                                    <img class="responsive-img" src="{{ image.image.crop.300x300 }}" alt="">
                                    <span class="product-gallery-item-text">{{ image.alt|default:image.image.name }}</span>
                                    <a class="product-gallery-item-create light-blue-text text-lighten-1" title="{% trans "Edit image" %}"
                                            href="{% url 'dashboard:product-image-update' product_pk=product.pk img_pk=image.pk %}">
                                        <i class="mdi-content-create"></i>
                                    </a>
                                    <a class="product-gallery-item-remove materialize-red-text text-lighten-2" title="{% trans "Delete image" %}"
                                            href="{% url 'dashboard:product-image-delete' product_pk=product.pk img_pk=image.pk %}">
                                        <i class="mdi-action-delete"></i>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col s12 right-align">
                    <a href="{% url 'dashboard:product-image-add' product_pk=product.pk %}" class="btn">
                        <i class="mdi-content-add"></i> {% trans "Add new image" %}
                    </a>
                </div>
            </div>
        </div>

        <div id="stock">
            <div class="row">
                <div class="col l12">
                    <ul class="collection">
                        {% for item in stock_items %}
                            <li class="collection-item">
                                <span>SKU: {{ item.variant.sku }}, quantity: {{ item.quantity }}, location: {{ item.location }}</span>
                                <a class="light-blue-text text-lighten-1" title="{% trans "Edit stock" %}"
                                        href="{% url 'dashboard:product-stock-update' product_pk=product.pk stock_pk=item.pk %}">
                                    <i class="mdi-content-create"></i>
                                </a>
                                <a class="materialize-red-text text-lighten-2" title="{% trans "Delete stock" %}"
                                        href="{% url 'dashboard:product-stock-delete' product_pk=product.pk stock_pk=item.pk %}">
                                    <i class="mdi-action-delete"></i>
                                </a>
                            </li>
                        {% empty %}
                            <span>{% trans "No stock items" %}</span>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12 right-align">
                    <a href="{% url 'dashboard:product-stock-add' product_pk=product.pk %}" class="btn">
                        <i class="mdi-content-add"></i> {% trans "Add stock" %}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
