{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}{{ title }} - {% trans "Variants" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block page_title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--with-menu">
        <li><a href="{% url "dashboard:products" %}">{% trans "Products" %}</a></li>
        <li><a href="{% url "dashboard:product-update" pk=product.pk %}"><i class="mdi-navigation-chevron-right"></i>{{ product }}</a></li>
        <li><i class="mdi-navigation-chevron-right"></i> {{ title }}</li>
    </ul>
{% endblock %}

{% block content %}
    <form method="post" id="variant-form" enctype="multipart/form-data">
        <div class="row">
            <div class="col l8 offset-l2">
                <div class="row">
                    {% csrf_token %}
                    {{ form|materializecss }}
                    <input type="hidden" name="success_url" value="{% url 'dashboard:product-update' pk=product.pk %}#variants">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l8 offset-l2 right-align">
                <a href="{% url 'dashboard:product-update' pk=product.pk %}#variants" class="btn-flat"><i class="mdi-content-clear"></i> {% trans "Cancel" %}</a>
                {% if variant.pk %}
                    <button type="submit" class="btn"><i class="mdi-content-save"></i> {% trans "Update" %}</button>
                {% else %}
                    <button type="submit" class="btn"><i class="mdi-content-create"></i> {% trans "Create" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}