interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic Og==
    method: GET
    uri: https://sandbox-rest.avatax.com/api/v2/definitions/taxcodes
  response:
    body:
      string: "{\"@recordsetCount\":4745,\"value\":[{\"id\":27764,\"companyId\":1,\"\
        taxCode\":\"PH404218\",\"taxCodeTypeId\":\"P\",\"description\":\"Medical Supplies\
        \ - General: Container - nonmedical\",\"parentTaxCode\":\"0810\",\"isPhysical\"\
        :true,\"goodsServiceCode\":0,\"entityUseCode\":\"\",\"isActive\":true,\"isSSTCertified\"\
        :true,\"createdDate\":\"2013-08-30T05:09:00.383\",\"createdUserId\":0,\"modifiedDate\"\
        :\"2018-02-23T05:42:36.643\",\"modifiedUserId\":0}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ServerDuration:
      - '00:00:00.0025669'
    status:
      code: 200
      message: OK
version: 1
