{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}

{% block title %}{% trans "Discounts" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-discounts{% endblock %}

{% block header_extra %}
    <div class="fixed-action-btn">
        <a class="btn-fab btn-floating btn-large waves-effect waves-light teal"
            href="{% url 'dashboard:discount-add' %}" title="{% trans "Add discount" %}">
            <i class="mdi-content-add"></i>
        </a>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>{% trans "Discounts" %}</li>
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            {% if discounts %}
                <ul class="collection list list--attributes">
                    {% for discount in discounts %}
                        <li class="collection-item list-item list--attributes-item list-item--two-lines">
                            <a class="list-item-name" href="{% url 'dashboard:discount-update' pk=discount.pk %}">{{ discount }}</a>
                            <p class="list-item-desc">
                                {% gross discount.discount %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans "No discounts found." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
