interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic Tm9uZTpOb25l
    method: GET
    uri: https://sandbox-rest.avatax.com/api/v2/definitions/taxcodes
  response:
    body:
      string: '{"error":{"code":"AuthenticationException","message":"Authentication
        failed.","target":"HttpRequestHeaders","details":[{"code":"AuthenticationException","number":30,"message":"Authentication
        failed.","description":"Unable to authenticate the user or the account.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/AuthenticationException","severity":"Exception"},{"code":"StringLengthError","number":13,"message":"Field
        ''password'' has an invalid length.","description":"Field ''password'' must
        be between 5 and 50 characters in length.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/StringLengthError","severity":"Error"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ServerDuration:
      - '00:00:00.0004673'
    status:
      code: 401
      message: Unauthorized
version: 1
