{% load i18n %}
{% load staticfiles %}
{% load price_range from price_ranges %}
{% load discounted_price_range price_difference from discount %}

{% for product in products %}
    <div class="col-xs-6 col-md-4 product-list" itemscope itemtype="https://schema.org/Product" >
        <div class="text-center">
            <div>
                <a itemprop="url" href="{{ product.get_absolute_url }}">
                    {% if product.images.first %}
                        <img itemprop="image" class="img-responsive" src="{{ product.images.first.image.crop.400x400 }}" alt="">
                    {% else %}
                        <img src="{% static 'images/product-image-placeholder.png' %}" alt="" class="img-responsive">
                    {% endif %}
                    <span class="product-list__name" itemprop="name" title="{{ product }}">{{ product }}<br>-</span>
                </a>
            </div>

            <div>
                {% if product.is_in_stock %}
                    {% with price_range=product|discounted_price_range:request.discounts undiscounted=product.get_price_range %}
                        {% with discount=undiscounted.min_price|price_difference:price_range.min_price %}
                            {% price_range price_range %}
                            {% if undiscounted.min_price != price_range.min_price %}
                                <div class="product-list__sale"><span>{% trans "Sale" %}</span></div>
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
