{% extends "base.html" %}
{% load i18n %}
{% load as_horizontal_form from bootstrap %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>
    <li><a href="{% url 'registration:change_password' %}">{% trans "Change password" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<form method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans 'Change password' %}</legend>
        {{ form|as_horizontal_form }}
        <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary">
                {% trans "Update password" %}
            </button>
        </div>
    </div>
</form>
{% endblock %}
