#category-page {
  h2 {
    font-weight: bold;
    padding-bottom: $global-padding/2;
  }
  .category-list {
    margin-top: $global-margin;
  }
  .category-top {
    border-bottom: solid 1px $gray;
    padding-bottom: $global-padding;
    @include media-breakpoint-down(sm) {
      width: 100%;
      position: fixed;
      background: $white;
      z-index: 3;
      top: 5.7rem;
      left: 0;
      padding-top: $global-padding;
    }
    .category-breadcrumbs {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
        li {
          display: inline-block;
          a {
            color: $body-color;
          }
          &:after {
            content: "/";
            padding: 0 $global-padding/2;
          }
          &:last-child:after {
            content: "";
          }
      }
    }
  }
}