.styleguide {
  &__nav {
    a {
      display: block;
    }
    margin-bottom: $global-margin * 2;
  }
  &__content {
    &__note {
      border: 1px solid $gray;
      padding: $global-padding;
      border-radius: 4px;
      p {
        margin-bottom: 0;
      }
    }
    [contenteditable='true'] {
      &:focus {
        outline: none;
      }
    }
    &__block {
      padding-bottom: $global-padding * 3;
      border-bottom: 1px solid $skull-gray;
      &__title {
        padding-top: $global-padding;
        margin-bottom: $global-margin * 2;
      }
      &__bold {
        font-weight: 700;
      }
      &__light {
        font-weight: 300;
      }
      &__color {
        text-align: center;
        div {
          width: 100px;
          height: 100px;
          border-radius: 150px;
          margin: 0 auto $global-margin;
        }
        &--body-color {
          background-color: $body-color;
        }
        &--white {
          background-color: $white;
          border: 1px solid $gray;
        }
        &--light-gray {
          background-color: $light-gray;
        }
        &--gray {
          background-color: $gray;
        }
        &--darken-gray {
          background-color: $darken-gray;
        }
        &--skull-gray {
          background-color: $skull-gray;
        }
        &--blue {
          background-color: $blue;
        }
        &--darken-blue {
          background-color: $darken-blue;
        }
        &--red {
          background-color: $red;
        }
        &--dark-red {
          background-color: $dark-red;
        }
        &--green {
          background-color: $green;
        }
        &--beige {
          background-color: $beige;
        }
      }
      &__grid {
        text-align: center;
        p {
          background-color: $light-gray;
          padding: $global-padding 0;
        }
      }
      &#icons {
        img {
          max-width: 35px;
          display: inline-block;
          margin-right: $global-margin;
        }
      }
      &#buttons {
        button {
          margin: $global-margin / 2;
        }
      }
      .deliveryform {
        label, select {
          float: left;
        }
      }
      .search-form {
        @include media-breakpoint-down(sm) {
          margin-bottom: $global-margin;
          position: relative;
          left: 0;
          .btn {
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}
