.userprofile {
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  &__user {
    h2 {
      margin-right: $global-margin;
      margin-bottom: $global-margin * 2;
    }
    img {
      margin-top: $global-margin / 2;
    }
    
  }
  &__nav {
    margin: $global-margin * 2 0 $global-margin;
  }
  &__orders {
    &-empty {
      margin-top: $global-margin * 2;
    }
  }
  &__password {
    margin-top: $global-margin * 2;
    .btn {
      margin-top: $global-margin;
      float: right;
    }
  }
  &__addresses {
    display: table;
    min-width: 100%;
    border-spacing: $global-margin;
    margin: 0;
  }
  &__address-edit {
    h1 {
      text-align: center;
      font-size: 1.3em;
      text-transform: uppercase;
      padding-bottom: $global-padding;
    }
    .btn {
      padding: $global-padding / 2 $global-padding * 2;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }
}
