doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        - var pageTitle = "Saleor \u2014 an open source storefront written in Python"
        block title
            title
                = pageTitle
        meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(name="theme-color", content="#F5EFDF")
        link(href="static/style.css", rel="stylesheet")
        link(rel="apple-touch-icon-precomposed", sizes="144x144", href="apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon-precomposed", sizes="152x152", href="apple-touch-icon-152x152.png")
        link(rel="icon", type="image/png", href="favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="favicon-16x16.png", sizes="16x16")
        meta(name="application-name", content=pageTitle)
        meta(name="msapplication-TileColor", content="#FFFFFF")
        meta(name="msapplication-TileImage", content="mstile-144x144.png")
        meta(name="google-site-verification", content="o3fAcqwEAmUxNIxf07503fA79ulBGaXsCpxyCf1zb9w")
    block bodyClass
    body(class=bodyClass, itemscope, itemtype="http://schema.org/WebApplication")
        header.header#top
            nav.navbar.navbar-default
                div.container
                    div.navbar-header
                        a.logo(href="/")
                            img.logo-img(src="static/images/logo.svg", alt="")
                    div#navbar.navbar-collapse
                        ul.nav.navbar-right.hidden-xs.hidden-sm
                            li
                                a(class=["btn-menu"], href="#try-it-now") Get
                                    span(itemprop="name")  Saleor
        main
            block main
        footer.footer
            div.footer-in
                ul.footer-menu.hidden-xs
                    li
                        a.footer-brand(href="#top")
                            img.img-responsive(src="static/images/logo.svg", alt="")
                p.copyrights(itemprop="author", itemscope, itemtype="http://schema.org/Organization") &copy; 2015
                    a.tracked-outbound-link(href="https://mirumee.com", itemprop="url")
                        span(itemprop="name")  Mirumee Software
                ul.social-links
                    li.social-links-item
                        a.social-links-link.tracked-outbound-link(href="https://twitter.com/getsaleor")
                            i.social-links-twitter
        script(src="static/site.js")
