doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        block title
            title Saleor
        meta(name="viewport", content="width=device-width,initial-scale=1")
        link(href="static/style.css", rel="stylesheet")
    block bodyClass
    body(class=bodyClass)
        header.header
            nav.navbar.navbar-default
                div.container
                    div.navbar-header
                        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar")
                            span.sr-only Toggle navigation
                            i.mdi-navigation-menu
                        a.btn-menu(href="#") Get Saleor
                        a.logo(href="./")
                            img.logo-img(src="static/images/logo.svg", alt="")
                    div#navbar.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            //li
                                a(href="./business.html") Business
                            //li
                                a(href="./developers.html") Developers
                            li
                                a(class=["btn-menu"], href="#try-it-now") Get Saleor
        main
            block main
        footer.footer
            div.footer-in
                ul.footer-menu
                    li
                        a.footer-brand(href="/") Saleor
                    li
                        a(href="#") About us
                    li
                        a(href="#") Terms of use
                    li
                        a(href="#") Contact
                ul.social-links
                    li.social-links-item
                        a.social-links-link(href="#")
                            i.social-links-twitter
                    li.social-links-item
                        a.social-links-link(href="#")
                            i.social-links-facebook
        script(src="static/site.js")
