{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:product-stock-location-delete' location.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal remove stock location text" %}
Remove stock location {{ location }}
{% endblocktrans %}
{% endblock title %}

{% block content %}
  <div class="col s12">
    <p>
      {% blocktrans trimmed context "Modal remove stock location text" %}
        Are you sure you want to remove stock location <strong>{{ location }}</strong>?
      {% endblocktrans %}
    </p>
    {% if stock_count %}
      <p>
        {% blocktrans trimmed count counter=stock_count context "Modal remove stock location text" %}
          There is one stock associated with this stock location that will be removed.
          {% plural %}
          There are {{ counter }} stocks associated with this stock location that will be removed.
        {% endblocktrans %}
      </p>
    {% endif %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}

