@font-face {
  font-family: Roboto;
  src: local(Roboto Thin), url(/static/assets/Roboto-Thin.woff2) format("woff2"), url(/static/assets/Roboto-Thin.woff) format("woff");
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto Light), url(/static/assets/Roboto-Light.woff2) format("woff2"), url(/static/assets/Roboto-Light.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto Regular), url(/static/assets/Roboto-Regular.woff2) format("woff2"), url(/static/assets/Roboto-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto Medium), url(/static/assets/Roboto-Medium.woff2) format("woff2"), url(/static/assets/Roboto-Medium.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto Bold), url(/static/assets/Roboto-Bold.woff2) format("woff2"), url(/static/assets/Roboto-Bold.woff) format("woff");
  font-weight: 700;
}

*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  font-size: 12px;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

body {
  margin: 0;
}

details, header {
  display: block;
}

header {
  margin-bottom: 60px;
}

h2 {
  font-size: 26px;
  margin: 24px 0 20px;
  font-weight: 400;
  line-height: 1.1;
}

img {
  border: 0;
  &.responsive-img {
    max-width: 100%;
    height: auto;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  width: 100%;
  display: table;
  td, th {
    border: none;
    padding: 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
  }
  thead {
    border-bottom: 1px solid #d0d0d0;
  }
  &.bordered > {
    tbody > tr, thead > tr {
      border-bottom: 1px solid #d0d0d0;
    }
  }
  &.data-table {
    max-width: 100%;
    tr {
      border-bottom: 1px #d0d0d0 solid;
      &:last-child {
        border-bottom: none;
      }
      td {
        height: 30px;
        padding: 5px;
        &:first-child {
          padding-left: 24px;
        }
        &:last-child {
          padding-right: 24px;
        }
      }
    }
    td, th {
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
    }
    th {
      height: 48px;
      padding: 0 5px;
      color: #757575;
      font-weight: 400;
      font-size: 12px;
      &:last-child {
        padding-right: 24px;
      }
    }
    tfoot {
      font-weight: 700;
    }
    .wide {
      width: 180px;
    }
  }
  &.order-table {
    margin-bottom: 30px;
  }
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.currency {
  color: #9e9e9e !important;
}

.formatted-address {
  font-style: normal;
}

.currency {
  font-size: 12px;
  font-weight: 400;
}

@media print {
  html {
    background-color: #fff;
  }
  .data-table th {
    color: rgba(0, 0, 0, 0.87);
  }
}

@page {
  @bottom-center {
    content: "Saleor eCommerce, Mirumee Software";
  }

  @bottom-right {
    content: "Page " counter(page) "/" counter(pages);
  }
}
