{% extends 'dashboard/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
  {{ attribute }} - {{ block.super }}
{% endblock %}

{% block body_class %}body-attribute{% endblock %}

{% block menu_attributes_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url 'dashboard:product-attributes' %}" class="breadcrumbs--ellipsed-item">
      {% trans "Attributes" context "Attribute detail breadcrumbs" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url 'dashboard:product-attributes' %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {{ attribute }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}

  <div class="row">
    <div class="col s12 l9">
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {{ attribute.name }}
          </span>
        </div>
        {% if perms.product.edit_properties %}
        <div class="card-action">
          <a class="btn-flat waves-effect" href="{% url "dashboard:product-attribute-update" attribute.pk %}">
            {% trans "Edit attribute" context "Attribute detail action" %}
          </a>
          <a class="btn-flat waves-effect modal-trigger-custom" href="#base-modal" data-href="{% url 'dashboard:product-attribute-delete' pk=attribute.pk %}">
            {% trans "Remove attribute" context "Attribute detail action" %}
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col s12 l9">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{% trans "Attribute values" %}</span>
        </div>
        {% if perms.product.edit_product %}
          <div class="data-table-header-action">
            <a href="{% url 'dashboard:product-attribute-value-add' attribute_pk=attribute.pk %}" class="btn-flat waves-effect">
              {% trans "Add" %}
            </a>
          </div>
        {% endif %}
        <div class="data-table-container">
          <table class="bordered highlight responsive data-table">
            <thead>
              <tr>
                <th>{% trans "Display name" %}</th>
                <th>{% trans "Color" %}</th>
                {% if perms.product.edit_product %}
                  <th></th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for value in attribute.values.all %}
                <tr>
                  <td>
                    {{ value.name }}
                  </td>
                  <td>
                    {% if value.color %}
                      {{ value.color }}
                    {% else %}
                      -
                    {% endif %}
                  </td>
                  {% if perms.product.edit_product %}
                    <td class="right-align">
                      <a href="{% url 'dashboard:product-attribute-value-update' attribute_pk=attribute.pk value_pk=value.pk %}" class="btn-flat waves-effect">
                        {% trans 'Edit' context 'Attribute choice value edit action' %}
                      </a>
                      <a class="btn-flat waves-effect modal-trigger-custom" href="#base-modal" data-href="{% url 'dashboard:product-attribute-value-delete' attribute_pk=attribute.pk value_pk=value.pk %}">
                        {% trans 'Remove' context 'Attribute choice value edit action' %}
                      </a>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
