.cart {
  .col-md-2 {
    text-align: right;
  }
  &__table-header {
    color: $gray;
    border-bottom: 1px solid $light-gray;
    padding-bottom: $global-padding / 2;
  }
  &__line {
    padding: $global-padding / 2 0;
    &:not(:nth-last-of-type(2)) {
      border-bottom: 1px solid $light-gray;
    }
    .col-md-2 {
      margin-top: $global-margin;
    }
    &__product {
      a {
        transition: 0.3s;
        color: $body-color;
        &:hover {
          text-decoration: none;
          color: rgba($body-color, 0.6);
        }
        h3 {
          display: inline-block;
          margin-top: $global-margin;
          small {
            color: $gray;
          }
        }
        img {
          vertical-align: top;
        }
      }
    }
  }
  &__total {
    border-top: 1px solid $gray;
    padding-top: $global-padding;
    margin-bottom: $global-margin;
    p {
      color: $gray;
    }
    h3 {
      margin-bottom: 0;
    }
  }
  &__empty {
    text-align: center;
    img {
      margin: $global-margin * 2 0;
    }
    .btn {
      margin: $global-margin * 2 0 $global-margin * 5;
    }
  }
}
