@font-face {
  font-family: 'Lato';
  src: url('../../fonts/Lato-Regular.woff2') format('woff2'),
       url('../../fonts/Lato-Regular.woff') format('woff'),
       url('../../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Lato';
  src: url('../../fonts/Lato-Bold.woff2') format('woff2'),
       url('../../fonts/Lato-Bold.woff') format('woff'),
       url('../../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Lato';
  src: url('../../fonts/Lato-Black.woff2') format('woff2'),
       url('../../fonts/Lato-Black.woff') format('woff'),
       url('../../fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
}
