.footer {
  background-color: $gray;
  padding: $global-padding * 2 0;
  margin-top: $global-margin * 8;
  @include media-breakpoint-down(xs) {
    text-align: center;
  }
  &__logo {
    margin-bottom: $global-margin;
  }
  ul {
    list-style: none;
    padding-left: 0;
    a {
      color: $white;
      line-height: 2;
    }
  }
  a {
    transition: 0.3s;
    &:hover {
      text-decoration: none;
      opacity: 0.6;
    }
    &.github-footer {
      margin-right: $global-margin;
    }
  }
}

//make footer stick to the bottom
.maincontent {
  min-height: calc(100vh - 294px - 191px - 30px);
  @include media-breakpoint-down(sm) {
    margin-top: 85px;
  }
}