.product-list {
  text-align: center;
  img {
    max-width: 100%;
  }
  a {
    color: $body-color;
    &:hover {
      text-decoration: none;
    }
  }
  &__name {
    font-weight: 700;
    margin-top: $global-margin / 2;
    display: block;
  }
}