.userprofile {
  &__nav {
    background-color: $light-gray;
    padding: $global-padding 0;
    margin-bottom: $global-margin;
    .nav-link {
      color: $gray;
      border: 0;
      &:first-of-type {
        margin-right: $global-margin * 3;
      }
      &.active, &.active:hover, &.active:focus {
        background-color: transparent;
        border: 0;
        color: $body-color;
      }
    }
    ul {
      border-bottom: 0;
    }
  }
  &__address-row {
    padding: $global-padding 0;
    border-bottom: 1px solid $light-gray;
    &:last-of-type {
      margin-bottom: $global-margin * 2;
    }
    img {
      margin-left: $global-margin;
    }
  }
  &__orders {
    border: 0;
    a {
      color: $body-color;
    }
    .card-header {
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid $light-gray;
      padding-left: 0;
      padding-right: 0;
    }
    .collapsed {
      .card-header {
        border-color: $gray;
        .userprofile__orders__arrow-icon {
          transform: rotate(90deg);
        }
      }
    }
    &__arrow-icon {
      width: 10px;
      transform: rotate(270deg);
      transition: 0.3s;
      margin-right: $global-margin / 2;
    }
    .card-block {
      padding-left: $global-padding;
      padding-right: $global-padding * 2;
      background-color: #F9F9F9;
      margin-left: -$global-margin;
      margin-right: -$global-margin;
    }
    &__details {
      address {
        margin-top: $global-margin;
      }
      &__products {
        @include media-breakpoint-down(sm) {
          padding-left: $global-padding * 2;
        }
        span {
          color: $gray;
        }
        img {
          margin-right: $global-margin;
        }
        .row {
          padding-top: $global-padding;
          &:not(:last-of-type) {
            border-bottom: 1px solid $light-gray;
          }
          &:nth-last-of-type(2) {
            border-bottom: 1px solid $gray;
          }
        }
      }
    }
  }
  &__address-edit {
    &__form {
      margin-bottom: $global-margin * 2;
    }
  }
}
