{% load i18n %}
{% load get_internal_page_url from urls %}

<div id="cookie-prompter">
  <p>
    {% blocktrans trimmed context "Cookie prompter box, information about cookies" %}
      This website uses cookies to improve user experience.
      By using this website, you are accepting our policy about cookies.
    {% endblocktrans %}
    <a href="{% get_internal_page_url 'PrivacyPolicy' %}">
      {% trans "Read further." context "Cookie prompter box, read more link after the information text" %}
    </a>
  </p>

  <button class="btn btn-primary btn-sm">
    {% trans "I accept" context "Cookie prompter box, accept/ close button" %}
  </button>
</div>
