{% load i18n %}

{% get_language_info_list for LANGUAGES as languages %}
<div id="languagePickerModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Select language" context "Change language modal title" %}</h5>
      </div>
      <form id="language-picker" action="{% url 'set_language' %}" method="POST">
      <div class="modal-body">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ request.get_full_path }}">
          {% for language in languages %}
            <div class="radio">
              <label>
                <input type="radio" name="language" value="{{ language.code}}" {% if language.code == LANGUAGE_CODE %}checked{% endif %}>
                {{ language.name_local }}
              </label>
            </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" context "Close modal action button" %}</button>
          <button type="submit" id="language-picker-btn" class="btn btn-primary narrow">{% trans "Change" context "Change language action button" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
