{% load i18n %}	
{% get_current_language as LANGUAGE_CODE %}	
{% get_language_info_list for LANGUAGES as languages %}

{% if languages|length > 1 %}
<div class="dropdown-menu scrollable-menu">
  <form id="language-picker" action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path }}">
    {% for language in languages %}
      <a data-lang="{{ language.code }}" class="dropdown-item language-pick dropdown-link{% if language.code == LANGUAGE_CODE %} active{% endif %}">
        {{ language.name_local }}
      </a>
    {% endfor %}
  </form>
</div>
{% endif %}
