<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<html lang="en" class="no-js">
    <head>
        <title>{% block title %}Saleor{% endblock %}</title>
        {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="{% trans "Mirumee Software" %}">
        {% endblock meta %}

        {% render_bundle 'vendor' 'css' %}
        {% render_bundle 'storefront' 'css' %}

        {% block stylesheet %}{% endblock stylesheet %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        {% block header %}
            <header class="navbar" role="navigation">
                <div class="navbar__login hidden-sm-down">
                  <div class="container">
                    <div class="row">
                      <div class="col-6">
                        <p class="text-left">{% trans "Test Saleor - a sample shop!" %}</p>
                      </div>
                      <div class="col-6">
                        <ul class="float-right">
                          {% if user.is_authenticated %}
                            {% if user.is_staff %}
                              <li>
                                <a href="{% url "dashboard:index" %}" traget="_blank">{% trans "Dashboard" %}</a>
                              </li>
                            {% endif %}
                            <li>
                              <a href="{% url "profile:details" %}">{% trans "Your account" %}</a> 
                            </li>
                            <li>
                              <a href="{% url "account_logout" %}">{% trans "Log out" %}</a>
                            </li>
                          {% else %}
                            <li>
                              <a href="{% url "account_signup" %}">{% trans "Register" %}</a>
                            </li>
                            <li>
                              <a href="{% url "account_login" %}">{% trans "Log in" %}</a>
                            </li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navbar__brand">
                  <div class="container">
                    <div class="row no-gutters">
                      <div class="col-8 col-md-4">
                        <img class="hidden-md-up navbar__brand__menu-toggle closed open" src="{% static "img/mobile-bar.svg" %}">
                        <a href="/" class="float-right float-md-left">
                          <img src="{% static "img/saleor-logo-black.svg" %}" alt="Testeor - Saleor demo store" height="38">
                        </a>
                      </div>
                      <div class="col-2 col-md-4 static">
                        {% if SEARCH_IS_ENABLED %}
                          <img class="hidden-md-up mobile-search-icon float-right" src="{% static "img/search-icon-black.svg" %}">
                        {% endif %}
                        {% if SEARCH_IS_ENABLED %}
                          <form class="form-inline navbar__brand__search" action="{% url "search:search" %}">
                            <img class="mobile-close-search hidden-md-up" src="{% static "img/close-icon.svg" %}">
                            <input class="form-control search-input" type="text" name="q" value="{% if query %}{{ query }}{% endif %}">
                            <button class="btn btn-link" type="submit">
                              <img src="{% static "img/search-icon.svg" %}">
                            </button>
                          </form>
                        {% endif %}
                      </div>
                      <div class="col-2 col-md-4">
                        <div class="navbar__brand__cart float-right">
                          <a href="{% url "cart:index" %}">
                            <span class="cart-label hidden-sm-down">{% trans "Your Cart" %}</span>
                            <img class="navbar__brand__cart__icon" src="{% static "img/cart.svg" %}" alt="Cart">
                            <span class="badge {% if not cart_counter %}empty{% endif %}">
                              {% if cart_counter %}
                                {{ cart_counter }}
                              {% else %}
                                0
                              {% endif %}
                            </span>
                          </a>
                          <div class="cart-dropdown hidden-md-down">
                          {% include 'cart-dropdown.html' %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navbar__menu">
                  <div class="container">
                    <nav class="navigation">
                      {% url 'home' as home_url %}
                      <ul class="nav navbar-nav{% if request.get_full_path == home_url %} no-border{% endif %}" >
                        {% for category in categories %}
                            <li class="nav-item">
                              <a class="nav-link" href="{{ category.get_absolute_url }}">
                                  {{ category }}
                              </a>
                            </li>
                        {% endfor %}
                      </ul>
                    </nav>
                  </div>
                </div>
            </header>
        {% endblock %}
        <div class="container maincontent">
            {% if messages %}
                {% for message in messages %}
                <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% block breadcrumb %}
            {% endblock breadcrumb %}
            {% block content %}
            {% endblock content %}
        </div>
        {% block footer %}
            <footer class="footer">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3">
                      <a href="/">
                        <img class="footer__logo" src="{% static "images/saleor-logo.svg" %}" height="40" alt="Testeor - Saleor demo store">
                      </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <ul>
                        {% for category in categories %}
                            <li>
                                <a href="{{ category.get_absolute_url }}">
                                    {{ category }}
                                </a>
                            </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <ul>
                        <li>
                          <a href="{% url "cart:index" %}">
                            {% trans "Cart" %}
                          </a>
                        </li>
                        {% if user.is_authenticated %}
                          {% if user.is_staff %}
                              <li>
                                <a href="{% url "dashboard:index" %}" traget="_blank">{% trans "Dashboard" %}</a>
                              </li>
                          {% endif %}
                          <li>
                            <a href="{% url "profile:details" %}">
                              {% trans "Your account" %}
                            </a>
                          </li>
                          <li>
                            <a href="{% url "account_logout" %}">{% trans "Log out" %}</a>
                          </li>
                        {% else %}
                          <li>
                            <a href="{% url "account_signup" %}">{% trans "Register" %}</a>
                          </li>
                          <li>
                            <a href="{% url "account_login" %}">{% trans "Log in" %}</a>
                          </li>
                        {% endif %}
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <a target="_blank" class="github-footer" href="https://github.com/mirumee/saleor">
                        <img src="{% static "images/github_logo.svg" %}">
                      </a>
                      <a target="_blank" href="https://twitter.com/getsaleor">
                        <img src="{% static "images/twitter_logo.svg" %}">
                      </a>
                    </div>
                  </div>
                </div>
            </footer>
        {% endblock %}
        {% block footer_scripts %}
            {% render_bundle 'vendor' 'js' %}
            {% render_bundle 'storefront' 'js' %}
        {% endblock footer_scripts %}
    </body>
</html>

