{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="home">
    <div class="row">
      {% for page_block in blocks %}
      <div class="home--square--container {{ page_block.html_classes }}">
        <div class="home--square"
             style="background-image: url('{{ page_block.cover_url }}')">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <div class="home--content-inner--padded">
                  <h2>{{ page_block.title }}</h2>
                  {% if page_block.subtitle %}
                    <h3>{{ page_block.subtitle }}</h3>
                  {% endif %}
                </div>
                <a class="btn btn-secondary home__button" href="{{ page_block.url }}">
                  {{ page_block.primary_button }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="home__featured">
      <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
      <div class="row">
        {% include "product/_items.html" %}
      </div>
    </div>
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
