{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="home">
      <div class="row">
        <div class="col-sm-12 home__block1">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1>{% trans "Promo &amp; Sale" %}</h1>
                  <h2>{% trans "form the Northpole" %}</h2>
                    <a class="btn btn-secondary home__button" href="{% if featured_categories %}{{ featured_categories.0.get_absolute_url }}{% endif %}">{% trans "Shop now" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 home__block2">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1>{% trans "Size &amp; Colours" %}</h1>
                  <a class="btn btn-secondary home__button" href="{% if featured_categories %}{{ featured_categories.1.get_absolute_url }}{% endif %}">{% trans "Shop now" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 home__block3">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1>{% trans "Digital Downloads" %}</h1>
                  <a class="btn btn-secondary home__button" href="{% if featured_categories %}{{ featured_categories.2.get_absolute_url }}{% endif %}">{% trans "Shop now" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if products|length %}
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" %}</h2>
        <div class="row">
          {% include "category/_items.html" %}
        </div>
      </div>
      {% endif %}
    </div>

{% endblock %}
