{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}
    <div class="container navbar__login">
    </div>
    <header class="checkout__header">
      <div class="container">
        <a href="/">
          <img src="{% static "images/saleor-logo-black.svg" %}"
               alt="{% trans "Testeor - Saleor demo store" context "Checkout logo alternate text" %}"
               height="38">
        </a>
        <h1>{% trans "Style guide" context "Style guide title" %}</h1>
      </div>
    </header>
{% endblock %}

{% block content %}
<div class="container styleguide">
  <div class="row">
    <div class="col-md-3">
      <nav class="styleguide__nav">
        <a href="#identity">{% trans "Identity" context "Identity title in style guide" %}</a>
        <a href="#typography">{% trans "Typography" context "Typography title in style guide" %}</a>
        <a href="#colors">{% trans "Colors" context "Colors title in style guide" %}</a>
        <a href="#grid">{% trans "Grid" context "Grid title in style guide" %}</a>
        <a href="#icons">{% trans "Icons" context "Icons title in style guide" %}</a>
        <a href="#buttons">{% trans "Buttons" context "Buttons title in style guide" %}</a>
        <a href="#forms">{% trans "Forms" context "Forms title in style guide" %}</a>
        <a href="#filters">{% trans "Filters" context "Filters title in style guide" %}</a>
        <a href="#pagination">{% trans "Pagination" context "Pagination title in style guide" %}</a>
        <a href="#breadcrumbs">{% trans "Breadcrumbs" context "Breadcrumbs title in style guide" %}</a>
        <a href="#notifications">{% trans "Notifications" context "Notifications title in style guide" %}</a>
        <a href="#mainnav">{% trans "Main navigation" context "Main navigation title in style guide" %}</a>
        <a href="#tabs">{% trans "Tabs" context "Tabs title in style guide" %}</a>
        <a href="#tables">{% trans "Tables" context "Tables title in style guide" %}</a>
        <a href="#cards">{% trans "Cards" context "Cards title in style guide" %}</a>
      </nav>
    </div>
    <div class="col-md-9 styleguide__content">
      <div id="identity" class="styleguide__content__block">
        <h3 class="styleguide__content__block__title">{% trans "Identity" context "Identity title in style guide" %}</h3>
        <div class="row">
          <div class="col-md-6">
            <p>{% trans "Logo" %}</p>
            <img src="{% static "images/saleor-logo-black.svg" %}" alt="Testeor - Saleor demo store" height="38">
          </div>
          <div class="col-md-6">
            <p>{% trans "Favicon" %}</p>
            <img src="{% static "images/favicons/ms-icon-150x150.png" %}" alt="Testeor - Saleor demo store" height="38">
          </div>
        </div>
      </duiv>
    </div>
    <div id="typography" class="styleguide__content__block">
      <h3 class="styleguide__content__block__title">{% trans "Typography" context "Typography title in style guide" %}</h3>
      <p>We use Lato fontface in Regular(400), <span class="styleguide__content__block__light">Light(300)</span> and <span class="styleguide__content__block__bold">Bold(700)</span> weights.</p>
      <h1>h1 / Header</h1>
      <h2>h2 / Header</h2>
      <h3>h3 / Header (always uppercased)</h3>
      <p>p / Simple paragraph</p>
      <a href="#">a / Simple link</a>
      <a href="#" class="link--styled">a / Styled link</a>
    </div>
    <div id="colors" class="styleguide__content__block">
      <h3 class="styleguide__content__block__title">{% trans "Colors" context "Colors title in style guide" %}</h3>
      <div class="row">
        <div class="col-md-3 styleguide__content__block__color">
          <div class="styleguide__content__block__color--body-color">
          </div>
          <p>#333333<br>$body-color</p>
        </div>
        <div class="col-md-3 styleguide__content__block__color">
          <div class="styleguide__content__block__color--white">
          </div>
          <p>#ffffff<br>$white</p>
        </div>
        <div class="col-md-3 styleguide__content__block__color">
          <div class="styleguide__content__block__color--light-gray">
          </div>
          <p>#f2f2f2<br>$light-gray</p>
        </div>
        <div class="col-md-3 styleguide__content__block__color">
          <div class="styleguide__content__block__color--gray">
          </div>
          <p>#D3D1D0<br>$gray</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 styleguide__content__block__color">
          <div class="styleguide__content__block__color--darken-gray">
          </div>
          <p>#bab7b6<br>$darken-gray</p>
        </div>
        <div class="col-md-3 styleguide__content__block__color">
          <div class="styleguide__content__block__color--skull-gray">
          </div>
          <p>#828282<br>$skull-gray</p>
        </div>
        <div class="col-md-3 styleguide__content__block__color">
          <div class="styleguide__content__block__color--blue">
          </div>
          <p>#26A5D4<br>$blue</p>
        </div>
        <div class="col-md-3 styleguide__content__block__color">
          <div class="styleguide__content__block__color--darken-blue">
          </div>
          <p>#1e83a9<br>$darken-blue</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 styleguide__content__block__color">
          <div class="styleguide__content__block__color--red">
          </div>
          <p>#EB5757<br>$red</p>
        </div>
        <div class="col-md-3 styleguide__content__block__color">
          <div class="styleguide__content__block__color--dark-red">
          </div>
          <p>#c53636<br>$dark-red</p>
        </div>
        <div class="col-md-3 styleguide__content__block__color">
          <div class="styleguide__content__block__color--green">
          </div>
          <p>#27AE60<br>$green</p>
        </div>
        <div class="col-md-3 styleguide__content__block__color">
          <div class="styleguide__content__block__color--beige">
          </div>
          <p>#FFFAEC<br>$beige</p>
        </div>
      </div>
    </div>
    <div id="grid" class="styleguide__content__block">
      <h3 class="styleguide__content__block__title">{% trans "Grid" context "Grid title in style guide" %}</h3>
      <p>We use <a href="https://v4-alpha.getbootstrap.com/getting-started/introduction/">Bootstrap 4</a> responsive grid which is based on a 12 column layout. In most cases we use following combinations:</p>
      <div class="row styleguide__content__block__grid">
        <div class="col-md-3 col-6">
          <p>col-md-3 col-6</p>
        </div>
        <div class="col-md-3 col-6">
          <p>col-md-3 col-6</p>
        </div>
        <div class="col-md-3 col-6">
          <p>col-md-3 col-6</p>
        </div>
        <div class="col-md-3 col-6">
          <p>col-md-3 col-6</p>
        </div>
      </div>
      <div class="row styleguide__content__block__grid">
        <div class="col-md-6">
          <p>col-md-6</p>
        </div>
        <div class="col-md-6">
          <p>col-md-6</p>
        </div>
      </div>
      <div class="row styleguide__content__block__grid">
        <div class="col-lg-10 offset-lg-1">
          <p>col-lg-10 offset-lg-1</p>
        </div>
      </div>
      <div class="row styleguide__content__block__grid">
        <div class="col-md-7">
          <p>col-md-7</p>
        </div>
        <div class="col-md-5 styleguide__content__block__grid">
          <p>col-md-5</p>
        </div>
      </div>
    </div>
    <div id="buttons" class="styleguide__content__block">
      <h3 class="styleguide__content__block__title">{% trans "Buttons" context "Buttons title in style guide" %}</h3>
      <div class="row">
        <div class="container">
          <button class="btn primary">
              {% trans "Primary" context "Primary button example in styleguide" %}
          </button>
          <button class="btn secondary">
              {% trans "Secondary" context "Secondary button example in styleguide" %}
          </button>
          <button class="btn danger">
              {% trans "Danger" context "Danger button example in styleguide" %}
          </button>
          <button class="btn gray">
              {% trans "Gray" context "Gray button example in styleguide" %}
          </button>
        </div>

      </div>
      <div class="row">
        <div class="container">
          <button class="btn primary narrow">
              {% trans "Primary narrow" context "Primary narrow button example in styleguide" %}
          </button>
          <button class="btn secondary narrow">
              {% trans "Secondary narrow" context "Secondary narow button example in styleguide" %}
          </button>
          <button class="btn danger narrow">
              {% trans "Danger narrow" context "Danger narow button example in styleguide" %}
          </button>
        </div>

      </div>
    </duiv>
  </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}


{% load i18n %}