{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load gross from prices_i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block header %}
<div class="container navbar__login">
</div>
<header class="checkout__header">
  <div class="container">
    <a href="/">
      <img src="{% static "images/saleor-logo-black.svg" %}"
      alt="{% trans "Testeor - Saleor demo store" context "Checkout logo alternate text" %}"
      height="38">
    </a>
    <h1>{% trans "Style guide" context "Style guide title" %}</h1>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="container styleguide">
  <div class="row">
    <div class="col-md-3">
      <nav class="styleguide__nav">
        <a href="#identity">{% trans "Identity" context "Identity title in style guide" %}</a>
        <a href="#typography">{% trans "Typography" context "Typography title in style guide" %}</a>
        <a href="#colors">{% trans "Colors" context "Colors title in style guide" %}</a>
        <a href="#grid">{% trans "Grid" context "Grid title in style guide" %}</a>
        <a href="#icons">{% trans "Icons" context "Icons title in style guide" %}</a>
        <a href="#buttons">{% trans "Buttons" context "Buttons title in style guide" %}</a>
        <a href="#forms">{% trans "Forms" context "Forms title in style guide" %}</a>
        <a href="#pagination">{% trans "Pagination" context "Pagination title in style guide" %}</a>
        <a href="#breadcrumbs">{% trans "Breadcrumbs" context "Breadcrumbs title in style guide" %}</a>
        <a href="#notifications">{% trans "Notifications" context "Notifications title in style guide" %}</a>
        <a href="#mainnav">{% trans "Main navigation" context "Main navigation title in style guide" %}</a>
        <a href="#tabs">{% trans "Tabs" context "Tabs title in style guide" %}</a>
        <a href="#tables">{% trans "Tables" context "Tables title in style guide" %}</a>
        <a href="#cards">{% trans "Cards" context "Cards title in style guide" %}</a>
      </nav>
    </div>
    <div class="col-md-9 styleguide__content">
      <div id="identity" class="styleguide__content__block">
        <h3 class="styleguide__content__block__title">{% trans "Identity" context "Identity title in style guide" %}</h3>
        <div class="row">
          <div class="col-md-6">
            <p>{% trans "Logo" %}</p>
            <img src="{% static "images/saleor-logo-black.svg" %}" alt="Testeor - Saleor demo store" height="38">
          </div>
          <div class="col-md-6">
            <p>{% trans "Favicon" %}</p>
            <img src="{% static "images/favicons/ms-icon-150x150.png" %}" alt="Testeor - Saleor demo store" height="38">
          </div>
        </div>
      </div>
      <div id="typography" class="styleguide__content__block">
        <h3 class="styleguide__content__block__title">{% trans "Typography" context "Typography title in style guide" %}</h3>
        <p>
          {% blocktrans context "Fontface description in style guide" %}
          We use Lato fontface in Regular(400), <span class="styleguide__content__block__light">Light(300)</span> and <span class="styleguide__content__block__bold">Bold(700)</span> weights.
          {% endblocktrans %}
        </p>
        <h1>{% trans "h1 / Header" context "h1 header example in style guide" %}</h1>
        <h2>{% trans "h2 / Header" context "h2 header example in style guide" %}</h2>
        <h3>{% trans "h3 / Header (always uppercased)" context "h3 header example in style guide" %}</h3>
        <p>{% trans "p / Simple paragraph" context "paragraph example in style guide" %}</p>
        <a href="#">{% trans "a / Simple link" context "simple link example in style guide" %}</a>
        <a href="#" class="link--styled">{% trans "a / Styled link" context "styled link example in style guide" %}</a>
      </div>
      <div id="colors" class="styleguide__content__block">
        <h3 class="styleguide__content__block__title">{% trans "Colors" context "Colors title in style guide" %}</h3>
        <div class="row">
          <div class="col-md-3 styleguide__content__block__color">
            <div class="styleguide__content__block__color--body-color">
            </div>
            <p>#333333<br>$body-color</p>
          </div>
          <div class="col-md-3 styleguide__content__block__color">
            <div class="styleguide__content__block__color--white">
            </div>
            <p>#ffffff<br>$white</p>
          </div>
          <div class="col-md-3 styleguide__content__block__color">
            <div class="styleguide__content__block__color--light-gray">
            </div>
            <p>#f2f2f2<br>$light-gray</p>
          </div>
          <div class="col-md-3 styleguide__content__block__color">
            <div class="styleguide__content__block__color--gray">
            </div>
            <p>#D3D1D0<br>$gray</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 styleguide__content__block__color">
            <div class="styleguide__content__block__color--darken-gray">
            </div>
            <p>#bab7b6<br>$darken-gray</p>
          </div>
          <div class="col-md-3 styleguide__content__block__color">
            <div class="styleguide__content__block__color--skull-gray">
            </div>
            <p>#828282<br>$skull-gray</p>
          </div>
          <div class="col-md-3 styleguide__content__block__color">
            <div class="styleguide__content__block__color--blue">
            </div>
            <p>#26A5D4<br>$blue</p>
          </div>
          <div class="col-md-3 styleguide__content__block__color">
            <div class="styleguide__content__block__color--darken-blue">
            </div>
            <p>#1e83a9<br>$darken-blue</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 styleguide__content__block__color">
            <div class="styleguide__content__block__color--red">
            </div>
            <p>#EB5757<br>$red</p>
          </div>
          <div class="col-md-3 styleguide__content__block__color">
            <div class="styleguide__content__block__color--dark-red">
            </div>
            <p>#c53636<br>$dark-red</p>
          </div>
          <div class="col-md-3 styleguide__content__block__color">
            <div class="styleguide__content__block__color--green">
            </div>
            <p>#27AE60<br>$green</p>
          </div>
          <div class="col-md-3 styleguide__content__block__color">
            <div class="styleguide__content__block__color--beige">
            </div>
            <p>#FFFAEC<br>$beige</p>
          </div>
        </div>
      </div>
      <div id="grid" class="styleguide__content__block">
        <h3 class="styleguide__content__block__title">{% trans "Grid" context "Grid title in style guide" %}</h3>
        <p>
          {% blocktrans context "bootstrap grid description in style guide" %}
          We use <a href="https://v4-alpha.getbootstrap.com/getting-started/introduction/">Bootstrap 4</a> responsive grid which is based on a 12 column layout. In most cases we use following combinations:
          {% endblocktrans %}
        </p>
        <div class="row styleguide__content__block__grid">
          <div class="col-md-3 col-6">
            <p>col-md-3 col-6</p>
          </div>
          <div class="col-md-3 col-6">
            <p>col-md-3 col-6</p>
          </div>
          <div class="col-md-3 col-6">
            <p>col-md-3 col-6</p>
          </div>
          <div class="col-md-3 col-6">
            <p>col-md-3 col-6</p>
          </div>
        </div>
        <div class="row styleguide__content__block__grid">
          <div class="col-md-6">
            <p>col-md-6</p>
          </div>
          <div class="col-md-6">
            <p>col-md-6</p>
          </div>
        </div>
        <div class="row styleguide__content__block__grid">
          <div class="col-lg-10 offset-lg-1">
            <p>col-lg-10 offset-lg-1</p>
          </div>
        </div>
        <div class="row styleguide__content__block__grid">
          <div class="col-md-7">
            <p>col-md-7</p>
          </div>
          <div class="col-md-5 styleguide__content__block__grid">
            <p>col-md-5</p>
          </div>
        </div>
      </div>
      <div id="buttons" class="styleguide__content__block">
        <h3 class="styleguide__content__block__title">{% trans "Buttons" context "Buttons title in style guide" %}</h3>
        <div class="row">
          <div class="container">
            <button class="btn primary">
              {% trans "Primary" context "Primary button example in styleguide" %}
            </button>
            <button class="btn secondary">
              {% trans "Secondary" context "Secondary button example in styleguide" %}
            </button>
            <button class="btn danger">
              {% trans "Danger" context "Danger button example in styleguide" %}
            </button>
            <button class="btn gray">
              {% trans "Gray" context "Gray button example in styleguide" %}
            </button>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <button class="btn primary narrow">
              {% trans "Primary narrow" context "Primary narrow button example in styleguide" %}
            </button>
            <button class="btn secondary narrow">
              {% trans "Secondary narrow" context "Secondary narow button example in styleguide" %}
            </button>
            <button class="btn danger narrow">
              {% trans "Danger narrow" context "Danger narow button example in styleguide" %}
            </button>
          </div>
        </div>
      </div>
      <div id="forms" class="styleguide__content__block">
        <h3 class="styleguide__content__block__title">{% trans "Forms" context "Forms title in style guide" %}</h3>
        <p>{% trans "Text form" context "Text form example in style guide" %}:</p>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="control-label" for="id_first_name">{% trans "Given name" context "Form label in style guide" %}</label>
              <input autocomplete="given-name" class="form-control" id="id_first_name" maxlength="256" name="first_name" title="" type="text">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="control-label" for="id_last_name">{% trans "Family name" context "Form label in style guide" %}</label>
              <input autocomplete="family-name" class="form-control" id="id_last_name" maxlength="256" name="last_name" title="" type="text">
            </div>
          </div>    
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label class="control-label" for="id_first_name">{% trans "Email" context "Form label in style guide" %}</label>
              <input autocomplete="given-name" class="form-control" id="id_first_name" maxlength="256" name="first_name" title="" type="text">
              <span class="help-block">
                <div class="help-block">{% trans "This field is required" context "Text form error message example in style guide" %}.</div>
              </span>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p>{% trans "Filters" context "Filters example in style guide" %}:</p>
            <div class="product-filters">
              <h3>{% trans "Box Size" context "Filter name in style guide" %}
                <div class="collapse-filters-icon">
                  <img src="/static/images/chevron-up-icon.svg">
                </div>
              </h3>
              <ul id="box-size">
                <li class="item"><label><input type="checkbox" name="box-size" value="100g">100g</label></li>
                <li class="item"><label><input type="checkbox" name="box-size" value="250g">250g</label></li>
                <li class="item"><label><input type="checkbox" name="box-size" value="500g">500g</label></li>
                <li class="item"><label><input type="checkbox" name="box-size" value="1kg">1kg</label></li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-7">
            <p>{% trans "Select" context "Select example in style guide" %}:</p>
            <div class="deliveryform">
              {{ country_form }}
            </div>
          </div>
          <div class="col-md-3">
            <p>{% trans "Number input" context "Number input example in style guide" %}:</p>
            <form role="form" class="form-cart">
              <div class="" tabindex="-1">
                <input id="id_quantity" max="50" min="1" name="quantity" type="number" value="2" required="">
              </div>
            </form>
          </div>
        </div>
        <hr>
        <p>{% trans "Radio buttons" context "Radio buttons example in style guide" %}:</p>
        {% bootstrap_form shipping_method_form show_label=False %}
        <hr>
        <p>{% trans "Input groups" context "Input groups example in style guide" %}:</p>
        <div class="row">
          <div class="col-md-6">
            <form class="form-inline search-form" action="{% url "search:search" %}">
              <input class="form-control" type="text" name="q" value="{% if query %}{{ query }}{% endif %}" placeholder="{% trans "Search for product" %}">
              <button class="btn btn-link" type="submit">
                <img src="{% static "images/search-icon.svg" %}">
              </button>
            </form>
          </div>
          <div class="col-md-6">
            <form class="form-group input-btn">
              <div class="form-group">
                <input class="form-control" id="id_discount-voucher" name="discount-voucher" title="" type="text" required="">
              </div>
              <button class="btn secondary narrow" type="submit">{% trans "Use" context "Checkout voucher form action" as use_voucher %}</button>
            </form>
          </div>
        </div>
        <hr>
        <p>{% trans "Variant picker" context "Variant picker example in style guide" %}:</p>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-secondary variant-picker__option"><input type="radio" name="4" value="on">100g</label>
          <label class="btn btn-secondary variant-picker__option" aria-pressed="true"><input type="radio" name="5" value="on">250g</label>
          <label class="btn btn-secondary variant-picker__option active" aria-pressed="true"><input type="radio" name="6" value="on" checked="">500g</label>
        </div>
      </div>
      <div id="pagination" class="styleguide__content__block">
        <h3 class="styleguide__content__block__title">{% trans "Pagination" context "Pagination title in style guide" %}</h3>
        <ul class="pagination">
          <li class="prev disabled"><a>«</a></li>
          <li><a>1</a></li>
          <li class="active"><a>2</a></li>
          <li><a>3</a></li>
          <li class="last disabled"><a>»</a></li>
        </ul>
      </div>
      <div id="breadcrumbs" class="styleguide__content__block">
        <h3 class="styleguide__content__block__title">{% trans "Breadcrumbs" context "Breadcrumbs title in style guide" %}</h3>
        <ul class="breadcrumbs list-unstyled">
          <li><a href="/">
            {% trans "Home" context "Edit/new address breadcrumb" %}
          </a></li>
          <li><a href="{% url "profile:details" %}">
            {% trans "Your profile" context "Edit/new address breadcrumb" %}
          </a></li>
          <li><a href=".">
            {% trans "Edit address" context "Edit address breadcrumb" %}
          </a></li>
        </ul>
      </div>
      <div id="notifications" class="styleguide__content__block">
        <h3 class="styleguide__content__block__title">{% trans "Notifications" context "Notifications title in style guide" %}</h3>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {% trans "Success alert" context "Success alert example in style guide" %}.
        </div>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {% trans "Danger alert" context "Danger alert example in style guide" %}.
        </div>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {% trans "Warning alert" context "Warning alert example in style guide" %}.
        </div>
      </div>
      <div id="mainnav" class="styleguide__content__block">
        <h3 class="styleguide__content__block__title">{% trans "Main navigation" context "Main navigation title in style guide" %}</h3>
        <nav class="navigation">
          <ul class="nav navbar-nav{% if request.get_full_path == home_url %} no-border{% endif %}" >
            {% for category in categories %}
            {% url 'home' as home_url %}
            <li class="nav-item">
              <a class="nav-link" href="{{ category.get_absolute_url }}">
                {{ category }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      <div id="tabs" class="styleguide__content__block">
        <h3 class="styleguide__content__block__title">{% trans "Tabs navigation" context "Tabs navigation title in style guide" %}</h3>
        <ul class="nav nav-tabs col-lg-10 offset-lg-1" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#orders" role="tab"><h3>
              {% trans "Recent Orders" context "User profile tab" %}
            </h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#password" role="tab"><h3>
              {% trans "Change password" context "User profile tab" %}
            </h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#addresses" role="tab"><h3>
              {% trans "Addresses book" context "User profile tab" %}
            </h3></a>
          </li>
        </ul>
      </div>
      <div id="table" class="styleguide__content__block">
        <h3 class="styleguide__content__block__title">{% trans "Tables" context "Tables title in style guide" %}</h3>
        <div class="table__header">
          <div class="row">
            <div class="col-md-2 col-3"><small>
              {% trans "Order" context "Recent orders column title" %}
            </small></div>
            <div class="col-md-4 hidden-sm-down"><small>
              {% trans "Date" context "Recent orders column title" %}
            </small></div>
            <div class="col-md-2 col-6 text-right"><small>
              {% trans "Summary" context "Recent orders column title" %}
            </small></div>
            <div class="col-md-3 hidden-sm-down"><small>
              {% trans "Status" context "Recent orders column title" %}
            </small></div>
            <div class="col-md-1 col-3"></div>
          </div>
        </div>
        <div class="table__row">
          <div class="row">
            <div class="col-md-2 col-3">
              #1
            </div>
            <div class="col-md-4 hidden-sm-down">
              {% now "F j, Y, H:i a" %}
            </div>
            <div class="col-md-2 col-6">
              <span class="float-md-right">$129.35</span>
            </div>
            <div class="col-md-3 hidden-sm-down">
              <span class="label label-default">Payment pending</span>
            </div>
            <div class="col-md-1 col-3">
              <a href="#" class="float-right link--styled">
                {% trans "Details" context "Recent orders link text" %}
              </a>
            </div>
          </div>
        </div>
        <div class="table__row">
          <div class="row">
            <div class="col-md-2 col-3">
              #2
            </div>
            <div class="col-md-4 hidden-sm-down">
              {% now "F j, Y, H:i a" %}
            </div>
            <div class="col-md-2 col-6">
              <span class="float-md-right">$129.35</span>
            </div>
            <div class="col-md-3 hidden-sm-down">
              <span class="label label-success">Fully paid</span>
            </div>
            <div class="col-md-1 col-3">
              <a href="#" class="float-right link--styled">
                {% trans "Details" context "Recent orders link text" %}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="cards" class="styleguide__content__block">
        <h3 class="styleguide__content__block__title">{% trans "Cards" context "Cards title in style guide" %}</h3>
        <div class="row">
          <div class="card-deck col-md-6">
            <div class="card card-block">
              <div class="address-details">
                {% blocktrans context "Adress example in style guide" %}
                <p>Mr. Walter C. Brown<br>
                  49 Featherstone Street<br>
                  London, EC1Y 8SY
                  <br>
                  United Kingdom<br>
                </p>
                {% endblocktrans %}
              </div>
              <ul class="icons">
                <li><a href="#">{% trans "Edit" context "User address action" %}</a></li>
                <li><a class="delete-icon"><img class="float-right" src="{% static "images/icon_delete.svg" %}"></a></li>
              </ul>              
              <div class="address-delete none">
                <form>
                  <button type="submit" class="btn danger narrow float-right">
                    {% trans "Delete Address" context "Delete address form action" %}
                  </button>
                  <a class="btn btn-link cancel float-right">
                    {% trans "Cancel" context "Delete address form action" %}
                  </a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  
  {% block footer %}
  {% endblock %}
  
  
  {% load i18n %}