{% extends "base.html" %}
{% load staticfiles %}
{% load account socialaccount %}
{% load i18n %}

{% block title %}{% trans "Login" %} — {{ block.super }}{% endblock %}

{% block content %}
<div class="row login">
  <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
    <div class="row">
      <div class="col-md-6">
        <form method="post" action="{% url 'account_login' %}" novalidate>
          {% csrf_token %}
          <fieldset>
            <h2>{% trans 'Log in' %}</h2>
              <input type="hidden" name="next" name="next" value="{% url 'checkout:index' %}" />
          </fieldset>
          <div class="row login__btn-group">
            <div class="col-lg-6">
              <button class="btn primary">
                {% trans "Log in" %}
              </button>
            </div>
            <div class="col-lg-6">
              <a href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
            </div>
          </div>
          {% get_providers as socialaccount_providers %}
          {% if socialaccount_providers %}
            <p>{% trans "Want to use your social profile?" %}</p>
            <p>
              {% if facebook_login_url %}
              <a class="btn btn-default" href="{% provider_login_url "facebook" method="oauth2" %}">
                {% trans "Log in using Facebook" %}
              </a>
              {% endif %}
              {% if google_login_url %}
              <a class="btn btn-default" href="{% provider_login_url "google" %}"> {% trans "Log in using Google" %}</a>
              {% endif %}
            </p>
          {% endif %}
        </form>
      </div>
      <div class="col-md-6">
        <div class="login__register-link">
          <h2>{% trans "New customer?" %}</h2>
          <h6>{% trans "Registration is not required!" %}</h6>
          <img src="{% static 'img/pirate_login.png' %}" srcset="{% static 'img/pirate_cart.png' %} 1x, {% static 'img/pirate_login2x.png' %} 2x">
          <p><a href="{% url 'checkout:index' %}" class="btn secondary">{% trans "Continue" %}</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}