{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load gross net tax from prices_i18n %}

{% block title %}{% trans "Checkout" %} — {{ block.super }}{% endblock %}

{% block header %}
    <header class="checkout__header">
      <div class="container">
        <img src="{% static "img/testeor-logo-white.svg" %}" alt="Testeor - Saleor demo store">
        <h1>{% trans "Easy chekout" %}</h1>
      </div>
    </header>
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <p class="alert alert-info">
            {% trans "Already have an account?" %}
            <a href="{% url "account_login" %}?next={{ request.get_full_path }}">
                {% trans "Sign in" %}
            </a>
        </p>
    {% endif %}
    <div class="row">
      <div class="col-md-7 offset-lg-1">
        {% block forms %}{% endblock %}
      </div>
      <div class="col-md-5 col-lg-4">
        {% with total=checkout.get_total %}
          <div class="checkout__review">
            <h3 class="checkout__review__tittle">{% trans "Order review" %}</h3>
            {% for delivery, delivery_cost, total_with_delivery in checkout.deliveries %}
                {% for item, item_price_per_item, item_price_total in delivery %}
                    <div class="row">
                      <div class="col-xs-8">
                        <p><strong>{{ item.variant.product }}</strong> x {{ item.quantity }}<br>
                          <span class="checkout__review__variant">{{ item.variant }}</span></p>
                      </div>
                      <div class="col-xs-4">
                        <p class="float-xs-right">{% net item_price_total %}</p>
                      </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="row checkout__review__section">
              <div class="col-xs-8">
                <p>{% trans "Delivery" %}</p>
              </div>
              <div class="col-xs-4">
                <p class="float-xs-right">{% if checkout.shipping_method %}
                    {% net checkout.get_total_shipping %}
                {% else %}
                    &mdash;
                {% endif %}</p>
              </div>
            </div>
            <div class="row checkout__review__section">
              <div class="col-xs-12">
                <h3>{% trans "Promo code" %}</h3>
                {% include 'checkout/snippets/voucher-form.html' with discount=checkout.discount form=voucher_form %}
              </div>
            </div>
            <div class="row checkout__review__section">
              <div class="col-xs-8">
                <h3>{% trans "Total" %}</h3>
              </div>
              <div class="col-xs-4">
                <h3 class="float-xs-right">{% gross total %}</h3>
              </div>
            </div>
          </div>
        {% endwith %}
      </div>
    </div>
{% endblock content %}
