{% extends "base.html" %}
{% load i18n %}
{% load get_product_image_thumbnail from product_images %}
{% load price from taxed_prices %}
{% load static %}

{% block title %}{% trans "Your checkout" context "Checkout page title" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li><a href="{% url 'home' %}">{% trans "Home" context "Main navigation item" %}</a></li>
    <li><a rel="nofollow" href="{% url 'checkout:index' %}">{% trans "Checkout" context "Checkout breadcrumb" %}</a></li>
  </ul>
{% endblock breadcrumb %}

{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}

{% block content %}
  <div class="alert alert-success remove-product-alert d-none">
    {% trans "Product has been removed from checkout" context "Checkout message" %}
    <button type="button" class="close close-msg" aria-hidden="true">&times;</button>
  </div>
  <div class="checkout-preview">
    {% if checkout_lines %}
      <div class="table__header d-none d-md-block">
        <div class="row">
          <div class="col-md-7">
            <small>{% trans "Product" context "Checkout table header" %}</small>
          </div>
          <div class="col-md-3">
            <small>{% trans "Quantity" context "Checkout table header" %}</small>
          </div>
          <div class="col-md-2 text-right">
            <small>{% trans "Price" context "Checkout table header" %}</small>
          </div>
        </div>
      </div>
      {% for line in checkout_lines %}
        <div class="checkout-preview__line{% if forloop.last %} last{% endif %} table__row">
          <div class="row">
            <div class="col-7 checkout-preview__line__product">
              <a class="link--clean" href="{{ line.variant.get_absolute_url }}">
                <img class="lazyload lazypreload" data-src="{% get_product_image_thumbnail line.variant.get_first_image method="thumbnail" size=60 %}"
                     data-srcset="{% get_product_image_thumbnail line.variant.get_first_image method="thumbnail" size=60 %} 1x, {% get_product_image_thumbnail line.variant.get_first_image method="thumbnail" size=120 %} 2x"
                     alt="">
                <p>{{ line.variant.product.translated }}<br><small>{{ line.variant.translated }}</small></p>
              </a>
            </div>
            <div class="col-5">
              <div class="row">
                <div class="checkout-preview__line__quantity col-md-7 col-12">
                  <form role="form" action="{% url "checkout:update-line" variant_id=line.variant.pk %}" method="post" class="form-checkout">
                    <div class="{% if form.quantity.errors %} has-error{% endif %}" tabindex="-1">
                      {{ line.form.quantity }}
                    </div>
                    {% csrf_token %}
                  </form>
                  <span class="checkout-preview-item-delete">
                    <svg data-src="{% static "images/delete.svg" %}" height="20px" width="20px" />
                  </span>
                  <small class="checkout-preview__line__quantity-error text-danger"></small>
                </div>
                <div class="checkout-preview-item-price col-md-5 col-12" data-product-id="{{ line.variant.pk }}">
                  <p class="text-right">
                    {% price line.get_total %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="checkout__subtotal">
        {% include 'checkout/_subtotal_table.html' %}
      </div>
      <div class="row">
        <div class="col-md-12">
            <a href="{% url "checkout:login" %}" class="btn btn-primary float-right checkout-preview__submit">
            {% trans "Checkout" context "Checkout primary action" %}
          </a>
            <button class="btn secondary float-right checkout__clear" data-action="{% url 'checkout:clear' %}">
            {% trans "Clear checkout" context "checkout page: secondary action, empty the checkout" %}
          </button>
        </div>
      </div>
    {% else %}
      <div class="checkout-preview__empty">
        <img class="lazyload lazypreload" data-src="{% static 'images/empty-checkout-bg.png' %}" data-srcset="{% static 'images/empty-checkout-bg.png' %} 1x, {% static 'images/empty-checkout-bg2x.png' %} 2x">
        <h2>{% trans "There are no products in your shopping checkout." context "Empty checkout message" %}</h2>
        <a href="{% url 'home' %}" class="btn btn-primary">{% trans "Check out our sales" context "Empty checkout link" %}</a>
      </div>
    {% endif %}
  </div>
{% endblock content %}
