{% extends "checkout/details.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Login" context "Checkout login page title" %} — {{ block.super }}{% endblock %}

{% block content %}
  <div class="row checkout__login">
    <div class="col-12 col-md-6">
      <div class="checkout__login__continue">
        <h3>{% trans "New customer?" context "Checkout login page title" %}</h3>
        <img class="checkout-pirate" src="{% static 'images/pirate_login.png' %}"
             srcset="{% static 'images/pirate-checkout.png' %} 1x, {% static 'images/pirate-checkout2x.png' %} 2x">
        <p><a href="{% url 'checkout:index' %}" class="btn secondary narrow">
          {% trans "Continue" context "Checkout login page new users action" %}
        </a></p>
        <small>{% trans "Registration is not required!" context "Checkout login page new users message" %}</small>
      </div>
    </div>
    <div class="col-12 col-md-6 checkout__login__form">
      {% url "checkout:index" as checkout_url %}
      <h3>{% trans "Existing customer? Log in." context "Checkout login form title" %}</h3>
      {% include "account/partials/login_form.html" with redirect_field_value=checkout_url %}
    </div>
  </div>
{% endblock %}
