{% extends "base.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Login" %} — {{ block.super }}{% endblock %}

{% block content %}
<div class="row login">
  <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
    <div class="row">
      <div class="col-md-6">
        <form method="post" action="{% url 'account_login' %}" novalidate>
          {% csrf_token %}
          <fieldset>
            <h2>{% trans 'Log in' %}</h2>
              {% bootstrap_form form %}
              <input type="hidden" name="next" name="next" value="{% url 'checkout:index' %}" />
          </fieldset>
          <div class="row login__btn-group">
            <div class="col-sm-12">
              <button class="btn primary">
                {% trans "Log in" %}
              </button>
              <a href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="login__register-link">
          <h2>{% trans "New customer?" %}</h2>
          <h6>{% trans "Registration is not required!" %}</h6>
          <img class="checkout-pirate" src="{% static 'img/pirate_login.png' %}" srcset="{% static 'img/pirate-checkout.png' %} 1x, {% static 'img/pirate-checkout2x.png' %} 2x">
          <p><a href="{% url 'checkout:index' %}" class="btn secondary">{% trans "Continue" %}</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
