{% extends "checkout/details.html" %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block forms %}
    <h3>{% trans "Order Notes" context "Checkout note title" %}</h3>    <hr>
    <form method="post" novalidate>
        {% csrf_token %}
        <h2>{% trans "Add a note to your order" context "Checkout note form title" %}</h2>
        {% bootstrap_form note_form show_label=False %}
        <p class="text-md-right">
            <button type="submit" class="btn primary">
                {% trans "Continue" context "Checkout note primary action" %}
            </button>
        </p>
    </form>
{% endblock %}
