{% extends "checkout/details.html" %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block forms %}
    <h1>{% trans "Shipping address" %}</h1>
    {% include "userprofile/snippets/address-short.html" with address=checkout.shipping_address only %}
    <form method="post" class="checkout__shipping-method" novalidate>
        {% csrf_token %}
        <h1>{% trans "Shipping method" %}</h1>
        {% bootstrap_form shipping_method_form show_label=False %}
        <button type="submit" class="btn primary">
            {% trans "Continue to payment" %}
        </button>
    </form>
{% endblock %}
