{% extends "checkout/details.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap4 %}

{% block forms %}
  <form method="post" novalidate class="checkout__shipping">
    {% csrf_token %}
    <h2>{% trans "Shipping address" context "Checkout shipping address title" %}</h2>
    
    <div class="checkout__addresses{{ request.user.is_authenticated|yesno:",--full-width" }}">
      {% if request.user.is_authenticated %}
        {% include "checkout/snippets/addresses_form.html" with addresses_form=user_form addresses=additional_addresses address_form=address_form only %}
      {% else %}
        {% bootstrap_form user_form %}
        {% include "account/snippets/address_form.html" with address_form=address_form only %}
      {% endif %}
    </div>

    <div class="checkout__addresses">
      <button type="submit" class="btn btn-primary">
        {% trans "Continue" context "Checkout shipping address primary action" %}
      </button>
    </div>
  </form>
{% endblock %}
