{% extends "checkout/details.html" %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block header %}
  {{ block.super }}
  <div class="breadcrumbs-checkout">
    <div class="container">
      <ul class="breadcrumbs list-unstyled">
          <li><a href="{% url 'checkout:shipping-address' %}">1. {% trans "Shipping address" %}</a></li>
          <li class="active">2. {% trans "Shipping method" %}</li>
          <li class="disabled">3. {% trans "Billing address" %}</li>
      </ul>
    </div>
  </div>
{% endblock header %}

{% block forms %}
    <h1>{% trans "Shipping address" %}</h1>
    {% include "userprofile/snippets/address-short.html" with address=checkout.shipping_address only %}
    <p class="checkout__edit-link"><a href="{% url 'checkout:shipping-address' %}">{% trans "Select other address" %}</a></p>
    <form method="post" class="checkout__shipping-method" novalidate>
        {% csrf_token %}
        <h1>{% trans "Shipping method" %}</h1>
        {% bootstrap_form shipping_method_form show_label=False %}
        <button type="submit" class="btn primary">
            {% trans "Continue" %}
        </button>
    </form>
{% endblock %}
