{% extends "checkout/details.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block header %}
  {{ block.super }}
  <div class="breadcrumbs-checkout">
    <div class="container">
      <ul class="breadcrumbs list-unstyled">
          <li class="active">1. {% trans "Shipping address" %}</li>
          <li class="disabled">2. {% trans "Shipping method" %}</li>
          <li class="disabled">3. {% trans "Billing address" %}</li>
      </ul>
    </div>
  </div>
{% endblock header %}

{% block forms %}
    <form method="post" novalidate class="checkout__shipping">
        {% csrf_token %}
        <h1>{% trans "Shipping address" %}</h1>
        {% if request.user.is_authenticated %}
            {% include "checkout/snippets/addresses-form.html" with addresses_form=user_form addresses=additional_addresses address_form=address_form only %}
        {% else %}
            {% bootstrap_form user_form %}
            {% include "userprofile/snippets/address-form.html" with address_form=address_form only %}
        {% endif %}

        <p class="text-right">
            <button type="submit" class="btn primary">
                {% trans "Continue" %}
            </button>
        </p>
    </form>
{% endblock %}
