footer {
  padding: 0 calc(var(--spacer) * 2) calc(var(--spacer) * 2) calc(var(--spacer) * 2);
  position: relative;
  & .container {
    padding: 0;
    border: solid var(--border-width) var(--sectionBorder);
    border-top: none;
  }
  & .logo {
    width: 120px;
    padding-bottom: var(--spacer);
    padding-left: 10rem;
    @media (max-width: 450px) {
      width: 80px;
    }
  }
  & .content {
    padding: 0 10rem;
    & .menu {
      padding: calc(var(--spacer) * 2) 0;
      @media (max-width: 768px) {
        padding: calc(var(--spacer) * 2) 0;
      }
      @media (max-width: 450px) {
        padding: calc(var(--spacer) * 2) calc(var(--spacer) / 2);
      }
      & h4 {
        font-size: var(--font-size);
        color: var(--primaryColor);
        line-height: var(--line-height-lg);
        @media (max-width: 570px) {
          font-size: calc(var(--font-size-base) * 0.8);
        }
        @media (max-width: 450px) {
          font-size: calc(var(--font-size-base));
        }
        @media (max-width: 320px) {
          font-size: calc(var(--font-size-base) * 0.8);
        }
      }
      & ul {
        @media (min-width: 1920px) {
        }
        & li {
          & a {
            font-size: var(--font-size);
            color: var(--body-color);
            line-height: var(--line-height-lg);
            @media (max-width: 570px) {
              font-size: calc(var(--font-size-base) * 0.8);
            }
            @media (max-width: 450px) {
              font-size: calc(var(--font-size-base));
            }
            @media (max-width: 320px) {
              font-size: calc(var(--font-size-base) * 0.8);
            }
          }
        }
      }
    }
    & .icons {
      padding: calc(var(--spacer) * 2) 0;
      & svg {
        width: 25px;
        height: 25px;
        margin: 0 calc(var(--spacer) / 2);
      }
      @media (max-width: 450px) {
        position: absolute;
        width: 30%;
        top: 5%;
        right: 7%;
      }
    }
  }
  & .privacy-links {
    padding: calc(var(--spacer) * 2) 0;
    @media (max-width: 768px) {
      padding: calc(var(--spacer) * 2) 0;
    }
  }
  & .copyright {
    text-align: center;
    color: var(--body-color);
    padding: calc(var(--spacer) * 1.5) 0;
    font-weight: var(--font-weight-lighter);
  }
}