footer {
  margin: 0 calc(var(--spacer) * 2.5) calc(var(--spacer) * 2) calc(var(--spacer) * 2.5);
  position: relative;
  border: solid var(--border-width) var(--sectionBorder);
  border-top: none;
  @media (max-width: 550px) {
    border: none;
  }
  @media (max-width: 768px) {
    margin: 0 var(--spacer) var(--spacer) var(--spacer);
  }
  & .container {
    padding: 0;
  }
  & .logo {
    width: 240px;
    padding-top: calc(var(--spacer) * 2.5);
    padding-bottom: var(--spacer);
    padding-left: calc(var(--spacer) * 10);
    & .craftedBy {
      padding-top: var(--spacer);
      & span {
        position: relative;
        top: calc(var(--spacer) / -2);
      }
      & .mirumee-logo {
        width: 100px;
        display: inline-block;
        padding-left: var(--spacer);
      }
    }
    & .saleor-logo {
      width: 120px;
      display: inline-block;
    }
    @media (max-width: 1024px) {
      padding: calc(var(--spacer) * 2.5) calc(var(--spacer) * 4) var(--spacer) calc(var(--spacer) * 4);
    }
    @media (max-width: 550px) {
      width: 200px;
      padding: calc(var(--spacer) * 3.5) 0 0 0;
      & .craftedBy {
        padding-top: 0;
        padding-left: calc(var(--spacer) / 2);
      }
      & .mirumee-logo {
        width: 100px;
        display: inline-block;
        padding-left: 0;
        padding-top: var(--spacer);
      }
    }
  }
  & .content {
    padding: 0 calc(var(--spacer) * 10);
    @media (max-width: 1024px) {
      padding: 0 calc(var(--spacer) * 4);
    }
    @media (max-width: 550px) {
      padding: 0;
      border-bottom: solid 1px var(--primaryColor);
    }

    & .menu {
      padding: calc(var(--spacer) * 2) 0;
      @media (max-width: 768px) {
        padding: calc(var(--spacer) * 2) 0;
      }
      @media (max-width: 550px) {
        padding: calc(var(--spacer) * 2) calc(var(--spacer) / 2);
      }
      & .grid {
        grid-template-columns: repeat(8, 1fr);
        @media (max-width: 1440px) {
          grid-template-columns: repeat(12, 1fr);
        }
      }
      & .menu-item {
        @media (max-width: 550px) {
          margin-bottom: calc(var(--spacer) * 2);
        }
        & h4 {
          font-size: var(--font-size);
          color: var(--primaryColor);
          line-height: var(--line-height-lg);
          text-transform: initial;
          font-weight: var(--font-weight-lighter);
          @media (max-width: 570px) {
            font-size: calc(var(--font-size-base) * 0.8);
          }
          @media (max-width: 550px) {
            font-size: calc(var(--font-size-base));
          }
          @media (max-width: 320px) {
            font-size: calc(var(--font-size-base) * 0.8);
          }
        }
        & ul {
          @media (min-width: 1920px) {
          }
          & li {
            & a {
              font-size: var(--font-size);
              color: var(--body-color);
              line-height: var(--line-height-lg);
              text-decoration: underline;
              transition: color 0.5s ease;
              &:hover {
                color: var(--primaryColor);
              }
              @media (max-width: 570px) {
                font-size: calc(var(--font-size-base) * 0.8);
              }
              @media (max-width: 550px) {
                font-size: calc(var(--font-size-base));
              }
              @media (max-width: 320px) {
                font-size: calc(var(--font-size-base) * 0.8);
              }
            }
          }
        }
      }
    }
    & .icons {
      padding: calc(var(--spacer) * 2) 0;
      & h4 {
        font-size: var(--font-size);
        color: var(--primaryColor);
        line-height: var(--line-height-lg);
        font-weight: var(--font-weight-lighter);
        text-transform: initial;
        padding: 0 0 var(--spacer) calc(var(--spacer) / 2);
        @media (max-width: 570px) {
          font-size: calc(var(--font-size-base) * 0.8);
        }
        @media (max-width: 550px) {
          display: none;
        }
        @media (max-width: 320px) {
          font-size: calc(var(--font-size-base) * 0.8);
        }
      }
      & svg {
        width: 25px;
        height: 25px;
        margin: 0 calc(var(--spacer) / 2);
      }
      @media (max-width: 550px) {
        position: absolute;
        width: 30%;
        top: 5%;
        right: 7%;
      }
    }
  }
  & .privacy-links {
    padding: calc(var(--spacer) * 2) 0;
    @media (max-width: 768px) {
      padding: calc(var(--spacer) * 2) 0;
    }
  }
}
.copyright {
  text-align: center;
  color: var(--body-color);
  padding: 0 calc(var(--spacer) * 1.5);
  font-weight: var(--font-weight-lighter);
  opacity: 0.6;
  @media (max-width: 550px) {
    padding: var(--spacer);
    font-size: calc(var(--font-size-base) * 0.9);
  }
}