footer {
  padding: calc(var(--spacer) * 3) 0 calc(var(--spacer) * 8) 0;
  position: relative;
  & .logo {
    width: 120px;
    padding-bottom: var(--spacer);
    padding-left: calc(var(--spacer) * 5);
    @media (max-width: 768px) {
      padding-left: calc(var(--spacer) * 2);
    }
    @media (max-width: 450px) {
      width: 80px;
      padding-left: calc(var(--spacer) / 2);
    }
  }
  & .content {
    border-top: solid var(--border-width) var(--footer-border);
    border-bottom: solid var(--border-width) var(--footer-border);
    & .menu {
      padding: calc(var(--spacer) * 2) calc(var(--spacer) * 5);
      @media (max-width: 768px) {
        padding: calc(var(--spacer) * 2) calc(var(--spacer) * 2);
      }
      @media (max-width: 450px) {
        padding: calc(var(--spacer) * 2) calc(var(--spacer) / 2);
      }
      & h4 {
        font-size: var(--font-size);
        color: var(--primaryColor);
        line-height: var(--line-height-lg);
        @media (max-width: 570px) {
          font-size: calc(var(--font-size-base) * 0.8);
        }
        @media (max-width: 450px) {
          font-size: calc(var(--font-size-base));
        }
        @media (max-width: 320px) {
          font-size: calc(var(--font-size-base) * 0.8);
        }
      }
      & ul {
        & li {
          & a {
            font-size: var(--font-size);
            color: var(--body-color);
            line-height: var(--line-height-lg);
            @media (max-width: 570px) {
              font-size: calc(var(--font-size-base) * 0.8);
            }
            @media (max-width: 450px) {
              font-size: calc(var(--font-size-base));
            }
            @media (max-width: 320px) {
              font-size: calc(var(--font-size-base) * 0.8);
            }
          }
        }
      }
    }
    & .icons {
      padding: calc(var(--spacer) * 2) 0;
      & svg {
        width: 25px;
        height: 25px;
        margin: 0 calc(var(--spacer) / 2);
      }
      @media (max-width: 450px) {
        position: absolute;
        width: 30%;
        top: 5%;
        right: 7%;
      }
    }
  }
  & .privacy-links {
    padding: calc(var(--spacer) * 2) calc(var(--spacer) * 5);
    @media (max-width: 768px) {
      padding: calc(var(--spacer) * 2) calc(var(--spacer) * 2);
    }
  }
}