extends extends/base
block title
    title Saleor for developers
block bodyClass
    - var bodyClass="body--developers"
block main
    section(class=["section", "section--developers"])
        div.container
            h1.section-header
                span Increase efficiency
                b  selling things
                span  with Saleor
            p.section-stripe
                | Saleor is an opensource storefront.
                span  Written in python.
    section.section
        h2.section-header Satisfied<br>customers
        p.section-text
            img.section-image(src="https://placekitten.com/g/1000/600", alt="")
            | We had two bags of grass, seventy-five pellets of mescaline, five sheets of hogh-powered blotter acid, a saltshaker half-full of cocaine and a whole galaxy of multi-colored uppers, downers, screamers, laughers...
    section.section
        h2.section-header Satisfied<br>developers
        p.section-text
            img.section-image(src="https://placekitten.com/g/1000/600", alt="")
            | We had two bags of grass, seventy-five pellets of mescaline, five sheets of hogh-powered blotter acid, a saltshaker half-full of cocaine and a whole galaxy of multi-colored uppers, downers, screamers, laughers...
        a.section-button Find out more
    section.section
        h2.section-header Satisfied<br>team
        p.section-text
            img.section-image(src="https://placekitten.com/g/1000/600", alt="")
            | We had two bags of grass, seventy-five pellets of mescaline, five sheets of hogh-powered blotter acid, a saltshaker half-full of cocaine and a whole galaxy of multi-colored uppers, downers, screamers, laughers...
        a.section-button Find out more
    section(class=["section", "section--get"])
        h2(class=["section-header", "section--get-header"]) Get Saleor
        p(class=["section-text", "section--get-text"])
            | We had two bags of grass, seventy-five pellets of mescaline, five sheets of hogh-powered blotter acid, a saltshaker half-full of cocaine and a whole galaxy of multi-colored uppers, downers, screamers, laughers...
            img.section-image(src="https://placekitten.com/g/1000/600", alt="")
        a(href="#", class=["section-button", "section-button--lg", "section-button--strong"])
            | Free install
            span.section-button--lg-additional  with GitHub
        a(href="#", class=["section-button", "section-button--lg"])
            | Install
            span.section-button--lg-additional  with dev support
