section(class=["section", "section--get"])
    h2(class=["section-header", "section--get-header"]) Get Saleor
    p(class=["section-text", "section--get-text"])
        | We had two bags of grass, seventy-five pellets of mescaline, five sheets of hogh-powered blotter acid, a saltshaker half-full of cocaine and a whole galaxy of multi-colored uppers, downers, screamers, laughers...
        img.section-image(src="https://placekitten.com/g/1000/600", alt="")
    a(href="#", class=["section-button", "section-button--lg", "section-button--strong"])
        | Free install
        span.section-button--lg-additional  with GitHub
    a(href="#", class=["section-button", "section-button--lg"])
        | Install
        span.section-button--lg-additional  with dev support
section.section
    h2.section-header Keep in touch with Saleor crew
    ul.social-links
        li.social-links-item
            a.social-links-link(href="#")
                i.social-links-twitter
        li.social-links-item
            a.social-links-link(href="#")
                i.social-links-facebook
    img.section-image(src="https://placekitten.com/g/1000/600", alt="")
footer.footer
            small &copy; 2015 Mirumee Software. All rights reserved.
                a.footer-link(href="#") Terms of use
script(src="static/site.js")
