extends extends/base
block bodyClass
    - var bodyClass = "body--home"
block main
    section.section.section--home
        div.container.text-center
            img.section-image(src="static/images/hero-home.png", alt="")
            h1.section-header
                span Sell
                    =" "
                    b.typed(data-words=["thing", "everything", "yo momma"])
                    |  online
                | with Saleor.
                b  For free
                span.section-header-sub Saleor is an opensource storefront
                    span  written in python.
    section.section.section--dashboard
        h2.section-header Better
            b  dashboard
            span
                | =
            span a satisfied
                b  sales team
        div.container
            div.row
                div.col-sm-6
                    p
                        strong
                            | Your team is going to spend a lot of time with your dashboard. Make sure their only concern is
                            | providing the best shopping experience to your customers.
                    p We've designed Saleor's dashboard
                        | to solve your every day problems. It's so intuitive that even a senior executive could use it.
                    ul
                        li multidevice support
                        li multideliveries for single order
                        li supports from one to 10 millions plus products
                div.col-sm-6
                    img(src="static/images/dashboard.png", alt="")
        div.section-stripe
            i.mdi-content-add
    section.section.section--home-developers
        h2.section-header Better
            b  architecture
            span
                | =
            span  productive
                b  developers
        div.container
            div.row
                div.col-sm-6.col-sm-offset-6
                    p
                        strong
                            | Your developer's time is precious. Make sure they spend it improving your storefront instead of
                            | fighting it.
                    p Saleor's clean architecture makes it easy to customize. Its adherence to
                        | industry standards results in great SEO.
                    ul
                        li semantic templates bootstrap/sass
                        li SEO friendly
                        li supports latest Django &amp; Python
                        li serverside analytics / no tracking cookies needed
                        li translation ready
                        li multicurrency
                        li scalable
                        li deploy on heroku in seconds
        div.section-stripe
            i.mdi-content-add
    section#business.section.section--customers
        h2.section-header Better
            b  user experience
            span
                | =
            span happier
                b  customers
        div.container
            div.row
                div.col-sm-6
                    p Happy customers result in higher return rates and more recognition to your brand. Strive to provide the best shopping experience you can.
                        | Saleor's storefront offers great experience out-of-the-box. With help of a developer or two you can make it match your brand's both look and feel.
                    ul
                        li industry standard checkout
                        li multidevice support
        div.section-stripe
            span Simple is better than complex
                br
                | Less is more
    section#try-it-now.section.section--try-it-now
        div.container
            h2.section-header Try it now.<br>
                | It's totally
                b  free
            div.row
                div.col-sm-6.col-sm-offset-3
                    p Some small talk about bug issues installing marchewka.
                    p We have got some awesome code. It's hard to believe it in like this and it's free. Imagine this
                        | and go to Github. Bla bla bla lorem ipsum jeszcze one more lajn.
                    a.section-button.section-button--strong Get now
