extends extends/base
block bodyClass
    - var bodyClass = "body--home"
block main
    section.section.section--home
        div.container.text-center
            img.section-image(src="static/images/hero-home.png", alt="")
            h1.section-header
                span Sell
                    =" "
                    b.typed(data-words=["fashion", "books", "anything", "electronics", "cars", "bananas"]) fashion
                    |  online
                |  with Saleor.
                b  For free
                | .
                span.section-header-sub(itemprop="description")  Saleor is an open source storefront
                    span  written in python
    section.section.section--dashboard
        div.section-content
            h2.section-header Better
                b  dashboard
                span.section-means-container
                    img.section-means(src="static/images/means.svg", alt="means")
                    span.sr-only  means
                span  a satisfied
                    b  sales team
            div.container
                div.row.two-cols-flex
                    div.col-sm-6
                        p
                            strong
                                | Your team is going to spend a lot of time with your dashboard. Make sure their only concern is
                                | providing the best shopping experience to your&nbsp;customers.
                        ul.list-paragraphs(itemprop="featureList")
                            li We've designed Saleor's dashboard to solve your every day problems.
                                | It's so intuitive that even a senior executive could use&nbsp;it.
                            li  It scales well for
                                b  millions of products
                                | , customers and&nbsp;orders.
                            li  It supports
                                b  multiple currencies
                                |  and payment&nbsp;gateways.
                            li  It supports
                                b  split&nbsp;shipments
                                | .
                            li  It works with
                                b  all screen sizes
                                | , including&nbsp;mobiles.
                    div.col-sm-6
                        img.section-image.section--dashboard-image(src="static/images/dashboard.png", alt="")
        div.section-stripe
            i.mdi-content-add
    section.section.section--home-developers
        div.section-content
            h2.section-header Better
                b  architecture
                span.section-means-container
                    img.section-means(src="static/images/means.svg", alt="means")
                    span.sr-only  means
                span  productive
                    b  developers
            div.container
                div.row.two-cols-flex
                    div.col-sm-6.col-sm-push-6
                        p
                            strong
                                | Your developer's time is precious. Make sure they spend it improving your storefront instead of
                                | fighting&nbsp;it.
                        ul.list-paragraphs(itemprop="featureList")
                            li Saleor's clean architecture makes it easy to customize. Its adherence to
                                | industry standards results in great&nbsp;SEO.
                            li  It's built using
                                b  Django 1.8
                                |  and runs on
                                b  Python 2.7
                                |  and&nbsp;
                                b 3.4
                                | .
                            li  It's
                                b  super fast
                                |  without relying on caching.
                            li  It's easy to theme thanks to
                                b  semantic templates
                                | ,
                                b  Bootstrap
                                |  and
                                b  Sass
                                | .
                            li  It's lightweight, modular and easy to add new features.
                        p Looking for a demo?&nbsp;
                            a.btn-heroku(href="https://heroku.com/deploy?template=https://github.com/mirumee/saleor/")
                                img(src="https://www.herokucdn.com/deploy/button.png", alt="Deploy")
                    div.col-sm-6.col-sm-pull-6
                        img.section-image.section--home-developers-image(src="static/images/developers.png", alt="")
        div.section-stripe
            i.mdi-content-add
    section.section.section--customers
        div.section-content
            h2.section-header Better
                b  user experience
                span.section-means-container
                    img.section-means(src="static/images/means.svg", alt="means")
                    span.sr-only  means
                span happier
                    b  customers
            div.container
                div.row.two-cols-flex
                    div.col-sm-6
                        p
                            strong
                                | Happy customers result in higher return rates and more recognition to your brand.
                                | We strive to provide the best shopping experience we&nbsp;can.
                        ul.list-paragraphs(itemprop="featureList")
                            li Saleor's storefront offers great experience out-of-the-box.
                                | With help of a developer or two you can make it match your brand's look and&nbsp;feel.
                            li  It provides an
                                b  industry-standard checkout
                                |  process.
                            li  It offers an excellent
                                b  mobile shopping experience
                                | .
                            li  It supports
                                b  multiple payment methods
                                | .
                            li  It's
                                b  optimized for search engines
                                |  and supports cookie-less&nbsp;analytics.
                    div.col-sm-6.text-center
                        img.section-image(src="static/images/customers.png", alt="")
        div#try-it-now.section-stripe.section-stripe--alternate
            span Simple is better than complex
            span.less-is-more Less is more
            span Saleor is free
            a.section-button.section-button--strong(href="https://github.com/mirumee/saleor", itemprop="url") Fork it on GitHub
    section.section.section--commercial-support
        div.container
            h2.section-header
                b Commercial support
            div.row
                div.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                    p Saleor is open and free to use. It is not a bait to force you to
                        | pay us later and we promise to do our bests to fix bugs and improve the&nbsp;code.
                    p Some situations however call for extra code being written. Whether you need us
                        | to cover an exotic use case or build you a custom e&#8209;commerce appliance, our team can&nbsp;help.
                    p.text-center
                        a.section-button.section-button--strong(href="https://mirumee.typeform.com/to/gf97sQ") Contact Us
    section.hidden
        span(itemprop="applicationCategory") eCommerce
        div(itemprop="offers", itemscope, itemtype="http://schema.org/Offer")
            span(itemprop="price") 0.00
