extends extends/base
block bodyClass
    - var bodyClass = "body--home"
block main
    section(class=["section", "section--home"])
        div.container
            h1.section-header
                span Sell
                    =" "
                    b.typed(data-words=["thing", "everything", "yo momma"])
                    |  online
                span  with Saleor.
                b  For free
                span.section-header-sub Saleor is an opensource storefront.
                    span  Written in python.
            div.section-stripe
                a(href="#business") Find out more
    section#business(class=["section", "section--customers"])
        h2.section-header Better
            b  user experience
            span means
            span happier
            b  customers
        p.section-text
        div.section-stripe
            span Happy customers result in higher return rates and more recognition to your brand. Strive to provide the best shopping experience you can.
                | Saleor's storefront offers great experience out-of-the-box. With help of a developer or two you can make it match your brand's both look and feel.
    section(class=["section", "section--dashboard"])
        h2.section-header Better
            b  dashboard
            span means
            span a satisfied
            b  sales team
        div.container
            div.row
                div.col-sm-4
                    p Your team is going to spend a lot of time with your dashboard. Make sure their only concern is
                        | providing the best shopping experience to your customers. We've designed Saleor's dashboard
                        | to solve your every day problems. It's so intuitive that even a senior executive could use it.
                div.col-sm-8
                    img(src="static/images/dashboard.png", alt="")
        div.section-stripe
            span See how SALEOR helps your business
            a.section-button Learn more
    section(class=["section", "section--home-developers"])
        h2.section-header Awesome badass
            b  code
            span  for nerdy developers
        div.container
            div.row
                div(class=["col-sm-6", "col-sm-offset-6"])
                    p We have got some awesome code. It's hard to believe it in like this and it's free. Imagine this
                        | and go to Github. Bla bla bla lorem ipsum jeszcze one more lajn.
                    img.img-responsive(src="https://placekitten.com/g/1000/600", alt="")
        div.section-stripe
            span See how SALEOR makes your developers happy
            a.section-button Learn more
    section#try-it-now(class=["section", "section--try-it-now"])
        div.container
            h2.section-header Try it now.<br>
                | It's totally
                b  free
            div.row
                div.col
                    h3.section-subheader Some small talk about bug issues<br>installing marchewka.
                    p We have got some awesome code. It's hard to believe it in like this and it's free. Imagine this
                        | and go to Github. Bla bla bla lorem ipsum jeszcze one more lajn.
                    img.img-responsive(src="static/images/box.png", alt="")
                    a(class=["section-button", "section-button--strong"]) Get now
