{% load i18n %}
{% load prices_i18n %}
{% load utils %}

<table class="bordered highlight responsive data-table">
  <thead>
    <tr>
      <th class="wide">{% trans "Location" %}</th>
      <th>{% trans "Quantity" %}</th>
      <th>{% trans "Allocated" %}</th>
      <th class="right-align">{% trans "Cost" %}</th>
      <th class="right-align">{% trans "Gross margin" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for stock_item in stock %}
      <tr class="{% if stock_item.quantity_available == 0 %}danger{% endif %}" data-action-go="{% url "dashboard:variant-stock-details" product_pk=product.pk variant_pk=variant.pk stock_pk=stock_item.pk %}">
        <td class="wide">{{ stock_item.location }}</td>
        <td>{{ stock_item.quantity }}</td>
        <td>{{ stock_item.quantity_allocated }}</td>
        <td class="right-align">{% if stock_item.cost_price %}{{ stock_item.cost_price|amount }}{% else %}-{% endif %}</td>
        <td class="right-align">
          {% margin_for_variant stock=stock_item as margin %}
          {% if margin %}
            {{ margin }}%
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4">{% trans "No stock records found" context "Dashboard variant details page" %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
