{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}{% trans "Product types" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_product_classes_class %}active{% endblock %}


{% block header_extra %}
    <div class="fixed-action-btn">
        <a class="btn-fab btn-floating btn-large waves-effect waves-light teal" title="{% trans "Add product type" %}"
            href="{% url 'dashboard:product-class-add' %}">
            <i class="material-icons">add</i>
        </a>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>{% trans "Product types" %}</li>
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            {% if product_classes %}
                <ul class="collection list">
                    {% for pk, name, has_variants, product_attributes, variant_attributes in product_classes %}
                        <li class="collection-item list-item">
                            <a class="title" href="{% url 'dashboard:product-class-update' pk=pk %}">
                                <span class="list-item-name">{{ name }}</span>
                            </a>
                            <p>
                                {% trans 'Variants' %}: {% if has_variants %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}
                                {% if variant_attributes %} | {% trans 'Variant attributes' %}: {{ variant_attributes|join:", " }}{% endif %}
                                {% if product_attributes %} | {% trans 'Product attributes' %}: {{ product_attributes|join:", " }}{% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
                {% include "dashboard/includes/_pagination.html" with page_obj=product_classes %}
            {% else %}
                <p>{% trans "No product types found." %}</p>
            {% endif %}
        </div>
    </div>
    <div id="modal-product-class" class="modal">
        <div class="modal-content">
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="row">
                    {{ form|materializecss }}
                </div>

                <div class="row">
                    <div class="col s12">
                        <button class="btn" type="submit">
                            <i class="material-icons left">create</i> {% trans "Create new" %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
