{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load materializecss %}
{% load static %}
{% load attributes %}

{% block title %}{% if product_class.pk %}{{ product_class }}{% else %}
    {% trans "Add new product type" context "Product class page title" %}{% endif %} - {% trans "Products" context "Product class page title" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_product_classes_class %}active{% endblock %}

{% block header_menu %}
    {% url "dashboard:product-class-list" as url %}
    {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--history">
        <li><a href="{% url "dashboard:product-class-list" %}" class="breadcrumb">
            {% trans "Product types" context "Product class breadcrumbs" %}</a></li>
        <li class="back-mobile">
            <a href="{% url "dashboard:product-class-list" %}" class="breadcrumb"><i class="material-icons">arrow_back</i></a></li>
        <li><span class="breadcrumbs--ellipsed-item">
            {% if product_class.pk %}{{ product_class }}{% else %}
                {% trans 'Add new product type' context "Product class breadcrumbs" %}{% endif %}</span></li>
    </ul>
{% endblock %}


{% block header_extra %}
    {% if product_class.pk %}
    <a class="dropdown-button right" href="#" data-activates="context-menu" data-constrainwidth="false">
        <i class="material-icons">more_vert</i>
    </a>
    <ul id="context-menu" class="dropdown-content">
        <li>
            <a href="#base-modal" data-href="{% url 'dashboard:product-class-delete' pk=product_class.pk %}"
               class="modal-trigger-custom">
                {% trans "Remove product type" context "Product class action" %}
            </a>
        </li>
    </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card">
        <form method="post" id="form-product" enctype="multipart/form-data" novalidate>
            <div class="card-content">
                {% csrf_token %}
                <div class="row">
                    {{ form.name|materializecss }}
                </div>
                <div class="row">
                    <div class="col s12 m8">
                        <div class="row">
                            {{ form.product_attributes|materializecss }}
                        </div>
                        <div class="row">
                            {{ form.variant_attributes|materializecss }}
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="row">
                            {{ form.is_shipping_required|materializecss }}
                        </div>
                        <div class="row">
                            {{ form.has_variants|materializecss }}
                        </div>
                        <p class="grey-text">
                            {% blocktrans trimmed context "Product class help text" %}
                                Product Type is a template used for creating new products.
                                It also controls which attributes can be used during product creation process.
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-action right-align">
                <button type="submit" class="btn btn-flat">
                    {% if product_class.pk %}
                        {% trans "Update" context "Product class primary action" %}
                    {% else %}
                        {% trans "Create" context "Product class primary action" %}
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}
