{% extends "dashboard/base.html" %}

{% load i18n %}
{% load prices_i18n %}
{% load staticfiles %}

{% block title %}
  {{ product }} - {% trans "Products" context "Product form page title" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_products_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:product-list" %}" class="breadcrumb">
        {% trans "Products" context "Product form breadcrumbs" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:product-list" %}">
        <i class="material-icons">arrow_back</i>
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {{ product }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block header_extra %}
  <a class="dropdown-button right" href="#" data-activates="context-menu" data-constrainwidth="false">
    <svg data-src="{% static "dashboard/images/more_vert.svg" %}" height="24" width="24" />
  </a>
  <ul id="context-menu" class="dropdown-content">
    <li>
      <a href="{{ product.get_absolute_url }}" target="_blank">
        {% trans "View on site" context "Product action" %}
      </a>
    </li>
    <li>
      <a href="{% url "dashboard:product-update" product.pk %}">
        {% trans "Update product" context "Product action" %}
      </a>
    </li>
    <li>
      <a href="#base-modal" data-href="{% url 'dashboard:product-delete' pk=product.pk %}"
         class="modal-trigger-custom">
        {% trans "Remove product" context "Product action" %}
      </a>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="tab-content" id="details">
    <div class="row">
      <div class="col m12 l12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ product }}</span>
            <div class="row">
              <div class="col s12 l3">
                <h5>{% trans "Sale price" context "Product field" %}</h5>
                {% with sale_price.min_price as min_price %}
                {% with sale_price.max_price as max_price %}
                <p>{% gross min_price %} - {% gross max_price %}</p>
                {% endwith %}
                {% endwith %}
              </div>
              <div class="col s12 l3">
                <h5>{% trans "Purchase cost" context "Product field" %}</h5>
                {% with sale_price.min_price as min_price %}
                {% with sale_price.max_price as max_price %}
                <p>{% net min_price %} - {% net max_price %}</p>
                {% endwith %}
                {% endwith %}
              </div>
              <div class="col s12 l3">
                <h5>{% trans "Gross margin" context "Product field" %}</h5>
                {% with gross_price_range.min_price as min_price %}
                {% with gross_price_range.max_price as max_price %}
                <p>{% tax min_price %} - {% tax max_price %}</p>
                {% endwith %}
                {% endwith %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="variants">
    <div class="row">
      <div class="col m12 l12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{% trans "Variant" %}</span>
            <table>
              <thead>
                <tr>
                  <th>{% trans "SKU" %}</th>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "Status" %}</th>
                  <th>{% trans "Price" %}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for variant in variants %}
                  <tr>
                    <td>{{ variant.sku }}</td>
                    <td>{{ variant }}</td>
                    <td></td>
                    <td>{% gross variant.get_price_per_item %}</td>
                    <td><a href="{% url 'dashboard:variant-update' product_pk=product.pk variant_pk=variant.pk %}" class="btn waves-effect waves-light">{% trans "Edit" %}</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <a href="{% url 'dashboard:variant-add' product_pk=product.pk %}" class="btn waves-effect waves-light">{% trans "Add variant" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="images">
    <div class="row">
      <div class="col m12 l12">
        <div class="card">
          <span class="card-title">{% trans "Images" %}</span>
          {% for image in images %}
            <div class="row">
              <div class="col s4 m2">
                <div class="card-image product-gallery-item-image">
                  <img class="responsive-img"
                       src="{{ image.image.crop.255x255 }}"
                       srcset="{{ image.image.crop.255x255 }} 1x, {{ image.image.crop.510x510 }} 2x"
                       alt="{{ image.alt }}">
                </div>
              </div>
            </div>
          {% endfor %}
          <a href="{% url 'dashboard:product-image-list' product.pk %}" class="btn waves-effect waves-light">{% trans "Edit images" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
