{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load staticfiles %}

{% block title %}{% trans "Delete" %} {{ product }} - {{ block.super }}{% endblock %}

{% block body_class %}body-store body-products{% endblock %}

{% block header_menu %}
    {% url "dashboard:product-update" pk=product.pk as url %}
    {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--with-menu">
        <li><a href="{% url "dashboard:product-list" %}" class="breadcrumbs--ellipsed-item">{% trans "Products" %}</a></li>
        <li><a href="{% url "dashboard:product-update" pk=product.pk %}" class="breadcrumbs--ellipsed-item">{{ product }}</a></li>
        <li>
            <span class="hide-on-med-and-down">{% trans "Delete product" %}</span>
            <span class="hide-on-large-only">{% trans "Delete" %} {{ product }}</span>
        </li>
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col m6 l4">
                <div class="card">
                    <div class="card-content">
                        {% if object.images.exists %}
                            <img src="{{ product.images.first.image.crop.400x400 }}" alt="" class="responsive-img">
                        {% else %}
                            <img src="{% static 'images/product-image-placeholder.png' %}" alt="" class="responsive-img">
                        {% endif %}
                    </div>

                    <div class="card-action">
                        <button type="submit" class="card-link blue-text">{% trans "Delete" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
