{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load materializecss %}
{% load static %}
{% load attributes %}

{% block title %}{% if product_class.pk %}{{ product_class }}{% else %}{% trans 'Add new product type' %}{% endif %} - {% trans "Products" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_product_classes_class %}active{% endblock %}

{% block header_menu %}
    {% url "dashboard:product-class-list" as url %}
    {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--history">
        <li><a href="{% url "dashboard:product-class-list" %}" class="breadcrumb">{% trans "Product types" %}</a></li>
        <li class="back-mobile"><a href="{% url "dashboard:product-class-list" %}" class="breadcrumb"><i class="material-icons">arrow_back</i></a></li>
        <li><span class="breadcrumbs--ellipsed-item">{% if product_class.pk %}{{ product_class }}{% else %}{% trans 'Add new product type' %}{% endif %}</span></li>
    </ul>
{% endblock %}


{% block header_extra %}
    {% if product_class.pk %}
    <a class="dropdown-button" href="#" data-activates="context-menu" data-constrainwidth="false">
        <i class="material-icons">arrow_drop_down</i>
    </a>
    <ul id="context-menu" class="dropdown-content">
        <li>
            <a href="#base-modal" data-href="{% url 'dashboard:product-class-delete' pk=product_class.pk %}"
               class="modal-trigger-custom">
                {% trans "Remove product type" %}
            </a>
        </li>
    </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row tab-content" id="details">
        <form method="post" id="form-product" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form.name|materializecss:"s12" }}
            {{ form.product_attributes|materializecss:"input-field s12" }}
            {{ form.has_variants|materializecss:"input-field s2" }}
            {{ form.variant_attributes|materializecss:"input-field s10" }}
            <div class="col s12 right-align">
                <div class="row">
                    <button type="submit" class="btn">
                        {% if product_class.pk %}{% trans "Update" %}{% else %}{% trans "Create" %}{% endif %}
                    </button>
                </div>
            </div>
        </form>
    <p>
        {% blocktrans %}Product Type is a template used for creating new products. It also controls which attributes can be used during product creation process.{% endblocktrans %}
    </p>
    </div>
{% endblock %}
