{% extends "dashboard/base.html" %}

{% load i18n %}
{% load prices_i18n %}
{% load staticfiles %}

{% block title %}
  {{ product }} - {% trans "Products" context "Product form page title" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_products_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:product-list" %}" class="breadcrumb">
        {% trans "Products" context "Product form breadcrumbs" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:product-list" %}">
        <i class="material-icons">arrow_back</i>
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {{ product }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block header_extra %}
  <a class="dropdown-button right" href="#" data-activates="context-menu" data-constrainwidth="false">
    <svg data-src="{% static "dashboard/images/more_vert.svg" %}" height="24" width="24" />
  </a>
  <ul id="context-menu" class="dropdown-content">
    <li>
      <a href="{{ product.get_absolute_url }}" target="_blank">
        {% trans "View on site" context "Product action" %}
      </a>
    </li>
    <li>
      <a href="{% url "dashboard:product-update" product.pk %}">
        {% trans "Update product" context "Product action" %}
      </a>
    </li>
    <li>
      <a href="#base-modal" data-href="{% url 'dashboard:product-delete' pk=product.pk %}"
         class="modal-trigger-custom">
        {% trans "Remove product" context "Product action" %}
      </a>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="tab-content" id="details">
    <div class="row">
      <div class="col m12 l12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ product }}</span>
            <div class="row">
              <div class="col s12 l3">
                <h5>{% trans "Sale price" context "Product field" %}</h5>
                {% with sale_price.min_price as min_price %}
                {% with sale_price.max_price as max_price %}
                <p>{% gross min_price %} - {% gross max_price %}</p>
                {% endwith %}
                {% endwith %}
              </div>
              <div class="col s12 l3">
                <h5>{% trans "Purchase cost" context "Product field" %}</h5>
                {% with sale_price.min_price as min_price %}
                {% with sale_price.max_price as max_price %}
                <p>{% net min_price %} - {% net max_price %}</p>
                {% endwith %}
                {% endwith %}
              </div>
              <div class="col s12 l3">
                <h5>{% trans "Gross margin" context "Product field" %}</h5>
                {% with gross_price_range.min_price as min_price %}
                {% with gross_price_range.max_price as max_price %}
                <p>{% tax min_price %} - {% tax max_price %}</p>
                {% endwith %}
                {% endwith %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="details">
    <div class="row">
      <div class="col m12 l12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{% trans "Variant" %}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
