{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}
    {% if variant.pk %}
        {{ variant.sku }}{% if variant.name %} ({{ variant.name }}){% endif %}
    {% else %}
        {% trans "Add variant" %}
    {% endif %} - {{ block.super }}{% endblock %}

{% block body_class %}body-store body-products{% endblock %}

{% block header_menu %}
    {% url "dashboard:product-update" pk=product.pk as url %}
    {% include "dashboard/includes/_back-link.html" with url=url hash="#variants" %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--history">
        <li><a href="{% url "dashboard:product-list" %}"><i class="material-icons">first_page</i></a></li>
        <li><a href="{% url "dashboard:product-update" pk=product.pk %}#variants" class="breadcrumbs--ellipsed-item">{{ product }}</a></li>
        <li class="back-mobile"><a href="{% url "dashboard:product-update" pk=product.pk %}#variants"><i class="material-icons">chevron_left</i></a></li>
        {% if variant.pk %}
            <li><span class="breadcrumbs--ellipsed-item">{% trans "Variant" %} {{ variant.sku }}{% if variant.name %} ({{ variant.name }}){% endif %}</span></li>
        {% else %}
            <li>
                <span class="hide-on-med-and-down">{% trans "Add variant" %}</span>
                <span class="hide-on-large-only breadcrumbs--ellipsed-item">{% blocktrans %}Add variant for {{ product }}{% endblocktrans %}</span>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <form method="post" id="form-variant" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="success_url" value="{% url 'dashboard:product-update' pk=product.pk %}#variants">
        <div class="row">
            <div class="col s12 m6 l4">
                {% if attribute_form.fields %}
                    <div class="row">
                        {% for attribute_field in attribute_form %}
                            {{ attribute_field|materializecss }}
                        {% endfor %}
                    </div>
                {% else %}
                    <p>{% trans "This product has no attributes." %}</p>
                {% endif %}
            </div>

            <div class="col s12 m6 l4">
                <div class="row">
                    {{ form.sku|materializecss }}
                    {{ form.price_override|materializecss }}
                    {{ form.weight_override|materializecss }}
                    {{ form.name|materializecss }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 l8 right-align">
                {% if variant.pk %}
                    <button type="submit" class="btn">{% trans "Update" %}</button>
                {% else %}
                    <button type="submit" class="btn">{% trans "Create" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
