<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="count">3</div>
      <h2>Great for <span>customers</span></h2>
      <h3>Better user expierience means<br> happier customer</h3>
      <div class="row">
        <div class="col-sm-4 item">
          <div class="image">
            <img src="images/performance.svg" />
          </div>
          <h4>Smooth shopping experience</h4>
          <p>Saleor is sleek. It uses <strong>geolocation</strong> to enhance the experience of your customers. It understands <strong>international addresses</strong>, can <strong>convert prices</strong> to other currencies, and offers translation where&nbsp;needed.</p>
        </div>
        <div class="col-sm-4 item">
          <div class="image">
            <img src="images/high-availability.svg" />
          </div>
          <h4>Scalable &amp; resilient</h4>
          <p>Saleor was built with scalibility and fault resilience in mind. Never lose a customer due to high traffic volumes or a single broken server. <strong>Run a small fleet</strong> instead of a single huge ship!</p>
        </div>
        <div class="col-sm-4 item">
          <div class="image">
            <img src="images/essential-features.svg" />
          </div>
          <h4>All of the standard features</h4>
          <p>Saleor is not trying to come with all possible features. It does, however, provide great implementations of the common ones. It has a great search tool and a state-of-the-art checkout&nbsp;process.</p>
        </div>
      </div>
      <a href="http://demo.getsaleor.com/" class="btn btn-primary" target="_blank">See demo store</a>
    </div>
  </div>
</div>
