<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="count">3</div>
      <h2>Great for <span>customers</span></h2>
      <h3>Better user expierience means<br> happier customer</h3>
      <div class="row">
        <div class="col-sm-4 item">
          <div class="image">
            <img src="images/performance.svg" />
          </div>
          <h4>Performance</h4>
          <p>Saleor is fast with no cache (and even faster with it). And <strong>performance</strong> is one of the most important factors regarding <strong>conversion.</strong></p>
        </div>
        <div class="col-sm-4 item">
          <div class="image">
            <img src="images/high-availability.svg" />
          </div>
          <h4>High availabillity</h4>
          <p>Built with easy scaling and fault resilience in mind. Never lost a customer due to a single broken instance. Run a small fleet instead of a single huge ship!</p>
        </div>
        <div class="col-sm-4 item">
          <div class="image">
            <img src="images/essential-features.svg" />
          </div>
          <h4>Essential features</h4>  
          <p>Ok, we won’t lie to you, we’re moderate enthiusists of Standard Features™. Still, we understand — a piratish soul needs some huggle here and there.</p>
        </div>
      </div>
      <a href="/" class="btn btn-primary" target="_blank">See demo store</a>
    </div>
  </div>
</div>