<div class="container">
  <div class="row">
    <div class="col-md-8 col-center">
      <div class="count">1</div>
      <h2>Great for <span>developers</span></h2>
      <h3>Better architecture means<br> productive developers</h3>
      <div class="row boxes">
        <div class="col-sm-6 item">
          <div class="image">
            <img src="images/clear-architecture.svg" />
          </div>
          <h4>Clear architecture</h4>
          <p>Many e-commerce features are either trival to implement or they heavily depend on the specific business needs so <strong>we focus on the architecure instead.</strong></p>
        </div>
        <div class="col-sm-6 item">
          <div class="image">
            <img src="images/optimized.svg" />
          </div>
          <h4>Optimized the Right Way&trade;</h4>
          <p>No cache clutter. We want Saleor to be <strong>great for development</strong> in the first place. It is cache friendly yet not solely relying on it when it comes to the performance.</p>
        </div>
        <div class="col-sm-6 item">
          <div class="image">
            <img src="images/modern-development.svg" />
          </div>
          <h4>Modern development</h4>
          <p>Easy and standarized local development, service based architecute, top-notch technologies. In Django, ElasticSearch, GraphQL, Celery and Docker we trust. Saleor runs on <strong>Python 2.x and 3.x</strong>.</p>
        </div>
        <div class="col-sm-6 item">
          <div class="image">
            <img src="images/easy-customize.svg" />
          </div>
          <h4>Easy to customize</h4>
          <p>We keep it <strong>simple and lightweight</strong>, <strong>modern</strong> and <strong>modular</strong>. We also don't aim Saleor to be everyone. Fork it and make it your very own. It's easy to theme thanks to <strong>semantic templates</strong>, <strong>Bootstrap 4</strong> and <strong>Sass</strong>.</p>
        </div>
        <div class="ship-wheel hidden-sm hidden-xs"></div>
      </div>
      <a href="https://github.com/mirumee/saleor" class="btn btn-primary" target="_blank">Fork it on Github</a>
    </div>
  </div>
</div>
