<div class="container">
  <div class="row">
    <div class="col-md-8 col-center">
      <div class="count">1</div>
      <h2>Great for <span>developers</span></h2>
      <h3>Better architecture means<br> productive developers</h3>
      <div class="row boxes">
        <div class="col-sm-6 item">
          <div class="image">
            <img src="images/clear-architecture.svg" />
          </div>
          <h4>Clear architecture</h4>
          <p>Many e-commerce features are either trival to implement or depend heavily on specific business needs so <strong>we focus on the&nbsp;architecure</strong>.</p>
        </div>
        <div class="col-sm-6 item">
          <div class="image">
            <img src="images/optimized.svg" />
          </div>
          <h4>Optimized the Right Way&trade;</h4>
          <p>No blanket caching. We want Saleor to be <strong>great for development</strong>. It is cache-friendly yet it does not rely on caching when it comes to&nbsp;performance.</p>
        </div>
        <div class="col-sm-6 item">
          <div class="image">
            <img src="images/modern-development.svg" />
          </div>
          <h4>Modern development</h4>
          <p>Straighforward local development, service-based architecture, top-notch technologies. Django, PostgreSQL, ElasticSearch, GraphQL and Docker. Saleor runs on <strong>Python 2.x and&nbsp;3.x</strong>.</p>
        </div>
        <div class="col-sm-6 item">
          <div class="image">
            <img src="images/easy-customize.svg" />
          </div>
          <h4>Easy to customize</h4>
          <p>We keep it <strong>simple, lightweight, and modular</strong>. Saleor doesn't aim to solve all problems. Fork it and make it your very own. It's easy to theme thanks to <strong>semantic templates, Bootstrap 4, and&nbsp;Sass</strong>.</p>
        </div>
        <div class="ship-wheel"></div>
      </div>
      <a href="https://github.com/mirumee/saleor" class="btn btn-primary" target="_blank">Fork it on Github</a>
    </div>
  </div>
</div>
