<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="logo"><a href="/"><img src="images/saleor-logo-white.svg" /></a></div>
      <div class="crafted-by">
        <span>Crafted by</span>
        <img src="images/mirumee-logo.svg" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <h3>Great for <span>Developers</span><span>Managers</span><span>Clients</span></h3>
        </div>
        <div class="col-md-6">
          <h3>Links</h3>
          <ul>
            <% for (var i in theme.menu) { %>
              <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h3>Follow us</h3>
      <ul class="icons">
        <li><a href="/"><img src="images/github-icon.svg" /></a></li>
        <li><a href="/"><img src="images/twitter-icon.svg" /></a></li>
      </ul>
    </div>
  </div>
</div>
