<div class="container">
  <div class="row">
    <div class="col-xs-10 col-center">
      <div class="row rows">
        <div class="col-xs-12 col-md-5 logo">
          <div class="row">
            <div class="col-xs-6 col-center">
              <div class="saleor"><a href="/"><img src="images/saleor-logo-white.svg" /></a></div>
              <div class="mirumee">
                <div class="row no-gutter">
                  <div class="col-xs-5"><span>Crafted by</span></div>
                  <div class="col-xs-7"><a href="https://mirumee.com/"><img src="images/mirumee-logo.svg" /></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-5 links">
          <div class="row">
            <div class="col-xs-5 col-sm-6">
              <h3>Great for</h3>
              <ul>
                <li><a href="#developers">Developers</a></li>
                <li><a href="#store-managers">Managers</a></li>
                <li><a href="#customers">Customers</a></li>
              </ul>
            </div>
            <div class="col-xs-7 col-sm-6">
              <h3>Links</h3>
              <ul>
                <% for (var i in theme.menu) { %>
                  <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-2 follow-us">
          <h3>Follow us</h3>
          <ul class="icons">
            <li><a href="https://github.com/mirumee/saleor"><img src="images/github-icon.svg" /></a></li>
            <li><a href="https://twitter.com/getsaleor"><img src="images/twitter-icon.svg" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
