<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Simple <span>is</span> better</h2>
      <h2>Less <span>is</span> more</h2>
      <h2>Saleor <span>is</span> free</h2>
      <a href="https://github.com/mirumee/saleor" class="btn btn-default" target="_blank">Fork it on Github</a>
    </div>
  </div>
</div>