<div class="container">
  <nav class="row">
    <% for (var i in theme.menu) { %>
      <div class="col-md-2 col-sm-4 col-xs-4">
        <div class="item" >
          <a href="<%- url_for(theme.menu[i]) %>">
              <%= i %>
          </a>
        </div>
      </div>
    <% } %>
  </nav>
</div>