<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="logo">
        <a href="/"><img src="images/saleor-logo.svg" /></a>
      </div>
    </div>
    <div class="col-md-10">
      <nav class="menu-top">
        <ul>
          <li>Great for <a href="#developers">DEVELOPERS</a>, <a href="#store-managers">MANAGERS</a> &amp; <a href="#customers">CUSTOMERS</a></strong></li>
          <% for (var i in theme.menu) { %>
            <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
          <% } %>
        </ul>
      </nav>
    </div>
  </div>
