<div class="container">
  <div class="row">
    <div class="col-md-6 col-center">
      <div class="count">5</div>
      <h2>ENTERPRISE-GRADE SERVICES</h2>
      <h3>Great tools are one half of success. Get the best people for the job.</h3>
      <p>Saleor is open and free to use. It is not a bait to force you to pay us later and we promise to do our bests to fix bugs and improve the&nbsp;code.</p>
      <p>Some situations however call for a custom solution and extra code to be written. Whether you need us to cover an exotic use case or build you a custom e-commerce appliance, our team can&nbsp;help.</p>
      <ul class="row logos">
        <li><img src="images/salesforce-logo.png" /></li>
        <li><img src="images/eurostop-logo.png" /></li>
        <li><img src="images/styleman-logo.png" /></li>
        <li><img src="images/sap-logo.png" /></li>
        <li><img src="images/microsoft-dynamics-logo.png" /></li>
      </ul>
      <p>Take a minute and fill out our project initiation form.</p>
      <a href="/" class="btn btn-primary" target="_blank">Start now</a>
    </div>
  </div>
</div>
