<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="count">4</div>
      <div class="slider-bg">
        <div id="dashboard-screens" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#dashboard-screens" data-slide-to="0" class="active"></li>
            <li data-target="#dashboard-screens" data-slide-to="1"></li>
            <li data-target="#dashboard-screens" data-slide-to="2"></li>
            <li data-target="#dashboard-screens" data-slide-to="3"></li>
            <li data-target="#dashboard-screens" data-slide-to="4"></li>
            <li data-target="#dashboard-screens" data-slide-to="5"></li>
            <li data-target="#dashboard-screens" data-slide-to="6"></li>
            <li data-target="#dashboard-screens" data-slide-to="7"></li>
            <li data-target="#dashboard-screens" data-slide-to="8"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <picture>
                <source media="(max-width: 768px)" srcset="images/screens/slider1m.jpg">
                <img src="images/screens/SC01.png" alt="Human">
              </picture>
            </div>
            <div class="item">
              <picture>
                <source media="(max-width: 768px)" srcset="images/screens/slider1m.jpg">
                <img src="images/screens/SC02.png" alt="Human">
              </picture>
            </div>
            <div class="item">
              <picture>
                <source media="(max-width: 768px)" srcset="images/screens/slider1m.jpg">
                <img src="images/screens/SC03.png" alt="Human">
              </picture>
            </div>
            <div class="item">
              <picture>
                <source media="(max-width: 768px)" srcset="images/screens/slider1m.jpg">
                <img src="images/screens/SC04.png" alt="Human">
              </picture>
            </div>
            <div class="item">
              <picture>
                <source media="(max-width: 768px)" srcset="images/screens/slider1m.jpg">
                <img src="images/screens/DB01.png" alt="Human">
              </picture>
            </div>
            <div class="item">
              <picture>
                <source media="(max-width: 768px)" srcset="images/screens/slider1m.jpg">
                <img src="images/screens/DB02.png" alt="Human">
              </picture>
            </div>
            <div class="item">
              <picture>
                <source media="(max-width: 768px)" srcset="images/screens/slider1m.jpg">
                <img src="images/screens/DB03.png" alt="Human">
              </picture>
            </div>
            <div class="item">
              <picture>
                <source media="(max-width: 768px)" srcset="images/screens/slider1m.jpg">
                <img src="images/screens/DB04.png" alt="Human">
              </picture>
            </div>
            <div class="item">
              <picture>
                <source media="(max-width: 768px)" srcset="images/screens/slider1m.jpg">
                <img src="images/screens/DB05.png" alt="Human">
              </picture>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
