<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Great for <span>store managers</span></h2>
      <h3>Better dashboard means<br> a satisfied sales team</h3>
      <div class="row">
        <div class="col-md-4 item">
          <div class="image">
            <img src="images/responsive-dashboard.svg" />
          </div>
          <h4>Responsive and intuitive dashboard</h4>
          <p>Be it a train, meeting or just your desk — Saleor makes it easy to <strong>manage your store from any modern device</strong> thanks to a responsive and intuitive management panel.</p>
        </div>
        <div class="col-md-4 item">
          <div class="image">
            <img src="images/great-outofthebox.svg" />
          </div>
          <h4>Great out-of-the-box</h4>
          <p>It comes with industry-standard checkout process, offers an excellent mobile shopping experience, supports multiple payment methods and currencies and it’s optimized for search engines.</p>
        </div>
        <div class="col-md-4 item">
          <div class="image">
            <img src="images/integrations.svg" />
          </div>
          <h4>Integrations</h4>
          <p>Analyze your sales and traffic with the best tools. There’s a <strong>Google Merchants</strong> and <strong>Google Analytics</strong> integration that will do the whole heavy lifting for you.</p>
        </div>
      </div>
      <a href="/" class="btn btn-primary" target="_blank">See dashboard-demo</a>
    </div>
  </div>
</div>