<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>An opensource<br> storefront platform<br> for perfectionists</h2>
      <h3>Written in python, best served as a bespoke,<br> high-performance e-commerce solution</h3>
      <div class="image">
        <picture>
          <source media="(max-width: 768px)" srcset="images/main-pic-mobile.svg">
          <img src="images/main-pic.svg" alt="Human">
        </picture>
      </div>
    </div>
  </div>
</div>
