<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>An opensource<br> storefront platform<br> for perfectionsist</h2>
      <h3>Written in python. Best served as a bespoke e-commerce<br> or high-performance complex solution</h3>
      <div class="image">
        <img src="images/main-pic.svg">
      </div>
    </div>
  </div>
</div>