{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load utils %}

{% block title %}
  {% trans "Companies" context "Dashboard companies list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-companies{% endblock %}

{% block menu_companies_class %}active{% endblock %}

{% block header_extra %}
  {% if perms.account.edit_staff %}
    <div class="btn-fab-fixed">
      <a href="{% url 'dashboard:company-create' %}" class="btn-fab-default waves-effect waves-light" title="{% trans "Add company" context "Company list add button text" %}" >
        <svg data-src="{% static "dashboard/images/add.svg" %}" />
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">
      {% trans "Companies" context "Dashboard companies list" %}
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if companies %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  {% trans "Name" context "Company table header" as label %}
                  {% sorting_header 'name' label %}

                  {% trans "Location" context "Customers table header" as label %}
                  {% sorting_header 'location' label %}
                </tr>
              </thead>
              <tbody>
                {% for company in companies %}
                  <tr data-action-go="{% url "dashboard:company-details" pk=company.pk %}">
                    {% with company.default_billing_address as default_address %}
                      <td>
                        {{ company.name }}
                      </td>
                      <td>
                        {% if default_address %}
                          {{ default_address.city }}, {{ default_address.get_country_display }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                    {% endwith %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate companies %}
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/company/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No companies found." context "Empty companies table message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
    </div>
  </div>
{% endblock %}
