{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "dashboard:voucher-delete" pk=voucher.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal remove voucher title" %}
Remove voucher {{ voucher }}
{% endblocktrans %}
{% endblock %}

{% block content %}
<div class="col">
    {% blocktrans trimmed context "Modal remove voucher text" %}
        Are you sure you want to remove voucher <strong>{{ voucher }}</strong>?
    {% endblocktrans %}
</div>
{% endblock %}

{% block primary_action %}
{% trans "Remove" context "Modal remove voucher primary action" %}
{% endblock %}
