{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "dashboard:voucher-delete" pk=voucher.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Remove voucher text" %}
Remove voucher {{ voucher }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed context "Remove voucher text" %}
      Are you sure you want to remove voucher <strong>{{ voucher }}</strong>?
    {% endblocktrans %}
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
