{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}{% if attribute.pk %}{{ attribute }}{% else %}{% trans 'Add new attribute' %}{% endif %} - {% trans "Attributes" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-store body-attributes{% endblock %}

{% block custom_css %}
    <style>
    [type=checkbox]:not(:checked), [type=checkbox]:checked {
        position: initial;
        visibility: visible;
    }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--with-menu">
        <li><a href="{% url 'dashboard:product-attributes' %}">{% trans "Attributes" %}</a></li>
        <li>{% if attribute.pk %}{{ attribute }}{% else %}{% trans 'Add new attribute' %}{% endif %}</li>
    </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col l8 offset-l2">
                <div class="row">
                    {% csrf_token %}
                    {{ form|materializecss }}
                </div>
                <div class="row">
                    <legend>Attribute values</legend>
                    {{ formset.management_form }}
                    {{ formset.non_form_errors.as_ul }}
                    <table id="formset" class="form">
                        {% for form in formset.forms %}
                            {% if forloop.first %}
                                <thead>
                                <tr>
                                    {% for field in form.visible_fields %}
                                        <th>{{ field.label|capfirst }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% endif %}
                            <tr class="{% cycle row1,row2 %}">
                                {% for field in form.visible_fields %}
                                    <td>
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field|materializecss }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l8 offset-l2 right-align">
                <a href="{% url 'dashboard:product-attributes' %}" class="btn-flat"><i class="mdi-content-clear"></i> {% trans "Cancel" %}</a>
                {% if attribute.pk %}
                    <button type="submit" class="btn"><i class="mdi-content-save"></i> {% trans "Update" %}</button>
                {% else %}
                    <button type="submit" class="btn"><i class="mdi-content-create"></i> {% trans "Create" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}