{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}
{% load static %}
{% load utils %}

{% block title %}
  {% trans "Sales" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-sales{% endblock %}

{% block menu_sales_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">{% trans "Sales" context "Dashboard sales (discounts) list." %}</li>
  </ul>
{% endblock %}

{% block menu_discounts_class %} active{% endblock %}

{% block header_extra %}
  <div class="btn-fab-fixed">
    <a href="{% url 'dashboard:sale-add' %}" class="btn-fab-default waves-effect waves-light"
        title="{% trans "Add sale" context "Sale (discount) list add button text" %}">
      <svg data-src="{% static "dashboard/images/add.svg" %}" />
    </a>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if sales %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table last-right-align">
              <thead>
                <tr>
                  {% trans "Name" context "Sale (discount) table header" as label %}
                  {% sorting_header 'name' label is_wide=True %}

                  {% trans "Start date" context "Sale (discount) table header" as label %}
                  {% sorting_header 'start_date' label is_wide=True %}

                  {% trans "End date" context "Sale (discount) table header" as label %}
                  {% sorting_header 'end_date' label is_wide=True %}

                  {% trans "Discount" context "Sale (discount) table header" as label %}
                  {% sorting_header 'value' label is_wide=True %}
                </tr>
              </thead>
              <tbody>
                {% for sale in sales %}
                  <tr data-action-go="{% url 'dashboard:sale-update' pk=sale.pk %}">
                    <td>
                      {{ sale }}
                    </td>
                    <td>
                      {{ sale.start_date }}
                    </td>
                    <td>
                      {{ sale.end_date|default_if_none:"-" }}
                    </td>
                    <td>
                      {{ sale.value }}{{ sale.get_type_display }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate sales %}
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/discount/sale/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No sales found" context "Empty sales table message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
    </div>
  </div>
{% endblock %}
