.container {
  & .grid {
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(12, 1fr);
    @media (max-width: 550px) {
      & .col-xs-1 { grid-column: span 1; }
      & .col-xs-2 { grid-column: span 2; }
      & .col-xs-3 { grid-column: span 3; }
      & .col-xs-4 { grid-column: span 4; }
      & .col-xs-5 { grid-column: span 5; }
      & .col-xs-6 { grid-column: span 6; }
      & .col-xs-7 { grid-column: span 7; }
      & .col-xs-8 { grid-column: span 8; }
      & .col-xs-9 { grid-column: span 9; }
      & .col-xs-10 { grid-column: span 10; }
      & .col-xs-11 { grid-column: span 11; }
      & .col-xs-12 { grid-column: span 12; }
    }
    // landscape
    @media (min-width: 700px) {
      & .col-ls-1 { grid-column: span 1; }
      & .col-ls-2 { grid-column: span 2; }
      & .col-ls-3 { grid-column: span 3; }
      & .col-ls-4 { grid-column: span 4; }
      & .col-ls-5 { grid-column: span 5; }
      & .col-ls-6 { grid-column: span 6; }
      & .col-ls-7 { grid-column: span 7; }
      & .col-ls-8 { grid-column: span 8; }
      & .col-ls-9 { grid-column: span 9; }
      & .col-ls-10 { grid-column: span 10; }
      & .col-ls-11 { grid-column: span 11; }
      & .col-ls-12 { grid-column: span 12; }
    }
    @media (max-width: 991px) and (min-width: 500px) {
      & .col-sm-1 { grid-column: span 1; }
      & .col-sm-2 { grid-column: span 2; }
      & .col-sm-3 { grid-column: span 3; }
      & .col-sm-4 { grid-column: span 4; }
      & .col-sm-5 { grid-column: span 5; }
      & .col-sm-6 { grid-column: span 6; }
      & .col-sm-7 { grid-column: span 7; }
      & .col-sm-8 { grid-column: span 8; }
      & .col-sm-9 { grid-column: span 9; }
      & .col-sm-10 { grid-column: span 10; }
      & .col-sm-11 { grid-column: span 11; }
      & .col-sm-12 { grid-column: span 12; }
    }
    @media (min-width: 992px) {
      & .col-md-1 { grid-column: span 1; }
      & .col-md-2 { grid-column: span 2; }
      & .col-md-3 { grid-column: span 3; }
      & .col-md-4 { grid-column: span 4; }
      & .col-md-5 { grid-column: span 5; }
      & .col-md-6 { grid-column: span 6; }
      & .col-md-7 { grid-column: span 7; }
      & .col-md-8 { grid-column: span 8; }
      & .col-md-9 { grid-column: span 9; }
      & .col-md-10 { grid-column: span 10; }
      & .col-md-11 { grid-column: span 11; }
      & .col-md-12 { grid-column: span 12; }
    }
    @media (min-width: 1200px) {
      & .col-lg-1 { grid-column: span 1; }
      & .col-lg-2 { grid-column: span 2; }
      & .col-lg-3 { grid-column: span 3; }
      & .col-lg-4 { grid-column: span 4; }
      & .col-lg-5 { grid-column: span 5; }
      & .col-lg-6 { grid-column: span 6; }
      & .col-lg-7 { grid-column: span 7; }
      & .col-lg-8 { grid-column: span 8; }
      & .col-lg-9 { grid-column: span 9; }
      & .col-lg-10 { grid-column: span 10; }
      & .col-lg-11 { grid-column: span 11; }
      & .col-lg-12 { grid-column: span 12; }
    }
    @media (min-width: 1920px) {
      & .col-xlg-1 { grid-column: span 1; }
      & .col-xlg-2 { grid-column: span 2; }
      & .col-xlg-3 { grid-column: span 3; }
      & .col-xlg-4 { grid-column: span 4; }
      & .col-xlg-5 { grid-column: span 5; }
      & .col-xlg-6 { grid-column: span 6; }
      & .col-xlg-7 { grid-column: span 7; }
      & .col-xlg-8 { grid-column: span 8; }
      & .col-xlg-9 { grid-column: span 9; }
      & .col-xlg-10 { grid-column: span 10; }
      & .col-xlg-11 { grid-column: span 11; }
      & .col-xlg-12 { grid-column: span 12; }
    }
  }
}