@import '~reset-css';
@import '~typeface-catamaran';

@import './variables.css';
@import './grid.css';

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  color: var(--body-color);
  text-align: left;
  /* TODO: use color-mod function instead of rgba */
  background-color: #111010;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(15, 8, 46, .5), rgba(15, 8, 46, .5) 10%,
    rgba(16, 9, 57, .5) 10%, rgba(16, 9, 57, .5) 20%,
    rgba(23, 14, 73, .5) 20%, rgba(23, 14, 73, .5) 30%,
    rgba(49, 19, 100, .5) 30%, rgba(49, 19, 100, .5) 40%,
    rgba(33, 18, 94, .5) 40%, rgba(33, 18, 94, .5) 50%,
    rgba(24, 14, 76, .5) 50%, rgba(24, 14, 76, .5) 60%,
    rgba(21, 13, 72, .5) 60%, rgba(21, 13, 72, .5) 70%,
    rgba(26, 15, 81, .5) 70%, rgba(26, 15, 81, .5) 80%,
    rgba(33, 18, 94, .5) 80%, rgba(33, 18, 94, .5) 90%,
    rgba(15, 8, 46, .5) 90%, rgba(15, 8, 46, .5) 100%
  );
  background-attachment: fixed;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--headings-line-height);
  text-transform: uppercase;
}

h2 {
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  line-height: var(--headings-line-height);
}

h3 {
  font-size: var(--h3-font-size);
  line-height: var(--headings-line-height);
}

h4 {
  font-size: var(--h4-font-size);
  line-height: var(--headings-line-height);
  text-transform: uppercase;
}

h5 {
  font-size: var(--h5-font-size);
  line-height: var(--headings-line-height);
}

a {
  color: var(--primaryColor);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: calc(var(--font-size-base));
}

strong {
  font-weight: var(--font-weight-bold);
}

img { 
  max-width: 100%;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.decoration {
  position: absolute;
}

.primaryColor { color: var(--primaryColor); }
.seconadyColor { color: var(--secondaryColor); }

.container {
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 0 calc(var(--spacer) * 2);
}

section {
  & .section-container {
    padding: calc(var(--spacer) * 5);
    position: relative;
  }
}

.btn {
  padding: calc(var(--spacer) / 2) calc(var(--spacer) * 3);
  border-radius: calc(var(--border-radius) * 2);
  transition: background .5s, color .5s;
  font-size: var(--font-size-lg);
  &.btn-primary {
    border: solid var(--border-width) var(--primaryColor);
    &:hover {
      text-decoration: none;
      border-color: var(--secondaryColor);
      background-color: var(--secondaryColor);
      color: var(--body-color);
    }
  }
  &.btn-secondary {
    border: solid var(--border-width) var(--secondaryColor);
    background-color: var(--secondaryColor);
    color: var(--body-color);
    &:hover {
      text-decoration: none;
      border-color: var(--primaryColor);
      background-color: transparent;
      color: var(--primaryColor);
    }
  }
}

