@import '~reset-css';

@import './variables.css';
@import './grid.css';

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  color: var(--body-color);
  text-align: left;
  background-color: var(--mobile-background);
  & #root {
    width: 100%;
    height: 100%;
    padding-bottom: calc(var(--spacer) * 2);
    background-image: linear-gradient(-150deg, rgba(254,62,62, 0.3) 0%, rgba(125,185,232,0) 10%, rgba(125,185,232,0) 100%), url('../../../images/background.svg');
    background-color: var(--background-color);
    background-attachment: scroll, scroll;
    background-position: 0 0, 50% 0;
    background-size: cover, cover;
    background-repeat: repeat, repeat-y;
    background-blend-mode: screen;
  }
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--headings-line-height);
  text-transform: uppercase;
  @media (max-width: 1440px) {
    font-size: calc(var(--font-size-base) * 4);
  }
  @media (max-width: 1024px) {
    font-size: calc(var(--font-size-base) * 3);
  }
  @media (max-width: 768px) {
    font-size: calc(var(--h1-font-size) * 0.7);
  }
  @media (max-width: 450px) {
    font-size: calc(var(--h1-font-size) * 0.6);
  }
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  line-height: var(--headings-line-height);
  text-transform: uppercase;
  @media (max-width: 1024px) {
    font-size: calc(var(--font-size-base) * 2.5);
  }
  @media (max-width: 700px) {
    font-size: calc(var(--font-size-base) * 2);
  }
  
  @media (max-width: 450px) {
    font-size: calc(var(--font-size-base) * 1.8);
  }
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--headings-line-height);
  text-transform: uppercase;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: var(--headings-line-height);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
}

h5 {
  font-size: var(--h5-font-size);
  line-height: var(--headings-line-height);
  font-weight: var(--font-weight-medium);
}

a {
  color: var(--primaryColor);
  text-decoration: none;
  font-weight: var(--font-weight-light);
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: calc(var(--font-size-base));
  letter-spacing: 1px;
}

strong {
  font-weight: var(--font-weight-bold);
}

img { 
  max-width: 100%;
  box-sizing: border-box;
}

.text-bold {
  font-weight: var(--font-weight-bold);
}

.text-light {
  font-weight: var(--font-weight-light);
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.quote {
  font-style: italic;
}

.decoration {
  position: absolute;
}

.center {
  text-align: center;
}

.primaryColor { color: var(--primaryColor); }
.seconadyColor { color: var(--secondaryColor); }

.container {
  max-width: var(--layout-width);
  overflow: hidden;
  margin: 0 auto;
}

.borderFrame {
  border: solid var(--border-width) var(--sectionBorder);
  border-bottom: none;
  margin: 0 calc(var(--spacer) * 2.5);
  @media (max-width: 768px) {
    margin: 0 var(--spacer);
  }
  @media (max-width: 450px) {
    border: none;
    margin: 0;
  }
}

section {
  & .section-container {
    padding: calc(var(--spacer) * 4);
    position: relative;
    @media (max-width: 768px) {
      padding: calc(var(--spacer) * 2);
    }
  }
}

ul {
  &.hovered {
    & li {
      & a, & span {
        position: relative;
        &::after {
          content: "";
          width: 0;
          height: calc(var(--border-width) * 2);
          bottom: 0;
          left: 0;
          top: calc(var(--spacer) * 2);
          @media (max-width: 450px) {
            top: calc(var(--spacer) * 1.5);
          }
          position: absolute;
          transform: skewX(-20deg);
          background: var(--primaryColor);
          transition: width 0.5s;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
        &.active {
          &::after {
            width: 100%;
          }
        }
      }
      
    }
  }
  &.menu-desktop {
    & .underline {
      & a, & span {
        padding: 0 calc(var(--spacer) * 0.5) calc(var(--spacer) * 0.5);
        position: relative;
        &::after {
          content: "";
          width: 0;
          height: calc(var(--border-width) * 2);
          bottom: 0;
          left: 0;
          top: calc(var(--spacer) * 1.5);
          position: absolute;
          transform: skewX(-20deg);
          background: var(--primaryColor);
          transition: width 0.5s;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
        &.active {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.btn {
  padding: calc(var(--spacer) / 1.5) calc(var(--spacer) * 3);
  transition: background .5s, color .5s;
  transform: skew(-45deg);
  display: inline-block;
  font-size: calc(var(--font-size-base) * 1.2);
  text-decoration: none;
  & span {
    display: block;
    transform: skew(45deg);
    text-transform: uppercase;
    font-weight: 500;
  }
  &.btn-primary {
    border-top: solid 2px var(--primaryColor);
    border-bottom: solid 2px var(--primaryColor);
    border-left: solid 3px var(--primaryColor);
    border-right: solid 3px var(--primaryColor);
    background: var(--primaryColor);
    color: var(--mobile-background);
    &:hover {
      background: transparent;
      color: var(--primaryColor);
      text-decoration: none;
    }
  }
  &.btn-secondary {
    border-top: solid 2px var(--body-color);
    border-bottom: solid 2px var(--body-color);
    border-left: solid 3px var(--body-color);
    border-right: solid 3px var(--body-color);
    background-color: transparent;
    color: var(--body-color);
    &:hover {
      text-decoration: none;
      background-color: var(--body-color);
      color: var(--mobile-background);
    }
  }
  @media (max-width: 450px) {
    font-size: calc(var(--font-size-base));
  }
  @media (max-width: 320px) {
    font-size: calc(var(--font-size-sm));
  }
}

@media (max-width: 450px) {
  .decoration {
    display: none;
  }
}

.bg-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  @media (max-width: 578px) {
    opacity: 0.5;
  }
}

section.hero {
  height: 1240px;
  @media (max-width: 1920px) {
    height: 900px;
  }
  @media (max-width: 1680px) {
    height: 800px;
  }
  @media (max-width: 1440px) {
    height: 700px;
  }
  @media (max-width: 768px) {
    height: 650px;
  }
  @media (max-width: 700px) {
    height: 180vh;
  }
  @media (max-width: 450px) {
    height: 550px;
  }
  @media (max-width: 320px) {
    height: 450px;
  }
}