@import '~reset-css';

@import './variables.css';
@import './grid.css';

html, body {
  margin: 0;
  height: 100vh;
  overflow: hidden scroll;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  color: var(--body-color);
  text-align: left;
  /* TODO: use color-mod function instead of rgba */
  background-color: #111010;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(15, 8, 46, .5), rgba(15, 8, 46, .5) 10%,
    rgba(16, 9, 57, .5) 10%, rgba(16, 9, 57, .5) 20%,
    rgba(23, 14, 73, .5) 20%, rgba(23, 14, 73, .5) 30%,
    rgba(49, 19, 100, .5) 30%, rgba(49, 19, 100, .5) 40%,
    rgba(33, 18, 94, .5) 40%, rgba(33, 18, 94, .5) 50%,
    rgba(24, 14, 76, .5) 50%, rgba(24, 14, 76, .5) 60%,
    rgba(21, 13, 72, .5) 60%, rgba(21, 13, 72, .5) 70%,
    rgba(26, 15, 81, .5) 70%, rgba(26, 15, 81, .5) 80%,
    rgba(33, 18, 94, .5) 80%, rgba(33, 18, 94, .5) 90%,
    rgba(15, 8, 46, .5) 90%, rgba(15, 8, 46, .5) 100%
  );
  background-attachment: fixed;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--headings-line-height);
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: calc(var(--h1-font-size) * 0.7);
  }
  @media (max-width: 450px) {
    font-size: calc(var(--h1-font-size) * 0.6);
  }
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  line-height: var(--headings-line-height);
  text-transform: uppercase;
  @media (max-width: 1024px) {
    font-size: calc(var(--font-size-base) * 2.5);
  }
  @media (max-width: 700px) {
    font-size: calc(var(--font-size-base) * 2);
  }
  
  @media (max-width: 450px) {
    font-size: calc(var(--font-size-base) * 1.8);
  }
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--headings-line-height);
  text-transform: uppercase;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: var(--headings-line-height);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
}

h5 {
  font-size: var(--h5-font-size);
  line-height: var(--headings-line-height);
  font-weight: var(--font-weight-normal);
}

a {
  color: var(--primaryColor);
  text-decoration: none;
  font-weight: var(--font-weight-light);
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: calc(var(--font-size-base));
}

strong {
  font-weight: var(--font-weight-bold);
}

img { 
  max-width: 100%;
  box-sizing: border-box;
}

.text-bold {
  font-weight: var(--font-weight-bold);
}

.text-light {
  font-weight: var(--font-weight-light);
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.quote {
  font-style: italic;
}

.decoration {
  position: absolute;
}

.primaryColor { color: var(--primaryColor); }
.seconadyColor { color: var(--secondaryColor); }

.container {
  max-width: var(--layout-width);
  overflow: hidden;
  margin: 0 auto;
  padding: 0 calc(var(--spacer) * 2);
  @media (max-width: 768px) {
    padding: 0 var(--spacer);
  }
  @media (max-width: 450px) {
    padding: 0 calc(var(--spacer) * 0.5);
  }
}

section {
  & .section-container {
    padding: calc(var(--spacer) * 5);
    position: relative;
    @media (max-width: 768px) {
      padding: calc(var(--spacer) * 2);
    }
  }
}

ul {
  &.hovered {
    & li {
      & a, & span {
        position: relative;
        &::after {
          content: "";
          width: 0;
          height: calc(var(--border-width) * 2);
          bottom: 0;
          left: 0;
          position: absolute;
          transform: skewX(-20deg);
          background: var(--primaryColor);
          transition: width 0.5s;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
        &.active {
          &::after {
            width: 100%;
          }
        }
      }
      
    }
  }
  &.menu-desktop {
    & .underline {
      & a, & span {
        padding: 0 calc(var(--spacer) * 0.5) calc(var(--spacer) * 0.5) 0;
        position: relative;
        &::after {
          content: "";
          width: 0;
          height: calc(var(--border-width) * 2);
          bottom: 0;
          left: 0;
          position: absolute;
          transform: skewX(-20deg);
          background: var(--primaryColor);
          transition: width 0.5s;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
        &.active {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.btn {
  padding: calc(var(--spacer) / 2) calc(var(--spacer) * 3);
  border-radius: calc(var(--border-radius) * 2);
  transition: background .5s, color .5s;
  font-size: var(--font-size-lg);
  &.btn-primary {
    border: solid var(--border-width) var(--primaryColor);
    background: transparent;
    &:hover {
      background: var(--primaryColor);
      color: var(--mobile-background);
      text-decoration: none;
    }
  }
  &.btn-secondary {
    border: solid var(--border-width) var(--secondaryColor);
    background-color: var(--secondaryColor);
    color: var(--body-color);
    &:hover {
      text-decoration: none;
      border-color: var(--primaryHoverColor);
      background-color: var(--primaryHoverColor);
      color: var(--body-color);
    }
  }
  @media (max-width: 450px) {
    font-size: calc(var(--font-size-base));
  }
  @media (max-width: 320px) {
    font-size: calc(var(--font-size-sm));
  }
}
