:root {
  /* Global */

  --primaryColor: #36c1ac;
  --secondaryColor: #d62319;
  --accentColor: #5CEDF1;
  --border-width: 1px;
  --border-radius: 1rem;
  --spacer: 1rem;
  --body-color: #fff;
  --background-color: #111010;
  --layout-width: 1300px;
  --footer-border: #13657F;
  --mobile-background: #130D44;

  --xs-max-width: 576px; /* xs */
  --sm-min-width: 768px; /* sm */
  --md-min-width: 992px; /* md */
  --lg-min-width: 1400px; /* lg */
  --xlg-min-width: 1920px; /* xlg */

  /* Typography */

  --font-family-sans-serif:      HeronSans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace:       monospace;
  --font-family-base:            var(--font-family-sans-serif);

  --font-size-base:              1rem;
  --font-size-lg:                calc(var(--font-size-base) * 1.5);
  --font-size-sm:                calc(var(--font-size-base) * .875);

  --font-weight-light:           300;
  --font-weight-normal:          400;
  --font-weight-medium:          500;
  --font-weight-bold:            bold;

  --font-weight-base:            var(--font-weight-lighter);
  --line-height-base:            1.5;

  --h1-font-size:                calc(var(--font-size-base) * 3.5);
  --h2-font-size:                calc(var(--font-size-base) * 3);
  --h3-font-size:                calc(var(--font-size-base) * 2);
  --h4-font-size:                calc(var(--font-size-base) * 1.5);
  --h5-font-size:                var(--font-size-base);

  --h1-font-weight:              500;
  --h2-font-weight:              500;
  --h3-font-weight:              400;

  --headings-margin-bottom:      calc(var(--spacer) / 2);
  --headings-font-family:        inherit;
  --headings-font-weight:        500;
  --headings-line-height:        1.2;
  --headings-color:              inherit;

}

