{% extends "base.html" %}
{% load as_vertical_form from bootstrap %}
{% load gross from prices_i18n %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Your cart" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
<li><a href="{% url 'cart:index' %}">{% trans "Cart" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
{% if cart %}
<form role="form" action="." method="post" class="form-cart">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-striped cart" id="cart-items">
        <thead>
            <tr>
                <th class="col-sm-6">{% trans "Product" %}</th>
                <th class="col-sm-2 text-right">{% trans "Quantity" %}</th>
                <th class="col-sm-2 text-right">{% trans "Price" %}</th>
                <th class="col-sm-2 text-right">{% trans "Subtotal" %}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td class="col-sm-10 text-right lead" colspan="3">{% trans "Total" %}:
                <td class="col-sm-2 text-right lead"><b>{% gross cart.get_total %}</b></td>
            </tr>
        </tfoot>
        <tbody>
            {% for form in formset %}
            <tr class="cart-item">
                <td>
                    <a href="{{ form.cart_line.product.get_absolute_url }}">
                        {% if form.cart_line.product.product.images.first %}
                            <img class="cart-item-image" itemprop="image" src="{{ form.cart_line.product.product.images.first.image.crop.100x100 }}" alt="">
                        {% else %}
                            <img class="cart-item-image" src="{% static 'images/product-image-placeholder.png' %}" alt="">
                        {% endif %}
                        {{ form.cart_line.product.product }} - {{ form.cart_line.product.display_variant }}
                    </a>
                </td>
                <td>
                    <div class="input-group cart-item-quantity{% if form.quantity.errors %} has-error{% endif %}">
                        {{ form.quantity }}
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">{% trans "Update" %}</button>
                        </span>
                    </div>
                    {% if form.quantity.errors %}
                        {% for error in form.quantity.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </td>
                <td class="text-right">{% gross form.cart_line.get_price_per_item %}</td>
                <td class="text-right cart-item-subtotal">
                    {% gross form.cart_line.get_total %}
                    <button type="submit" class="btn btn-link btn-sm cart-item-remove">
                        <span class="text-muted">{% trans "Remove from cart" %}</span>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
        <div>
            <a href="{% url "checkout:index" %}" class="btn btn-primary btn-lg pull-right">{% trans "Proceed to checkout" %}</a>
        </div>
    </div>
</form>
{% else %}
<p>
    {% trans 'Your cart is empty' %}
</p>
{% endif %}
{% endblock content %}
