{% extends "base.html" %}
{% load as_vertical_form from bootstrap %}
{% load gross from prices_i18n %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Your cart" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
<li><a href="{% url 'cart:index' %}">{% trans "Cart" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
{% if cart %}
<form role="form" action="." method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-striped" id="cart-items">
        <thead>
            <tr>
                <th class="col-sm-4">{% trans "Product" %}</th>
                <th class="col-sm-2">{% trans "Quantity" %}</th>
                <th class="col-sm-2">{% trans "Price" %}</th>
                <th class="col-sm-2">{% trans "Subtotal" %}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td class="col-sm-4"></td>
                <td class="col-sm-2">
                    <button class="btn btn-default" type="submit">
                        {% trans "Update quantities" %}
                    </button>
                </td>
                <th class="col-sm-2">{% trans "Total" %}:</th>
                <td class="col-sm-2">{% gross cart.get_total %}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for form in formset %}
            <tr>
                <td>
                    <a href="{{ form.cart_line.product.get_absolute_url }}">{{ form.cart_line.product.product }} - {{ form.cart_line.product.display_variant }}</a>
                </td>
                <td>{{ form.quantity|as_vertical_form:False }}</td>
                <td>{% gross form.cart_line.get_price_per_item %}</td>
                <td>{% gross form.cart_line.get_total %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
        <div>
            <a href="{% url "checkout:index" %}" class="btn btn-primary">Checkout</a>
        </div>
    </div>
</form>
{% else %}
<p>
    {% trans 'Your cart is empty' %}
</p>
{% endif %}
{% endblock content %}

{% block footer_scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/delete_buttons.js" %}"></script>
    <script>
        $('#cart-items').addDeleteButtons();
    </script>
{% endblock footer_scripts %}