{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load price from taxed_prices %}
{% load staticfiles %}
{% load status %}

{% block title %}
  {{ customer }} - {% trans "Customers" context "Dashboard customers list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-customers{% endblock %}

{% block menu_customers_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:customers" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:customers" %}">
        {% trans "Customers" context "Dashboard customers list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:customers" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <span class="breadcrumbs--elipsed-item">{{ customer }}</span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col m12 l8">
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {{ customer.email }}
          </span>
          <div class="row">
            {% if customer.date_joined %}
              <div class="col s12 m4 l12">
                <h4>
                  {% trans "Date joined" context "Customer field" %}
                </h4>
                <p>
                  {{ customer.date_joined }}
                </p>
              </div>
            {% endif %}
          </div>
          {% if customer.note %}
            <div class="row">
              <div class="col s12 m4 l12">
                <h4>
                  {% trans "Note" context "Customer field" %}
                </h4>
                <p>
                  {{ customer.note }}
                </p>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="card-action">
          <a href="{% url 'dashboard:customer-update' customer.pk %}" class="btn-flat waves-effect">
            {% trans "Edit customer" context "Customer action" %}
          </a>
          <a href="#base-modal" data-href="{% url 'dashboard:customer-delete' pk=customer.pk %}" class="modal-trigger-custom btn-flat waves-effect">
            {% trans "Remove customer" context "Customer action" %}
          </a>
          {% if perms.account.impersonate_users %}
            <a href="{% url 'impersonate-start' uid=customer.pk %}" class="btn-flat waves-effect">
              {% trans 'Impersonate customer' context 'Customer impersonate action' %}
            </a>
          {% endif %}
        </div>
      </div>

      <div class="card">
        <div class="data-table-header{% if not customer_orders %} data-table-header--no-data{% endif %}">
          <h5 class="data-table-title {% if not customer_orders %} data-table-title--no-data{% endif %}">
            {% trans "Recent orders" context "Customer recent orders table title" %}
          </h5>
        </div>
        {% if customer_orders %}
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  <th>
                    {% trans "Number" context "Customer orders table header" %}
                  </th>
                  <th>
                    {% trans "Placed on" context "Customer orders table header" %}
                  </th>
                  <th>
                    {% trans "Order status" context "Customer orders table header" %}
                  </th>
                  <th class="right-align">
                    {% trans "Total" context "Customer orders table header" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for order in customer_orders %}
                  <tr data-action-go="{% if perms.order.manage_orders %}{% url 'dashboard:order-details' order_pk=order.pk %}{% endif %}">
                    <td>
                      {{ order }}
                    </td>
                    <td>
                      {{ order.created }}
                    </td>
                    <td>
                      {% render_order_status order.status order.get_status_display %}
                    </td>
                    <td class="right-align">
                      {% price order.total.gross %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="card-content card-content--no-data">
            <p>
              {% trans "No orders found." context "Empty customer orders table message" %}
            </p>
          </div>
        {% endif %}
      </div>

      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {% trans "Customer notes" context "Customer notes card title" %}
          </span>
          {% if notes %}
            <ul class="list">
              {% for note in notes %}
                <li class="list-item list-item--spaced">
                  <small class="list-item-author">{{ note.user }} - {{ note.date }}</small>
                  <p>{{ note.content }}</p>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <div>
              {% trans "There are no notes associated with this customer" context "Customer without notes message" %}
            </div>
          {% endif %}
        </div>
        <div class="card-action">
          <a data-href="{% url "dashboard:customer-add-note" customer_pk=customer.pk %}" class="modal-trigger-custom btn-flat waves-effect" href="#base-modal">
            {% trans "Add note" context "Customer notes card action" %}
          </a>
        </div>
      </div>
    </div>


    <div class="col s12 l4">
       <div class="row">
        <div class="col s12 m6 p6 l12">
          <div class="card equal-height-on-med">
            <div class="card-content">
              <span class="card-title black-text">
                {% trans "Default shipping address" context "Customer default shipping address card title" %}
              </span>
              {% if customer.default_shipping_address %}
                {% with customer.default_shipping_address as address %}
                  {% include 'dashboard/includes/_address.html' with address=address only %}
                {% endwith %}
              {% else %}
                <div>{% trans "No default shipping address." context "Customer without default shipping address message" %}</div>
              {% endif %}
              <svg data-src="{% static "dashboard/images/email.svg" %}" width="14" height="14" />
              <a href="mailto:{{ customer.email }}">
                {{ customer.email }}
              </a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 p6 l12">
          <div class="card equal-height-on-med">
            <div class="card-content">
              <span class="card-title black-text">
                {% trans "Default billing address" context "Customer default billing address card title" %}
              </span>
              {% if customer.default_billing_address %}
                {% with customer.default_billing_address as address %}
                  {% include 'dashboard/includes/_address.html' with address=address only %}
                {% endwith %}
              {% else %}
                <div>
                  {% trans "No default billing address." context "Customer without default billing address message" %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
