{% extends "dashboard/base.html" %}
{% load materializecss %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
  {% if customer.pk %}
    {{ customer }}
  {% else %}
    {% trans "Add new customer" context "Dashboard add customer" %}
  {% endif %}
     - {% trans "Customer" context "Dashboard customer" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-customers{% endblock %}

{% block menu_customers_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:customers" as url %}
  {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:customers" %}">
        {% trans "Customers" context "Dashboard customers list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:customers" %}">
        <svg data-src="{% static "dashboard/images/arrow_left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li><span class="breadcrumbs--elipsed-item">{% if customer.pk %}{{ customer }}{% else %}{% trans 'Add customer' context 'Dashboard add customer action' %}{% endif %}</span></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l8">
      {% if form %}
        <form class="card" method="post">
          <div class="card-content">
            <span class="card-title">
              {% trans 'Customer details' context 'Customer details header' %}
            </span>
            <div class="data">
              {% csrf_token %}
              <div class="row">
                {{ form|materializecss }}
              </div>
            </div>
          </div>
          <div class="card-action right-align">
            {% if customer.pk %}
              <a href="{% url 'dashboard:customer-details' pk=customer.pk %}" class="btn-flat waves-effect">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect">
                {% trans 'Update' context 'Dashboard update action' %}
              </button>
            {% else %}
              <a href="{% url 'dashboard:customers' %}" class="btn-flat waves-effect">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect">
                {% trans 'Add' context 'Dashboard add action' %}
              </button>
            {% endif %}
          </div>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
