{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}

{% block title %}{% trans "Customers" context "Customer list page title" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-customers{% endblock %}

{% block menu_customers_class %}active{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li class="visible-s">{% trans "Customers" context "Customer list breadcrumbs" %}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="card">
        <form method="get" novalidate>
            <div class="card-content">
                <div class="row">
                    <div class="col s12 m3">
                        <div class="row">
                            {{ form.email|materializecss }}
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="row">
                            {{ form.name|materializecss }}
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="row">
                            {{ form.order_status|materializecss }}
                        </div>
                    </div>

                    <div class="col s12 m2">
                        <button type="submit" class="btn btn-flat btn--inline">
                            {% trans "Filter" context "Customer list form primary action" %}</button>
                        {% if form.is_bound %}
                            <a class="btn btn--inline" href="{% url 'dashboard:customers' %}">
                                {% trans "Clear" context "Customer list form secondary action" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="card">
        {% if customers %}
            <div class="data-table-container">
                <table class="bordered highlight responsive data-table">
                    <thead>
                        <tr>
                            <th>{% trans "Email" context "Customers table header" %}</th>
                            <th class="wide">{% trans "Name" context "Customers table header" %}</th>
                            <th>{% trans "Location" context "Customers table header" %}</th>
                            <th class="right-align">{% trans "Number of orders" context "Customers table header" %}</th>
                            <th>{% trans "Last order" context "Customers table header" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for customer in customers %}
                        <tr>
                            {% with customer.default_billing_address as default_address %}
                            <td>
                                <a href="{% url "dashboard:customer-details" pk=customer.pk %}">{{ customer.email }}</a>
                            </td>
                            {% if default_address %}
                                <td>
                                    {{ default_address.first_name }} {{ default_address.last_name }}
                                </td>
                                <td>
                                    {{ default_address.city }}, {{ default_address.get_country_display }}
                                </td>
                            {% else %}
                                <td colspan="2"></td>
                            {% endif %}
                            {% endwith %}
                            <td class="right-align">
                                {{ customer.num_orders }}
                            </td>
                            <td>
                                {% if customer.last_order %}
                                    <a href="{% url 'dashboard:order-details' order_pk=customer.last_order %}">
                                        {% blocktrans with last_order=customer.last_order trimmed context "Customers table last order data" %}
                                            #{{ last_order }}
                                        {% endblocktrans %}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="card-content card-content--no-data">
                <p>{% trans "No customers found." context "Empty customers table message" %}</p>
            </div>
        {% endif %}
    </div>
    {% include "dashboard/includes/_pagination.html" with page_obj=customers %}
{% endblock %}
