{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}
{% load utils %}

{% block title %}
  {% trans "Customers" context "Dashboard customers list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-customers{% endblock %}

{% block menu_customers_class %}active{% endblock %}

{% block header_extra %}
  <div class="btn-fab-fixed">
    <a href="{% url 'dashboard:customer-create' %}" class="btn-fab-default waves-effect waves-light" title="{% trans "Add customer" context "Customer list add button text" %}" >
      <svg data-src="{% static "dashboard/images/add.svg" %}" />
    </a>
  </div>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">
      {% trans "Customers" context "Dashboard customers list" %}
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if customers %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  {% trans "Name" context "Customers table header" as label %}
                  {% sorting_header 'name' label %}

                  {% trans "Email" context "Customers table header" as label %}
                  {% sorting_header 'email' label %}

                  {% trans "Location" context "Customers table header" as label %}
                  {% sorting_header 'location' label %}
                </tr>
              </thead>
              <tbody>
                {% for customer in customers %}
                  <tr data-action-go="{% url "dashboard:customer-details" pk=customer.pk %}">
                    {% with customer.default_billing_address as default_address %}
                      <td>
                        {% if customer.get_full_name != customer.email %}
                          {{ customer.get_full_name }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                      <td>
                        {{ customer.email }}
                      </td>
                      <td>
                        {% if default_address %}
                          {{ default_address.city }}, {{ default_address.get_country_display }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                    {% endwith %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate customers %}
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/customer/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No customers found." context "Empty customers table message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
    </div>
  </div>
{% endblock %}
