// Bootstrap dependencies
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import "variables";
@import "_partial/global";
@import "_partial/header";
@import "_partial/sections";
@import "_partial/footer";