// Fonts
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

//Colors
$base-color: #333333;

$bg-gray: #fafafa;
$bg-dark-gray: #4f4f4f;

$light-gray: #e0e0e0;
$gray: #bdbdbd;
$footer-border: #828282;

$white: #fff;
$cyan: #1fbab3;
$red: #d85039;
$orange: #f99144;
$blue: #26a5d4;
$green: #2ab573;

$device: #9ea0a2;

//Typography
$font-family-base: "Lato";
$font-size-base: 14px;
$line-height-base: 1.3;
$line-height-large: 1.8;
$font-size-h1: floor(($font-size-base * 3.6));
$font-size-h2: floor(($font-size-base * 2.6));
$font-size-h3: floor(($font-size-base * 1.3));
$font-size-h4: $font-size-base;

$global-margin: 1rem;
$global-padding: 1rem;

$transition-duration: 200ms;
