// Fonts
@font-face {
  font-family: 'Heebo-Regular';
  src: url('../fonts/Heebo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Heebo-Medium';
  src: url('../fonts/Heebo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'StardosStencil-Regular';
  src: url('../fonts/StardosStencil-Regular.ttf') format('truetype');
}

//Colors
$base-color: #000;
$gray: #838383;
$light-gray: #C3C3C3;
$bg-gray: #F5F4F2;
$white: #fff;
$cyan: #4D9D9C;

//Typography
$headings-font-family: 'Heebo-Regular';
$font-family-base: 'Heebo-Regular';
$font-size-base: 18px;
$line-height-base: 1.3;
$line-height-large: 1.8;
$font-size-h1: floor(($font-size-base * 3.6));
$font-size-h2: $font-size-base * 3;
$font-size-h3: $font-size-base * 1.5;
$font-size-h4: floor(($font-size-base * 1.2));

$global-margin: 1rem;
$global-padding: 1rem;
