{% extends 'dashboard/base.html' %}

{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}{% if location.pk %}{{ location }}{% else %}{% trans 'Add new stock location' %}{% endif %} - {% trans "Stock location" %} - {{ block.super }}{% endblock %}

{% block body_class %}body-locations{% endblock %}

{% block header_extra %}
    {% if location.pk %}
    <a class="dropdown-button" href="#" data-activates="attribute-delete" data-constrainwidth="false">
        <i class="material-icons">more_vert</i>
    </a>
    <ul id="attribute-delete" class="dropdown-content">
        <li>
            <a class="modal-trigger-custom" href="#base-modal"
                data-href="{% url 'dashboard:product-stock-location-delete' location.pk %}">
                {% trans "Remove location" %}
            </a>
        </li>
    </ul>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--with-menu">
        <li><a href="{% url 'dashboard:product-stock-location-list' %}" class="breadcrumbs--ellipsed-item">{% trans "Stock location" %}</a></li>
        <li><span class="breadcrumbs--ellipsed-item">{% if location.pk %}{{ location }}{% else %}{% trans 'Add new stock location' %}{% endif %}</span></li>
    </ul>
{% endblock %}

{% block menu_location_class %} active{% endblock %}


{% block content %}
    <div class="row tab-content" id="details">
        <form method="post" id="form-product" novalidate>
            {% csrf_token %}

            <div class="col s12 l4">
                <div class="row">
                    {{ form.name|materializecss:"input-field s12" }}
                </div>
            </div>

            <div class="col s12 right-align">
                <div class="row">
                    {% if location.pk %}
                        <button type="submit" class="btn">{% trans "Update" %}</button>
                    {% else %}
                        <button type="submit" class="btn">{% trans "Create" %}</button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
