{% load i18n %}

<form action="{% url 'dashboard:product-stock-location-delete' location.pk %}" method="post" novalidate>
  {% csrf_token %}
  <div class="modal-content">
    <h5>
      {% trans "Are you sure?" context "Dashboard confirmation modal" %}
    </h5>
    <div class="row">
      <div class="col l12">
        {% blocktrans trimmed context "Modal delete stock location text" %}
          You are about to delete a stock location <strong>{{ location }}</strong>.
        {% endblocktrans %}
      </div>
    </div>
    {% if stock_count %}
      {% blocktrans trimmed count counter=stock_count context "Modal delete stock location text" %}
        There is one stock associated with this stock location that will be deleted.
        {% plural %}
        There are {{ counter }} stocks associated with this stock location that will be deleted.
      {% endblocktrans %}
    {% endif %}
  </div>
  <div class="modal-footer">
    <button type="submit" class="modal-action btn-flat">
      {% trans "Delete" context "Dashboard delete action" %}
    </button>
    <a href="#!" class="modal-action modal-close btn-flat">
      {% trans "Cancel" context "Dashboard cancel action" %}
    </a>
  </div>
</form>
