@import "../../../globalStyles/scss/variables.scss";

.product-page {
  background-color: $turquoise-light;

  .breadcrumbs {
    background-color: $white;
    padding: $spacer / 2 $spacer $spacer / 2 $spacer * 1.5;
    margin-top: $spacer * 2;
  }

  &__product {
    display: flex;
    margin-top: $spacer;
    padding-bottom: $spacer * 5;

    @media (max-width: $small-screen) {
      display: block;
      margin-bottom: $spacer * 2;
    }

    &__info {
      flex-grow: 1;
      width: 40%;
      position: relative;

      @media (max-width: $medium-screen) {
        width: 60%;
      }

      @media (max-width: $small-screen) {
        width: 100%;
      }

      > div {
        @media (min-width: $small-screen) {
          padding-right: 1rem;
        }
      }

      &--fixed {
        position: fixed;
        width: auto;

        @media (min-width: $container-width) {
          width: calc(#{$container-width} * 40 / 100);
        }
      }

      &--absolute {
        position: absolute;
        width: 100%;
        bottom: 0;
      }
    }

    &__gallery {
      flex-grow: 2;
      width: 60%;
      padding: 0 $spacer 0 0;
      box-sizing: border-box;

      @media (max-width: $medium-screen) {
        width: 50%;
      }

      @media (max-width: $small-screen) {
        width: 100%;
        padding: 0;
        margin-bottom: $spacer * 2;
        padding: 0;
      }

      img {
        width: 100%;

        &:not(:last-of-type) {
          margin-bottom: $spacer * 5;
        }

        @media (max-width: $small-screen) {
          height: calc(100vw - #{$spacer * 2});
          margin-bottom: $spacer * 2;
        }
      }

      &__nav {
        li {
          display: inline-block;
          padding: $spacer / 2;

          span {
            width: $spacer / 2;
            height: $spacer / 2;
            border: 1px solid $gray;
            border-radius: $spacer / 2;
            display: block;
          }

          &.active {
            span {
              background-color: $turquoise;
              border-color: $turquoise;
            }
          }
        }
      }
    }
  }

  &__other-products {
    background-color: $white;
    padding: $spacer * 4 0;

    &__title {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-bottom: $spacer * 2;
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: $spacer * 2;

      @media (min-width: $small-screen) {
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: $medium-screen) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
