{% extends "base.html" %}
{% load as_vertical_form from bootstrap %}
{% load i18n %}

{% block title %}{% trans "Request email confirmation" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="#">{% trans "Request email confirmation" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend>{% trans 'Request email confirmation' %}</legend>
                        {{ form|as_vertical_form }}
                        <input type="hidden" name="next" value="{{ next }}" />
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary">
                            {% trans "Continue" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
