{% extends "base.html" %}
{% load as_horizontal_form from bootstrap %}
{% load i18n %}

{% block title %}{% trans "Request email confirmation" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="#">{% trans "Request email confirmation" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<form method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans 'Request email confirmation' %}</legend>
        {{ form|as_horizontal_form }}
        <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary">
                {% trans "Continue" %}
            </button>
        </div>
    </div>
</form>
{% endblock %}
