{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block title %}{% trans "Set password" %} — {{ block.super }}{% endblock %}

{% block content %}
<form method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans 'Set password' %}</legend>
        {% bootstrap_form form layout='horizontal' %}
    </fieldset>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary">
                {% trans "Set password" %}
            </button>
        </div>
    </div>
</form>
<form method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default">
                {% trans "I don't want a password" %}
            </button>
        </div>
    </div>
</form>
{% endblock %}
