{% load i18n %}

<form action="{% block action_url %}#!{% endblock %}" method="post" novalidate>
  {% csrf_token %}
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <h5>
          {% block title %}
            {% trans "Remove" context "Dashboard confirmation modal" %}
          {% endblock %}
        </h5>
      </div>
    </div>
    {% block content %}
      {% trans "Are you sure?" context "Dashboard confirmation modal" %}
    {% endblock %}
  </div>
  <div class="modal-footer">
    {% block footer %}
      <a href="#!" class="modal-action modal-close btn-flat waves-effect">
        {% trans "Cancel" context "Dashboard cancel action" %}
      </a>
      <button type="submit" class="modal-action btn-flat waves-effect">
        {% trans "Remove" context "Dashboard delete action" %}
      </button>
    {% endblock footer %}
  </div>
</form>
