{% load i18n %}

<form
  role="form" method="post" action="{% block action_url %}#!{% endblock %}"
  class="{% block form_class %}form-async{% endblock %}" novalidate>
  {% comment %}Empty form_class can be used for non-ajax forms with server redirect.{% endcomment %}
  {% csrf_token %}
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <h5>
          {% block title %}{% endblock %}
        </h5>
      </div>
    </div>
    {% if form.non_field_errors %}
      <div class="col 12">
        {% for error in form.non_field_errors %}
          <p class="help-block materialize-red-text">{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
    <div class="row">
      {% block content %}{% endblock %}
    </div>
  </div>
  <div class="modal-footer">
    <span class="left">
      {% block actions_left %}{% endblock %}
    </span>
    <a href="#!" class="modal-action modal-close btn-flat waves-effect">
      {% block cancel_action %} {% trans "Cancel" context "Dashboard cancel action" %} {% endblock %}
    </a>
    <button type="submit" class="modal-action btn-flat waves-effect">
      {% block primary_action %}{% endblock %}
    </button>
  </div>
</form>
