{% extends "dashboard/base.html" %}
{% load i18n %}
{% load price from taxed_prices %}
{% load status %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="data-table-header{% if not preauthorized_payments %} data-table-header--no-data{% endif %}">
          <span class="data-table-title" title="{% blocktrans trimmed with counter=preauthorized_payments.count context "Dashboard homepage summary header title" %}Showing last {{ counter }} results{% endblocktrans %}">
            {% trans "Preauthorized payments" context "Dashboard homepage table title" %}
          </span>
        </div>
        {% if preauthorized_payments %}
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  <th>
                    {% trans "Order" context "Preauthorized payments table header" %}
                  </th>
                  <th>
                    {% trans "Date" context "Preauthorized payments table header" %}
                  </th>
                  <th>
                    {% trans "Customer" context "Preauthorized payments table header" %}
                  </th>
                  <th class="right-align">
                    {% trans "Amount" context "Preauthorized payments table header" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for payment in preauthorized_payments %}
                  <tr data-action-go="{% url "dashboard:order-details" order_pk=payment.order.pk %}">
                    <td>
                      {{ payment.order }}
                    </td>
                    <td>
                      {{ payment.created }}
                    </td>
                    <td>
                      {{ payment.order.user|default:_("Guest") }}
                    </td>
                    <td class="right-align">
                      {% price payment.get_total_price.gross %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="card-content card-content--no-data not-found">
            <p class="grey-text">
              {% trans "No preauthorized payments." context "Empty Preauthorized payments table message" %}
            </p>
          </div>
        {% endif %}
      </div>

      <div class="card">
        <div class="data-table-header{% if not orders_to_ship %} data-table-header--no-data{% endif %}">
          <span class="data-table-title" title="{% blocktrans trimmed with counter=orders_to_ship|length context "Dashboard homepage summary header title" %}Showing last {{ counter }} results{% endblocktrans %}">
            {% trans "Orders ready for shipment" context "Dashboard homepage table title" %}
          </span>
        </div>
        {% if orders_to_ship %}
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table last-right-align">
              <thead>
                <tr>
                  <th>
                    #
                  </th>
                  <th></th>
                  <th>
                    {% trans "Customer" context "Orders table header" %}
                  </th>
                  <th>
                    {% trans "Placed on" context "Orders table header" %}
                  </th>
                  <th>
                    {% trans "Payment status" context "Orders table header" %}
                  </th>
                  <th>
                    {% trans "Total" context "Orders table header" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders_to_ship %}
                  <tr data-action-go="{% url 'dashboard:order-details' order_pk=order.pk %}">
                    <td>
                      #{{ order.id }}
                    </td>
                    <td>
                      {% render_order_status order.status order.get_status_display %}
                    </td>
                    {% trans "Guest" context "Anonymous user account value" as guest %}
                    <td>
                      {{ order.user|default:guest }}
                    </td>
                    <td>
                      {{ order.created }}
                    </td>
                    <td>
                      {% render_status order.get_last_payment_status order.get_last_payment_status_display %}
                    </td>
                    <td class="right-align">
                      {% price order.total.gross %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="card-content card-content--no-data not-found ">
            <p class="grey-text">
              {% trans "No orders are ready for shipment." context "Empty order table message" %}
            </p>
          </div>
        {% endif %}
      </div>
      <div class="card">
        <div class="data-table-header{% if not low_stock %} data-table-header--no-data{% endif %}">
          <span class="data-table-title" title="{% blocktrans trimmed with counter=low_stock.count context "Dashboard homepage summary header title" %}Showing last {{ counter }} results{% endblocktrans %}">
            {% trans "Products with low stock" context "Dashboard homepage table title" %}
          </span>
        </div>
        {% if low_stock %}
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  <th>
                    {% trans "Product name" context "Low stock product list" %}
                  </th>
                  <th class="right-align">
                    {% trans "Stock left" context "Low stock product list" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for product in low_stock %}
                  <tr data-action-go="{% url "dashboard:product-details" pk=product.pk %}">
                    <td>
                      {{ product }}
                    </td>
                    <td class="right-align">
                      {{ product.total_stock }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="card-content card-content--no-data not-found">
            <p class="grey-text">
              {% trans "No products are low in stock." context "Empty low stock table message" %}
            </p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
