{% load i18n %}
{% load materializecss %}

<form id="add-variant-to-group-form" method="post" role="form" action="{% url 'dashboard:add-variant-to-group' order_pk=order.pk group_pk=group.pk %}" class="form-async" novalidate>
  {% csrf_token %}
  <div class="modal-content">
    <div class="row">
      <div class="col">
        <h5>
          {% blocktrans with shipment=group context "Modal order add variant title" %}
            Add product to {{ shipment }}
          {% endblocktrans %}
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m8 center-align">
          {{ form.variant|materializecss }}
          {{ form.quantity|materializecss }}
          {{ form.target_group|materializecss }}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="modal-action btn-flat">
      {% trans "Add" context "Modal order add variant primary action" %}
    </button>
    <a href="#!" aria-hidden="true" class="modal-action modal-close btn-flat">
      {% trans "Cancel" context "Dashboard cancel action" %}
    </a>
  </div>
</form>
