{% load i18n %}
{% load materializecss %}

<form id="add-variant-to-order-form" method="post" role="form" action="{% url 'dashboard:add-variant-to-order' order_pk=order.pk %}" class="form-async" novalidate>
  {% csrf_token %}
  <div class="modal-content">
    <h5>
      {% trans "Add variant to order" context "Modal order add variant title" %}
    </h5>
    <div class="row">
      {{ form.variant|materializecss:"s12 m6" }}
      {{ form.quantity|materializecss:"s12 m6" }}
      {{ form.target_group|materializecss:"s12 m6" }}
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="modal-action btn-flat">
      {% trans "Add" context "Modal order add variant primary action" %}
    </button>
    <a href="#!" aria-hidden="true" class="modal-action modal-close btn-flat">
      {% trans "Cancel" context "Dashboard cancel action" %}
    </a>
  </div>
</form>
