{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block action_url %}
{% url 'dashboard:fulfillment-cancel' order_pk=order.pk fulfillment_pk=fulfillment.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed with fulfillment=fulfillment.composed_id context "Modal cancel fulfillment title" %}
  Cancel fulfillment #{{ fulfillment }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed with fulfillment=fulfillment.composed_id context "Modal cancel fulfillment text" %}
      Are you sure you want cancel fulfillment #{{ fulfillment }}?
    {% endblocktrans %}
    {{ form.restock|materializecss }}
  </div>
{% endblock %}

{% block cancel_action %}
{% trans "Abort" context "Modal cancel fulfillment cancel action" %}
{% endblock %}

{% block primary_action %}
{% trans "Cancel Fulfillment" context "Modal cancel fulfillment primary action" %}
{% endblock %}
