{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}
{% load prices_i18n %}

{% block action_url %}
{% url 'dashboard:orderline-cancel' order_pk=order.pk line_pk=item.pk %}
{% endblock %}

{% block title %}
{% trans "Remove order line" context "Modal remove order line title" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% trans "Are you sure you want remove this order line?" context "Modal remove order line text" %}
  </div>
  {{ form|materializecss }}
  <div class="col s12">
    <table>
      <thead>
        <tr>
          <th class="wide">
            {% trans "Item" context "Modal remove order line table header" %}
          </th>
          <th>
            {% trans "SKU" context "Modal remove order line table header" %}
          </th>
          <th class="right-align">
            {% trans "Price" context "Modal remove order line table header" %}
          </th>
          <th class="right-align">
            {% trans "Quantity" context "Modal remove order line table header" %}
          </th>
          <th class="right-align">
            {% trans "Total" context "Modal remove order line table header" %}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ item.product_name }}<br>
          </td>
          <td>
            {{ item.product_sku }}
          </td>
          <td class="right-align">
            {% gross item.get_price_per_item html=True %}
          </td>
          <td class="right-align">
            {{ item.quantity }}
          </td>
          <td class="right-align">
            {% gross item.get_total html=True %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
