{% load i18n %}
{% load materializecss %}

<form id="ship-delivery-group-form" method="post" role="form" action="{% url 'dashboard:cancel-delivery-group' order_pk=order.pk group_pk=group.pk %}" class="form-async" novalidate>
  {% csrf_token %}
  <div class="modal-content">
    <h5>
      {% trans "Cancel delivery group?" context "Modal cancel delivery group title" %}
    </h5>
    <p>
      {% blocktrans trimmed context "Modal cancel delivery group text" %}
        After this action {{ group }} will be cancelled. Ordered items will be returned to stock.
      {% endblocktrans %}
    </p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="modal-action btn-flat">
      {% trans "Cancel this shipment" context "Modal cancel delivery group primary action" %}
    </button>
    <a href="#!" aria-hidden="true" class="modal-action modal-close btn-flat">
      {% trans "Abort" context "Dashboard abort action" %}
    </a>
  </div>
</form>
