{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block action_url %}
{% url 'dashboard:order-cancel' order_pk=order.pk %}
{% endblock %}

{% block title %}
{% trans "Cancel order" context "Modal cancel order title" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed with order=order context "Modal cancel order text" %}
      Are you sure you want cancel order {{ order }}?
    {% endblocktrans %}
    {{ form.restock|materializecss }}
  </div>
{% endblock %}

{% block cancel_action %}
{% trans "Abort" context "Modal cancel order cancel action" %}
{% endblock %}

{% block primary_action %}
{% trans "Cancel Order" context "Modal cancel order primary action" %}
{% endblock %}
