{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block action_url %}
{% url 'dashboard:cancel-delivery-group' order_pk=order.pk group_pk=group.pk %}
{% endblock %}

{% block title %}
{% trans "Cancel shipment group?" context "Modal cancel shipment group title" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed with shipment=group context "Modal cancel shipment group text" %}
      After this action {{ shipment }} will be cancelled. Ordered items will be returned to stock.
    {% endblocktrans %}
  </div>
{% endblock %}

{% block cancel_action %}
{% trans "Abort" context "Dashboard abort action" %}
{% endblock %}

{% block primary_action %}
{% trans "Cancel this shipment" context "Modal cancel shipment group primary action" %}
{% endblock %}
