{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block action_url %}
{% url 'dashboard:draft-order-confirm' order_pk=order.pk %}
{% endblock %}

{% block title %}
{% trans "Confirm order" context "Modal confirm order title" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed with order=order context "Modal confirm order text" %}
      Are you sure you want confirm order {{ order }}? Once the order has been confirmed, you will not be able to make changes.
    {% endblocktrans %}
    {% if form.notify_customer %}
      {{ form.notify_customer|materializecss }}
    {% endif %}
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Confirm" context "Modal confirm order primary action" %}
{% endblock %}
