{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block action_url %}
{% url 'dashboard:create-order-from-draft' order_pk=order.pk %}
{% endblock %}

{% block title %}
{% trans "Create order" context "Modal create order title" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed with order=order context "Modal create order text" %}
      Are you sure you want create order {{ order }}? Once the order has been created, you will not be able to make changes.
    {% endblocktrans %}
    {% if form.notify_customer %}
      {{ form.notify_customer|materializecss }}
    {% endif %}
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Create" context "Modal create order primary action" %}
{% endblock %}
