{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block action_url %}
{% url 'dashboard:order-shipping-edit' order_pk=order.pk %}
{% endblock %}

{% block title %}
{% trans "Edit shipping" context "Modal edit shipping title" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {{ form.shipping_method|materializecss }}
  </div>
{% endblock %}

{% block actions_left %}
  {% if order.shipping_method or order.shipping_method_name %}
    <button type="submit" class="modal-action btn-flat waves-effect" formaction="{% url 'dashboard:order-shipping-remove' order_pk=order.pk %}">
      {% trans "Remove shipping from order" context "Dashboard edit draft order remove action" %}
    </button>
  {% endif %}
{% endblock %}

{% block primary_action %}
{% trans "Update" context "Modal edit shipping primary action" %}
{% endblock %}
