{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block action_url %}
{% url 'dashboard:order-voucher-edit' order_pk=order.pk %}
{% endblock %}

{% block title %}
{% trans "Edit voucher" context "Modal edit voucher title" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {{ form.voucher|materializecss }}
  </div>
{% endblock %}

{% block actions_left %}
  {% if order.voucher or order.discount_name %}
    <button type="submit" class="modal-action btn-flat waves-effect" formaction="{% url 'dashboard:order-voucher-remove' order_pk=order.pk %}">
      {% trans "Remove voucher from order" context "Dashboard edit draft order remove action" %}
    </button>
  {% endif %}
{% endblock %}

{% block primary_action %}
{% trans "Update" context "Modal edit voucher primary action" %}
{% endblock %}
