{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block action_url %}
{% url 'dashboard:order-customer-edit' order_pk=order.pk %}
{% endblock %}

{% block title %}
{% trans "Edit customer details" context "Modal edit customer title" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      {% blocktrans trimmed context "Modal edit customer text" %}
        Connect an order with an account of an existing customer or provide a contact email address.
      {% endblocktrans %}
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      {{ form.user|materializecss }}
      {{ form.user_email|materializecss }}
      {{ form.update_addresses|materializecss }}
    </div>
  </div>
{% endblock %}

{% block actions_left %}
  {% if order.get_user_current_email %}
    <button type="submit" class="modal-action btn-flat waves-effect" formaction="{% url 'dashboard:order-customer-remove' order_pk=order.pk %}">
      {% trans "Remove customer from order" context "Dashboard edit draft order remove action" %}
    </button>
  {% endif %}
{% endblock %}

{% block primary_action %}
{% trans "Update" context "Modal edit customer primary action" %}
{% endblock %}
