{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block action_url %}
{% url 'dashboard:fulfillment-change-tracking' order_pk=order.pk fulfillment_pk=fulfillment.pk %}
{% endblock %}

{% block title %}
{% if fulfillment.tracking_number %}
  {% trans "Edit tracking" context "Modal change fulfillment tracking title" %}
{% else %}
  {% trans "Add tracking" context "Modal change fulfillment tracking title" %}
{% endif %}
{% endblock %}

{% block content %}
  {{ form.tracking_number|materializecss }}
  {% if form.send_mail %}
    {{ form.send_mail|materializecss }}
  {% endif %}
{% endblock %}

{% block primary_action %}
{% if fulfillment.tracking_number %}
  {% trans "Update" context "Modal change fulfillment tracking primary action" %}
{% else %}
  {% trans "Save" context "Modal change fulfillment tracking primary action" %}
{% endif %}
{% endblock %}
