{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}
{% load dashboard %}

{% block action_url %}
{% url 'dashboard:fulfill-order-lines' order_pk=order.pk %}
{% endblock %}

{% block title %}
{% trans "Fulfill order" context "Modal fulfill order title" %}
{% endblock %}

{% block content %}
  {{ formset.management_form }}
  <div class="col s12">
   <table>
     <thead>
       <tr>
         <th class="wide">
           {% trans "Item" context "Modal remove order line table header" %}
         </th>
         <th>
           {% trans "SKU" context "Modal remove order line table header" %}
         </th>
         <th class="right-align">
           {% trans "Quantity" context "Modal remove order line table header" %}
         </th>
       </tr>
     </thead>
     <tbody>
       {% for line in order.get_unfulfilled_lines %}
         <tr>
           <td>
             {{ line.product_name }}<br>
           </td>
           <td>
             {{ line.product_sku }}
           </td>
           <td class="right-align">
             {% get_formset_form formset forloop.counter0 as line_form %}
              <input id="{{ line_form.order_line.auto_id }}"
                     type="hidden"
                     name="{{ line_form.order_line.html_name }}"
                     required="{{ line_form.order_line.field.required }}"
                     value="{{ line_form.order_line.value }}">
              <input id="{{ line_form.quantity.auto_id }}"
                     max="{{ line.quantity_unfulfilled }}"
                     min="0"
                     name="{{ line_form.quantity.html_name }}"
                     required="{{ line_form.quantity.field.required }}"
                     type="number"
                     value="{{ line_form.quantity.value }}">
           </td>
         </tr>
       {% endfor %}
     </tbody>
   </table>
  </div>
  {{ form }}
{% endblock %}

{% block primary_action %}
{% trans "Fulfill" context "Modal fulfill order primary action" %}
{% endblock %}
