{% extends "dashboard/base_modal.html" %}

{% load babel %}
{% load i18n %}
{% load materializecss %}
{% load price from taxed_prices %}


{% block action_url %}
{% url 'dashboard:refund-payment' order_pk=order.pk payment_pk=payment.pk %}
{% endblock %}

{% block title %}
{% trans "Refund payment" context "Modal refund payment title" %}
{% endblock %}

{% block content %}
  {{ form|materializecss }}
  <div class="col s12">
    {% trans "Before this action:" context "Modal refund payment title" %}
    <ul class="list">
      <li class="list-item">{% trans "Order total:" context "Modal refund payment list title" %}
        {% price payment.order.total.gross %}
      </li>
      <li class="list-item">{% trans "Taxes (included):" context "Modal refund payment list title" %}
        {% price payment.order.total.tax %}
      </li>
      <li class="list-item">{% trans "Captured amount:" context "Modal refund payment list title" %}
        {% price captured %}
      </li>
    </ul>
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Refund" context "Modal refund payment primary action" %}
{% endblock %}
