{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load babel %}
{% load materializecss %}
{% load prices_i18n %}


{% block action_url %}
{% url 'dashboard:refund-payment' order_pk=order.pk payment_pk=payment.pk %}
{% endblock %}

{% block title %}
{% trans "Refund payment" context "Modal refund payment title" %}
{% endblock %}

{% block content %}
  {{ form|materializecss }}
  <div class="col s12">
    {% trans "Before this action:" context "Modal refund payment title" %}
    <ul class="list">
      <li class="list-item">{% trans "Order total:" context "Modal refund payment list title" %}
        {% gross payment.order.get_total html=True %}
      </li>
      <li class="list-item">{% trans "Captured amount:" context "Modal refund payment list title" %}
        {{ captured|currencyfmt:currency }}
      </li>
    </ul>
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Refund" context "Modal refund payment primary action" %}
{% endblock %}
