{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block action_url %}
{% url 'dashboard:release-payment' order_pk=order.pk payment_pk=payment.pk %}
{% endblock %}

{% block title %}
{% trans "Release payment" context "Modal release payment text" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% trans "Do you want to release the payment?" context "Modal release payment text" %}
  </div>
{{ form|materializecss }}
{% endblock %}

{% block primary_action %}
{% trans "Release" context "Modal release payment primary action" %}
{% endblock %}
