{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block action_url %}
{% url 'dashboard:order-customer-remove' order_pk=order.pk %}
{% endblock %}

{% block title %}
{% trans "Remove customer from order" context "Modal remove customer from order title" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed context "Modal remove customer from order text" %}
      Are you sure you want remove customer from order?
    {% endblocktrans %}
    {% if form.remove_addresses %}
      {{ form.remove_addresses|materializecss }}
    {% endif %}
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Remove" context "Modal remove customer from order primary action" %}
{% endblock %}
