{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:draft-order-delete' order_pk=order.pk %}
{% endblock %}

{% block title %}
{% trans "Remove draft order" context "Modal remove order title" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed with order=order context "Modal remove order text" %}
      Are you sure you want remove draft order {{ order }}?
    {% endblocktrans %}
  </div>
{% endblock %}

{% block cancel_action %}
{% trans "Abort" context "Modal remove order cancel action" %}
{% endblock %}

{% block primary_action %}
{% trans "Remove draft order" context "Modal remove order primary action" %}
{% endblock %}
