{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block action_url %}
{% url 'dashboard:void-payment' order_pk=order.pk payment_pk=payment.pk %}
{% endblock %}

{% block title %}
{% trans "Void payment" context "Modal void payment text" %}
{% endblock %}

{% block content %}
  {{ form|materializecss }}
  <div class="col s12">
    {% trans "Do you want to void the payment?" context "Modal void payment text" %}
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Void" context "Modal void payment primary action" %}
{% endblock %}
