interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesInvoice",
      "lines": [{"quantity": 3, "amount": "30.000", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "SKU_AA", "discounted": false, "description": "Test product"},
      {"quantity": 2, "amount": "40.000", "taxCode": "O9999999", "taxIncluded": true,
      "itemCode": "SKU_B", "discounted": false, "description": "Test product 2"},
      {"quantity": 1, "amount": "10.000", "taxCode": "", "taxIncluded": true, "itemCode":
      "Shipping", "discounted": false, "description": null}], "code": "f44936d3-fdcf-4322-b93c-92d0a2e8b74c",
      "date": "2024-09-04", "customerCode": 0, "discount": null, "addresses": {"singleLocation":
      {"line1": "T\u0119czowa 7", "line2": "", "city": "WROC\u0141AW", "region": "",
      "country": "PL", "postalCode": "53-601"}}, "commit": false, "currencyCode":
      "USD", "email": "test@example.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"id":85065274009326,"code":"f44936d3-fdcf-4322-b93c-92d0a2e8b74c","companyId":7799660,"date":"2024-09-04","status":"Saved","type":"SalesInvoice","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"0","customerCode":"0","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0,"taxOverrideReason":"","totalAmount":65.04,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":14.96,"totalTaxable":65.04,"totalTaxCalculated":14.96,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"","country":"PL","version":1,"softwareVersion":"24.8.0.0","originAddressId":85065274009327,"destinationAddressId":85065274009327,"exchangeRateEffectiveDate":"2024-09-04","exchangeRate":1.0,"email":"test@example.com","businessIdentificationNo":"","modifiedDate":"2024-09-04T07:01:19.3203828Z","modifiedUserId":6479978,"taxDate":"2024-09-04","lines":[{"id":85065274009336,"transactionId":85065274009326,"lineNumber":"1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product","destinationAddressId":85065274009327,"originAddressId":85065274009327,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_AA","lineAmount":24.3900,"quantity":3.0,"ref1":"","ref2":"","reportingDate":"2024-09-04","revAccount":"","sourcing":"Destination","tax":5.61,"taxableAmount":24.39,"taxCalculated":5.61,"taxCode":"O9999999","taxCodeId":9111,"taxDate":"2024-09-04","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0,"taxOverrideReason":"","taxIncluded":true,"details":[{"id":85065274009369,"transactionLineId":85065274009336,"transactionId":85065274009326,"addressId":85065274009327,"country":"PL","region":"PL","countyFIPS":"","stateFIPS":"PL","exemptAmount":0.0000,"exemptReasonId":4,"exemptRuleId":0,"inState":true,"jurisCode":"PL","jurisName":"POLAND","jurisdictionId":200102,"signatureCode":"","stateAssignedNo":"","jurisType":"CNT","jurisdictionType":"Country","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.230000,"rateRuleId":411502,"rateSourceId":0,"serCode":"","sourcing":"Destination","tax":5.6100,"taxableAmount":24.3900,"taxType":"Output","taxSubTypeId":"O","taxTypeGroupId":"InputAndOutput","taxName":"Standard
        Rate","taxAuthorityTypeId":45,"taxRegionId":205102,"taxCalculated":5.6100,"taxOverride":0.0000,"rateType":"Standard","rateTypeCode":"S","taxableUnits":24.3900,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":24.39,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":5.61,"reportingTaxCalculated":5.61,"liabilityType":"Seller","chargedTo":"Buyer"}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":85065274009340,"documentLineId":85065274009336,"documentAddressId":85065274009327,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":85065274009341,"documentLineId":85065274009336,"documentAddressId":85065274009327,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":85065274009342,"documentLineId":85065274009336,"documentAddressId":85065274009327,"locationTypeCode":"PointOfOrderAcceptance"},{"documentLineLocationTypeId":85065274009343,"documentLineId":85065274009336,"documentAddressId":85065274009327,"locationTypeCode":"PointOfOrderOrigin"},{"documentLineLocationTypeId":85065274009344,"documentLineId":85065274009336,"documentAddressId":85065274009327,"locationTypeCode":"GoodsPlaceOrServiceRendered"},{"documentLineLocationTypeId":85065274009345,"documentLineId":85065274009336,"documentAddressId":85065274009327,"locationTypeCode":"Import"},{"documentLineLocationTypeId":85065274009346,"documentLineId":85065274009336,"documentAddressId":85065274009327,"locationTypeCode":"BillTo"}],"parameters":[{"name":"Transport","value":"None"},{"name":"IsMarketplace","value":"False"},{"name":"IsTriangulation","value":"false"},{"name":"IsGoodsSecondHand","value":"false"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"PLS-230C","vatNumberTypeId":0},{"id":85065274009337,"transactionId":85065274009326,"lineNumber":"2","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product 2","destinationAddressId":85065274009327,"originAddressId":85065274009327,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_B","lineAmount":32.5200,"quantity":2.0,"ref1":"","ref2":"","reportingDate":"2024-09-04","revAccount":"","sourci[...]
