interactions:
- request:
    body: '{"createTransactionModel": {"companyCode": "DEFAULT", "type": "SalesInvoice",
      "lines": [{"quantity": 3, "amount": "30.000", "taxCode": "O9999999", "taxIncluded":
      true, "itemCode": "SKU_AA", "discounted": false, "description": "Test product"},
      {"quantity": 2, "amount": "40.000", "taxCode": "O9999999", "taxIncluded": true,
      "itemCode": "SKU_B", "discounted": false, "description": "Test product 2"},
      {"quantity": 1, "amount": "10.000", "taxCode": "", "taxIncluded": true, "itemCode":
      "Shipping", "discounted": false, "description": null}], "code": "6c2dc11c-65ed-4685-8040-cb988dde7567",
      "date": "2024-02-01", "customerCode": 0, "discount": null, "addresses": {"singleLocation":
      {"line1": "T\u0119czowa 7", "line2": "", "city": "WROC\u0141AW", "region": "",
      "country": "PL", "postalCode": "53-601"}}, "commit": false, "currencyCode":
      "USD", "email": "test@example.com"}}'
    headers:
      Authorization:
      - Basic Og==
    method: POST
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
  response:
    body:
      string: '{"id":85048213349375,"code":"6c2dc11c-65ed-4685-8040-cb988dde7567","companyId":7799660,"date":"2024-02-01","status":"Saved","type":"SalesInvoice","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"0","customerCode":"0","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"","referenceCode":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0,"taxOverrideReason":"","totalAmount":65.04,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":14.96,"totalTaxable":65.04,"totalTaxCalculated":14.96,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"","country":"PL","version":1,"softwareVersion":"24.1.0.0","originAddressId":85048213349376,"destinationAddressId":85048213349376,"exchangeRateEffectiveDate":"2024-02-01","exchangeRate":1.0,"description":"","email":"test@example.com","businessIdentificationNo":"","modifiedDate":"2024-02-01T11:08:02.8385523Z","modifiedUserId":6479978,"taxDate":"2024-02-01","lines":[{"id":85048213349385,"transactionId":85048213349375,"lineNumber":"1","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product","destinationAddressId":85048213349376,"originAddressId":85048213349376,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_AA","lineAmount":24.3900,"quantity":3.0,"ref1":"","ref2":"","reportingDate":"2024-02-01","revAccount":"","sourcing":"Destination","tax":5.61,"taxableAmount":24.39,"taxCalculated":5.61,"taxCode":"O9999999","taxCodeId":9111,"taxDate":"2024-02-01","taxEngine":"","taxOverrideType":"None","businessIdentificationNo":"","taxOverrideAmount":0.0,"taxOverrideReason":"","taxIncluded":true,"details":[{"id":85048213349417,"transactionLineId":85048213349385,"transactionId":85048213349375,"addressId":85048213349376,"country":"PL","region":"PL","countyFIPS":"","stateFIPS":"","exemptAmount":0.0000,"exemptReasonId":4,"inState":true,"jurisCode":"PL","jurisName":"POLAND","jurisdictionId":200102,"signatureCode":"","stateAssignedNo":"","jurisType":"CNT","jurisdictionType":"Country","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.230000,"rateRuleId":411502,"rateSourceId":0,"serCode":"","sourcing":"Destination","tax":5.6100,"taxableAmount":24.3900,"taxType":"Output","taxSubTypeId":"O","taxTypeGroupId":"InputAndOutput","taxName":"Standard
        Rate","taxAuthorityTypeId":45,"taxRegionId":205102,"taxCalculated":5.6100,"taxOverride":0.0000,"rateType":"Standard","rateTypeCode":"S","taxableUnits":24.3900,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":24.39,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":5.61,"reportingTaxCalculated":5.61,"liabilityType":"Seller","chargedTo":"Buyer"}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":85048213349389,"documentLineId":85048213349385,"documentAddressId":85048213349376,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":85048213349390,"documentLineId":85048213349385,"documentAddressId":85048213349376,"locationTypeCode":"ShipTo"},{"documentLineLocationTypeId":85048213349391,"documentLineId":85048213349385,"documentAddressId":85048213349376,"locationTypeCode":"PointOfOrderAcceptance"},{"documentLineLocationTypeId":85048213349392,"documentLineId":85048213349385,"documentAddressId":85048213349376,"locationTypeCode":"PointOfOrderOrigin"},{"documentLineLocationTypeId":85048213349393,"documentLineId":85048213349385,"documentAddressId":85048213349376,"locationTypeCode":"GoodsPlaceOrServiceRendered"},{"documentLineLocationTypeId":85048213349394,"documentLineId":85048213349385,"documentAddressId":85048213349376,"locationTypeCode":"Import"},{"documentLineLocationTypeId":85048213349395,"documentLineId":85048213349385,"documentAddressId":85048213349376,"locationTypeCode":"BillTo"}],"parameters":[{"name":"Transport","value":"None"},{"name":"IsMarketplace","value":"False"},{"name":"IsTriangulation","value":"false"},{"name":"IsGoodsSecondHand","value":"false"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"PLS-230C","vatNumberTypeId":0},{"id":85048213349386,"transactionId":85048213349375,"lineNumber":"2","boundaryOverrideId":0,"customerUsageType":"","entityUseCode":"","description":"Test
        product 2","destinationAddressId":85048213349376,"originAddressId":85048213349376,"discountAmount":0.0,"discountTypeId":0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"SKU_B","lineAmount":32.5200,"quantity":2.0,"ref1":"","ref2":"","reportingDate":"2024-02-01","revAccount":"","sourci[...]
