<span class="address-details"
   data-content="{% if address.company_name %}{{ address.company_name }}<br>{% endif %}
                 {{ address.street_address_1 }}<br>
                 {% if address.street_address_2 %}
                 	{{ address.street_address_2 }}<br>
                 {% endif %}
                 {{ address.postal_code }} {{ address.city }}<br>
                 {% if address.country_area %}{{ address.country_area }}, {% endif %}{{ address.get_country_display }}<br>
                 {{ address.phone }}"
   data-html="true" title="{{ address.first_name }} {{ address.last_name }}">{{ address }}</span>
