{% load discount_as_negative from voucher %}
{% load i18n %}
{% load i18n_address_tags %}
{% load placeholder %}
{% load price from taxed_prices %}
{% load get_product_image_thumbnail from product_images %}

{% if order.user == user %}
  <div class="order-details__addresses">
    <div class="row">
      {% if order.is_shipping_required %}
        <div class="col-6">
          <h3>
            <b>
              {% trans "Shipping address" context "Order details address title" %}
            </b>
          </h3>
          <hr class="margin-default" />
          {% format_address order.shipping_address %}
        </div>
      {% endif %}
      <div class="col-6">
        <h3>
          <b>
            {% trans "Billing address" context "Order details address title" %}
          </b>
        </h3>
        <hr class="margin-default" />
        {% format_address order.billing_address %}
      </div>
    </div>
  </div>
{% endif %}
<div class="table__header order-details__table-header d-none d-sm-block">
  <div class="row">
    <div class="col-md-8">
      <small>
        {% trans "Product" context "Order details column title" %}
      </small>
    </div>
    <div class="col-md-2 text-right">
      <small>
        {% trans "Quantity" context "Order details column title" %}
      </small>
    </div>
    <div class="col-md-2 text-right">
      <small>
        {% trans "Price" context "Order details column title" %}
      </small>
    </div>
  </div>
</div>

{% for line in order %}
  <div class="table__row order-details__product{% if forloop.last %} order-details__last-row{% endif %}">
    <div class="row">
      <div class="col-md-8 order-details__product__description">
        {% if line.variant %}
          <a class="link--clean" href="{{ line.variant.get_absolute_url }}">
            <img data-src="{% get_product_image_thumbnail line.variant.get_first_image size=60 method="thumbnail" %}"
                  data-srcset="{% get_product_image_thumbnail line.variant.get_first_image size=60 method="thumbnail" %} 1x, {% get_product_image_thumbnail line.variant.get_first_image size=120 method="thumbnail" %} 2x"
                  class="float-left lazyload lazypreload"
                  src="{% placeholder size=60 %}">
            <span>{{ line.translated_product_name|default:line.product_name }}</span>
          </a>
        {% else %}
          <img src="{% placeholder size=60 %}" class="float-left">
          <span>{{ line.translated_product_name|default:line.product_name }}</span>
        {% endif %}
      </div>
      <div class="col-md-4 order-details__product__description">
        <div class="row">
          <div class="col-md-6 col-12">
            <p class="text-right">
              <span>
                x {{ line.quantity }}
              </span>
            </p>
          </div>
          <div class="col-md-6 col-12">
            <p class="text-right">
              {% price line.get_total display_gross=order.display_gross_prices %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<div class="table__row">
  <div class="row">
    <div class="col-8 order-details__table-footer">
      <p>
        {% trans "Subtotal" context "Order details subtotal row text" %}
      </p>
    </div>
    <div class="col-4">
      <p class="float-right">
        {% price order.get_subtotal display_gross=order.display_gross_prices %}
      </p>
      <br>
    </div>
  </div>
</div>

{% if order.is_shipping_required %}
  <div class="table__row">
    <div class="row">
      <div class="col-8 order-details__table-footer">
        <p>
          {% trans "Shipping" context "Order details shipment row text" %} ({{ order.shipping_method_name|default:"-" }})
        </p>
      </div>
      <div class="col-4">
        <p class="float-right">
          {% price order.shipping_price display_gross=order.display_gross_prices %}
        </p>
      </div>
    </div>
  </div>
{% endif %}

{% if order.discount_amount %}
<div class="table__row">
  <div class="row">
    <div class="col-8 order-details__table-footer">
      <p>{{ order.translated_discount_name|default:order.discount_name }}</p>
    </div>
    <div class="col-4">
      <p class="float-right">
        {% discount_as_negative order.discount_amount html=True %}
      </p>
    </div>
  </div>
</div>
{% endif %}

<div class="table__row">
  <div class="row">
    <div class="col-8 order-details__table-footer">
      <p>
        {% if order.display_gross_prices %}
          {% trans "Taxes (included)" context "Order details taxes text" %}
        {% else %}
          {% trans "Taxes" context "Order details taxes text" %}
        {% endif %}
      </p>
    </div>
    <div class="col-4">
      <p class="float-right">{% price order.total.tax %}</p>
    </div>
  </div>
</div>

<div class="order-details__total">
  <div class="row">
    <div class="col-8 order-details__table-footer">
      <div class="total">
        <h3>{% trans "Total" context "Order details total text" %}</h3>
      </div>
    </div>
    <div class="col-4">
      <p class="float-right">
        {% price order.total.gross %}
      </p>
    </div>
  </div>
</div>


{% for fulfillment in fulfillments %}
  <h2 class="order-details__header">
    {% blocktrans trimmed with fulfillment=fulfillment.composed_id context "Order details fulfillment title" %}
      Fulfillment #{{ fulfillment }}
    {% endblocktrans %}
  </h2>

  <div class="table__header order-details__table-header d-none d-sm-block">
    <div class="row">
      <div class="col-md-9">
        <small>
          {% trans "Product" context "Order details column title" %}
        </small>
      </div>
      <div class="col-md-3 text-right">
        <small>
          {% trans "Quantity" context "Order details column title" %}
        </small>
      </div>
    </div>
  </div>
  {% for fulfillment_line in fulfillment %}
    <div class="table__row fulfillment__row order-details__product{% if forloop.last %} order-details__last-row{% endif %}">
      <div class="row">
        <div class="col-md-6 col-9 order-details__product__description">
          {% with variant=fulfillment_line.order_line.variant %}
            {% if variant %}
              <a class="link--clean" href="{{ variant.get_absolute_url }}">
                <span>{{ fulfillment_line.order_line.translated_product_name|default:fulfillment_line.order_line.product_name }}</span>
              </a>
            {% else %}
              <span>{{ fulfillment_line.order_line.translated_product_name|default:fulfillment_line.order_line.product_name }}</span>
            {% endif %}
          {% endwith %}
        </div>
        <div class="col-md-6 col-3">
          <p class="float-right">x {{ fulfillment_line.quantity }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if fulfillment.tracking_number %}
    <div class="order-details__total">
      <div class="row">
        <div class="col-4 order-details__table-footer">
          <p>{% trans "Tracking number" context "Fulfillment tracking number details" %}</p>
        </div>
        <div class="col-8">
          <p class="float-right">{{ fulfillment.tracking_number }}</p>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
