{% extends 'base.html' %}

{% load bootstrap_form from bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Create password" %} — {{ block.super }}{% endblock %}


{% block content %}
<div class="row login">
  <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
    <div class="row">
      <div class="col-md-6">
        <form method="post" action="" novalidate>
          {% csrf_token %}
          <fieldset>
            <h2>{% trans 'Create an account' %}</h2>
          </fieldset>
          <div class="row login__btn-group">
            <div class="col-sm-12">
              <button class="btn primary">
                {% trans "Create an account" %}
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="login__register-link">
          <h2>{% trans "Continue shopping" %}</h2>
          <img class="checkout-pirate" src="{% static 'img/pirate_login.png' %}" srcset="{% static 'img/pirate-checkout.png' %} 1x, {% static 'img/pirate-checkout2x.png' %} 2x">
          <p><a href="{% url 'checkout:index' %}" class="btn secondary">{% trans "Continue shopping" %}</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}