{% extends 'base.html' %}

{% load bootstrap_form from bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Create password" %} — {{ block.super }}{% endblock %}


{% block content %} 
  <div class="row thankyoupage">
    <div class="col-xl-10 offset-xl-1">
      <img class="thankyoupage__pirate-mail" src="{% static 'img/pirate-mail.png' %}" srcset="{% static 'img/pirate-mail.png' %} 1x, {% static 'img/pirate-mail2x.png' %} 2x">
      <h1>{% trans "Thank you for your order!" %}</h1>
      <p>{% trans "We’ve sent a confirmation email with details to" %} <span>{{ email }}</span><br>
        {% trans "In any problems and questions contact us." %}</p>
      <div class="row thankyoupage__form">
        <div class="col-md-6">
          <form method="post" action="" novalidate>
            {% csrf_token %}
            <fieldset>
              <h3>{% trans 'Create an account' %}</h3>
              <p>{% trans "Make your shopping experience even better! Save your shipping and payment details for faster checkout" %}</p>
              {% bootstrap_form form %}
            </fieldset>
            <div class="row login__btn-group">
              <div class="col-sm-12">
                <button class="btn primary">
                  {% trans "Create an account" %}
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6 thankyoupage__image">
          <img class="checkout-pirate" src="{% static 'img/pirate-checkout.png' %}" srcset="{% static 'img/pirate-checkout.png' %} 1x, {% static 'img/pirate-checkout2x.png' %} 2x">
          <p><a href="{% url 'checkout:index' %}" class="btn secondary">{% trans "Continue shopping" %}</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}