{% extends "base.html" %}

{% load gross from prices_i18n %}
{% load i18n %}
{% load staticfiles %}
{% load discount_amount_for from prices %}

{% block title %}{% trans "Order" %} {{ order }} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {% if order.user == user %}
      <ul class="breadcrumbs list-unstyled">
        <li><a href="/">{% trans "Home" %}</a></li>
        <li><a href="{% url 'profile:details' %}">{% trans "Your account" %}</a></li>
        <li><a href="{{ order.get_absolute_url }}">{% trans "Order" %} {{ order }}</a></li>
      </ul>
    {% endif %}
{% endblock breadcrumb %}

{% block content %}
    {# This view is available by just knowing url,          #}
    {# so we don't show all details (like delivery address) #}
    {# unless current user is owner of the order.           #}

    <div class="row order-details">
        <div class="col-lg-10 offset-lg-1">
            <h2 class="order-details__header">
                <span>{% blocktrans %}Order {{ order }}: {% endblocktrans %}</span>
                {{ order.get_status_display }}
                {% if not order.is_fully_paid %}
                    {% if order.is_pre_authorized %}
                        <a href="{% url "order:payment" token=order.token %}" class="btn btn-info">{% trans "Payment details" %}</a>
                    {% else %}
                        <a href="{% url "order:payment" token=order.token %}" class="btn btn-primary">{% trans "Pay for order" %}</a>
                    {% endif %}
                {% endif %}
            </h2>
            {% if order.user == user %}
              <div class="row">
                <div class="col-xs-6">
                  <h3>{% trans "Shipping address" %}</h3>
                  <address>{% include "userprofile/snippets/address-short.html" with address=order.shipping_address %}</address>
                </div>
                <div class="col-xs-6">
                  <h3>{% trans "Billing address" %}</h3>
                  <address>{% include "userprofile/snippets/address-short.html" with address=order.billing_address %}</address>
                </div>
              </div>
            {% endif %}
            <div class="row order-details__table-header hidden-sm-down">
              <div class="col-md-6">
                <small>{% trans "Product" %}</small>
              </div>
              <div class="col-md-3">
                <small>{% trans "Quantity" %}</small>
              </div>
              <div class="col-md-3">
                <small>{% trans "Price" %}</small>
              </div>
            </div>
            <div class="order-details__table">
              {% for item in order %}
                {% for item_line in item %}
                  <div class="row">
                    <div class="col-md-6 col-xs-9">
                      <img src="{{ item_line.product.images.first.image.crop.60x60 }}" class="float-xs-left">
                      <p>{{ item_line.product }}<br>
                      <span>{{ item_line.product_name }}</span></p>
                    </div>
                    <div class="col-md-6 col-xs-3">
                      <div class="col-md-6 col-xs-12">
                        <p class="float-xs-right">x {{ item_line.quantity }}</p>
                      </div>
                      <div class="col-md-6 col-xs-12">
                        <p class="float-xs-right">{% gross item_line.get_total %}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                <div class="row">
                  <div class="col-xs-8">
                    <p>{% trans "Delivery" %} ({{ item.shipping_method_name }})</p>
                  </div>
                  <div class="col-xs-4">
                    <p class="float-xs-right">{% gross item.shipping_price %}</p>
                  </div>
                </div>
                {% if order.discount_amount %}
                  <div class="row">
                    <div class="col-xs-8">
                      <p>{{ order.discount_name }}</p>
                    </div>
                    <div class="col-xs-4">
                      <p class="float-xs-right">{% gross order.discount|discount_amount_for:order.total %}</p>
                    </div>
                  </div>
                {% endif %}
                <div class="row">
                  <div class="col-xs-8">
                    <p><strong>{% trans "Total" %}</strong></p>
                  </div>
                  <div class="col-xs-4">
                    <p class="float-xs-right"><strong>{% gross order.total %}</strong></p>
                  </div>
                </div>
              {% endfor %}
          </div>
        </div>
    </div>
{% endblock content %}
