{% extends "dashboard/base.html" %}

{% load i18n %}
{% load prices_i18n %}
{% load staticfiles %}

{% block title %}
    {{ stock.location }} - {{ block.super }}
{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_products_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:product-list" %}" class="breadcrumb">
        {% trans "Products" context "Product form breadcrumbs" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:product-list" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li class="hide-on-med-and-down">
      <a href="{% url "dashboard:product-detail" pk=product.pk %}" class="breadcrumbs--ellipsed-item">
        {{ product }}
      </a>
    </li>
    <li>
      <a href="{% url 'dashboard:variant-details' product_pk=product.pk variant_pk=variant.pk %}" class="breadcrumbs--ellipsed-item">
        {{ variant }}
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {{ stock.location }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block header_extra %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col m12 l9">
      <div class="card">
        <div class="card-content">
          <p class="card-title">{{ variant }}</p>
          <p></p>
          <div class="row">
            <div class="col s12">
              <p class="text-padding">{% trans "Location" context "Dashboard stock details view" %}: {{ stock.location }}</p>
              <p class="text-padding">{% trans "Quantity" context "Dashboard stock details view" %}: {{ stock.quantity }}</p>
              <p class="text-padding">{% trans "Allocated" context "Dashboard stock details view" %}: {{ stock.quantity_allocated }}</p>
            </div>
          </div>
        </div>
        {% if perms.product.edit_stock_location %}
          <div class="card-action">
            <a class="btn-flat waves-effect" href="{% url "dashboard:variant-stock-update" product_pk=product.pk variant_pk=variant.pk stock_pk=stock.pk %}">
              {% trans "Edit stock" context "Dashboard action" %}
            </a>
            <a href="#base-modal" class="btn-flat waves-effect modal-trigger-custom" data-href="{% url 'dashboard:variant-stock-delete' product_pk=product.pk variant_pk=variant.pk stock_pk=stock.pk %}">
              {% trans "Remove stock" context "Dashboard action" %}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
