// Bootstrap variables
$border-radius-base: 0;
$border-radius-large: 0;

$brand-primary: #304C58;
$brand-info: #379AD5;
$brand-warning: #FF9900;
$gray-light: #A6A6A6;
$gray-lighter: #DADADA;

$btn-primary-color: $brand-primary;
$btn-primary-bg: transparent;
$btn-primary-border: $brand-primary;

$font-family-sans-serif: "HurmeGeometricSans4-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif-black: "HurmeGeometricSans4-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif-light: "HurmeGeometricSans4-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$font-size-h1: 6.5vmin;
$font-size-h2: 5vmin;
$font-size-h3: 3.5vmin;

$jumbotron-padding: 0;
$jumbotron-color: $brand-warning;
$jumbotron-heading-color: white;
$jumbotron-bg: $brand-primary;

$navbar-height: 50px;
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;
$navbar-padding-horizontal: 0;
$navbar-padding-vertical: 0;
$navbar-default-color: white;
$navbar-default-bg: transparent;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: darken(white, 15%);
$navbar-default-link-active-color: darken(white, 15%);
$navbar-default-brand-color: $navbar-default-link-color !default;
$navbar-default-brand-hover-color: $navbar-default-link-hover-color;
$navbar-default-toggle-hover-bg: #ddd !default;
$navbar-default-toggle-icon-bar-bg: #888 !default;
$navbar-default-toggle-border-color: #ddd !default;

$padding-base-vertical: 10px;
$padding-base-horizontal: 16px;

$padding-large-vertical: 15px;
$padding-large-horizontal: 36px;

$text-color: $gray-light;

// Font awesome variables
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

// Custom variables
$transition-duration: .2s;

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "../node_modules/sass-flex-mixin/flex";
@import "scss/webfont";

.btn {
  text-transform: uppercase;
  font-family: $font-family-sans-serif-black;
}

.navbar {
  position: absolute;
  top: $grid-gutter-width/2;
  width: 100%;

  @media (min-width: $grid-float-breakpoint) {
    top: 4em;
  }

  &-brand {
    font-size: 10vmin;
    letter-spacing: -.5vmin;
    line-height: 12vmin;

    @media (min-width: $grid-float-breakpoint) {
      font-size: 6vmin;
      line-height: 6vmin;
    }
  }

  &-right {
    text-transform: uppercase;

    > li {
      > a {
        @media (max-width: $grid-float-breakpoint-max) {
          background: white;
          color: $brand-primary !important;
        }
      }

      a.btn-white {
        display: none;
      }

      @media (min-width: $grid-float-breakpoint) {
        display: inline-block;
        float: none;
        vertical-align: middle;

        a.btn-white {
          display: block;
          float: none;

          &:hover, &:focus {
            background-color: white;
            border-color: $brand-primary;
            color: $brand-primary;
          }
        }
      }
    }
  }

  &-toggle {
    margin: 0 0 0 $grid-gutter-width;
    padding: $padding-base-vertical $padding-base-vertical*1.2;
  }

  .btn-white {
    @extend .btn;
    @include button-variant(white, transparent, white);
    float: right;
    font-size: $font-size-base;

    @media (min-width: $grid-float-breakpoint) {
      display: none;
    }
  }
}

.jumbotron {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  & &-header {
    font-family: $font-family-sans-serif-light;
    font-size: $font-size-h1;
    line-height: 1.2;
    margin: 2em 0 1em;

    b {
      font-family: $font-family-sans-serif-black;
      font-weight: normal;
    }

    span:not(.typed-cursor) {
      display: block;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @-webkit-keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @-moz-keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .typed-cursor {
      @include animation(blink .7s infinite);
    }
  }

  & &-intro {
    font-family: $font-family-sans-serif-light;
    font-size: $font-size-h3;

    span {
      display: block;
    }

    &--subpage {
      color: $brand-info;
    }
  }

  @each $jumbotron in (home, developers, business) {
    &--#{$jumbotron} {
      background-image: url("images/hero-#{$jumbotron}.jpg");
    }
  }
}

.section {
  padding: 4em 0;
  text-align: center;

  & &-header {
    color: $brand-info;
    font-family: $font-family-sans-serif-light;
    font-size: $font-size-h2;
    margin: {
      top: 0;
      bottom: 1em;
    }
    text-transform: uppercase;
  }

  &-image {
    margin-bottom: 1.5em;
  }

  &-text {
    margin-bottom: 0;
  }

  &-header, &-image, &-text {
    margin: {
      left: auto;
      right: auto;
    }
    max-width: 800px;
    width: 80vmin;
  }

  &-button {
    @extend .btn, .btn-primary;
    font-size: $font-size-base;
    margin-top: 1.5em;

    &:hover, &:focus {
      background-color: $brand-primary;
      color: white;
    }

    &--lg {
      font-size: $font-size-large;
      margin: {
        left: 8vmin;
        right: 8vmin;
      }
      padding: $padding-large-vertical $padding-large-horizontal;

      &-additional {
        display: block;
        font-size: $font-size-small;
        line-height: .8;
      }
    }

    &--strong {
      background-color: $brand-warning;
      color: white;
    }
  }

  &--get {
    background-color: $gray-lighter;

    & &-header {
      color: $brand-primary;
      font-family: $font-family-sans-serif-black;
      font-size: $font-size-h1;
    }
  }
}

.social-links {
  &-item {
    display: inline-block;
    list-style: none;
    margin: 0 3vmin;
  }

  &-link {
    background-color: $brand-info;
    border-radius: 50%;
    color: white;
    display: inline-block;
    font-size: 5vmin;
    text-align: center;
    width: 7vmin;

    &:hover, &:focus {
      color: $gray-lighter;
    }

    .fa {
      vertical-align: middle;
    }
  }

  @each $social-media in (twitter, facebook) {
    &-#{$social-media} {
      @extend .fa;
      @extend .fa-#{$social-media};
    }
  }
}

.footer {
  text-align: center;
  padding-bottom: 3em;
  font-size: 13px;

  small {
    font-size: 100%;
  }

  &-link {
    color: $text-color;
    display: block;
    font-weight: normal;
  }
}

a, .btn {
  @include transition(background-color $transition-duration, border-color $transition-duration, color $transition-duration);
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
  }
}
