{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load static %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "dashboard:variant-delete" product_pk=product.pk variant_pk=variant.pk %}
{% endblock %}

{% block title %}
{% blocktrans context "Dashboard confirmation modal" %}
  Remove variant {{ variant }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    <p>
      {% blocktrans context "Dashboard confirmation modal" %}
        Are you sure you want to remove variant <strong>{{ variant }}</strong> of product {{ product }}?
      {% endblocktrans %}
    </p>
    {% if is_only_variant %}
      <p>
      {% trans "This is the only variant of this product. If you remove it, the product will become unavailable." context "Dashboard confirmation modal" %}
      </p>
    {% endif %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
