{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}
{% load utils %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "dashboard:variant-images" product_pk=product.pk variant_pk=variant.pk %}
{% endblock %}

{% block title %}
{% trans "Select variant images" context "Dashboard variant images modal" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    <p>{% render_image_choice form.images %}</p>
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Save" context "Dashboard modal action" %}
{% endblock %}
