{% load i18n %}
{% load materializecss %}
{% load utils %}

<form action="{% url "dashboard:variant-images" product_pk=product.pk variant_pk=variant.pk %}" method="post" novalidate>
  {% csrf_token %}
  <div class="modal-content">
    <h5>
      {% trans "Select variant images" context "Dashboard variant images modal" %}
    </h5>
    <div class="row">
      <p>{% render_image_choice form.images %}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="modal-action btn-flat">
      {% trans "Save" context "Dashboard modal action" %}
    </button>
    <a href="#!" class="modal-action modal-close btn-flat">
      {% trans "Cancel" context "Dashboard cancel action" %}
    </a>
  </div>
</form>
