{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load utils %}

{% block title %}
  {% trans "Groups" context "Dashboard groups list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-customers{% endblock %}

{% block menu_groups_class %}active{% endblock %}

{% block header_extra %}
  {% if perms.account.edit_group %}
    <div class="btn-fab-fixed">
      <a href="{% url 'dashboard:group-create' %}" class="btn-fab-default waves-effect waves-light" title="{% trans "Add group" context "Group list add button text" %}">
        <svg data-src="{% static "dashboard/images/add.svg" %}" />
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">
      {% trans "Groups" context "Dashboard groups list" %}
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if groups %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight data-table data-table-description">
              <thead>
                <tr>
                  {% trans "Name" context "Dashboard groups list table header name" as label %}
                  {% sorting_header 'name' label %}
                  <th>
                    {% trans "Permissions" context "Dashboard groups list table header permissions" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for group in groups %}
                  <tr data-action-go="{% if perms.account.edit_group %}{% url 'dashboard:group-details' pk=group.name.pk %}{% endif %}">
                    <td>
                      {{ group.name }}
                    </td>
                    <td class="nowrap">
                      {% for permission in group.permissions %}
                        {{ permission.name }},
                      {% endfor %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate groups %}
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/group/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No groups found." context "Empty group table message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
    </div>
  </div>
{% endblock %}

