// Bootstrap variables
$border-radius-base: 0;
$border-radius-large: 0;

$brand-primary: #304C58;
$brand-info: #379AD5;
$brand-warning: #FF9900;
$gray-light: #A6A6A6;
$gray-lighter: #DADADA;

$btn-primary-color: $brand-primary;
$btn-primary-bg: transparent;
$btn-primary-border: $brand-primary;

$font-family-sans-serif: "HurmeGeometricSans4-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif-black: "HurmeGeometricSans4-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif-light: "HurmeGeometricSans4-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$font-size-h1: 6.5vmin;
$font-size-h1-px: 50px;
$font-size-h2: 5vmin;
$font-size-h2-px: 38px;
$font-size-h3: 3.5vmin;
$font-size-h3-px: 26px;

$jumbotron-padding: 0;
$jumbotron-color: $brand-warning;
$jumbotron-heading-color: white;
$jumbotron-bg: white;

$navbar-height: 50px;
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;
$navbar-padding-horizontal: 0;
$navbar-padding-vertical: 0;
$navbar-default-color: $brand-primary;
$navbar-default-bg: transparent;
$navbar-default-link-color: $brand-primary;
$navbar-default-link-hover-color: darken($brand-primary, 15%);
$navbar-default-link-active-color: darken($brand-primary, 15%);
$navbar-default-brand-color: $brand-primary;
$navbar-default-brand-hover-color: $navbar-default-link-hover-color;
$navbar-default-toggle-border-color: transparent;

$padding-base-vertical: 10px;
$padding-base-horizontal: 16px;

$padding-large-vertical: 15px;
$padding-large-horizontal: 36px;

$text-color: $gray-light;

// Font awesome variables
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

// Custom variables
$blueish: #267377;
$yellow: #ffe169;
$whiteish: #fffff0;
$pages-colors: (
  home: (
    brand: $yellow,
    menu: $yellow,
    header: $whiteish,
    intro: $brand-primary,
    intro-bg: $yellow
  ),
  developers: (
    brand: $blueish,
    menu: $blueish,
    header: $brand-info,
    intro: $whiteish,
    intro-bg: $brand-info
  )
);
$transition-duration: .2s;

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/sass-flex-mixin/flex";
@import "webfont";

.btn {
  text-transform: uppercase;
  font-family: $font-family-sans-serif-black;
}

.btn-primary {
  &:hover, &:focus {
    border-color: $brand-primary;
    background-color: $brand-primary;
    color: white;
  }
}

.navbar {
  position: absolute;
  top: $grid-gutter-width/2;
  width: 100%;
  z-index: $zindex-navbar;

  @media (min-width: $grid-float-breakpoint) {
    top: 4em;
  }

  &-brand {
    font-size: 28px;
    font-size: 9vmin;
    font-family: $font-family-sans-serif-black;
    letter-spacing: -4px;
    letter-spacing: -.5vmin;
    line-height: 43px;
    line-height: 13.5vmin;
    text-transform: uppercase;

    @media (min-width: $grid-float-breakpoint) {
      font-size: 46px;
      font-size: 6vmin;
      line-height: 46px;
      line-height: 6vmin;
    }
  }

  &-right {
    text-transform: uppercase;

    > li {
      a {
        &:hover, &:focus {
          color: $whiteish;
        }
      }

      a.btn-menu {
        display: none;
      }

      @media (min-width: $grid-float-breakpoint) {
        display: inline-block;
        float: none;
        vertical-align: middle;

        a.btn-menu {
          display: block;
          float: none;

          &:hover, &:focus {
            background-color: $brand-primary;
            border-color: $whiteish;
            color: $whiteish;
          }
        }
      }
    }
  }

  &-toggle {
    color: $brand-primary;
    margin: 0 $grid-gutter-width/-2 0 0;
    padding: $padding-base-vertical $grid-gutter-width/2;
  }

  & &-collapse {
    @media (max-width: $grid-float-breakpoint-max) {
      margin: {
        left: $grid-gutter-width/-2;
        right: $grid-gutter-width/-2;
      }
    }
  }

  .btn-menu {
    @extend .btn, .btn-primary;
    float: right;
    font-size: $font-size-base;

    @media (min-width: $grid-float-breakpoint) {
      display: none;
    }
  }
}

.jumbotron {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (device-width: 768px) and (device-height: 1024px) {
    height: 928px;
  }
  @media (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    height: 672px;
  }
  height: 100vh !important;

  .container {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  & &-header {
    color: $brand-info;
    font-family: $font-family-sans-serif-light;
    font-size: $font-size-h1-px;
    font-size: $font-size-h1;
    line-height: 1.2;
    margin: 2em 0 1em;

    b {
      font-family: $font-family-sans-serif-black;
      font-weight: normal;
    }

    span:not(.typed-cursor) {
      display: block;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @-webkit-keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @-moz-keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .typed-cursor {
      @include animation(blink .7s infinite);
    }
  }

  & &-intro {
    background: $brand-info;
    color: $whiteish;
    font-family: $font-family-sans-serif-light;
    font-size: $font-size-h3-px;
    font-size: $font-size-h3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $font-size-h3-px 0;
    padding: $font-size-h3 0;

    span {
      display: block;
    }

    &--subpage {
      color: $brand-info;
    }
  }
}

@each $page, $colors in $pages-colors {
  .body--#{$page} {
    .navbar-brand {
      color: map-get($colors, brand);

      &:hover, &:focus {
        color: $whiteish;
      }
    }

    .navbar-right > li > a {
      border-color: map-get($colors, menu);
      color: map-get($colors, menu);

      &:hover, &:focus {
        color: $whiteish;
      }

      @media (max-width: $grid-float-breakpoint-max) {
        background: map-get($colors, menu);
        @if lightness(map-get($colors, menu)) > 50% {
          color: $brand-primary;
        } @else {
          color: $whiteish;
        }

        &:hover, &:focus {
          @if lightness(map-get($colors, menu)) > 50% {
            color: $brand-primary;
          } @else {
            color: $whiteish;
          }
          background: darken(map-get($colors, menu), 10%);
        }
      }

      &.btn-menu {
        &:hover, &:focus {
          background-color: map-get($colors, menu);
          border-color: map-get($colors, menu);
          color: $whiteish;
        }
      }
    }

    .navbar-toggle {
      color: map-get($colors, menu);

      &:hover, &:focus {
        background-color: map-get($colors, menu);
        color: white;
      }
    }

    .btn-menu {
      @include button-variant(map-get($colors, menu), transparent, map-get($colors, menu));
    }

    .jumbotron {
      background-image: url("images/hero-#{$page}.jpg");

      .jumbotron-header {
        color: map_get($colors, header);
      }

      .jumbotron-intro {
        background: map_get($colors, intro-bg);
        color: map_get($colors, intro);
      }
    }
  }
}

.section {
  padding: 4em 0;
  text-align: center;

  & &-header {
    color: $brand-info;
    font-family: $font-family-sans-serif-light;
    font-size: $font-size-h2;
    font-size: $font-size-h2-px;
    margin: {
      top: 0;
      bottom: 1em;
    }
    text-transform: uppercase;
  }

  &-image {
    margin-bottom: 1.5em;
  }

  &-text {
    margin-bottom: 0;
  }

  &-header, &-image, &-text {
    margin: {
      left: auto;
      right: auto;
    }
    max-width: 800px;
    width: 614px;
    width: 80vmin;
  }

  &-button {
    @extend .btn, .btn-primary;
    font-size: $font-size-base;
    margin-top: 1.5em;

    &--lg {
      font-size: $font-size-large;
      margin: {
        left: 60px;
        right: 60px;
      }
      margin: {
        left: 8vmin;
        right: 8vmin;
      }
      padding: $padding-large-vertical $padding-large-horizontal;

      &-additional {
        display: block;
        font-size: $font-size-small;
        line-height: .8;
      }
    }

    &--strong {
      background-color: $brand-warning;
      color: white;
    }
  }

  &--get {
    background-color: $gray-lighter;

    & &-header {
      color: $brand-primary;
      font-family: $font-family-sans-serif-black;
      font-size: $font-size-h1-px;
      font-size: $font-size-h1;
    }
  }
}

.social-links {
  background: $brand-info;
  margin-bottom: 2em;
  padding: 0;

  &-item {
    display: inline-block;
    list-style: none;
    margin: 0 38px;
    margin: 0 5vmin;
  }

  &-link {
    color: white;
    display: inline-block;
    font-size: 38px;
    font-size: 5vmin;
    padding: 27px;
    padding: 3.5vmin;
    text-align: center;

    .fa {
      vertical-align: middle;
    }
  }

  @each $social-media in (twitter, facebook) {
    &-#{$social-media} {
      @extend .fa;
      @extend .fa-#{$social-media};
    }
  }
}

.footer {
  text-align: center;
  padding-bottom: 2em;

  .section-image {
    margin-bottom: 0;
  }

  small {
    display: block;
    font-size: 13px;
    line-height: 2;
  }

  &-link {
    color: $text-color;
    display: block;
    font-weight: normal;
  }
}

a, .btn {
  @include transition(background-color $transition-duration, border-color $transition-duration, color $transition-duration);
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
  }
}
