{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}
  {% if method.pk %}
   {% trans "Edit" context "Dashboard shipping method edit page" %} - {{ method }}
  {% else %}
    {% trans "Add new shipping method" context "Shipping method edit page title" %}
  {% endif %}
  - {{ block.super }}
{% endblock %}

{% block body_class %}body-shipping-zones{% endblock %}

{% block menu_delivery_class %}active{% endblock %}

{% block menu_shipping_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:shipping-zone-list" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}


{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url 'dashboard:shipping-zone-list' %}" class="breadcrumbs--ellipsed-item">
        {% trans "Shipping zones" context "Dashboard attributes list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url 'dashboard:shipping-zone-list' %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    {% if shipping_zone.pk %}
    <li>
      <a href="{% url 'dashboard:shipping-zone-details' shipping_zone.pk %}" class="breadcrumbs--ellipsed-item">
        {{ shipping_zone }}
      </a>
    </li>
    {% endif %}
    {% if shipping_method.pk %}
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {% trans "Edit shipping method" context "Shipping method breadcrumbs" %}
      </span>
    </li>
    {% else %}
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {% trans "Add shipping method" context "Shipping method breadcrumbs" %}
      </span>
    </li>
    {% endif %}
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      <div class="card">
        <form method="post" enctype="multipart/form-data" id="form-attributes" novalidate>
          {% csrf_token %}
          <div class="card-content">
            <span class="card-title">
              {% trans "Shipping method" context "Shipping method form title" %}
            </span>
            <div class="row">
              {{ form|materializecss }}
            </div>
          </div>
          <div class="card-action right-align">
            <a href="{% url 'dashboard:shipping-zone-details' pk=shipping_zone.pk %}" class="btn-flat waves-effect">
              {% trans "Cancel" context "Dashboard cancel action" %}
            </a>
            {% if shipping_method.pk %}
              <button type="submit" class="btn waves-effect">
                {% trans "Save" context "Dashboard update action" %}
              </button>
            {% else %}
              <button type="submit" class="btn waves-effect">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
    <div class="col s12 l3 help-box"></div>
  </div>
{% endblock %}
