$icon-font-path: "../fonts/";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

.navbar {
	margin-bottom: $grid-gutter-width;
}

.price {
	&.undiscounted {
		text-decoration: line-through;
	}
}

.address-details {
	border-bottom: 1px dashed;
	color: #3a87ad;
	cursor: pointer;
}

.popover {
	min-width: 200px;
}

.product-list-item-name {
  display: block;
  margin-top: $grid-gutter-width/4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-gallery {
	margin-top: $grid-gutter-width;
}

.product-related {
	.active {
		border: 1px solid $btn-primary-border;
		box-shadow: 0 0 5px $btn-primary-border;
	}
}

.product-form {
	.btn-group {
		display: block;
		overflow: hidden;
	}
}

.form-group.required .control-label:after{
    content: '*';
}

.breadcrumb {
	> li+li {
		&:before {
			content: '/';
		}
	}
}

.cart {
	> tbody {
		> .cart-item {
			> td {
				vertical-align: text-bottom;
			}
		}
	}

	&-item {
		&-image {
			width: 100px;
		}

		&-subtotal {
			position: relative;
		}

		&-remove {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}
