$font-size-action-icon: 18px;
$header-height: 64px;
$navbar-height-mobile: 64px;
$subheader-height: 48px;
$transition-duration: .2s;
$placeholder-text-color: white;

$roboto-font-path: "~materialize-css/fonts/roboto/";
@import "~materialize-css/sass/materialize";
@import "~dropzone/dist/dropzone";
@import "~select2/src/scss/core";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('~material-design-icons/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('~material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
       url('~material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
       url('~material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

header {
  .top-nav {
    box-shadow: none;
    line-height: 0;
    .left {
      width: 98vw;
      @media (max-width: $small-screen) {
        width: auto;
      }
      .search {
        min-width: 50%;
        width: auto;
        .input-field {
          margin-top: 0.5rem;
          @media (min-width: $large-screen) {
            margin-top: 0.3rem;
          }
          margin-left: 3rem;
          input {
            padding: 1rem;
            background-color: $primary-color-light;
            margin-bottom: 0;
            border-radius: 3px;
            width: 80%;
            display: inline-block;
            @media (min-width: $large-screen) {
              width: 90%;
            }
            @media (max-width: $medium-screen) {
              width: 70%;
            }
            &:focus {
              background-color: white;
            }
          }
          .search-icon {
            background: transparent;
            border: none;
            position: absolute;
            right: 0;
            top: 0.5rem;
            i {
              height: 21px;
              line-height: 1;
            }
          }
        }
      }
    }
    .user-name {
      padding: (($dropdown-item-height - 22) / 2) 16px;
      white-space: normal;
      max-width: 90vw;
    }
    .menu-toggle {    
      background-color: $primary-color;
      position: absolute;      
      width: 237px;
      z-index: 2;
      i {
        color: white;
      }
      a:hover {
        background-color: transparent;
      }
    }
    .header-button, .button-collapse {
      float: left;
      margin: 0 $gutter-width;
      display: block;
      i {
        font-size: 2.7rem;
        height: $header-height;
        line-height: $header-height;
      }
    }

    .dropdown-button {
      float: right;
      line-height: $header-height/2;
      position: relative;
      top: $header-height/4;
      margin-left: 1rem;
      i {
        height: $header-height/2;
        line-height: $header-height/2;
      }
    }

    .dropdown-content {
      left: auto !important;
      right: 0;
      white-space: nowrap;
    }
  
    .logo {
      img {
        max-height: $header-height;
        padding-top: $sidenav-padding
      }
    }
    .right {
      padding-right: $sidenav-padding;
    }
  }

  .side-nav {
    width: 250px;
    position: absolute;
    top: $header-height + $subheader-height;
    height: 100vh;
    &-section {
      p {
        line-height: 1;
        color: map-get($grey, darken-1);
        margin-left: $gutter-width;
        font-size: 85%;
      }
      &:not(:last-of-type) {
        border-bottom: 1px solid map-get($grey, lighten-2);
      }
      padding-top: $gutter-width / 2;
      &#first{
        border-top: 1px solid map-get($grey, lighten-2);
      }
    }
    &.sticky {
      position: fixed;
      top: 0;
    }
    li {
      display: block;
      .body-home &.nav-home {
        @extend .active;
      }
    }
  }
}

.subheader {
  background-color: $primary-color-light;
  height: $subheader-height;
  margin-top: 0;
  i {
    font-size: $subheader-height/2;
    line-height: $subheader-height;
    color: white;
  }
}

.main {
  margin-top: 1.5rem;
}

.modal-content {
  .row {
    margin: {
      left: -.75rem;
      right: -.75rem;
    }
  }
}

.page-title {
  display: block;
  font-size: $h5-fontsize;
  line-height: $header-height;

  @media (max-width: $medium-screen) {
    float: right;
    width: calc(100% - 38px - 1.5rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.data-table-container {
  overflow: auto;
  table {
    .row {
      .col {
        float: none;
        padding: $gutter-width/2;

        .responsive-img {
          display: block;
        }
      }
    }
  }
}

.input-with-suffix input {
  float: left;
  width: calc(100% - 40px);
}

.input-text-suffix {
  float: right;
  line-height: 45px;
  text-align: right;
  width: 40px;
}

#modal-product-class {
  max-width: 300px;
}

.pagination li.disabled span {
  color: #999;
}

.btn-data-table {
  background: none;
  border: none;
  font-weight: bold;
  padding: 0;
  text-transform: uppercase;

  &:hover, &:focus {
    background: none;
  }
}

.fixed-action-btn {
  padding: 0;
}

.btn-fab {
  transition: transform $transition-duration, box-shadow $transition-duration;

  i {
    &:before {
      transition: font-size $transition-duration;
    }
  }
}

.btn-fab.btn-fab-hidden {
  transform: scaleX(0) scaleY(0);

  i {
    &:before {
      font-size: 0;
    }
  }
}

.card {
  img {
    display: block;

    @media (max-width: $small-screen) {
      width: 100%;
    }
  }
  overflow: initial;
}

.no-margin {
  margin: 0;
}

.switch-two-columns {
  @media (min-width: $large-screen) {
    float: left !important;

    &:first-child {
      float: right !important;
    }
  }
}

.text-lg {
  font-size: 120%;
}

#order-details {
  .order-summary {
    td {
      padding: 5px 5px;
    }
    .order-user {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100px;
      min-width: 100%;
    }
  }

  #order-notes {
    box-shadow: none;
  }
}

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  vertical-align: middle;
  word-wrap: normal;
  white-space: nowrap;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.formatted-address {
  white-space: pre-wrap;
}

@import "widget/breadcrumbs";
@import "widget/card";
@import "widget/data-table";
@import "widget/dropzone";
@import "widget/form";
@import "widget/list";
@import "widget/product-gallery";
@import "widget/ppoi";
@import "widget/select2";
@import "widget/tabs";
@import "widget/toast";
