@import "variables";
@import "~bootstrap/scss/bootstrap";

@import "components/breadcrumbs";
@import "components/buttons";
@import "components/cards";
@import "components/checkout-dropdown";
@import "components/filters";
@import "components/footer";
@import "components/forms";
@import "components/header";
@import "components/labels";
@import "components/loader";
@import "components/pagination";
@import "components/table";
@import "components/tabs";
@import "components/typography";
@import "components/variant-picker";
@import "components/language-picker";

@import "layouts/account";
@import "layouts/checkout";
@import "layouts/home";
@import "layouts/login";
@import "layouts/no-results";
@import "layouts/order-details";
@import "layouts/payment";
@import "layouts/product-list";
@import "layouts/product-page";
@import "layouts/styleguide";


.demo-alert {
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: var(--background-color);
    background-image: linear-gradient(-150deg,rgba(254,62,62,.3),rgba(125,185,232,0) 10%,rgba(125,185,232,0)),url(/images/background.4d59bcb….svg);
    color: #130d44;
    background-color: #130d44;
    padding: 1.5em;
    font-size: medium;
    text-align: center;
    a {
        color: white;
        .graphql {
            color: #00c5aa;
        }
        font-weight: 600;
        text-transform: uppercase;
    }
}
