{% extends "base.html" %}
{% load as_horizontal_form from bootstrap %}
{% load i18n %}

{% block title %}{{ block.super }} » {% trans "Payment" %}{% endblock %}

{% block outerbreadcrumb %}{% endblock %}

{% block content %}
<h2>Payment</h2>
{% block forms %}
{% if form %}
<form method="post" action="{{ form.action }}" class="form-horizontal">
	{% csrf_token %}
    {{ form|as_horizontal_form }}
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">
                {% trans "Save changes" %}
            </button>
        </div>
    </div>
</form>
{% endif %}
{% endblock forms %}

{% endblock content %}
