{% extends "payment/details.html" %}

{% load as_bootstrap from bootstrap %}
{% load gross from prices %}
{% load i18n %}

{% block title %}{{ block.super }} » {% trans "Paypal card" %}{% endblock %}

{% block forms %}
<form method="post" class="form-horizontal">
    {% csrf_token %}
    {{ form.non_field_errors|as_bootstrap }}
    {{ form.name|as_bootstrap }}
    {{ form.number|as_bootstrap }}
    <div class="control-group name required{% if form.expiration.errors  %} error{% endif %}">
        <label class="control-label">Expiry date</label>
        <div class="controls controls-row">
            {{ form.expiration }}
            {% if form.expiration.errors  %}
            <span class="help-inline error">
                {% for error in form.expiration.errors %}
                {{ error }}
                {% endfor %}
            </span>{% endif %}
        </div>
    </div>
    {{ form.cvv2|as_bootstrap }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Save changes
        </button>
    </div>
</form>
{% endblock forms %}
