{% extends "payment/details.html" %}

{% load as_horizontal_form from bootstrap %}
{% load gross from prices %}
{% load i18n %}

{% block title %}{{ block.super }} » {% trans "Paypal card" %}{% endblock %}

{% block forms %}
<form method="post" class="form-horizontal">
    {% csrf_token %}
    {{ form.non_field_errors|as_horizontal_form }}
    {{ form.name|as_horizontal_form }}
    {{ form.number|as_horizontal_form }}
    <div class="control-group name required{% if form.expiration.errors  %} error{% endif %}">
        <label class="control-label">Expiry date</label>
        <div class="controls controls-row">
            {{ form.expiration }}
            {% if form.expiration.errors  %}
            <span class="help-inline error">
                {% for error in form.expiration.errors %}
                {{ error }}
                {% endfor %}
            </span>{% endif %}
        </div>
    </div>
    {{ form.cvv2|as_horizontal_form }}
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">
                {% trans "Save changes" %}
            </button>
        </div>
    </div>
</form>
{% endblock forms %}
