interactions:
- request:
    body: '{"merchantAccount": "SaleorECOM", "modificationAmount": {"value": "123400",
      "currency": "USD"}, "originalReference": "853596537720508F", "reference": "UGF5bWVudDoxMA==",
      "applicationInfo": {"adyenLibrary": {"name": "adyen-python-api-library", "version":
      "3.1.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
        - test_key
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v64/capture
  response:
    body:
      string: '{"pspReference":"853596621736884E","response":"[capture-received]"}'
    headers:
      Adyen-ServerState:
      - HIGH
      Content-Type:
      - application/json;charset=utf-8
      pspReference:
      - 853596621736884E
    status:
      code: 200
      message: OK
version: 1
