interactions:
- request:
    body: '{"merchantAccount": "SaleorECOM", "originalReference": "852595499936560C",
      "reference": "UGF5bWVudDoxMDg=", "applicationInfo": {"adyenLibrary": {"name":
      "adyen-python-api-library", "version": "3.0.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v49/cancel
  response:
    body:
      string: '{"status":401,"errorCode":"000","message":"HTTP Status Response - Unauthorized","errorType":"security"}'
    headers:
      Content-Type:
      - application/json
      WWW-Authenticate:
      - BASIC realm="Adyen PAL Service Authentication"
    status:
      code: 401
      message: '401'
version: 1
