interactions:
- request:
    body: '{"merchantAccount": "SaleorECOM", "modificationAmount": {"value": "8000",
      "currency": "USD"}, "originalReference": "853596537720508F", "reference": "UGF5bWVudDoxNDM=",
      "applicationInfo": {"adyenLibrary": {"name": "adyen-python-api-library", "version":
      "5.0.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v64/capture
  response:
    body:
      string: '{"pspReference":"863617008221082B","response":"[capture-received]"}'
    headers:
      Adyen-ServerState:
      - MEDIUM
      Content-Type:
      - application/json;charset=utf-8
      pspReference:
      - 863617008221082B
    status:
      code: 200
      message: '200'
version: 1
