interactions:
- request:
    body: '{"amount": {"value": "8000", "currency": "USD"}, "reference": "UGF5bWVudDoxMTM=",
      "paymentMethod": {"type": "scheme", "encryptedCardNumber": "test_4646464646464644",
      "encryptedExpiryMonth": "test_03", "encryptedExpiryYear": "test_2030", "encryptedSecurityCode":
      "test_737"}, "returnUrl": "http://mirumee.com/plugins/mirumee.payments.adyen/additional-actions?payment=UGF5bWVudDoxMTM%3D&checkout=380f2891-ae6c-4767-9661-a79cd6476be5",
      "merchantAccount": "SaleorECOM", "channel": "web", "shopperEmail": "", "applicationInfo":
      {"adyenLibrary": {"name": "adyen-python-api-library", "version": "5.0.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://checkout-test.adyen.com/v67/payments
  response:
    body:
      string: '{"additionalData":{"paymentMethod":"visa"},"pspReference":"852610008487439C","resultCode":"Authorised","amount":{"currency":"USD","value":8000},"merchantReference":"UGF5bWVudDoxMTM="}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      pspReference:
      - 881617007288554D
    status:
      code: 200
      message: '200'
version: 1
