interactions:
- request:
    body: '{"merchantAccount": "SaleorECOM", "modificationAmount": {"value": "123400",
      "currency": "USD"}, "originalReference": "882595494831959A", "reference": "UGF5bWVudDoxNw==",
      "applicationInfo": {"adyenLibrary": {"name": "adyen-python-api-library", "version":
      "3.0.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v49/refund
  response:
    body:
      string: '{"pspReference":"882595499620961A","response":"[refund-received]"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      pspReference:
      - 882595499620961A
    status:
      code: 200
      message: '200'
version: 1
