interactions:
- request:
    body: '{"merchantAccount": "SaleorECOM", "originalReference": "883597146907178J",
      "reference": "UGF5bWVudDoz", "applicationInfo": {"adyenLibrary": {"name": "adyen-python-api-library",
      "version": "3.0.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v64/cancel
  response:
    body:
      string: '{"pspReference":"853597151490739D","response":"[cancel-received]"}'
    headers:
      Adyen-ServerState:
      - MEDIUM
      Content-Type:
      - application/json;charset=utf-8
      pspReference:
      - 853597151490739D
    status:
      code: 200
      message: OK
version: 1
