interactions:
- request:
    body: '{"merchantAccount": "SaleorECOM", "modificationAmount": {"value": "8000",
      "currency": "USD"}, "originalReference": "882595494831959A", "reference": "UGF5bWVudDoxMjI=",
      "applicationInfo": {"adyenLibrary": {"name": "adyen-python-api-library", "version":
      "5.0.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v64/refund
  response:
    body:
      string: '{"pspReference":"882610009233471H","response":"[refund-received]"}'
    headers:
      Adyen-ServerState:
      - MEDIUM
      Content-Type:
      - application/json;charset=utf-8
      pspReference:
      - 882617007538759E
    status:
      code: 200
      message: '200'
version: 1
