interactions:
- request:
    body: '{"merchantAccount": "SaleorECOM", "countryCode": "PL", "channel": "web",
      "applicationInfo": {"adyenLibrary": {"name": "adyen-python-api-library", "version":
      "3.0.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://checkout-test.adyen.com/v49/paymentMethods
  response:
    body:
      string: "{\"groups\":[{\"name\":\"Credit Card\",\"types\":[\"visa\",\"mc\",\"\
        amex\"]}],\"paymentMethods\":[{\"details\":[{\"items\":[{\"id\":\"66\",\"\
        name\":\"Bank Nowy BFG S.A.\"},{\"id\":\"92\",\"name\":\"Bank Sp\xF3\u0142\
        dzielczy w Brodnicy\"},{\"id\":\"11\",\"name\":\"Bank transfer \\/ postal\"\
        },{\"id\":\"74\",\"name\":\"Banki Sp\xF3\u0142dzielcze\"},{\"id\":\"73\",\"\
        name\":\"BLIK\"},{\"id\":\"90\",\"name\":\"BNP Paribas - p\u0142ac\u0119 z\
        \ Pl@net\"},{\"id\":\"59\",\"name\":\"CinkciarzPAY\"},{\"id\":\"87\",\"name\"\
        :\"Credit Agricole PBL\"},{\"id\":\"83\",\"name\":\"Enve[...]
