interactions:
- request:
    body: '{"merchantAccount": "SaleorECOM", "countryCode": "PL", "channel": "web",
      "amount": {"value": "1000", "currency": "USD"}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://checkout-test.adyen.com/v67/paymentMethods
  response:
    body:
      string: '{"paymentMethods":[{"brands":["visa","mc","amex","diners","discover"],"details":[{"key":"encryptedCardNumber","type":"cardToken"},{"key":"encryptedSecurityCode","type":"cardToken"},{"key":"encryptedExpiryMonth","type":"cardToken"},{"key":"encryptedExpiryYear","type":"cardToken"},{"key":"holderName","optional":true,"type":"text"}],"name":"Credit
        Card","type":"scheme"},{"configuration":{"intent":"capture"},"name":"PayPal","type":"paypal"},{"name":"Paysafecard","type":"paysafecard"},{"configuration":{"merchantId":"1000","merchantName":"SaleorECOM"},"details":[{"key":"applepay.token","type":"applePayToken"}],"name":"Apple
        Pay","type":"applepay"},{"configuration":{"merchantId":"1000","gatewayMerchantId":"SaleorECOM"},"details":[{"key":"paywithgoogle.token","type":"payWithGoogleToken"}],"name":"Google
        Pay","type":"paywithgoogle"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      pspReference:
      - 861617007250091C
    status:
      code: 200
      message: '200'
version: 1
