interactions:
- request:
    body: '{"merchantAccount": "SaleorECOM", "modificationAmount": {"value": "123400",
      "currency": "USD"}, "originalReference": "882595494831959A", "reference": "UGF5bWVudDoyMw==",
      "applicationInfo": {"adyenLibrary": {"name": "adyen-python-api-library", "version":
      "3.0.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v49/capture
  response:
    body:
      string: '{"pspReference":"852595499936560C","response":"[capture-received]",
        "additionalData":{"paymentMethod": "visa"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      pspReference:
      - 852595499936560C
    status:
      code: 200
      message: '200'
version: 1
