interactions:
- request:
    body: '{"merchantAccount": "SaleorECOM", "originalReference": "852610010025849H",
      "reference": "UGF5bWVudDoxMjc=", "applicationInfo": {"adyenLibrary": {"name":
      "adyen-python-api-library", "version": "5.0.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v64/cancel
  response:
    body:
      string: '{"pspReference":"852610010936232E","response":"[cancel-received]"}'
    headers:
      Adyen-ServerState:
      - HIGH
      Content-Type:
      - application/json;charset=utf-8
      pspReference:
      - 882617007866135K
    status:
      code: 200
      message: '200'
version: 1
