interactions:
- request:
    body: '{"amount": {"value": "8000", "currency": "USD"}, "reference": "UGF5bWVudDoxMTU=",
      "paymentMethod": {"type": "scheme", "encryptedCardNumber": "test_4646464646464644",
      "encryptedExpiryMonth": "test_03", "encryptedExpiryYear": "test_2030", "encryptedSecurityCode":
      "test_737"}, "returnUrl": "http://mirumee.com/plugins/mirumee.payments.adyen/additional-actions?payment=UGF5bWVudDoxMTU%3D&checkout=f3eb17ba-2159-4663-862e-067430d02269",
      "merchantAccount": "SaleorECOM", "channel": "web", "shopperEmail": "", "applicationInfo":
      {"adyenLibrary": {"name": "adyen-python-api-library", "version": "5.0.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://checkout-test.adyen.com/v67/payments
  response:
    body:
      string: '{"additionalData":{"paymentMethod":"visa"},"pspReference":"853610014787942J","resultCode":"Authorised","amount":{"currency":"USD","value":8000},"merchantReference":"UGF5bWVudDoxMTU="}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      pspReference:
      - 861617007347032B
    status:
      code: 200
      message: '200'
- request:
    body: '{"merchantAccount": "SaleorECOM", "modificationAmount": {"value": "8000",
      "currency": "USD"}, "originalReference": "862617007347212H", "reference": "UGF5bWVudDoxMTU=",
      "applicationInfo": {"adyenLibrary": {"name": "adyen-python-api-library", "version":
      "5.0.0"}}}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v64/capture
  response:
    body:
      string: '{"pspReference":"853610014787942J","response":"[capture-received]"}'
    headers:
      Adyen-ServerState:
      - LIGHT
      Content-Type:
      - application/json;charset=utf-8
      pspReference:
      - 862617007347008K
    status:
      code: 200
      message: '200'
version: 1
