interactions:
- request:
    body: <?xml version="1.0" encoding="utf-8"?><createTransactionRequest xmlns="AnetApi/xml/v1/schema/AnetApiSchema.xsd"><merchantAuthentication><name>public</name><transactionKey>secret</transactionKey></merchantAuthentication><clientId>sdk-python-1.1.3</clientId><transactionRequest><transactionType>voidTransaction</transactionType><refTransId>601572</refTransId></transactionRequest></createTransactionRequest>
    headers:
      Content-Type:
      - application/xml
      encoding:
      - utf-8
      version:
      - '1.0'
    method: POST
    uri: https://apitest.authorize.net/xml/v1/request.api
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><createTransactionResponse\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        \ xmlns=\"AnetApi/xml/v1/schema/AnetApiSchema.xsd\"><messages><resultCode>Error</resultCode><message><code>E00027</code><text>The\
        \ transaction was unsuccessful.</text></message></messages><transactionResponse><responseCode>3</responseCode><authCode\
        \ /><avsResultCode>P</avsResultCode><cvvResultCode /><cavvResultCode /><transId>0</transId><refTransID>601572</refTransID><transHash\
        \ /><testRequest>0</testRequest><accountNumber /><accountType /><errors><error><errorCode>16</errorCode><errorText>The\
        \ transaction cannot be found.</errorText></error></errors><shipTo /><transHashSha2\
        \ /></transactionResponse></createTransactionResponse>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Cnection:
      - close
      X-OPNET-Transaction-Trace:
      - a2_fcd54fbe-2b11-4415-adab-ba5b7df2b869-17340-27164037
    status:
      code: 200
      message: OK
version: 1
