interactions:
- request:
    body: <?xml version="1.0" encoding="utf-8"?><createTransactionRequest xmlns="AnetApi/xml/v1/schema/AnetApiSchema.xsd"><merchantAuthentication><name>test</name><transactionKey>test</transactionKey></merchantAuthentication><clientId>sdk-python-1.1.3</clientId><transactionRequest><transactionType>refundTransaction</transactionType><amount>10.0</amount><payment><creditCard><cardNumber>1111</cardNumber><expirationDate>XXXX</expirationDate></creditCard></payment><refTransId>60156675146</refTransId></transactionRequest></createTransactionRequest>
    headers:
      Content-Type:
      - application/xml
      encoding:
      - utf-8
      version:
      - '1.0'
    method: POST
    uri: https://apitest.authorize.net/xml/v1/request.api
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><createTransactionResponse\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        \ xmlns=\"AnetApi/xml/v1/schema/AnetApiSchema.xsd\"><messages><resultCode>Ok</resultCode><message><code>I00001</code><text>Successful.</text></message></messages><transactionResponse><responseCode>1</responseCode><authCode\
        \ /><avsResultCode>P</avsResultCode><cvvResultCode /><cavvResultCode /><transId>60156757629</transId><refTransID>60156675146</refTransID><transHash\
        \ /><testRequest>0</testRequest><accountNumber>XXXX1111</accountNumber><accountType>Visa</accountType><messages><message><code>1</code><description>This\
        \ transaction has been approved.</description></message></messages><transHashSha2\
        \ /></transactionResponse></createTransactionResponse>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Cnection:
      - close
      X-OPNET-Transaction-Trace:
      - a2_c9f35a24-6245-4c60-b286-cafec65de713-17248-17900192
    status:
      code: 200
      message: OK
version: 1
