interactions:
- request:
    body: <?xml version="1.0" encoding="utf-8"?><createTransactionRequest xmlns="AnetApi/xml/v1/schema/AnetApiSchema.xsd"><merchantAuthentication><name>public</name><transactionKey>secret</transactionKey></merchantAuthentication><clientId>sdk-python-1.1.3</clientId><refId>215</refId><transactionRequest><transactionType>authCaptureTransaction</transactionType><amount>10.0</amount><currencyCode>USD</currencyCode><payment><opaqueData><dataDescriptor>COMMON.ACCEPT.INAPP.PAYMENT</dataDescriptor><dataValue>eyJjb2RlIjoiNTBfMl8wNjAwMDUyODA2OTkzMkM1MUVGMTUxODBCNEJBMTQ2NTk5OTI3QTM1RUUzMzAzODRDNEQ2RkQ5MkU0NzA0NUZGQzQyNENEN0VBNUZEMTNFNjdDOTFGMzU5ODIzRUIzMkY4RTUxQjlCIiwidG9rZW4iOiI5NjA4MDU1OTc0NTk2MDc4NjA0NjAxIiwidiI6IjEuMSJ9</dataValue></opaqueData></payment><profile><createProfile>true</createProfile></profile><order><description></description></order><customer><type>individual</type><id>124</id><email>example@test.com</email></customer></transactionRequest></createTransactionRequest>
    headers:
      Content-Type:
      - application/xml
      encoding:
      - utf-8
      version:
      - '1.0'
    method: POST
    uri: https://apitest.authorize.net/xml/v1/request.api
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><createTransactionResponse\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        \ xmlns=\"AnetApi/xml/v1/schema/AnetApiSchema.xsd\"><refId>215</refId><messages><resultCode>Ok</resultCode><message><code>I00001</code><text>Successful.</text></message></messages><transactionResponse><responseCode>1</responseCode><authCode>VV8YV5</authCode><avsResultCode>Y</avsResultCode><cvvResultCode>P</cvvResultCode><cavvResultCode>2</cavvResultCode><transId>60158222968</transId><refTransID\
        \ /><transHash /><testRequest>0</testRequest><accountNumber>XXXX1111</accountNumber><accountType>Visa</accountType><messages><message><code>1</code><description>This\
        \ transaction has been approved.</description></message></messages><transHashSha2\
        \ /><networkTransId>DOSERDWEAEJ83YIVZY3AB6B</networkTransId></transactionResponse><profileResponse><messages><resultCode>Ok</resultCode><message><code>I00001</code><text>Successful.</text></message></messages><customerProfileId>1929153842</customerProfileId><customerPaymentProfileIdList><numericString>1841389488</numericString></customerPaymentProfileIdList><customerShippingAddressIdList\
        \ /></profileResponse></createTransactionResponse>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Cnection:
      - close
      X-OPNET-Transaction-Trace:
      - a2_0ac565cf-65dd-471f-87e8-1ccb37ba4dc7-21900-12345128
    status:
      code: 200
      message: OK
version: 1
