interactions:
- request:
    body: '{"authenticateTestRequest": {"merchantAuthentication": {"name": "test",
      "transactionKey": "test"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://apitest.authorize.net/xml/v1/request.api
  response:
    body:
      string: "\uFEFF{\"messages\":{\"resultCode\":\"Error\",\"message\":[{\"code\"\
        :\"E00007\",\"text\":\"User authentication failed due to invalid authentication\
        \ values.\"}]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cnection:
      - close
      X-OPNET-Transaction-Trace:
      - a2_290dc2bf-5583-4847-b033-96a7ce2ac41d-21372-1078193
    status:
      code: 200
      message: OK
version: 1
