{% load i18n %}
{% load static from staticfiles %}
{% load as_vertical_form from bootstrap %}


{% with field=addresses_form.address %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        <div class="row">
            <div class="btn-group-vertical col-sm-12" data-toggle="buttons">
                {% if step.shipping_address %}
                    <label for="{{ field.html_name }}_copy" class="btn btn-default{% if field.value == field.field.copy_choice_value %} active{% endif %}">
                        <input type="radio"
                               name="{{ field.html_name }}"
                               value="{{ field.field.copy_choice_value }}"
                               id="{{ field.html_name }}_copy"
                               {% if field.value == field.field.copy_choice_value %}checked{% endif %}>
                        {{ field.field.copy_choice_label }}
                    </label>
                {% endif %}

                {% if addresses %}
                    {% for address in addresses %}
                        <label for="{{ field.html_name }}_{{ address.id }}" class="btn btn-default{% if field.value == address.id %} active{% endif %}">
                            <input type="radio"
                                   name="{{ field.html_name }}"
                                   value="{{ address.id }}"
                                   id="{{ field.html_name }}_{{ address.id }}"
                                   {% if field.value == address.id %}checked{% endif %}>
                            {% include "userprofile/snippets/address-details.html" with address=address %}
                        </label>
                    {% endfor %}
                {% endif %}

                {% if step.shipping_address or addresses %}
                    <label for="{{ field.html_name }}_new" class="btn btn-default{% if field.value == field.field.new_choice_value %} active{% endif %}">
                        <input type="radio"
                               name="{{ field.html_name }}"
                               value="{{ field.field.new_choice_value }}"
                               id="{{ field.html_name }}_new"
                               {% if field.value == field.field.new_choice_value %}checked{% endif %}>
                        {{ field.field.new_choice_label }}
                    </label>
                {% endif %}
            </div>
        </div>
        <br>
    {% endif %}
{% endwith %}
<div class="conditional-visibility" data-controller="input[name={{ addresses_form.address.html_name }}]" data-value="{{ addresses_form.address.field.new_choice_value }}">
    {% with new_address=step.forms.new_address %}
        <div class="row">
            <div class="col-sm-6">
                {{ new_address.first_name|as_vertical_form }}
            </div>
            <div class="col-sm-6">
                {{ new_address.last_name|as_vertical_form }}
            </div>
        </div>
        {{ new_address.company_name|as_vertical_form }}
        <div class="row">
            <div class="col-sm-8">
                {{ new_address.street_address_1|as_vertical_form }}
            </div>
            <div class="col-sm-4">
                {{ new_address.street_address_2|as_vertical_form }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ new_address.city|as_vertical_form }}
            </div>
            <div class="col-sm-6">
                {{ new_address.city_area|as_vertical_form }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                {{ new_address.country_area|as_vertical_form }}
            </div>
            <div class="col-sm-4">
                {{ new_address.postal_code|as_vertical_form }}
            </div>
        </div>
        {{ new_address.country|as_vertical_form }}
        {% if display_email_form %}
            {{ step.forms.email|as_vertical_form  }}
        {% endif %}
        {{ new_address.phone|as_vertical_form }}
    {% endwith %}
</div>
