{% extends "base.html" %}

{% load i18n %}
{% load gross from prices_i18n %}
{% load tax from prices_i18n %}


{% block title %}{% trans "Checkout" %} — {{ block.super }}{% endblock %}

{% block outerbreadcrumb %}{% endblock %}

{% block header %}
    <header class="navbar navbar-default navbar-static-top" role="navigation">
        <nav class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Saleor</a>
            </div>
        </nav>
    </header>
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
    <ul class="nav nav-pills nav-justified">
        {% for stepitem in checkout %}
            {% if stepitem %}
                <li {% if stepitem == step %}class="active"{% endif %}>
                    <a href="{{ stepitem.get_absolute_url }}">
                        <i class="fa fa-check-circle"></i>
                        {{ stepitem.title }}
                    </a>
                </li>
            {% elif stepitem == next_step %}
                 <li {% if stepitem == step %}class="active"{% endif %}>
                    <a href="{{ stepitem.get_absolute_url }}">
                        {{ stepitem.title }}
                    </a>
                </li>
            {% else %}
                 <li class="disabled">
                    <a>{{ stepitem.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <hr>

    {% block step_info %}{% endblock %}

    <div class="row">
        <div class="col-sm-8">
            {% block forms %}{% endblock %}
        </div>

        <div class="col-sm-4">
        {% if checkout.delivery.delivery_method %}
            {% for delivery, delivery_cost, total_with_delivery in checkout.get_deliveries %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% blocktrans with number=forloop.counter %}Shipment #{{ number }}{% endblocktrans %}
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-sm-6">{% trans "Item" %}</th>
                                <th class="col-sm-3 text-right">{% trans "Price" %}</th>
                                <th class="col-sm-3 text-right">{% trans "Subtotal" %}</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th colspan="2">{% trans "Total" %}</th>
                                <th class="text-right">{% gross total_with_delivery %}</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for item in delivery %}
                                <tr>
                                    <td>{{ item.product }}{% if item.quantity != 1 %} <em>×{{ item.quantity }}</em>{% endif %}</td>
                                    <td class="text-right">{% gross item.get_price_per_item %}</td>
                                    <td class="text-right">{% gross item.get_total %}</td>
                                </tr>
                            {% endfor %}
                            {% if delivery_cost.gross %}
                                <tr>
                                    <td>
                                        {% trans "Shipping" %}
                                    </td>
                                    <td class="text-right">{% gross delivery_cost %}</td>
                                    <td class="text-right">{% gross delivery_cost %}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}

        {% if checkout.delivery.delivery_method %}
            {% with total=checkout.get_total %}
                <div class="alert alert-success">
                    {% trans "Your total will be" %}:
                    <strong>{% gross total %}</strong>
                    {% if total.tax %}
                        ({% blocktrans with tax=total.tax|floatformat:2 currency=total.currency %}includes {{ tax }} <span class="currency">{{ currency }}</span> tax{% endblocktrans %})
                    {% endif %}
                </div>
            {% endwith %}
        {% endif %}

        </div>
    </div>

{% endblock content %}
