{% extends "base.html" %}

{% load i18n %}
{% load gross from prices_i18n %}
{% load tax from prices_i18n %}
{% load bootstrap_form bootstrap_button from bootstrap3 %}


{% block title %}{% trans "Checkout" %} — {{ block.super }}{% endblock %}

{% block outerbreadcrumb %}{% endblock %}

{% block header %}
    <header class="navbar navbar-default navbar-static-top" role="navigation">
        <nav class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Saleor</a>
            </div>
        </nav>
    </header>
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <p class="alert alert-info">
            {% trans "Already have an account?" %}
            <a href="{% url "registration:login" %}?next={{ request.get_full_path }}">
                {% trans "Sign in" %}
            </a>
        </p>
    {% endif %}
    {% block step_info %}{% endblock %}

    <div class="row">
        <div class="col-sm-8">
            {% block steps_menu %}
            <ul class="nav nav-pills nav-justified nav-wizard">
                <li>
                    <a href="{% url "cart:index" %}">{% trans "Cart" %}</a>
                    <div class="nav-arrow"></div>
                </li>
                <li>
                    <div class="nav-wedge"></div>
                    <a href="{% url "checkout:shipping-address" %}">{% trans "Shipping address" %}</a>
                    <div class="nav-arrow"></div>
                </li>
                <li>
                    <div class="nav-wedge"></div>
                    <a href="{% url "checkout:shipping-method" %}">{% trans "Shipping method" %}</a>
                    <div class="nav-arrow"></div>
                </li>
                <li>
                    <div class="nav-wedge"></div>
                    <a href="{% url "checkout:summary" %}">{% trans "Summary" %}</a>
                </li>
            </ul>
            {% endblock steps_menu %}

            {% block forms %}{% endblock %}
        </div>

        <div class="col-sm-4">
            {% if checkout.is_shipping_required and checkout.shipping_address.country %}
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Shipping address" %}</div>
                <div class="panel-body">
                    {% include "userprofile/snippets/address-details.html" with address=checkout.shipping_address only %}
                </div>
            </div>
            {% endif %}


            {% for delivery, delivery_cost, total_with_delivery in checkout.deliveries %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if delivery.is_shipping_required %}
                            {% blocktrans with number=forloop.counter %}Shipment #{{ number }}{% endblocktrans %}
                        {% else %}
                            {% blocktrans with number=forloop.counter %}Digital delivery #{{ number }}{% endblocktrans %}
                        {% endif %}
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-sm-6">{% trans "Item" %}</th>
                                <th class="col-sm-3 text-right">{% trans "Price" %}</th>
                                <th class="col-sm-3 text-right">{% trans "Subtotal" %}</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th colspan="2">{% trans "Total" %}</th>
                                <th class="text-right">{% gross total_with_delivery %}</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for item in delivery %}
                                <tr>
                                    <td>{{ item.product }}{% if item.quantity != 1 %} <em>×{{ item.quantity }}</em>{% endif %}</td>
                                    <td class="text-right">{% gross item.get_price_per_item %}</td>
                                    <td class="text-right">{% gross item.get_total %}</td>
                                </tr>
                            {% endfor %}
                            {% if delivery_cost.gross %}
                                <tr>
                                    <td>
                                        {% trans "Shipping" %}
                                    </td>
                                    <td class="text-right">{% gross delivery_cost %}</td>
                                    <td class="text-right">{% gross delivery_cost %}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}

            {% if voucher_form %}
                {% if voucher %}
                    <form action="{% url "checkout:remove-voucher" %}?next={{ request.get_full_path }}"
                          method="post" class="form">
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-8">
                                <strong>{{ voucher }}</strong>
                            </div>
                            <div class="col-sm-4">
                                {% bootstrap_button _("Remove") button_type="submit" button_class="btn-block btn-danger" %}
                            </div>
                        </div>
                    </form>
                {% else %}
                    <form action="{% url "checkout:add-voucher" %}?next={{ request.get_full_path }}"
                          method="post" class="form">
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-8">
                                {% bootstrap_form voucher_form show_label=False %}
                            </div>
                            <div class="col-sm-4">
                                {% bootstrap_button _("Apply") button_type="submit" button_class="btn-block btn-default" %}
                            </div>
                        </div>
                    </form>
                {% endif %}
            {% endif %}

            {% with total=checkout.get_total %}
                <div class="alert alert-success">
                    {% trans "Your total will be" %}:
                    <strong>{% gross total %}</strong>
                    {% if total.tax %}
                        ({% blocktrans with tax=total.tax|floatformat:2 currency=total.currency %}includes {{ tax }} <span class="currency">{{ currency }}</span> tax{% endblocktrans %})
                    {% endif %}
                </div>
            {% endwith %}
        </div>
    </div>
{% endblock content %}
