{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Checkout" %} — {{ block.super }}{% endblock %}

{% block outerbreadcrumb %}{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    {% for stepitem in checkout %}
    <li class="{% if stepitem == step %}active{% else %}disabled{% endif %}">
        <a href="{{ stepitem.get_absolute_url }}"><i class="glyphicon {% if stepitem %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"></i> {{ stepitem }}</a>
    </li>
    {% endfor %}
    <li class="disabled">
        <a href="#"><i class="icon-remove"></i>{% trans "Payment" %}</a>
    </li>
</ul>
{% block forms %}{% endblock %}

{% endblock content %}
