{% extends "checkout/details.html" %}
{% load i18n %}
{% load as_horizontal_form from bootstrap %}

{% block forms %}
<form method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Enter address" %}</legend>
        {{ form|as_horizontal_form }}
    </fieldset>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">
                {% trans "Save address" %}
            </button>
        </div>
    </div>
</form>
{% endblock forms %}
