{% extends "checkout/details.html" %}

{% load as_horizontal_form from bootstrap %}
{% load i18n %}
{% load gross from prices %}

{% block step_info %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Delivery group" %}
        </div>
        <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-sm-4">{% trans "Name" %}</th>
                            <th class="col-sm-2">{% trans "Price" %}</th>
                            <th class="col-sm-2">{% trans "Subtotal" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td class="col-sm-4">{{ item.product }}{% if item.quantity != 1 %} <em>×{{ item.quantity }}</em>{% endif %}</td>
                                <td class="col-sm-2">{% gross item.get_price_per_item %}</td>
                                <td class="col-sm-2">{% gross item.get_total %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    <hr>
{% endblock %}

{% block forms %}
<form method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Enter address" %}</legend>
        {{ form|as_horizontal_form }}
    </fieldset>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">
                {% trans "Send to this address" %}
            </button>
        </div>
    </div>
</form>
{% endblock forms %}
