{% extends "checkout/details.html" %}
{% load i18n %}
{% load as_horizontal_form from bootstrap %}

{% block forms %}
<form method="post" class="form-horizontal">
    {% csrf_token %}
    {{ step.forms.email|as_horizontal_form }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">
                {% trans "Save changes" %}
            </button>
            <a href="{% url "cart:index" %}" class="btn btn-link">{% trans "Cancel" %}</a>
        </div>
    </div>
</form>
{% endblock forms %}
