{% extends "checkout/address.html" %}
{% load as_horizontal_form from bootstrap %}
{% load as_vertical_form from bootstrap %}
{% load gross from prices_i18n %}
{% load i18n %}

{% block use_this_address %}
    <button type="submit" class="btn {% if entry.is_selected %}btn-primary{% else %}btn-default{% endif %} btn-lg col-sm-12">{% trans "Ship to this address" %}</button>
{% endblock %}

{% block extra_address_fields %}
    {{ delivery_form|as_vertical_form }}
{% endblock %}

{% block extra_forms %}
    {{ delivery_form|as_horizontal_form }}
{% endblock extra_forms %}

{% block form_submit %}
    <button type="submit" class="btn btn-primary">
        {% trans "Ship to this address" %}
    </button>
{% endblock %}
