{% extends "checkout/details.html" %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load bootstrap_form from bootstrap3 %}


{% block steps_menu %}
    <ul class="nav nav-pills nav-justified nav-wizard">
        <li>
            <a href="{% url "cart:index" %}">{% trans "Cart" %}</a>

            <div class="nav-arrow"></div>
        </li>
        <li>
            <div class="nav-wedge"></div>
            <a href="{% url "checkout:shipping-address" %}">{% trans "Shipping address" %}</a>

            <div class="nav-arrow"></div>
        </li>
        <li class="active">
            <div class="nav-wedge"></div>
            <a href="{% url "checkout:shipping-method" %}">{% trans "Shipping method" %}</a>

            <div class="nav-arrow"></div>
        </li>
        <li>
            <div class="nav-wedge"></div>
            <a>{% trans "Summary" %}</a>
        </li>
    </ul>
{% endblock steps_menu %}


{% block forms %}
    <form method="post" novalidate>
        {% csrf_token %}
        <h3>{% trans "Shipping method" %}</h3>

        {% bootstrap_form shipping_method_form show_label=False %}

        <p class="text-right">
            <button type="submit" class="btn btn-primary btn-lg">
                {% trans "Continue to payment" %}
            </button>
        </p>
    </form>
{% endblock %}
