{% extends "checkout/details.html" %}
{% load as_vertical_form from bootstrap %}
{% load gross from prices_i18n %}
{% load tax from prices_i18n %}
{% load i18n %}
{% load staticfiles %}

{% block forms %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% trans "Billing address" %}
                    </div>
                    <div class="panel-body">

                        <p><a href="#">{% trans "Provide billing address" %}</a></p>
                        <div id="billing_address_form">
                            {% if copy_shipping_address %}{{ copy_shipping_address }}{% endif %}
                            {{ billing_address|as_vertical_form }}
                        </div>

                    </div>
                </div>
            </div>
            {% if checkout.is_shipping_required %}
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% trans "Shipping address" %}
                        </div>
                        <div class="panel-body">
                            {% if checkout.shipping_address %}
                                <address>{% include "userprofile/snippets/address-details.html" with address=checkout.shipping_address %}</address>
                            {% else %}
                                <p class="text-danger">{% trans "No address given yet." %}</p>
                            {% endif %}
                            <p><a href="{{ checkout.shipping.get_absolute_url }}">{% trans "Edit shipping details" %}</a></p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        {% for delivery, delivery_cost, total_with_delivery in checkout.get_deliveries %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% blocktrans with number=forloop.counter %}Shipment #{{ number }}{% endblocktrans %}
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-sm-6">{% trans "Item" %}</th>
                            <th class="col-sm-3 text-right">{% trans "Price" %}</th>
                            <th class="col-sm-3 text-right">{% trans "Subtotal" %}</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="2">{% trans "Total" %}</th>
                            <th class="text-right">{% gross total_with_delivery %}</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for item in delivery %}
                            <tr>
                                <td>{{ item.product }}{% if item.quantity != 1 %} <em>×{{ item.quantity }}</em>{% endif %}</td>
                                <td class="text-right">{% gross item.get_price_per_item %}</td>
                                <td class="text-right">{% gross item.get_total %}</td>
                            </tr>
                        {% endfor %}
                        {% if delivery_cost.gross %}
                            <tr>
                                <td>
                                    {% trans "Shipping" %}
                                </td>
                                <td class="text-right">{% gross delivery_cost %}</td>
                                <td class="text-right">{% gross delivery_cost %}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        {% endfor %}

        {% with total=checkout.get_total %}
    {#        <div class="alert alert-success">#}
            <div style="height: 60px;
        margin-bottom: 10px;
        background-color: #f9f9f9;
        padding: 10px;
        border-top: 1px solid #cccccc;
        border-bottom: thin solid #e9e9e9;">
                {% trans "Your total will be" %}:
                <strong>{% gross total %}</strong>
                {% if total.tax %}
                    ({% blocktrans with tax=total.tax|floatformat:2 currency=total.currency %}includes {{ tax }} <span class="currency">{{ currency }}</span> tax{% endblocktrans %})
                {% endif %}
            </div>
        {% endwith %}

        <p>
            <button type="submit" class="btn btn-primary btn-lg pull-right">
                {% trans "Place order" %}
            </button>
        </p>
    </form>
{% endblock forms %}
