{% extends "checkout/details.html" %}
{% load gross from prices %}
{% load i18n %}

{% block forms %}
    <h3>{% trans "Billing address" %}</h3>
    <address>{% include "userprofile/snippets/address-details.html" with address=checkout.billing_address %}</address>

    <h3>{% trans "Order details" %}</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-sm-4">{% trans "Name" %}</th>
                <th class="col-sm-2">{% trans "Price" %}</th>
                <th class="col-sm-2">{% trans "Subtotal" %}</th>
                <th class="col-sm-2">{% trans "Shipping" %}</th>
                <th class="col-sm-2">{% trans "Total" %}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3" class="col-sm-8"></td>
                <th class="col-sm-2">{% trans "Total" %}:</th>
                <td class="col-sm-2">{% gross checkout.get_total %}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for group in checkout.groups %}
                {% for item in group %}
                    <tr>
                        <td class="col-sm-4">{{ item.product }}{% if item.quantity != 1 %} <em>×{{ item.quantity }}</em>{% endif %}</td>
                        <td class="col-sm-2">{% gross item.get_price_per_item %}</td>
                        <td class="col-sm-2">{% gross item.get_total %}</td>
                        {% if forloop.first %}
                            <td rowspan="{{ group|length }}" class="col-sm-2">
                                {% gross group.get_delivery_total %}
                                {% if group.email %}
                                    <p>{{ group.email }}</p>
                                {% elif group.address %}
                                    <p>
                                        {% include "userprofile/snippets/address-short.html" with address=group.address %}
                                    </p>
                                {% endif %}
                            </td>
                            <td rowspan="{{ group|length }}" class="col-sm-2">{% gross group.get_total_with_delivery %}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            {% trans "Place order" %}
        </button>
    </form>
{% endblock forms %}

{% block footer_scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/order_details.js"></script>
{% endblock footer_scripts %}
