{% extends "checkout/details.html" %}
{% load gross from prices %}
{% load tax from prices %}
{% load i18n %}

{% block forms %}
    <div class="row">
        <div class="col-sm-6">
            <h3>{% trans "Order details" %}</h3>

            {% with total=checkout.get_total %}
                <p>
                    {% trans "Order total" %}:
                    <strong>{% gross total %}</strong>
                    {% if total.tax %}
                        ({% blocktrans with tax=total.tax|floatformat:2 currency=total.currency %}includes {{ tax }} <span class="currency">{{ currency }}</span> tax{% endblocktrans %})
                    {% endif %}
                </p>
            {% endwith %}
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans "Billing address" %}
                </div>
                <div class="panel-body">
                    {% if checkout.billing_address %}
                        <address>{% include "userprofile/snippets/address-details.html" with address=checkout.billing_address %}</address>
                    {% else %}
                        <p class="text-danger">{% trans "No address given yet." %}</p>
                    {% endif %}
                    <p><a href="{{ checkout.billing.get_absolute_url }}">{% trans "Edit billing details" %}</a></p>
                </div>
            </div>
        </div>
    </div>

    {% for step in checkout %}
        {% if step.group %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% blocktrans with number=forloop.counter %}Delivery group #{{ number }}{% endblocktrans %}
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-sm-4">{% trans "Name" %}</th>
                                <th class="col-sm-2">{% trans "Price" %}</th>
                                <th class="col-sm-2">{% trans "Subtotal" %}</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="col-sm-4"></th>
                                <th class="col-sm-2">{% trans "Total" %}</th>
                                <th class="col-sm-2">{% gross step.group.get_total_with_delivery %}</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for item in step.group %}
                                <tr>
                                    <td class="col-sm-4">{{ item.product }}{% if item.quantity != 1 %} <em>×{{ item.quantity }}</em>{% endif %}</td>
                                    <td class="col-sm-2">{% gross item.get_price_per_item %}</td>
                                    <td class="col-sm-2">{% gross item.get_total %}</td>
                                </tr>
                            {% endfor %}
                            {% if step.group.get_delivery_total.gross %}
                                <tr>
                                    <td class="col-sm-4">
                                        {% trans "Shipping" %} ({{ step.group }})
                                    </td>
                                    <td class="col-sm-2">{% gross step.group.get_delivery_total %}</td>
                                    <td class="col-sm-2">{% gross step.group.get_delivery_total %}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    {% if step.group.email %}
                        <p>{% trans "Will be sent to" %} {{ step.group.email }}</p>
                    {% elif step.group.address %}
                        <p>{% trans "Will be shipped to" %} {% include "userprofile/snippets/address-short.html" with address=step.group.address %}</p>
                    {% else %}
                        <p class="text-danger">{% trans "No address given yet." %}</p>
                    {% endif %}
                    <p><a href="{{ step.get_absolute_url }}">{% trans "Edit delivery details" %}</a></p>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% with total=checkout.get_total %}
        <p>
            {% trans "Your total will be" %}:
            <strong>{% gross total %}</strong>
            {% if total.tax %}
                ({% blocktrans with tax=total.tax|floatformat:2 currency=total.currency %}includes {{ tax }} <span class="currency">{{ currency }}</span> tax{% endblocktrans %})
            {% endif %}
        </p>
    {% endwith %}

    {% if all_steps_valid %}
        <form method="post">
            {% csrf_token %}
            <p>
                <button type="submit" class="btn btn-primary btn-lg">
                    {% trans "Place order" %}
                </button>
            </p>
        </form>
    {% else %}
        <div class="alert alert-danger">
            <p>{% trans "Before continuing please make sure that you've provided all of the information required." %}</p>
        </div>
    {% endif %}
{% endblock forms %}

{% block footer_scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/order_details.js"></script>
{% endblock footer_scripts %}
