{% extends "payment/details.html" %}
{% load as_horizontal_form from bootstrap %}
{% load gross from prices %}
{% load i18n %}

{% block forms %}
{% if waiting_payment %}
<form method="post" action="{% url 'order:payment:delete' token=order.token %}">
    {% csrf_token %}
    <p>{% trans "You have already started the payment process for this order." %}</p>
    <p>{% trans "Status" %}: <span class="label label-default">{{ waiting_payment.get_status_display }}</span></p>
    {{ waiting_payment_form|as_horizontal_form }}
    <button type="submit" class="btn btn-danger">{% trans "Delete this payment" %}</button>
</form>
{% else %}
<form method="post" class="form-horizontal">
    {% csrf_token %}
    {{ form|as_horizontal_form }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">
                {% trans "Save changes" %}
            </button>
            <a href="{% url "cart:index" %}" class="btn btn-link">{% trans "Cancel" %}</a>
        </div>
    </div>
</form>
{% endif %}
{% endblock forms %}
