.breadcrumbs {
  margin-bottom: 0;
  li {
    display: inline;
    &:not(:first-of-type) {
      margin-left: $global-margin / 3;
    }
    &:not(:last-of-type):after {
      content: '/';
      display: inline-block;
      margin-left: $global-margin / 3;
    }
    a {
      color: $body-color;
    }
  }
}
