.cart {
  h3 {
    text-transform: uppercase;
    color: $skull-gray;
  }
  &__table-header {
    border-bottom: 1px solid $gray;
    padding-bottom: $global-padding / 2;
  }
  &__line {
    padding: $global-padding / 2 0;
    border-bottom: 1px solid $gray;
    &.last {
      border-bottom-color: $skull-gray;
    }
    .col-5 {
      margin-top: $global-margin / 2;
      @include media-breakpoint-down(sm) {
        text-align: right;
        p {
          margin-top: $global-margin * 2;
        }
      }
    }
    &__product {
      a {
        transition: 0.3s;
        color: $body-color;
        &:hover {
          text-decoration: none;
          color: $skull-gray;
        }
        p {
          display: inline-block;
          margin-top: $global-margin / 2;
          margin-bottom: 0;
          line-height: 1rem;
          small {
            color: $skull-gray;
          }
        }
        img {
          vertical-align: top;
          margin-right: $global-margin;
        }
      }
    }
    &__quantity {
      form {
        display: inline-block;
        input {
          width: 4rem;
          padding: $global-padding / 2;
          &:focus {
            outline: none;
          }
        }
      }
      &-error {
        display: block;
      }
      img {
        max-width: 18px;
      }
    }
    .cart-item-delete {
      cursor: pointer;
      display: inline-block;
      margin-left: $global-margin / 2;
    }
  }
  &__total {
    padding-top: $global-padding;
    margin-bottom: $global-margin;
    p {
      margin-bottom: 0;
    }
    &__subtotal {
      color: $skull-gray;
      @include media-breakpoint-up(sm) {
        padding-left: 5.75rem;
      }
    }
  }
  &__delivery-info {
    margin-top: $global-margin * 2;
    p {
      margin-bottom: 0;
    }
    &__price {
      p {
        text-align: right;
      }
    }
    &__list {
      border-top: 1px solid $gray;
      .deliveryform {
        padding: $global-padding 0;
        width: 100%;
        select {
          background-color: $white;
          height: calc(2.25rem + 2px);
          @include media-breakpoint-up(sm) {
            float: right;
          }
          &:focus {
            outline: none;
          }
        }
        label {
          margin-right: $global-margin;
          margin-top: $global-margin / 2;
        }
      }
      .col-6 {
        padding: 0;
      }
    }
  }
  &__empty {
    text-align: center;
    img {
      margin: $global-margin * 2 0;
    }
    .btn {
      margin: $global-margin * 2 0 $global-margin * 5;
    }
  }
}
