.form-control, select, input {
  color: $body-color;
  border-radius: 2px;
  border: 1px solid $gray;
  &:focus {
    color: $body-color;
    border-color: $gray;
    background-color: $form-active;
  }
}

.help-block {
  color: $red;
  font-size: 0.8rem;
}

.radio {
  margin-bottom: $global-margin / 2;
  ul {
    list-style: none;
    padding-left: 0;
  }
  input {
    display: inline-block;
    vertical-align: top;
    margin: $global-margin / 4 $global-margin / 2 0 0;
  }
  span {
    display: inline-block;
  }
  label {
    margin-right: $global-margin;
  }
}
