.navbar {
  padding: 0;
  @include media-breakpoint-down(sm) {
    img {
      max-height: 30px;
    }
  }
  &__login {
    p {
      padding: $global-padding/2 0;
      font-size: 0.8rem;
      margin-bottom: 0;
      color: $dark-gray;
      line-height: 1.9rem;
    }
    ul {
      list-style: none;
      margin-bottom: 0;
      li {
        display: inline-block;
        padding: $global-padding/2;
        line-height: 1.9rem;
        a {
          color: $dark-gray;
          font-size: 0.7rem;
          text-transform: uppercase;
        }
      }
    }
  }
  &__brand {
    background-color: $light-gray;
    padding-top: $global-padding*2;
    padding-bottom: $global-padding*2;
    @include media-breakpoint-down(sm) {
      position: fixed;
      width: 100vw;
      background-color: $white;
      z-index: 4;
      border-bottom: 1px solid $gray;
    }
    .static {
      position: static;
    }
    &__cart {
      padding-right: $global-padding;
      @include media-breakpoint-up(md) {
        line-height: 2.4rem;
      }
      a {
        color: $body-color;
        position: relative;
        z-index: 4;
        &:hover {
          text-decoration: none;
        }
        .badge {
          position: absolute;
          right: -15px;
          top: -15px;
          background-color: $orange;
          border-radius: 100px;
          color: $white;
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 2;
          &.empty {
            background-color: $dark-gray;
          }
        }
      }
    }
    &__menu-toggle {
      max-height: 22px;
      padding-right: $global-padding * 1.5;
      padding-left: $global-padding;
    }
    &__search {
      width: 100%;
      position: relative;
      .mobile-close-search {
        position: absolute;
        top: 1.9rem;
        right: 2rem;
        max-width: 22px;
        cursor: pointer;
      }
      .mobile-search-icon {
        padding-right: $global-padding;
      }
      .search-input {
        width: 100%;
        border-color: $gray;
        border-radius: 0;
        padding-left: $global-padding*2.5;
      }
      .btn {
        position: absolute;
        left: 0.5rem;
        border: 0;
        img {
          max-height: 1.5rem;
        }
      }
      @include media-breakpoint-down(sm) {
        display: block;
        left: -100vw;
        position: absolute;
        max-width: 100%;
        float: right;
        top: -2rem;
        z-index: 5;
        margin-top: 0;
        .search-input {
          padding: $global-padding * 2 $global-padding * 2 $global-padding * 2 $global-padding * 3;
          border: 0;
        }
        i {
          position: absolute;
          padding: $global-padding * 1.7 $global-padding;
        }
        .btn {
          top: 1.9rem;
          left: 1rem;
        }
      }
    }
  }
  &__menu {
    .navigation {
      ul {
        border-bottom: 1px solid $gray;
        margin-bottom: $global-margin;
        display: block;
        text-align: center;
        &.no-border {
          border-bottom: 0;
          margin-bottom: 0;
        }
        @include media-breakpoint-down(sm) {
          border-bottom: 0;
        }
        .nav-item {
          display: inline;
          + .nav-item {
            margin-left: 0;
          }
          a {
            color: $body-color;
            transition: 0.3s;
            text-transform: uppercase;
            display: inline-block;
            padding: $global-padding*1.5;
            font-size: 1.5rem;
            &:hover {
              color: rgba($body-color, 0.6);
              
            }
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      .navigation {
        position: fixed;
        left: -180px;
        top: 75px;
        height: 100vh;
        width: 180px;
        z-index: 3;
        background-color: $white;
        padding-left: $global-padding * 2;
        padding-right: $global-padding * 3;
        padding-top: $global-padding;
        transition: 0.3s ease-in-out;
        li {
          width: 100%;
          text-align: left;
        }
        &.open {
          left: 0;
          box-shadow: 1px 1px 10px 1px $gray;
        }
      }
    }
  }
}


