.home {
  text-align: center;
  color: $white;
  h1 {
    font-weight: 300;
    text-transform: uppercase;
  }
  .btn {
    margin-top: $global-margin;
  }
  &__block1 {
    div {
      background-image: url('../../images/block1.jpg');
      padding: $global-padding * 15 0 $global-padding * 12;
      background-size: cover;
    }
  }
  &__block2 {
    margin-top: $global-margin * 2;
    div {
      background-image: url('../../images/block2.jpg');
      background-size: cover;
      padding: $global-padding * 10 $global-padding $global-padding * 8;
    }
  }
  &__block3 {
    margin-top: $global-margin * 2;
    div {
      background-image: url('../../images/block3.jpg');
      background-size: cover;
      padding: $global-padding * 10 $global-padding $global-padding * 8;
    }
  }
  &__featured {
    color: $body-color;
    h2 {
      text-transform: uppercase;
      margin: $global-margin * 2 0;
    }
  }
}
