.login {
  padding-top: $global-padding * 2;
  h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: $global-margin * 2;
  }
  p, a {
    color: $gray;  
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  .btn {
    padding: $global-padding / 2 $global-padding * 3;
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
    margin: auto;
    margin-top: $global-margin;
    font-family: $font-family-sans-serif;
  }
  &__register {
    padding: $global-padding * 2;
    border-top: solid 1px $light-gray;
    border-bottom: solid 1px $light-gray;
    border-left: solid 1px $light-gray;
    @include media-breakpoint-down(sm) {
      border-bottom: 0;
      border-right: solid 1px $light-gray;
    }
    &-link {
      text-align: center;
      a {
        max-width: 12rem;
      }
      img {
        margin: $global-margin / 2 0;
        @include media-breakpoint-up(md) {
          &.checkout-pirate {
            margin-bottom: $global-margin * 3.2;
          }
        }
      }
    }
  }
  &__form {
    background: $light-gray;
    padding: $global-padding * 2 $global-padding * 5;
    a {
      color: $body-color;
      text-align: center;
      text-decoration: none;
      font-size: 0.8rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__btn-group {
    a {
      margin-top: $global-margin;
      display: block;
    }
  }
}

.forgott-password {
  h2 {
    font-size: 2rem;
    text-align: center;
    padding-top: $global-padding*2;
    font-weight: 300;
  }
  p {
    font-size: 1rem;
    text-align: center;
    padding-top: $global-padding;
  }
  fieldset {
    max-width: 60%;
    margin: auto;
    padding-bottom: $global-padding;
  }
  .btn {
    padding: $global-padding / 2 $global-padding * 3;
    display: block;
    margin: auto;
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
  }
  img {
    max-width: 15rem;
    margin: auto;
    display: block;
    padding-top: $global-padding * 2;
  }
}


