.login {
  margin-top: $global-padding * 2;
  border-radius: 4px;
  border: 1px solid $gray;
  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
  .col-md-6 {
    text-align: center;
  }
  h3 {
    text-transform: uppercase;
    margin-bottom: $global-margin * 2;
  }
  p, a {
    color: $gray;  
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  .btn {
    padding: $global-padding / 2 $global-padding * 2.5;
    font-size: 1rem;
    text-transform: uppercase;
    margin: auto;
    margin-top: $global-margin;
    font-family: $font-family-sans-serif;
  }
  &__btn-group {
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &__register {
    padding: $global-padding * 2;
    &-link {
      a {
        max-width: 12rem;
      }
      img {
        margin: $global-margin / 2 auto $global-margin * 0.9;
        display: block;
        @include media-breakpoint-up(md) {
          &.checkout-pirate {
            margin-bottom: $global-margin * 3.2;
          }
        }
      }
    }
  }
  &__form {
    background: $light-gray;
    padding: $global-padding * 2 $global-padding * 5;
    @include media-breakpoint-down(md) {
      padding: $global-padding * 2 $global-padding * 3;
    }
    a {
      color: $body-color;
      text-decoration: none;
      font-size: 0.8rem;
      &:hover {
        text-decoration: underline;
      }
    }
    .form-group {
      text-align: left;
    }
  }
  &__btn-group {
    a {
      margin-top: $global-margin;
      display: block;
    }
  }
}

.forgott-password {
  h2 {
    font-size: 2rem;
    padding-top: $global-padding*2;
    font-weight: 300;
  }
  p {
    font-size: 1rem;
    padding-top: $global-padding;
  }
  fieldset {
    max-width: 60%;
    margin: auto;
    padding-bottom: $global-padding;
    @include media-breakpoint-down(sm) {
      max-width: 80%;
    }
  }
  .login__btn-group {
    .btn {
      padding: $global-padding / 2 $global-padding * 3;
      margin: auto;
      text-transform: uppercase;
      font-family: $font-family-sans-serif;
    }
    img {
      padding-top: $global-padding * 2;
    }
  }
}
