.order-details {
  &__header {
    margin-bottom: $global-margin * 2;
  }
  &__addresses {
    margin-top: $global-margin * 2;
  }
  &__table-header {
    color: $gray;
    border-bottom: 1px solid $light-gray;
    padding-bottom: $global-padding / 2;
    margin-top: $global-margin * 2;
    .col-md-3 {
      text-align: right;
    }
  }
  &__table {
    @include media-breakpoint-down(sm) {
      margin-top: $global-margin * 3;
    } 
    span {
      color: $gray;
    }
    a {
      img {
        margin-right: $global-margin;
      }
      p {
        color: $body-color;
      }
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    .col-xs-3 {
      padding: 0;
    }
    .row {
      padding: $global-padding / 2 0;
      &:not(:last-of-type) {
        border-bottom: 1px solid $light-gray;
      }      
    }
  }
}
