.pagination {
  list-style: none;
  display: block;
  text-align: center;
  li {
    display: inline-block;
    font-size: $small-font-size;
    a {
      color: $body-color;
      padding: $global-padding / 2 $global-padding;
      border-bottom: 1px solid $white;
      &:hover {
        text-decoration: none;
        background-color: $light-gray;
      }
    }
    &.active {
      a {
        background-color: $gray;
        color: $white;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
