.product {
  a {
    color: $dark-gray;
    text-decoration: underline;
  }
  &__info {
    h3 {
      text-transform: uppercase;
    }
    &__name {
      font-weight: 300;
    }
    &__price {
      color: $skull-gray;
      &__undiscounted {
        text-decoration: line-through;
      }
      margin-bottom: $global-margin;
    }
    label {
      margin-bottom: $global-margin;
    }
    &__quantity {
      width: 17%;
      float: left;
      input {
        height: 54px;
      }
    }
    &__button {
      width: 80%;
      float: right;
      margin-top: $global-margin * 2.5;
      button {
        min-width: 100%;
      }
    }
    td {
      padding-right: $global-padding;
    }
    &__form-error {
      margin-top: -$global-padding / 2;
      margin-bottom: $global-margin;
    }
  }
  &__variant-picker {
    margin-bottom: $global-margin;
    &__label {
      margin-bottom: $global-margin;
    }
    label {
      margin-bottom: 0;
    }
    .btn-group {
      display: block;
      .btn {
        margin-bottom: $global-margin / 4;
      }
    }
  }
  &__gallery {
    .carousel-control {
      &-prev {
        img {
          transform: rotate(180deg);
        }
      }
    }
    .carousel-item {
      flex-flow: column;
    }
    .carousel-indicators {
      top: 100%;
      width: auto;
      left: 0;
      margin-left: 0;
      li {
        display: inline;
        text-indent: 0;
        margin: 0 1.5rem;
        &.active {
          img {
            opacity: 0.5;  
          }
        }
      }
    }
  }
}
