.product {
  a {
    color: $dark-gray;
    text-decoration: underline;
  }
  &__info {
    &__name {
      font-weight: 900;
      @include media-breakpoint-up(md) {
        margin-bottom: $global-margin;
      }
    }
    &__price {
      &__undiscounted {
        color: $gray;
        text-decoration: line-through;
      }
      margin-bottom: $global-margin * 2;
    }
  }
  &__gallery {
    .carousel-control {
      &.right, &.left {
        background-image: none;
      }
      &.left {
        img {
          transform: rotate(180deg);
        }
      }
    }
    .carousel-indicators {
      top: 100%;
      width: auto;
      left: 0;
      margin-left: 0;
      li {
        display: inline;
        &.active {
          margin: 1px;
          img {
            opacity: 0.5;  
          }
        }
      }
    }
  }
  &__variant-picker {
    .radio-inline {
      margin-right: $global-margin;
      span {
        margin-left: $global-margin / 2;
      }
    }
  }
}
