.product {
  a {
    color: $dark-gray;
    text-decoration: underline;
  }
  &__info {
    h3 {
      text-transform: uppercase;
    }
    &__name {
      font-weight: 300;
    }
    &__price {
      color: $skull-gray;
      &__undiscounted {
        text-decoration: line-through;
      }
      margin-bottom: $global-margin;
    }
    label {
      margin-bottom: $global-margin;
    }
    &__quantity {
      width: 17%;
      float: left;
      input {
        height: 54px;
      }
    }
    &__button {
      width: 80%;
      float: left;
      margin-top: $global-margin * 2.5;
      button {
        min-width: 100%;
      }
    }
    td {
      padding-right: $global-padding;
    }
    &__form-error {
      margin-top: -$global-padding / 2;
      margin-bottom: $global-margin;
    }
    &__availability {
      height: 8px;
      -moz-border-radius:4px;
      -webkit-border-radius: 4px;
      width: 8px;
      display: inline-flex;
      position: relative;
      bottom: 3px;
      &.available {
        background-color: #158037;
      }
      &.few {
        background-color: #b3a32f;
      }
      &.bla {
        background-color: black;
      }
      &.one {
        background-color: #f47f10;
      }
      &.out {
        background-color: #c06;

      }
    }
  }
  &__variant-picker {
    margin-bottom: $global-margin;
    &__label {
      margin-bottom: $global-margin;
    }
    label {
      margin-bottom: 0;
    }
    .btn-group {
      display: block;
      .btn {
        margin-bottom: $global-margin / 4;
      }
    }
  }
  &__gallery {
    .carousel-control {
      &-prev {
        img {
          transform: rotate(180deg);
        }
      }
    }
    .carousel-item {
      flex-flow: column;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .carousel-indicators {
      top: 100%;
      width: auto;
      left: 0;
      display: block;
      text-align: center;
      li {
        display: inline;
        text-indent: 0;
        margin: 0;
        min-width: 60px;
        &.active {
          img {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
