.search_results {
	.no-results {
		max-width: 30rem;
		margin: auto;
		h2 {
			text-align: center;
			padding-top: $global-padding;
			padding-bottom: $global-padding/2;
			font-size: 2.5rem;
			@include media-breakpoint-down(sm) {
        		font-size: 1.5rem
      		}
		}
		img {
			width: 100%;
			padding-bottom: $global-padding*2;
		}
		p {
			text-align: center;
			margin-bottom: 0;
			font-size: 1.5rem;
			@include media-breakpoint-down(sm) {
        		font-size: 1rem
      		}
		}
		
	}
}