.userprofile {
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  &__user {
    h2 {
      margin-right: $global-margin;
      margin-bottom: $global-margin * 2;
    }
    img {
      margin-top: $global-margin / 2;
    }
    
  }
  &__nav {
    margin: $global-margin * 2 0 $global-margin;
    .nav {
      display: block;
      text-align: center;
      border-bottom: solid 1px $gray;
      @include media-breakpoint-down(xs) {
        text-align: center;
        padding-right: 0;
        padding-bottom: $global-padding / 2;
      }
    }
    .nav-item {
      display: inline;
      @include media-breakpoint-down(xs) {
        display: inline-block;
        float: none;
      }
      & + .nav-item {
        margin-left: 0;
      }
      .nav-link {
        padding: $global-padding / 2 $global-padding * 2;
        margin-top: $global-margin / 2;
        display: inline-block;
        transition: 0.3s;
        border: 0;
        text-transform: uppercase;
        @include media-breakpoint-down(sm) {
          padding: $global-padding / 2 $global-padding;
        }
        h3 {
          color: $skull-gray;
          @include media-breakpoint-down(sm) {
            font-size: 1rem;
          }
        }
        &:hover, &.active {
          h3 {
            border: 0;
            color: $body-color;
          }
        }
      }
    }
  }
  &__orders {
    &-empty {
      margin-top: $global-margin * 2;
    }
    small {
      text-decoration: underline;
      color: $body-color;
    }
    &__row {
      border-bottom: 1px solid $gray;
      padding: $global-padding 0;
      font-size: 0.9rem;
      a {
        color: $body-color;
        text-decoration: underline;
        padding-right: $global-padding / 2;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &-header {
      border-bottom: 1px solid $gray;
      padding-bottom: $global-padding/2;
      h3 {
        color: $skull-gray;
        font-size: 0.8rem;
        text-transform: uppercase;
      }
    }
  }
  &__password {
    margin-top: $global-margin * 2;
    .btn {
      margin-top: $global-margin;
      float: right;
      padding: $global-padding / 2 $global-padding * 2;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }
  &__addresses {
    display: table;
    min-width: 100%;
    border-spacing: $global-margin;
    margin: 0;
    .card-deck {
      .card {
        width: 100%;
        border-radius: 3px;
        margin-bottom: $global-margin * 2;
        @include transition(background, 0.3s)
        &:hover {
          background: $light-gray;
        }
        @include media-breakpoint-down(sm) {
          width: 100%;
          display: inline-block;
          &:first-of-type {
            margin-bottom: $global-margin;
          }
        }
        p {
          margin-bottom: 0;
        }
        ul.icons {
          padding-left: 0;
          padding-top: $global-padding;
          list-style: none;
          margin-bottom: 0;
          li {
            width: 49%;
            display: inline-block;
            a {
              line-height: 18px;
              img {
                max-width: 18px;
                cursor: pointer;
              }
            }
          }
        }
        .none {
          display: none;
        }
        .address-delete {
          .cancel {
            line-height: 2rem;
            padding-right: $global-padding;
            cursor: pointer;
            color: $blue;
            text-decoration: none;
            &:hover {
              color: $blue;
              text-decoration: underline;
            }
          }
          button {
            text-transform: uppercase;
          }
        }
      }
    }
  }
  &__address-edit {
    h1 {
      text-align: center;
      font-size: 1.3em;
      text-transform: uppercase;
      padding-bottom: $global-padding;
    }
    .btn {
      padding: $global-padding / 2 $global-padding * 2;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }
}
