.userprofile {
  &__user {
    h2 {
      margin-right: $global-margin;
      margin-bottom: $global-margin * 2;
    }
    img {
      margin-top: $global-margin / 2;
    }
    
  }
  &__nav {
    margin: $global-margin * 2 0 $global-margin * 2;
    .nav {
      border-bottom: 0;
      background-color: $light-gray;
    }
    .nav-item {
      & + .nav-item {
        margin-left: 0;
      }
      .nav-link {
        padding: $global-padding $global-padding * 2;
        border: 0;
        border-radius: 0;
        transition: 0.3s;
        &:hover, &.active {
          background-color: $white;
        }
        h3 {
          color: $body-color;
        }
      }
    }
  }
  &__address-empty {
    margin: $global-margin 0 $global-margin * 2;
  }
  &__address-row {
    &__item {
      border: 1px solid $light-gray;
      padding: $global-padding;
      img {
        position: absolute;
        top: 1rem;
        right: 2rem;
      }
    }
  }
  .primary {
    margin-top: $global-margin;
  }
  &__orders {
    small {
      text-decoration: underline;
      color: $body-color;
    }
    &__row {
      border-bottom: 1px solid $light-gray;
      padding: $global-padding 0;
    }
  }
  &__address-edit {
    &__form {
      margin-bottom: $global-margin * 2;
    }
  }
}

.account-edit {
  &__tittle {
    margin: $global-margin * 2 0;
  }
  .btn {
    margin-top: $global-margin;
  }
}

.modal-address-delete {
  .modal-header {
    padding-top: $global-padding * 2;
    border-bottom: 0;
  }
  .modal-footer {
    border-top: 0;
    padding-bottom: $global-padding;
    button {
      margin-left: $global-margin * 2;
    }
  }
}
