.userprofile {
  &__user {
    h2 {
      margin-right: $global-margin;
      margin-bottom: $global-margin * 2;
    }
    img {
      margin-top: $global-margin / 2;
    }
    
  }
  &__nav {
    margin: $global-margin * 2 0 $global-margin * 2;
    .nav {
      border-bottom: 0;
      background-color: $light-gray;
    }
    .nav-item {
      & + .nav-item {
        margin-left: 0;
      }
      .nav-link {
        padding: $global-padding $global-padding * 2;
        border: 0;
        border-radius: 0;
        transition: 0.3s;
        &:hover, &.active {
          background-color: $white;
        }
        h3 {
          color: $body-color;
        }
      }
    }
  }
  &__orders {
    small {
      text-decoration: underline;
      color: $body-color;
    }
    &__row {
      border-bottom: 1px solid $light-gray;
      padding: $global-padding 0;
    }
  }
  &__password {
    h1 {
      margin-bottom: $global-margin * 2;
    }
    .btn {
      margin-top: $global-margin;
    }
  }
  &__addresses {
    display: table;
    min-width: 100%;
    border-spacing: $global-margin;
    margin: 0;
    .card-deck {
      display: table-row;
      .card {
        width: 30%;
        border-radius: 0;
        img {
          position: absolute;
          top: 1rem;
          right: 1rem;
        }
      }
    }
  }
}

.modal-address-delete {
  .modal-header {
    padding-top: $global-padding * 2;
    border-bottom: 0;
  }
  .modal-footer {
    border-top: 0;
    padding-bottom: $global-padding;
    button {
      margin-left: $global-margin * 2;
    }
  }
}
