{% extends "dashboard/modal_confirm_delete.html" %}

{% load i18n %}
{% load prices_i18n %}

{% block title %}
{% trans "Error" context "Dashboard error" %}
{% endblock %}

{% block content %}
<div class="col s12 center-align">
  <p>
    {% blocktrans trimmed context "Modal delete product class with products text" %}
      This type is base for created products. Cannot remove it.
    {% endblocktrans %}
  </p>
</div>
{% endblock content %}

{% block footer %}
<a href="#!" class="modal-action modal-close btn-flat">
  {% trans "Cancel" context "Dashboard cancel action" %}
</a>
{% endblock footer %}
