name: Linters

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "**.py"
      - Dockerfile
      - "saleor/**"
      - pyproject.toml
      - poetry.lock
  push:
    branches:
      - main
      - ci/*
    paths:
      - "**.py"
      - Dockerfile
      - "saleor/**"
      - pyproject.toml
      - poetry.lock

# Will group same workflow in the PR. Once new commit is pushed, old workflow will be cancelled
# This is saving resources and prevents unnecessary queues when fresh jobs wait for stale ones
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  linters:
    runs-on: ubuntu-latest
    container: python:3.12
    name: Run linters

    steps:
      - uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          apt-get install -y libpq-dev

      - name: Install and configure poetry
        run: |
          pip install poetry==2.0.1

      - name: Cache the venv
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        run: |
          poetry env use python3.12
          poetry sync
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'

      - name: Add Python Virtual Environment to PATH
        run: |
          # Note: requires `poetry env use` to be ran, otherwise poetry
          # may not be able to find which virtual environment is in use.
          # Ticket: https://github.com/python-poetry/poetry/issues/7190
          echo "$(poetry env info -p)"/bin >> $GITHUB_PATH

      # Run linters and Django related checks
      # `git config` command is a workaround for https://github.com/actions/runner-images/issues/6775
      - name: Run Linters and Checks
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          pre-commit run --all
        if: ${{ always() }}
