name: Test migrations compatibility

on:
  pull_request:
    branches:
      - "3.*"
      - "main"
    paths:
      - "**/migrations/**"

env:
  DATABASE_URL: "postgres://saleor:saleor@postgres:5432/saleor"
  SECRET_KEY: ci-test

jobs:
  build:
    runs-on: ubuntu-latest
    container: python:3.12

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: saleor
          POSTGRES_USER: saleor
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v5

      - name: Install system dependencies
        run: |
          apt-get install -y libpq-dev

      - uses: astral-sh/setup-uv@4959332f0f014c5280e7eac8b70c90cb574c9f9b # v6.0.0
        with:
          enable-cache: true

      # Sync dependencies if cache is not hit or there is a partial key match
      - name: Install dependencies
        run: |
          uv sync --locked

      - name: Migrate
        run: |
          export DJANGO_SETTINGS_MODULE=saleor.tests.settings
          uv run python manage.py migrate

      - name: Checkout base
        uses: actions/checkout@v5
        with:
          ref: ${{ github['base_ref'] }}

      # Sync dependencies to ensure consistency with base branch
      - name: Synchronize dependencies
        run: |
          uv sync --locked

      - name: Run tests
        run: |
          export PYTEST_DB_URL=$DATABASE_URL
          uv run pytest -n 0 --reuse-db
