name: Tests & Linters

on:
  pull_request:
    types: [ opened, synchronize, reopened ]
    paths:
      - "**.py"
      - Dockerfile
      - "saleor/**"
      - .github/workflows/tests-and-linters.yml
      - pyproject.toml
      - uv.lock
  push:
    branches:
      - main
      - ci/*
    paths:
      - "**.py"
      - Dockerfile
      - "saleor/**"
      - .github/workflows/tests-and-linters.yml
      - pyproject.toml
      - uv.lock

env:
  BENCH_PATH: ./queries-results.json
  DATABASE_URL: "postgres://saleor:saleor@postgres:5432/saleor"
  SECRET_KEY: ci-test

# Will group same workflow in the PR. Once new commit is pushed, old workflow will be cancelled
# This is saving resources and prevents unnecessary queues when fresh jobs wait for stale ones
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    container: python:3.12
    name: Run unit tests

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: saleor
          POSTGRES_USER: saleor
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v5

      - name: Install system dependencies
        run: |
          apt-get install -y libpq-dev

      - uses: astral-sh/setup-uv@4959332f0f014c5280e7eac8b70c90cb574c9f9b # v6.0.0
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --locked

      - name: Run unit tests
        env:
          COVERAGE_CORE: sysmon
        run: |
          uv run pytest \
            -m "not e2e" \
            --cov \
            --cov-report= \
            --junitxml=junit/test-results.xml \
            -o junit_family=legacy \
            --django-db-bench=${{ env.BENCH_PATH }} \
            -n logical

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }} # Run even if tests fail
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      # Publish coverage and test results
      - uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: junit/test-results.xml
        if: ${{ always() }}

      # Publish detected differences as comment
      - uses: NyanKiyoshi/pytest-django-queries-ci-tools@v1
        with:
          query_raw_dump_path: ${{ env.BENCH_PATH }}
          diff_endpoint: "https://dtab784j47g1o.cloudfront.net/default/saleor-db-queries-bot-diff"
          diff_results_base_url: "https://dtab784j47g1o.cloudfront.net"
        if: github.event_name == 'pull_request' && github.repository == 'saleor/saleor'

      # Save results for future comparison against pull requests
      - uses: NyanKiyoshi/pytest-django-queries-ci-tools@v1
        with:
          query_raw_dump_path: ${{ env.BENCH_PATH }}
          upload_endpoint: ${{ secrets.QUERIES_UPLOAD_ENDPOINT_URL }}
          upload_secret_key: ${{ secrets.QUERIES_UPLOAD_SECRET }}
        if: github.event_name == 'push' && github.repository == 'saleor/saleor'

  linters:
    runs-on: ubuntu-latest
    container: python:3.12
    name: Run linters

    steps:
      - uses: actions/checkout@v5

      - name: Install system dependencies
        run: |
          apt-get install -y libpq-dev

      - uses: astral-sh/setup-uv@4959332f0f014c5280e7eac8b70c90cb574c9f9b # v6.0.0
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --locked

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('**/.pre-commit-config.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pre-commit-

      # Run linters and Django related checks
      # `git config` command is a workaround for https://github.com/actions/runner-images/issues/6775
      - name: Run Linters and Checks
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          uv run pre-commit run --all --show-diff-on-failure
        if: ${{ always() }}
