{% extends "checkout/details.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block steps_menu %}
    <div class="nav nav-pills nav-justified nav-wizard">
        <a href="{% url "cart:index" %}">
              {% trans "Cart" %}
              <div class="nav-arrow"></div>
        </a>
        <a class="active" href="{% url "checkout:shipping-address" %}">
            <div class="nav-wedge"></div>
            {% trans "Shipping address" %}
            <div class="nav-arrow"></div>
        </a>
        <a>
            <div class="nav-wedge"></div>
            {% trans "Shipping method" %}
            <div class="nav-arrow"></div>
        </a>
        <a>
            <div class="nav-wedge"></div>
            {% trans "Summary" %}
        </a>
    </div>
{% endblock steps_menu %}


{% block forms %}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="page-header">
            <h3>{% trans "Shipping address" %}</h3>
        </div>
        {% if request.user.is_authenticated %}
            {% include "checkout/snippets/addresses-form.html" with addresses_form=user_form addresses=additional_addresses address_form=address_form only %}
        {% else %}
            {% bootstrap_form user_form %}
            {% include "userprofile/snippets/address-form.html" with address_form=address_form only %}
        {% endif %}

        <p class="text-right">
            <button type="submit" class="btn btn-primary btn-lg">
                {% trans "Continue to shipping method" %}
            </button>
        </p>
    </form>
{% endblock %}
