{% extends "base.html" %}
{% load as_horizontal_form from bootstrap %}
{% load i18n %}

{% block title %}{{ block.super }} » {% trans "Login" %}{% endblock %}

{% block content %}
<form method="post" action="{% url 'registration:login' %}" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans 'Log in' %}</legend>
        {{ form|as_horizontal_form }}
        <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button class="btn btn-primary">
                {% trans "Log in" %}
            </button>
        </div>
    </div>
</form>
<ul>
    <li>
        <a href="{{ facebook_login_url }}">Login via Facebook</a>
    </li>
    <li>
        <a href="{{ google_login_url }}">Login via Google</a>
    </li>
    <li><a href="{% url 'registration:request_email_confirmation' %}">Create an account or reset password</a></li>
</ul>
{% endblock %}
