{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="post" action="{% url 'registration:login' %}">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<div>
    OR
</div>

<div>
    <a href="{{ facebook_login_url }}">Login via Facebook</a>
</div>

<div>
    OR
</div>

<div>
    <a href="{{ google_login_url }}">Login via Google</a>
</div>

<div>
    OR
</div>

<p>
    <a href="{% url 'registration:register' %}">Create an account or reset password</a>
</p>
{% endblock %}
