{% extends "base.html" %}
{% block title %}Set password{% endblock %}
{% block content %}
    <div>
        <form method='post' action='.'>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Set password">
        </form>
        <form method='post' action='.'>
            {% csrf_token %}
            <input type="hidden" name="nopassword">
            <input type="submit" value="I don't want to set password now">
        </form>
    </div>
{% endblock %}
