{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{{ block.super }} » {% trans "Set password" %}{% endblock %}

{% block content %}
<form method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans 'Set password' %}</legend>
        {{ form|as_bootstrap }}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans 'Set password' %}</button>
    </div>
</form>
<form method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">{% trans "I don't want a password" %}</button>
    </div>
</form>
{% endblock %}
