{% extends "order/payment/details.html" %}
{% load bootstrap_form from bootstrap4 %}
{% load i18n %}
{% load l10n %}

{% block forms %}
<form method="POST" id="payment-form" class="form-horizontal"{% if form.action %} action="{{ form.action }}"{% endif %} novalidate>
  {% csrf_token %}
  {% if form.errors or form.non_field_errors %}
    <blockquote>
      {% for non_field_error in form.non_field_errors %}
        {{ non_field_error }}
      {% endfor %}
      {% for error in form.errors %}
        {{ error }}
      {% endfor %}
    </blockquote>
  {% endif %}
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <div class="bt-drop-in-wrapper">
          <div id="bt-dropin"></div>
        </div>

      <input type="hidden" id="nonce" name="payment_method_nonce"/>
      <input type="hidden" id="amount" name="amount" value="{% localize off %}{{ payment.total }}{% endlocalize %}"/>
      <button type="submit" class="btn btn-primary">
        {% trans "Make payment" context "Payment form primary action" %}
      </button>
    </div>
  </div>
</form>

<script src="https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js"></script>
<script>
  var form = document.querySelector('#payment-form');
  var client_token = '{{ client_token }}';
  braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin',
    paypal: {
      flow: 'vault'
    }
  }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();
      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }
        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
</script>
{% endblock forms %}
