{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Payment" context "Payment form page title" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
  {% with order=payment.order %}
    {% if order.user == user %}
      <ul class="breadcrumbs list-unstyled">
        <li>
          <a href="{% url 'home'%}">
            {% trans "Home" context "Main navigation item" %}
          </a>
        </li>
        <li>
          <a href="{% url "account:details" %}">
            {% trans "Your account" context "Main navigation item" %}
          </a>
        </li>
        <li>
          <a href="{{ order.get_absolute_url }}">
            {% blocktrans trimmed context "Order details breadcrumb" %}
              Order {{ order }}
            {% endblocktrans %}
          </a>
        </li>
        <li>
          {% trans "Payment" context "Payment form breadcrumb" %}
        </li>
      </ul>
    {% endif %}
  {% endwith %}
{% endblock breadcrumb %}

{% block content %}
  <div class="row checkout">
    <div class="col-lg-1"></div>
    <div class="col-md-6">
      <h1>{% trans "Payment" context "Payment form title" %}</h1>
      {% block forms %}{% endblock %}
    </div>
  </div>
  <h2 class="order-details__header">
    {% trans "Order details" context "Header of the order summary table" %}
  </h2>
  {% include "order/_ordered_items_table.html" %}
{% endblock content %}
