{% extends "order/payment/details.html" %}
{% load bootstrap_form from bootstrap4 %}
{% load i18n %}

{% block forms %}
<div class="checkout__payment-form">
  <form method="POST" id="payment-form" class="form-horizontal"{% if form.action %} action="{{ form.action }}"{% endif %} novalidate>
    {% csrf_token %}
    {% if form.errors or form.non_field_errors %}
      <blockquote>
        {% for non_field_error in form.non_field_errors %}
          {{ non_field_error }}
        {% endfor %}
      </blockquote>
    {% endif %}
    {{ form.media }}
    {% for choice in form.charge_status %}
      <div class="radio">
        <label>
          <div class="card card-default">
            <div class="card-body">
              <strong>
                {{choice}}
              </strong>
            </div>
          </div>
        </label>
      </div>
    {% endfor %}
    {% if form.errors %}
      <a class="btn" href="{% url "order:details" token=payment.order.token %}">
        {% trans "Change payment" context "Payment form (Stripe) secondary action" %}
      </a>
    {% endif %}
    {% if not form.autosubmit %}
      <button type="submit" class="btn btn-primary">
        {% trans "Make payment" context "Payment form primary action" %}
      </button>
    {% endif %}
  </form>
</div>
{% endblock forms %}
