{% extends "order/payment/details.html" %}
{% load bootstrap_form from bootstrap4 %}
{% load i18n %}

{% block forms %}
<form method="{{ form.method }}" class="form-horizontal"{% if form.action %} action="{{ form.action }}"{% endif %} novalidate>
  {% csrf_token %}
  {{ form.media }}
  {% bootstrap_form form layout='horizontal' %}
  {% if form.errors %}
  <a class="btn" href="{% url "order:details" token=payment.order.token %}">
    {% trans "Change payment method" context "Payment form (Stripe) secondary action" %}
  </a>
  {% endif %}
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <button type="submit" class="btn primary">
        {% trans "Save changes" context "Payment form primary action" %}
      </button>
    </div>
  </div>
</form>
{% endblock forms %}
