@mixin form {
  .select-wrapper {
    &.invalid {
      input {
        @extend .invalid;
      }
    }
  }

  label {
    @extend .active;
    transition: none;
  }

  input[type=radio] {
    @extend .with-gap;
  }

  select[multiple] {
    display: initial;
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  p.help-block {
    margin: -7px 0 15px;
    font-size: $label-font-size;
    clear: both;
  }

  .input-field {
    margin-top: 0;
    padding-top: 20px;
    label, label.active {
      font-size: 12px;
      top: 0;
      transform: none;
    }
  }

  %input-lg {
    font-size: 2.2rem;
    transition: none;
  }

  &#form-product {
    #id_name {
      @extend %input-lg;
    }

    #id_price {
      @extend %input-lg;
    }
  }

  &#form-variant {
    #id_sku {
      @extend %input-lg;
    }

    #id_price_override {
      @extend %input-lg;
    }
  }

  &#form-stock {
    #id_quantity {
      @extend %input-lg;
    }
  }

  &#form-attributes {
    #id_display {
      @extend %input-lg;
    }
  }

  &#form-category {
    #id_name {
      @extend %input-lg;
    }
  }

  &#form-sales {
    #id_name {
      @extend %input-lg;
    }
  }

  &#form-vouchers {
    #id_code {
      @extend %input-lg;
    }
  }

  .sizedimage-mod {
    margin-bottom: $gutter-width/2;

    & ~ label {
      display: none;
    }
  }

  .file-field {
    label {
      display: none;
    }
  }

  .btn--inline {
    display: inline-block;
    margin-top: 1.4rem;
  }
}

.input-with-suffix {
  display: table-row;
  input {
    display: table-cell;
  }
  .input-text-suffix {
    display: table-cell;
    @extend .grey-text;
    line-height: 45px;
    padding-left: 10px;
    text-align: right;
  }
  @media (max-width: $small-screen) {
    input {
      width: 80%;
    }
    .input-text-suffix {
      width: 20%;
    }
  }
}

.main form, .modal form {
  @include form;
}
