@mixin list {
  overflow: visible;

  & &-item.avatar {
    min-height: 64px;

    @media (max-width: $small-screen) {
      margin-right: -$gutter-width/2;
    }

    &-delete {
      background: white;
      font-size: $font-size-action-icon;

      @media (min-width: $medium-screen-up) {
        padding-left: 50px;
        display: none;
      }
    }

    @media (min-width: $medium-screen-up) {
      &:hover {
        .product-list-item-delete {
          display: block;
        }
      }
    }
  }

  & &-item {
    border: none;
    padding-bottom: 0;
    position: relative;

    &-name {
      display: block;
      overflow: hidden;
      padding-right: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;

      &--single {
        margin-bottom: 10px;
      }
    }

    &-price, &-desc, &-name--single {
      border-bottom: 1px solid $collection-border-color;
      margin: 0;
      padding-bottom: 10px;
    }

    &-desc {
      @extend .grey-text;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-prefix {
      color: initial;
    }

    &-author {
      color: map_get($grey, base);
    }

    &-icon {
      opacity: .6;
      position: absolute;
      right: 0;
      top: 0;
    }

    &--spaced {
      margin-bottom: 5px;
    }
  }
  &-item:last-child &-item-price, &-item:last-child &-item-desc, &-item:last-child &-item-name--single {
    border: none;
  }

  .card & {
    margin-bottom: 0;

    &-item:last-child {
      .list-item-name {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}

.list {
  @include list;
}
