{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load static %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "dashboard:shipping-zone-delete" shipping_zone.pk %}
{% endblock %}

{% block title %}
{% blocktrans context "Dashboard confirmation modal" %}
Remove shipping zone {{ shipping_zone }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans context "Dashboard confirmation modal" %}
      Are you sure you want to remove shipping zone <strong>{{ shipping_zone}}</strong>?
    {% endblocktrans %}
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
