{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load prices_i18n %}
{% load staticfiles %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url "dashboard:shipping-method-delete" shipping_method.pk %}
{% endblock %}

{% block title %}
{% blocktrans context "Dashboard confirmation modal" %}
Remove shipping method {{ shipping_method }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans context "Dashboard confirmation modal" %}
      Are you sure you want to remove shipping method <strong>{{ shipping_method}}</strong>?
    {% endblocktrans %}
  </div>
{% endblock %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
